home_snapshot/ubuntu/Workflows-n8n/Xus Outreach Engine - V1.0 (1).json
{
  "name": "Xus Outreach Engine - V1.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "dc59087e-6185-4ba8-bd38-ca795bc405e0",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2720,
        -32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send_outreach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0cc7baef-0b52-46b9-a5f3-ceccb0483965"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_outreach"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26932309-f512-4d72-ae7c-6f4796cf8628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_stats"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "outreach_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82dc7546-5386-4400-b958-d84654b0273b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outreach_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "preview_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1bafb57-9563-4237-b538-73ce225a8c91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "preview_email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "clean_duplicates",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7f4d61ce-a9cd-4c1e-b4be-f6a585a7dd14"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clean_duplicates"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "425e00b1-ded5-46f2-9a51-1804c852d268",
      "name": "🔀 Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1696,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "8a17f5b8-3b5b-4dfa-9d94-9e21518efe36",
      "name": "📋 Read for Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        -704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst total = leads.length;\nconst withEmail = leads.filter(l => l.email && l.email !== 'N/A').length;\nconst contacted = leads.filter(l => String(l.contactado).toUpperCase() === 'TRUE').length;\nconst replied = leads.filter(l => String(l.respondio).toUpperCase() === 'TRUE').length;\nconst byTier = {};\nleads.forEach(l => { const t = l.tier || 'Sin tier'; if (!byTier[t]) byTier[t] = { total: 0, contacted: 0, withEmail: 0 }; byTier[t].total++; if (String(l.contactado).toUpperCase() === 'TRUE') byTier[t].contacted++; if (l.email && l.email !== 'N/A') byTier[t].withEmail++; });\nconst byNiche = {};\nleads.forEach(l => { const n = l.niche || 'Sin nicho'; byNiche[n] = (byNiche[n] || 0) + 1; });\nconst tierLines = Object.entries(byTier).sort(([a],[b]) => a.localeCompare(b)).map(([t,d]) => `  • ${t}: ${d.total} total, ${d.withEmail} con email, ${d.contacted} contactados`).join('\\n');\nconst nicheLines = Object.entries(byNiche).sort(([,a],[,b]) => b - a).slice(0, 8).map(([n,c]) => `  • ${n}: ${c}`).join('\\n');\nconst pendientes = withEmail - contacted;\nconst text = `📊 *Estadísticas de Leads*\\n\\n📋 *General:*\\n• Total: ${total}\\n• Con email: ${withEmail}\\n• Contactados: ${contacted}\\n• Respondieron: ${replied}\\n• *Pendientes: ${pendientes}*\\n\\n📈 *Por Tier:*\\n${tierLines}\\n\\n🏥 *Por Nicho (top):*\\n${nicheLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `${total} leads, ${withEmail} con email, ${contacted} contactados, ${pendientes} pendientes` }}];"
      },
      "id": "ce674f67-0645-455f-9813-e2d58758e4be",
      "name": "📊 Calc Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "2de4ad88-4119-428d-bf76-85e50a23f926",
      "name": "📋 Read for Preview",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1472,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst candidate = leads.find(l => { const email = l.email || ''; return email.includes('@') && email !== 'N/A' && String(l.contactado).toUpperCase() !== 'TRUE'; });\nif (!candidate) { return [{ json: { textResponse: '📋 *Preview*\\n\\nNo hay leads pendientes para mostrar.', toolResponse: 'Sin leads pendientes' }}]; }\nconst reviews = parseInt(candidate.reviews_count) || 0;\nconst rating = parseFloat(candidate.rating) || 0;\nconst hasWeb = candidate.website && candidate.website.length > 10 && candidate.website !== 'N/A';\nconst hasIg = candidate.instagram && candidate.instagram.length > 5 && candidate.instagram !== 'N/A';\nlet angle = 'general';\nif (reviews >= 50) angle = 'volume';\nelse if (hasIg) angle = 'social';\nelse if (hasWeb) angle = 'web';\nconst text = `📋 *Preview — Próximo Lead*\\n\\n🏥 *${candidate.business_name}*\\n📍 ${candidate.city} | ${candidate.niche}\\n📧 ${candidate.email}\\n⭐ ${rating}★ — ${reviews} reseñas\\n🏷️ ${candidate.tier} | Score: ${candidate.score}\\n🌐 Web: ${hasWeb ? '✅' : '❌'} | IG: ${hasIg ? '✅' : '❌'}\\n\\n🎯 *Ángulo:* ${angle}\\n📝 *Notas:* ${candidate.notas_investigacion || 'Sin notas'}\\n⭐ *Destacable:* ${candidate.datos_destacables || 'Nada'}\\n\\n_El email se generará con IA al momento de enviar._`;\nreturn [{ json: { textResponse: text, toolResponse: `Preview: ${candidate.business_name} (${candidate.tier}, ${reviews} reseñas, ángulo: ${angle})` }}];"
      },
      "id": "8c3fb630-70c0-4578-a892-161990db24a4",
      "name": "🔍 Preview Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        480
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "email_log",
          "mode": "list",
          "cachedResultName": "email_log"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "f34dcb2d-e30f-42f6-b252-63c6e73eaf36",
      "name": "📋 Read for Report1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        -896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let logs = [];\ntry { logs = $input.all().map(i => i.json); } catch(e) {}\nif (logs.length === 0) { return [{ json: { textResponse: '📊 *Reporte de Outreach*\\n\\nNo hay correos enviados aún.', toolResponse: 'Sin correos enviados' }}]; }\nconst total = logs.length;\nconst sent = logs.filter(l => l.delivery_status === 'sent').length;\nconst failed = logs.filter(l => l.delivery_status === 'failed').length;\nconst replied = logs.filter(l => String(l.reply_detected).toLowerCase() === 'true').length;\nconst initial = logs.filter(l => (l.variant || '').startsWith('initial')).length;\nconst followup = total - initial;\nconst recent = logs.slice(-10).reverse();\nconst recentLines = recent.map(l => { const status = l.delivery_status === 'sent' ? '✅' : '❌'; const reply = String(l.reply_detected).toLowerCase() === 'true' ? ' 💬' : ''; const date = l.email_sent_date ? l.email_sent_date.split('T')[0] : '?'; return `  ${status}${reply} ${l.subject || '?'} — ${date}`; }).join('\\n');\nconst successRate = total > 0 ? Math.round((sent / total) * 100) : 0;\nconst replyRate = sent > 0 ? Math.round((replied / sent) * 100) : 0;\nconst text = `📊 *Reporte de Outreach*\\n\\n📧 *Total:* ${total} correos\\n✅ Enviados: ${sent} (${successRate}%)\\n❌ Fallidos: ${failed}\\n💬 Respondieron: ${replied} (${replyRate}%)\\n📨 Iniciales: ${initial} | Follow-ups: ${followup}\\n\\n📋 *Últimos 10:*\\n${recentLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `${total} correos, ${sent} exitosos (${successRate}%), ${replied} respuestas (${replyRate}%)` }}];"
      },
      "id": "ff5e0ae1-d5de-47cb-a417-cc24de98a29f",
      "name": "📊 Gen Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -896
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "415051a8-7233-4ed9-ba49-25d35c174a5f",
      "name": "⏰ Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2720,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ SMART INPUT v2 — Extrae cantidad con regex, no LLM ═══\nconst staticData = $getWorkflowStaticData('global');\nstaticData.sentThisRun = [];\nstaticData.batch = [];\n\nconst input = $input.first().json;\n\nconst query = (\n  input.query ||\n  input.message ||\n  input.text ||\n  (input.message && input.message.text) ||\n  ''\n).trim();\n\nconst chatId = (\n  input.chatId ||\n  input.chat_id ||\n  (input.message && input.message.chat && input.message.chat.id) ||\n  ''\n).toString();\n\n// ✅ FIX CANTIDAD: Extraer con regex — determinista, no depende del LLM\n// El Classifier a veces devuelve quantity:0 aunque el usuario dijo \"2\"\n// causando effectiveMax = 50 (default) → se mandaban 50 correos\nlet direct_quantity = 0;\nif (query) {\n  const numMatch = query.match(/\\b(\\d+)\\b/);\n  if (numMatch) {\n    const num = parseInt(numMatch[1]);\n    if (num >= 1 && num <= 10000) direct_quantity = num;\n  }\n}\n\nif (query) {\n  return [{ json: { query, chatId, direct_quantity, _source: 'manual' } }];\n} else {\n  return [{ json: { query: 'envía outreach automático diario', chatId: '', direct_quantity: 0, _source: 'schedule' } }];\n}"
      },
      "id": "a024bbc4-38cf-43e6-9981-951d33ac8697",
      "name": "📦 Schedule Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst rawQuery = String(input.query || input.message || input.text || '').trim();\nconst normalized = rawQuery.toLowerCase();\nconst source = input._source || (rawQuery ? 'manual' : 'schedule');\n\nfunction includesAny(text, patterns) {\n  return patterns.some((pattern) => text.includes(pattern));\n}\n\nfunction extractQuantity(text, fallback = 0) {\n  if (fallback > 0) return fallback;\n  const match = text.match(/\\b(\\d{1,4})\\b/);\n  if (!match) return 0;\n  const value = parseInt(match[1], 10);\n  if (!Number.isFinite(value) || value < 1) return 0;\n  return Math.min(value, 250);\n}\n\nfunction extractFilter(text, labels) {\n  for (const label of labels) {\n    const regex = new RegExp(`${label}\\\\s*[:=]?\\\\s*([\\\\wáéíóúñÁÉÍÓÚÑ-]+(?:\\\\s+[\\\\wáéíóúñÁÉÍÓÚÑ-]+){0,2})`, 'i');\n    const match = text.match(regex);\n    if (match) return match[1].trim();\n  }\n  return '';\n}\n\nlet action = 'send_outreach';\nif (includesAny(normalized, ['lead_stats', 'estadísticas', 'estadisticas', 'stats', 'cuántos leads', 'cuantos leads', 'resumen de leads'])) {\n  action = 'lead_stats';\n} else if (includesAny(normalized, ['outreach_report', 'historial', 'reporte', 'qué se ha enviado', 'que se ha enviado', 'cómo va', 'como va'])) {\n  action = 'outreach_report';\n} else if (includesAny(normalized, ['preview_email', 'preview', 'muestrame', 'muéstrame', 'ejemplo de email'])) {\n  action = 'preview_email';\n} else if (includesAny(normalized, ['clean_duplicates', 'limpia duplicados', 'limpiar duplicados', 'duplicados sheet', 'dedup'])) {\n  action = 'clean_duplicates';\n}\n\nconst explicitQuantity = parseInt(input.direct_quantity || 0, 10) || 0;\nconst quantity = extractQuantity(normalized, explicitQuantity);\nconst wantsFollowups = includesAny(normalized, ['followup', 'follow up', 'seguimiento', 'seguimientos']);\nconst wantsOnlyNew = includesAny(normalized, ['solo nuevos', 'only new', 'nuevos solamente']);\nconst wantsAll = includesAny(normalized, ['todos', 'todo el lote', 'full batch']);\n\nlet tierFilter = extractFilter(normalized, ['tier', 'nivel']);\nif (tierFilter) tierFilter = tierFilter.toUpperCase().replace('A', '1').replace('B', '2').replace('C', '3');\nconst nicheFilter = extractFilter(normalized, ['nicho', 'niche', 'sector']);\nconst cityFilter = extractFilter(normalized, ['ciudad', 'city']);\n\nconst only_followups = action === 'send_outreach' ? wantsFollowups : false;\nconst only_new = action === 'send_outreach'\n  ? (source === 'schedule' ? true : (wantsOnlyNew || !wantsFollowups))\n  : false;\n\nreturn [{\n  json: {\n    action,\n    quantity,\n    tier_filter: tierFilter,\n    niche_filter: nicheFilter,\n    city_filter: cityFilter,\n    only_followups,\n    only_new,\n    intent_description: rawQuery || 'scheduled production outreach at 09:00',\n    _qty_source: explicitQuantity > 0 ? 'regex_override' : (quantity > 0 ? 'parsed_query' : 'default'),\n    _source: source,\n    _mode: source === 'schedule' ? 'production_schedule' : 'manual_control',\n    _wants_all: wantsAll,\n  }\n}];"
      },
      "id": "a01af711-a5ea-43ba-85e6-2e75cbd4051e",
      "name": "🧠 Outreach Classifier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $input.first().json || {};\nconst trigger = $('When Executed by Another Workflow');\nlet chatId = '';\ntry { chatId = trigger.first().json.chatId || trigger.first().json.chat_id || ''; } catch (e) {}\ntry { if (!chatId) chatId = $('📦 Schedule Input').first().json.chatId || ''; } catch (e) {}\n\nconst quantity = Math.max(0, parseInt(parsed.quantity || 0, 10) || 0);\nconst effectiveMax = quantity > 0 ? Math.min(quantity, 250) : 60;\nconst action = parsed.action || 'send_outreach';\nconst source = parsed._source || 'manual';\nconst publicBaseUrl = 'http://54.160.79.60:3005';\nconst messageMode = String(parsed.message_mode || parsed.messageMode || 'simple_melissa_demo').trim() || 'simple_melissa_demo';\nconst demoLink = String(parsed.whatsapp_link || 'https://wa.me/573236263207?text=Hola%20Melissa%2C%20quiero%20ver%20la%20demo.').trim();\n\nreturn [{ json: {\n  action,\n  quantity,\n  effective_max: effectiveMax,\n  tier_filter: parsed.tier_filter || '',\n  niche_filter: parsed.niche_filter || '',\n  city_filter: parsed.city_filter || '',\n  only_followups: Boolean(parsed.only_followups),\n  only_new: parsed.only_new !== false,\n  intent_description: parsed.intent_description || '',\n  chatId,\n  _qty_source: parsed._qty_source || (quantity > 0 ? 'parsed' : 'default_60'),\n  _source: source,\n  _mode: parsed._mode || (source === 'schedule' ? 'production_schedule' : 'manual_control'),\n  config: {\n    sheet_id: '1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA',\n    brand_name: 'Nova',\n    sender_name: 'Santiago Rubio',\n    sender_title: 'Founder · Nova',\n    sender_phone: '+57 312 434 8669',\n    whatsapp_link: demoLink,\n    public_base_url: publicBaseUrl,\n    brand_logo_url: 'https://i.ibb.co/k6cRWdDJ/White-New-Nova-Isotipo.png',\n    max_emails_per_run: effectiveMax,\n    max_followups: 2,\n    followup_delay_days: 3,\n    min_tier: 3,\n    message_mode: messageMode,\n    demo_cta_text: 'Hablar con Melissa',\n    demo_link_label: 'Ver demo en WhatsApp',\n    service_name: 'Melissa',\n    service_pitch: 'responde WhatsApp como parte del equipo y ayuda a convertir conversaciones en citas reales.',\n    offer_text: 'Melissa atiende conversaciones, filtra intención y mantiene el contexto sin sonar como un bot rígido.',\n    cta_text: 'Si quiere verla en vivo, le dejo el acceso directo a WhatsApp.',\n    close_text: 'Si le interesa, luego le muestro cómo se adapta a su operación.',\n  }\n}}];"
      },
      "id": "7b777c29-8971-4f2a-9319-e08963804418",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('🔧 Filter Eligible').first().json;\nconst s = data._stats || {};\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nconst qtyNote = qty > 0 ? `\\n📌 Pediste ${qty} pero no hay elegibles.` : '';\nconst filterNote = filters.length > 0 ? `\\n🔍 Filtros: ${filters.join(', ')}` : '';\nconst text = `⚠️ *No hay leads elegibles*${qtyNote}${filterNote}\\n\\n📊 *Stats:*\\n• Total en hoja: ${s.total || 0}\\n• Sin email: ${s.noEmail || 0}\\n• Email inválido: ${s.invalid || 0}\\n• Tier filtrado: ${s.tierSkip || 0}\\n` + (s.nicheSkip ? `• Nicho filtrado: ${s.nicheSkip}\\n` : '') + (s.citySkip ? `• Ciudad filtrada: ${s.citySkip}\\n` : '') + `• Ya completados: ${s.done || 0}`;\nreturn [{ json: { textResponse: text, toolResponse: 'No hay leads elegibles' } }];"
      },
      "id": "11b67eb3-ff05-41b4-a6e2-a48a55b80385",
      "name": "⚠️ No Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "7f2cfd0e-e8fd-4d2f-a34e-094603bd9588",
      "name": "📋 Read Leads Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1472,
        -544
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has",
              "leftValue": "={{ $json._has_leads }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf3e367f-bec1-46b7-9d12-284774ddd276",
      "name": "❓ Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "outreach_control",
          "mode": "list"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "dc963530-5a1e-4b7b-9747-be33130275e8",
      "name": "📋 Read Outreach Control",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1248,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nconst filterLine = filters.length > 0 ? '\\n🔍 Filtros: ' + filters.join(', ') : '';\nconst text = `📧 *Outreach iniciado*\\n\\n🔄 Procesando ${count} correos en segundo plano.${filterLine}\\n⏱️ Te aviso cuando termine.`;\nreturn [{ json: { textResponse: text, toolResponse: `Outreach: ${count} correos en proceso` }}];"
      },
      "id": "e479e2e5-3b9c-47ca-a9cd-4449b024ae9e",
      "name": "⚡ Respuesta Rápida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -512
      ]
    },
    {
      "parameters": {
        "jsCode": "let data = {};\ntry { data = $input.first().json; } catch(e) {}\nconst textResponse = data.textResponse || '📧 Outreach en proceso — te notifico cuando termine.';\nconst toolResponse = data.toolResponse || 'Outreach iniciado en segundo plano';\nreturn [{ json: { textResponse, toolResponse } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -512
      ],
      "id": "f945eb06-26e9-4a23-846d-23f0470090df",
      "name": "📤 OUTPUT"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        -496
      ],
      "id": "c435bb32-117a-432c-bc48-8317fe04fd17",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "92a12194-c133-49b1-b342-892e196f360e",
      "name": "🔄 Email Send Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        64
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "db5f3d32-901e-42a9-b886-bf207270a902",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        96
      ],
      "webhookId": "98877980-d276-4bd2-b9e9-d2468c3da5ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 20) + 25 }}"
      },
      "id": "6d7ec118-338a-4474-ace0-22e2c9fb4e8f",
      "name": "⏱️ Throttle",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        96
      ],
      "webhookId": "outreach-throttle-001"
    },
    {
      "parameters": {
        "jsCode": "const emailData = $('🎨 HTML Builder').first().json;\nconst sendResult = $('📧 Send Email').first().json;\nconst ok = !sendResult.error && (sendResult.id || sendResult.messageId);\n\nreturn [{ json: {\n  ...emailData,\n  delivery_status: ok ? 'sent' : 'failed',\n  delivery_error: sendResult.error || null,\n  gmail_id: sendResult.id || sendResult.messageId || null\n}}];"
      },
      "id": "28a575a2-73f1-4d35-9d58-40023bd23d4f",
      "name": "✅ Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.batch) staticData.batch = [];\nconst item = $input.first().json || {};\nstaticData.batch.push({\n  id: item.lead_id || '',\n  biz: item.business_name || '',\n  tier: item.tier || '',\n  action: item.action_type || '',\n  status: item.delivery_status || '',\n  email: item.email || '',\n});\nreturn $input.all();"
      },
      "id": "66ff21da-0a7c-4d68-b475-8efc9e6d36b0",
      "name": "📈 Accumulate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst batch = staticData.batch || [];\n// LIMPIAR TODO al finalizar\nstaticData.batch = [];\nstaticData.sentThisRun = [];\nstaticData.emailsSentThisRun = [];\n\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nif (bridge.only_followups) filters.push('solo followups');\nif (bridge.only_new) filters.push('solo nuevos');\nconst sent = batch.filter(e => e.status === 'sent').length;\nconst failed = batch.filter(e => e.status === 'failed').length;\nconst skipped = batch.filter(e => e.status === 'skipped').length;\nconst initial = batch.filter(e => e.action === 'initial_contact').length;\nconst followup = batch.length - initial - skipped;\nconst byTier = {};\nbatch.filter(e => e.status !== 'skipped').forEach(e => { byTier[e.tier || '?'] = (byTier[e.tier || '?'] || 0) + 1; });\nconst tierLines = Object.entries(byTier).map(([t,c]) => `  • ${t}: ${c}`).join('\\n');\nconst qtyLine = qty > 0 ? `\\n📌 *Solicitados:* ${qty}` : '';\nconst filterLine = filters.length > 0 ? `\\n🔍 *Filtros:* ${filters.join(', ')}` : '';\nconst skipLine = skipped > 0 ? `\\n⏭️ Saltados (duplicados): ${skipped}` : '';\nconst text = `📧 *Outreach Completado*${qtyLine}${filterLine}\\n\\n✅ Enviados: ${sent}\\n❌ Fallidos: ${failed}${skipLine}\\n\\n📊 *Por tipo:*\\n  • Inicial: ${initial}\\n  • Follow-up: ${followup}\\n\\n📋 *Por Tier:*\\n${tierLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `Outreach: ${sent}/${qty > 0 ? qty : 'auto'} enviados` + (filters.length > 0 ? ' (' + filters.join(', ') + ')' : '') }}];"
      },
      "id": "d5b34ae5-38f5-4984-a69e-a85860e4d248",
      "name": "📊 Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "7f127d13-49d0-4959-b94f-1876db2bb5f6",
      "name": "📢 Callback → XUS Begin",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        -704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// 🛡️ DEDUP CHECK MEJORADO - Verifica por LEAD_ID y por EMAIL\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst staticData = $getWorkflowStaticData('global');\n\n// Inicializar arrays si no existen\nif (!staticData.sentThisRun) staticData.sentThisRun = [];\nif (!staticData.emailsSentThisRun) staticData.emailsSentThisRun = [];\n\nconst lead = $input.first().json;\nconst leadId = (lead.lead_id || '').toString().trim();\nconst email = (lead.email || '').toLowerCase().trim();\n\n// Sin lead_id, dejarlo pasar con warning\nif (!leadId) {\n  lead._dedup_warning = 'no_lead_id';\n  lead._skip = false;\n  return [{ json: lead }];\n}\n\n// ═══ CHECK 1: Duplicado por lead_id ═══\nif (staticData.sentThisRun.includes(leadId)) {\n  return [{ json: { \n    _skip: true, \n    lead_id: leadId,\n    email: email,\n    _motivo: 'duplicado_lead_id_ya_enviado' \n  }}];\n}\n\n// ═══ CHECK 2: Duplicado por email ═══\nif (email && staticData.emailsSentThisRun.includes(email)) {\n  return [{ json: { \n    _skip: true, \n    lead_id: leadId,\n    email: email,\n    _motivo: 'duplicado_email_ya_enviado' \n  }}];\n}\n\n// ═══ PASAR: Registrar y continuar ═══\nstaticData.sentThisRun.push(leadId);\nif (email) staticData.emailsSentThisRun.push(email);\n\nlead._skip = false;\nreturn [{ json: lead }];"
      },
      "id": "4b61d883-934a-4ff3-901a-e9c3eb831ae1",
      "name": "🛡️ Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -128
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c954a72a-82a1-410a-8cd9-f1aefa7e482c",
      "name": "❓ Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('❓ Skip?').first().json;\nconst reviews = parseInt(lead.reviews_count) || 0;\nconst rating = parseFloat(lead.rating) || 0;\nlet canMentionReviews = false, volumeLevel = 'none';\nif (reviews >= 200) { canMentionReviews = true; volumeLevel = 'very_high'; } else if (reviews >= 50) { canMentionReviews = true; volumeLevel = 'high'; } else if (reviews >= 15) { volumeLevel = 'medium'; } else if (reviews >= 1) { volumeLevel = 'low'; }\nlet ratingInsight = '', canMentionRating = false;\nif (rating >= 4.8) { ratingInsight = 'Calificación excelente'; canMentionRating = true; } else if (rating >= 4.5) { ratingInsight = 'Muy buena calificación'; canMentionRating = true; } else if (rating >= 4.0) { ratingInsight = 'Buena calificación'; } else { ratingInsight = 'Calificación normal'; }\nconst rawWeb = (lead.website || '').trim();\nconst rawIg = (lead.instagram || '').trim();\nconst hasWeb = rawWeb.length > 10 && rawWeb.toLowerCase() !== 'n/a';\nconst hasIg = rawIg.length > 5 && rawIg.toLowerCase() !== 'n/a';\nconst notes = (lead.notas_investigacion || '').trim();\nconst highlights = (lead.datos_destacables || '').trim();\nconst nicheMap = { 'Medicina Estética': { dolor: 'preguntas sobre precios de botox, hialurónico y disponibilidad', tipo: 'procedimientos' }, 'Odontología': { dolor: 'consultas sobre diseño de sonrisa, ortodoncia y precios', tipo: 'tratamientos dentales' }, 'Dermatología': { dolor: 'consultas repetitivas sobre tratamientos y costos', tipo: 'tratamientos de piel' }, 'Cirugía Plástica': { dolor: 'pacientes que piden mucha info antes de decidirse', tipo: 'cirugías' }, 'Oftalmología': { dolor: 'consultas sobre cirugía láser y disponibilidad', tipo: 'consultas' } };\nconst nicheInfo = nicheMap[lead.niche] || { dolor: 'consultas de pacientes por WhatsApp', tipo: 'servicios' };\nconst rawCity = (lead.city || '').trim();\nconst invalidCities = ['colombia','co','col','n/a','na','','null','undefined','otro','otros','nacional'];\nconst isValidCity = rawCity.length > 2 && !invalidCities.includes(rawCity.toLowerCase());\nconst city = isValidCity ? rawCity : '';\nlet bestAngle = 'general';\nif (volumeLevel === 'very_high' || volumeLevel === 'high') bestAngle = 'volume';\nelse if (canMentionRating && rating >= 4.8) bestAngle = 'reputation';\nelse if (hasIg && volumeLevel !== 'none') bestAngle = 'social';\nelse if (hasWeb) bestAngle = 'web';\nelse if (volumeLevel === 'medium') bestAngle = 'growth';\nconst seed = String(lead.lead_id || lead.email || lead.business_name || 'nova');\nconst hash = Array.from(seed).reduce((acc, char) => ((acc * 31) + char.charCodeAt(0)) % 997, 7);\nconst variant = hash % 2 === 0 ? 'A' : 'B';\nconst bizName = (lead.business_name || '').trim();\nlet greeting = 'Hola, buenas tardes.', hasPersonName = false, extractedName = '';\nconst titlePatterns = [/^(Dra?\\.?\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)/i,/^(Dr\\.?\\s+(?:[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+)?([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+))/i];\nconst namePatterns = [/^([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+(?:Medicina|Dermatolog|Odontolog|Clínica|Cirugía|Estética|Dental|Centro|Consult)/i,/^([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)\\s+(?:Medicina|Dermatolog|Odontolog|Estética|Dental)/i];\nconst brandWords = ['clínica','clinica','centro','institute','instituto','dental','smile','sonrisa','odonto','dermo','skin','beauty','estudio','spa','laser','láser','corp','group','salud','medical','med ','the ','los ','las ','diseños','sonríe','sonrie','oral','face','body','alto','new','nova','premium','elite','top'];\nconst bizLower = bizName.toLowerCase();\nconst startsWithBrand = brandWords.some(w => bizLower.startsWith(w));\nif (!startsWithBrand) {\n  for (const pattern of titlePatterns) {\n    const match = bizName.match(pattern);\n    if (match) {\n      let name = match[1].trim();\n      name = name.replace(/^Dr\\s/i,'Dr. ').replace(/^Dra\\s/i,'Dra. ');\n      const parts = name.split(/\\s+/);\n      if (parts.length >= 3 && parts[0].match(/^Dra?\\.?$/i)) {\n        extractedName = parts[0].replace(/^Dr$/i,'Dr.').replace(/^Dra$/i,'Dra.') + ' ' + parts[parts.length-1];\n      } else {\n        extractedName = name;\n      }\n      hasPersonName = true;\n      break;\n    }\n  }\n  if (!hasPersonName) {\n    for (const pattern of namePatterns) {\n      const match = bizName.match(pattern);\n      if (match) {\n        extractedName = match[1].trim().split(/\\s+/)[0];\n        hasPersonName = true;\n        break;\n      }\n    }\n  }\n}\nif (hasPersonName && extractedName) greeting = 'Hola ' + extractedName + ', buenas tardes.';\nreturn [{ json: { ...lead, _research: { business_name: bizName, city, has_valid_city: isValidCity, niche: lead.niche || 'salud', niche_dolor: nicheInfo.dolor, niche_tipo: nicheInfo.tipo, review_count: reviews, rating, can_mention_reviews: canMentionReviews, can_mention_rating: canMentionRating, rating_insight: ratingInsight, volume_level: volumeLevel, has_website: hasWeb, has_instagram: hasIg, notes, highlights, best_angle: bestAngle, tier: lead.tier || '', is_followup: lead._action === 'followup', followup_number: lead._followup_number || 0, greeting, has_person_name: hasPersonName, extracted_name: extractedName, ab_variant: variant } }}];"
      },
      "id": "21ebf07c-3469-42c2-bb75-a48d1925a681",
      "name": "🔍 Research Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const research = $('🔍 Research Lead').first().json._research;\nconst biz = research.business_name || 'su empresa';\nconst cityPart = research.has_valid_city ? ` en ${research.city}` : '';\nconst niche = research.niche || 'salud';\nconst ratingPart = research.can_mention_rating ? ` y una calificación de ${research.rating}★` : '';\nconst reviewsPart = research.can_mention_reviews ? ` con ${research.review_count} reseñas visibles` : '';\nconst angle = research.best_angle || 'general';\n\nconst hookLibrary = {\n  volume: [\n    `Vi que ${biz}${cityPart}${reviewsPart} ya recibe bastante demanda digital.`,\n    `${biz}${cityPart} probablemente ya pierde citas cuando WhatsApp se acumula.`\n  ],\n  reputation: [\n    `${biz}${cityPart}${ratingPart} ya tiene una reputación fuerte que vale proteger.`,\n    `Cuando una clínica como ${biz} responde tarde, la experiencia no se ve igual de premium.`\n  ],\n  social: [\n    `Si a ${biz}${cityPart} le llegan consultas por Instagram y WhatsApp, el cuello suele estar en responder rápido.`,\n    `Muchas clínicas con movimiento social terminan atendiendo a mano lo que debería quedar automatizado.`\n  ],\n  web: [\n    `Cuando el interés llega por web y WhatsApp al mismo tiempo, el seguimiento manual se vuelve inconsistente.`,\n    `${biz}${cityPart} puede convertir más consultas si WhatsApp agenda sin depender del equipo.`\n  ],\n  growth: [\n    `${biz}${cityPart} ya tiene señales de crecimiento y ahí el agendamiento empieza a apretar.`,\n    `Cuando el volumen sube, responder uno a uno por WhatsApp deja de escalar.`\n  ],\n  general: [\n    `Estoy revisando clínicas de ${niche}${cityPart} que siguen agendando manualmente por WhatsApp.`,\n    `Quería escribirle porque muchas empresas de ${niche}${cityPart} todavía pierden citas en conversaciones manuales.`\n  ],\n};\n\nconst painLibrary = {\n  volume: [\n    'Lo normal es que se crucen conversaciones, horarios y pacientes esperando respuesta.',\n    'Eso hace que algunas citas se enfríen antes de quedar agendadas.'\n  ],\n  reputation: [\n    'El problema no es la demanda. El problema es sostener la velocidad de respuesta sin bajar la calidad.',\n    'Ahí suele aparecer fricción en recepción y seguimiento.'\n  ],\n  social: [\n    'Cuando el canal principal es chat, cada minuto de demora pega en conversión.',\n    'Y si el equipo está ocupado, la agenda termina dependiendo de quién alcanzó a responder.'\n  ],\n  web: [\n    'Muchas consultas sí llegan, pero no todas aterrizan en una cita cerrada.',\n    'Normalmente el cuello está en confirmar horarios y hacer seguimiento.'\n  ],\n  growth: [\n    'El volumen todavía es manejable, pero ya muestra el patrón típico antes del desorden operativo.',\n    'Ahí es donde más valor tiene automatizar sin cambiar toda la operación.'\n  ],\n  general: [\n    'El patrón se repite mucho: mensajes sin responder a tiempo y agenda dependiendo de intervención manual.',\n    'Eso consume al equipo y deja citas sin cerrar.'\n  ],\n};\n\nconst subjects = {\n  volume: ['WhatsApp y agenda en una sola capa', 'Una mejora puntual para su equipo'],\n  reputation: ['Cuidar la experiencia también en WhatsApp', 'Pregunta breve sobre su proceso'],\n  social: ['Menos carga manual en WhatsApp', '¿Siguen agendando manualmente?'],\n  web: ['Agendar más rápido desde WhatsApp', 'Pregunta corta sobre sus citas'],\n  growth: ['Antes de que la operación se vuelva cuello', 'Automatizar sin cambiar su operación'],\n  general: ['Pregunta rápida', '¿Agendan por WhatsApp?'],\n};\n\nconst [hook_A, hook_B] = hookLibrary[angle] || hookLibrary.general;\nconst [pain_A, pain_B] = painLibrary[angle] || painLibrary.general;\nconst [subject_A, subject_B] = subjects[angle] || subjects.general;\n\nreturn [{ json: {\n  hook_A,\n  hook_B,\n  pain_A,\n  pain_B,\n  subject_A,\n  subject_B,\n  is_followup: Boolean(research.is_followup),\n}}];"
      },
      "id": "b57d7ee5-4aac-4a9d-8c8f-b14c8b843e40",
      "name": "✍️ Email Personalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json || {};\nconst research = $('🔍 Research Lead').first().json._research;\nconst leadData = $('🔍 Research Lead').first().json;\nconst config = leadData._config || {};\nconst messageMode = String(config.message_mode || 'standard');\nconst demoLink = String(config.whatsapp_link || '').trim();\nconst biz = research.business_name;\nconst greeting = research.greeting || 'Hola, buenas tardes.';\nconst isFollowup = research.is_followup;\nconst fuNum = research.followup_number;\nconst variant = research.ab_variant || 'A';\nlet ai = {};\n\nif (aiRaw && aiRaw.hook_A !== undefined) {\n  ai = aiRaw;\n} else {\n  try {\n    let text = aiRaw.output || aiRaw.text || '';\n    if (typeof text === 'object' && text.hook_A !== undefined) {\n      ai = text;\n    } else {\n      if (typeof text !== 'string') text = JSON.stringify(text);\n      text = text.replace(/```json\\s*/gi,'').replace(/```\\s*/gi,'').trim();\n      const m = text.match(/\\{[\\s\\S]*\\}/);\n      if (m) ai = JSON.parse(m[0]);\n    }\n  } catch (e) {\n    ai = {};\n  }\n}\n\nfunction nextDateIso(days) {\n  const nextDate = new Date();\n  nextDate.setDate(nextDate.getDate() + days);\n  return nextDate.toISOString().split('T')[0];\n}\n\nlet subject = '';\nlet body = '';\nlet emailVariant = '';\n\nif (messageMode === 'simple_melissa_demo') {\n  const demoLine = demoLink\n    ? 'Si quiere verla en vivo, puede abrir este enlace y escribirle directo: ' + demoLink\n    : 'Si quiere, le muestro una demo en vivo.';\n\n  if (!isFollowup) {\n    subject = variant === 'B' ? 'Le comparto una demo real de Melissa' : '¿Conoce a Melissa?';\n    emailVariant = variant === 'B' ? 'initial_melissa_b' : 'initial_melissa_a';\n    body = greeting + '\\n\\n' +\n      'Le escribo porque estamos mostrando a Melissa, una asistente de WhatsApp que responde como parte del equipo y ayuda a convertir conversaciones en citas reales.' + '\\n\\n' +\n      'No depende de un prompt bonito ni de mover todo a otro sistema. Atiende, mantiene contexto y deja ver una demo conversando de verdad.' + '\\n\\n' +\n      demoLine + '\\n\\n' +\n      'Si le interesa, después le muestro cómo se adapta a ' + biz + '.';\n  } else if (fuNum === 1) {\n    subject = 'Le dejo el acceso directo a Melissa';\n    emailVariant = 'followup_melissa_1';\n    body = greeting + '\\n\\n' +\n      'Le dejo de nuevo el acceso directo a Melissa por si quiere verla conversando en vivo por WhatsApp.' + '\\n\\n' +\n      demoLine + '\\n\\n' +\n      'Si le interesa, luego le explico cómo se monta sobre ' + biz + '.';\n  } else {\n    subject = 'Cierro por aquí';\n    emailVariant = 'followup_melissa_2';\n    body = greeting + '\\n\\n' +\n      'Cierro por aquí para no insistir más.' + '\\n\\n' +\n      demoLine + '\\n\\n' +\n      'Si más adelante quiere verla en su operación, con gusto retomamos.';\n  }\n} else {\n  if (!ai.hook_A) {\n    const cityPart = research.has_valid_city ? ' en ' + research.city : '';\n    ai = {\n      hook_A: 'Revisé empresas de ' + research.niche + cityPart + ' que todavía agendan manualmente por WhatsApp.',\n      hook_B: 'Quería escribirle porque muchas clínicas como ' + research.business_name + ' siguen perdiendo tiempo en coordinación manual.',\n      pain_A: 'Ahí el cuello suele estar en responder rápido y cerrar la cita sin fricción.',\n      pain_B: 'Cuando el equipo está ocupado, varias conversaciones se enfrían antes de agendar.',\n      subject_A: 'Pregunta rápida',\n      subject_B: '¿Agendan por WhatsApp?',\n      is_followup: false,\n    };\n  }\n\n  if (!isFollowup) {\n    const hook = variant === 'A' ? (ai.hook_A || '') : (ai.hook_B || '');\n    const pain = variant === 'A' ? (ai.pain_A || '') : (ai.pain_B || '');\n    subject = variant === 'A' ? (ai.subject_A || 'Pregunta rápida') : (ai.subject_B || '¿Agendan por WhatsApp?');\n    emailVariant = 'initial_' + variant;\n    body = greeting + '\\n\\n' +\n      hook + '\\n\\n' +\n      pain + '\\n\\n' +\n      'En Nova automatizamos el agendamiento por WhatsApp para que el paciente escriba, reciba respuesta y cierre su cita sin intervención manual del equipo.' + '\\n\\n' +\n      'Si le sirve, le muestro en 10 minutos cómo se monta sobre su operación actual.';\n  } else if (fuNum === 1) {\n    subject = 'Seguimiento breve';\n    emailVariant = 'followup_1';\n    body = greeting + '\\n\\n' +\n      'Le escribí hace unos días sobre cómo Nova automatiza el agendamiento por WhatsApp.' + '\\n\\n' +\n      'Solo quería confirmar si vale la pena mostrarle el flujo en una llamada corta.' + '\\n\\n' +\n      'Si no es prioridad ahora, no insisto.';\n  } else if (fuNum === 2) {\n    subject = 'Último seguimiento';\n    emailVariant = 'followup_2';\n    body = greeting + '\\n\\n' +\n      'Cierro por aquí para no ocupar más espacio.' + '\\n\\n' +\n      'Si ' + biz + ' sigue coordinando citas manualmente por WhatsApp, le puedo enseñar una alternativa simple.' + '\\n\\n' +\n      'Con un sí o un no me sirve.';\n  } else {\n    subject = 'Quedo atento';\n    emailVariant = 'followup_3';\n    body = greeting + '\\n\\n' +\n      'Lo dejo hasta aquí por ahora.' + '\\n\\n' +\n      'Si más adelante en ' + biz + ' quieren automatizar el agendamiento por WhatsApp, con gusto retomamos.';\n  }\n}\n\nreturn [{ json: {\n  lead_id: leadData.lead_id,\n  business_name: biz,\n  email: leadData.email,\n  send_to: leadData.email,\n  tier: research.tier,\n  city: research.city,\n  niche: research.niche,\n  email_subject: subject,\n  email_body: body,\n  email_variant: emailVariant,\n  email_sender_name: config.sender_name || 'Santiago Rubio',\n  email_sender_title: config.sender_title || 'Founder · Nova',\n  email_cta_label: config.demo_cta_text || 'Hablar con Melissa',\n  assigned_angle: research.best_angle,\n  action_type: leadData._action,\n  followup_number: fuNum,\n  new_followup_count: isFollowup ? fuNum : 1,\n  next_followup_date: nextDateIso(config.followup_delay_days || 3),\n  sent_timestamp: new Date().toISOString(),\n  _config: config,\n  _row_number: leadData._row_number,\n}}];"
      },
      "id": "1261312a-7146-442b-95dd-6927a36a4bc2",
      "name": "📝 Email Assembler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst cfg = data._config || {};\nconst bodyHtml = data.email_body\n  .split('\\n\\n')\n  .filter((p) => p.trim())\n  .map((p) => '<p style=\"margin:0 0 16px 0;\">' + p.replace(/\\n/g, '<br>') + '</p>')\n  .join('');\nconst brand = cfg.brand_name || 'Nova';\nconst logo = cfg.brand_logo_url || 'https://i.ibb.co/k6cRWdDJ/White-New-Nova-Isotipo.png';\nconst wa = cfg.whatsapp_link || 'https://wa.me/573236263207?text=Hola%20Melissa%2C%20quiero%20ver%20la%20demo.';\nconst senderName = data.email_sender_name || cfg.sender_name || 'Santiago Rubio';\nconst senderTitle = data.email_sender_title || cfg.sender_title || 'Founder · Nova';\nconst ctaLabel = data.email_cta_label || cfg.demo_cta_text || 'Hablar con Melissa';\nconst subtitle = cfg.message_mode === 'simple_melissa_demo'\n  ? 'Demo en vivo por WhatsApp'\n  : 'Automatización operativa para agendamiento por WhatsApp';\nconst ctaHtml = wa\n  ? `<tr><td style=\"padding:0 40px 32px 40px;\"><a href=\"${wa}\" style=\"display:inline-block;background:#111111;color:#ffffff;text-decoration:none;font-size:14px;font-weight:600;padding:14px 18px;border-radius:12px;\">${ctaLabel}</a><p style=\"margin:12px 0 0;font-size:12px;color:#7b7b7b;word-break:break-all;\">${wa}</p></td></tr>`\n  : '';\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background-color:#f6f6f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"height:40px;\"></td></tr></table><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td align=\"center\" style=\"padding:0 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:560px;background-color:#ffffff;border-radius:16px;overflow:hidden;\"><tr><td style=\"padding:28px 40px 0 40px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"vertical-align:middle;\"><div style=\"width:48px;height:48px;border-radius:14px;background:#111111;display:flex;align-items:center;justify-content:center;\"><img src=\"${logo}\" alt=\"${brand}\" width=\"28\" height=\"28\" style=\"display:block;max-width:28px;\"></div></td><td style=\"padding-left:14px;\"><p style=\"margin:0;font-size:13px;font-weight:700;color:#111111;letter-spacing:0.02em;\">${brand}</p><p style=\"margin:4px 0 0;font-size:12px;color:#6d6d6d;\">${subtitle}</p></td></tr></table></td></tr><tr><td style=\"padding:28px 40px 8px 40px;\"><table width=\"100%\"><tr><td style=\"font-size:15px;line-height:1.75;color:#2d2d2d;\">${bodyHtml}</td></tr></table></td></tr>${ctaHtml}<tr><td style=\"padding:24px 40px 36px 40px;border-top:1px solid #f0f0f0;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td><p style=\"margin:0;font-size:14px;font-weight:600;color:#111111;\">${senderName}</p><p style=\"margin:2px 0 0;font-size:12px;color:#7b7b7b;\">${senderTitle}</p></td></tr></table></td></tr></table></td></tr></table></body></html>`;\nreturn [{ json: { ...data, email_html: html } }];"
      },
      "id": "ab8ee297-a72a-457c-992f-b447899999b1",
      "name": "🎨 HTML Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "no-contactado-all-formats",
              "leftValue": "={{ ['TRUE','true','True','1',true,1,'yes','YES'].includes($json.contactado) }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62a918a6-97b3-4231-b765-8db10c0c67a5",
      "name": "🔽 No Contactados",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -544
      ]
    },
    {
      "parameters": {
        "jsCode": "const bridge = $('🔗 Bridge').first().json;\nconst config = bridge.config;\nconst tierFilter = bridge.tier_filter ? parseInt(bridge.tier_filter) : 0;\nconst nicheFilter = (bridge.niche_filter || '').toLowerCase();\nconst cityFilter = (bridge.city_filter || '').toLowerCase();\nconst onlyFollowups = bridge.only_followups || false;\nconst onlyNew = bridge.only_new || false;\n\nfunction isValidEmail(email) {\n  if (!email || typeof email !== 'string') return false;\n  const t = email.trim().toLowerCase();\n  if (!t.includes('@') || t === 'n/a') return false;\n  if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/.test(t)) return false;\n  const badDom = ['example.com','test.com','localhost','sentry.io','wixpress.com'];\n  if (badDom.includes(t.split('@')[1])) return false;\n  return true;\n}\n\nfunction parseTier(raw) {\n  const t = (raw || '').toString().toUpperCase().trim();\n  if (t.includes('1') || t === 'A') return 1;\n  if (t.includes('2') || t === 'B') return 2;\n  if (t.includes('3') || t === 'C') return 3;\n  return 4;\n}\n\nfunction isContactado(val) {\n  return ['TRUE','true','True','1','yes','YES'].includes(String(val || '')) || val === true || val === 1;\n}\n\nlet noContactados = [];\ntry { noContactados = $('🔽 No Contactados').all(); } catch(e) {}\n\nlet allLeadsRaw = [];\ntry { allLeadsRaw = $('📋 Read Leads Master').all(); } catch(e) {}\n\nconst allLeadsMap = new Map();\nfor (const item of allLeadsRaw) {\n  const id = (item.json.lead_id || '').toString().trim();\n  if (id) allLeadsMap.set(id, item.json);\n}\n\nlet outreachData = [];\ntry { outreachData = $('📋 Read Outreach Control').all(); } catch(e) {}\n\nconst outreachMap = new Map();\nfor (const row of outreachData) {\n  const id = (row.json.lead_id || '').toString().trim();\n  if (id) {\n    outreachMap.set(id, {\n      contacted: isContactado(row.json.contacted),\n      last_contact_date: row.json.last_contact_date || null,\n      followup_count: parseInt(row.json.followup_count) || 0,\n      response_status: row.json.response_status || 'none',\n      next_followup_date: row.json.next_followup_date || null,\n      assigned_angle: row.json.assigned_angle || null,\n      // ★ DATOS PARA FOLLOWUPS (ya no depende de leads_master)\n      email: row.json.email || null,\n      business_name: row.json.business_name || null,\n      tier: row.json.tier || null,\n      niche: row.json.niche || null,\n      city: row.json.city || null\n    });\n  }\n}\n\nconst MAX_FU = config.max_followups || 3;\nconst FU_DELAY = config.followup_delay_days || 3;\nconst MAX_EMAILS = config.max_emails_per_run || 100;\nconst MIN_TIER = config.min_tier || 3;\nconst today = new Date(); today.setHours(0,0,0,0);\nconst eligible = [];\nconst seenEmails = new Set();\nconst stats = { noEmail: 0, invalid: 0, tierSkip: 0, done: 0, nicheSkip: 0, citySkip: 0, emailDuplicates: 0, total: allLeadsRaw.length, requested: bridge.quantity, effective_max: MAX_EMAILS };\n\n// ── BLOQUE 1: INITIAL CONTACTS ──────────────────────\nif (!onlyFollowups) {\n  for (const item of noContactados) {\n    const lead = item.json;\n    if (isContactado(lead.contactado)) continue;\n\n    let email = lead.email || lead.Email || lead.correo || null;\n    if (!email || email === 'N/A' || email === 'n/a') { stats.noEmail++; continue; }\n    if (!isValidEmail(email)) { stats.invalid++; continue; }\n    email = email.trim().toLowerCase();\n\n    if (seenEmails.has(email)) { stats.emailDuplicates++; continue; }\n    seenEmails.add(email);\n\n    const tierVal = parseTier(lead.tier);\n    if (tierFilter > 0) { if (tierVal !== tierFilter) { stats.tierSkip++; continue; } }\n    else { if (tierVal > MIN_TIER) { stats.tierSkip++; continue; } }\n    if (nicheFilter && !(lead.niche || '').toLowerCase().includes(nicheFilter)) { stats.nicheSkip++; continue; }\n    if (cityFilter && !(lead.city || '').toLowerCase().includes(cityFilter)) { stats.citySkip++; continue; }\n\n    const leadId = (lead.lead_id || '').toString().trim();\n    const oc = leadId ? outreachMap.get(leadId) : null;\n    if (oc) continue;\n\n    eligible.push({ json: { ...lead, email, _action: 'initial_contact', _followup_number: 0, _existing_angle: null, _tier_value: tierVal, _config: config, _has_leads: true }});\n  }\n}\n\n// ── BLOQUE 2: FOLLOWUPS ─────────────────────────────\nif (!onlyNew) {\n  for (const [leadId, oc] of outreachMap) {\n    if (['replied','converted','unsubscribed'].includes(oc.response_status)) { stats.done++; continue; }\n    if (oc.followup_count >= MAX_FU) { stats.done++; continue; }\n\n    let action = null, fuNum = 0;\n    if (oc.next_followup_date && new Date(oc.next_followup_date) <= today) {\n      action = 'followup'; fuNum = oc.followup_count + 1;\n    } else if (oc.contacted && oc.last_contact_date) {\n      const days = Math.floor((today - new Date(oc.last_contact_date)) / 86400000);\n      if (days >= FU_DELAY) { action = 'followup'; fuNum = oc.followup_count + 1; }\n      else continue;\n    } else continue;\n\n    // ★ BUSCA EN leads_master PRIMERO, SI NO EXISTE USA outreach_control\n    let lead = allLeadsMap.get(leadId);\n    if (!lead && oc.email) {\n      lead = {\n        lead_id: leadId,\n        email: oc.email,\n        business_name: oc.business_name || '',\n        tier: oc.tier || '',\n        niche: oc.niche || '',\n        city: oc.city || '',\n        rating: '', reviews_count: '0', score: '',\n        website: '', instagram: '',\n        notas_investigacion: '', datos_destacables: ''\n      };\n    }\n    if (!lead) continue;\n\n    let email = lead.email || lead.Email || lead.correo || null;\n    if (!email || email === 'N/A' || email === 'n/a') { stats.noEmail++; continue; }\n    if (!isValidEmail(email)) { stats.invalid++; continue; }\n    email = email.trim().toLowerCase();\n\n    if (seenEmails.has(email)) { stats.emailDuplicates++; continue; }\n    seenEmails.add(email);\n\n    const tierVal = parseTier(lead.tier);\n    if (tierFilter > 0) { if (tierVal !== tierFilter) { stats.tierSkip++; continue; } }\n    else { if (tierVal > MIN_TIER) { stats.tierSkip++; continue; } }\n    if (nicheFilter && !(lead.niche || '').toLowerCase().includes(nicheFilter)) { stats.nicheSkip++; continue; }\n    if (cityFilter && !(lead.city || '').toLowerCase().includes(cityFilter)) { stats.citySkip++; continue; }\n\n    eligible.push({ json: { ...lead, email, _action: action, _followup_number: fuNum, _existing_angle: oc.assigned_angle, _tier_value: tierVal, _config: config, _has_leads: true }});\n  }\n}\n\neligible.sort((a,b) => {\n  if (a.json._tier_value !== b.json._tier_value) return a.json._tier_value - b.json._tier_value;\n  return (parseFloat(b.json.score)||0) - (parseFloat(a.json.score)||0);\n});\n\nconst batch = eligible.slice(0, MAX_EMAILS);\nif (batch.length === 0) { return [{ json: { _has_leads: false, _stats: stats, _config: config } }]; }\nbatch[0].json._batch_stats = { total_eligible: eligible.length, processing: batch.length, email_duplicates_filtered: stats.emailDuplicates, ...stats };\nreturn batch;"
      },
      "id": "642b809b-d2ea-48a3-96e1-87b065a28f72",
      "name": "🔧 Filter Eligible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        64
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "658e7872-9dee-44a2-a656-6a2a9d8da18d",
      "name": "🔗 Merge Reads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1024,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.batch) staticData.batch = [];\n\nconst r = $input.first().json || {};\nstaticData.batch.push({\n  id: r.lead_id || '',\n  biz: r.business_name || r.email || 'SKIP',\n  email: r.email || '',\n  tier: r.tier || '-',\n  action: r._action || 'skip',\n  status: 'skipped',\n  motivo: r._motivo || 'skip',\n});\n\nreturn $input.all();"
      },
      "id": "36ae25c1-dc89-4903-a844-ff6d48af0fab",
      "name": "📝 Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 1622353451,
          "mode": "list",
          "cachedResultName": "email_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=1622353451"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "email_sent_date": "={{ $json.sent_timestamp }}",
            "subject": "={{ $json.email_subject }}",
            "variant": "={{ $json.email_variant }}",
            "delivery_status": "={{ $json.delivery_status }}",
            "reply_detected": "=false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_sent_date",
              "displayName": "email_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "variant",
              "displayName": "variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_detected",
              "displayName": "reply_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          },
          "useAppend": true
        }
      },
      "id": "fa399911-d094-482d-a418-6650179f345a",
      "name": "📊 Log email_log1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2688,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json || {};\nconst now = new Date().toISOString();\nreturn [{ json: {\n  lead_id: item.lead_id || '',\n  business_name: item.business_name || '',\n  email: item.email || '',\n  tier: item.tier || '',\n  city: item.city || '',\n  niche: item.niche || '',\n  action_type: item.action_type || '',\n  email_subject: item.email_subject || '',\n  email_variant: item.email_variant || '',\n  delivery_status: item.delivery_status || '',\n  gmail_id: item.gmail_id || '',\n  contacted_at: item.contacted_at || item.sent_timestamp || '',\n  moved_at: now,\n  followup_number: item.followup_number || 0,\n  assigned_angle: item.assigned_angle || '',\n  next_followup_date: item.next_followup_date || '',\n}}];"
      },
      "id": "54e87fcf-1fdf-4a88-9a9f-3397f36379c1",
      "name": "📦 Prep leads_procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads_procesados",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "business_name": "={{ $json.business_name }}",
            "email": "={{ $json.email }}",
            "tier": "={{ $json.tier }}",
            "city": "={{ $json.city }}",
            "niche": "={{ $json.niche }}",
            "action_type": "={{ $json.action_type }}",
            "email_subject": "={{ $json.email_subject }}",
            "email_variant": "={{ $json.email_variant }}",
            "delivery_status": "={{ $json.delivery_status }}",
            "gmail_id": "={{ $json.gmail_id }}",
            "contacted_at": "={{ $json.contacted_at }}",
            "moved_at": "={{ $json.moved_at }}",
            "followup_number": "={{ $json.followup_number }}",
            "assigned_angle": "={{ $json.assigned_angle }}",
            "next_followup_date": "={{ $json.next_followup_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_type",
              "displayName": "action_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_variant",
              "displayName": "email_variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_id",
              "displayName": "gmail_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted_at",
              "displayName": "contacted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moved_at",
              "displayName": "moved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_number",
              "displayName": "followup_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_angle",
              "displayName": "assigned_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_date",
              "displayName": "next_followup_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "0505688a-af43-4531-9da8-bf390bc73824",
      "name": "📊 Mover a leads_procesados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3584,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "contactado": "=TRUE",
            "fecha_proximo_correo": "={{ $json.next_followup_date || \"\" }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_primer_contacto",
              "displayName": "fecha_primer_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correos_enviados",
              "displayName": "correos_enviados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "etapa_secuencia",
              "displayName": "etapa_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respondio",
              "displayName": "respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_respuesta",
              "displayName": "tipo_respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ultimo_correo",
              "displayName": "fecha_ultimo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_proximo_correo",
              "displayName": "fecha_proximo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_investigacion",
              "displayName": "notas_investigacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "datos_destacables",
              "displayName": "datos_destacables",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tiene_email",
              "displayName": "tiene_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_valido",
              "displayName": "email_valido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "motivo_descarte",
              "displayName": "motivo_descarte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "3d073fb1-2446-426e-aa4d-cc7c6a945e84",
      "name": "📊 Log leads_master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 114365829,
          "mode": "list",
          "cachedResultName": "outreach_control",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=114365829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "contacted": "=true",
            "last_contact_date": "={{ $json.contacted_at || $json.sent_timestamp || \"\" }}",
            "followup_count": "={{ $json.followup_number || 0 }}",
            "response_status": "={{ $json.delivery_status === \"sent\" ? \"awaiting\" : $json.delivery_status }}",
            "next_followup_date": "={{ $json.next_followup_date || \"\" }}",
            "assigned_angle": "={{ $json.assigned_angle || \"\" }}",
            "email": "={{ $json.email || \"\" }}",
            "business_name": "={{ $json.business_name || \"\" }}",
            "tier": "={{ $json.tier || \"\" }}",
            "niche": "={{ $json.niche || \"\" }}",
            "city": "={{ $json.city || \"\" }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_contact_date",
              "displayName": "last_contact_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_count",
              "displayName": "followup_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_status",
              "displayName": "response_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_date",
              "displayName": "next_followup_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_angle",
              "displayName": "assigned_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "aeff95b8-42d4-484f-994f-f034fe33b606",
      "name": "📊 Update outreach_control1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3136,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "91f3d6a5-4100-480f-aabe-0d79ecaca49e",
      "name": "📋 Read for Dedup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1472,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ═══ 🔍 FIND DUPLICATES v1.0 ═══════════════════════════════════════════════\n// Agrupa por email normalizado y por lead_id.\n// Conserva el de mayor score; el resto son duplicados.\n// Retorna los duplicados ordenados DESC por _row_number\n// para que la eliminación posterior sea de abajo hacia arriba (sin desplazamiento).\n\nconst all = $input.all().map((item, idx) => ({\n  ...item.json,\n  _row_number: idx + 2   // fila 1 = encabezado, datos desde fila 2\n}));\n\nconst dupRowNums = new Set();\nconst duplicates = [];\n\n// ── Por email ──────────────────────────────────────────────────────────────\nconst byEmail = new Map();\nfor (const row of all) {\n  const email = (row.email || '').trim().toLowerCase();\n  if (!email || email === 'n/a' || !email.includes('@')) continue;\n  if (!byEmail.has(email)) byEmail.set(email, []);\n  byEmail.get(email).push(row);\n}\nfor (const [, group] of byEmail) {\n  if (group.length <= 1) continue;\n  group.sort((a,b) => (parseFloat(b.score)||0) - (parseFloat(a.score)||0));\n  for (let i = 1; i < group.length; i++) {\n    if (!dupRowNums.has(group[i]._row_number)) {\n      dupRowNums.add(group[i]._row_number);\n      duplicates.push({ ...group[i], motivo_descarte: 'duplicado_email' });\n    }\n  }\n}\n\n// ── Por lead_id ────────────────────────────────────────────────────────────\nconst byId = new Map();\nfor (const row of all) {\n  const id = (row.lead_id || '').toString().trim();\n  if (!id) continue;\n  if (!byId.has(id)) byId.set(id, []);\n  byId.get(id).push(row);\n}\nfor (const [, group] of byId) {\n  if (group.length <= 1) continue;\n  group.sort((a,b) => (parseFloat(b.score)||0) - (parseFloat(a.score)||0));\n  for (let i = 1; i < group.length; i++) {\n    if (!dupRowNums.has(group[i]._row_number)) {\n      dupRowNums.add(group[i]._row_number);\n      duplicates.push({ ...group[i], motivo_descarte: 'duplicado_lead_id' });\n    }\n  }\n}\n\nif (duplicates.length === 0) {\n  return [{ json: {\n    _has_duplicates: false,\n    _total_leads: all.length,\n    _duplicates_found: 0\n  }}];\n}\n\n// CRÍTICO: ordenar DESC para borrar de abajo hacia arriba sin desplazamiento\nduplicates.sort((a,b) => b._row_number - a._row_number);\n\nconst summary = {\n  _has_duplicates: true,\n  _total_leads: all.length,\n  _duplicates_found: duplicates.length\n};\n\nreturn duplicates.map(d => ({ json: { ...d, ...summary } }));\n"
      },
      "id": "c10e6211-bd40-44cc-8298-eb03d203c39a",
      "name": "🔍 Find Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-dups-check",
              "leftValue": "={{ $json._has_duplicates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9992bf1a-9118-42db-bc22-3b08c31bed36",
      "name": "❓ Has Dups?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1024,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst total = $input.first().json._total_leads || 0;\nconst text = `✅ *Sin duplicados*\\n\\n📋 Total leads en la hoja: ${total}\\n\\nTodos los registros son únicos. No se movió nada.`;\nreturn [{ json: { textResponse: text, toolResponse: `Sin duplicados. ${total} leads únicos.` } }];\n"
      },
      "id": "bddd9ed4-596d-43a7-b4a1-78ce5de2626d",
      "name": "⚡ Sin Duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Prepara cada duplicado para ser insertado en leads_procesados con todos los campos\nconst d = $input.item.json;\nconst now = new Date().toISOString();\nreturn [{ json: {\n  lead_id:              d.lead_id              || '',\n  business_name:        d.business_name        || '',\n  email:                d.email                || '',\n  phone:                d.phone                || '',\n  website:              d.website              || '',\n  instagram:            d.instagram            || '',\n  rating:               d.rating               || '',\n  reviews_count:        d.reviews_count        || '',\n  score:                d.score                || '',\n  tier:                 d.tier                 || '',\n  city:                 d.city                 || '',\n  niche:                d.niche                || '',\n  source:               d.source               || '',\n  created_at:           d.created_at           || '',\n  contactado:           d.contactado           || '',\n  fecha_primer_contacto:d.fecha_primer_contacto|| '',\n  correos_enviados:     d.correos_enviados      || '',\n  etapa_secuencia:      d.etapa_secuencia      || '',\n  respondio:            d.respondio            || '',\n  tipo_respuesta:       d.tipo_respuesta       || '',\n  fecha_ultimo_correo:  d.fecha_ultimo_correo  || '',\n  fecha_proximo_correo: d.fecha_proximo_correo || '',\n  notas_investigacion:  d.notas_investigacion  || '',\n  datos_destacables:    d.datos_destacables    || '',\n  tiene_email:          d.tiene_email          || '',\n  email_valido:         d.email_valido         || '',\n  prioridad:            d.prioridad            || '',\n  motivo_descarte:      d.motivo_descarte      || 'duplicado',\n  // campos de trazabilidad\n  _moved_at:            now,\n  _row_number:          d._row_number          || 0\n}}];\n"
      },
      "id": "bb4322ab-b89f-4bc5-b8a0-beeeef39db27",
      "name": "📦 Prep Dups → procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        768
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads_procesados",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "business_name": "={{ $json.business_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "website": "={{ $json.website }}",
            "instagram": "={{ $json.instagram }}",
            "rating": "={{ $json.rating }}",
            "reviews_count": "={{ $json.reviews_count }}",
            "score": "={{ $json.score }}",
            "tier": "={{ $json.tier }}",
            "city": "={{ $json.city }}",
            "niche": "={{ $json.niche }}",
            "source": "={{ $json.source }}",
            "created_at": "={{ $json.created_at }}",
            "contactado": "={{ $json.contactado }}",
            "fecha_primer_contacto": "={{ $json.fecha_primer_contacto }}",
            "correos_enviados": "={{ $json.correos_enviados }}",
            "etapa_secuencia": "={{ $json.etapa_secuencia }}",
            "respondio": "={{ $json.respondio }}",
            "tipo_respuesta": "={{ $json.tipo_respuesta }}",
            "fecha_ultimo_correo": "={{ $json.fecha_ultimo_correo }}",
            "fecha_proximo_correo": "={{ $json.fecha_proximo_correo }}",
            "notas_investigacion": "={{ $json.notas_investigacion }}",
            "datos_destacables": "={{ $json.datos_destacables }}",
            "tiene_email": "={{ $json.tiene_email }}",
            "email_valido": "={{ $json.email_valido }}",
            "prioridad": "={{ $json.prioridad }}",
            "motivo_descarte": "={{ $json.motivo_descarte }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_primer_contacto",
              "displayName": "fecha_primer_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correos_enviados",
              "displayName": "correos_enviados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etapa_secuencia",
              "displayName": "etapa_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respondio",
              "displayName": "respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_respuesta",
              "displayName": "tipo_respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ultimo_correo",
              "displayName": "fecha_ultimo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_proximo_correo",
              "displayName": "fecha_proximo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_investigacion",
              "displayName": "notas_investigacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_destacables",
              "displayName": "datos_destacables",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tiene_email",
              "displayName": "tiene_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_valido",
              "displayName": "email_valido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_descarte",
              "displayName": "motivo_descarte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "4268f143-dc26-4a3e-9e73-93107dd7f5ac",
      "name": "📊 Append Dups → leads_procesados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -576,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nova_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "startIndex": "={{ $json._row_number - 1 }}"
      },
      "id": "ffc4ba1b-64b5-4775-aa68-6b2d9d6155fc",
      "name": "🗑️ Delete Dup from leads_master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst items  = $input.all();\nconst first  = items[0]?.json || {};\nconst total  = first._total_leads      || '?';\nconst found  = first._duplicates_found || items.length;\nconst kept   = (parseInt(total)||0) - (parseInt(found)||0);\nconst text   = `🧹 *Limpieza completada*\\n\\n` +\n               `📋 Total leads procesados: ${total}\\n` +\n               `🔁 Duplicados encontrados: ${found}\\n` +\n               `✅ Leads únicos que quedan: ${kept}\\n\\n` +\n               `Los duplicados fueron movidos a *leads_procesados* y borrados de *leads_master*.\\n` +\n               `La próxima ejecución de outreach solo verá leads únicos.`;\nreturn [{ json: { textResponse: text, toolResponse: `${found} duplicados removidos. ${kept} leads únicos en leads_master.` }}];\n"
      },
      "id": "ab8af0b7-7ee9-4de9-a161-6f0ea3a86350",
      "name": "📢 Dedup Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const emailData = $input.first().json;\nconst recipient = String(emailData.email || emailData.send_to || '').trim().toLowerCase();\nif (!recipient || !recipient.includes('@')) {\n  throw new Error('Missing recipient email for Gmail duplicate check.');\n}\nconst query = `in:sent to:${recipient}`;\nreturn [{ json: { ...emailData, gmail_duplicate_query: query, recipient_email_normalized: recipient } }];"
      },
      "id": "7821d8af-2158-4de3-90d5-a911901ac6ad",
      "name": "🔎 Build Gmail Sent Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        736
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "q": "={{ $json.gmail_duplicate_query }}"
        }
      },
      "id": "52aa3659-971c-42ad-a3f4-0b4e2154ff4d",
      "name": "📬 Search Sent Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        736
      ],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('🔎 Build Gmail Sent Query').first().json;\nconst matches = $input.all().map(item => item.json || {}).filter(item => item.id);\nconst first = matches[0] || {};\nreturn [{ json: { ...source, _gmail_duplicate_found: matches.length > 0, _gmail_duplicate_count: matches.length, _gmail_duplicate_first_id: first.id || '', _gmail_duplicate_first_subject: first.subject || '', _gmail_duplicate_first_date: first.internalDate || first.date || '' } }];"
      },
      "id": "3d00d54e-db61-427f-b27a-1300fd46689c",
      "name": "🧮 Analyze Gmail Sent Matches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gmail-duplicate-found",
              "leftValue": "={{ $json._gmail_duplicate_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85109793-a4b4-4bb8-a728-83d3d717f43f",
      "name": "❌ Already Sent In Gmail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2560,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json || {};\nconst now = new Date().toISOString();\nconst lastSent = lead._gmail_last_sent_at || now;\nreturn [{ json: {\n  ...lead,\n  action_type: lead.action_type || 'send_email_skipped',\n  delivery_status: 'skipped_duplicate_gmail',\n  contacted_at: lastSent,\n  sent_timestamp: lastSent,\n  gmail_id: lead._gmail_first_match_id || null,\n  next_followup_date: '',\n  _skip: true,\n  _motivo: `duplicate_gmail_sent:${lead._gmail_duplicate_count || 1}`,\n} }];"
      },
      "id": "b5a2a917-3f5c-46c8-b7b7-f89252ae03cf",
      "name": "🛑 Prepare Gmail Duplicate Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "scheduled-run-check",
              "leftValue": "={{ $json._source || \"manual\" }}",
              "rightValue": "schedule",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2236,
        64
      ],
      "id": "46ba1d20-52fd-48a3-8fe9-26711fbfdcb8",
      "name": "🧭 Scheduled Run?"
    },
    {
      "parameters": {
        "jsCode": "// ═══ 🧱 SCHEDULED BRIDGE v2 — Melissa outreach lane ═══\n\nlet directQuantity = 0;\ntry { directQuantity = parseInt($('📦 Schedule Input').first().json.direct_quantity) || 0; } catch (e) {}\nconst defaultBatch = 20;\nconst effectiveMax = directQuantity > 0 ? Math.min(directQuantity, 2000) : defaultBatch;\nconst publicAppUrl = 'http://54.160.79.60:3005';\nconst demoLink = 'https://wa.me/573236263207?text=Hola%20Melissa%2C%20quiero%20ver%20la%20demo.';\n\nreturn [{ json: {\n  action: 'send_outreach',\n  quantity: directQuantity,\n  effective_max: effectiveMax,\n  tier_filter: '',\n  niche_filter: '',\n  city_filter: '',\n  only_followups: false,\n  only_new: true,\n  intent_description: 'scheduled_daily_send',\n  chatId: '',\n  _entry_mode: 'schedule',\n  _qty_source: directQuantity > 0 ? 'schedule_override' : 'schedule_default',\n  config: {\n    brand_name: 'Nova',\n    brand_home_url: publicAppUrl,\n    brand_logo_url: 'https://i.ibb.co/k6cRWdDJ/White-New-Nova-Isotipo.png',\n    brand_logo_light_url: 'https://i.ibb.co/k6cRWdDJ/White-New-Nova-Isotipo.png',\n    website_url: publicAppUrl,\n    sheet_id: '1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA',\n    sender_name: 'Santiago Rubio',\n    sender_title: 'Founder · Nova',\n    sender_phone: '+57 312 434 8669',\n    whatsapp_link: demoLink,\n    max_emails_per_run: effectiveMax,\n    schedule_batch_size: defaultBatch,\n    max_followups: 2,\n    followup_delay_days: 3,\n    min_tier: 3,\n    daily_send_hour: '09:00',\n    timezone: 'America/Bogota',\n    personalization_mode: 'deterministic',\n    dedupe_mode: 'gmail_sent_plus_sheet',\n    message_mode: 'simple_melissa_demo',\n    service_name: 'Melissa',\n    service_pitch: 'responde WhatsApp como parte del equipo y ayuda a convertir conversaciones en citas reales.',\n    offer_text: 'Le estoy compartiendo una demo simple de Melissa para que vea cómo conversa por WhatsApp sin sentirse como un bot rígido.',\n    cta_text: 'Si quiere verla en vivo, abra este enlace y escríbale directamente.',\n    close_text: 'Si le interesa, luego le muestro cómo se adapta a su operación.',\n    demo_cta_text: 'Conocer a Melissa',\n    demo_link_label: 'Abrir WhatsApp demo',\n    use_real_company_data: true,\n    use_ai_only_when_needed: false,\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        -56
      ],
      "id": "5daa9616-4bc0-4ff6-9a2d-d8b36b261cca",
      "name": "🧱 Scheduled Bridge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ai-personalization-check",
              "leftValue": "={{ $json._config.personalization_mode || \"deterministic\" }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        570,
        96
      ],
      "id": "707380be-cec5-42d5-8215-54c39f327f13",
      "name": "🧭 AI Personalization?"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Envia 100 correos"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Schedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router": {
      "main": [
        [
          {
            "node": "📋 Read Leads Master",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Read Outreach Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Report1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Stats": {
      "main": [
        [
          {
            "node": "📊 Calc Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Calc Stats": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Preview": {
      "main": [
        [
          {
            "node": "🔍 Preview Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Report1": {
      "main": [
        [
          {
            "node": "📊 Gen Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Gen Report": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily 9AM": {
      "main": [
        [
          {
            "node": "📦 Schedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Schedule Input": {
      "main": [
        [
          {
            "node": "🧭 Scheduled Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Outreach Classifier": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Leads Master": {
      "main": [
        [
          {
            "node": "🔽 No Contactados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Leads?": {
      "main": [
        [
          {
            "node": "⚡ Respuesta Rápida",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Outreach Control": {
      "main": [
        [
          {
            "node": "🔗 Merge Reads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "⚡ Respuesta Rápida": {
      "main": [
        [
          {
            "node": "📤 OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 OUTPUT": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Email Send Loop": {
      "main": [
        [
          {
            "node": "📊 Summary Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛡️ Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "⏱️ Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Throttle": {
      "main": [
        [
          {
            "node": "✅ Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check Result": {
      "main": [
        [
          {
            "node": "📊 Log email_log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Accumulate": {
      "main": [
        [
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Summary Report": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Dedup Check": {
      "main": [
        [
          {
            "node": "❓ Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Skip?": {
      "main": [
        [
          {
            "node": "📝 Log Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Research Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Skip": {
      "main": [
        [
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Research Lead": {
      "main": [
        [
          {
            "node": "🧭 AI Personalization?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Email Personalizer": {
      "main": [
        [
          {
            "node": "📝 Email Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Email Assembler": {
      "main": [
        [
          {
            "node": "🎨 HTML Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 HTML Builder": {
      "main": [
        [
          {
            "node": "🔎 Build Gmail Sent Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔽 No Contactados": {
      "main": [
        [
          {
            "node": "🔗 Merge Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Filter Eligible": {
      "main": [
        [
          {
            "node": "❓ Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Reads": {
      "main": [
        [
          {
            "node": "🔧 Filter Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log email_log1": {
      "main": [
        [
          {
            "node": "📊 Log leads_master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Mover a leads_procesados": {
      "main": [
        [
          {
            "node": "📈 Accumulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep leads_procesados": {
      "main": [
        [
          {
            "node": "📊 Mover a leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log leads_master": {
      "main": [
        [
          {
            "node": "📊 Update outreach_control1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update outreach_control1": {
      "main": [
        [
          {
            "node": "📦 Prep leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Dedup": {
      "main": [
        [
          {
            "node": "🔍 Find Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find Duplicates": {
      "main": [
        [
          {
            "node": "❓ Has Dups?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Dups?": {
      "main": [
        [
          {
            "node": "📦 Prep Dups → procesados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ Sin Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Sin Duplicados": {
      "main": [
        [
          {
            "node": "📢 Dedup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep Dups → procesados": {
      "main": [
        [
          {
            "node": "📊 Append Dups → leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Append Dups → leads_procesados": {
      "main": [
        [
          {
            "node": "🗑️ Delete Dup from leads_master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Delete Dup from leads_master": {
      "main": [
        [
          {
            "node": "📢 Dedup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Dedup Done": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Build Gmail Sent Query": {
      "main": [
        [
          {
            "node": "📬 Search Sent Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📬 Search Sent Gmail": {
      "main": [
        [
          {
            "node": "🧮 Analyze Gmail Sent Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Analyze Gmail Sent Matches": {
      "main": [
        [
          {
            "node": "❌ Already Sent In Gmail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Already Sent In Gmail?": {
      "main": [
        [
          {
            "node": "🛑 Prepare Gmail Duplicate Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 Prepare Gmail Duplicate Skip": {
      "main": [
        [
          {
            "node": "📝 Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧭 Scheduled Run?": {
      "main": [
        [
          {
            "node": "🧱 Scheduled Bridge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧠 Outreach Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧱 Scheduled Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧭 AI Personalization?": {
      "main": [
        [
          {
            "node": "✍️ Email Personalizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Email Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timezone": "America/Bogota"
  },
  "versionId": "a2a10996-0e0d-4009-b77d-e25435c3f968",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "S5U-InyurlAZCNkpoGJZT",
  "tags": [],
  "description": "Production-hardened Nova outreach workflow with deterministic scheduled sending, real Gmail Sent duplicate blocking, and Nova governance."
}