home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER SYSTEM/XUS Reports v1.0.json
{
  "name": "XUS Reports v1.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        320,
        464
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 6"
            }
          ]
        }
      },
      "id": "827a33b2-9416-48f3-b5e4-b2ad7796c65a",
      "name": "⏰ Sábado 9PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 📦 INPUT & DATE PARSER v2.0 ═══\n// Soporta: \"ayer\", \"el lunes\", \"15 de febrero\", \"semana pasada\", etc.\n\nlet query = 'genera el reporte semanal automático';\nlet chatId = '6908159885';\nlet source = 'schedule';\n\ntry {\n  const trigger = $('When Executed by Another Workflow').first().json;\n  if (trigger && (trigger.query || trigger.message)) {\n    query = trigger.query || trigger.message?.text || trigger.message || query;\n    chatId = trigger.chatId || trigger.message?.chat?.id || chatId;\n    source = 'manual';\n  }\n} catch(e) {}\n\nconst now = new Date(new Date().toLocaleString('en-US', {timeZone: 'America/Bogota'}));\nconst monthNames = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst dayNames = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n\n// ═══ PARSER DE FECHAS EN LENGUAJE NATURAL ═══\nconst q = query.toLowerCase();\nlet targetDate = new Date(now);\nlet periodType = 'today';\nlet customStart = null;\nlet customEnd = null;\n\n// \"ayer\" / \"yesterday\"\nif (q.includes('ayer') || q.includes('yesterday')) {\n  targetDate.setDate(now.getDate() - 1);\n  periodType = 'specific_day';\n}\n// \"anteayer\" / \"hace 2 días\"\nelse if (q.includes('anteayer') || q.includes('hace 2 día')) {\n  targetDate.setDate(now.getDate() - 2);\n  periodType = 'specific_day';\n}\n// \"el lunes\", \"el martes\", etc.\nelse if (q.match(/\\b(el |del )?(lunes|martes|miércoles|miercoles|jueves|viernes|sábado|sabado|domingo)\\b/)) {\n  const dayMatch = q.match(/(lunes|martes|miércoles|miercoles|jueves|viernes|sábado|sabado|domingo)/);\n  if (dayMatch) {\n    const targetDayName = dayMatch[1].replace('miercoles','miércoles').replace('sabado','sábado');\n    const targetDayIndex = dayNames.indexOf(targetDayName);\n    const currentDay = now.getDay();\n    let diff = currentDay - targetDayIndex;\n    if (diff <= 0) diff += 7; // Si es hoy o futuro, ir a la semana pasada\n    targetDate.setDate(now.getDate() - diff);\n    periodType = 'specific_day';\n  }\n}\n// \"hace X días\"\nelse if (q.match(/hace (\\d+) día/)) {\n  const m = q.match(/hace (\\d+) día/);\n  targetDate.setDate(now.getDate() - parseInt(m[1]));\n  periodType = 'specific_day';\n}\n// \"15 de febrero\", \"febrero 15\", \"15/02\"\nelse if (q.match(/(\\d{1,2})\\s*(de\\s+)?(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)/i)) {\n  const m = q.match(/(\\d{1,2})\\s*(de\\s+)?(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)/i);\n  const day = parseInt(m[1]);\n  const monthName = m[3].toLowerCase();\n  const monthIndex = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'].indexOf(monthName);\n  targetDate = new Date(now.getFullYear(), monthIndex, day);\n  if (targetDate > now) targetDate.setFullYear(now.getFullYear() - 1); // Si es futuro, año pasado\n  periodType = 'specific_day';\n}\n// \"semana pasada\" / \"la semana anterior\"\nelse if (q.includes('semana pasada') || q.includes('semana anterior')) {\n  const dayOfWeek = now.getDay() || 7;\n  const lastMonday = new Date(now);\n  lastMonday.setDate(now.getDate() - dayOfWeek - 6);\n  const lastSunday = new Date(lastMonday);\n  lastSunday.setDate(lastMonday.getDate() + 6);\n  customStart = lastMonday.toISOString().split('T')[0];\n  customEnd = lastSunday.toISOString().split('T')[0];\n  periodType = 'week';\n}\n// \"mes pasado\" / \"mes anterior\" / \"febrero\" (mes específico)\nelse if (q.includes('mes pasado') || q.includes('mes anterior')) {\n  const lastMonth = new Date(now.getFullYear(), now.getMonth() - 1, 1);\n  const lastMonthEnd = new Date(now.getFullYear(), now.getMonth(), 0);\n  customStart = lastMonth.toISOString().split('T')[0];\n  customEnd = lastMonthEnd.toISOString().split('T')[0];\n  targetDate = lastMonth;\n  periodType = 'month';\n}\n// \"de febrero\" / \"en marzo\" (mes específico)\nelse if (q.match(/\\b(de |en )?(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)\\b/i) && !q.match(/\\d{1,2}/)) {\n  const m = q.match(/(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)/i);\n  const monthName = m[1].toLowerCase();\n  const monthIndex = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'].indexOf(monthName);\n  let year = now.getFullYear();\n  if (monthIndex > now.getMonth()) year--; // Si es mes futuro, año pasado\n  targetDate = new Date(year, monthIndex, 1);\n  customStart = new Date(year, monthIndex, 1).toISOString().split('T')[0];\n  customEnd = new Date(year, monthIndex + 1, 0).toISOString().split('T')[0];\n  periodType = 'month';\n}\n// \"esta semana\" / \"semanal\"\nelse if (q.includes('esta semana') || q.includes('semanal') || q.includes('de la semana')) {\n  periodType = 'week';\n}\n// \"este mes\" / \"mensual\"\nelse if (q.includes('este mes') || q.includes('mensual') || q.includes('del mes')) {\n  periodType = 'month';\n}\n// \"hoy\"\nelse if (q.includes('hoy') || q.includes('de hoy')) {\n  periodType = 'specific_day';\n}\n\n// ═══ CALCULAR RANGOS ═══\nconst targetMonth = targetDate.getMonth();\nconst targetYear = targetDate.getFullYear();\nconst monthSheet = monthNames[targetMonth];\n\n// Rango del mes target\nconst firstDayOfMonth = new Date(targetYear, targetMonth, 1).toISOString().split('T')[0];\nconst lastDayOfMonth = new Date(targetYear, targetMonth + 1, 0).toISOString().split('T')[0];\n\n// Rango de la semana actual\nconst dayOfWeek = now.getDay() || 7;\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - dayOfWeek + 1);\n\n// Para días específicos\nconst specificDay = targetDate.toISOString().split('T')[0];\n\n// Period label\nlet periodLabel = '';\nif (periodType === 'specific_day') {\n  periodLabel = `${targetDate.getDate()} de ${monthNames[targetMonth]} ${targetYear}`;\n} else if (periodType === 'week') {\n  periodLabel = `Semana del ${customStart || monday.toISOString().split('T')[0]}`;\n} else {\n  periodLabel = `${monthSheet} ${targetYear}`;\n}\n\nreturn [{ json: {\n  query, chatId, source,\n  periodType,\n  targetDate: targetDate.toISOString(),\n  specificDay,\n  monthSheet,\n  monthName: monthSheet,\n  year: targetYear,\n  day: targetDate.getDate(),\n  periodMonth: `${monthSheet} ${targetYear}`,\n  periodLabel,\n  firstDayOfMonth,\n  lastDayOfMonth,\n  weekStart: customStart || monday.toISOString().split('T')[0],\n  weekEnd: customEnd || now.toISOString().split('T')[0],\n  customStart,\n  customEnd,\n  todayStr: now.toISOString().split('T')[0],\n  reportTimestamp: now.toISOString(),\n  _parsed: { periodType, targetDate: targetDate.toISOString(), query }\n}}];"
      },
      "id": "e4d60ab4-c749-46df-8674-aa59198bd420",
      "name": "📦 Input & Date Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'CONTEXTO: ' + JSON.stringify($json) + '\\n\\nSOLICITUD: ' + $json.query }}",
        "options": {
          "systemMessage": "Eres el clasificador del sistema de reportes de XUS. Determina qué tipo de reporte quiere Santiago.\n\nRESPONDE SOLO JSON PURO. Sin ```. Primera { última }\n\nYa se parseó la fecha, usa periodType del contexto.\n\nTIPOS:\n- \"diario\" → reporte de un día específico (periodType: specific_day)\n- \"semanal\" → reporte de la semana (periodType: week)\n- \"mensual\" → reporte del mes (periodType: month)\n- \"automatico\" → si viene de schedule, siempre \"semanal\"\n\nOUTPUT:\n{\n  \"report_type\": \"diario|semanal|mensual\",\n  \"period_label\": \"usar periodLabel del contexto\",\n  \"include_habits\": true,\n  \"include_outreach\": true,\n  \"include_projections\": true,\n  \"tone\": \"ejecutivo\",\n  \"urgency\": \"normal\"\n}"
        }
      },
      "id": "5920512e-e9b2-404a-b3ac-ee49494c867c",
      "name": "🧠 Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json;\nconst ctx = $('📦 Input & Date Parser').first().json;\n\nlet ai = {};\ntry {\n  let text = aiRaw.output || aiRaw.text || '';\n  if (typeof text !== 'string') text = JSON.stringify(text);\n  text = text.replace(/```json\\s*/gi,'').replace(/```\\s*/gi,'').trim();\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) ai = JSON.parse(m[0]);\n} catch(e) {\n  ai = { report_type: ctx.periodType === 'specific_day' ? 'diario' : ctx.periodType === 'week' ? 'semanal' : 'mensual' };\n}\n\n// Determinar tipo basado en periodType parseado\nlet reportType = ai.report_type || 'semanal';\nif (ctx.source === 'schedule') reportType = 'semanal';\nelse if (ctx.periodType === 'specific_day') reportType = 'diario';\nelse if (ctx.periodType === 'week') reportType = 'semanal';\nelse if (ctx.periodType === 'month') reportType = 'mensual';\n\nreturn [{ json: { ...ctx, ...ai, report_type: reportType } }];"
      },
      "id": "6fffcd27-8575-4f2d-8548-2c8be63dcebf",
      "name": "🔗 Config Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        560
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.monthSheet }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "339b96eb-6032-4053-9adb-724c8e25dfea",
      "name": "📊 Read Habits",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "08f88c82-650d-463e-a4d8-8bbde1859da6",
      "name": "📊 Read Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "email_log",
          "mode": "list",
          "cachedResultName": "email_log"
        },
        "options": {}
      },
      "id": "cf25c708-6de7-4a41-9b9d-c06cc0f391d7",
      "name": "📊 Read Email Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "114365829",
          "mode": "list",
          "cachedResultName": "outreach_control"
        },
        "options": {}
      },
      "id": "3a1f6a72-49c4-4291-87f2-66f2eb4bfcc3",
      "name": "📊 Read Outreach Control",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// ANALYSIS ENGINE v3.0 — EXTRACCION COMPLETA\n// ═══════════════════════════════════════════════════════════════\n\nconst config = $('🔗 Config Bridge').first().json;\n\nlet habitsRaw = [], leadsRaw = [], emailLogRaw = [], controlRaw = [];\ntry { habitsRaw = $('📊 Read Habits').all().map(i => i.json); } catch(e) {}\ntry { leadsRaw = $('📊 Read Leads').all().map(i => i.json); } catch(e) {}\ntry { emailLogRaw = $('📊 Read Email Log').all().map(i => i.json); } catch(e) {}\ntry { controlRaw = $('📊 Read Outreach Control').all().map(i => i.json); } catch(e) {}\n\nconst now = new Date(new Date().toLocaleString('en-US', {timeZone: 'America/Bogota'}));\nconst meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst diasSemana = ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'];\nconst reportType = config.report_type || 'semanal';\n\n// ═══ PERIODO ═══\nlet periodStart, periodEnd, daysToAnalyze;\n\nif (reportType === 'diario' && config.specificDay) {\n  periodStart = new Date(config.specificDay + 'T00:00:00');\n  periodEnd = new Date(config.specificDay + 'T23:59:59');\n  daysToAnalyze = [periodStart.getDate()];\n} else if (reportType === 'semanal') {\n  periodStart = new Date((config.weekStart || config.customStart) + 'T00:00:00');\n  periodEnd = new Date((config.weekEnd || config.customEnd) + 'T23:59:59');\n  daysToAnalyze = [];\n  const temp = new Date(periodStart);\n  while (temp <= periodEnd) {\n    daysToAnalyze.push(temp.getDate());\n    temp.setDate(temp.getDate() + 1);\n  }\n} else {\n  periodStart = new Date(config.firstDayOfMonth + 'T00:00:00');\n  periodEnd = new Date(config.lastDayOfMonth + 'T23:59:59');\n  const maxDay = Math.min(now.getDate(), new Date(config.lastDayOfMonth).getDate());\n  daysToAnalyze = Array.from({length: maxDay}, (_, i) => i + 1);\n}\n\nconst daysElapsed = daysToAnalyze.length;\nconst targetMonth = new Date(config.targetDate || now).getMonth();\nconst targetYear = new Date(config.targetDate || now).getFullYear();\n\n// Periodo legible\nlet periodoCompleto = config.periodLabel || '';\nif (reportType === 'semanal' && config.weekStart) {\n  const ws = new Date(config.weekStart + 'T12:00:00');\n  const we = new Date((config.weekEnd || config.customEnd || config.weekStart) + 'T12:00:00');\n  const ms = meses[ws.getMonth()];\n  const me = meses[we.getMonth()];\n  periodoCompleto = ms === me\n    ? `${ws.getDate()} - ${we.getDate()} de ${ms} de ${ws.getFullYear()}`\n    : `${ws.getDate()} de ${ms} - ${we.getDate()} de ${me} de ${we.getFullYear()}`;\n} else if (reportType === 'mensual') {\n  periodoCompleto = `${meses[targetMonth]} ${targetYear}`;\n} else if (reportType === 'diario' && config.specificDay) {\n  const sd = new Date(config.specificDay + 'T12:00:00');\n  periodoCompleto = `${diasSemana[sd.getDay()]}, ${sd.getDate()} de ${meses[sd.getMonth()]} de ${sd.getFullYear()}`;\n}\n\n// ═══════════════════════════════════════════════════════════════\n// HABITOS — EXTRACCION PROFUNDA\n// ═══════════════════════════════════════════════════════════════\nconst dailyCompletion = {};\nlet totalHabitSlots = 0, totalHabitDone = 0;\nconst habitStats = {};\nconst habitsByDay = {}; // dia -> [{name, done}]\n\nfor (const row of habitsRaw) {\n  if (!row) continue;\n  const keys = Object.keys(row);\n  const nameKey = keys.find(k => ['B','col_2','HÁBITO','Habito','Habit'].includes(k));\n  const habitName = nameKey ? String(row[nameKey] || '').trim() : '';\n  if (!habitName || habitName.length < 2) continue;\n  \n  if (!habitStats[habitName]) habitStats[habitName] = {done: 0, total: 0, dailyDetail: []};\n\n  for (const d of daysToAnalyze) {\n    const dayKey = keys.find(k => k.trim() === String(d));\n    if (!dayKey) continue;\n    const val = String(row[dayKey] || '').toUpperCase().trim();\n    const isDone = ['TRUE','1','SI','VERDADERO','✓','X','YES'].includes(val);\n    \n    habitStats[habitName].total++;\n    if (isDone) habitStats[habitName].done++;\n    habitStats[habitName].dailyDetail.push({day: d, done: isDone});\n    \n    if (!dailyCompletion[d]) dailyCompletion[d] = {done: 0, total: 0};\n    dailyCompletion[d].total++;\n    if (isDone) dailyCompletion[d].done++;\n    \n    if (!habitsByDay[d]) habitsByDay[d] = [];\n    habitsByDay[d].push({name: habitName, done: isDone});\n    \n    totalHabitSlots++;\n    if (isDone) totalHabitDone++;\n  }\n}\n\n// Porcentajes por habito\nfor (const [name, s] of Object.entries(habitStats)) {\n  s.pct = s.total > 0 ? Math.round((s.done / s.total) * 100) : 0;\n}\n\n// Top y bottom habitos\nconst habitList = Object.entries(habitStats)\n  .map(([name, s]) => ({name, done: s.done, total: s.total, pct: s.pct}))\n  .sort((a,b) => b.pct - a.pct);\n\nconst top5Habits = habitList.slice(0, 5);\nconst bottom5Habits = habitList.filter(h => h.total > 0).slice(-5).reverse();\nconst topHabit = habitList[0] || {name: 'N/A', pct: 0};\nconst bottomHabit = habitList.filter(h => h.total > 0).pop() || {name: 'N/A', pct: 100};\n\n// Habitos perfectos (100%) y habitos en 0%\nconst perfectHabits = habitList.filter(h => h.pct === 100);\nconst zeroHabits = habitList.filter(h => h.pct === 0 && h.total > 0);\nconst criticalHabits = habitList.filter(h => h.pct > 0 && h.pct < 30 && h.total > 0);\n\n// Mejor y peor dia\nlet bestDay = {day: 0, pct: 0, done: 0, total: 0};\nlet worstDay = {day: 0, pct: 100, done: 0, total: 0};\nconst dailyPctArray = [];\n\nfor (const [d, data] of Object.entries(dailyCompletion)) {\n  const pct = data.total > 0 ? Math.round((data.done / data.total) * 100) : 0;\n  dailyPctArray.push({day: parseInt(d), pct, done: data.done, total: data.total});\n  if (pct > bestDay.pct) bestDay = {day: parseInt(d), pct, done: data.done, total: data.total};\n  if (pct < worstDay.pct && data.total > 0) worstDay = {day: parseInt(d), pct, done: data.done, total: data.total};\n}\n\n// Dias perfectos (100%) y dias en 0%\nconst perfectDays = dailyPctArray.filter(d => d.pct === 100);\nconst zeroDays = dailyPctArray.filter(d => d.pct === 0);\nconst abovePct70 = dailyPctArray.filter(d => d.pct >= 70);\nconst belowPct50 = dailyPctArray.filter(d => d.pct < 50);\n\n// Promedio diario\nconst avgDailyPct = dailyPctArray.length > 0\n  ? Math.round(dailyPctArray.reduce((s,d) => s + d.pct, 0) / dailyPctArray.length)\n  : 0;\n\n// Tendencia (primera mitad vs segunda mitad)\nconst mid = Math.floor(dailyPctArray.length / 2);\nconst firstHalf = dailyPctArray.slice(0, mid);\nconst secondHalf = dailyPctArray.slice(mid);\nconst avgFirst = firstHalf.length > 0 ? Math.round(firstHalf.reduce((s,d) => s+d.pct,0)/firstHalf.length) : 0;\nconst avgSecond = secondHalf.length > 0 ? Math.round(secondHalf.reduce((s,d) => s+d.pct,0)/secondHalf.length) : 0;\nconst habitTrend = avgSecond > avgFirst ? 'mejorando' : avgSecond < avgFirst ? 'decayendo' : 'estable';\nconst habitTrendDiff = Math.abs(avgSecond - avgFirst);\n\nconst overallHabitPct = totalHabitSlots > 0 ? Math.round((totalHabitDone / totalHabitSlots) * 100) : 0;\n\n// Racha\nlet currentConsecutive = 0;\nconst sortedDays = dailyPctArray.sort((a,b) => b.day - a.day);\nfor (const d of sortedDays) {\n  if (d.pct >= 70) currentConsecutive++;\n  else break;\n}\n\n// Racha maxima en el periodo\nlet maxStreak = 0, tempStreak = 0;\nconst sortedAsc = [...dailyPctArray].sort((a,b) => a.day - b.day);\nfor (const d of sortedAsc) {\n  if (d.pct >= 70) { tempStreak++; if (tempStreak > maxStreak) maxStreak = tempStreak; }\n  else tempStreak = 0;\n}\n\n// Total habitos trackeados\nconst totalHabitsTracked = habitList.length;\n\n// ═══════════════════════════════════════════════════════════════\n// OUTREACH — EXTRACCION PROFUNDA\n// ═══════════════════════════════════════════════════════════════\nconst emailsThisPeriod = emailLogRaw.filter(e => {\n  if (!e.email_sent_date) return false;\n  const d = new Date(e.email_sent_date);\n  return d >= periodStart && d <= periodEnd;\n});\n\nconst totalSent = emailsThisPeriod.length;\nconst totalDelivered = emailsThisPeriod.filter(e => e.delivery_status === 'sent').length;\nconst totalFailed = emailsThisPeriod.filter(e => e.delivery_status === 'failed').length;\nconst totalReplied = emailsThisPeriod.filter(e => String(e.reply_detected).toLowerCase() === 'true').length;\nconst initialEmails = emailsThisPeriod.filter(e => (e.variant||'').startsWith('initial')).length;\nconst followupEmails = totalSent - initialEmails;\nconst deliveryRate = totalSent > 0 ? Math.round((totalDelivered/totalSent)*100) : 0;\nconst replyRate = totalDelivered > 0 ? Math.round((totalReplied/totalDelivered)*100) : 0;\nconst failRate = totalSent > 0 ? Math.round((totalFailed/totalSent)*100) : 0;\n\n// Promedio correos por dia\nconst avgEmailsPerDay = daysElapsed > 0 ? Math.round((totalSent / daysElapsed) * 10) / 10 : 0;\n\n// Correos por dia del periodo\nconst emailsByDate = {};\nfor (const e of emailsThisPeriod) {\n  const dateKey = (e.email_sent_date || '').split('T')[0];\n  if (!emailsByDate[dateKey]) emailsByDate[dateKey] = {sent: 0, delivered: 0, failed: 0, replied: 0};\n  emailsByDate[dateKey].sent++;\n  if (e.delivery_status === 'sent') emailsByDate[dateKey].delivered++;\n  if (e.delivery_status === 'failed') emailsByDate[dateKey].failed++;\n  if (String(e.reply_detected).toLowerCase() === 'true') emailsByDate[dateKey].replied++;\n}\n\n// Dia con mas envios\nlet peakSendDay = {date: 'N/A', count: 0};\nfor (const [date, data] of Object.entries(emailsByDate)) {\n  if (data.sent > peakSendDay.count) peakSendDay = {date, count: data.sent, delivered: data.delivered};\n}\n\n// Dias activos vs inactivos\nconst activeSendDays = Object.keys(emailsByDate).length;\nconst inactiveSendDays = daysElapsed - activeSendDays;\n\n// Mejor dia de la semana\nconst byDayOfWeek = {0:'Domingo',1:'Lunes',2:'Martes',3:'Miercoles',4:'Jueves',5:'Viernes',6:'Sabado'};\nconst sentByDay = {}, repliedByDay = {}, deliveredByDay = {};\nfor (const e of emailsThisPeriod) {\n  if (!e.email_sent_date) continue;\n  const d = new Date(e.email_sent_date).getDay();\n  const dayName = byDayOfWeek[d];\n  sentByDay[dayName] = (sentByDay[dayName] || 0) + 1;\n  if (e.delivery_status === 'sent') deliveredByDay[dayName] = (deliveredByDay[dayName] || 0) + 1;\n  if (String(e.reply_detected).toLowerCase() === 'true') repliedByDay[dayName] = (repliedByDay[dayName] || 0) + 1;\n}\n\n// Ranking de dias\nconst dayRanking = Object.entries(sentByDay)\n  .map(([day, sent]) => ({\n    day, sent, delivered: deliveredByDay[day] || 0,\n    replied: repliedByDay[day] || 0,\n    replyRate: sent > 0 ? Math.round(((repliedByDay[day]||0)/sent)*100) : 0\n  }))\n  .sort((a,b) => b.sent - a.sent);\n\nlet bestSendDay = dayRanking[0] || {day: 'N/A', rate: 0, sent: 0, replied: 0};\n\n// Subjects mas usados\nconst subjectCount = {};\nfor (const e of emailsThisPeriod) {\n  const subj = (e.subject || '').trim();\n  if (subj) subjectCount[subj] = (subjectCount[subj] || 0) + 1;\n}\nconst topSubjects = Object.entries(subjectCount)\n  .sort((a,b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([subject, count]) => ({subject, count}));\n\n// Por nicho\nconst nicheStats = {};\nfor (const lead of leadsRaw) {\n  const niche = lead.niche || 'Sin nicho';\n  if (!nicheStats[niche]) nicheStats[niche] = {total: 0, contacted: 0, replied: 0, withEmail: 0};\n  nicheStats[niche].total++;\n  if (lead.email && lead.email !== 'N/A' && lead.email.includes('@')) nicheStats[niche].withEmail++;\n  if (String(lead.contactado).toUpperCase() === 'TRUE') nicheStats[niche].contacted++;\n  if (String(lead.respondio).toUpperCase() === 'TRUE') nicheStats[niche].replied++;\n}\nconst topNiches = Object.entries(nicheStats)\n  .sort((a,b) => b[1].total - a[1].total)\n  .slice(0, 8)\n  .map(([n, s]) => ({\n    niche: n, ...s,\n    contactRate: s.withEmail > 0 ? Math.round((s.contacted/s.withEmail)*100) : 0,\n    replyRate: s.contacted > 0 ? Math.round((s.replied/s.contacted)*100) : 0\n  }));\n\n// Por tier\nconst tierStats = {};\nfor (const lead of leadsRaw) {\n  const tier = lead.tier || 'Sin tier';\n  if (!tierStats[tier]) tierStats[tier] = {total: 0, contacted: 0, replied: 0, withEmail: 0};\n  tierStats[tier].total++;\n  if (lead.email && lead.email !== 'N/A') tierStats[tier].withEmail++;\n  if (String(lead.contactado).toUpperCase() === 'TRUE') tierStats[tier].contacted++;\n  if (String(lead.respondio).toUpperCase() === 'TRUE') tierStats[tier].replied++;\n}\nconst tierBreakdown = Object.entries(tierStats)\n  .sort(([a],[b]) => a.localeCompare(b))\n  .map(([t, s]) => ({\n    tier: t, ...s,\n    contactRate: s.withEmail > 0 ? Math.round((s.contacted/s.withEmail)*100) : 0,\n    replyRate: s.contacted > 0 ? Math.round((s.replied/s.contacted)*100) : 0\n  }));\n\n// Por ciudad\nconst cityStats = {};\nfor (const lead of leadsRaw) {\n  const city = (lead.city || '').trim();\n  if (!city || city === 'N/A' || city.length < 3) continue;\n  if (!cityStats[city]) cityStats[city] = {total: 0, contacted: 0, replied: 0};\n  cityStats[city].total++;\n  if (String(lead.contactado).toUpperCase() === 'TRUE') cityStats[city].contacted++;\n  if (String(lead.respondio).toUpperCase() === 'TRUE') cityStats[city].replied++;\n}\nconst topCities = Object.entries(cityStats)\n  .sort((a,b) => b[1].total - a[1].total)\n  .slice(0, 5)\n  .map(([c, s]) => ({city: c, ...s, replyRate: s.contacted > 0 ? Math.round((s.replied/s.contacted)*100) : 0}));\n\n// A/B Test\nconst variantStats = {};\nfor (const e of emailsThisPeriod) {\n  const v = (e.variant || '').includes('_A') ? 'A' : (e.variant || '').includes('_B') ? 'B' : 'other';\n  if (!variantStats[v]) variantStats[v] = {sent: 0, delivered: 0, replied: 0};\n  variantStats[v].sent++;\n  if (e.delivery_status === 'sent') variantStats[v].delivered++;\n  if (String(e.reply_detected).toLowerCase() === 'true') variantStats[v].replied++;\n}\nconst abTest = Object.entries(variantStats).map(([v,s]) => ({\n  variant: v, ...s,\n  deliveryRate: s.sent > 0 ? Math.round((s.delivered/s.sent)*100) : 0,\n  replyRate: s.delivered > 0 ? Math.round((s.replied/s.delivered)*100) : 0\n})).sort((a,b) => b.replyRate - a.replyRate);\n\n// Leads\nconst totalLeads = leadsRaw.length;\nconst leadsWithEmail = leadsRaw.filter(l => l.email && l.email !== 'N/A' && l.email.includes('@')).length;\nconst contactedLeads = leadsRaw.filter(l => String(l.contactado).toUpperCase() === 'TRUE').length;\nconst repliedLeads = leadsRaw.filter(l => String(l.respondio).toUpperCase() === 'TRUE').length;\nconst pendingLeads = leadsWithEmail - contactedLeads;\nconst leadContactRate = leadsWithEmail > 0 ? Math.round((contactedLeads/leadsWithEmail)*100) : 0;\nconst leadReplyRate = contactedLeads > 0 ? Math.round((repliedLeads/contactedLeads)*100) : 0;\n\n// Outreach control stats\nconst awaitingResponse = controlRaw.filter(c => c.response_status === 'awaiting').length;\nconst convertedLeads = controlRaw.filter(c => c.response_status === 'converted').length;\nconst unsubscribed = controlRaw.filter(c => c.response_status === 'unsubscribed').length;\n\n// Followups pendientes\nconst followupsPending = controlRaw.filter(c => {\n  if (c.response_status !== 'awaiting') return false;\n  if (!c.next_followup_date) return false;\n  return new Date(c.next_followup_date) <= now;\n}).length;\n\n// Proyeccion\nconst daysInMonth = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate();\nconst daysRemaining = daysInMonth - now.getDate();\nconst dailyRateEmails = daysElapsed > 0 ? totalSent / daysElapsed : 0;\nconst projectedMonthlyEmails = Math.round(dailyRateEmails * daysInMonth);\nconst projectedReplies = Math.round(projectedMonthlyEmails * (replyRate/100));\nconst burnRate = pendingLeads > 0 && dailyRateEmails > 0 ? Math.round(pendingLeads / dailyRateEmails) : 999;\n\n// ═══ CORRELACION ═══\nconst dayCorrelation = [];\nfor (const d of daysToAnalyze) {\n  const habData = dailyCompletion[d];\n  const habPct = habData ? Math.round((habData.done/habData.total)*100) : 0;\n  const month = targetMonth + 1;\n  const dayStr = `${targetYear}-${String(month).padStart(2,'0')}-${String(d).padStart(2,'0')}`;\n  const emailsDay = emailsThisPeriod.filter(e => (e.email_sent_date||'').startsWith(dayStr)).length;\n  dayCorrelation.push({day: d, habitPct: habPct, emailsSent: emailsDay});\n}\nconst highHabitDays = dayCorrelation.filter(d => d.habitPct >= 80);\nconst avgEmailsHighHabit = highHabitDays.length > 0 ? Math.round(highHabitDays.reduce((s,d) => s+d.emailsSent,0)/highHabitDays.length * 10) / 10 : 0;\nconst lowHabitDays = dayCorrelation.filter(d => d.habitPct < 60);\nconst avgEmailsLowHabit = lowHabitDays.length > 0 ? Math.round(lowHabitDays.reduce((s,d) => s+d.emailsSent,0)/lowHabitDays.length * 10) / 10 : 0;\nconst correlationDelta = avgEmailsHighHabit - avgEmailsLowHabit;\nconst correlationInsight = correlationDelta > 0\n  ? `En dias con +80% habitos se enviaron ${avgEmailsHighHabit} correos/dia vs ${avgEmailsLowHabit} en dias con -60%. Diferencia: ${correlationDelta} correos/dia.`\n  : `No hay correlacion significativa entre disciplina y volumen de outreach en este periodo.`;\n\n// ═══ SCORE ═══\nconst habitScore = overallHabitPct;\nconst outreachScore = Math.min(100, Math.round((totalDelivered / Math.max(1, daysElapsed * 3)) * 100));\nconst replyScore = Math.min(100, replyRate * 3);\nconst overallScore = Math.round((habitScore * 0.35) + (outreachScore * 0.40) + (replyScore * 0.25));\nconst scoreLabel = overallScore >= 85 ? 'ELITE' : overallScore >= 70 ? 'SOLIDO' : overallScore >= 55 ? 'REGULAR' : 'CRITICO';\n\n// ═══ RECOMENDACIONES (sin emojis) ═══\nconst recommendations = [];\nif (overallHabitPct < 70) recommendations.push(`Habitos al ${overallHabitPct}%. Priorizar \"${bottomHabit.name}\" (${bottomHabit.pct}%).`);\nif (zeroHabits.length > 0) recommendations.push(`${zeroHabits.length} habito(s) en 0%: ${zeroHabits.map(h=>h.name).join(', ')}. Eliminar o ejecutar.`);\nif (habitTrend === 'decayendo') recommendations.push(`Tendencia negativa en habitos: ${avgFirst}% primera mitad vs ${avgSecond}% segunda mitad.`);\nif (replyRate < 5 && totalSent > 10) recommendations.push(`Tasa de respuesta al ${replyRate}%. Revisar copy y subjects.`);\nif (failRate > 10 && totalFailed > 3) recommendations.push(`${totalFailed} correos fallidos (${failRate}%). Limpiar lista de emails.`);\nif (inactiveSendDays > daysElapsed * 0.4) recommendations.push(`${inactiveSendDays} de ${daysElapsed} dias sin enviar. Mantener cadencia diaria.`);\nif (abTest.length >= 2 && abTest[0].replyRate !== abTest[1].replyRate) recommendations.push(`Variante ${abTest[0].variant} supera en conversion (${abTest[0].replyRate}% vs ${abTest[1]?.replyRate || 0}%).`);\nif (burnRate < 30) recommendations.push(`Pipeline se agota en ~${burnRate} dias al ritmo actual. Generar leads nuevos.`);\nif (pendingLeads < 50) recommendations.push(`Solo ${pendingLeads} leads pendientes. Pipeline critico.`);\nif (followupsPending > 10) recommendations.push(`${followupsPending} follow-ups vencidos sin enviar.`);\nif (currentConsecutive >= 5) recommendations.push(`Racha activa de ${currentConsecutive} dias. Mantener.`);\nif (maxStreak > currentConsecutive && maxStreak >= 3) recommendations.push(`Racha maxima del periodo: ${maxStreak} dias. Actual: ${currentConsecutive}.`);\n\nreturn [{ json: {\n  config,\n  periodoCompleto,\n  habits: {\n    overallPct: overallHabitPct,\n    totalDone: totalHabitDone,\n    totalSlots: totalHabitSlots,\n    totalHabitsTracked,\n    avgDailyPct,\n    bestDay, worstDay,\n    perfectDays: perfectDays.length,\n    zeroDays: zeroDays.length,\n    daysAbove70: abovePct70.length,\n    daysBelow50: belowPct50.length,\n    currentStreak: currentConsecutive,\n    maxStreak,\n    trend: habitTrend,\n    trendDiff: habitTrendDiff,\n    avgFirstHalf: avgFirst,\n    avgSecondHalf: avgSecond,\n    topHabit, bottomHabit,\n    perfectHabits: perfectHabits.length,\n    zeroHabits: zeroHabits.length,\n    zeroHabitNames: zeroHabits.map(h => h.name),\n    criticalHabits: criticalHabits.length,\n    top5: top5Habits,\n    bottom5: bottom5Habits,\n    dailyData: dailyPctArray\n  },\n  outreach: {\n    totalSent, totalDelivered, totalFailed, totalReplied,\n    initialEmails, followupEmails,\n    deliveryRate, replyRate, failRate,\n    avgEmailsPerDay,\n    activeSendDays, inactiveSendDays,\n    peakSendDay,\n    dayRanking,\n    topSubjects,\n    bestSendDay,\n    topNiches, tierBreakdown, topCities,\n    abTest,\n    totalLeads, leadsWithEmail, contactedLeads, repliedLeads, pendingLeads,\n    leadContactRate, leadReplyRate,\n    awaitingResponse, convertedLeads, unsubscribed, followupsPending,\n    projectedMonthlyEmails, projectedReplies,\n    burnRate, daysRemaining\n  },\n  correlation: {\n    insight: correlationInsight,\n    avgEmailsHighHabit, avgEmailsLowHabit,\n    delta: correlationDelta,\n    highHabitDaysCount: highHabitDays.length,\n    lowHabitDaysCount: lowHabitDays.length\n  },\n  score: { overall: overallScore, label: scoreLabel, habit: habitScore, outreach: outreachScore, reply: replyScore },\n  recommendations,\n  meta: {\n    reportType,\n    period: periodoCompleto,\n    periodLabel: periodoCompleto,\n    generatedAt: now.toISOString(),\n    daysElapsed,\n    daysInMonth,\n    daysAnalyzed: daysToAnalyze.length,\n    daysRemaining,\n    targetMonth: meses[targetMonth],\n    targetYear\n  }\n}}];"
      },
      "id": "fce92596-7c03-48e5-b6e9-2489bf6784e8",
      "name": "🔬 Analysis Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'DATOS:\\n' + JSON.stringify($json, null, 2) }}",
        "options": {
          "systemMessage": "Eres el sistema XUS analizando el rendimiento operativo de Santiago Rubio, CEO de Nexus Global. Escribes en segunda persona dirigiendote a Santiago.\n\nREGLAS ABSOLUTAS:\n- USA los numeros EXACTOS del JSON. No inventes. No redondees a menos que sea necesario.\n- CADA oracion debe tener al menos un dato numerico concreto.\n- NO uses frases como \"es importante\", \"se recomienda\", \"sigue asi\", \"buen trabajo\".\n- Tono: analitico, directo, sin adornos. Como un informe financiero.\n- PROHIBIDO: emojis, exclamaciones, frases motivacionales vacias.\n- Si un dato es 0, dilo. Si es malo, dilo sin suavizar.\n\nDATOS DISPONIBLES EN EL JSON:\n- habits.overallPct: cumplimiento global\n- habits.totalHabitsTracked: cuantos habitos se trackean\n- habits.perfectDays / zeroDays: dias al 100% y al 0%\n- habits.daysAbove70 / daysBelow50: distribucion\n- habits.trend: \"mejorando\" / \"decayendo\" / \"estable\"\n- habits.trendDiff: diferencia en puntos\n- habits.avgFirstHalf vs avgSecondHalf: primera vs segunda mitad\n- habits.currentStreak / maxStreak\n- habits.zeroHabits / zeroHabitNames: habitos abandonados\n- habits.topHabit / bottomHabit con porcentajes\n- outreach.totalSent/Delivered/Failed/Replied con tasas\n- outreach.avgEmailsPerDay\n- outreach.activeSendDays vs inactiveSendDays\n- outreach.peakSendDay: dia con mas envios\n- outreach.dayRanking: rendimiento por dia de semana\n- outreach.topNiches con contactRate y replyRate\n- outreach.tierBreakdown\n- outreach.abTest con tasas por variante\n- outreach.pendingLeads / burnRate\n- outreach.followupsPending\n- correlation.delta: diferencia de correos entre dias disciplinados y no\n- score: overall, habit, outreach, reply con pesos\n\nGENERA JSON:\n{\n  \"executive_summary\": \"4-5 oraciones. Score, tendencia principal, dato mas relevante del periodo, alerta si aplica. Ejemplo: 'Score de 62/100 sobre 7 dias. Habitos cayeron de 78% a 61% en la segunda mitad. Outreach sostuvo 4.3 correos/dia con 0 respuestas. Pipeline se agota en 23 dias.'\",\n  \"habits_narrative\": \"4-5 oraciones con datos exactos. Mencionar: total habitos, cumplimiento, tendencia, habitos en 0%, dias perfectos vs dias en 0, racha. Ejemplo: 'De 12 habitos trackeados, cumplimiento global al 58%. 3 habitos en 0%: Lectura, Meditacion, Cold Calls. Solo 1 dia perfecto en 7. Tendencia decayendo: 72% primera mitad vs 44% segunda.'\",\n  \"outreach_narrative\": \"4-5 oraciones con datos exactos. Enviados, entregados, fallidos, tasa reply, promedio/dia, dias activos vs inactivos, mejor nicho, A/B test. Ejemplo: '42 correos enviados, 39 entregados (93%), 3 fallidos. 0 respuestas — tasa de 0%. Promedio: 6 correos/dia. Inactivo 2 de 7 dias. Odontologia lidera con 15 contactados.'\",\n  \"correlation_narrative\": \"2-3 oraciones. Usar los datos de correlation.delta. Ejemplo: 'Dias con habitos +80% produjeron 5.2 correos/dia vs 1.8 en dias debajo de 60%. Delta de 3.4 correos/dia. La disciplina personal tiene impacto directo y medible.'\",\n  \"projection_narrative\": \"2-3 oraciones. Proyeccion, burn rate, dias restantes. Ejemplo: 'Al ritmo actual de 4.3/dia, se proyectan 133 correos en febrero. Con tasa de 0%, se esperan 0 respuestas. Pipeline de 89 leads se agota en 21 dias.'\",\n  \"closing_motivational\": \"1-2 oraciones de veredicto. Puede ser duro. Sin motivacion barata. Ejemplo: 'Score de 62 es insuficiente. Sin respuestas en 42 correos, el copy o los leads estan fallando. Requiere revision urgente del approach.'\",\n  \"email_subject\": \"Informe de Rendimiento | [Periodo] | Score [X]/100\",\n  \"email_preview\": \"Score [X]/100 — [LABEL]\"\n}\n\nJSON puro. Sin markdown."
        }
      },
      "id": "b13394d4-bd4e-4382-9724-426f23f3132f",
      "name": "🧠 Gemini Narrative",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2016,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "id": "f962e6ef-e749-4162-8c52-20384c5b933e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ PREPARAR HTML BASE64 PARA CONVERTAPI ═══\nconst data = $input.first().json;\nconst htmlBase64 = Buffer.from(data.html).toString('base64');\n\nreturn [{ json: { ...data, htmlBase64 } }];"
      },
      "id": "cefba34b-0ea0-4737-914b-a12feef76706",
      "name": "Preparar HTML Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/html/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Parameters\": [\n    {\n      \"Name\": \"File\",\n      \"FileValue\": {\n        \"Name\": \"report.html\",\n        \"Data\": \"{{ $json.htmlBase64 }}\"\n      }\n    },\n    { \"Name\": \"PageSize\", \"Value\": \"a4\" },\n    { \"Name\": \"MarginTop\", \"Value\": \"10\" },\n    { \"Name\": \"MarginBottom\", \"Value\": \"10\" },\n    { \"Name\": \"MarginLeft\", \"Value\": \"10\" },\n    { \"Name\": \"MarginRight\", \"Value\": \"10\" }\n  ]\n}",
        "options": {}
      },
      "id": "4acbdc39-b1b2-4e39-891e-9ebf39c9742a",
      "name": "ConvertAPI HTML a PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "convertApi": {
          "id": "3Y5MHhScTyRO2dW3",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══ PREPARAR PDF BINARY PARA GMAIL ═══\nconst convertApiResponse = $input.first().json;\nconst reportData = $('Preparar HTML Base64').first().json;\n\nlet pdfBase64 = '';\nlet fileName = (reportData.docTitle || 'XUS_Report') + '.pdf';\n\nif (convertApiResponse.Files && convertApiResponse.Files.length > 0) {\n  pdfBase64 = convertApiResponse.Files[0].FileData || '';\n} else if (convertApiResponse.FileData) {\n  pdfBase64 = convertApiResponse.FileData;\n}\n\nif (!pdfBase64) {\n  // Si falla, continuar sin PDF\n  return [{ json: { ...reportData, pdfReady: false, pdfFileName: fileName } }];\n}\n\nreturn [{\n  json: {\n    ...reportData,\n    pdfReady: true,\n    pdfFileName: fileName\n  },\n  binary: {\n    attachment: {\n      data: pdfBase64,\n      mimeType: 'application/pdf',\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "95ca5b5e-21d9-471c-8993-f96ec4bccde3",
      "name": "Preparar PDF Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        560
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "santi21435@gmail.com",
        "subject": "={{ $json.emailSubject }}",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "id": "78b2f177-9775-4539-996d-44a0576c0879",
      "name": "Send Email con PDF",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3264,
        560
      ],
      "webhookId": "42ba0cf1-d668-4c74-9b34-7a0402f41036",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// ═══ RESPONSE BUILDER ═══\nconst htmlData = $('Preparar HTML Base64').first().json;\nconst score = htmlData.score || {};\nconst habits = htmlData.habits || {};\nconst outreach = htmlData.outreach || {};\nconst meta = htmlData.meta || {};\nconst narr = htmlData.narr || {};\n\nconst getEmoji = (s) => s >= 85 ? '🏆' : s >= 70 ? '💪' : s >= 55 ? '⚠️' : '🚨';\nconst emoji = getEmoji(score.overall || 0);\nconst label = meta.reportType === 'diario' ? 'Diario' : meta.reportType === 'semanal' ? 'Semanal' : 'Mensual';\n\nconst textResponse = `${emoji} *Reporte ${label} Generado*\\n` +\n  `📅 ${meta.period || 'Período actual'}\\n\\n` +\n  `━━━━━━━━━━━━━━━━━━━━━\\n` +\n  `🎯 *Score Global: ${score.overall || 0}/100*\\n` +\n  `${score.label || ''}\\n` +\n  `━━━━━━━━━━━━━━━━━━━━━\\n\\n` +\n  `📊 *Resumen Rápido:*\\n` +\n  `• Hábitos: ${habits.overallPct || 0}% cumplidos\\n` +\n  `• Correos: ${outreach.totalDelivered || 0} entregados\\n` +\n  `• Respuestas: ${outreach.totalReplied || 0} (${outreach.replyRate || 0}%)\\n` +\n  `• Racha: ${habits.currentStreak || 0} días\\n\\n` +\n  `📧 *Reporte enviado a tu correo*\\n` +\n  `📎 PDF adjunto incluido\\n\\n` +\n  `${narr.closing_motivational ? '💬 _' + narr.closing_motivational + '_' : ''}`;\n\nconst toolResponse = `Reporte ${label} listo — Score: ${score.overall}/100 ${score.label}`;\n\nreturn [{ json: { textResponse, toolResponse, output: textResponse } }];"
      },
      "id": "051da20c-edcc-412e-8798-4207a7e5fb7a",
      "name": "Response Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { output: data.output || data.textResponse, textResponse: data.textResponse, toolResponse: data.toolResponse } }];"
      },
      "id": "091c1a08-f945-4764-a92e-2a53a1ed3c1f",
      "name": "Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        560
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// HTML REPORT BUILDER v4.0 — FULL PAGE PROFESSIONAL\n// ═══════════════════════════════════════════════════════════════\n\nconst aiRaw = $input.first().json;\nconst analysis = $('🔬 Analysis Engine').first().json;\nconst { habits, outreach, score, recommendations, meta, correlation, config, periodoCompleto } = analysis;\n\nlet narr = {};\ntry {\n  let text = aiRaw.output || aiRaw.text || '';\n  if (typeof text !== 'string') text = JSON.stringify(text);\n  text = text.replace(/```json\\s*/gi,'').replace(/```\\s*/gi,'').trim();\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) narr = JSON.parse(m[0]);\n} catch(e) {\n  narr = {\n    executive_summary: `Score de ${score.overall}/100 sobre ${meta.daysAnalyzed} dias. Habitos al ${habits.overallPct}%. ${outreach.totalDelivered} correos entregados con ${outreach.replyRate}% de respuesta.`,\n    habits_narrative: `${habits.totalHabitsTracked} habitos trackeados. Cumplimiento global: ${habits.overallPct}%. Tendencia: ${habits.trend}. Racha actual: ${habits.currentStreak} dias.`,\n    outreach_narrative: `${outreach.totalSent} correos enviados, ${outreach.totalDelivered} entregados. Tasa de respuesta: ${outreach.replyRate}%. Promedio: ${outreach.avgEmailsPerDay} correos/dia.`,\n    correlation_narrative: correlation.insight,\n    projection_narrative: `Proyeccion: ${outreach.projectedMonthlyEmails} correos/mes. Pipeline se agota en ${outreach.burnRate} dias.`,\n    closing_motivational: score.overall >= 70 ? 'Rendimiento dentro de parametros. Mantener cadencia.' : 'Rendimiento insuficiente. Correccion requerida.',\n    email_subject: `Informe de Rendimiento | ${periodoCompleto} | Score ${score.overall}/100`,\n    email_preview: `Score: ${score.overall}/100`\n  };\n}\n\nconst now = new Date(new Date().toLocaleString('en-US', {timeZone: 'America/Bogota'}));\nconst meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst fechaEmision = `${now.getDate()} de ${meses[now.getMonth()]} de ${now.getFullYear()}`;\nconst horaEmision = now.toLocaleTimeString('es-CO', {timeZone: 'America/Bogota', hour: '2-digit', minute: '2-digit', hour12: true});\nconst reportLabel = meta.reportType === 'diario' ? 'DIARIO' : meta.reportType === 'semanal' ? 'SEMANAL' : 'MENSUAL';\n\nconst sc = (s) => s >= 85 ? '#166534' : s >= 70 ? '#1e40af' : s >= 55 ? '#92400e' : '#991b1b';\nconst scBg = (s) => s >= 85 ? '#f0fdf4' : s >= 70 ? '#eff6ff' : s >= 55 ? '#fffbeb' : '#fef2f2';\nconst noEmoji = (str) => (str || '').replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}\\u{1F680}-\\u{1F6FF}\\u{1F1E0}-\\u{1F1FF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}\\u{FE00}-\\u{FE0F}\\u{1F900}-\\u{1F9FF}\\u{1FA00}-\\u{1FA6F}\\u{1FA70}-\\u{1FAFF}\\u{200D}\\u{20E3}]/gu, '').replace(/📌|⚠️|🔥|🏆|💪|🚨/g, '').trim();\n\nconst bar = (pct, color) => {\n  const w = Math.min(100, Math.max(0, pct));\n  return `<div style=\"background:#e4e4e7;height:8px;width:100%\"><div style=\"background:${color};height:8px;width:${w}%\"></div></div>`;\n};\n\nconst trendArrow = habits.trend === 'mejorando' ? '&#9650;' : habits.trend === 'decayendo' ? '&#9660;' : '&#9654;';\nconst trendColor = habits.trend === 'mejorando' ? '#166534' : habits.trend === 'decayendo' ? '#991b1b' : '#52525b';\n\n// ═══════════════════════════════════════════════════════════════\n// PDF HTML — DOCUMENTO COMPLETO\n// ═══════════════════════════════════════════════════════════════\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  @page {\n    size: letter;\n    margin: 40px 48px;\n  }\n  * { margin: 0; padding: 0; box-sizing: border-box; }\n  body {\n    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\n    color: #18181b;\n    font-size: 11pt;\n    line-height: 1.45;\n    background: #fff;\n    -webkit-print-color-adjust: exact;\n    print-color-adjust: exact;\n  }\n\n  .page-break { page-break-before: always; }\n\n  /* HEADER */\n  .header {\n    padding: 0 0 16px;\n    border-bottom: 2px solid #18181b;\n    margin-bottom: 24px;\n  }\n  .header-grid {\n    display: flex;\n    justify-content: space-between;\n    align-items: flex-start;\n  }\n  .header-left { flex: 1; }\n  .org { font-size: 8pt; letter-spacing: 5px; text-transform: uppercase; color: #71717a; font-weight: 500; }\n  .title { font-size: 22pt; font-weight: 800; color: #18181b; letter-spacing: -0.5px; margin: 6px 0 0; line-height: 1.15; }\n  .subtitle { font-size: 11pt; color: #52525b; margin-top: 4px; }\n  .header-right { text-align: right; padding-left: 24px; }\n  .score-num { font-size: 56pt; font-weight: 900; color: ${sc(score.overall)}; line-height: 1; letter-spacing: -3px; }\n  .score-tag { display: inline-block; font-size: 8pt; letter-spacing: 2px; text-transform: uppercase; font-weight: 700; color: ${sc(score.overall)}; background: ${scBg(score.overall)}; padding: 4px 12px; margin-top: 4px; }\n\n  .meta-bar {\n    display: flex;\n    gap: 32px;\n    margin-top: 14px;\n    padding-top: 10px;\n    border-top: 1px solid #d4d4d8;\n    font-size: 8pt;\n    color: #71717a;\n  }\n  .meta-bar strong { color: #3f3f46; }\n\n  /* SECTIONS */\n  .sec { margin-bottom: 20px; }\n  .sec-title {\n    font-size: 8.5pt;\n    font-weight: 700;\n    letter-spacing: 3px;\n    text-transform: uppercase;\n    color: #18181b;\n    padding-bottom: 6px;\n    border-bottom: 1px solid #d4d4d8;\n    margin-bottom: 12px;\n  }\n  .sec-num { color: #a1a1aa; margin-right: 8px; }\n\n  .text {\n    font-size: 10.5pt;\n    line-height: 1.7;\n    color: #27272a;\n    text-align: justify;\n    margin-bottom: 14px;\n  }\n\n  /* METRICS */\n  .m-grid {\n    display: flex;\n    border: 1px solid #d4d4d8;\n    margin-bottom: 16px;\n  }\n  .m-cell {\n    flex: 1;\n    text-align: center;\n    padding: 16px 8px;\n    border-right: 1px solid #d4d4d8;\n  }\n  .m-cell:last-child { border-right: none; }\n  .m-val {\n    font-size: 26pt;\n    font-weight: 800;\n    line-height: 1;\n    color: #18181b;\n  }\n  .m-lbl {\n    font-size: 7pt;\n    color: #71717a;\n    text-transform: uppercase;\n    letter-spacing: 1.5px;\n    margin-top: 6px;\n  }\n  .m-sub {\n    font-size: 7.5pt;\n    color: #a1a1aa;\n    margin-top: 2px;\n  }\n\n  /* SPLIT */\n  .split { display: flex; gap: 16px; margin-bottom: 16px; }\n  .split-half { flex: 1; }\n\n  /* TABLES */\n  table {\n    width: 100%;\n    border-collapse: collapse;\n    font-size: 9.5pt;\n    margin-bottom: 14px;\n  }\n  thead th {\n    background: #18181b;\n    color: #fafafa;\n    padding: 9px 12px;\n    text-align: left;\n    font-size: 7pt;\n    letter-spacing: 1.5px;\n    text-transform: uppercase;\n    font-weight: 600;\n  }\n  tbody td {\n    padding: 8px 12px;\n    border-bottom: 1px solid #e4e4e7;\n    color: #27272a;\n  }\n  tbody tr:nth-child(even) { background: #fafafa; }\n  .r { text-align: right; }\n  .b { font-weight: 700; }\n  .g { color: #166534; }\n  .rd { color: #991b1b; }\n\n  /* DIRECTIVES */\n  .dir {\n    padding: 10px 14px;\n    border-left: 3px solid #18181b;\n    background: #fafafa;\n    margin-bottom: 6px;\n    font-size: 9.5pt;\n    color: #27272a;\n    line-height: 1.5;\n  }\n\n  /* VERDICT */\n  .verdict {\n    background: #18181b;\n    padding: 24px 28px;\n    margin-top: 16px;\n  }\n  .verdict-label {\n    font-size: 7pt;\n    letter-spacing: 3px;\n    text-transform: uppercase;\n    color: #71717a;\n    margin-bottom: 8px;\n  }\n  .verdict-body {\n    font-size: 11pt;\n    line-height: 1.7;\n    color: #d4d4d8;\n  }\n\n  /* FOOTER */\n  .doc-footer {\n    margin-top: 24px;\n    padding-top: 12px;\n    border-top: 2px solid #18181b;\n    display: flex;\n    justify-content: space-between;\n    font-size: 7pt;\n    color: #a1a1aa;\n    letter-spacing: 1px;\n    text-transform: uppercase;\n  }\n\n  /* SMALL TABLE */\n  .s-table { font-size: 9pt; }\n  .s-table td { padding: 6px 12px; }\n  .s-table th { padding: 7px 12px; }\n\n  /* LABEL */\n  .label {\n    font-size: 7.5pt;\n    letter-spacing: 2px;\n    text-transform: uppercase;\n    color: #71717a;\n    font-weight: 600;\n    margin-bottom: 8px;\n  }\n\n  .note {\n    font-size: 8pt;\n    color: #a1a1aa;\n    font-style: italic;\n    margin-top: 4px;\n  }\n</style>\n</head>\n<body>\n\n<!-- ═══ PAGINA 1 ═══ -->\n\n<div class=\"header\">\n  <div class=\"header-grid\">\n    <div class=\"header-left\">\n      <div class=\"org\">Nexus Global</div>\n      <div class=\"title\">Informe de Rendimiento ${reportLabel}</div>\n      <div class=\"subtitle\">${periodoCompleto || meta.period}</div>\n    </div>\n    <div class=\"header-right\">\n      <div class=\"score-num\">${score.overall}</div>\n      <div class=\"score-tag\">${noEmoji(score.label)}</div>\n    </div>\n  </div>\n  <div class=\"meta-bar\">\n    <span>Emitido: <strong>${fechaEmision}, ${horaEmision} COT</strong></span>\n    <span>Periodo: <strong>${periodoCompleto || meta.period}</strong></span>\n    <span>Dias analizados: <strong>${meta.daysAnalyzed}</strong></span>\n    <span>Mes: <strong>${meta.targetMonth} ${meta.targetYear}</strong></span>\n    <span>Clasificacion: <strong>Uso Interno</strong></span>\n  </div>\n</div>\n\n<!-- 01. RESUMEN -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">01</span>Resumen Ejecutivo</div>\n  <p class=\"text\">${noEmoji(narr.executive_summary)}</p>\n</div>\n\n<!-- 02. INDICES -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">02</span>Indices de Rendimiento</div>\n  <div class=\"m-grid\">\n    <div class=\"m-cell\"><div class=\"m-val\" style=\"color:${sc(score.habit)}\">${score.habit}</div><div class=\"m-lbl\">Disciplina</div><div class=\"m-sub\">Peso: 35%</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\" style=\"color:${sc(score.outreach)}\">${score.outreach}</div><div class=\"m-lbl\">Produccion</div><div class=\"m-sub\">Peso: 40%</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\" style=\"color:${sc(score.reply)}\">${score.reply}</div><div class=\"m-lbl\">Conversion</div><div class=\"m-sub\">Peso: 25%</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${habits.currentStreak}</div><div class=\"m-lbl\">Racha Actual</div><div class=\"m-sub\">Max: ${habits.maxStreak} dias</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\" style=\"color:${trendColor}\">${trendArrow}</div><div class=\"m-lbl\">Tendencia</div><div class=\"m-sub\">${habits.trend} (${habits.trendDiff}pts)</div></div>\n  </div>\n</div>\n\n<!-- 03. DISCIPLINA -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">03</span>Analisis de Disciplina Operativa</div>\n  <p class=\"text\">${noEmoji(narr.habits_narrative)}</p>\n\n  <div class=\"m-grid\">\n    <div class=\"m-cell\"><div class=\"m-val\">${habits.overallPct}%</div><div class=\"m-lbl\">Cumplimiento Global</div><div class=\"m-sub\">${habits.totalDone}/${habits.totalSlots} slots</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${habits.totalHabitsTracked}</div><div class=\"m-lbl\">Habitos Activos</div><div class=\"m-sub\">${habits.perfectHabits} al 100%, ${habits.zeroHabits} al 0%</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${habits.avgDailyPct}%</div><div class=\"m-lbl\">Promedio Diario</div><div class=\"m-sub\">${habits.daysAbove70} dias >70%</div></div>\n    <div class=\"m-cell\"><div class=\"m-val g\">${habits.bestDay.pct}%</div><div class=\"m-lbl\">Pico</div><div class=\"m-sub\">Dia ${habits.bestDay.day} (${habits.bestDay.done}/${habits.bestDay.total})</div></div>\n    <div class=\"m-cell\"><div class=\"m-val rd\">${habits.worstDay.pct}%</div><div class=\"m-lbl\">Valle</div><div class=\"m-sub\">Dia ${habits.worstDay.day} (${habits.worstDay.done}/${habits.worstDay.total})</div></div>\n  </div>\n\n  <div class=\"split\">\n    <div class=\"split-half\">\n      <div class=\"label\">Indicadores con mayor cumplimiento</div>\n      <table class=\"s-table\">\n        <thead><tr><th>Indicador</th><th>Progreso</th><th class=\"r\">Resultado</th></tr></thead>\n        <tbody>${habits.top5.map(h => `<tr><td>${h.name}</td><td style=\"width:40%\">${bar(h.pct, '#166534')}</td><td class=\"r b g\">${h.pct}% <span style=\"color:#a1a1aa;font-weight:400\">(${h.done}/${h.total})</span></td></tr>`).join('')}</tbody>\n      </table>\n    </div>\n    <div class=\"split-half\">\n      <div class=\"label\">Indicadores criticos</div>\n      <table class=\"s-table\">\n        <thead><tr><th>Indicador</th><th>Progreso</th><th class=\"r\">Resultado</th></tr></thead>\n        <tbody>${habits.bottom5.slice(0,5).map(h => `<tr><td>${h.name}</td><td style=\"width:40%\">${bar(h.pct, '#991b1b')}</td><td class=\"r b rd\">${h.pct}% <span style=\"color:#a1a1aa;font-weight:400\">(${h.done}/${h.total})</span></td></tr>`).join('')}</tbody>\n      </table>\n    </div>\n  </div>\n\n  ${habits.zeroHabits > 0 ? `<div class=\"note\">Habitos en 0% este periodo: ${habits.zeroHabitNames.join(', ')}</div>` : ''}\n\n  <table class=\"s-table\">\n    <thead><tr><th>Metrica de Tendencia</th><th class=\"r\">Primera Mitad</th><th class=\"r\">Segunda Mitad</th><th class=\"r\">Variacion</th></tr></thead>\n    <tbody>\n      <tr><td>Promedio de cumplimiento</td><td class=\"r\">${habits.avgFirstHalf}%</td><td class=\"r\">${habits.avgSecondHalf}%</td><td class=\"r b\" style=\"color:${trendColor}\">${habits.trend === 'mejorando' ? '+' : habits.trend === 'decayendo' ? '-' : ''}${habits.trendDiff} pts</td></tr>\n      <tr><td>Dias perfectos (100%)</td><td class=\"r\" colspan=\"2\" style=\"text-align:center\">${habits.perfectDays} de ${meta.daysAnalyzed}</td><td class=\"r\">${meta.daysAnalyzed > 0 ? Math.round((habits.perfectDays/meta.daysAnalyzed)*100) : 0}%</td></tr>\n      <tr><td>Dias en cero (0%)</td><td class=\"r\" colspan=\"2\" style=\"text-align:center\">${habits.zeroDays} de ${meta.daysAnalyzed}</td><td class=\"r rd\">${meta.daysAnalyzed > 0 ? Math.round((habits.zeroDays/meta.daysAnalyzed)*100) : 0}%</td></tr>\n    </tbody>\n  </table>\n</div>\n\n<!-- PAGE BREAK -->\n<div class=\"page-break\"></div>\n\n<!-- 04. OUTREACH -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">04</span>Produccion de Outreach</div>\n  <p class=\"text\">${noEmoji(narr.outreach_narrative)}</p>\n\n  <div class=\"m-grid\">\n    <div class=\"m-cell\"><div class=\"m-val\">${outreach.totalSent}</div><div class=\"m-lbl\">Enviados</div><div class=\"m-sub\">${outreach.avgEmailsPerDay}/dia</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${outreach.totalDelivered}</div><div class=\"m-lbl\">Entregados</div><div class=\"m-sub\">${outreach.deliveryRate}% tasa</div></div>\n    <div class=\"m-cell\"><div class=\"m-val rd\">${outreach.totalFailed}</div><div class=\"m-lbl\">Fallidos</div><div class=\"m-sub\">${outreach.failRate}% tasa</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\" style=\"color:#1e40af\">${outreach.totalReplied}</div><div class=\"m-lbl\">Respuestas</div><div class=\"m-sub\">${outreach.replyRate}% tasa</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${outreach.pendingLeads}</div><div class=\"m-lbl\">Pipeline</div><div class=\"m-sub\">Burn: ${outreach.burnRate}d</div></div>\n  </div>\n\n  <div class=\"split\">\n    <div class=\"split-half\">\n      <table class=\"s-table\">\n        <thead><tr><th colspan=\"2\">Desglose de Actividad</th></tr></thead>\n        <tbody>\n          <tr><td>Correos iniciales</td><td class=\"r b\">${outreach.initialEmails}</td></tr>\n          <tr><td>Follow-ups enviados</td><td class=\"r b\">${outreach.followupEmails}</td></tr>\n          <tr><td>Dias activos de envio</td><td class=\"r b\">${outreach.activeSendDays} de ${meta.daysAnalyzed}</td></tr>\n          <tr><td>Dias inactivos</td><td class=\"r b rd\">${outreach.inactiveSendDays}</td></tr>\n          <tr><td>Pico de envio</td><td class=\"r b\">${outreach.peakSendDay.count} correos (${outreach.peakSendDay.date})</td></tr>\n          <tr><td>Follow-ups pendientes</td><td class=\"r b\">${outreach.followupsPending}</td></tr>\n        </tbody>\n      </table>\n    </div>\n    <div class=\"split-half\">\n      <table class=\"s-table\">\n        <thead><tr><th colspan=\"2\">Estado del Pipeline</th></tr></thead>\n        <tbody>\n          <tr><td>Total leads en base</td><td class=\"r b\">${outreach.totalLeads}</td></tr>\n          <tr><td>Leads con email valido</td><td class=\"r b\">${outreach.leadsWithEmail}</td></tr>\n          <tr><td>Contactados</td><td class=\"r b\">${outreach.contactedLeads} (${outreach.leadContactRate}%)</td></tr>\n          <tr><td>Respondieron</td><td class=\"r b\">${outreach.repliedLeads} (${outreach.leadReplyRate}%)</td></tr>\n          <tr><td>Esperando respuesta</td><td class=\"r b\">${outreach.awaitingResponse}</td></tr>\n          <tr><td>Dias hasta agotar pipeline</td><td class=\"r b ${outreach.burnRate < 30 ? 'rd' : ''}\">${outreach.burnRate}</td></tr>\n        </tbody>\n      </table>\n    </div>\n  </div>\n\n  ${outreach.topNiches && outreach.topNiches.length > 0 ? `\n  <div class=\"label\">Rendimiento por Segmento</div>\n  <table>\n    <thead><tr><th>Segmento</th><th class=\"r\">Leads</th><th class=\"r\">Con Email</th><th class=\"r\">Contactados</th><th class=\"r\">Tasa Contacto</th><th class=\"r\">Respuestas</th><th class=\"r\">Tasa Reply</th></tr></thead>\n    <tbody>${outreach.topNiches.map(n => `<tr><td>${n.niche}</td><td class=\"r\">${n.total}</td><td class=\"r\">${n.withEmail}</td><td class=\"r\">${n.contacted}</td><td class=\"r\">${n.contactRate}%</td><td class=\"r b\">${n.replied}</td><td class=\"r b\">${n.replyRate}%</td></tr>`).join('')}</tbody>\n  </table>` : ''}\n\n  ${outreach.tierBreakdown && outreach.tierBreakdown.length > 0 ? `\n  <div class=\"split\">\n    <div class=\"split-half\">\n      <div class=\"label\">Por Tier</div>\n      <table class=\"s-table\">\n        <thead><tr><th>Tier</th><th class=\"r\">Leads</th><th class=\"r\">Contactados</th><th class=\"r\">Respuestas</th><th class=\"r\">Reply %</th></tr></thead>\n        <tbody>${outreach.tierBreakdown.map(t => `<tr><td class=\"b\">${t.tier}</td><td class=\"r\">${t.total}</td><td class=\"r\">${t.contacted}</td><td class=\"r\">${t.replied}</td><td class=\"r b\">${t.replyRate}%</td></tr>`).join('')}</tbody>\n      </table>\n    </div>\n    <div class=\"split-half\">\n      ${outreach.abTest && outreach.abTest.length >= 2 ? `\n      <div class=\"label\">Test A/B de Variantes</div>\n      <table class=\"s-table\">\n        <thead><tr><th>Variante</th><th class=\"r\">Enviados</th><th class=\"r\">Entregados</th><th class=\"r\">Respuestas</th><th class=\"r\">Conversion</th></tr></thead>\n        <tbody>${outreach.abTest.map(v => `<tr><td class=\"b\">Variante ${v.variant}</td><td class=\"r\">${v.sent}</td><td class=\"r\">${v.delivered}</td><td class=\"r\">${v.replied}</td><td class=\"r b\">${v.replyRate}%</td></tr>`).join('')}</tbody>\n      </table>` : ''}\n    </div>\n  </div>` : ''}\n\n  ${outreach.topCities && outreach.topCities.length > 0 ? `\n  <div class=\"label\">Por Ciudad</div>\n  <table class=\"s-table\">\n    <thead><tr><th>Ciudad</th><th class=\"r\">Leads</th><th class=\"r\">Contactados</th><th class=\"r\">Respuestas</th><th class=\"r\">Reply %</th></tr></thead>\n    <tbody>${outreach.topCities.map(c => `<tr><td>${c.city}</td><td class=\"r\">${c.total}</td><td class=\"r\">${c.contacted}</td><td class=\"r\">${c.replied}</td><td class=\"r b\">${c.replyRate}%</td></tr>`).join('')}</tbody>\n  </table>` : ''}\n\n  ${outreach.dayRanking && outreach.dayRanking.length > 0 ? `\n  <div class=\"label\">Rendimiento por Dia de la Semana</div>\n  <table class=\"s-table\">\n    <thead><tr><th>Dia</th><th class=\"r\">Enviados</th><th class=\"r\">Entregados</th><th class=\"r\">Respuestas</th><th class=\"r\">Tasa Reply</th></tr></thead>\n    <tbody>${outreach.dayRanking.map(d => `<tr><td>${d.day}</td><td class=\"r\">${d.sent}</td><td class=\"r\">${d.delivered}</td><td class=\"r\">${d.replied}</td><td class=\"r b\">${d.replyRate}%</td></tr>`).join('')}</tbody>\n  </table>` : ''}\n</div>\n\n<!-- 05. CORRELACION -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">05</span>Correlacion Disciplina / Produccion</div>\n  <p class=\"text\">${noEmoji(narr.correlation_narrative || correlation.insight)}</p>\n  <div class=\"m-grid\">\n    <div class=\"m-cell\"><div class=\"m-val\">${correlation.avgEmailsHighHabit}</div><div class=\"m-lbl\">Correos/dia</div><div class=\"m-sub\">Habitos +80% (${correlation.highHabitDaysCount} dias)</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${correlation.avgEmailsLowHabit}</div><div class=\"m-lbl\">Correos/dia</div><div class=\"m-sub\">Habitos -60% (${correlation.lowHabitDaysCount} dias)</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\" style=\"color:${correlation.delta > 0 ? '#166534' : '#991b1b'}\">${correlation.delta > 0 ? '+' : ''}${correlation.delta}</div><div class=\"m-lbl\">Delta</div><div class=\"m-sub\">Correos adicionales/dia</div></div>\n  </div>\n</div>\n\n<!-- 06. PROYECCION -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">06</span>Proyeccion del Periodo</div>\n  <p class=\"text\">${noEmoji(narr.projection_narrative)}</p>\n  <div class=\"m-grid\">\n    <div class=\"m-cell\"><div class=\"m-val\">${outreach.projectedMonthlyEmails}</div><div class=\"m-lbl\">Correos Proy./Mes</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${outreach.projectedReplies}</div><div class=\"m-lbl\">Respuestas Proy.</div></div>\n    <div class=\"m-cell\"><div class=\"m-val\">${meta.daysRemaining}</div><div class=\"m-lbl\">Dias Restantes</div><div class=\"m-sub\">del mes en curso</div></div>\n    <div class=\"m-cell\"><div class=\"m-val ${outreach.burnRate < 30 ? 'rd' : ''}\">${outreach.burnRate}</div><div class=\"m-lbl\">Burn Rate</div><div class=\"m-sub\">Dias hasta agotar pipeline</div></div>\n  </div>\n</div>\n\n<!-- 07. DIRECTIVAS -->\n<div class=\"sec\">\n  <div class=\"sec-title\"><span class=\"sec-num\">07</span>Directivas para el Proximo Periodo</div>\n  ${recommendations.length > 0\n    ? recommendations.map((r, i) => `<div class=\"dir\"><strong>${String(i+1).padStart(2,'0')}.</strong> ${noEmoji(r)}</div>`).join('')\n    : '<div class=\"dir\">Sin directivas criticas. Mantener operacion actual.</div>'}\n</div>\n\n<!-- DICTAMEN -->\n<div class=\"verdict\">\n  <div class=\"verdict-label\">Dictamen del Periodo</div>\n  <div class=\"verdict-body\">${noEmoji(narr.closing_motivational)}</div>\n</div>\n\n<!-- FOOTER -->\n<div class=\"doc-footer\">\n  <span>Nexus Global — XUS Intelligence System</span>\n  <span>${fechaEmision} — ${horaEmision} COT</span>\n  <span>Documento confidencial — Uso interno</span>\n</div>\n\n</body>\n</html>`;\n\n// ═══════════════════════════════════════════════════════════════\n// EMAIL HTML\n// ═══════════════════════════════════════════════════════════════\n\nconst emailHtml = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background:#f5f5f5;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f5f5f5\"><tr><td align=\"center\" style=\"padding:32px 16px\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:520px;background:#ffffff\">\n\n<tr><td style=\"background:#18181b;padding:28px 32px\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n    <td><p style=\"margin:0;font-size:9px;letter-spacing:4px;color:#71717a;text-transform:uppercase\">Nexus Global</p><p style=\"margin:6px 0 0;font-size:18px;color:#fff;font-weight:700\">Informe de Rendimiento</p><p style=\"margin:3px 0 0;font-size:12px;color:#a1a1aa\">${periodoCompleto || meta.period}</p></td>\n    <td style=\"text-align:right;vertical-align:top\"><div style=\"font-size:36px;font-weight:800;color:${sc(score.overall)};line-height:1\">${score.overall}</div><div style=\"font-size:8px;letter-spacing:2px;color:${sc(score.overall)};font-weight:700;margin-top:2px\">${noEmoji(score.label)}</div></td>\n  </tr></table>\n</td></tr>\n\n<tr><td style=\"padding:24px 32px 0\"><p style=\"margin:0;font-size:9px;letter-spacing:2px;color:#a1a1aa;text-transform:uppercase;font-weight:600\">Resumen</p><p style=\"margin:8px 0 0;font-size:13px;color:#3f3f46;line-height:1.65\">${noEmoji(narr.executive_summary)}</p></td></tr>\n\n<tr><td style=\"padding:20px 32px 0\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #e4e4e7\"><tr>\n    <td style=\"text-align:center;padding:14px 8px;border-right:1px solid #e4e4e7;width:25%\"><div style=\"font-size:22px;font-weight:800;color:${sc(score.habit)};line-height:1\">${score.habit}</div><div style=\"font-size:7px;color:#a1a1aa;letter-spacing:1px;text-transform:uppercase;margin-top:3px\">Disciplina</div></td>\n    <td style=\"text-align:center;padding:14px 8px;border-right:1px solid #e4e4e7;width:25%\"><div style=\"font-size:22px;font-weight:800;color:${sc(score.outreach)};line-height:1\">${score.outreach}</div><div style=\"font-size:7px;color:#a1a1aa;letter-spacing:1px;text-transform:uppercase;margin-top:3px\">Produccion</div></td>\n    <td style=\"text-align:center;padding:14px 8px;border-right:1px solid #e4e4e7;width:25%\"><div style=\"font-size:22px;font-weight:800;color:${sc(score.reply)};line-height:1\">${score.reply}</div><div style=\"font-size:7px;color:#a1a1aa;letter-spacing:1px;text-transform:uppercase;margin-top:3px\">Conversion</div></td>\n    <td style=\"text-align:center;padding:14px 8px;width:25%\"><div style=\"font-size:22px;font-weight:800;line-height:1\">${habits.currentStreak}</div><div style=\"font-size:7px;color:#a1a1aa;letter-spacing:1px;text-transform:uppercase;margin-top:3px\">Racha</div></td>\n  </tr></table>\n</td></tr>\n\n<tr><td style=\"padding:20px 32px 0\"><div style=\"height:1px;background:#e4e4e7\"></div></td></tr>\n\n<tr><td style=\"padding:16px 32px 0\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"font-size:12px\">\n    <tr><td style=\"padding:5px 0;color:#71717a;width:55%\">Habitos cumplidos</td><td style=\"padding:5px 0;color:#18181b;font-weight:700;text-align:right\">${habits.overallPct}% (${habits.totalDone}/${habits.totalSlots})</td></tr>\n    <tr><td style=\"padding:5px 0;color:#71717a;border-top:1px solid #f4f4f5\">Tendencia</td><td style=\"padding:5px 0;font-weight:700;text-align:right;border-top:1px solid #f4f4f5;color:${trendColor}\">${habits.trend} (${habits.trendDiff}pts)</td></tr>\n    <tr><td style=\"padding:5px 0;color:#71717a;border-top:1px solid #f4f4f5\">Correos entregados</td><td style=\"padding:5px 0;color:#18181b;font-weight:700;text-align:right;border-top:1px solid #f4f4f5\">${outreach.totalDelivered} (${outreach.avgEmailsPerDay}/dia)</td></tr>\n    <tr><td style=\"padding:5px 0;color:#71717a;border-top:1px solid #f4f4f5\">Correos fallidos</td><td style=\"padding:5px 0;color:#991b1b;font-weight:700;text-align:right;border-top:1px solid #f4f4f5\">${outreach.totalFailed} (${outreach.failRate}%)</td></tr>\n    <tr><td style=\"padding:5px 0;color:#71717a;border-top:1px solid #f4f4f5\">Respuestas</td><td style=\"padding:5px 0;color:#18181b;font-weight:700;text-align:right;border-top:1px solid #f4f4f5\">${outreach.totalReplied} (${outreach.replyRate}%)</td></tr>\n    <tr><td style=\"padding:5px 0;color:#71717a;border-top:1px solid #f4f4f5\">Pipeline disponible</td><td style=\"padding:5px 0;color:#18181b;font-weight:700;text-align:right;border-top:1px solid #f4f4f5\">${outreach.pendingLeads} leads</td></tr>\n    <tr><td style=\"padding:5px 0;color:#71717a;border-top:1px solid #f4f4f5\">Burn rate</td><td style=\"padding:5px 0;font-weight:700;text-align:right;border-top:1px solid #f4f4f5;color:${outreach.burnRate < 30 ? '#991b1b' : '#18181b'}\">${outreach.burnRate} dias</td></tr>\n  </table>\n</td></tr>\n\n<tr><td style=\"padding:20px 32px 0\"><div style=\"height:1px;background:#e4e4e7\"></div></td></tr>\n\n<tr><td style=\"padding:16px 32px 0\">\n  <p style=\"margin:0 0 8px;font-size:9px;letter-spacing:2px;color:#a1a1aa;text-transform:uppercase;font-weight:600\">Directivas</p>\n  ${recommendations.slice(0,4).map(r => `<p style=\"margin:0 0 5px;font-size:11px;color:#3f3f46;padding-left:10px;border-left:2px solid #18181b;line-height:1.5\">${noEmoji(r)}</p>`).join('')}\n</td></tr>\n\n<tr><td style=\"background:#18181b;padding:20px 32px;margin-top:20px\">\n  <p style=\"margin:0;font-size:8px;letter-spacing:2px;color:#71717a;text-transform:uppercase;font-weight:600;margin-bottom:6px\">Dictamen</p>\n  <p style=\"margin:0;font-size:12px;color:#d4d4d8;line-height:1.65\">${noEmoji(narr.closing_motivational)}</p>\n</td></tr>\n\n<tr><td style=\"padding:20px 32px;text-align:center;border-top:1px solid #e4e4e7\">\n  <p style=\"margin:0;font-size:11px;color:#18181b;font-weight:600\">Informe completo adjunto en PDF</p>\n  <p style=\"margin:6px 0 0;font-size:9px;color:#a1a1aa\">${fechaEmision} — ${horaEmision} COT</p>\n  <p style=\"margin:3px 0 0;font-size:8px;color:#d4d4d8;letter-spacing:1px;text-transform:uppercase\">Nexus Global — Confidencial</p>\n</td></tr>\n\n</table></td></tr></table></body></html>`;\n\nconst docTitle = `Informe_${reportLabel}_${(periodoCompleto || '').replace(/[\\s\\/,]/g,'_')}_${now.toISOString().split('T')[0]}`;\n\nreturn [{ json: {\n  html,\n  emailHtml,\n  emailSubject: narr.email_subject || `Informe de Rendimiento | ${periodoCompleto} | Score ${score.overall}/100`,\n  emailPreview: narr.email_preview || `Score: ${score.overall}/100`,\n  docTitle,\n  score, habits, outreach, recommendations, meta, narr, correlation, periodoCompleto,\n  chatId: config.chatId || '6908159885'\n}}];"
      },
      "id": "092ea818-f4c1-4685-8280-63c5a16dfc18",
      "name": "🎨 HTML Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        560
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "list",
          "cachedResultName": "Tasking Plan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 57950194,
          "mode": "list",
          "cachedResultName": "Registro Febrero",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw/edit#gid=57950194"
        },
        "options": {}
      },
      "id": "f53f944f-4a5e-4d12-9194-20a6e73c820b",
      "name": "📊 Read Registro Mes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        752,
        768
      ],
      "id": "05d0b027-8af9-4f0a-9a2a-94b3a7167ec6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2032,
        720
      ],
      "id": "5128ce0b-6b00-406f-8d42-328971918358",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Input & Date Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Sábado 9PM": {
      "main": [
        [
          {
            "node": "📦 Input & Date Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Input & Date Parser": {
      "main": [
        [
          {
            "node": "🧠 Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Classifier": {
      "main": [
        [
          {
            "node": "🔗 Config Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Config Bridge": {
      "main": [
        [
          {
            "node": "📊 Read Habits",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Read Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Read Email Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Read Outreach Control",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Read Registro Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read Habits": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read Leads": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📊 Read Email Log": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "📊 Read Outreach Control": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "🔬 Analysis Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 Analysis Engine": {
      "main": [
        [
          {
            "node": "🧠 Gemini Narrative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Gemini Narrative": {
      "main": [
        [
          {
            "node": "🎨 HTML Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar HTML Base64": {
      "main": [
        [
          {
            "node": "ConvertAPI HTML a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTML a PDF": {
      "main": [
        [
          {
            "node": "Preparar PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDF Binary": {
      "main": [
        [
          {
            "node": "Send Email con PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email con PDF": {
      "main": [
        [
          {
            "node": "Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Builder": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 HTML Builder": {
      "main": [
        [
          {
            "node": "Preparar HTML Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read Registro Mes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Gemini Narrative",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a2884eb0-6f91-401a-a340-0f18f2a2bd4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "bedTYNyNb2ensrxa",
  "tags": []
}