home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER SYSTEM/XUS Menu v6.0 - Quick Access.json
{
  "name": "XUS Menu v6.0 - Quick Access",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        544,
        368
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.setLocale('es').toFormat('MMMM').charAt(0).toUpperCase() + $now.setLocale('es').toFormat('MMMM').slice(1) }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "84743ac9-f613-4f37-8f76-4fd0d2579938",
      "name": "📊 Leer Hábitos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        752,
        368
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════════════════\n * 📜 XUS MENU v6.0 — ULTRA INTELIGENTE CON EMOJIS REALES\n * ═══════════════════════════════════════════════════════════════════════════\n * \n * CARACTERÍSTICAS:\n * - Muestra solo hábitos del bloque actual + pendientes del anterior\n * - Oculta automáticamente los que ya están marcados como TRUE\n * - Progreso en tiempo real del día completo\n * - Emojis exactos de tus 17 hábitos reales\n * - Bloques horarios alineados a tu agenda\n * - Vista adaptativa según la hora\n * \n * ═══════════════════════════════════════════════════════════════════════════\n */\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 1. CONFIGURACIÓN INICIAL\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst sheetsData = $input.all();\nconst now = new Date(new Date().toLocaleString(\"en-US\", {timeZone: \"America/Bogota\"}));\nconst hora = now.getHours();\nconst minutos = now.getMinutes();\nconst horaDecimal = hora + (minutos / 60);\nconst todayNum = now.getDate().toString();\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 2. FUNCIÓN: Verificar si un hábito está completado HOY\n// ═══════════════════════════════════════════════════════════════════════════\n\nfunction isCompleted(rowNumber) {\n  for (const item of sheetsData) {\n    const row = item.json;\n    if (row.row_number === rowNumber) {\n      const val = row[todayNum];\n      if (!val) return false;\n      const valStr = String(val).toUpperCase().trim();\n      return ['TRUE', '1', 'SI', 'SÍ', 'VERDADERO', 'X', '✓', '✔'].includes(valStr);\n    }\n  }\n  return false;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 3. DEFINICIÓN DE BLOQUES HORARIOS CON 17 HÁBITOS REALES\n// ═══════════════════════════════════════════════════════════════════════════\n// Nota: Los row_number van de 10 a 26 (17 hábitos)\n\nconst BLOQUES = [\n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 1: RITUAL DE GUERRA (5:50 - 7:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'ritual',\n    nombre: '⛳ RITUAL DE GUERRA',\n    mensaje: 'Arranca el día con fuerza absoluta:',\n    inicio: 5.83,  // 5:50\n    fin: 7.0,\n    habitos: [\n      { text: \"⛳ Despertar 5:50\", callback_data: \"Despertar 5:50 a.m. ⛳\", row: 10 },\n      { text: \"💪 100 Push Ups\", callback_data: \"100 Push Ups 💪\", row: 11 },\n      { text: \"🐋 Cold Shower\", callback_data: \"Cold Shower 🐋\", row: 12 },\n      { text: \"🎯 English Class\", callback_data: \"English Class 🎯\", row: 13 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 2: ESCRITURA METAS (7:00 - 8:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'metas_manana',\n    nombre: '🌬 ESCRITURA METAS',\n    mensaje: 'Programa tu mente para ganar:',\n    inicio: 7.0,\n    fin: 8.0,\n    habitos: [\n      { text: \"🌬 Metas X10\", callback_data: \"Escritura Metas X10 🌬\", row: 14 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 3: DEEP WORK + PROSPECCIÓN (8:00 - 11:30)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'prospeccion',\n    nombre: '📈 DEEP WORK',\n    mensaje: 'Foco total. Generación de leads:',\n    inicio: 8.0,\n    fin: 11.5,\n    habitos: [\n      { text: \"📈 Deep Work 50\", callback_data: \"Deep Work 50 Leads 📈\", row: 15 },\n      { text: \"📈 Search 300\", callback_data: \"Search 300 Leads 📈\", row: 16 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 4: RECARGA ANALÓGICA (11:30 - 13:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'recarga',\n    nombre: '🐱‍👤 RECARGA',\n    mensaje: 'Almuerzo sin pantallas. Desconexión:',\n    inicio: 11.5,\n    fin: 13.0,\n    habitos: [\n      { text: \"🐱‍👤 Recarga Analógica\", callback_data: \"Recarga Analogica 🐱‍👤\", row: 17 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 5: GESTIÓN (13:00 - 15:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'gestion',\n    nombre: '🧨 GESTIÓN',\n    mensaje: 'Respuestas y organización:',\n    inicio: 13.0,\n    fin: 15.0,\n    habitos: [\n      { text: \"🧨 Respuestas\", callback_data: \"Gestion de Respuestas 🧨\", row: 18 },\n      { text: \"🗂️ Create Carpets\", callback_data: \"Create Carpets 🗂️\", row: 19 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 6: SEGUNDA RONDA (15:00 - 17:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'segunda_ronda',\n    nombre: '⚡ SEGUNDA RONDA',\n    mensaje: '30 leads más. No dejes dinero en la mesa:',\n    inicio: 15.0,\n    fin: 17.0,\n    habitos: [\n      { text: \"⚡ 2da Ronda 30\", callback_data: \"Segunda Ronda 30 Leads ⚡\", row: 20 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 7: ROLE PLAY (17:00 - 18:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'guion',\n    nombre: '🐱‍🏍 GUIÓN H.T.',\n    mensaje: 'Practica el cierre perfecto:',\n    inicio: 17.0,\n    fin: 18.0,\n    habitos: [\n      { text: \"🐱‍🏍 Role Play H.T\", callback_data: \"Role Play Guion H.T 🐱‍🏍\", row: 21 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 8: REGISTRO CRM (18:00 - 19:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'registro',\n    nombre: '🐱‍👓 REGISTRO',\n    mensaje: 'Lo que no se mide, no existe:',\n    inicio: 18.0,\n    fin: 19.0,\n    habitos: [\n      { text: \"🐱‍👓 Registro Leads\", callback_data: \"Registro de Leads C. 🐱‍👓\", row: 22 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 9: AUDITORÍA (19:00 - 20:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'auditoria',\n    nombre: '🟡 AUDITORÍA',\n    mensaje: 'Expectativa vs Realidad. ¿Cumpliste?',\n    inicio: 19.0,\n    fin: 20.0,\n    habitos: [\n      { text: \"🟡 Auditoría\", callback_data: \"Auditoria Expectativa v.s Realidad 🟡\", row: 23 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 10: AFIRMACIONES NOCTURNAS (20:00 - 20:30)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'afirmaciones',\n    nombre: '🚀 AFIRMACIONES',\n    mensaje: 'Reescribe tus metas. Visualiza:',\n    inicio: 20.0,\n    fin: 20.5,\n    habitos: [\n      { text: \"🚀 Metas/Afirmaciones\", callback_data: \"Escribir Metas | Afirmaciones 🚀\", row: 24 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 11: PLANEACIÓN (20:30 - 21:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'planeacion',\n    nombre: '🐇 PLANEACIÓN',\n    mensaje: 'Prepara el plan de mañana:',\n    inicio: 20.5,\n    fin: 21.0,\n    habitos: [\n      { text: \"🐇 Planeación\", callback_data: \"Planeacion/Planificacion 🐇\", row: 25 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 12: LECTURA (21:00 - 21:40)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'lectura',\n    nombre: '🎯 LECTURA',\n    mensaje: 'El Príncipe - 10 páginas mínimo:',\n    inicio: 21.0,\n    fin: 21.67, // 21:40\n    habitos: [\n      { text: \"🎯 El Príncipe 10p\", callback_data: \"Lectura El Principe 10 Paginas 🎯\", row: 26 }\n    ]\n  },\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // BLOQUE 13: RUTINA NOCTURNA (21:40 - 23:00)\n  // ─────────────────────────────────────────────────────────────────────────\n  {\n    id: 'rutina_noche',\n    nombre: '🧥 RUTINA NOCTURNA',\n    mensaje: 'Desconexión total:',\n    inicio: 21.67,\n    fin: 23.0,\n    habitos: [\n      { text: \"🧥 Routine Face\", callback_data: \"Routine Face (Ice Cold Face) 🧥\", row: 27 },\n      { text: \"♣ Cama 9:40\", callback_data: \"Ir a la Cama a las 9:40 p.m. ♣\", row: 28 }\n    ]\n  }\n];\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 4. ENCONTRAR BLOQUE ACTUAL Y ANTERIOR\n// ═══════════════════════════════════════════════════════════════════════════\n\nlet bloqueActualIdx = -1;\n\n// Buscar el bloque actual según la hora\nfor (let i = 0; i < BLOQUES.length; i++) {\n  if (horaDecimal >= BLOQUES[i].inicio && horaDecimal < BLOQUES[i].fin) {\n    bloqueActualIdx = i;\n    break;\n  }\n}\n\n// Si no encontró bloque exacto (entre bloques o fuera de rango)\nif (bloqueActualIdx === -1) {\n  if (horaDecimal < 5.83) {\n    // Antes del primer bloque\n    bloqueActualIdx = 0;\n  } else if (horaDecimal >= 23.0) {\n    // Después del último bloque\n    bloqueActualIdx = BLOQUES.length - 1;\n  } else {\n    // Entre bloques - buscar el siguiente\n    for (let i = 0; i < BLOQUES.length - 1; i++) {\n      if (horaDecimal >= BLOQUES[i].fin && horaDecimal < BLOQUES[i + 1].inicio) {\n        bloqueActualIdx = i + 1; // Mostrar el siguiente\n        break;\n      }\n    }\n  }\n}\n\nconst bloqueActual = BLOQUES[bloqueActualIdx];\nconst bloqueAnterior = bloqueActualIdx > 0 ? BLOQUES[bloqueActualIdx - 1] : null;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 5. FILTRAR HÁBITOS PENDIENTES (NO COMPLETADOS)\n// ═══════════════════════════════════════════════════════════════════════════\n\nfunction getHabitosPendientes(bloque) {\n  if (!bloque) return [];\n  return bloque.habitos.filter(h => !isCompleted(h.row));\n}\n\nconst pendientesActual = getHabitosPendientes(bloqueActual);\nconst pendientesAnterior = getHabitosPendientes(bloqueAnterior);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 6. CONSTRUIR TECLADO INLINE (BOTONES)\n// ═══════════════════════════════════════════════════════════════════════════\n\nlet botones = [];\nlet titulo = bloqueActual.nombre;\nlet mensaje = bloqueActual.mensaje;\n\n// Contador de completados del bloque actual\nconst totalActual = bloqueActual.habitos.length;\nconst completadosActual = totalActual - pendientesActual.length;\n\n// ─────────────────────────────────────────────────────────────────────────\n// 6.1 AÑADIR PENDIENTES DEL BLOQUE ANTERIOR\n// ─────────────────────────────────────────────────────────────────────────\n\nif (pendientesAnterior.length > 0) {\n  mensaje += `\\n\\n⚠️ _Pendientes de ${bloqueAnterior.nombre}:_`;\n  \n  // Agrupar en filas de 2 botones\n  for (let i = 0; i < pendientesAnterior.length; i += 2) {\n    const fila = [pendientesAnterior[i]];\n    if (pendientesAnterior[i + 1]) {\n      fila.push(pendientesAnterior[i + 1]);\n    }\n    botones.push(fila);\n  }\n}\n\n// ─────────────────────────────────────────────────────────────────────────\n// 6.2 AÑADIR PENDIENTES DEL BLOQUE ACTUAL\n// ─────────────────────────────────────────────────────────────────────────\n\nif (pendientesActual.length > 0) {\n  // Si ya mostramos pendientes anteriores, agregar separador\n  if (pendientesAnterior.length > 0) {\n    botones.push([{ \n      text: `─── AHORA (${completadosActual}/${totalActual} ✓) ───`, \n      callback_data: 'separador' \n    }]);\n  }\n  \n  // Agrupar en filas de 2 botones\n  for (let i = 0; i < pendientesActual.length; i += 2) {\n    const fila = [pendientesActual[i]];\n    if (pendientesActual[i + 1]) {\n      fila.push(pendientesActual[i + 1]);\n    }\n    botones.push(fila);\n  }\n} else if (pendientesAnterior.length === 0) {\n  // ─────────────────────────────────────────────────────────────────────────\n  // 6.3 ¡TODO COMPLETADO EN ESTE BLOQUE!\n  // ─────────────────────────────────────────────────────────────────────────\n  \n  mensaje = `✅ *¡BLOQUE COMPLETADO!*\\n\\nTodos los hábitos de ${bloqueActual.nombre} están listos.`;\n  \n  // Buscar siguiente bloque con pendientes\n  let siguienteBloqueConPendientes = null;\n  for (let i = bloqueActualIdx + 1; i < BLOQUES.length; i++) {\n    const pendientes = getHabitosPendientes(BLOQUES[i]);\n    if (pendientes.length > 0) {\n      siguienteBloqueConPendientes = BLOQUES[i];\n      mensaje += `\\n\\n🔜 _Próximo: ${siguienteBloqueConPendientes.nombre}_`;\n      \n      // Mostrar pendientes del siguiente bloque\n      for (let j = 0; j < pendientes.length; j += 2) {\n        const fila = [pendientes[j]];\n        if (pendientes[j + 1]) {\n          fila.push(pendientes[j + 1]);\n        }\n        botones.push(fila);\n      }\n      break;\n    }\n  }\n  \n  // Si no hay más bloques con pendientes\n  if (!siguienteBloqueConPendientes) {\n    mensaje += `\\n\\n🏆 *¡DÍA PERFECTO!*\\nTodos los hábitos completados.`;\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 7. ACCIONES RÁPIDAS (SIEMPRE DISPONIBLES)\n// ═══════════════════════════════════════════════════════════════════════════\n\nbotones.push([\n  { text: \"📊 Análisis Diario\", callback_data: \"analisis de hoy\" },\n  { text: \"🎵 Imperial March\", callback_data: \"ponme imperial\" }\n]);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 8. CALCULAR PROGRESO GLOBAL DEL DÍA\n// ═══════════════════════════════════════════════════════════════════════════\n\nlet totalHabitos = 0;\nlet completados = 0;\n\nBLOQUES.forEach(b => {\n  b.habitos.forEach(h => {\n    totalHabitos++;\n    if (isCompleted(h.row)) {\n      completados++;\n    }\n  });\n});\n\nconst porcentaje = totalHabitos > 0 ? Math.round((completados / totalHabitos) * 100) : 0;\nconst pendientesTotal = totalHabitos - completados;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 9. CONSTRUIR MENSAJE FINAL\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst horaStr = String(hora).padStart(2, '0') + ':' + String(minutos).padStart(2, '0');\n\n// Emoji dinámico según progreso\nlet emojiProgreso = '🟥';\nif (porcentaje >= 80) emojiProgreso = '🟩';\nelse if (porcentaje >= 50) emojiProgreso = '🟨';\nelse if (porcentaje >= 20) emojiProgreso = '🟧';\n\n// Barra de progreso visual\nconst bloquesFilled = Math.floor(porcentaje / 10);\nconst bloquesEmpty = 10 - bloquesFilled;\nconst barraProgreso = '▓'.repeat(bloquesFilled) + '░'.repeat(bloquesEmpty);\n\nlet textoFinal = `*${titulo}*\\n`;\ntextoFinal += `🕐 ${horaStr} | ${emojiProgreso} ${completados}/${totalHabitos} (${porcentaje}%)\\n`;\ntextoFinal += `${barraProgreso}\\n\\n`;\ntextoFinal += mensaje;\n\n// Añadir motivación según progreso\nif (porcentaje === 100) {\n  textoFinal += `\\n\\n💀 _Ejecución total. Esto es disciplina de élite._`;\n} else if (porcentaje >= 80) {\n  textoFinal += `\\n\\n🔥 _¡Casi perfecto! Solo ${pendientesTotal} más._`;\n} else if (porcentaje >= 50) {\n  textoFinal += `\\n\\n⚡ _Buen ritmo. Mantén el enfoque._`;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 10. RETORNAR RESULTADO\n// ═══════════════════════════════════════════════════════════════════════════\n\nreturn [{\n  json: {\n    moduleType: 'menu',\n    active: true,\n    textResponse: textoFinal,\n    menuButtons: botones,\n    telegramOptions: {\n      parseMode: 'Markdown',\n      hasButtons: true,\n      inlineKeyboard: botones\n    },\n    // Metadata para debugging\n    _debug: {\n      horaActual: horaStr,\n      bloqueActual: bloqueActual.id,\n      totalHabitos: totalHabitos,\n      completados: completados,\n      porcentaje: porcentaje,\n      pendientesActual: pendientesActual.length,\n      pendientesAnterior: pendientesAnterior.length\n    }\n  }\n}];"
      },
      "id": "b1e6a884-2b88-4484-8858-acd2f1fc2689",
      "name": "📜 XUS Menu v6.0",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        368
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📊 Leer Hábitos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Leer Hábitos": {
      "main": [
        [
          {
            "node": "📜 XUS Menu v6.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b9d7b543-a798-4bb5-9e70-62c9ff527ae4",
  "meta": {
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "ULNQzz6ujw3zEnCf",
  "tags": []
}