home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER SYSTEM/XUS Flow v1.0 _ N8N.json
{
  "name": "XUS Flow v1.0 | N8N",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ea468070-76bd-4de2-851b-69b5e4228a7a",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2848,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = (input.query || input.message || input.text || '').trim();\nconst chatId = (input.chatId || input.chat_id || '').toString();\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst today = now.toLocaleDateString('es-ES');\nconst hour = now.getHours().toString().padStart(2,'0') + ':' + now.getMinutes().toString().padStart(2,'0');\n\n// ══ CONFIG N8N API ══\nconst N8N_HOST = 'https://nexusys.duckdns.org';\nconst N8N_API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhYzI0OGM2OC1iOGZiLTQ3ZGItOWVjMC1kOWQ0YmUxYTU3NzMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiMzYzY2IzNzktOGIzMC00MzM3LWI5N2EtNGM4NGY1MmQ0ODg4IiwiaWF0IjoxNzcxOTA0NTI5fQ.-7m7aHO38-KgK8oQRdFLkq9YsD7_DFXjSSeIZ_kUVDs';\n\nreturn [{ json: { \n  query, chatId, today, hour,\n  n8n_host: N8N_HOST,\n  api_key: N8N_API_KEY\n} }];"
      },
      "id": "5d22d412-ec32-48df-a1a6-12918d551808",
      "name": "📦 Parser + Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2624,
        1104
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DE SANTIAGO:\n\"{{ $json.query }}\"\n\nFECHA: {{ $json.today }} | HORA: {{ $json.hour }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🧠 XUS FLOW CLASIFICADOR v2.0 — SELF-MANAGEMENT ENGINE\n═══════════════════════════════════════════════════════════\n\nMISIÓN: Detectar qué acción ejecutar sobre workflows de n8n.\nRESPONDE SOLO JSON PURO. Sin markdown. Primera { última }\n\n═══ ACCIONES DISPONIBLES ═══\n\nlist_workflows → Listar todos los workflows\nget_workflow → Leer JSON completo de un workflow\nupdate_workflow → Modificación general de workflow\nupdate_node → Modificar un nodo específico (código, config)\nfix_prompt → Modificar el SYSTEM PROMPT de un agente\ncreate_workflow → Crear workflow nuevo\nactivate_wf → Activar workflow\ndeactivate_wf → Desactivar workflow\nexecute_wf → Ejecutar workflow\ndelete_wf → Eliminar/borrar workflow\nget_executions → Ver ejecuciones pasadas\nget_execution → Detalle de una ejecución\ndebug_workflow → Ver errores recientes\n\n═══ CLASIFICACIÓN INTELIGENTE ═══\n\n🔴 FIX_PROMPT - Usar cuando:\n- \"mejora el prompt de X\"\n- \"cambia el system message\"\n- \"actualiza las instrucciones del agente\"\n- \"modifica el prompt del clasificador\"\n- \"añade esta regla al prompt\"\n- \"corrige el system prompt\"\n- \"agrega al prompt\"\n- Cualquier modificación a system message/prompt de un agente\n\n🟡 UPDATE_NODE - Usar cuando:\n- \"cambia el código del nodo X\"\n- \"modifica la configuración del nodo\"\n- \"actualiza el nodo de código\"\n- Cambios a nodos que NO son prompts de agentes\n\n🟢 UPDATE_WORKFLOW - Usar cuando:\n- \"cambia las conexiones\"\n- \"reorganiza el workflow\"\n- \"añade un nodo nuevo\"\n- \"elimina el nodo X\"\n- Cambios estructurales generales\n\n🔵 DELETE_WF - Usar cuando:\n- \"elimina el workflow X\"\n- \"borra el workflow\"\n- \"quita el workflow\"\n- \"delete workflow\"\n\n═══ WORKFLOWS CONOCIDOS ═══\n\n- XUS Cerebro / XUS Talking v1.0 - Main Orchestrator\n- XUS Habits v2.0\n- XUS Calendar v3.0\n- XUS Email Manager v2.0\n- XUS Analyzer v3.0\n- XUS DJ v10\n- XUS Sheets v1.0\n- XUS Drive v1.0\n- XUS Menu v6.0\n- XUS Flow v1.0 (este)\n- XUS Remind v1.0\n- XUS TV v1.0\n- XUS Reports v1.0\n\n═══ OUTPUT JSON ═══\n{\n  \"action\": \"fix_prompt|update_node|update_workflow|delete_wf|etc\",\n  \"params\": {\n    \"workflow_name\": \"nombre del workflow\",\n    \"workflow_id\": \"ID si se conoce\",\n    \"node_name\": \"nombre exacto del nodo\",\n    \"modification_type\": \"replace|append|prepend\",\n    \"new_content\": \"contenido nuevo a aplicar\",\n    \"description\": \"qué se va a cambiar\"\n  },\n  \"intent_description\": \"descripción de la intención\",\n  \"confidence\": \"high|medium|low\"\n}\n\n═══ REGLAS CRÍTICAS ═══\n\n1. Si menciona \"prompt\", \"system message\", \"instrucciones del agente\" → fix_prompt\n2. Extrae el NOMBRE EXACTO del nodo si se menciona (ej: \"🦑 CEREBRO CLASIFICADOR\")\n3. Si dice \"añade al final\" → modification_type: \"append\"\n4. Si dice \"reemplaza\" → modification_type: \"replace\"\n5. Copia el CONTENIDO EXACTO que quiere añadir en new_content\n6. workflow_name debe coincidir con nombres conocidos\n7. Si dice \"elimina\", \"borra\", \"quita\" workflow → delete_wf"
        }
      },
      "id": "4fa88adc-c4bf-438d-991d-263eba4d353b",
      "name": "🧠 Agente Clasificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2400,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentRaw = $input.first().json;\nconst parser = $('📦 Parser + Config').first().json;\n\nlet ai = {};\ntry {\n  let text = agentRaw.text || agentRaw.output || agentRaw.message || '';\n  if (typeof text === 'object') { ai = text; }\n  else {\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]);\n  }\n} catch(e) { \n  ai = { action: 'list_workflows', params: {} }; \n}\n\nconst p = ai.params || {};\n\n// Normalizar acción\nlet action = (ai.action || 'list_workflows').toLowerCase().trim();\n\n// Si es fix_prompt o update_node, validar que tenemos los params necesarios\nif (action === 'fix_prompt' || action === 'update_node') {\n  if (!p.workflow_name && !p.workflow_id) {\n    action = 'list_workflows'; // Fallback si falta info\n  }\n}\n\nreturn [{ json: {\n  action: action,\n  intent_description: ai.intent_description || '',\n  confidence: ai.confidence || 'medium',\n  \n  // Params específicos\n  workflow_name: p.workflow_name || '',\n  workflow_id: p.workflow_id || '',\n  node_name: p.node_name || '',\n  modification_type: p.modification_type || 'append',\n  new_content: p.new_content || '',\n  description: p.description || '',\n  new_prompt: p.new_prompt || p.new_content || '',\n  execution_id: p.execution_id || '',\n  limit: p.limit || 10,\n  status: p.status || 'all',\n  \n  // Contexto\n  query: parser.query,\n  chatId: parser.chatId,\n  today: parser.today,\n  hour: parser.hour,\n  \n  // API Config\n  n8n_host: parser.n8n_host,\n  api_key: parser.api_key\n} }];"
      },
      "id": "616fb79d-9125-42e6-bc53-2747379695d6",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        1104
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_workflows",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list_workflows"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "activate_wf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "activate_wf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deactivate_wf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deactivate_wf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "execute_wf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "execute_wf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_executions",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_executions"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_execution",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get_execution"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "debug_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "debug_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_node",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_node"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "fix_prompt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fix_prompt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_workflow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_workflow"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_wf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_wf"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "67e06316-49ab-4d17-ba4f-1e212ae40981",
      "name": "🔀 Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1824,
        928
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c994336e-c6d2-48c3-908d-221914eebf42",
      "name": "📋 List Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst wfs = data.data || data || [];\n\n// Verificar si hubo error HTTP\nif (data.error || data.message) {\n  return [{ json: { \n    _action: 'list_workflows', \n    error: true,\n    summary: '❌ Error API: ' + (data.message || data.error || 'Error desconocido')\n  } }];\n}\n\nconst list = (Array.isArray(wfs) ? wfs : []).map(w => ({\n  id: w.id, \n  name: w.name, \n  active: w.active,\n  created: w.createdAt ? new Date(w.createdAt).toLocaleDateString('es-ES') : '',\n  updated: w.updatedAt ? new Date(w.updatedAt).toLocaleDateString('es-ES') : '',\n  nodes: w.nodes?.length || 0\n}));\n\nconst active = list.filter(w => w.active).length;\nconst inactive = list.length - active;\n\nreturn [{ json: { \n  _action: 'list_workflows', \n  total: list.length, \n  active, \n  inactive, \n  workflows: list, \n  summary: list.length + ' workflows: ' + active + ' activos, ' + inactive + ' inactivos' \n} }];"
      },
      "id": "84c73403-25cd-4117-bd0f-2045b3c0ed94",
      "name": "📋 Format List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f36c73a-923e-4e10-b71c-36414f79f2dd",
      "name": "📋 Find WF for Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst wfs = data.data || data || [];\nconst bridge = $('🔗 Bridge').first().json;\nconst search = (bridge.workflow_name || bridge.workflow_id || '').toLowerCase();\n\nif (!search) {\n  return [{ json: { error: true, _action: 'get_workflow', summary: '❌ No especificaste qué workflow ver' } }];\n}\n\nconst found = (Array.isArray(wfs) ? wfs : []).find(w => \n  w.name.toLowerCase().includes(search) || w.id === search\n);\n\nif (!found) {\n  return [{ json: { error: true, _action: 'get_workflow', summary: '❌ Workflow no encontrado: ' + search } }];\n}\n\nreturn [{ json: { workflowId: found.id, workflowName: found.name } }];"
      },
      "id": "ad28290a-3a8e-4b62-97df-bce9471d3863",
      "name": "🔧 Resolve WF ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d27138ad-6f60-4214-8093-42ddd3f68f1e",
      "name": "📖 Get Workflow Full",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const wf = $input.first().json;\n\nif (wf.error || !wf.id) {\n  return [{ json: { _action: 'get_workflow', error: true, summary: '❌ Error al obtener workflow' } }];\n}\n\nconst nodes = (wf.nodes || []).map(n => ({ \n  name: n.name, \n  type: n.type?.split('.').pop() || n.type \n}));\n\nconst agents = nodes.filter(n => n.type?.toLowerCase().includes('agent'));\n\nlet prompts = [];\n(wf.nodes || []).forEach(n => {\n  const sysMsg = n.parameters?.options?.systemMessage;\n  if (sysMsg) {\n    prompts.push({ \n      node: n.name, \n      promptPreview: sysMsg.substring(0, 300) + '...' \n    });\n  }\n});\n\nreturn [{ json: {\n  _action: 'get_workflow',\n  id: wf.id, \n  name: wf.name, \n  active: wf.active,\n  nodeCount: nodes.length, \n  nodes,\n  agentCount: agents.length, \n  agents,\n  prompts,\n  summary: '\"' + wf.name + '\" — ' + nodes.length + ' nodos, ' + agents.length + ' agentes, ' + (wf.active ? '✅ activo' : '❌ inactivo')\n} }];"
      },
      "id": "6d8ab9fb-517b-4261-bb04-09d3fd568b15",
      "name": "📋 Format Get WF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "18988e34-d2f7-49c0-8dd8-a455df071307",
      "name": "📋 Find for Activate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst search = $('🔗 Bridge').first().json.workflow_name.toLowerCase();\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) return [{ json: { error: true, _action: 'activate_wf', summary: '❌ Workflow no encontrado' } }];\nreturn [{ json: { workflowId: found.id, workflowName: found.name, currentActive: found.active } }];"
      },
      "id": "0715e29d-a427-4b6c-a295-a7df776d0338",
      "name": "🔧 Resolve Activate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('🔧 Resolve Activate').first().json;\nconst resp = $input.first().json;\nif (resp.error) return [{ json: { _action: 'activate_wf', error: true, summary: '❌ Error: ' + resp.message } }];\nreturn [{ json: { _action: 'activate_wf', activated: true, name: r.workflowName, summary: '✅ \"' + r.workflowName + '\" activado correctamente.' } }];"
      },
      "id": "0c25fb18-5643-470e-aaa3-2c0952664f53",
      "name": "📋 Format Activate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        384
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "645f93e1-28c4-468b-a070-21fe148768c5",
      "name": "📋 Find for Deactivate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst search = $('🔗 Bridge').first().json.workflow_name.toLowerCase();\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) return [{ json: { error: true, _action: 'deactivate_wf', summary: '❌ Workflow no encontrado' } }];\nreturn [{ json: { workflowId: found.id, workflowName: found.name } }];"
      },
      "id": "b9aa63b4-91a7-499d-9fdf-21c9943c75f5",
      "name": "🔧 Resolve Deactivate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $('🔧 Resolve Deactivate').first().json;\nconst resp = $input.first().json;\nif (resp.error) return [{ json: { _action: 'deactivate_wf', error: true, summary: '❌ Error: ' + resp.message } }];\nreturn [{ json: { _action: 'deactivate_wf', deactivated: true, name: r.workflowName, summary: '⏸️ \"' + r.workflowName + '\" desactivado.' } }];"
      },
      "id": "2f74ed29-35f9-4122-970b-5f7ee445750d",
      "name": "📋 Format Deactivate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        576
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a2b20a2b-f98a-4144-8269-89d9bc41415a",
      "name": "📋 Find for Execute",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst search = $('🔗 Bridge').first().json.workflow_name.toLowerCase();\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) return [{ json: { error: true, _action: 'execute_wf', summary: '❌ Workflow no encontrado' } }];\nreturn [{ json: { workflowId: found.id, workflowName: found.name } }];"
      },
      "id": "cfb935a0-cc30-47a5-b3d4-d028de84a158",
      "name": "🔧 Resolve Execute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        768
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $('🔗 Bridge').first().json.limit || 10 }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3653e39f-ed51-42da-bea2-aa048a166ece",
      "name": "📊 Get Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst execs = data.data || data || [];\nconst list = (Array.isArray(execs) ? execs : []).slice(0, 15).map(e => ({\n  id: e.id, \n  workflow: e.workflowData?.name || e.workflowId || '?',\n  status: e.finished ? '✅' : '❌',\n  startedAt: e.startedAt ? new Date(e.startedAt).toLocaleString('es-ES') : '',\n  error: e.data?.resultData?.error?.message?.substring(0, 100) || ''\n}));\nconst errors = list.filter(e => e.status === '❌').length;\nreturn [{ json: { _action: 'get_executions', total: list.length, errors, executions: list, summary: list.length + ' ejecuciones recientes, ' + errors + ' con error' } }];"
      },
      "id": "24ba3d7d-5285-4cf0-84f5-8e14ec5b7468",
      "name": "📋 Format Executions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/executions/{{ $('🔗 Bridge').first().json.execution_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "69e3287f-c25b-46ab-9a70-9287d16089e6",
      "name": "📊 Get Execution Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        1248
      ]
    },
    {
      "parameters": {
        "jsCode": "const exec = $input.first().json;\nconst error = exec.data?.resultData?.error || {};\nreturn [{ json: {\n  _action: 'get_execution',\n  id: exec.id, \n  workflow: exec.workflowData?.name || '',\n  finished: exec.finished, \n  status: exec.finished ? '✅' : '❌',\n  error: error.message || 'Sin error',\n  summary: 'Ejecución ' + exec.id + ': ' + (exec.finished ? '✅ OK' : '❌ Error: ' + (error.message || 'desconocido'))\n} }];"
      },
      "id": "d3384c4f-e1ac-4f20-bb0d-d35f4e8f4044",
      "name": "📋 Format Exec Detail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1248
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/executions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "status",
              "value": "error"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bac9b63f-2eb4-4626-b1f9-0cdfbcb5199a",
      "name": "📊 Get Recent Errors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst execs = data.data || data || [];\nconst errors = (Array.isArray(execs) ? execs : []).map(e => ({\n  id: e.id,\n  workflow: e.workflowData?.name || e.workflowId || '?',\n  workflowId: e.workflowId || e.workflowData?.id || '',\n  error: e.data?.resultData?.error?.message || 'Error desconocido',\n  time: e.startedAt ? new Date(e.startedAt).toLocaleString('es-ES') : ''\n}));\n\nreturn [{ json: {\n  _action: 'debug_workflow',\n  errorCount: errors.length,\n  errors,\n  summary: errors.length + ' errores recientes: ' + errors.map(e => e.workflow + ' → ' + e.error.substring(0, 60)).join(' | ')\n} }];"
      },
      "id": "ea0a94f1-33e6-44d4-8560-6a8684a19286",
      "name": "📋 Format Debug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1440
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5010181-4546-43d9-9139-a492ee5b14e1",
      "name": "📋 Find for Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1600,
        1696
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst bridge = $('🔗 Bridge').first().json;\nconst search = (bridge.workflow_name || '').toLowerCase();\n\nif (!search) {\n  return [{ json: { error: true, _action: 'update_workflow', summary: '❌ No especificaste qué workflow modificar' } }];\n}\n\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) {\n  return [{ json: { error: true, _action: 'update_workflow', summary: '❌ Workflow no encontrado: ' + search } }];\n}\n\nreturn [{ json: { \n  workflowId: found.id, \n  workflowName: found.name,\n  nodeName: bridge.node_name,\n  newContent: bridge.new_content,\n  newPrompt: bridge.new_prompt,\n  description: bridge.description,\n  query: bridge.query\n} }];"
      },
      "id": "ce7d59ff-3cab-4227-a856-9cf38da3715d",
      "name": "🔧 Resolve Update WF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        1696
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef6f1b5f-af36-4119-9a5b-ddf1a883e15c",
      "name": "📖 Read Full WF for Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1152,
        1696
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TAREA: Modificar workflow según instrucción de Santiago.\n\n══ WORKFLOW ACTUAL ══\nNombre: {{ $json.name }}\nID: {{ $json.id }}\n\n══ NODOS DEL WORKFLOW ══\n{{ JSON.stringify($json.nodes.map(n => ({ name: n.name, type: n.type })), null, 2) }}\n\n══ SOLICITUD DE SANTIAGO ══\n\"{{ $('🔗 Bridge').first().json.query }}\"\n\n══ PARÁMETROS EXTRAÍDOS ══\nNodo objetivo: {{ $('🔧 Resolve Update WF').first().json.nodeName || 'según solicitud' }}\nDescripción: {{ $('🔧 Resolve Update WF').first().json.description || 'según solicitud' }}\nContenido nuevo: {{ $('🔧 Resolve Update WF').first().json.newContent || 'según solicitud' }}\n\n══ JSON COMPLETO DEL WORKFLOW ══\n{{ JSON.stringify($json, null, 2) }}\n\nAnaliza el workflow y aplica la modificación solicitada. Devuelve SOLO el JSON completo del workflow modificado.",
        "options": {
          "systemMessage": "Eres un experto en n8n workflows. Tu trabajo es modificar workflows JSON de forma PRECISA.\n\n═══ REGLAS ABSOLUTAS ═══\n1. NUNCA rompas conexiones existentes\n2. NUNCA elimines credenciales\n3. NUNCA cambies IDs de nodos\n4. Solo modifica EXACTAMENTE lo que se pidió\n5. Mantén TODA la estructura intacta\n\n═══ PROCESO ═══\n1. Identifica el nodo a modificar por su nombre\n2. Localiza el campo específico a cambiar\n3. Aplica el cambio\n4. Devuelve el JSON COMPLETO\n\n═══ OUTPUT ═══\nDevuelve SOLO el JSON del workflow modificado.\nSin explicaciones. Sin markdown. Solo JSON puro { ... }"
        }
      },
      "id": "34b1d644-d058-4c28-bdf1-b43a1664f930",
      "name": "🔬 Modify Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -928,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "const modified = $input.first().json;\nconst resolved = $('🔧 Resolve Update WF').first().json;\n\nlet wfJson = null;\ntry {\n  let text = modified.output || modified.text || '';\n  if (typeof text === 'object' && text.nodes) {\n    wfJson = text;\n  } else {\n    // Limpiar markdown si existe\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) wfJson = JSON.parse(m[0]);\n  }\n} catch(e) {\n  return [{ json: { \n    error: true, \n    _action: 'update_workflow', \n    summary: '❌ Error parseando JSON modificado: ' + e.message \n  } }];\n}\n\nif (!wfJson || !wfJson.nodes) {\n  return [{ json: { \n    error: true, \n    _action: 'update_workflow', \n    summary: '❌ No se pudo generar el JSON modificado válido' \n  } }];\n}\n\nreturn [{ json: { \n  workflowId: resolved.workflowId, \n  workflowName: resolved.workflowName, \n  modifiedJson: wfJson \n} }];"
      },
      "id": "2923249f-2a0b-4f76-a43d-be2c153e174b",
      "name": "🔧 Parse Modified WF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        1696
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $('🔧 Parse Modified WF').first().json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "59f52565-0905-427e-a7f5-d2833aa41e38",
      "name": "🔍 Verify Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        1696
      ]
    },
    {
      "parameters": {
        "jsCode": "const saveResult = $('💾 Save Updated WF').first().json;\nconst verifyResult = $input.first().json;\nconst parsed = $('🔧 Parse Modified WF').first().json;\nconst bridge = $('🔗 Bridge').first().json;\n\n// Verificar si hubo error al guardar\nif (saveResult.error || saveResult.message?.includes('error')) {\n  return [{ json: { \n    _action: 'update_workflow', \n    error: true, \n    summary: '❌ Error al guardar: ' + (saveResult.message || 'Error desconocido')\n  } }];\n}\n\n// Verificar que el workflow se actualizó\nif (verifyResult.error) {\n  return [{ json: { \n    _action: 'update_workflow', \n    error: true, \n    summary: '⚠️ Guardado pero no se pudo verificar'\n  } }];\n}\n\n// Comparar si el cambio se aplicó (simplificado)\nconst nodeToCheck = bridge.node_name;\nlet changeVerified = false;\nlet verificationDetail = '';\n\nif (nodeToCheck && verifyResult.nodes) {\n  const node = verifyResult.nodes.find(n => n.name.toLowerCase().includes(nodeToCheck.toLowerCase()));\n  if (node) {\n    changeVerified = true;\n    verificationDetail = 'Nodo \"' + node.name + '\" encontrado y actualizado.';\n  }\n} else {\n  changeVerified = true;\n  verificationDetail = 'Workflow actualizado.';\n}\n\nreturn [{ json: { \n  _action: 'update_workflow', \n  updated: true, \n  verified: changeVerified,\n  name: parsed.workflowName, \n  summary: '✅ \"' + parsed.workflowName + '\" actualizado y verificado. ' + verificationDetail\n} }];"
      },
      "id": "d5100c40-cdf8-4ce7-b584-98ecb31a884e",
      "name": "📋 Format + Verify Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1696
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "becd7ef2-4f74-47b5-8d16-05f9fc3eb513",
      "name": "📋 Find for Fix Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1376,
        1984
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst bridge = $('🔗 Bridge').first().json;\nconst search = (bridge.workflow_name || '').toLowerCase();\n\nif (!search) {\n  return [{ json: { error: true, _action: 'fix_prompt', summary: '❌ No especificaste qué workflow modificar' } }];\n}\n\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) {\n  return [{ json: { error: true, _action: 'fix_prompt', summary: '❌ Workflow no encontrado: ' + search } }];\n}\n\nreturn [{ json: { \n  workflowId: found.id, \n  workflowName: found.name,\n  nodeName: bridge.node_name,\n  newPrompt: bridge.new_prompt || bridge.new_content,\n  modificationType: bridge.modification_type || 'append',\n  query: bridge.query\n} }];"
      },
      "id": "86528a90-d35f-4dc3-a7a3-f916d182648f",
      "name": "🔧 Resolve Fix Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        1984
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcd260d2-c55c-462a-aede-5935c5ab59b2",
      "name": "📖 Read WF for Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        1984
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $('🔧 Modify Prompt Directly').first().json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "67da5e82-68a5-49c4-947d-93dc3525a266",
      "name": "🔍 Verify Prompt Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        1984
      ]
    },
    {
      "parameters": {
        "jsCode": "const modifyResult = $('🔧 Modify Prompt Directly').first().json;\nconst saveResult = $('💾 Save Fixed Prompt').first().json;\nconst verifyResult = $input.first().json;\n\nif (saveResult.error) {\n  return [{ json: { \n    _action: 'fix_prompt', \n    error: true, \n    summary: '❌ Error guardando: ' + (saveResult.message || 'Error')\n  } }];\n}\n\n// Verificar que el prompt se actualizó\nlet verified = false;\nif (verifyResult.nodes) {\n  const node = verifyResult.nodes.find(n => n.name === modifyResult.nodeName);\n  if (node) {\n    const currentLength = node.parameters?.options?.systemMessage?.length || 0;\n    verified = currentLength === modifyResult.promptLengthAfter;\n  }\n}\n\nreturn [{ json: { \n  _action: 'fix_prompt', \n  updated: true,\n  verified,\n  workflowName: modifyResult.workflowName,\n  nodeName: modifyResult.nodeName,\n  modificationType: modifyResult.modificationType,\n  promptGrowth: modifyResult.promptLengthAfter - modifyResult.promptLengthBefore,\n  summary: verified \n    ? '✅ Prompt de \"' + modifyResult.nodeName + '\" actualizado en \"' + modifyResult.workflowName + '\" (+' + (modifyResult.promptLengthAfter - modifyResult.promptLengthBefore) + ' caracteres)'\n    : '⚠️ Prompt guardado pero no se pudo verificar completamente'\n} }];"
      },
      "id": "64fe2fe7-dae8-44b7-a533-00da40e75870",
      "name": "📋 Format Fix Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1984
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a373ff5e-bf56-43c6-9d9d-662209e9f684",
      "name": "📋 Find for Update Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1520,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst bridge = $('🔗 Bridge').first().json;\nconst search = (bridge.workflow_name || '').toLowerCase();\n\nif (!search) {\n  return [{ json: { error: true, _action: 'update_node', summary: '❌ No especificaste qué workflow modificar' } }];\n}\n\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) {\n  return [{ json: { error: true, _action: 'update_node', summary: '❌ Workflow no encontrado: ' + search } }];\n}\n\nreturn [{ json: { \n  workflowId: found.id, \n  workflowName: found.name,\n  nodeName: bridge.node_name,\n  newContent: bridge.new_content,\n  query: bridge.query\n} }];"
      },
      "id": "c06570a4-fb36-4554-b3e8-c25bf1433671",
      "name": "🔧 Resolve Update Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        2288
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92e6af4c-a69b-4ae0-bf92-08cf862176e2",
      "name": "📖 Read WF for Node Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ RESPONSE BUILDER BLINDADO v2.0 ═══\n\nconst bridge = $('🔗 Bridge').first().json;\nlet data = {};\n\n// ═══ INTENTAR OBTENER DATA DEL INPUT ═══\ntry {\n  const raw = $input.first();\n  if (raw && raw.json) {\n    data = raw.json;\n  }\n} catch(e) {\n  data = {};\n}\n\n// ═══ DETECTAR SI VIENE VACÍO ═══\nconst isEmpty = !data || Object.keys(data).length === 0;\n\n// ═══ BUSCAR SUMMARY EN MÚLTIPLES FUENTES ═══\nlet summary = '';\nlet action = bridge.action || 'unknown';\nlet error = false;\n\nif (!isEmpty) {\n  summary = data.summary || data.toolResponse || data.textResponse || data.message || '';\n  action = data._action || data.action || bridge.action || 'unknown';\n  error = data.error || false;\n}\n\n// ═══ SI NO HAY SUMMARY, BUSCAR EN NODOS ANTERIORES ═══\nif (!summary) {\n  const nodesToCheck = [\n    '📋 Format List',\n    '📋 Format Get WF',\n    '📋 Format Activate',\n    '📋 Format Deactivate',\n    '📋 Format Execute',\n    '📋 Format Executions',\n    '📋 Format Exec Detail',\n    '📋 Format Debug',\n    '📋 Format + Verify Update',\n    '📋 Format Fix Prompt',\n    '📋 Format Node Update',\n    '📋 Create WF Info',\n    '📋 Redirect Node/Prompt',\n    '📋 Format Create WF',\n    '📋 Format Delete'\n  ];\n  \n  for (const nodeName of nodesToCheck) {\n    try {\n      const nodeData = $(nodeName).first();\n      if (nodeData && nodeData.json && nodeData.json.summary) {\n        summary = nodeData.json.summary;\n        action = nodeData.json._action || action;\n        error = nodeData.json.error || false;\n        data = nodeData.json;\n        break;\n      }\n    } catch(e) {\n      // Nodo no existe en esta ejecución, saltar\n      continue;\n    }\n  }\n}\n\n// ═══ FALLBACK FINAL ═══\nif (!summary) {\n  summary = '⚠️ Acción \"' + action + '\" procesada pero sin datos de respuesta.';\n  error = true;\n}\n\n// ═══ CONSTRUIR RESPUESTA GARANTIZADA ═══\nreturn [{ json: {\n  action: action,\n  intent_description: bridge.intent_description || '',\n  query: bridge.query || '',\n  chatId: bridge.chatId || '',\n  today: bridge.today || '',\n  hour: bridge.hour || '',\n  summary: summary,\n  data: isEmpty ? { summary: summary } : data,\n  confidence: bridge.confidence || 'medium',\n  error: error\n} }];"
      },
      "id": "7d77ef20-a697-4302-bf8d-a81e7b9c0cb3",
      "name": "📊 Response Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        1104
      ],
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ACCIÓN: {{ $json.action }}\nINTENCIÓN: {{ $json.intent_description }}\nERROR: {{ $json.error }}\n\nRESUMEN:\n{{ $json.summary }}\n\nDATA:\n{{ JSON.stringify($json.data, null, 2).substring(0, 3000) }}\n\nPREGUNTA ORIGINAL: \"{{ $json.query }}\"\nHORA: {{ $json.hour }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🎯 XUS FLOW RESPONDEDOR v2.0\n═══════════════════════════════════════════════════════════\n\nTransforma datos de la API de n8n en respuesta natural para Santiago.\n\n• Usa Markdown Telegram: *negrita* _cursiva_\n• Máximo 15 líneas\n• Si hay error, explica qué falló y sugiere solución\n• Si fue exitoso, confirma con detalle\n\n═══ RESPUESTAS POR ACCIÓN ═══\n\nLIST_WORKFLOWS → Lista organizada con ✅/❌\nGET_WORKFLOW → Estructura: nodos, agentes, prompts\nACTIVATE/DEACTIVATE → Confirmación con nombre\nEXECUTE → Confirmación de ejecución\nGET_EXECUTIONS → Resumen con errores destacados\nDEBUG → Errores + sugerencias\nUPDATE_WORKFLOW/NODE → Confirma qué se cambió exactamente\nFIX_PROMPT → Confirma el prompt modificado + caracteres añadidos\nDELETE_WF → Confirma eliminación con nombre\n\n═══ OUTPUT ═══\nJSON puro sin markdown:\n{\n  \"textResponse\": \"respuesta Markdown Telegram\",\n  \"toolResponse\": \"resumen 1 línea\"\n}",
          "maxIterations": 30,
          "enableStreaming": true
        }
      },
      "id": "6cea177e-5c27-4c33-93ef-a606beed295c",
      "name": "🎭 Agente Respondedor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst builder = $('📊 Response Builder').first().json;\n\nlet final;\ntry {\n  let text = raw.text || raw.output || raw.message || '';\n  if (typeof text === 'object' && text.textResponse) { \n    final = text; \n  } else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) final = JSON.parse(m[0]); \n    else throw new Error('No JSON');\n  }\n} catch(e) {\n  final = { \n    textResponse: builder.error ? '❌ ' + builder.summary : '✅ ' + builder.summary, \n    toolResponse: builder.summary || 'Procesado' \n  };\n}\n\nreturn [{ json: { \n  textResponse: final.textResponse || builder.summary, \n  toolResponse: final.toolResponse || 'Flow procesado', \n  action: builder.action, \n  data: builder.data, \n  chatId: builder.chatId, \n  success: !builder.error \n} }];"
      },
      "id": "e2002db5-9e25-4360-a346-dc7a7f823dbc",
      "name": "📤 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para el agente diseñador\nconst bridge = $('🔗 Bridge').first().json;\n\nif (!bridge.query || bridge.query.length < 10) {\n  return [{ json: { \n    error: true, \n    _action: 'create_workflow', \n    summary: '❌ Necesito más detalles. Describe qué quieres automatizar, qué servicios usar, y qué debe hacer paso a paso.'\n  } }];\n}\n\nreturn [{ json: {\n  query: bridge.query,\n  description: bridge.description || bridge.query,\n  chatId: bridge.chatId,\n  n8n_host: bridge.n8n_host,\n  api_key: bridge.api_key\n} }];"
      },
      "id": "5ec08f36-513a-4702-9353-200f589e5677",
      "name": "🔧 Prep Create WF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        2624
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=SOLICITUD DE SANTIAGO:\n\"{{ $json.query }}\"\n\nDiseña un workflow de n8n completo y funcional para esta automatización.",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🏗️ XUS WORKFLOW ARCHITECT v1.0\n═══════════════════════════════════════════════════════════\n\nEres un arquitecto experto de n8n. Tu trabajo es diseñar workflows completos y funcionales.\n\n═══ ESTRUCTURA DE UN WORKFLOW N8N ═══\n\n{\n  \"name\": \"Nombre del Workflow\",\n  \"nodes\": [\n    {\n      \"parameters\": { ... },\n      \"id\": \"uuid-único\",\n      \"name\": \"Nombre del Nodo\",\n      \"type\": \"tipo.del.nodo\",\n      \"typeVersion\": 1,\n      \"position\": [x, y]\n    }\n  ],\n  \"connections\": {\n    \"Nombre Nodo Origen\": {\n      \"main\": [[{ \"node\": \"Nombre Nodo Destino\", \"type\": \"main\", \"index\": 0 }]]\n    }\n  },\n  \"settings\": {\n    \"executionOrder\": \"v1\"\n  }\n}\n\n═══ TIPOS DE NODOS COMUNES ═══\n\nTRIGGERS:\n- n8n-nodes-base.webhook (webhook entrante)\n- n8n-nodes-base.scheduleTrigger (cron/programado)\n- n8n-nodes-base.manualTrigger (manual)\n- n8n-nodes-base.executeWorkflowTrigger (sub-workflow)\n\nHTTP/API:\n- n8n-nodes-base.httpRequest (llamadas HTTP)\n\nLÓGICA:\n- n8n-nodes-base.if (condicional)\n- n8n-nodes-base.switch (múltiples condiciones)\n- n8n-nodes-base.code (JavaScript)\n- n8n-nodes-base.set (establecer valores)\n- n8n-nodes-base.merge (combinar datos)\n- n8n-nodes-base.splitInBatches (procesar en lotes)\n\nINTEGRACIONES:\n- n8n-nodes-base.telegram (Telegram)\n- n8n-nodes-base.gmail (Gmail)\n- n8n-nodes-base.googleSheets (Google Sheets)\n- n8n-nodes-base.googleCalendar (Google Calendar)\n- n8n-nodes-base.googleDrive (Google Drive)\n- n8n-nodes-base.slack (Slack)\n- n8n-nodes-base.notion (Notion)\n- n8n-nodes-base.airtable (Airtable)\n\nAI:\n- @n8n/n8n-nodes-langchain.agent (Agente AI)\n- @n8n/n8n-nodes-langchain.lmChatGoogleVertex (Gemini)\n- @n8n/n8n-nodes-langchain.lmChatOpenAi (OpenAI)\n\n═══ REGLAS DE DISEÑO ═══\n\n1. SIEMPRE empieza con un trigger apropiado\n2. Usa IDs únicos tipo UUID para cada nodo\n3. Posiciona nodos con espaciado de ~240px horizontal\n4. Conecta TODOS los nodos en \"connections\"\n5. Incluye nodos de manejo de errores si es complejo\n6. Usa nombres descriptivos con emojis\n7. NO incluyas credenciales - déjalas vacías\n8. Para nodos Code, escribe código JavaScript funcional\n\n═══ EJEMPLO WEBHOOK + RESPUESTA ═══\n\n{\n  \"name\": \"Mi Webhook API\",\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"httpMethod\": \"POST\",\n        \"path\": \"mi-endpoint\",\n        \"responseMode\": \"responseNode\",\n        \"options\": {}\n      },\n      \"id\": \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\n      \"name\": \"🎯 Webhook\",\n      \"type\": \"n8n-nodes-base.webhook\",\n      \"typeVersion\": 2,\n      \"position\": [240, 300],\n      \"webhookId\": \"unique-id\"\n    },\n    {\n      \"parameters\": {\n        \"respondWith\": \"json\",\n        \"responseBody\": \"={{ { success: true, data: $json } }}\",\n        \"options\": {}\n      },\n      \"id\": \"b2c3d4e5-f6a7-8901-bcde-f23456789012\",\n      \"name\": \"📤 Responder\",\n      \"type\": \"n8n-nodes-base.respondToWebhook\",\n      \"typeVersion\": 1.1,\n      \"position\": [480, 300]\n    }\n  ],\n  \"connections\": {\n    \"🎯 Webhook\": {\n      \"main\": [[{ \"node\": \"📤 Responder\", \"type\": \"main\", \"index\": 0 }]]\n    }\n  },\n  \"settings\": { \"executionOrder\": \"v1\" }\n}\n\n═══ OUTPUT ═══\n\nDevuelve SOLO el JSON del workflow. Sin explicaciones. Sin markdown. Solo { ... }"
        }
      },
      "id": "876ee7f9-dd40-49e1-ad5b-41a5196248cc",
      "name": "🏗️ Workflow Architect",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -736,
        2624
      ]
    },
    {
      "parameters": {
        "jsCode": "const agent = $input.first().json;\nconst prep = $('🔧 Prep Create WF').first().json;\n\nlet wfJson = null;\ntry {\n  let text = agent.output || agent.text || '';\n  \n  // Si ya es objeto\n  if (typeof text === 'object' && text.nodes) {\n    wfJson = text;\n  } else {\n    // Limpiar markdown\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    \n    // Extraer JSON\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) wfJson = JSON.parse(m[0]);\n  }\n} catch(e) {\n  return [{ json: { \n    error: true, \n    _action: 'create_workflow', \n    summary: '❌ Error generando el workflow: ' + e.message \n  } }];\n}\n\n// Validar estructura mínima\nif (!wfJson || !wfJson.nodes || !Array.isArray(wfJson.nodes) || wfJson.nodes.length === 0) {\n  return [{ json: { \n    error: true, \n    _action: 'create_workflow', \n    summary: '❌ El workflow generado no tiene una estructura válida' \n  } }];\n}\n\n// Asegurar que tiene nombre\nif (!wfJson.name) {\n  wfJson.name = 'Nuevo Workflow ' + new Date().toISOString().slice(0,10);\n}\n\n// Asegurar settings\nif (!wfJson.settings) {\n  wfJson.settings = { executionOrder: 'v1' };\n}\n\n// Asegurar connections existe\nif (!wfJson.connections) {\n  wfJson.connections = {};\n}\n\nreturn [{ json: {\n  workflowName: wfJson.name,\n  nodeCount: wfJson.nodes.length,\n  workflowJson: wfJson,\n  n8n_host: prep.n8n_host,\n  api_key: prep.api_key\n} }];"
      },
      "id": "c3e0d7bb-73c0-405d-aa21-946898528b52",
      "name": "🔧 Parse New WF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.workflowJson) }}",
        "options": {}
      },
      "id": "c4cbb2c9-b9d2-479a-91c1-caa1aac601f2",
      "name": "🆕 Create Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        2624
      ]
    },
    {
      "parameters": {
        "jsCode": "const createResult = $input.first().json;\nconst parsed = $('🔧 Parse New WF').first().json;\n\n// Verificar si hubo error\nif (createResult.error || createResult.message?.toLowerCase().includes('error')) {\n  return [{ json: { \n    error: true, \n    _action: 'create_workflow', \n    summary: '❌ Error creando workflow: ' + (createResult.message || createResult.error || 'Error desconocido')\n  } }];\n}\n\n// Verificar que se creó (debería tener ID)\nif (!createResult.id) {\n  return [{ json: { \n    error: true, \n    _action: 'create_workflow', \n    summary: '⚠️ Workflow enviado pero no se recibió confirmación de creación'\n  } }];\n}\n\nreturn [{ json: {\n  _action: 'create_workflow',\n  created: true,\n  workflowId: createResult.id,\n  workflowName: createResult.name || parsed.workflowName,\n  nodeCount: parsed.nodeCount,\n  active: createResult.active || false,\n  summary: '✅ Workflow \"' + (createResult.name || parsed.workflowName) + '\" creado exitosamente con ' + parsed.nodeCount + ' nodos. ID: ' + createResult.id + (createResult.active ? ' (activo)' : ' (inactivo - actívalo cuando esté listo)')\n} }];"
      },
      "id": "d93a2ad3-56f8-4522-9091-0f48327103db",
      "name": "📋 Format Create WF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        2624
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.modifiedJson.name) }},\n  \"nodes\": {{ JSON.stringify($json.modifiedJson.nodes) }},\n  \"connections\": {{ JSON.stringify($json.modifiedJson.connections) }},\n  \"settings\": {{ JSON.stringify($json.modifiedJson.settings) }}\n}",
        "options": {}
      },
      "id": "b2eca2e1-bb3e-4337-b79b-70560c58b3e8",
      "name": "💾 Save Fixed Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        1984
      ]
    },
    {
      "parameters": {
        "jsCode": "const wf = $input.first().json;\nconst resolved = $('🔧 Resolve Fix Prompt').first().json;\nconst bridge = $('🔗 Bridge').first().json;\n\nif (!wf.nodes) {\n  return [{ json: { error: true, _action: 'fix_prompt', summary: '❌ Error leyendo workflow' } }];\n}\n\n// Buscar el nodo por nombre\nconst nodeName = resolved.nodeName || '';\nlet targetNodeIndex = -1;\n\nif (nodeName) {\n  targetNodeIndex = wf.nodes.findIndex(n => \n    n.name.toLowerCase().includes(nodeName.toLowerCase())\n  );\n}\n\n// Si no se especificó nombre, buscar agentes con systemMessage\nif (targetNodeIndex === -1) {\n  targetNodeIndex = wf.nodes.findIndex(n => \n    n.type?.includes('agent') && n.parameters?.options?.systemMessage\n  );\n}\n\nif (targetNodeIndex === -1) {\n  return [{ json: { \n    error: true, \n    _action: 'fix_prompt', \n    summary: '❌ No se encontró el nodo \"' + nodeName + '\" o no tiene systemMessage' \n  } }];\n}\n\nconst targetNode = wf.nodes[targetNodeIndex];\nconst currentPrompt = targetNode.parameters?.options?.systemMessage || '';\nconst newContent = resolved.newPrompt || bridge.new_content || '';\nconst modType = resolved.modificationType || 'append';\n\n// Aplicar modificación\nlet finalPrompt = currentPrompt;\nif (modType === 'append') {\n  finalPrompt = currentPrompt + '\\n\\n' + newContent;\n} else if (modType === 'prepend') {\n  finalPrompt = newContent + '\\n\\n' + currentPrompt;\n} else {\n  finalPrompt = newContent;\n}\n\n// ═══ LIMPIAR NODOS - SOLO PROPIEDADES VÁLIDAS ═══\nconst cleanNodes = wf.nodes.map((node, idx) => {\n  const clean = {\n    parameters: node.parameters,\n    id: node.id,\n    name: node.name,\n    type: node.type,\n    typeVersion: node.typeVersion,\n    position: node.position\n  };\n  \n  // Agregar opcionales solo si existen y tienen valor\n  if (node.credentials && Object.keys(node.credentials).length > 0) {\n    clean.credentials = node.credentials;\n  }\n  if (node.webhookId) clean.webhookId = node.webhookId;\n  if (node.disabled === true) clean.disabled = true;\n  if (node.alwaysOutputData === true) clean.alwaysOutputData = true;\n  if (node.retryOnFail === true) clean.retryOnFail = true;\n  if (node.continueOnFail === true) clean.continueOnFail = true;\n  if (node.notes) clean.notes = node.notes;\n  \n  return clean;\n});\n\n// Aplicar el cambio del prompt al nodo limpio\ncleanNodes[targetNodeIndex].parameters.options.systemMessage = finalPrompt;\n\n// ═══ CONSTRUIR WORKFLOW LIMPIO ═══\nconst cleanWf = {\n  name: wf.name,\n  nodes: cleanNodes,\n  connections: wf.connections,\n  settings: wf.settings || { executionOrder: 'v1' }\n};\n\nreturn [{ json: {\n  workflowId: wf.id,\n  workflowName: wf.name,\n  nodeName: targetNode.name,\n  modificationType: modType,\n  promptLengthBefore: currentPrompt.length,\n  promptLengthAfter: finalPrompt.length,\n  modifiedJson: cleanWf\n} }];"
      },
      "id": "522b796d-a6d5-4794-bd23-113738620640",
      "name": "🔧 Modify Prompt Directly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1984
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($json.modifiedJson.name) }},\n  \"nodes\": {{ JSON.stringify($json.modifiedJson.nodes) }},\n  \"connections\": {{ JSON.stringify($json.modifiedJson.connections) }},\n  \"settings\": {{ JSON.stringify($json.modifiedJson.settings || {\"executionOrder\":\"v1\"}) }}\n}",
        "options": {}
      },
      "id": "f485e13f-a361-4d28-9f76-d1475c149b6c",
      "name": "💾 Save Updated WF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        1696
      ]
    },
    {
      "parameters": {
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a31edabb-4b1a-43e7-9185-71845ad26cd2",
      "name": "📋 Find for Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        2912
      ]
    },
    {
      "parameters": {
        "jsCode": "const wfs = ($input.first().json.data || []);\nconst bridge = $('🔗 Bridge').first().json;\nconst search = (bridge.workflow_name || '').toLowerCase();\n\nif (!search) {\n  return [{ json: { error: true, _action: 'delete_wf', summary: '❌ No especificaste qué workflow eliminar' } }];\n}\n\nconst found = wfs.find(w => w.name.toLowerCase().includes(search));\nif (!found) {\n  return [{ json: { error: true, _action: 'delete_wf', summary: '❌ Workflow no encontrado: ' + search } }];\n}\n\nreturn [{ json: { \n  workflowId: found.id, \n  workflowName: found.name,\n  active: found.active\n} }];"
      },
      "id": "509e01ea-f621-474c-8e8c-7bfa06396e5a",
      "name": "🔧 Resolve Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        2912
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7b443fb0-4552-49fe-8d4c-c63f982b959f",
      "name": "🗑️ Delete WF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        2912
      ]
    },
    {
      "parameters": {
        "jsCode": "const resolved = $('🔧 Resolve Delete').first().json;\nconst deleteResult = $input.first().json;\n\n// Verificar si hubo error\nif (deleteResult.error || deleteResult.message?.toLowerCase().includes('error')) {\n  return [{ json: { \n    _action: 'delete_wf', \n    error: true, \n    summary: '❌ Error eliminando: ' + (deleteResult.message || 'Error desconocido')\n  } }];\n}\n\nreturn [{ json: { \n  _action: 'delete_wf', \n  deleted: true, \n  workflowName: resolved.workflowName,\n  workflowId: resolved.workflowId,\n  summary: '🗑️ Workflow \"' + resolved.workflowName + '\" eliminado permanentemente.'\n} }];"
      },
      "id": "1e142010-3aba-4bbb-8298-241d761ef0f4",
      "name": "📋 Format Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}/deactivate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e280eb09-ec91-4f41-95f0-5c14e229e298",
      "name": "⏸️ Deactivate WF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('🔗 Bridge').first().json.n8n_host }}/api/v1/workflows/{{ $json.workflowId }}/activate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $('🔗 Bridge').first().json.api_key }}"
            }
          ]
        },
        "options": {}
      },
      "id": "884f1260-0210-4e51-8700-9f90c8613b06",
      "name": "⚡ Activate WF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const resolved = $input.first().json;\nconst bridge = $('🔗 Bridge').first().json;\n\nif (resolved.error) {\n  return [{ json: resolved }];\n}\n\nconst url = bridge.n8n_host + '/workflow/' + resolved.workflowId;\n\nreturn [{ json: {\n  _action: 'execute_wf',\n  name: resolved.workflowName,\n  workflowId: resolved.workflowId,\n  url: url,\n  summary: '🔗 Workflow \"' + resolved.workflowName + '\" listo. La API pública de n8n no permite ejecución directa. Abre aquí para ejecutarlo: ' + url\n} }];"
      },
      "id": "074d1f82-d18d-4910-8f7e-6a3acfb9179e",
      "name": "🚀 Execute WF2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  _action: 'execute_wf',\n  name: data.name || '',\n  workflowId: data.workflowId || '',\n  url: data.url || '',\n  summary: data.summary || ''\n} }];"
      },
      "id": "5cb0f5fd-39aa-4f05-9343-62dbb3651ca1",
      "name": "📋 Format Execute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (result.error) {\n  return [{ json: { \n    _action: 'update_node', \n    error: true, \n    summary: result.summary || '❌ Error guardando'\n  } }];\n}\n\nreturn [{ json: { \n  _action: 'update_node', \n  updated: true, \n  workflowName: result.workflowName,\n  nodeName: result.nodeName,\n  summary: '✅ Nodo \"' + result.nodeName + '\" actualizado en \"' + result.workflowName + '\"'\n} }];"
      },
      "id": "402c5584-392e-4d20-af2e-01963362e780",
      "name": "📋 Format Node Update2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst bridge = $('🔗 Bridge').first().json;\n\nif (input.error) {\n  return [{ json: input }];\n}\n\nconst body = {\n  name: input.modifiedJson.name,\n  nodes: input.modifiedJson.nodes,\n  connections: input.modifiedJson.connections,\n  settings: input.modifiedJson.settings || { executionOrder: 'v1' }\n};\n\ntry {\n  const url = bridge.n8n_host + '/api/v1/workflows/' + input.workflowId;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: url,\n    headers: {\n      'X-N8N-API-KEY': bridge.api_key,\n      'Content-Type': 'application/json'\n    },\n    body: body\n  });\n  \n  return [{ json: {\n    success: true,\n    workflowId: input.workflowId,\n    workflowName: input.workflowName,\n    nodeName: input.nodeName\n  } }];\n} catch(e) {\n  return [{ json: { \n    error: true, \n    _action: 'update_node', \n    summary: '❌ Error guardando: ' + e.message \n  } }];\n}"
      },
      "id": "6d96d89c-c2ea-483e-8f25-259fb1bc00fb",
      "name": "💾 Save Node Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "const wf = $input.first().json;\nconst resolved = $('🔧 Resolve Update Node').first().json;\nconst bridge = $('🔗 Bridge').first().json;\nconst nodeName = (resolved.nodeName || '').toLowerCase();\n\nif (!wf.nodes) {\n  return [{ json: { error: true, _action: 'update_node', summary: '❌ Error leyendo workflow' } }];\n}\n\nlet targetIndex = wf.nodes.findIndex(n => n.name.toLowerCase().includes(nodeName));\nif (targetIndex === -1) {\n  targetIndex = wf.nodes.findIndex(n => n.type?.includes('agent'));\n}\nif (targetIndex === -1) {\n  return [{ json: { error: true, _action: 'update_node', summary: '❌ Nodo no encontrado: ' + resolved.nodeName } }];\n}\n\nconst targetNode = wf.nodes[targetIndex];\nconst query = bridge.query.toLowerCase();\n\nlet modificationType = 'unknown';\nif (query.includes('tool') || query.includes('herramienta')) {\n  modificationType = 'add_tool';\n} else if (query.includes('prompt') || query.includes('system')) {\n  modificationType = 'modify_prompt';\n} else if (query.includes('model') || query.includes('temperatura')) {\n  modificationType = 'modify_config';\n}\n\nconst currentPrompt = targetNode.parameters?.options?.systemMessage || '';\n\nreturn [{ json: {\n  workflowId: resolved.workflowId,\n  workflowName: resolved.workflowName,\n  targetIndex: targetIndex,\n  targetNodeName: targetNode.name,\n  targetNodeType: targetNode.type,\n  modificationType: modificationType,\n  currentPromptPreview: currentPrompt.substring(0, 300),\n  query: bridge.query,\n  newContent: resolved.newContent,\n  fullWorkflow: wf,\n  originalNode: targetNode\n} }];"
      },
      "id": "c4744644-cb4a-4897-8ee5-848c983607bc",
      "name": "🎯 Extract Target Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        2288
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TAREA: {{ $json.modificationType }}\n\nNODO: {{ $json.targetNodeName }}\nTIPO: {{ $json.targetNodeType }}\n\nSOLICITUD:\n{{ $json.query }}\n\nCONTENIDO NUEVO:\n{{ $json.newContent }}",
        "options": {
          "systemMessage": "Eres experto en n8n. Interpreta qué modificación hacer y devuelve SOLO un JSON pequeño.\n\nREGLAS:\n1. NUNCA devuelvas nodos completos\n2. NUNCA devuelvas prompts completos\n3. Solo la INSTRUCCIÓN de qué cambiar\n4. JSON puro sin markdown\n\nSi quieren añadir tool/herramienta:\n{\"action\": \"add_tool\", \"tool_type\": \"httpRequest\"}\n\nSi quieren modificar prompt:\n{\"action\": \"modify_prompt\", \"modification\": \"append\", \"content\": \"texto a añadir\"}\n\nSi quieren cambiar config:\n{\"action\": \"modify_config\", \"changes\": {\"temperature\": 0.5}}"
        }
      },
      "id": "53edb20d-d470-4df9-9932-76337e0cd3ed",
      "name": "🔬 Update Node Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -560,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "const extracted = $('🎯 Extract Target Node').first().json;\nconst aiResponse = $input.first().json;\n\nif (extracted.error) {\n  return [{ json: extracted }];\n}\n\nlet instruction = {};\ntry {\n  let text = aiResponse.output || aiResponse.text || '';\n  if (typeof text === 'object') {\n    instruction = text;\n  } else {\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*?\\}/);\n    if (m) instruction = JSON.parse(m[0]);\n  }\n} catch(e) {\n  return [{ json: { error: true, _action: 'update_node', summary: '❌ Error parseando: ' + e.message } }];\n}\n\nconst wf = extracted.fullWorkflow;\nconst targetIndex = extracted.targetIndex;\nconst originalNode = JSON.parse(JSON.stringify(extracted.originalNode));\nconst action = instruction.action || '';\n\n// ═══ AÑADIR TOOL ═══\nif (action === 'add_tool' || action.includes('tool')) {\n  const toolType = instruction.tool_type || 'httpRequest';\n  const toolName = instruction.tool_name || 'HTTP Browser';\n  \n  // Generar ID único para el nuevo nodo\n  const newToolId = 'tool-' + Date.now() + '-' + Math.random().toString(36).substring(2, 9);\n  \n  // Posición: a la izquierda y abajo del agente\n  const agentPos = originalNode.position || [0, 0];\n  const toolPos = [agentPos[0] - 200, agentPos[1] + 150];\n  \n  // Crear el nodo de herramienta según el tipo\n  let newToolNode = null;\n  \n  if (toolType === 'httpRequest' || toolType.includes('http') || toolType.includes('browser')) {\n    newToolNode = {\n      parameters: {\n        method: 'GET',\n        url: '={{ $json.url || \"https://example.com\" }}',\n        options: {}\n      },\n      id: newToolId,\n      name: '🌐 ' + toolName,\n      type: '@n8n/n8n-nodes-langchain.toolHttpRequest',\n      typeVersion: 1.1,\n      position: toolPos\n    };\n  } else if (toolType === 'code' || toolType.includes('code')) {\n    newToolNode = {\n      parameters: {\n        jsCode: '// Tool code here\\nreturn { result: \"ok\" };'\n      },\n      id: newToolId,\n      name: '⚡ ' + toolName,\n      type: '@n8n/n8n-nodes-langchain.toolCode',\n      typeVersion: 1,\n      position: toolPos\n    };\n  } else if (toolType === 'calculator' || toolType.includes('calc')) {\n    newToolNode = {\n      parameters: {},\n      id: newToolId,\n      name: '🔢 Calculator',\n      type: '@n8n/n8n-nodes-langchain.toolCalculator',\n      typeVersion: 1,\n      position: toolPos\n    };\n  } else if (toolType === 'wikipedia' || toolType.includes('wiki')) {\n    newToolNode = {\n      parameters: {},\n      id: newToolId,\n      name: '📚 Wikipedia',\n      type: '@n8n/n8n-nodes-langchain.toolWikipedia',\n      typeVersion: 1,\n      position: toolPos\n    };\n  } else {\n    // Default: HTTP Request tool\n    newToolNode = {\n      parameters: {\n        method: 'GET',\n        url: '={{ $json.url || \"https://example.com\" }}',\n        options: {}\n      },\n      id: newToolId,\n      name: '🌐 ' + toolName,\n      type: '@n8n/n8n-nodes-langchain.toolHttpRequest',\n      typeVersion: 1.1,\n      position: toolPos\n    };\n  }\n  \n  // Añadir el nodo al workflow\n  wf.nodes.push(newToolNode);\n  \n  // Añadir la conexión: Tool → Agente (ai_tool)\n  if (!wf.connections[newToolNode.name]) {\n    wf.connections[newToolNode.name] = {};\n  }\n  wf.connections[newToolNode.name].ai_tool = [\n    [{ node: originalNode.name, type: 'ai_tool', index: 0 }]\n  ];\n  \n  // Limpiar y devolver\n  const cleanNodes = wf.nodes.map(node => {\n    const clean = {\n      parameters: node.parameters,\n      id: node.id,\n      name: node.name,\n      type: node.type,\n      typeVersion: node.typeVersion,\n      position: node.position\n    };\n    if (node.credentials) clean.credentials = node.credentials;\n    if (node.webhookId) clean.webhookId = node.webhookId;\n    return clean;\n  });\n  \n  return [{ json: { \n    workflowId: extracted.workflowId, \n    workflowName: extracted.workflowName, \n    nodeName: extracted.targetNodeName,\n    toolAdded: newToolNode.name,\n    modifiedJson: {\n      name: wf.name,\n      nodes: cleanNodes,\n      connections: wf.connections,\n      settings: wf.settings || { executionOrder: 'v1' }\n    }\n  } }];\n}\n\n// ═══ MODIFICAR PROMPT ═══\nif (action === 'modify_prompt' || action.includes('prompt')) {\n  const currentPrompt = originalNode.parameters?.options?.systemMessage || '';\n  const mod = instruction.modification || 'append';\n  const content = instruction.content || '';\n  \n  let newPrompt = currentPrompt;\n  if (mod === 'append') newPrompt = currentPrompt + '\\n\\n' + content;\n  else if (mod === 'prepend') newPrompt = content + '\\n\\n' + currentPrompt;\n  else newPrompt = content;\n  \n  if (!originalNode.parameters.options) originalNode.parameters.options = {};\n  originalNode.parameters.options.systemMessage = newPrompt;\n  wf.nodes[targetIndex] = originalNode;\n}\n\n// ═══ MODIFICAR CONFIG ═══\nif (action === 'modify_config' || action.includes('config')) {\n  const changes = instruction.changes || {};\n  Object.keys(changes).forEach(key => {\n    if (originalNode.parameters?.options) {\n      originalNode.parameters.options[key] = changes[key];\n    }\n  });\n  wf.nodes[targetIndex] = originalNode;\n}\n\n// Limpiar nodos\nconst cleanNodes = wf.nodes.map(node => {\n  const clean = {\n    parameters: node.parameters,\n    id: node.id,\n    name: node.name,\n    type: node.type,\n    typeVersion: node.typeVersion,\n    position: node.position\n  };\n  if (node.credentials) clean.credentials = node.credentials;\n  if (node.webhookId) clean.webhookId = node.webhookId;\n  return clean;\n});\n\nreturn [{ json: { \n  workflowId: extracted.workflowId, \n  workflowName: extracted.workflowName, \n  nodeName: extracted.targetNodeName,\n  modifiedJson: {\n    name: wf.name,\n    nodes: cleanNodes,\n    connections: wf.connections,\n    settings: wf.settings || { executionOrder: 'v1' }\n  }\n} }];"
      },
      "id": "762e8c01-be17-4c7a-b855-697e73473b7a",
      "name": "🔧 Parse Node Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2288
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2400,
        1296
      ],
      "id": "c3ab191c-ca33-4e87-983e-2abd60e58aa6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -928,
        1776
      ],
      "id": "648fe545-6ee6-4a9b-aa9b-c9d7b79bec84",
      "name": "Gemini Modify",
      "credentials": {
        "googlePalmApi": {
          "id": "BmTRvJSHWzHbIQQQ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        2480
      ],
      "id": "cacf2e3a-410f-4bca-aa2c-e7864ffe1432",
      "name": "Gemini Update Node",
      "credentials": {
        "googlePalmApi": {
          "id": "qtzz8VdCxquiC7ux",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -736,
        2816
      ],
      "id": "d3ca3fab-5cd9-4752-bcad-fcb8ff0133c2",
      "name": "Gemini Architect",
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        1264
      ],
      "id": "58262a5d-3d96-4bea-9bbe-b6391a96ebba",
      "name": "Gemini Respondedor",
      "credentials": {
        "googlePalmApi": {
          "id": "qtzz8VdCxquiC7ux",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser + Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parser + Config": {
      "main": [
        [
          {
            "node": "🧠 Agente Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agente Clasificador": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router": {
      "main": [
        [
          {
            "node": "📋 List Workflows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find WF for Get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Activate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Deactivate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Execute",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Get Executions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Get Execution Detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Get Recent Errors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Update Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Fix Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔧 Prep Create WF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Find for Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 List Workflows": {
      "main": [
        [
          {
            "node": "📋 Format List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format List": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find WF for Get": {
      "main": [
        [
          {
            "node": "🔧 Resolve WF ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve WF ID": {
      "main": [
        [
          {
            "node": "📖 Get Workflow Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Get Workflow Full": {
      "main": [
        [
          {
            "node": "📋 Format Get WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Get WF": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Activate": {
      "main": [
        [
          {
            "node": "🔧 Resolve Activate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Activate": {
      "main": [
        [
          {
            "node": "⚡ Activate WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Activate": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Deactivate": {
      "main": [
        [
          {
            "node": "🔧 Resolve Deactivate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Deactivate": {
      "main": [
        [
          {
            "node": "⏸️ Deactivate WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Deactivate": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Execute": {
      "main": [
        [
          {
            "node": "🔧 Resolve Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Execute": {
      "main": [
        [
          {
            "node": "🚀 Execute WF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Executions": {
      "main": [
        [
          {
            "node": "📋 Format Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Executions": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Execution Detail": {
      "main": [
        [
          {
            "node": "📋 Format Exec Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Exec Detail": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Recent Errors": {
      "main": [
        [
          {
            "node": "📋 Format Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Debug": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Update": {
      "main": [
        [
          {
            "node": "🔧 Resolve Update WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Update WF": {
      "main": [
        [
          {
            "node": "📖 Read Full WF for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Read Full WF for Update": {
      "main": [
        [
          {
            "node": "🔬 Modify Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 Modify Agent": {
      "main": [
        [
          {
            "node": "🔧 Parse Modified WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parse Modified WF": {
      "main": [
        [
          {
            "node": "💾 Save Updated WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Verify Update": {
      "main": [
        [
          {
            "node": "📋 Format + Verify Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format + Verify Update": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Fix Prompt": {
      "main": [
        [
          {
            "node": "🔧 Resolve Fix Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Fix Prompt": {
      "main": [
        [
          {
            "node": "📖 Read WF for Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Read WF for Prompt": {
      "main": [
        [
          {
            "node": "🔧 Modify Prompt Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Verify Prompt Fix": {
      "main": [
        [
          {
            "node": "📋 Format Fix Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Fix Prompt": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Update Node": {
      "main": [
        [
          {
            "node": "🔧 Resolve Update Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Update Node": {
      "main": [
        [
          {
            "node": "📖 Read WF for Node Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Read WF for Node Update": {
      "main": [
        [
          {
            "node": "🎯 Extract Target Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Response Builder": {
      "main": [
        [
          {
            "node": "🎭 Agente Respondedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎭 Agente Respondedor": {
      "main": [
        [
          {
            "node": "📤 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prep Create WF": {
      "main": [
        [
          {
            "node": "🏗️ Workflow Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏗️ Workflow Architect": {
      "main": [
        [
          {
            "node": "🔧 Parse New WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parse New WF": {
      "main": [
        [
          {
            "node": "🆕 Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆕 Create Workflow": {
      "main": [
        [
          {
            "node": "📋 Format Create WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Create WF": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Fixed Prompt": {
      "main": [
        [
          {
            "node": "🔍 Verify Prompt Fix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Modify Prompt Directly": {
      "main": [
        [
          {
            "node": "💾 Save Fixed Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Updated WF": {
      "main": [
        [
          {
            "node": "🔍 Verify Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Find for Delete": {
      "main": [
        [
          {
            "node": "🔧 Resolve Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Delete": {
      "main": [
        [
          {
            "node": "🗑️ Delete WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Delete WF": {
      "main": [
        [
          {
            "node": "📋 Format Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Delete": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏸️ Deactivate WF": {
      "main": [
        [
          {
            "node": "📋 Format Deactivate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Activate WF": {
      "main": [
        [
          {
            "node": "📋 Format Activate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Execute WF2": {
      "main": [
        [
          {
            "node": "📋 Format Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Execute": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Node Update2": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save Node Update": {
      "main": [
        [
          {
            "node": "📋 Format Node Update2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Extract Target Node": {
      "main": [
        [
          {
            "node": "🔬 Update Node Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 Update Node Agent1": {
      "main": [
        [
          {
            "node": "🔧 Parse Node Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Parse Node Update": {
      "main": [
        [
          {
            "node": "💾 Save Node Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Agente Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Modify": {
      "ai_languageModel": [
        [
          {
            "node": "🔬 Modify Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Update Node": {
      "ai_languageModel": [
        [
          {
            "node": "🔬 Update Node Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Architect": {
      "ai_languageModel": [
        [
          {
            "node": "🏗️ Workflow Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Respondedor": {
      "ai_languageModel": [
        [
          {
            "node": "🎭 Agente Respondedor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "33b9e278-ede9-4dab-85b1-bb5767e8591d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "yExYrqCwgxpHUAx1",
  "tags": []
}