home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER SYSTEM/XUS Drive v1.0 - Docs & Files.json
{
  "name": "XUS Drive v1.0 - Docs & Files",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b8a4b137-6621-4ffe-a0ce-e014f6de65c7",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1216,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = (input.query || input.message || input.text || '').trim();\nconst chatId = (input.chatId || input.chat_id || '').toString();\nconst params = input.params || {};\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst today = now.toLocaleDateString('es-ES');\nconst hour = now.getHours().toString().padStart(2,'0') + ':' + now.getMinutes().toString().padStart(2,'0');\nreturn [{ json: { query, chatId, params, today, hour } }];"
      },
      "id": "05fde21d-7f17-48c5-a967-46285b1ff9d9",
      "name": "📦 Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\nreturn [{ json: { query: p.query, chatId: p.chatId, today: p.today, hour: p.hour } }];"
      },
      "id": "b441deb8-9631-47be-9376-8879a461d1bd",
      "name": "📊 Prep Clasificador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        1088
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DE SANTIAGO:\n\"{{ $json.query }}\"\n\nFECHA: {{ $json.today }} | HORA: {{ $json.hour }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🧠 XUS DRIVE CLASIFICADOR v1.0\n═══════════════════════════════════════════════════════════\n\nMISIÓN: Detectar qué acción de Google Drive ejecutar.\nRESPONDE SOLO JSON PURO. Sin ```. Primera { última }\n\n═══ ACCIONES ═══\n\nsearch_files   → Buscar archivos por nombre\nlist_folder    → Listar contenido de carpeta (root si no dice cuál)\nread_doc       → Leer contenido de un Google Doc completo\nread_sheet     → Leer datos de un Google Sheet\ncreate_doc     → Crear nuevo Google Doc con contenido\ncreate_folder  → Crear nueva carpeta\nupdate_doc     → Añadir contenido al final de un doc existente\ndelete_file    → Eliminar archivo (papelera)\nshare_file     → Compartir archivo con email y permisos\nmove_file      → Mover archivo a otra carpeta\nresearch       → Investigar tema y crear doc con hallazgos\ncopy_file      → Duplicar un archivo\n\n═══ MAPEO ═══\n\n\"busca\" / \"encuentra\" / \"dónde está\" → search_files\n\"qué hay en\" / \"lista\" / \"muéstrame carpeta\" / \"archivos\" → list_folder\n\"lee\" / \"abre\" / \"qué dice\" / \"contenido\" / \"muéstrame el doc\" → read_doc\n\"lee la hoja\" / \"sheet\" / \"spreadsheet\" / \"datos de\" → read_sheet\n\"crea un doc\" / \"nuevo documento\" / \"escribe un doc\" → create_doc\n\"crea carpeta\" / \"nueva carpeta\" → create_folder\n\"actualiza\" / \"añade\" / \"escribe en\" / \"modifica\" → update_doc\n\"elimina\" / \"borra\" / \"quita\" → delete_file\n\"comparte\" / \"da acceso\" → share_file\n\"mueve\" / \"transfiere\" → move_file\n\"investiga\" / \"estudia\" / \"analiza\" / \"research\" → research\n\"copia\" / \"duplica\" → copy_file\n\n═══ OUTPUT ═══\n{\n  \"action\": \"search_files\",\n  \"params\": {\n    \"search_query\": \"texto a buscar\",\n    \"file_name\": \"nombre archivo\",\n    \"folder_name\": \"nombre carpeta\",\n    \"title\": \"título para crear\",\n    \"content\": \"contenido crear/actualizar\",\n    \"email\": \"correo compartir\",\n    \"role\": \"reader|writer|commenter\",\n    \"dest_folder\": \"carpeta destino\",\n    \"topic\": \"tema investigar\",\n    \"depth\": \"básico|intermedio|profundo\",\n    \"sheet_tab\": \"pestaña sheet\"\n  },\n  \"intent_description\": \"descripción breve\",\n  \"confidence\": \"high|medium|low\"\n}\n\nREGLAS:\n1. Solo params relevantes a la acción\n2. \"investiga X\" = research SIEMPRE\n3. \"lee\" sin tipo = read_doc\n4. list_folder sin carpeta = folder_name: \"root\"\n5. content largo → copiarlo completo"
        }
      },
      "id": "ed7d6af5-2afc-4127-befb-16e486b02e34",
      "name": "🧠 Agente Clasificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -544,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentRaw = $input.first().json;\nconst parser = $('📦 Parser').first().json;\n\nlet ai = {};\ntry {\n  let text = agentRaw.text || agentRaw.output || agentRaw.message || '';\n  if (typeof text === 'object') { ai = text; }\n  else {\n    text = text.replace(/[`]{3}json\\s*/gi, '').replace(/[`]{3}\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]);\n  }\n} catch(e) { ai = { action: 'search_files' }; }\n\nconst p = ai.params || {};\n\nreturn [{ json: {\n  action: ai.action || 'search_files',\n  intent_description: ai.intent_description || '',\n  confidence: ai.confidence || 'medium',\n  search_query: p.search_query || p.file_name || '',\n  file_name: p.file_name || '',\n  folder_name: p.folder_name || '',\n  title: p.title || '',\n  content: p.content || '',\n  email: p.email || '',\n  role: p.role || 'reader',\n  dest_folder: p.dest_folder || '',\n  topic: p.topic || '',\n  depth: p.depth || 'intermedio',\n  sheet_tab: p.sheet_tab || '',\n  query: parser.query,\n  chatId: parser.chatId,\n  today: parser.today,\n  hour: parser.hour\n} }];"
      },
      "id": "745ff0d2-230f-467b-898c-1372edee37ee",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        1088
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "search_files",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search_files"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_folder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list_folder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_folder",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_folder"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete_file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "share_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "share_file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "move_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "move_file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "research",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "research"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_sheet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "copy_file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "copy_file"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3bff5e57-947c-42d2-b185-427b902f299c",
      "name": "🔀 Router de Acciones",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        32,
        912
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.search_query }}' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,webViewLink,modifiedTime,size)"
            },
            {
              "name": "pageSize",
              "value": "20"
            },
            {
              "name": "orderBy",
              "value": "modifiedTime desc"
            }
          ]
        },
        "options": {}
      },
      "id": "f192ce3b-9f69-40a2-95c4-bbd92f475f03",
      "name": "🔍 Search Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nconst q = $('🔗 Bridge').first().json.search_query;\nif (!files.length) return [{ json: { _action: 'search_files', found: 0, query: q, files: [], summary: 'No se encontraron archivos con \"' + q + '\".' } }];\nconst list = files.map(f => ({ name: f.name, type: f.mimeType?.includes('folder') ? '📂 Carpeta' : f.mimeType?.includes('document') ? '📝 Doc' : f.mimeType?.includes('spreadsheet') ? '📊 Sheet' : f.mimeType?.includes('pdf') ? '📕 PDF' : '📄 Archivo', id: f.id, link: f.webViewLink || '', modified: f.modifiedTime ? new Date(f.modifiedTime).toLocaleDateString('es-ES') : '' }));\nreturn [{ json: { _action: 'search_files', found: files.length, query: q, files: list, summary: 'Encontré ' + files.length + ' archivo(s): ' + list.map(f => f.name).join(', ') } }];"
      },
      "id": "327a0acc-fcdd-4d9f-a04e-23451eb9816a",
      "name": "📋 Format Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('🔗 Bridge').first().json.folder_name === 'root' || !$('🔗 Bridge').first().json.folder_name ? \"'root' in parents and trashed = false\" : \"name = '\" + $('🔗 Bridge').first().json.folder_name + \"' and mimeType = 'application/vnd.google-apps.folder' and trashed = false\" }}"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,webViewLink,modifiedTime)"
            },
            {
              "name": "pageSize",
              "value": "50"
            },
            {
              "name": "orderBy",
              "value": "folder,name"
            }
          ]
        },
        "options": {}
      },
      "id": "f836e6f2-5280-487f-ba49-2855ec27bd67",
      "name": "📁 List Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nconst fn = $('🔗 Bridge').first().json.folder_name || 'root';\nconst folders = files.filter(f => f.mimeType === 'application/vnd.google-apps.folder');\nconst docs = files.filter(f => f.mimeType !== 'application/vnd.google-apps.folder');\nconst items = files.map(f => ({ name: f.name, type: f.mimeType?.includes('folder') ? '📂' : f.mimeType?.includes('document') ? '📝' : f.mimeType?.includes('spreadsheet') ? '📊' : f.mimeType?.includes('pdf') ? '📕' : '📄', id: f.id }));\nreturn [{ json: { _action: 'list_folder', totalItems: files.length, folderCount: folders.length, fileCount: docs.length, items, folderName: fn, summary: fn + ': ' + files.length + ' items (' + folders.length + ' carpetas, ' + docs.length + ' archivos)' } }];"
      },
      "id": "228a53c0-9dfd-4a38-bc8f-72ac23c1764e",
      "name": "📋 Format List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        224
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and mimeType = 'application/vnd.google-apps.document' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "f11b43ee-899e-4aa5-a52f-e4965572af9b",
      "name": "🔍 Find Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'read_doc', summary: 'Doc no encontrado: ' + $('🔗 Bridge').first().json.file_name } }];\nreturn [{ json: { docId: files[0].id, docName: files[0].name } }];"
      },
      "id": "ce8646cb-a39f-46a2-9d87-37db7db1cd7b",
      "name": "🔧 Resolve Doc",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        416
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "47f43439-77f0-41b0-911c-45fbda988bab",
      "name": "📄 Read Doc API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        416
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\nconst docName = $('🔧 Resolve Doc').first().json.docName || doc.title || 'Documento';\nlet text = '';\ntry {\n  if (doc.body && doc.body.content) {\n    for (const el of doc.body.content) {\n      if (el.paragraph && el.paragraph.elements) {\n        for (const e of el.paragraph.elements) {\n          if (e.textRun && e.textRun.content) text += e.textRun.content;\n        }\n      }\n      if (el.table) {\n        for (const row of (el.table.tableRows || [])) {\n          for (const cell of (row.tableCells || [])) {\n            for (const c of (cell.content || [])) {\n              if (c.paragraph) {\n                for (const e of (c.paragraph.elements || [])) {\n                  if (e.textRun) text += e.textRun.content;\n                }\n                text += ' | ';\n              }\n            }\n          }\n          text += '\\n';\n        }\n      }\n    }\n  }\n} catch(e) { text = 'Error leyendo: ' + e.message; }\nconst max = 3000;\nconst trunc = text.length > max;\nif (trunc) text = text.substring(0, max);\nreturn [{ json: { _action: 'read_doc', title: docName, content: text.trim(), charCount: text.length, truncated: trunc, summary: 'Doc \"' + docName + '\": ' + text.length + ' chars' + (trunc ? ' (truncado)' : '') } }];"
      },
      "id": "1e6a31db-f8c0-46e5-aef1-dd8e017c2ac2",
      "name": "📋 Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.googleapis.com/v1/documents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"title\": \"{{ $('🔗 Bridge').first().json.title || 'Nuevo Doc XUS' }}\" }",
        "options": {}
      },
      "id": "3ad3b11e-7f3a-4689-b1d0-787b3f63f2b6",
      "name": "📝 Create Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        608
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        },
        "googleApi": {
          "id": "OqvumXg7xLakrZ5K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [{\n    \"insertText\": {\n      \"location\": { \"index\": 1 },\n      \"text\": {{ JSON.stringify($('🔗 Bridge').first().json.content || ' ') }}\n    }\n  }]\n}",
        "options": {}
      },
      "id": "b92ca927-0352-40cc-9d4f-009ea94c03de",
      "name": "✏️ Write Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        608
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const createRes = $('📝 Create Doc').first().json;\nconst title = $('🔗 Bridge').first().json.title || 'Nuevo Doc XUS';\nconst docId = createRes.documentId || '';\nreturn [{ json: { _action: 'create_doc', created: true, title, documentId: docId, link: 'https://docs.google.com/document/d/' + docId + '/edit', summary: '✅ Doc \"' + title + '\" creado → https://docs.google.com/document/d/' + docId + '/edit' } }];"
      },
      "id": "d90b6f37-4814-40b4-b2e3-ccac487c8efd",
      "name": "📋 Format Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,webViewLink"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": {{ JSON.stringify($('🔗 Bridge').first().json.folder_name || 'Nueva Carpeta') }},\n  \"mimeType\": \"application/vnd.google-apps.folder\"\n}",
        "options": {}
      },
      "id": "55c24b7f-d784-4840-8775-bb7d35651282",
      "name": "📂 Create Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { _action: 'create_folder', created: true, name: d.name, id: d.id, link: d.webViewLink || '', summary: '✅ Carpeta \"' + d.name + '\" creada.' } }];"
      },
      "id": "d3d85933-4070-4b77-86b0-7ef1647f8ec9",
      "name": "📋 Format Folder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        800
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "469664e1-1adf-4238-8334-8fca807788fa",
      "name": "🔍 Find for Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        1088
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'delete_file', summary: 'Archivo no encontrado: ' + $('🔗 Bridge').first().json.file_name } }];\nreturn [{ json: { fileId: files[0].id, fileName: files[0].name } }];"
      },
      "id": "89e79719-bc86-42d1-b58e-564a0e90072a",
      "name": "🔧 Resolve Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1088
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"trashed\": true }",
        "options": {}
      },
      "id": "184cca90-03e6-45b4-8397-a5672b6a5b65",
      "name": "🗑️ Trash File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        1088
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('🔧 Resolve Delete').first().json;\nreturn [{ json: { _action: 'delete_file', deleted: true, fileName: r.fileName, summary: '✅ \"' + r.fileName + '\" movido a papelera.' } }];"
      },
      "id": "59020beb-e849-4352-8629-453aa876da20",
      "name": "📋 Format Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1088
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name,webViewLink)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "0be1ebc5-9bd3-4d46-8500-addd38257705",
      "name": "🔍 Find for Share",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        1280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'share_file', summary: 'Archivo no encontrado' } }];\nreturn [{ json: { fileId: files[0].id, fileName: files[0].name, link: files[0].webViewLink || '' } }];"
      },
      "id": "a20c9623-f225-4daa-80c6-a2de92f0fb40",
      "name": "🔧 Resolve Share",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"role\": {{ JSON.stringify($('🔗 Bridge').first().json.role || 'reader') }},\n  \"type\": \"user\",\n  \"emailAddress\": {{ JSON.stringify($('🔗 Bridge').first().json.email) }}\n}",
        "options": {}
      },
      "id": "33cfb26c-9a90-48c8-9fa0-967ad63bc68f",
      "name": "🔗 Share Permission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        1280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('🔧 Resolve Share').first().json;\nconst b = $('🔗 Bridge').first().json;\nreturn [{ json: { _action: 'share_file', shared: true, fileName: r.fileName, email: b.email, role: b.role, link: r.link, summary: '✅ \"' + r.fileName + '\" compartido con ' + b.email + ' (' + b.role + ').' } }];"
      },
      "id": "9d8ac90d-6540-4ed4-9221-ef097cb93370",
      "name": "📋 Format Share",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1280
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and mimeType != 'application/vnd.google-apps.folder' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name,parents)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "24d9f95e-0c69-4332-9721-6e55cc78f02a",
      "name": "🔍 Find File Move",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        1472
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'move_file', summary: 'Archivo no encontrado' } }];\nreturn [{ json: { fileId: files[0].id, fileName: files[0].name, oldParents: (files[0].parents || []).join(',') } }];"
      },
      "id": "dc0fe7ba-84f1-43d9-8688-f54ab791d0d9",
      "name": "🔧 Resolve File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        1472
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name = '{{ $('🔗 Bridge').first().json.dest_folder }}' and mimeType = 'application/vnd.google-apps.folder' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "7cd820c4-94e5-443a-8d93-096355834bf9",
      "name": "🔍 Find Dest Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        1472
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileRes = $('🔧 Resolve File').first().json;\nconst folders = ($input.first().json.files || []);\nif (!folders.length) return [{ json: { error: true, _action: 'move_file', summary: 'Carpeta destino no encontrada' } }];\nreturn [{ json: { fileId: fileRes.fileId, fileName: fileRes.fileName, folderId: folders[0].id, folderName: folders[0].name, oldParents: fileRes.oldParents } }];"
      },
      "id": "690b71a1-44d0-4212-97b8-0b74c3982fb7",
      "name": "🔧 Resolve Move",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1472
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "addParents",
              "value": "={{ $json.folderId }}"
            },
            {
              "name": "removeParents",
              "value": "={{ $json.oldParents }}"
            },
            {
              "name": "fields",
              "value": "id,name,parents"
            }
          ]
        },
        "options": {}
      },
      "id": "b87d39f1-1320-4df2-b159-324a1fce28ba",
      "name": "📦 Move File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        1472
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('🔧 Resolve Move').first().json;\nreturn [{ json: { _action: 'move_file', moved: true, fileName: r.fileName, destFolder: r.folderName, summary: '✅ \"' + r.fileName + '\" movido a \"' + r.folderName + '\".' } }];"
      },
      "id": "afb915f3-a902-4016-b03a-bb7abfe7dfb9",
      "name": "📋 Format Move",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1472
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TEMA: {{ $('🔗 Bridge').first().json.topic }}\nPROFUNDIDAD: {{ $('🔗 Bridge').first().json.depth }}\nCONTEXTO: Research para Santiago Rubio, emprendedor colombiano, ventas B2B alto ticket, clínicas de estética. Meta: $100K/mes.\n\nEstructura:\n1. RESUMEN EJECUTIVO (3 oraciones)\n2. ANÁLISIS PRINCIPAL (datos, ejemplos)\n3. APLICACIONES PRÁCTICAS (cómo aplicar HOY)\n4. CONCLUSIONES Y PRÓXIMOS PASOS\n\nEspañol. Específico. Práctico.",
        "options": {
          "systemMessage": "Investigador experto. Investigaciones profundas, prácticas, accionables para B2B alto ticket. Siempre español."
        }
      },
      "id": "07f04db1-c9b1-4945-a566-b9d92ea3f48b",
      "name": "🔬 Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        1664
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst topic = $('🔗 Bridge').first().json.topic;\nconst content = r.output || r.text || r.response || 'Investigación completada';\nreturn [{ json: { title: 'Research XUS — ' + topic, content, topic } }];"
      },
      "id": "0238aa5a-7c69-4d39-a35c-db74f726b027",
      "name": "📝 Prep Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1776
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.googleapis.com/v1/documents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"title\": {{ JSON.stringify($json.title) }} }",
        "options": {}
      },
      "id": "c1ae73e6-d5ad-426f-86c7-f383d6ac9ffb",
      "name": "📝 Create Research Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        1776
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [{\n    \"insertText\": {\n      \"location\": { \"index\": 1 },\n      \"text\": {{ JSON.stringify($('📝 Prep Research').first().json.content) }}\n    }\n  }]\n}",
        "options": {}
      },
      "id": "062ed7cc-13de-4764-98c3-b38761cec3f0",
      "name": "✏️ Write Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        1776
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $('📝 Create Research Doc').first().json;\nconst prep = $('📝 Prep Research').first().json;\nconst docId = doc.documentId || '';\nreturn [{ json: { _action: 'research', researched: true, topic: prep.topic, documentId: docId, link: 'https://docs.google.com/document/d/' + docId + '/edit', preview: prep.content.substring(0, 500), summary: '✅ Research \"' + prep.topic + '\" → https://docs.google.com/document/d/' + docId + '/edit' } }];"
      },
      "id": "e77fbef9-8079-4726-9eeb-83b73ac6247b",
      "name": "📋 Format Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1776
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and mimeType = 'application/vnd.google-apps.document' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "7f35e0ad-98c4-4949-b782-441c5808a3cb",
      "name": "🔍 Find for Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        2064
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'update_doc', summary: 'Doc no encontrado: ' + $('🔗 Bridge').first().json.file_name } }];\nreturn [{ json: { docId: files[0].id, docName: files[0].name } }];"
      },
      "id": "192f51f0-aa28-4667-8022-a0711beb058b",
      "name": "🔧 Resolve Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        2064
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "5772d448-f9a8-423c-aebd-be2dab45c97e",
      "name": "📏 Get Doc Length",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        2064
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first().json;\nlet endIdx = 1;\nfor (const el of (doc.body?.content || [])) {\n  if (el.endIndex && el.endIndex > endIdx) endIdx = el.endIndex;\n}\nreturn [{ json: { docId: doc.documentId, docName: doc.title, endIndex: endIdx - 1 } }];"
      },
      "id": "b05bb323-e5c8-4ef0-8705-4406f5764c8f",
      "name": "🔢 Calc Index",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        2064
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [{\n    \"insertText\": {\n      \"location\": { \"index\": {{ $json.endIndex }} },\n      \"text\": {{ JSON.stringify('\\n\\n--- XUS ' + $('🔗 Bridge').first().json.today + ' ---\\n\\n' + $('🔗 Bridge').first().json.content) }}\n    }\n  }]\n}",
        "options": {}
      },
      "id": "d8eb558a-1df6-447e-8728-3be00a9b9363",
      "name": "✏️ Append Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        2064
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $('🔧 Resolve Update').first().json;\nreturn [{ json: { _action: 'update_doc', updated: true, title: r.docName, summary: '✅ Doc \"' + r.docName + '\" actualizado.' } }];"
      },
      "id": "0d6554d6-1210-40fb-bb48-a56065e1da9a",
      "name": "📋 Format Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        2064
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "f7b56f77-f925-428d-a742-ba1c75278455",
      "name": "🔍 Find Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        2256
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        },
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'read_sheet', summary: 'Sheet no encontrado' } }];\nreturn [{ json: { sheetId: files[0].id, sheetName: files[0].name } }];"
      },
      "id": "68d41d2b-a1dc-4b15-94f5-550415ad88f0",
      "name": "🔧 Resolve Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        2256
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.sheetId }}/values/{{ encodeURIComponent($('🔗 Bridge').first().json.sheet_tab || 'Sheet1') }}!A1:Z100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "ac2cd880-f724-4c0f-85c8-0db913ebea2f",
      "name": "📊 Read Sheet API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        2256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst values = data.values || [];\nconst sName = $('🔧 Resolve Sheet').first().json.sheetName;\nif (!values.length) return [{ json: { _action: 'read_sheet', sheetName: sName, totalRows: 0, headers: [], content: 'Hoja vacía.', summary: 'Sheet \"' + sName + '\" está vacío.' } }];\nconst headers = values[0] || [];\nconst rows = values.slice(1);\nlet preview = 'Columnas: ' + headers.join(' | ') + '\\n\\n';\nconst max = Math.min(rows.length, 20);\nfor (let i = 0; i < max; i++) preview += rows[i].join(' | ') + '\\n';\nif (rows.length > 20) preview += '... y ' + (rows.length - 20) + ' filas más';\nreturn [{ json: { _action: 'read_sheet', sheetName: sName, totalRows: rows.length, headers, content: preview, summary: 'Sheet \"' + sName + '\": ' + rows.length + ' filas, ' + headers.length + ' columnas' } }];"
      },
      "id": "6899484f-2d17-4676-9c70-28e8e4d6a0bf",
      "name": "📋 Format Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        2256
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name contains '{{ $('🔗 Bridge').first().json.file_name }}' and trashed = false"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            },
            {
              "name": "pageSize",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "de78f424-df37-4b22-a163-d785b4ead49d",
      "name": "🔍 Find for Copy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        2448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const files = ($input.first().json.files || []);\nif (!files.length) return [{ json: { error: true, _action: 'copy_file', summary: 'Archivo no encontrado' } }];\nreturn [{ json: { fileId: files[0].id, fileName: files[0].name } }];"
      },
      "id": "d9d0f55c-6e2d-41a7-89a5-e88795ef56dc",
      "name": "🔧 Resolve Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        2448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.fileId }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,webViewLink"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"Copia de {{ $json.fileName }}\"\n}",
        "options": {}
      },
      "id": "8cf26538-7ed3-4f47-af73-229fe220a492",
      "name": "📋 Copy File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        2448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5cmTybf0bjkcQQx3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const orig = $('🔧 Resolve Copy').first().json;\nconst copy = $input.first().json;\nreturn [{ json: { _action: 'copy_file', copied: true, originalName: orig.fileName, copyName: copy.name, copyId: copy.id, link: copy.webViewLink || '', summary: '✅ \"' + orig.fileName + '\" copiado como \"' + copy.name + '\".' } }];"
      },
      "id": "eaafe19b-3354-49b4-b8b5-4696e400aaef",
      "name": "📋 Format Copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        2448
      ]
    },
    {
      "parameters": {
        "jsCode": "const bridge = $('🔗 Bridge').first().json;\nconst data = $input.first().json;\n\nif (data._action && data.summary) {\n  return [{ json: { action: data._action, intent_description: bridge.intent_description, query: bridge.query, chatId: bridge.chatId, today: bridge.today, hour: bridge.hour, summary: data.summary, data, confidence: bridge.confidence } }];\n}\n\nreturn [{ json: { action: bridge.action, intent_description: bridge.intent_description, query: bridge.query, chatId: bridge.chatId, today: bridge.today, hour: bridge.hour, summary: data.summary || 'Acción procesada.', data, confidence: bridge.confidence } }];"
      },
      "id": "c044b4fa-3104-4dad-8d18-610eb263ef55",
      "name": "📊 Response Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1088
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ACCIÓN: {{ $json.action }}\nINTENCIÓN: {{ $json.intent_description }}\nCONFIANZA: {{ $json.confidence }}\n\nRESUMEN:\n{{ $json.summary }}\n\nDATA:\n{{ JSON.stringify($json.data, null, 2) }}\n\nPREGUNTA: \"{{ $json.query }}\"\nHORA: {{ $json.hour }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🎯 XUS DRIVE RESPONDEDOR v1.0\n═══════════════════════════════════════════════════════════\n\nTransforma datos de Google Drive en respuesta con voz de XUS.\nNUNCA datos crudos. Interpreta. Resume.\n\n• Markdown Telegram: *negrita* _cursiva_\n• Máximo 20 líneas. Termina con acción o pregunta.\n• \"Arquitecto\", \"Santi\" con intención.\n\nSEARCH → archivos + tipo + link\nLIST → 📂 carpetas, 📄 archivos\nREAD_DOC → contenido legible, puntos clave si largo\nCREATE → confirma + link\nFOLDER → confirma\nDELETE → confirma nombre\nSHARE → confirma email + permisos + link\nMOVE → confirma origen → destino\nRESEARCH → preview + link doc\nUPDATE → confirma\nSHEET → headers, resumen datos\nCOPY → confirma copia\n\nJSON puro. Sin ```. Primera { última }\n{\n  \"textResponse\": \"respuesta Markdown Telegram\",\n  \"toolResponse\": \"resumen 1 línea para orquestador\"\n}"
        }
      },
      "id": "e9562fc6-04e6-4f23-a61e-3e7f41a088a9",
      "name": "🎭 Agente Respondedor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1952,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst builder = $('📊 Response Builder').first().json;\nlet final;\ntry {\n  let text = raw.text || raw.output || raw.message || '';\n  if (typeof text === 'object' && text.textResponse) { final = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/[`]{3}json\\s*/gi, '').replace(/[`]{3}\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) final = JSON.parse(m[0]); else throw new Error('No JSON');\n  }\n} catch(e) {\n  final = { textResponse: '✅ Procesado\\n\\n' + (builder.summary || 'Acción ejecutada.'), toolResponse: builder.summary || 'Drive procesado' };\n}\nreturn [{ json: { textResponse: final.textResponse || builder.summary, toolResponse: final.toolResponse || 'Drive procesado', action: builder.action, data: builder.data, chatId: builder.chatId, success: true } }];"
      },
      "id": "e59c1d83-c5fd-4a21-8fef-6ac9ff558e2f",
      "name": "📤 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        1088
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -528,
        1328
      ],
      "id": "b5fd51b2-1036-4cd2-b2c1-38e7a5898b35",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        1856
      ],
      "id": "b0b886cd-2714-45c5-8c72-9b45e5dc54e4",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1952,
        1328
      ],
      "id": "d3ccd339-a44b-4a3b-9c87-76cf9e3f3596",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Crea un documento titulado 'Códice de Aprendizaje de XUS v1.0' dentro de la carpeta con ID '1IZoPsh2yEQEfhu1-fcYQoKiC9cAPw1R2'. Como contenido inicial, añade las lecciones de la 'Noche del Génesis': REGLA DE VERACIDAD ABSOLUTA y REGLA DE EVIDENCIA. Devuélveme el link como prueba."
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parser": {
      "main": [
        [
          {
            "node": "📊 Prep Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Prep Clasificador": {
      "main": [
        [
          {
            "node": "🧠 Agente Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agente Clasificador": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router de Acciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router de Acciones": {
      "main": [
        [
          {
            "node": "🔍 Search Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📁 List Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Create Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📂 Create Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find for Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find for Share",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find File Move",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔬 Research Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find for Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Find for Copy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Search Files": {
      "main": [
        [
          {
            "node": "📋 Format Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Search": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📁 List Folder": {
      "main": [
        [
          {
            "node": "📋 Format List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format List": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find Doc": {
      "main": [
        [
          {
            "node": "🔧 Resolve Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Doc": {
      "main": [
        [
          {
            "node": "📄 Read Doc API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Read Doc API": {
      "main": [
        [
          {
            "node": "📋 Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Extract Text": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Create Doc": {
      "main": [
        [
          {
            "node": "✏️ Write Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Write Content": {
      "main": [
        [
          {
            "node": "📋 Format Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Create": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📂 Create Folder": {
      "main": [
        [
          {
            "node": "📋 Format Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Folder": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find for Delete": {
      "main": [
        [
          {
            "node": "🔧 Resolve Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Delete": {
      "main": [
        [
          {
            "node": "🗑️ Trash File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Trash File": {
      "main": [
        [
          {
            "node": "📋 Format Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Delete": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find for Share": {
      "main": [
        [
          {
            "node": "🔧 Resolve Share",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Share": {
      "main": [
        [
          {
            "node": "🔗 Share Permission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Share Permission": {
      "main": [
        [
          {
            "node": "📋 Format Share",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Share": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find File Move": {
      "main": [
        [
          {
            "node": "🔧 Resolve File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve File": {
      "main": [
        [
          {
            "node": "🔍 Find Dest Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find Dest Folder": {
      "main": [
        [
          {
            "node": "🔧 Resolve Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Move": {
      "main": [
        [
          {
            "node": "📦 Move File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Move File": {
      "main": [
        [
          {
            "node": "📋 Format Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Move": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔬 Research Agent": {
      "main": [
        [
          {
            "node": "📝 Prep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Prep Research": {
      "main": [
        [
          {
            "node": "📝 Create Research Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Create Research Doc": {
      "main": [
        [
          {
            "node": "✏️ Write Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Write Research": {
      "main": [
        [
          {
            "node": "📋 Format Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Research": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find for Update": {
      "main": [
        [
          {
            "node": "🔧 Resolve Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Update": {
      "main": [
        [
          {
            "node": "📏 Get Doc Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📏 Get Doc Length": {
      "main": [
        [
          {
            "node": "🔢 Calc Index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔢 Calc Index": {
      "main": [
        [
          {
            "node": "✏️ Append Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Append Content": {
      "main": [
        [
          {
            "node": "📋 Format Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Update": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find Sheet": {
      "main": [
        [
          {
            "node": "🔧 Resolve Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Sheet": {
      "main": [
        [
          {
            "node": "📊 Read Sheet API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read Sheet API": {
      "main": [
        [
          {
            "node": "📋 Format Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Sheet": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find for Copy": {
      "main": [
        [
          {
            "node": "🔧 Resolve Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Resolve Copy": {
      "main": [
        [
          {
            "node": "📋 Copy File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Copy File": {
      "main": [
        [
          {
            "node": "📋 Format Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Format Copy": {
      "main": [
        [
          {
            "node": "📊 Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Response Builder": {
      "main": [
        [
          {
            "node": "🎭 Agente Respondedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎭 Agente Respondedor": {
      "main": [
        [
          {
            "node": "📤 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Agente Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🔬 Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "🎭 Agente Respondedor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "905026af-56b5-470c-93d3-00c2e5fb0d64",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "Qw9NHXZDkQyUP4o3",
  "tags": []
}