home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER MULTIMEDIA/Xus Tv AutoHealing/XUS TV AutoHealing - SSH & LG Controller (1).json
{
  "name": "XUS TV AutoHealing - SSH & LG Controller",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "5a33ee6a-b6c5-47f3-9825-f1f6c1babdff",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3184,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "gate-spotify-play",
              "leftValue": "={{ $json.isSpotifyPlay }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6d78ecda-a3df-466f-a057-16604905c27a",
      "name": "🚦 ¿Es Spotify Play?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2656,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ BYPASS PATH — Sin agente ═══\n// Llega aquí cuando NO es spotify_play:\n// spotify_control, youtube_music, other, tv, etc.\n// Simplemente pasa los datos del Parser con un profile vacío.\nconst parser = $input.first().json;\n\nconst profile = {\n  created: Date.now(), lastUpdated: Date.now(), chatId: parser.chatId,\n  stats: { totalPlays: 0, totalSkips: 0, totalLikes: 0 },\n  artists: {}, genres: {}, history: [], favorites: [], blacklist: [],\n  patterns: {\n    morning:  { genres: {}, moods: {} },\n    afternoon:{ genres: {}, moods: {} },\n    evening:  { genres: {}, moods: {} },\n    night:    { genres: {}, moods: {} }\n  },\n  moods: {}, platformPrefs: { spotify: 0, youtube: 0 },\n  recentArtists: [], recentGenres: [], spotifyVolume: 50\n};\n\nreturn [{ json: {\n  ...parser,\n  _profile: profile,\n  agentAction: 'bypass',\n  agentMessage: '',\n  agentReason: 'Non-music query, bypassed agent',\n  isDirectPlaylist: false,\n  playlistUri: null\n}}];"
      },
      "id": "08760861-8aca-49e0-9a9f-e43e48b38e0b",
      "name": "⏭️ Bypass Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-direct-playlist",
              "leftValue": "={{ $json.isDirectPlaylist }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e99e5ee-cdf2-40c4-8d76-3fb2fd08f08b",
      "name": "🔀 ¿Direct Playlist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -592,
        -368
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Prepara datos de playlist directa para Extract URI ──\nconst d = $input.first().json;\n\nreturn [{ json: {\n  // Formato que espera 🎵 Extract URI\n  uri: d.playlistUri,\n  songTitle: d.agentDecision?.playlistName || 'Playlist',\n  artist: 'DJBot',\n  spotifyType: 'playlist',\n  albumArt: '',\n  foundTrack: true,\n  chatId: d.chatId,\n  query: d.query,\n  songQuery: d.songQuery,\n  mood: d.mood,\n  _profile: d._profile,\n  allTracks: []\n}}];"
      },
      "id": "4fa6f05b-6e88-4fd7-a0d7-86e2eb397913",
      "name": "🎯 Set Direct URI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -464
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=agent:longmem:{{ $json.chatId }}",
        "options": {}
      },
      "id": "97de40b7-192a-4f05-8628-c6205ff5d587",
      "name": "🔴 Redis – Get Long Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2208,
        352
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 4,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "id": "54d5c378-0317-40ab-aaa5-620d8ffae822",
      "name": "🤖 DJ Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1568,
        352
      ]
    },
    {
      "parameters": {
        "sessionKey": "=dj:agent:chat:{{ $('📋 Prepare Agent Input').first().json.chatId }}",
        "sessionTTL": 3600
      },
      "id": "54104df4-b7e9-47f1-980d-8621100ae0c3",
      "name": "💾 Redis – Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.1,
      "position": [
        -1632,
        576
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "name": "read_long_memory",
        "description": "Lee la memoria a largo plazo del usuario desde Redis. Úsala para ver preferencias, artistas favoritos, géneros y notas guardadas. No requiere parámetros.",
        "jsCode": "const ctx = $('📋 Prepare Agent Input').first().json;\nconst mem = ctx.longMemory || {};\nreturn JSON.stringify(mem, null, 2);"
      },
      "id": "81dfa805-3ba9-41f2-9e5d-fc8b422f3ada",
      "name": "📖 Tool: Read Long Memory1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -1504,
        576
      ]
    },
    {
      "parameters": {
        "name": "save_long_memory",
        "description": "Guarda información importante en la memoria a largo plazo del usuario en Redis. Input: JSON string con campos a actualizar.",
        "jsCode": "let updates = {};\ntry { updates = JSON.parse(query); } catch(e) { updates = { notes: query }; }\n\nconst ctx = $('📋 Prepare Agent Input').first().json;\nconst existing = ctx.longMemory || {};\n\nconst merged = {\n  ...existing,\n  preferences: {\n    favoriteArtists: [...new Set([...(existing.preferences?.favoriteArtists||[]), ...(updates.preferences?.favoriteArtists||[])])],\n    favoriteGenres:  [...new Set([...(existing.preferences?.favoriteGenres||[]),  ...(updates.preferences?.favoriteGenres||[])])],\n    dislikedArtists: [...new Set([...(existing.preferences?.dislikedArtists||[]), ...(updates.preferences?.dislikedArtists||[])])],\n    dislikedGenres:  [...new Set([...(existing.preferences?.dislikedGenres||[]),  ...(updates.preferences?.dislikedGenres||[])])]\n  },\n  playlistHistory: [{ ts: Date.now(), ...(updates.lastPlayed||{}) }, ...(existing.playlistHistory||[]).slice(0,49)],\n  notes: updates.notes ? `${existing.notes||''}\\n${updates.notes}`.trim() : (existing.notes||''),\n  lastUpdated: Date.now(), created: existing.created||Date.now(), chatId: ctx.chatId\n};\n\n$workflow.staticData.pendingMemorySave = { chatId: ctx.chatId, data: merged };\nreturn `✅ Memoria actualizada.`;"
      },
      "id": "944743c3-5244-4969-a2c7-99dfccfbd86b",
      "name": "📝 Tool: Save Long Memory1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -1376,
        576
      ]
    },
    {
      "parameters": {
        "name": "get_playlist_info",
        "description": "Obtiene información detallada de las playlists disponibles y la recomendación por hora actual. No requiere parámetros.",
        "jsCode": "const ctx = $('📋 Prepare Agent Input').first().json;\nreturn JSON.stringify({\n  currentTime: ctx.timeLabel, timeSlot: ctx.timeSlot,\n  suggestedPlaylist: ctx.suggestedPlaylist, allPlaylists: ctx.allPlaylists,\n  isVagueRequest: ctx.isVagueRequest\n}, null, 2);"
      },
      "id": "4ec96745-0e88-4a32-a8bc-bee32dcdee85",
      "name": "🎵 Tool: Get Playlist Info1",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -1248,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════\n// 🧠 PROFILE MERGE — Post DJ Agent\n// Parsea decisión del agente y prepara routing\n// ═══════════════════════════════════════════\nconst parser   = $('📦 Parser').first().json;\nconst agentRaw = $input.first().json;\n\n// ── Parsear respuesta del agente ──\nlet agentDecision = {};\ntry {\n  const raw = agentRaw.output ?? agentRaw.text ?? '';\n  const str = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const match = str.match(/\\{[\\s\\S]*\\}/);\n  if (match) agentDecision = JSON.parse(match[0]);\n} catch(e) { agentDecision = {}; }\n\nconst agentAction      = agentDecision.action || 'search';\nconst agentPlaylistUri = agentDecision.playlistUri || null;\n// CRÍTICO: fallback al songQuery del parser si el agente devuelve searchQuery vacío\nconst agentSearchQuery = (agentDecision.searchQuery && agentDecision.searchQuery.trim())\n  ? agentDecision.searchQuery.trim()\n  : (parser.songQuery || parser.query);\nconst agentMessage     = agentDecision.message || '';\nconst agentReason      = agentDecision.reason  || '';\n\n// ── Profile vacío (se carga del history real al final) ──\nconst profile = {\n  created: Date.now(), lastUpdated: Date.now(), chatId: parser.chatId,\n  stats: { totalPlays: 0, totalSkips: 0, totalLikes: 0 },\n  artists: {}, genres: {}, history: [], favorites: [], blacklist: [],\n  patterns: { morning:{genres:{},moods:{}}, afternoon:{genres:{},moods:{}}, evening:{genres:{},moods:{}}, night:{genres:{},moods:{}} },\n  moods: {}, platformPrefs: { spotify: 0, youtube: 0 },\n  recentArtists: [], recentGenres: [], spotifyVolume: 50\n};\n\n// ── Resolver routing ──\nlet isDirectPlaylist = false;\nlet playlistUri      = null;\nlet songQuery        = parser.songQuery;\n\nif (agentAction === 'playlist' && agentPlaylistUri) {\n  isDirectPlaylist = true;\n  playlistUri      = agentPlaylistUri;\n  songQuery        = agentDecision.playlistName || parser.songQuery;\n} else {\n  // search: usar query del agente (con fallback al parser)\n  songQuery = agentSearchQuery;\n}\n\nreturn [{ json: {\n  ...parser,\n  _profile: profile,\n  agentAction, agentMessage, agentReason,\n  isDirectPlaylist,\n  playlistUri,\n  songQuery\n}}];"
      },
      "id": "ca84ac9e-0914-4448-a089-9f4f96ac8d93",
      "name": "🧠 Profile Merge2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-spotify-play",
              "leftValue": "={{ $json.isSpotifyPlay }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "994b488e-44af-4924-b566-e15799826131",
      "name": "🔀 ¿Spotify Play?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -816,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.songQuery }}"
            },
            {
              "name": "type",
              "value": "track,playlist,album"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "market",
              "value": "CO"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b40570e8-5f83-47a0-9194-f81e52d1fe36",
      "name": "🎵 Spotify Search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        -272
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spotify = $input.first().json;\nconst parser = $('📦 Parser').first().json;\nconst profileMerge = $('🧠 Profile Merge2').first().json;\nconst profile = profileMerge._profile;\n\nlet uri = null, songTitle = '', artist = '', spotifyType = 'track', albumArt = '';\n\nconst tracks = spotify.tracks?.items || [];\nif (tracks.length > 0) {\n  uri = tracks[0].uri; songTitle = tracks[0].name || '';\n  artist = tracks[0].artists?.[0]?.name || '';\n  albumArt = tracks[0].album?.images?.[0]?.url || ''; spotifyType = 'track';\n}\nif (!uri) {\n  const playlists = spotify.playlists?.items || [];\n  if (playlists.length > 0) {\n    uri = playlists[0].uri; songTitle = playlists[0].name || '';\n    artist = playlists[0].owner?.display_name || 'Spotify';\n    albumArt = playlists[0].images?.[0]?.url || ''; spotifyType = 'playlist';\n  }\n}\nif (!uri) {\n  const albums = spotify.albums?.items || [];\n  if (albums.length > 0) {\n    uri = albums[0].uri; songTitle = albums[0].name || '';\n    artist = albums[0].artists?.[0]?.name || '';\n    albumArt = albums[0].images?.[0]?.url || ''; spotifyType = 'album';\n  }\n}\n\nreturn [{ json: {\n  uri, songTitle, artist, spotifyType, albumArt,\n  foundTrack: !!uri,\n  chatId: parser.chatId, query: parser.query,\n  songQuery: profileMerge.songQuery || parser.songQuery,\n  mood: parser.mood, _profile: profile,\n  allTracks: tracks.slice(0,3).map(t => ({ uri: t.uri, name: t.name, artist: t.artists?.[0]?.name, id: t.id }))\n}}];"
      },
      "id": "97fa4ed9-4721-4fcb-afac-22a88f5c22a6",
      "name": "🎵 Extract URI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -272
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "node /home/ubuntu/.n8n/nexus_tv_master.js launchApp spotify && sleep 6 && echo '{\"ok\":true}'"
      },
      "id": "640497d8-43d9-4fa0-bcf9-ff2822204937",
      "name": "⚡ Open Spotify1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        80,
        -368
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "nUI3p2ixCCdixd1n",
          "name": "SSH Password account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/me/player/devices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "c560491a-53eb-46cf-94f1-76fb1c3a4bbc",
      "name": "📡 Get Devices1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -368
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const devices = $input.first().json;\n\n// 🎯 Find Device necesita el Extract URI\n// Puede venir de Set Direct URI o de Extract URI (via Spotify Search)\nlet extract;\ntry { extract = $('🎵 Extract URI1').first().json; } catch(e) {\n  try { extract = $('🎯 Set Direct URI').first().json; } catch(e2) { extract = {}; }\n}\n\nconst allDevices = devices.devices || [];\nlet tvDevice = allDevices.find(d => d.type === 'TV' || d.type === 'CastVideo' || /tv|lg|webos|smart/i.test(d.name));\nif (!tvDevice) tvDevice = allDevices.find(d => d.is_active) || allDevices[0] || null;\n\nconst uri = extract.uri;\nconst isTrack = uri?.startsWith('spotify:track:');\nconst isPlaylist = uri?.startsWith('spotify:playlist:') || uri?.startsWith('spotify:album:');\n\nlet playBody = {};\nif (isTrack) playBody = { uris: [uri] };\nelse if (isPlaylist) playBody = { context_uri: uri };\n\nreturn [{ json: {\n  deviceFound: !!tvDevice,\n  deviceId: tvDevice?.id || null,\n  deviceName: tvDevice?.name || 'No encontrado',\n  playBody: JSON.stringify(playBody),\n  uri, isTrack, isPlaylist,\n  songTitle: extract.songTitle, artist: extract.artist,\n  albumArt: extract.albumArt, spotifyType: extract.spotifyType,\n  chatId: extract.chatId, query: extract.query,\n  songQuery: extract.songQuery, mood: extract.mood,\n  _profile: extract._profile, allTracks: extract.allTracks,\n  allDevices: allDevices.map(d => ({ id: d.id, name: d.name, type: d.type }))\n}}];"
      },
      "id": "f7bad0b1-b458-44a5-85a8-98923cc73499",
      "name": "🎯 Find Device1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -368
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.spotify.com/v1/me/player/play{{ $json.deviceId ? '?device_id=' + $json.deviceId : '' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.playBody }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6d569f29-6a0f-4f45-b997-601b58234e00",
      "name": "▶️ Play Track1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -368
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const playResult = $input.first().json;\nconst findTV = $('🎯 Find Device1').first().json;\n\nconst hasError = playResult.error?.status || playResult.statusCode >= 400;\nlet ok, summary;\n\nif (!hasError) {\n  ok = true;\n  const emoji = findTV.spotifyType === 'playlist' ? '📀' : findTV.spotifyType === 'album' ? '💿' : '🎵';\n  summary = `▶️ *${findTV.songTitle}* — ${findTV.artist}\\n${emoji} Sonando en ${findTV.deviceName}`;\n} else if (!findTV.deviceFound) {\n  ok = false;\n  summary = `❌ No encontré el TV en Spotify Connect.\\n💡 Abre Spotify en el TV y vuelve a intentar.`;\n} else {\n  ok = false;\n  summary = `❌ Error: ${playResult.error?.message || 'No se pudo reproducir'}`;\n}\n\nreturn [{ json: {\n  ok, summary, action: 'spotify_play', tvCommand: 'playSpotify',\n  songTitle: findTV.songTitle, artist: findTV.artist, albumArt: findTV.albumArt,\n  spotifyType: findTV.spotifyType, platform: 'spotify', mood: findTV.mood,\n  chatId: findTV.chatId, query: findTV.query, deviceName: findTV.deviceName,\n  _profile: findTV._profile\n}}];"
      },
      "id": "2cede9d9-4c3a-418c-9628-9f78b8a048c1",
      "name": "📊 Play Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-spotify-ctrl",
              "leftValue": "={{ $json.isSpotifyControl }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d7118a08-21aa-4f52-a366-7af6d9281997",
      "name": "🔀 ¿Spotify Control?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -368,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-yt",
              "leftValue": "={{ $json.isYouTubeMusic }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73ee9c49-3832-4d7f-bba8-5267b395f372",
      "name": "🔀 ¿YouTube?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "const parser = $('📦 Parser').first().json;\nconst profile = $('⏭️ Bypass Agent').first().json._profile;\n\nconst ctrl = parser.spotifyControlType;\nconst val = parser.spotifyControlValue;\n\nlet endpoint = '', method = 'PUT', body = null, description = '';\nlet needsCurrentPlaying = false, needsSearch = false, searchQuery = '';\n\nswitch(ctrl) {\n  case 'pause':    endpoint = '/v1/me/player/pause'; description = '⏸️ Pausado'; break;\n  case 'play':     endpoint = '/v1/me/player/play'; description = '▶️ Reproduciendo'; break;\n  case 'next':     endpoint = '/v1/me/player/next'; method = 'POST'; description = '⏭️ Siguiente canción'; break;\n  case 'previous': endpoint = '/v1/me/player/previous'; method = 'POST'; description = '⏮️ Canción anterior'; break;\n  case 'volumeUp': {\n    const v = (profile.spotifyVolume||50); const n = Math.min(100, v+10);\n    endpoint = `/v1/me/player/volume?volume_percent=${n}`; description = `🔊 Volumen: ${n}%`; break;\n  }\n  case 'volumeDown': {\n    const v = (profile.spotifyVolume||50); const n = Math.max(0, v-10);\n    endpoint = `/v1/me/player/volume?volume_percent=${n}`; description = `🔉 Volumen: ${n}%`; break;\n  }\n  case 'volumeSet': {\n    const n = Math.max(0, Math.min(100, val||50));\n    endpoint = `/v1/me/player/volume?volume_percent=${n}`; description = `🔊 Volumen: ${n}%`; break;\n  }\n  case 'shuffle':     endpoint = '/v1/me/player/shuffle?state=true'; description = '🔀 Shuffle activado'; break;\n  case 'repeat':      endpoint = '/v1/me/player/repeat?state=track'; description = '🔁 Repetir canción'; break;\n  case 'nowPlaying':  endpoint = '/v1/me/player/currently-playing'; method = 'GET'; needsCurrentPlaying = true; description = '🎵 Ahora suena...'; break;\n  case 'like':        endpoint = '/v1/me/tracks'; method = 'PUT'; needsCurrentPlaying = true; description = '❤️ Guardado en favoritos'; break;\n  case 'queue':       needsSearch = true; searchQuery = val||''; description = `📋 Añadiendo a la cola: ${searchQuery}`; break;\n  case 'seekForward':  endpoint = `/v1/me/player/seek?position_ms=+${(val||15)*1000}`; needsCurrentPlaying = true; description = `⏩ Adelantando ${val||15}s`; break;\n  case 'seekBackward': endpoint = `/v1/me/player/seek?position_ms=-${(val||15)*1000}`; needsCurrentPlaying = true; description = `⏪ Retrocediendo ${val||15}s`; break;\n  default: endpoint = '/v1/me/player'; method = 'GET'; description = '🎵 Estado del reproductor';\n}\n\nreturn [{ json: {\n  spotifyEndpoint: endpoint, spotifyMethod: method, spotifyBody: body,\n  description, controlType: ctrl, controlValue: val,\n  needsCurrentPlaying, needsSearch, searchQuery,\n  chatId: parser.chatId, query: parser.query, _profile: profile\n}}];"
      },
      "id": "5a711ee5-277a-4890-a0b3-52aad7c348b3",
      "name": "🎛️ Control Router1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-current",
              "leftValue": "={{ $json.needsCurrentPlaying }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2d1731b-480f-42b5-9d11-69d04efbd04e",
      "name": "🔀 ¿Needs Current?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        80,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/me/player/currently-playing",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "bda4a702-737e-4f2f-8493-820ee7561804",
      "name": "🎵 Get Current1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -80
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const current = $input.first().json;\nconst router = $('🎛️ Control Router1').first().json;\n\nconst track = current.item || {};\nconst songTitle = track.name || 'Desconocido';\nconst artist = track.artists?.[0]?.name || 'Artista desconocido';\nconst albumArt = track.album?.images?.[0]?.url || '';\nconst trackId = track.id || '';\nconst progressMs = current.progress_ms || 0;\nconst durationMs = track.duration_ms || 0;\nconst isPlaying = current.is_playing || false;\n\nlet endpoint = router.spotifyEndpoint, description = router.description;\n\nif (router.controlType === 'like' && trackId) { endpoint = `/v1/me/tracks?ids=${trackId}`; description = `❤️ *${songTitle}* guardada en favoritos`; }\nif (router.controlType === 'seekForward' && progressMs) { endpoint = `/v1/me/player/seek?position_ms=${Math.min(progressMs+((router.controlValue||15)*1000), durationMs)}`; }\nif (router.controlType === 'seekBackward' && progressMs) { endpoint = `/v1/me/player/seek?position_ms=${Math.max(0, progressMs-((router.controlValue||15)*1000))}`; }\nif (router.controlType === 'nowPlaying') {\n  const p = Math.floor(progressMs/1000), d = Math.floor(durationMs/1000);\n  description = `🎵 *${songTitle}*\\n👤 ${artist}\\n⏱️ ${Math.floor(p/60)}:${String(p%60).padStart(2,'0')} / ${Math.floor(d/60)}:${String(d%60).padStart(2,'0')}\\n${isPlaying ? '▶️ Reproduciendo' : '⏸️ Pausado'}`;\n}\n\nreturn [{ json: { ...router, spotifyEndpoint: endpoint, description, currentTrack: { songTitle, artist, albumArt, trackId, progressMs, durationMs, isPlaying } } }];"
      },
      "id": "ceeb61c7-b768-41c8-88ef-7088e5d35b3e",
      "name": "🔧 Process Current1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -80
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.spotifyMethod }}",
        "url": "=https://api.spotify.com{{ $json.spotifyEndpoint }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "64c1c247-49eb-4bb4-baeb-1f9dc38ac140",
      "name": "⚡ Execute Control1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        -16
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst router = $('🎛️ Control Router1').first().json;\nconst processed = $('🔧 Process Current1')?.first()?.json || router;\n\nconst hasError = result.error?.status || result.statusCode >= 400;\nlet ok = !hasError, summary = processed.description || router.description;\n\nif (hasError) {\n  summary = `❌ Error: ${result.error?.message || 'No se pudo ejecutar'}`;\n  if (result.error?.reason === 'NO_ACTIVE_DEVICE') summary = `❌ No hay dispositivo activo en Spotify.\\n💡 Abre Spotify en el TV primero.`;\n}\n\nlet volumeUpdate = null;\nif (ok && ['volumeUp','volumeDown','volumeSet'].includes(router.controlType)) {\n  const match = router.spotifyEndpoint.match(/volume_percent=(\\d+)/);\n  if (match) volumeUpdate = parseInt(match[1]);\n}\n\nreturn [{ json: { ok, summary, action: 'spotify_control', tvCommand: router.controlType, platform: 'spotify', chatId: router.chatId, query: router.query, volumeUpdate, currentTrack: processed.currentTrack || null, _profile: router._profile } }];"
      },
      "id": "b1d46102-37cd-429d-b780-f3bb7e04a01d",
      "name": "📊 Control Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-search",
              "leftValue": "={{ $json.needsSearch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8817a5c-1c8e-483f-8f84-5d12d7e3624d",
      "name": "🔀 ¿Queue Search?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('🎛️ Control Router1').first().json.searchQuery }}"
            },
            {
              "name": "type",
              "value": "track"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "market",
              "value": "CO"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "e579dac2-a3aa-4243-9c2e-4d41e7e11912",
      "name": "🔍 Queue Search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        256
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.spotify.com/v1/me/player/queue?uri={{ $input.first().json.tracks?.items?.[0]?.uri || '' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "timeout": 10000
        }
      },
      "id": "9f0150ee-a775-499d-8d1e-7bf9ec0cb4e9",
      "name": "📋 Add to Queue1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        256
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const queueResult = $input.first().json;\nconst searchResult = $('🔍 Queue Search1').first().json;\nconst router = $('🎛️ Control Router1').first().json;\nconst track = searchResult.tracks?.items?.[0];\nconst hasError = queueResult.error?.status || queueResult.statusCode >= 400;\nlet ok, summary;\nif (track && !hasError) { ok = true; summary = `📋 *${track.name}* — ${track.artists?.[0]?.name}\\nAñadido a la cola`; }\nelse if (!track) { ok = false; summary = `❌ No encontré \"${router.searchQuery}\" en Spotify`; }\nelse { ok = false; summary = `❌ Error añadiendo a la cola`; }\nreturn [{ json: { ok, summary, action: 'spotify_control', tvCommand: 'queue', platform: 'spotify', chatId: router.chatId, query: router.query, _profile: router._profile } }];"
      },
      "id": "21267cbd-b1b1-46cb-b522-ca8b06798bbf",
      "name": "📊 Queue Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        256
      ]
    },
    {
      "parameters": {
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('📦 Parser').first().json.braveQuery + ' site:youtube.com watch?v=' }}"
            },
            {
              "name": "count",
              "value": "8"
            },
            {
              "name": "text_decorations",
              "value": "false"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "d3d75c54-d12f-482d-9ff0-42a22dc02817",
      "name": "🌐 Brave Search1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "KeJjJFQoxfJD2l1C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst parser = $('📦 Parser').first().json;\nconst profile = $('⏭️ Bypass Agent').first().json._profile;\n\nlet videoId = null, videoTitle = '';\nconst allVideoIds = [];\n\nconst webResults = data.web?.results || [];\nfor (const result of webResults) {\n  const combined = (result.url||'') + ' ' + (result.description||'') + ' ' + (result.title||'');\n  const matches = combined.matchAll(/(?:watch\\?v=|youtu\\.be\\/)([a-zA-Z0-9_-]{11})/g);\n  for (const match of matches) {\n    if (!allVideoIds.includes(match[1])) {\n      allVideoIds.push(match[1]);\n      if (!videoId) { videoId = match[1]; videoTitle = result.title || ''; }\n    }\n  }\n}\n\nreturn [{ json: { videoId, videoTitle, allVideoIds: allVideoIds.slice(0,5), songQuery: parser.songQuery, query: parser.query, chatId: parser.chatId, foundVideo: !!videoId, mood: parser.mood, _profile: profile } }];"
      },
      "id": "27cd61ab-ab01-4525-93f8-01cc35aaf1fc",
      "name": "🔧 Extract videoId1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "found-vid",
              "leftValue": "={{ $json.foundVideo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8354c7c-e5b7-4dc7-9191-acf6eac5bdde",
      "name": "🔀 ¿Video?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        544
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=node /home/ubuntu/.n8n/nexus_tv_master.js playYoutube {{ $('🔧 Extract videoId1').first().json.videoId }}"
      },
      "id": "8bfd447f-71e2-4de8-a5a5-4d0df94b3f96",
      "name": "⚡ playYoutube1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        448
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "nUI3p2ixCCdixd1n",
          "name": "SSH Password account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=node /home/ubuntu/.n8n/nexus_tv_master.js searchYoutube \"{{ $('🔧 Extract videoId1').first().json.songQuery }}\""
      },
      "id": "ea3c80b9-8c67-42fb-b688-848e7e2b34fb",
      "name": "⚡ searchYoutube1",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        640
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "nUI3p2ixCCdixd1n",
          "name": "SSH Password account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sshOut = $input.first().json;\nconst extractor = $('🔧 Extract videoId1').first().json;\nconst ok = (sshOut.exitCode ?? 0) === 0;\nconst summary = ok ? `▶️ *${extractor.songQuery}*\\n📺 Reproduciendo en YouTube` : `❌ Error reproduciendo en YouTube`;\nreturn [{ json: { ok, summary, action: 'tv_command', tvCommand: 'playYoutube', songQuery: extractor.songQuery, videoId: extractor.videoId, platform: 'youtube', mood: extractor.mood, chatId: extractor.chatId, query: extractor.query, _profile: extractor._profile } }];"
      },
      "id": "38fcc89a-71ee-4727-9284-f2cce5139cf5",
      "name": "📊 YT Result1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst profile = data._profile || {};\n\nif (profile.stats) {\n  profile.lastUpdated = Date.now();\n  if (data.volumeUpdate !== undefined && data.volumeUpdate !== null) profile.spotifyVolume = data.volumeUpdate;\n  if (data.ok && data.action === 'spotify_play') {\n    profile.stats.totalPlays++;\n    const artist = data.artist;\n    if (artist && !['Artista','Spotify','YouTube'].includes(artist)) {\n      if (!profile.artists[artist]) profile.artists[artist] = { plays:0, skips:0, likes:0, lastPlayed:null };\n      profile.artists[artist].plays++; profile.artists[artist].lastPlayed = Date.now();\n      profile.recentArtists = [artist, ...profile.recentArtists.filter(a=>a!==artist)].slice(0,10);\n    }\n    profile.history.unshift({ title: data.songTitle, artist: data.artist, platform: 'spotify', timestamp: Date.now() });\n    profile.history = profile.history.slice(0,100); profile.platformPrefs.spotify++;\n  }\n  if (data.ok && data.tvCommand === 'like' && data.currentTrack) {\n    profile.stats.totalLikes++;\n    const track = data.currentTrack;\n    if (!profile.favorites.some(f => f.trackId === track.trackId)) {\n      profile.favorites.unshift({ title: track.songTitle, artist: track.artist, trackId: track.trackId, timestamp: Date.now() });\n      profile.favorites = profile.favorites.slice(0,50);\n    }\n    if (profile.artists[track.artist]) profile.artists[track.artist].likes++;\n  }\n  if (data.ok && data.tvCommand === 'next') profile.stats.totalSkips++;\n}\n\nreturn [{ json: { output: data.summary || '✅ Listo', ok: data.ok !== undefined ? data.ok : true, action: data.action||'unknown', tvCommand: data.tvCommand||'', platform: data.platform||'', songTitle: data.songTitle||'', artist: data.artist||'', chatId: data.chatId||'', query: data.query||'', _profileJson: JSON.stringify(profile), _chatId: data.chatId||'' } }];"
      },
      "id": "5e9bcf52-7200-45e2-a543-66cb8e695329",
      "name": "📤 Pre-Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        256
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=dj:profile:{{ $json._chatId }}",
        "value": "={{ $json._profileJson }}"
      },
      "id": "596de25e-2f33-4f63-b25c-fc2fff66fd49",
      "name": "💾 Save1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1552,
        256
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $('📤 Pre-Output1').first().json;\nreturn [{ json: { output: d.output, ok: d.ok, action: d.action, tvCommand: d.tvCommand, platform: d.platform, songTitle: d.songTitle, artist: d.artist, chatId: d.chatId, query: d.query } }];"
      },
      "id": "d13aaf6e-448a-4fc5-93a3-a479cdc88985",
      "name": "📤 Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('📦 Parser').first().json.query }}",
        "options": {
          "systemMessage": "╔══════════════════════════════════════════════════════════════╗\n║   🖥️ XUS NEXUS AGENT v8.0 — TV + SERVER OMNIPOTENTE          ║\n║   Responde SOLO JSON PURO. Sin ```. Primera { última }        ║\n╚══════════════════════════════════════════════════════════════╝\n\nEres el cerebro de Santiago. Controlas su LG WebOS TV Y su servidor AWS.\nPuedes hacer ABSOLUTAMENTE TODO lo que un sysadmin haría en el servidor.\nTienes acceso total al sistema de archivos, procesos, red, y al TV.\n\nSERVIDOR : Ubuntu AWS — usuario ubuntu\nSCRIPT TV: node /home/ubuntu/.n8n/nexus_tv_master.js [cmd] [args]\nSCRIPT PATH: /home/ubuntu/.n8n/nexus_tv_master.js\nHOME     : /home/ubuntu\nN8N DIR  : /home/ubuntu/.n8n\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 PRIORIDAD DE INTERPRETACIÓN\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n1. PASSTHROUGH EXACTO\n   Si el mensaje ES exactamente un comando TV o bash conocido, ejecútalo directo.\n   • \"ping\"              → tv_command: ping\n   • \"setVolume 40\"      → tv_command: setVolume args:[\"40\"]\n   • \"ls -la\"            → server_cmd: \"ls -la\"\n   • \"df -h\"             → server_cmd: \"df -h\"\n   Usa get_commands si dudas si es un comando TV válido.\n\n2. LENGUAJE NATURAL → TV (JSON directo, sin tools)\n   Ver MAPEO TV más abajo.\n\n3. LENGUAJE NATURAL → SERVIDOR\n   Todo lo que implique el servidor: archivos, carpetas, procesos, red, logs,\n   scripts, instalaciones, configuración — usa ssh_terminal.\n\n4. BÚSQUEDA YOUTUBE\n   \"busca X\" → usa youtube_search → devuelve resultados → searchYoutube en TV.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🛠️ TOOLS DISPONIBLES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📋 get_commands\n  Cuándo: El usuario pregunta qué comandos hay, pide ayuda, o necesitas\n          verificar si algo es un comando TV válido.\n  Retorna: Lista completa de comandos TV agrupados por categoría.\n\n🔍 youtube_search\n  Cuándo: Santiago quiere buscar videos en YouTube.\n  Flujo: youtube_search(query) → extrae videoId → JSON searchYoutube.\n\n🖥️ ssh_terminal\n  Cuándo: CUALQUIER operación en el servidor. Sin límite de uso.\n  Puedes encadenar MÚLTIPLES llamadas para tareas complejas:\n\n  SISTEMA DE ARCHIVOS:\n  • Crear carpeta       : mkdir -p /ruta/carpeta\n  • Crear carpetas nested: mkdir -p /home/ubuntu/proyectos/app1/src\n  • Listar archivos     : ls -la /ruta\n  • Ver árbol           : find /ruta -type f | head -50\n  • Crear archivo       : cat > /ruta/archivo.txt << 'EOF'\\ncontenido\\nEOF\n  • Escribir archivo    : echo 'contenido' > /ruta/archivo.txt\n  • Editar archivo      : sed -i 's/viejo/nuevo/g' /ruta/archivo\n  • Copiar              : cp -r /origen /destino\n  • Mover/renombrar     : mv /origen /destino\n  • Eliminar archivo    : rm /ruta/archivo (NO rm -rf /)\n  • Ver contenido       : cat /ruta/archivo | head -100\n  • Buscar en archivos  : grep -r 'texto' /ruta\n  • Permisos            : chmod 755 /ruta/archivo\n  • Propietario         : chown ubuntu:ubuntu /ruta/archivo\n\n  PROCESOS:\n  • Ver procesos        : ps aux | grep proceso\n  • Ver todos           : ps aux --sort=-%cpu | head -20\n  • Matar proceso       : kill -9 PID\n  • Ver uso recursos    : top -bn1 | head -20\n  • CPU/RAM             : free -h && uptime\n\n  RED:\n  • Ver IP              : ip addr show | grep inet\n  • Puertos abiertos    : netstat -tlnp 2>/dev/null || ss -tlnp\n  • Probar conectividad : ping -c 3 IP\n  • Ver ruta            : traceroute IP (si disponible)\n  • Curl/wget           : curl -s URL\n\n  DISCO:\n  • Espacio total       : df -h\n  • Tamaño carpeta      : du -sh /ruta\n  • Archivos grandes    : find / -size +100M 2>/dev/null | head -10\n\n  DOCKER:\n  • Ver contenedores    : docker ps\n  • Ver todos           : docker ps -a\n  • Logs               : docker logs --tail=50 nombre\n  • Reiniciar          : docker restart nombre\n  • Stats              : docker stats --no-stream\n\n  N8N / APP:\n  • Ver logs n8n        : journalctl -u n8n --no-pager -n 50 2>/dev/null || docker logs n8n --tail=50\n  • Estado n8n          : systemctl status n8n 2>/dev/null || docker ps | grep n8n\n  • Reiniciar n8n       : systemctl restart n8n 2>/dev/null || docker restart n8n\n\n  CRON / TAREAS:\n  • Ver crontab         : crontab -l\n  • Editar crontab      : (pedir confirmación antes)\n\n  VARIABLES / CONFIG:\n  • Ver .env            : cat /home/ubuntu/.env 2>/dev/null || echo 'no existe'\n  • Ver config n8n      : cat /home/ubuntu/.n8n/config 2>/dev/null\n  • Ver script TV       : cat /home/ubuntu/.n8n/nexus_tv_master.js | head -80\n  • Cambiar IP TV       : sed -i \"s/TV_IP: '[^']*'/TV_IP: 'NUEVA_IP'/\" SCRIPT_PATH\n\n  PAQUETES:\n  • Instalar paquete    : sudo apt-get install -y paquete\n  • Ver instalados      : dpkg -l | grep paquete\n  • Actualizar lista    : sudo apt-get update\n\n  GIT:\n  • Estado repo         : git -C /ruta status\n  • Pull                : git -C /ruta pull\n  • Log                 : git -C /ruta log --oneline -10\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📺 MAPEO TV — LENGUAJE NATURAL\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nYOUTUBE\n\"abre YouTube\"                  → tv_double: openYoutube + enter (delay 7000)\n\"busca [X]\" / \"busca [X] en YT\" → youtube_search tool → searchYoutube\n\nNETFLIX\n\"abre Netflix\"                  → openNetflix\n\"pon [título] en Netflix\"        → playNetflix <contentId>\n\nSPOTIFY\n\"abre Spotify\" / \"pon Spotify\"  → openSpotify (SIEMPRE, sin deep link)\n\nVOLUMEN\n\"sube el volumen\" / \"más\"       → volumeUp\n\"baja el volumen\" / \"menos\"     → volumeDown\n\"volumen [N]\"                   → setVolume [N]\n\"silencia\" / \"mute\"             → mute\n\"cuánto volumen\"                → getVolume\n\nPANTALLA & PODER\n\"apaga\" / \"apaga la tele\"       → powerOff\n\"enciende\" / \"prende\"           → turnOn\n\"apaga pantalla\"                → screenOff\n\"enciende pantalla\"             → screenOn\n\nINPUTS\n\"HDMI 1/2/3\" / \"entrada 1/2/3\" → inputHDMI1/2/3\n\nNAVEGACIÓN\n\"ok\" / \"selecciona\"             → enter\n\"atrás\" / \"volver\"              → back\n\"inicio\" / \"home\"               → home\n\"arriba/abajo/izquierda/derecha\"→ up/down/left/right\n\nMEDIA\n\"pausa\"                         → mediaPause\n\"play\" / \"continúa\"             → mediaPlay\n\"para\"                          → mediaStop\n\"rebobina\"                      → mediaRewind\n\"adelanta\"                      → mediaForward\n\nMACROS\n\"modo noche\"                    → nightMode\n\"modo mañana\" / \"buenos días\"   → morningRoutine\n\"modo cine\"                     → cinemaMode\n\"duerme\"                        → sleepRoutine\n\"despierta\"                     → wakeRoutine\n\nSERVIDOR / CONFIG\n\"cambia IP a [X]\" / \"IP es [X]\"    → action: update_ip\n\"no funciona\" / \"hay error\"         → ssh_terminal → autofix\n\"verifica IP\" / \"qué IP tiene\"      → ssh_terminal → grep TV_IP\n\"info servidor\"                      → ssh_terminal → resumen completo\n\"qué comandos hay\" / \"ayuda\" / \"help\"→ get_commands → JSON info\n\nFILE SYSTEM (ejemplos)\n\"crea la carpeta /ruta\"              → ssh_terminal: mkdir -p /ruta\n\"crea /home/ubuntu/proyectos/app\"    → ssh_terminal: mkdir -p ...\n\"lista /home/ubuntu\"                 → ssh_terminal: ls -la /home/ubuntu\n\"muéstrame el árbol de .n8n\"         → ssh_terminal: find ~/.n8n -maxdepth 3\n\"crea el archivo config.json en X\"   → ssh_terminal: echo/cat > archivo\n\"mueve X a Y\"                        → ssh_terminal: mv X Y\n\"cuánto espacio hay\"                 → ssh_terminal: df -h\n\"ver logs de n8n\"                    → ssh_terminal: logs\n\"ver procesos\"                       → ssh_terminal: ps aux\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📤 OUTPUT JSON\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n{\n  \"action\"        : \"tv_command|tv_double|tv_triple|update_ip|server_cmd|server_info|autofix|info\",\n  \"command\"       : \"nombre_exacto\",\n  \"command2\"      : \"si tv_double/triple\",\n  \"command3\"      : \"si tv_triple\",\n  \"delay\"         : 7000,\n  \"delay1\"        : 7000,\n  \"delay2\"        : 2000,\n  \"args\"          : [],\n  \"args2\"         : [],\n  \"args3\"         : [],\n  \"new_ip\"        : \"solo si update_ip\",\n  \"server_command\": \"comando bash exacto (solo si server_cmd)\",\n  \"search_results\": \"top 3 títulos si usaste youtube_search\",\n  \"top_video_id\"  : \"primer videoId si youtube_search\",\n  \"autofix_result\": \"resumen si ssh_terminal para diagnóstico\",\n  \"server_result\" : \"output relevante si ssh_terminal para servidor\",\n  \"commands_list\" : \"lista formateada si get_commands\",\n  \"intent\"        : \"descripción clara de qué hiciste\",\n  \"confidence\"    : \"high|medium|low\"\n}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n⚠️ REGLAS DE ORO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n1.  Passthrough exacto tiene PRIORIDAD sobre todo\n2.  Usa get_commands cuando dudes si algo es comando TV\n3.  Comandos TV normales → JSON directo, NUNCA tools\n4.  \"busca X\" → youtube_search tool SIEMPRE\n5.  Filesystem/servidor → ssh_terminal, puedes llamarlo múltiples veces\n6.  Spotify = openSpotify SIEMPRE (sin deep links WebOS)\n7.  BLOQUEADO: rm -rf /, sudo rm /, mkfs, dd if=, > /dev/sda, shutdown -h now, reboot, halt, :(){\n8.  args SIEMPRE array aunque sea un elemento: [\"valor\"]\n9.  Rutas absolutas siempre que sea posible\n10. Si creas archivos con contenido multilinea: usa ssh_terminal con heredoc\n11. Si Santiago pide algo ambiguo → confidence: \"medium\", intent: explica lo que asumiste\n12. Para tareas complejas encadena MÚLTIPLES llamadas a ssh_terminal — no tengas miedo de usarla varias veces\n13. Siempre responde qué hiciste en \"intent\" de forma clara\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n💻 PC WINDOWS (Tailscale 100.84.255.20) — VIA SSH PC Bridge\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLos comandos de PC se resuelven ANTES de llegar aquí (🔗 PC Bridge).\nSi ves queries de PC que pasaron igual, usa action: pc_passthrough.\n"
        }
      },
      "id": "b7bab523-5235-4c30-806e-1c90b1b2d704",
      "name": "🧠 TV Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        928
      ]
    },
    {
      "parameters": {
        "description": "Ejecuta CUALQUIER comando bash en el servidor AWS via SSH. Usa para: crear/listar/mover/eliminar archivos y carpetas, ver procesos, ver logs, gestionar Docker, leer/escribir configs, instalar paquetes, operaciones de red, gestión de n8n, git, cron, y cualquier operación de sistema. Puedes llamar esta tool múltiples veces para tareas complejas.",
        "workflowId": {
          "__rl": true,
          "value": "ijeyarh2aVYrhlHP",
          "mode": "list",
          "cachedResultUrl": "/workflow/ijeyarh2aVYrhlHP",
          "cachedResultName": "📺 ssh_terminal"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ $fromAI('command', 'Comando bash completo a ejecutar en el servidor Ubuntu. Puede ser simple (ls -la) o compuesto (mkdir -p /ruta && ls /ruta). Para archivos con contenido usa heredoc. Siempre usa rutas absolutas.', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        }
      },
      "id": "9c2a69e6-2ef7-4667-bcaa-795368e20869",
      "name": "📺 ssh_terminal",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        80,
        1152
      ]
    },
    {
      "parameters": {
        "name": "get_commands",
        "description": "Devuelve la lista completa y actualizada de todos los comandos disponibles del script nexus_tv_master.js agrupados por categoría. Úsala cuando: el usuario pregunte qué comandos hay, pida ayuda o 'help', o cuando necesites verificar si un string es un comando TV válido antes de hacer passthrough.",
        "jsCode": "const commands = {\n  '📺 YouTube':  ['openYoutube','searchYoutube <query>','playYoutube <videoId>','playMusic <url>'],\n  '🎬 Netflix':  ['openNetflix','playNetflix <contentId>'],\n  '🎵 Spotify':  ['openSpotify','playSpotify'],\n  '📱 Apps':     ['launchApp <appId>','closeApp <appId>','listApps','foreground'],\n  '🔊 Volumen':  ['setVolume <0-100>','getVolume','volumeUp','volumeDown','mute','unmute'],\n  '🖥️ Pantalla': ['screenOff','screenOn'],\n  '⚡ Poder':    ['powerOff','turnOn'],\n  '🔌 Inputs':   ['inputHDMI1','inputHDMI2','inputHDMI3','input <source>'],\n  '🕹️ Nav':      ['enter','back','home','up','down','left','right'],\n  '▶️ Media':    ['mediaPlay','mediaPause','mediaStop','mediaRewind','mediaForward'],\n  '📡 Canales':  ['channelUp','channelDown','setChannel <N>'],\n  '🌙 Macros':   ['nightMode','morningRoutine','cinemaMode','wakeRoutine','sleepRoutine'],\n  '🔧 Utils':    ['ping','help','speak <texto>','toast <mensaje>','openUrl <url>'],\n  '⚙️ Config':   ['update_ip → usa action:update_ip (no es command directo)']\n};\n\nconst flat = Object.values(commands).flat();\nconst validCommands = flat.map(c => c.split(' ')[0]).filter(c => !c.includes('→'));\n\nreturn JSON.stringify({\n  totalCommands: flat.length,\n  byCategory: commands,\n  validCommandNames: validCommands,\n  usage: 'SCRIPT: node /home/ubuntu/.n8n/nexus_tv_master.js <command> [args]',\n  tip: 'update_ip NO es un command directo — usa action:update_ip con new_ip en el JSON'\n}, null, 2);"
      },
      "id": "ec47e99c-032b-4ae9-b718-6f1c1796099a",
      "name": "📋 get_commands",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        224,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst parser = $('📦 Parser').first().json;\n\nlet ai = {};\ntry {\n  let text = input.text || input.output || input.message || '';\n  if (typeof text === 'object') { ai = text; }\n  else {\n    text = text.replace(/[`]{3}json\\s*/gi,'').replace(/[`]{3}\\s*/gi,'').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]);\n  }\n} catch(e) { ai = { action: 'tv_command', command: 'ping', args: [] }; }\n\nconst SCRIPT      = 'node /home/ubuntu/.n8n/nexus_tv_master.js';\nconst SCRIPT_PATH = '/home/ubuntu/.n8n/nexus_tv_master.js';\nconst action      = ai.action || 'tv_command';\n\n// ── Helpers ──────────────────────────────────────────────────\nfunction resolveIP(rawIp) {\n  const s = String(rawIp || '').trim();\n  if (/^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/.test(s)) return s;\n  if (/^\\d{1,3}$/.test(s))                              return `192.168.0.${s}`;\n  if (/^\\d{1,3}\\.\\d{1,3}$/.test(s))                   return `192.168.${s}`;\n  if (/^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$/.test(s))         return `192.${s}`;\n  return null;\n}\n\nfunction escArg(a) {\n  const s = String(a).trim();\n  if (/[\\s&|;()<>!$`\\\\\"']/.test(s)) return '\"' + s.replace(/\"/g, '\\\\\"') + '\"';\n  return s;\n}\n\nfunction buildCmd(cmd, args) {\n  const a = (args || []).map(escArg);\n  return SCRIPT + ' ' + cmd + (a.length ? ' ' + a.join(' ') : '');\n}\n\n// ── Blacklist seguridad ───────────────────────────────────────\nconst BLOCKED = ['rm -rf /','rm -rf ~','sudo rm -rf','mkfs','dd if=',\n                 '> /dev/sda','> /dev/nvme','shutdown -h now','reboot',\n                 'halt',':(){','fork bomb'];\n\nfunction isSafe(cmd) {\n  const c = cmd.toLowerCase();\n  return !BLOCKED.some(b => c.includes(b));\n}\n\n// ── Construir sshCommand según action ─────────────────────────\nlet sshCommand = '';\nlet skipSSH    = false;\n\nswitch(action) {\n\n  case 'info':\n    skipSSH = true;\n    break;\n\n  case 'tv_double': {\n    const d = Math.round((ai.delay || 7000) / 1000);\n    sshCommand = buildCmd(ai.command || 'openYoutube', ai.args || [])\n               + ` && sleep ${d} && `\n               + buildCmd(ai.command2 || 'enter', ai.args2 || []);\n    break;\n  }\n\n  case 'tv_triple': {\n    const d1 = Math.round((ai.delay1 || 7000) / 1000);\n    const d2 = Math.round((ai.delay2 || 2000) / 1000);\n    sshCommand = buildCmd(ai.command,  ai.args  || [])\n               + ` && sleep ${d1} && `\n               + buildCmd(ai.command2, ai.args2 || [])\n               + ` && sleep ${d2} && `\n               + buildCmd(ai.command3, ai.args3 || []);\n    break;\n  }\n\n  case 'update_ip': {\n    const ip = resolveIP(ai.new_ip);\n    ai.new_ip_resolved = ip;\n    sshCommand = ip\n      ? `sed -i \"s/TV_IP: '[^']*'/TV_IP: '${ip}'/\" ${SCRIPT_PATH} && grep \"TV_IP\" ${SCRIPT_PATH} && echo '{\"ok\":true,\"newIp\":\"${ip}\"}'`\n      : `echo '{\"ok\":false,\"error\":\"IP inválida\"}'`;\n    break;\n  }\n\n  case 'server_cmd': {\n    const cmd = (ai.server_command || '').trim();\n    sshCommand = isSafe(cmd)\n      ? cmd\n      : `echo '{\"ok\":false,\"error\":\"Comando bloqueado por seguridad\"}'`;\n    break;\n  }\n\n  case 'server_info':\n    sshCommand = `echo '=== SISTEMA ===' && uname -a && echo '' && echo '=== CPU/RAM ===' && free -h && echo '' && echo '=== DISCO ===' && df -h && echo '' && echo '=== DOCKER ===' && docker ps --format \"table {{.Names}}\\\\t{{.Status}}\" 2>/dev/null || echo 'docker no disponible' && echo '' && echo '=== N8N ===' && systemctl status n8n --no-pager 2>/dev/null || docker ps | grep n8n || echo 'n8n info no disponible' && echo '' && echo '=== IP TV ===' && grep \"TV_IP\" ${SCRIPT_PATH} 2>/dev/null`;\n    break;\n\n  case 'autofix': {\n    // El agente ya usó ssh_terminal múltiples veces para diagnosticar\n    // Aquí solo hacemos un ping final de verificación\n    sshCommand = buildCmd('ping', []);\n    break;\n  }\n\n  default:\n    // tv_command (incluyendo passthrough)\n    sshCommand = buildCmd(ai.command || 'ping', ai.args || []);\n    break;\n}\n\nreturn [{ json: {\n  action,\n  sshCommand,\n  skipSSH,\n  tvCommand:      ai.command        || '',\n  tvCommand2:     ai.command2       || '',\n  tvCommand3:     ai.command3       || '',\n  args:           ai.args           || [],\n  args2:          ai.args2          || [],\n  args3:          ai.args3          || [],\n  newIp:          ai.new_ip_resolved || ai.new_ip || '',\n  intent:         ai.intent          || '',\n  confidence:     ai.confidence      || 'high',\n  searchResults:  ai.search_results  || '',\n  topVideoId:     ai.top_video_id    || '',\n  autofixResult:  ai.autofix_result  || '',\n  serverResult:   ai.server_result   || '',\n  commandsList:   ai.commands_list   || '',\n  query:          parser.query,\n  chatId:         parser.chatId,\n  _profile:       $('⏭️ Bypass Agent').first().json._profile\n}}];"
      },
      "id": "57b030d8-3429-424f-bfa1-334c0e5afebf",
      "name": "🔗 TV Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        928
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-ssh",
              "leftValue": "={{ $json.skipSSH }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adb2c4a4-ce2c-4d04-b2f8-e0c5cc6b3327",
      "name": "🔀 ¿Skip SSH?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        928
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.sshCommand }}"
      },
      "id": "55132241-af72-441b-a912-0108f91934c4",
      "name": "⚡ SSH TV",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        880,
        816
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "nUI3p2ixCCdixd1n",
          "name": "SSH Password account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Intentar obtener datos de SSH (si vino por esa ruta)\nlet bridge, sshOut = {};\ntry { bridge = $('🔗 TV Bridge').first().json; } catch(e) { bridge = $input.first().json; }\ntry { sshOut = $input.first().json; } catch(e) {}\n\n// ─── Ruta info/skipSSH ──────────────────────────────────────\nif (bridge.skipSSH || bridge.action === 'info') {\n  const list = bridge.commandsList\n    ? `📋 *Comandos disponibles:*\\n${bridge.commandsList}`\n    : `ℹ️ ${bridge.intent || 'Información procesada'}`;\n  return [{ json: {\n    ok: true, summary: list,\n    action: 'info', tvCommand: '', platform: 'tv',\n    chatId: bridge.chatId, query: bridge.query, _profile: bridge._profile\n  }}];\n}\n\n// ─── Evaluar resultado SSH ───────────────────────────────────\nconst exitCode = sshOut.exitCode ?? sshOut.code ?? 0;\nconst ok       = exitCode === 0;\nconst stdout   = (sshOut.stdout || sshOut.output || '').trim();\nconst stderr   = (sshOut.stderr || '').trim();\n\n// ─── Labels para comandos TV ────────────────────────────────\nconst LABELS = {\n  ping:             '📡 TV conectada y respondiendo',\n  setVolume:        `🔊 Volumen configurado`,\n  volumeUp:         '🔊 Volumen subido',\n  volumeDown:       '🔉 Volumen bajado',\n  mute:             '🔇 Silenciado',\n  unmute:           '🔊 Sonido restaurado',\n  getVolume:        `🔊 Volumen actual obtenido`,\n  screenOff:        '🖥️ Pantalla apagada',\n  screenOn:         '🖥️ Pantalla encendida',\n  powerOff:         '📺 TV apagada',\n  turnOn:           '📺 TV encendiéndose',\n  nightMode:        '🌙 Modo noche activado',\n  morningRoutine:   '☀️ Rutina mañana lista',\n  cinemaMode:       '🎬 Modo cine activado',\n  sleepRoutine:     '😴 Modo sueño activado',\n  wakeRoutine:      '⏰ Rutina despertar activada',\n  mediaPause:       '⏸️ Pausado',\n  mediaPlay:        '▶️ Reproduciendo',\n  mediaStop:        '⏹️ Detenido',\n  mediaRewind:      '⏪ Rebobinando',\n  mediaForward:     '⏩ Adelantando',\n  openYoutube:      '▶️ Abriendo YouTube en TV',\n  openNetflix:      '🎬 Abriendo Netflix en TV',\n  openSpotify:      '🎵 Abriendo Spotify en TV',\n  searchYoutube:    `🔍 Buscando en YouTube${bridge.searchResults ? '\\n' + bridge.searchResults : ''}`,\n  playYoutube:      '▶️ Reproduciendo video en YouTube',\n  inputHDMI1:       '📺 Cambiado a HDMI 1',\n  inputHDMI2:       '📺 Cambiado a HDMI 2',\n  inputHDMI3:       '📺 Cambiado a HDMI 3',\n  enter:            '✅ Enter',\n  back:             '⬅️ Atrás',\n  home:             '🏠 Inicio',\n  up:               '⬆️', down: '⬇️', left: '⬅️', right: '➡️',\n  listApps:         '📱 Lista de apps obtenida',\n  launchApp:        '📱 App lanzada',\n  closeApp:         '📱 App cerrada'\n};\n\nlet summary = '';\n\nswitch(bridge.action) {\n\n  case 'update_ip':\n    summary = ok\n      ? `✅ IP del TV actualizada a *${bridge.newIp}*`\n      : `❌ Error actualizando IP: ${stderr || stdout || 'desconocido'}`;\n    break;\n\n  case 'server_info':\n  case 'server_cmd': {\n    const output = stdout || stderr;\n    const preview = output.length > 1200 ? output.substring(0, 1200) + '\\n...(truncado)' : output;\n    summary = ok\n      ? `🖥️ *${bridge.intent || 'Servidor'}*\\n\\`\\`\\`\\n${preview}\\n\\`\\`\\``\n      : `❌ Error: ${stderr || 'Falló el comando'}`;\n    break;\n  }\n\n  case 'autofix':\n    summary = ok\n      ? `🔧 *Autofix completado*\\n${bridge.autofixResult || 'TV respondiendo correctamente'}`\n      : `❌ Autofix: TV sigue sin responder. Revisa la red.`;\n    break;\n\n  case 'tv_double':\n  case 'tv_triple':\n    summary = ok\n      ? `✅ *${bridge.intent || `${bridge.tvCommand} + ${bridge.tvCommand2}`}*`\n      : `❌ Error ejecutando secuencia: ${stderr || stdout}`;\n    break;\n\n  default: {\n    // tv_command normal\n    if (ok) {\n      const label = LABELS[bridge.tvCommand];\n      if (label) {\n        // Agregar stdout si es info (getVolume, listApps, ping con datos)\n        summary = label + (stdout && stdout.length < 300 && ['getVolume','listApps','ping'].includes(bridge.tvCommand)\n          ? `\\n\\`\\`\\`\\n${stdout}\\n\\`\\`\\`` : '');\n      } else {\n        summary = `✅ *${bridge.tvCommand || bridge.intent || 'Comando ejecutado'}*`\n                + (stdout ? `\\n\\`\\`\\`\\n${stdout.substring(0,400)}\\n\\`\\`\\`` : '');\n      }\n    } else {\n      summary = `❌ Error en *${bridge.tvCommand}*: ${stderr || stdout || 'sin respuesta'}`;\n    }\n  }\n}\n\nreturn [{ json: {\n  ok, summary,\n  action:    bridge.action    || 'tv_command',\n  tvCommand: bridge.tvCommand || '',\n  platform:  'tv',\n  chatId:    bridge.chatId,\n  query:     bridge.query,\n  stdout,\n  stderr,\n  _profile:  bridge._profile\n}}];"
      },
      "id": "76c5a2d5-199d-417d-b3b5-1589dfd4530c",
      "name": "📊 TV Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// ── HORA EN COLOMBIA (UTC-5, sin horario de verano) ──────────\nconst now         = new Date();\nconst colOffset   = -5 * 60; // minutos\nconst utcMs       = now.getTime() + (now.getTimezoneOffset() * 60000);\nconst colDate     = new Date(utcMs + (colOffset * 60000));\n\nconst hour         = colDate.getHours();\nconst minute       = colDate.getMinutes();\nconst totalMinutes = hour * 60 + minute;\nconst timeLabel    = `${String(hour).padStart(2,'0')}:${String(minute).padStart(2,'0')}`;\n\n// ── PLAYLISTS ─────────────────────────────────────────────────\nconst PLAYLISTS = {\n  IMP: {\n    id:          '1FJwXuRGBxDlkXnxYa5rHS',\n    uri:         'spotify:playlist:1FJwXuRGBxDlkXnxYa5rHS',\n    url:         'https://open.spotify.com/playlist/1FJwXuRGBxDlkXnxYa5rHS',\n    name:        'IMP',\n    mood:        'calm / dark academy',\n    description: 'Ambiente tranquilo, introspectivo, dark academia. Ideal para despertar y para la noche.'\n  },\n  MOTIVATION: {\n    id:          '14ZtJ8AZKPlu7BwWLbktnf',\n    uri:         'spotify:playlist:14ZtJ8AZKPlu7BwWLbktnf',\n    url:         'https://open.spotify.com/playlist/14ZtJ8AZKPlu7BwWLbktnf',\n    name:        'Motivation',\n    mood:        'energética / motivacional',\n    description: 'Canciones de motivación y energía para el día productivo.'\n  }\n};\n\n// ── LÓGICA HORARIA (hora Colombia) ───────────────────────────\n// 06:00–08:59 → IMP       (mañana)\n// 09:00–17:59 → MOTIVATION (día)\n// 18:00+      → IMP       (noche)\nlet suggestedPlaylist, timeSlot;\n\nif (totalMinutes >= 360 && totalMinutes < 540) {\n  suggestedPlaylist = PLAYLISTS.IMP;\n  timeSlot          = 'morning';\n} else if (totalMinutes >= 540 && totalMinutes < 1080) {\n  suggestedPlaylist = PLAYLISTS.MOTIVATION;\n  timeSlot          = 'day';\n} else {\n  suggestedPlaylist = PLAYLISTS.IMP;\n  timeSlot          = totalMinutes >= 1080 ? 'evening_night' : 'late_night';\n}\n\n// ── DETECTAR PETICIÓN VAGA ───────────────────────────────────\nconst q = (input.query || input.message || input.text || input.content || '')\n  .toLowerCase().trim();\n\nconst vaguePatterns = [\n  /^(pon|ponme|pon algo|pon música|ponme música|música|play|reproduce algo|ponle|dale|dale play)$/i,\n  /^(algo (bueno|chido|nice|piola)|cualquier cosa|sorpréndeme|tú elige|lo que sea)$/i,\n  /^(musica|music)$/i\n];\nconst isVagueRequest = vaguePatterns.some(p => p.test(q)) || q.length < 8;\n\nconst chatId = String(\n  input.chatId || input.chat_id || input.from || 'default'\n).replace(/@.*/, '');\n\nreturn [{ json: {\n  query:             q,\n  chatId,\n  hour,\n  minute,\n  totalMinutes,\n  timeSlot,\n  isVagueRequest,\n  suggestedPlaylist,\n  allPlaylists:      PLAYLISTS,\n  timeLabel,\n  timezone:          'America/Bogota (UTC-5)',\n  originalInput:     input\n}}];"
      },
      "id": "47448b01-a79c-4d2d-ac62-fd6380d46fed",
      "name": "🕐 Context Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('🕐 Context Builder').first().json;\nconst redisRaw = $input.first().json;\n\nlet longMemory;\ntry {\n  const raw = redisRaw.value ?? redisRaw;\n  longMemory = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  if (!longMemory || !longMemory.created) throw new Error('vacío');\n} catch(e) {\n  longMemory = {\n    created: Date.now(), chatId: ctx.chatId,\n    preferences: { favoriteArtists: [], favoriteGenres: [], dislikedArtists: [], dislikedGenres: [] },\n    playlistHistory: [], notes: ''\n  };\n}\n\nconst systemPrompt = `Eres DJBot, un asistente de música inteligente y personalizado.\nTienes acceso a las siguientes playlists del usuario:\n\n🎵 PLAYLISTS DISPONIBLES:\n1. IMP (dark academia / calma)\n   URI: spotify:playlist:1FJwXuRGBxDlkXnxYa5rHS\n   Uso: 6:00 AM–9:00 AM y desde 6:00 PM en adelante\n   Estilo: Introspectivo, tranquilo, canciones como \"Dear Bruce\" — dark academia\n\n2. Motivation (energética)\n   URI: spotify:playlist:14ZtJ8AZKPlu7BwWLbktnf\n   Uso: 9:00 AM–6:00 PM\n   Estilo: Motivacional, energética, para el día productivo\n\n🕐 HORA ACTUAL: ${ctx.timeLabel} → Slot: ${ctx.timeSlot}\n📌 PLAYLIST SUGERIDA POR HORA: ${ctx.suggestedPlaylist.name} (${ctx.suggestedPlaylist.mood})\n\n🧠 MEMORIA A LARGO PLAZO DEL USUARIO:\n${JSON.stringify(longMemory, null, 2)}\n\nINSTRUCCIONES:\n- Si el usuario pide música de forma vaga (\"pon música\", \"ponme algo\", Openspotify, abre spotify y pon la playlist etc.), usa la playlist sugerida por hora.\n- Si pide algo específico que coincide con el estilo de una playlist, elige esa playlist.\n- Si pide un artista/canción específica que NO está en las playlists, responde con action=search.\n- Usa read_long_memory para consultar preferencias.\n- Usa save_long_memory para guardar preferencias detectadas.\n- SIEMPRE responde en formato JSON estricto:\n{\n  \"action\": \"playlist\" | \"search\",\n  \"playlistUri\": \"spotify:playlist:...\",\n  \"playlistName\": \"nombre\",\n  \"searchQuery\": \"query para buscar (solo si action=search)\",\n  \"reason\": \"explicación breve\",\n  \"message\": \"mensaje amigable para el usuario\"\n}`;\n\nconst userPrompt = `El usuario dijo: \"${ctx.query}\"\nHora: ${ctx.timeLabel} | isVagueRequest: ${ctx.isVagueRequest}\nDecide qué hacer y responde en JSON.`;\n\nreturn [{ json: { ...ctx, longMemory, systemPrompt, userPrompt } }];"
      },
      "id": "bd12406d-e9e7-46dc-92a3-1f1e0143de9a",
      "name": "📋 Prepare Agent Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1984,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet query = '';\nconst candidates = [input.query, input.message, input.text, input.body, input.content];\nfor (const c of candidates) {\n  if (typeof c === 'string' && c.trim().length > 0) { query = c.trim(); break; }\n}\nif (!query) {\n  for (const [k, v] of Object.entries(input)) {\n    if (typeof v === 'string' && v.length > 2 && !['chatId','chat_id','from','pushName','channel','timestamp'].includes(k)) {\n      query = v.trim(); break;\n    }\n  }\n}\nconst chatId = String(input.chatId || input.chat_id || input.from || '').replace(/@.*/, '');\nconst q = query.toLowerCase();\n\nconst hasSpotify = q.includes('spotify');\nconst hasNetflix = q.includes('netflix');\nconst hasYouTube = q.includes('youtube') || q.includes(' yt ') || q.includes('en el tv') || q.includes('en la tele');\n\nconst spotifyControls = {\n  pause: /^(pausa|pause|para la música|para la canción|stop música|detén)$/i.test(q),\n  play: /^(play|continúa|resume|sigue|dale play|reanuda)$/i.test(q),\n  next: /^(siguiente|next|skip|salta|otra canción|pasa)$/i.test(q) || /^(otra|cambia)$/i.test(q),\n  previous: /^(anterior|previous|atrás|la de antes|vuelve)$/i.test(q),\n  volumeUp: /^(sube( el)? volumen|más( volumen)?|volume up|más fuerte)$/i.test(q),\n  volumeDown: /^(baja( el)? volumen|menos( volumen)?|volume down|más bajo|más despacio)$/i.test(q),\n  volumeSet: /^volumen\\s*(\\d+)/i.test(q),\n  shuffle: /^(shuffle|aleatorio|mezcla|random|desordena)$/i.test(q),\n  repeat: /^(repetir?|repeat|loop|en bucle|repite)$/i.test(q),\n  nowPlaying: /^(qué suena|que suena|qué está sonando|que esta sonando|now playing|qué canción es|que cancion es|qué es esto|info)$/i.test(q),\n  like: /^(me gusta|like|guardar?|favorito|love|guárdala)$/i.test(q),\n  queue: /añad(e|ir)\\s+.+\\s+(a la )?cola/i.test(q) || /queue\\s+/i.test(q),\n  seekForward: /adelant(a|ar?)\\s*(\\d+)?\\s*(segundos?|seg|s)?/i.test(q),\n  seekBackward: /retrocede(r)?\\s*(\\d+)?\\s*(segundos?|seg|s)?/i.test(q) || /atrás\\s*(\\d+)?\\s*(segundos?)?/i.test(q)\n};\n\nlet spotifyControlType = null;\nlet spotifyControlValue = null;\n\nfor (const [ctrl, matched] of Object.entries(spotifyControls)) {\n  if (matched) { spotifyControlType = ctrl; break; }\n}\n\nif (spotifyControlType === 'volumeSet') {\n  const match = q.match(/volumen\\s*(\\d+)/i);\n  if (match) spotifyControlValue = parseInt(match[1]);\n}\nif (spotifyControlType === 'seekForward' || spotifyControlType === 'seekBackward') {\n  const match = q.match(/(\\d+)/);\n  spotifyControlValue = match ? parseInt(match[1]) : 15;\n}\nif (spotifyControlType === 'queue') {\n  const match = q.match(/(?:añade?|queue)\\s+(.+?)\\s+(?:a la )?cola/i);\n  if (match) spotifyControlValue = match[1].trim();\n}\n\nconst musicVerbs = ['ponme','pon ','pone','poné','reproduce','play ','quiero escuchar','dame ','échame'];\nconst isMusic = musicVerbs.some(v => q.startsWith(v)) || q.startsWith('música');\n\nlet actionType;\nlet platform;\n\nif (spotifyControlType) {\n  actionType = 'spotify_control'; platform = 'spotify';\n} else if (hasSpotify && isMusic) {\n  actionType = 'spotify_play'; platform = 'spotify';\n} else if (hasSpotify) {\n  actionType = 'spotify_play'; platform = 'spotify';\n} else if (hasNetflix) {\n  actionType = 'other'; platform = 'netflix';\n} else if (hasYouTube || isMusic) {\n  actionType = 'youtube_music'; platform = 'youtube';\n} else {\n  actionType = 'other'; platform = 'tv';\n}\n\nlet songQuery = q;\nconst removeVerbs = ['ponme ','poneme ','pon ','pone ','ponele ','poné ','reproduce ','play ','quiero escuchar ','dame ','échame ','busca ','búscame ','añade ','queue '];\nfor (const v of removeVerbs) {\n  if (songQuery.startsWith(v)) { songQuery = songQuery.substring(v.length); break; }\n}\nconst removeSuffix = [' en spotify',' en el spotify',' de spotify',' en youtube',' en el youtube',' en netflix',' en el tv',' en la tele',' en la televisión',' a la cola'];\nfor (const s of removeSuffix) {\n  if (songQuery.endsWith(s)) { songQuery = songQuery.substring(0, songQuery.length - s.length); break; }\n}\nsongQuery = songQuery.trim();\n\nconst hour = new Date().getHours();\nlet mood = null;\nconst moodMap = [\n  ['relax', ['relaj','tranquil','chill','calm','lofi','lo-fi','peaceful','zen']],\n  ['energy', ['energía','movida','bailar','fiesta','party','workout','entrenar','gym','pump','correr']],\n  ['focus', ['concentr','trabajar','estudiar','focus','productiv','oficina']],\n  ['sleep', ['dormir','sleep','sueño','descansar','nana']],\n  ['happy', ['alegre','feliz','happy','upbeat','vibe','animad']],\n  ['sad', ['triste','sad','melancol','emotional','llorar','despecho']],\n  ['romantic', ['romántic','love','amor','sensual']],\n  ['nostalgic', ['nostalg','retro','80s','90s','oldies','clásic']]\n];\nfor (const [m, patterns] of moodMap) {\n  if (patterns.some(p => q.includes(p))) { mood = m; break; }\n}\nif (!mood) {\n  const hourMoods = ['sleep','sleep','sleep','sleep','sleep','sleep','energy','energy','energy','focus','focus','focus','happy','happy','focus','focus','focus','focus','relax','relax','relax','relax','relax','relax'];\n  mood = hourMoods[hour];\n}\n\nconst isGeneric = ['música','algo','canciones','canción','algo bueno',''].includes(songQuery);\nlet braveQuery = songQuery;\nif (isGeneric) braveQuery = (songQuery || 'music') + ' mix playlist YouTube 2024';\n\n\n// ── PC COMMANDS DETECTION ──────────────────────────────────────────────\nconst pcKeywords = ['en la pc','en el pc','en mi pc','en el computador','en el ordenador',\n  'abre ','abrir ','en windows','la computadora','screenshot','captura','ram','cpu','disco',\n  'apaga el pc','apaga la pc','reinicia','bloquea','suspende','nova','temperatura pc'];\n\nconst isPCCommand = pcKeywords.some(k => q.includes(k)) ||\n  /^(abre|abrir|screenshot|captura|status|ram|cpu|disco|bloquea|suspende|reinicia)\b/.test(q);\n\n// PC command types\nlet pcCommand = null;\nlet pcArgs = [];\n\nif (isPCCommand) {\n  const cleanQ = q.replace(/(en la pc|en el pc|en mi pc|en el computador|en windows)/g,'').trim();\n  \n  if (/abre?\\s+(.+)/i.test(cleanQ)) { pcCommand = 'abrir'; pcArgs = [cleanQ.match(/abre?\\s+(.+)/i)[1]]; }\n  else if (/screenshot|captura/.test(cleanQ)) { pcCommand = 'screenshot'; }\n  else if (/ram|memoria/.test(cleanQ)) { pcCommand = 'ram'; }\n  else if (/cpu|procesador/.test(cleanQ)) { pcCommand = 'cpu'; }\n  else if (/disco|almacenamiento/.test(cleanQ)) { pcCommand = 'disco'; }\n  else if (/apaga/.test(cleanQ)) { pcCommand = 'apagar'; }\n  else if (/reinicia/.test(cleanQ)) { pcCommand = 'reiniciar'; }\n  else if (/bloquea/.test(cleanQ)) { pcCommand = 'bloquear'; }\n  else if (/suspende/.test(cleanQ)) { pcCommand = 'suspender'; }\n  else if (/status|estado/.test(cleanQ)) { pcCommand = 'status'; }\n  else if (/temperatura/.test(cleanQ)) { pcCommand = 'temperatura'; }\n  else { pcCommand = 'status'; } // default\n}\n\nreturn [{ json: {\n  query, chatId, platform, songQuery, braveQuery, isGeneric, mood, hour,\n  actionType, spotifyControlType, spotifyControlValue,\n  isPCCommand, pcCommand, pcArgs,\n  isSpotifyPlay: actionType === 'spotify_play',\n  isSpotifyControl: actionType === 'spotify_control',\n  isYouTubeMusic: actionType === 'youtube_music',\n  isOther: actionType === 'other',\n  originalInput: input\n}}];"
      },
      "id": "81c11b89-3f93-48c2-981f-c73e4b9e5391",
      "name": "📦 Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "pc-check",
              "leftValue": "={{ $json.isPCCommand }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5218f0e-9bcc-41fa-b56d-246451021e76",
      "name": "🔀 ¿Es comando PC?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        192,
        -176
      ]
    },
    {
      "parameters": {
        "jsCode": "const parser = $('📦 Parser').first().json;\nconst cmd = parser.pcCommand;\nconst args = parser.pcArgs || [];\n\n// Map PC commands to PowerShell\nconst NOVA = \". 'C:\\\\Nova_System\\\\Nova.ps1'\";\n\nconst cmdMap = {\n  ram:        `${NOVA}; $os = Get-CimInstance Win32_OperatingSystem; \"RAM libre: \" + [math]::Round($os.FreePhysicalMemory/1MB,1) + \"GB de \" + [math]::Round($os.TotalVisibleMemorySize/1MB,1) + \"GB\"`,\n  cpu:        `${NOVA}; $cpu = Get-CimInstance Win32_Processor; \"CPU: \" + $cpu.Name.Trim() + \" | Carga: \" + $cpu.LoadPercentage + \"%\"`,\n  disco:      `${NOVA}; Get-PSDrive C | ForEach-Object { \"Disco libre: \" + [math]::Round($_.Free/1GB,1) + \"GB de \" + [math]::Round(($_.Free+$_.Used)/1GB,1) + \"GB\" }`,\n  status:     `${NOVA}; $os = Get-CimInstance Win32_OperatingSystem; $cpu = Get-CimInstance Win32_Processor; $ram = [math]::Round($os.FreePhysicalMemory/1MB,1); $total = [math]::Round($os.TotalVisibleMemorySize/1MB,1); $disco = [math]::Round((Get-PSDrive C).Free/1GB,1); \"PC OK | RAM libre: ${ram}GB/${total}GB | CPU: \" + $cpu.LoadPercentage + \"% | Disco libre: ${disco}GB\"`,\n  screenshot: `${NOVA}; nova-screen`,\n  bloquear:   `${NOVA}; nova-lock`,\n  suspender:  `${NOVA}; nova-sleep`,\n  reiniciar:  `${NOVA}; nova-restart`,\n  apagar:     `${NOVA}; apagar-nova`,\n  temperatura: `${NOVA}; Get-CimInstance MSAcpi_ThermalZoneTemperature -Namespace \"root/wmi\" -EA SilentlyContinue | Select-Object -First 1 | ForEach-Object { \"Temperatura: \" + [math]::Round(($_.CurrentTemperature - 2732) / 10, 1) + \"°C\" }`,\n  abrir:      args.length > 0 ? `${NOVA}; Nova-AbrirApp \"${args[0]}\"` : `${NOVA}; nova-status`\n};\n\nconst sshCommand = cmdMap[cmd] || `${NOVA}; nova-status`;\n\nreturn [{ json: {\n  ...parser,\n  pcSSHCommand: sshCommand,\n  pcCommandLabel: cmd\n}}];\n"
      },
      "id": "27207a6a-7791-4106-90be-db1af0064881",
      "name": "🔗 PC Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        256
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.pcSSHCommand }}"
      },
      "id": "3a8243f1-1987-415e-8519-bec1288a58c9",
      "name": "💻 SSH PC Windows",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2320,
        256
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "AbPssz4xMF44PM47",
          "name": "SSH Password account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let sshOut, bridge;\ntry { bridge = $('🔗 PC Bridge').first().json; } catch(e) { bridge = {}; }\ntry { sshOut = $input.first().json; } catch(e) { sshOut = {}; }\n\nconst stdout = (sshOut.stdout || '').trim();\nconst code = sshOut.code ?? sshOut.exitCode ?? 0;\nconst ok = code === 0 && stdout.length > 0;\n\nconst cmdLabels = {\n  ram: '💾 Memoria RAM',\n  cpu: '🖥️ Procesador', \n  disco: '💿 Disco',\n  status: '📊 Estado PC',\n  screenshot: '📸 Captura',\n  bloquear: '🔒 Bloqueado',\n  suspender: '😴 Suspendido',\n  reiniciar: '🔄 Reiniciando',\n  apagar: '⬛ Apagando',\n  temperatura: '🌡️ Temperatura',\n  abrir: '🚀 Abriendo'\n};\n\nconst label = cmdLabels[bridge.pcCommandLabel] || '💻 PC';\nconst output = ok ? `${label}: ${stdout}` : `❌ Error PC: ${sshOut.stderr || 'sin respuesta'}`;\n\nreturn [{ json: {\n  ok,\n  output,\n  action: 'pc_command',\n  platform: 'pc',\n  pcCommand: bridge.pcCommandLabel,\n  chatId: bridge.chatId,\n  query: bridge.query,\n  _profile: bridge._profile\n}}];\n"
      },
      "id": "a73a532f-82d9-4c50-aa82-7a1ff14758c5",
      "name": "📊 PC Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        256
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1760,
        576
      ],
      "id": "b4d68cfc-c46d-48f0-84b4-9e2c457059da",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -48,
        1152
      ],
      "id": "bb99d71e-7e19-402a-801f-db84d595cf70",
      "name": "🔮 Groq TV",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "ponme mi playlist en spotify"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 ¿Es Spotify Play?": {
      "main": [
        [
          {
            "node": "🕐 Context Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏭️ Bypass Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏭️ Bypass Agent": {
      "main": [
        [
          {
            "node": "🔀 ¿Spotify Play?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Direct Playlist?": {
      "main": [
        [
          {
            "node": "🎯 Set Direct URI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎵 Spotify Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Set Direct URI": {
      "main": [
        [
          {
            "node": "⚡ Open Spotify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔴 Redis – Get Long Memory1": {
      "main": [
        [
          {
            "node": "📋 Prepare Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 DJ Agent1": {
      "main": [
        [
          {
            "node": "🧠 Profile Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Redis – Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "🤖 DJ Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "📖 Tool: Read Long Memory1": {
      "ai_tool": [
        [
          {
            "node": "🤖 DJ Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📝 Tool: Save Long Memory1": {
      "ai_tool": [
        [
          {
            "node": "🤖 DJ Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🎵 Tool: Get Playlist Info1": {
      "ai_tool": [
        [
          {
            "node": "🤖 DJ Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Profile Merge2": {
      "main": [
        [
          {
            "node": "🔀 ¿Spotify Play?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Spotify Play?1": {
      "main": [
        [
          {
            "node": "🔀 ¿Direct Playlist?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿Spotify Control?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 Spotify Search1": {
      "main": [
        [
          {
            "node": "🎵 Extract URI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 Extract URI1": {
      "main": [
        [
          {
            "node": "⚡ Open Spotify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Open Spotify1": {
      "main": [
        [
          {
            "node": "📡 Get Devices1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 Get Devices1": {
      "main": [
        [
          {
            "node": "🎯 Find Device1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Find Device1": {
      "main": [
        [
          {
            "node": "▶️ Play Track1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Play Track1": {
      "main": [
        [
          {
            "node": "📊 Play Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Play Result1": {
      "main": [
        [
          {
            "node": "📤 Pre-Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Spotify Control?1": {
      "main": [
        [
          {
            "node": "🎛️ Control Router1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿YouTube?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿YouTube?1": {
      "main": [
        [
          {
            "node": "🌐 Brave Search1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧠 TV Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎛️ Control Router1": {
      "main": [
        [
          {
            "node": "🔀 ¿Needs Current?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Needs Current?1": {
      "main": [
        [
          {
            "node": "🎵 Get Current1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿Queue Search?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 Get Current1": {
      "main": [
        [
          {
            "node": "🔧 Process Current1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Process Current1": {
      "main": [
        [
          {
            "node": "⚡ Execute Control1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Execute Control1": {
      "main": [
        [
          {
            "node": "📊 Control Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Control Result1": {
      "main": [
        [
          {
            "node": "📤 Pre-Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Queue Search?1": {
      "main": [
        [
          {
            "node": "🔍 Queue Search1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ Execute Control1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Queue Search1": {
      "main": [
        [
          {
            "node": "📋 Add to Queue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Add to Queue1": {
      "main": [
        [
          {
            "node": "📊 Queue Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Queue Result1": {
      "main": [
        [
          {
            "node": "📤 Pre-Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Brave Search1": {
      "main": [
        [
          {
            "node": "🔧 Extract videoId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Extract videoId1": {
      "main": [
        [
          {
            "node": "🔀 ¿Video?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Video?1": {
      "main": [
        [
          {
            "node": "⚡ playYoutube1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ searchYoutube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ playYoutube1": {
      "main": [
        [
          {
            "node": "📊 YT Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ searchYoutube1": {
      "main": [
        [
          {
            "node": "📊 YT Result1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 YT Result1": {
      "main": [
        [
          {
            "node": "📤 Pre-Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Pre-Output1": {
      "main": [
        [
          {
            "node": "💾 Save1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Save1": {
      "main": [
        [
          {
            "node": "📤 Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 TV Classifier": {
      "main": [
        [
          {
            "node": "🔗 TV Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📺 ssh_terminal": {
      "ai_tool": [
        [
          {
            "node": "🧠 TV Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📋 get_commands": {
      "ai_tool": [
        [
          {
            "node": "🧠 TV Classifier",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🔗 TV Bridge": {
      "main": [
        [
          {
            "node": "🔀 ¿Skip SSH?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Skip SSH?": {
      "main": [
        [
          {
            "node": "📊 TV Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ SSH TV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ SSH TV": {
      "main": [
        [
          {
            "node": "📊 TV Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 TV Result": {
      "main": [
        [
          {
            "node": "📤 Pre-Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🕐 Context Builder": {
      "main": [
        [
          {
            "node": "🔴 Redis – Get Long Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Prepare Agent Input": {
      "main": [
        [
          {
            "node": "🤖 DJ Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parser": {
      "main": [
        [
          {
            "node": "🔀 ¿Es comando PC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es comando PC?": {
      "main": [
        [
          {
            "node": "🔗 PC Bridge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚦 ¿Es Spotify Play?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 PC Bridge": {
      "main": [
        [
          {
            "node": "💻 SSH PC Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💻 SSH PC Windows": {
      "main": [
        [
          {
            "node": "📊 PC Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 PC Result": {
      "main": [
        [
          {
            "node": "📤 Pre-Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 DJ Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🔮 Groq TV": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 TV Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d5d8f9fd-59eb-42b1-a775-de78d373c14c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "yFS8CEIuomPCYrWY",
  "tags": []
}