home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER MULTIMEDIA/Xus Tv AutoHealing/📺 ssh_terminal.json
{
  "name": "📺 ssh_terminal",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "command"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        480,
        352
      ],
      "id": "bab643af-3666-4ae3-bcc5-3ef8a32e3bf5",
      "name": "Execute a command",
      "credentials": {
        "sshPrivateKey": {
          "id": "nUI3p2ixCCdixd1n",
          "name": "SSH Password account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 📤 SSH Output\nconst r = $input.first().json;\nconst stdout = r.stdout || r.output || '';\nconst stderr = r.stderr || '';\nconst ok = (r.exitCode ?? r.code ?? 0) === 0;\n\nreturn [{ json: {\n  ok,\n  stdout,\n  stderr,\n  output: ok ? stdout : stderr || stdout,\n  exitCode: r.exitCode ?? r.code ?? 0\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        352
      ],
      "id": "8418a283-44f3-4fe4-9b57-2aa4ee7a8075",
      "name": "📤 SSH Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "📤 SSH Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "293f2aa4-bef9-4744-9760-b302b820ed45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "ijeyarh2aVYrhlHP",
  "tags": []
}