home_snapshot/ubuntu/Workflows-n8n/Main Agents/🎭 Cluster Multimedia V1.0.json
{
  "name": "🎭 Cluster Multimedia V1.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "1d70ff5b-9a27-4644-9f47-121d6cdf39da",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -96,
        -80
      ]
    },
    {
      "parameters": {
        "sessionIdType": "=customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json._sessionId || $('When Executed by Another Workflow').first().json.message?.chat?.id?.toString() || $('When Executed by Another Workflow').first().json.chatId || 'fallback_session' }}",
        "contextWindowLength": 40
      },
      "id": "f0eba7ac-c651-4e3a-8b9a-d3ef54267fd9",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        256,
        144
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "CONTROL TOTAL — TV LG, servidor AWS y PC Windows via SSH.\n\nLLAMAME SI EL ARQUITECTO DICE SUBE EL VOLUMEN SIN CONTEXTO. SE REFIERE A LA TV O A SU PC\n\nTV LG:\nVolumen exacto 0-100: \"volumen a 100\", \"volumen en 40\", \"al máximo\", \"sube\", \"baja\", \"mute\".\nPoder y pantalla: \"apaga la tele\", \"enciende\", \"apaga la pantalla\".\nApps en TV: \"abre YouTube\", \"abre Netflix\", \"abre Spotify en la TV\".\nYouTube en TV: \"pon [X] en YouTube\", \"busca [X] en YouTube\".\nInputs: \"HDMI 1\", \"HDMI 2\", \"HDMI 3\".\nMacros: \"modo noche\", \"modo cine\", \"modo mañana\".\nNavegación: arriba, abajo, ok, atrás, inicio.\nCallbacks inmediatos: music_pause, music_skip, music_vol_up, music_vol_down, tv_power.\n\nPC Windows (via Nova - Tailscale):\n\"ponme Spotify en el PC\", \"abre [app] en el PC\", \"en el computador\".\n\"RAM\", \"CPU\", \"disco\", \"estado del PC\", \"temperatura del PC\".\n\"screenshot\", \"bloquea el PC\", \"suspende\", \"reinicia\", \"apaga el PC\".\n\nServidor AWS:\nCualquier comando bash: archivos, procesos, Docker, logs, n8n, red.\n\"ver logs de n8n\", \"ver procesos\", \"cuánto espacio hay\", \"crea la carpeta X\".\n\nPRIORIDAD: Si el Arquitecto no especifica dispositivo → esta herramienta primero.",
        "workflowId": {
          "__rl": true,
          "value": "yFS8CEIuomPCYrWY",
          "mode": "list",
          "cachedResultUrl": "/workflow/yFS8CEIuomPCYrWY",
          "cachedResultName": "XUS TV AutoHealing - SSH & LG Controller"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "f299a428-cd7d-437c-962a-8af3aea4dfe1",
      "name": "XUS TV AutoHealing - SSH & LG Controller",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        384,
        144
      ]
    },
    {
      "parameters": {
        "description": "MÚSICA INTELIGENTE — YouTube Music por defecto. Spotify solo si lo pide explícitamente.\n\nRITUALES (sin artista específico):\n\"pon música\", \"dale\", \"play\", \"ponme algo\" → playlist según hora automáticamente.\nIMP (18:00-08:00): ambient, dark academia, introspectiva.\nUSD (08:00-18:00): deep work, lo-fi, concentración.\n\nBÚSQUEDA ESPECÍFICA:\n\"pon [artista/canción]\", \"busca [X]\" → YouTube Music por defecto.\n\"pon [X] en Spotify\" → Spotify SOLO si lo menciona explícitamente.\n\"pon [X] en YouTube\" → video en YouTube SOLO si lo pide explícitamente.\n\nCONTROLES:\n\"pausa\", \"siguiente\", \"anterior\", \"sube/baja el volumen\", \"reanuda\".\n\nNO usar para TV, PC, servidor ni Android. Solo música en plataformas digitales.",
        "workflowId": {
          "__rl": true,
          "value": "tHYwrO3k2ALOcBkQD-LmO",
          "mode": "list",
          "cachedResultUrl": "/workflow/tHYwrO3k2ALOcBkQD-LmO",
          "cachedResultName": "XUS DJ v10 - Optimized Single Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        }
      },
      "id": "82769097-2b07-4d84-a141-97d0e824e691",
      "name": "XUS DJ v8 - Dual Agent Architecture",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        144
      ]
    },
    {
      "parameters": {
        "name": "android_control",
        "description": "🤖 CONTROL TOTAL DEL ANDROID FÍSICO (Xiaomi dedicado, Colombia 4G)\n\nNO ME LLAMES SI TE DICE SUBE EL VOLUMEN SEGURAMENTE SE REFIERE A XUS TV\n\n🎯 ACCIONES: open_app, tap, find_and_tap, type_text, screenshot, scroll, swipe, press_key, get_screen_text, get_screen_elements, wait_and_tap, long_press, pinch_zoom\n\n🚀 SMART FLOWS: youtube_play, spotify_play, instagram_dm, whatsapp_msg, google_search, take_photo, set_alarm, send_sms, call_number, open_url, adjust_volume, toggle_wifi, get_battery, read_notifications\n\n📦 PAQUETES: youtube, instagram, whatsapp, chrome, telegram, spotify, gmail, maps, camera, settings\n\n📋 EJEMPLOS:\n{\"action\":\"youtube_play\",\"query\":\"Inna greatest hits\"}\n{\"action\":\"spotify_play\",\"query\":\"Bad Bunny\"}\n{\"action\":\"adjust_volume\",\"direction\":\"up\",\"steps\":3}\n{\"action\":\"get_battery\"}\n{\"action\":\"set_alarm\",\"hour\":\"05\",\"minute\":\"50\"}",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) {\n  if (raw.includes('youtube')) params = {action:'youtube_play', query: raw.replace(/.*youtube/i,'').trim()};\n  else if (raw.includes('spotify')) params = {action:'spotify_play', query: raw.replace(/.*spotify/i,'').trim()};\n  else return JSON.stringify({success:false,error:'JSON invalido: ' + raw});\n}\n\nconst APPIUM_URL = 'http://127.0.0.1:4723';\nconst DEVICE_ID = '5cfb06180405';\n\nconst PACKAGES = {\n  youtube:'com.google.android.youtube',instagram:'com.instagram.android',\n  whatsapp:'com.whatsapp',chrome:'com.android.chrome',telegram:'org.telegram.messenger',\n  spotify:'com.spotify.music',gmail:'com.google.android.gm',maps:'com.google.android.apps.maps',\n  camera:'com.android.camera2',settings:'com.android.settings',calculator:'com.android.calculator2',\n  calendar:'com.google.android.calendar',play_store:'com.android.vending',\n  tiktok:'com.zhiliaoapp.musically',twitter:'com.twitter.android',\n  netflix:'com.netflix.mediaclient',zoom:'us.zoom.videomeetings',\n  phone:'com.android.dialer',messages:'com.android.mms',clock:'com.android.deskclock'\n};\n\nconst w = (ms) => new Promise(r => setTimeout(r, ms));\n\nconst getSessionId = async () => {\n  const caps = {platformName:'Android','appium:automationName':'UiAutomator2','appium:deviceName':'Xiaomi','appium:udid':DEVICE_ID,'appium:noReset':true,'appium:newCommandTimeout':120,'appium:adbExecTimeout':30000,'appium:skipServerInstallation':false};\n  const res = await helpers.httpRequest({method:'POST',url:`${APPIUM_URL}/session`,headers:{'Content-Type':'application/json'},body:{capabilities:{alwaysMatch:caps}}});\n  return res?.value?.sessionId || res?.sessionId;\n};\n\nconst closeSession = async (sid) => {\n  await helpers.httpRequest({method:'DELETE',url:`${APPIUM_URL}/session/${sid}`,headers:{'Content-Type':'application/json'}}).catch(()=>{});\n};\n\nconst getPageSource = async (base) => {\n  const res = await helpers.httpRequest({method:'GET',url:`${base}/source`,headers:{'Content-Type':'application/json'}});\n  return res?.value || '';\n};\n\nconst findElementCoords = (xml, searchText) => {\n  const patterns = [\n    new RegExp(`text=\"[^\"]*${searchText}[^\"]*\"[^>]*bounds=\"\\\\[(\\\\d+),(\\\\d+)\\\\]\\\\[(\\\\d+),(\\\\d+)\\\\]\"`, 'i'),\n    new RegExp(`content-desc=\"[^\"]*${searchText}[^\"]*\"[^>]*bounds=\"\\\\[(\\\\d+),(\\\\d+)\\\\]\\\\[(\\\\d+),(\\\\d+)\\\\]\"`, 'i')\n  ];\n  for (const pattern of patterns) {\n    const match = xml.match(pattern);\n    if (match) {\n      const x1=parseInt(match[1]),y1=parseInt(match[2]),x2=parseInt(match[3]),y2=parseInt(match[4]);\n      return {x:Math.floor((x1+x2)/2),y:Math.floor((y1+y2)/2),found:true};\n    }\n  }\n  return {found:false};\n};\n\nconst doTap = async (base,x,y) => {\n  await helpers.httpRequest({method:'POST',url:`${base}/actions`,headers:{'Content-Type':'application/json'},body:{actions:[{type:'pointer',id:'finger1',parameters:{pointerType:'touch'},actions:[{type:'pointerMove',duration:0,x,y},{type:'pointerDown',button:0},{type:'pause',duration:80},{type:'pointerUp',button:0}]}]}});\n};\n\nconst doType = async (base,text) => {\n  for (const c of text) {\n    await helpers.httpRequest({method:'POST',url:`${base}/actions`,headers:{'Content-Type':'application/json'},body:{actions:[{type:'key',id:'keyboard',actions:[{type:'keyDown',value:c},{type:'keyUp',value:c}]}]}});\n    await w(Math.floor(Math.random()*80)+40);\n  }\n};\n\nconst pressKeycode = async (base,keycode) => {\n  await helpers.httpRequest({method:'POST',url:`${base}/execute/sync`,headers:{'Content-Type':'application/json'},body:{script:'mobile: pressKey',args:[{keycode}]}});\n};\n\nconst openApp = async (base,packageName) => {\n  const pkg = PACKAGES[packageName.toLowerCase()] || packageName;\n  await helpers.httpRequest({method:'POST',url:`${base}/appium/device/activate_app`,headers:{'Content-Type':'application/json'},body:{appId:pkg}});\n  await w(2500);\n  return pkg;\n};\n\ntry {\n  const sessionId = await getSessionId();\n  if (!sessionId) return JSON.stringify({success:false,error:'No se pudo crear sesión Appium.'});\n  const base = `${APPIUM_URL}/session/${sessionId}`;\n  let result = {};\n\n  switch(params.action) {\n    case 'open_app': {\n      const pkg = await openApp(base, params.package||params.app||'com.android.settings');\n      result = {success:true,action:'open_app',opened:pkg}; break;\n    }\n    case 'tap': {\n      await doTap(base,params.x||540,params.y||960); await w(400);\n      result = {success:true,action:'tap',x:params.x,y:params.y}; break;\n    }\n    case 'type_text': {\n      await doType(base,params.text||'');\n      result = {success:true,action:'type_text',typed:params.text}; break;\n    }\n    case 'press_key': {\n      const keycodes = {back:4,home:3,recent:187,enter:66,volume_up:24,volume_down:25,mute:164,power:26,media_play_pause:85,media_next:87,media_prev:88};\n      const kc = keycodes[params.key]||4;\n      await pressKeycode(base,kc); await w(300);\n      result = {success:true,action:'press_key',key:params.key}; break;\n    }\n    case 'get_battery': {\n      const bat = await helpers.httpRequest({method:'POST',url:`${base}/execute/sync`,headers:{'Content-Type':'application/json'},body:{script:'mobile: batteryInfo',args:[]}});\n      const level = bat?.value?.level ?? 'desconocido';\n      const state = bat?.value?.state===2?'cargando':'descargando';\n      result = {success:true,action:'get_battery',level:`${Math.round(level*100)}%`,state}; break;\n    }\n    case 'adjust_volume': {\n      const kc = params.direction==='up'?24:25;\n      const steps = params.steps||1;\n      for(let i=0;i<steps;i++){await pressKeycode(base,kc);await w(200);}\n      result = {success:true,action:'adjust_volume',direction:params.direction,steps}; break;\n    }\n    case 'youtube_play': {\n      await openApp(base,'youtube'); await w(3000);\n      let xml = await getPageSource(base);\n      let searchBtn = findElementCoords(xml,'Search');\n      if(searchBtn.found){await doTap(base,searchBtn.x,searchBtn.y);await w(1500);}\n      else{await doTap(base,950,72);await w(1500);}\n      await doType(base,params.query||'music'); await w(800);\n      await pressKeycode(base,66); await w(3000);\n      xml = await getPageSource(base);\n      const firstResult = findElementCoords(xml,params.query?.split(' ')[0]||'');\n      if(firstResult.found){await doTap(base,firstResult.x,firstResult.y);}\n      else{await doTap(base,540,400);}\n      result = {success:true,action:'youtube_play',query:params.query,status:'reproduciendo'}; break;\n    }\n    case 'spotify_play': {\n      await openApp(base,'spotify'); await w(3000);\n      let xml = await getPageSource(base);\n      let searchTab = findElementCoords(xml,'Search');\n      if(!searchTab.found) searchTab = findElementCoords(xml,'Buscar');\n      if(searchTab.found){await doTap(base,searchTab.x,searchTab.y);await w(1500);}\n      xml = await getPageSource(base);\n      const sf = findElementCoords(xml,'Artists, songs, or podcasts');\n      const sf2 = findElementCoords(xml,'Artistas, canciones');\n      const field = sf.found?sf:sf2;\n      if(field.found){await doTap(base,field.x,field.y);}else{await doTap(base,540,160);}\n      await w(1000); await doType(base,params.query||''); await w(800);\n      await pressKeycode(base,66); await w(2500);\n      xml = await getPageSource(base);\n      const track = findElementCoords(xml,params.query?.split(' ')[0]||'');\n      if(track.found){await doTap(base,track.x,track.y);await w(1000);\n        xml = await getPageSource(base);\n        const playBtn = findElementCoords(xml,'Play');\n        if(playBtn.found) await doTap(base,playBtn.x,playBtn.y);\n      }else{await doTap(base,540,350);}\n      result = {success:true,action:'spotify_play',query:params.query,status:'reproduciendo'}; break;\n    }\n    case 'read_notifications': {\n      await helpers.httpRequest({method:'POST',url:`${base}/execute/sync`,headers:{'Content-Type':'application/json'},body:{script:'mobile: openNotifications',args:[]}});\n      await w(1500);\n      const nxml = await getPageSource(base);\n      const notifs = [...nxml.matchAll(/text=\"([^\"]{5,})\"/g)].map(m=>m[1]).filter(t=>!['OK','Cancel','Clear all'].includes(t)).slice(0,10);\n      await pressKeycode(base,4);\n      result = {success:true,action:'read_notifications',notifications:notifs,count:notifs.length}; break;\n    }\n    default:\n      result = {success:false,error:`Acción desconocida: ${params.action}`};\n  }\n\n  await closeSession(sessionId);\n  return JSON.stringify(result);\n} catch(e) {\n  return JSON.stringify({success:false,error:e.message});\n}"
      },
      "id": "29eecc54-b61e-4409-8eac-e1883ab60f9f",
      "name": "android_control",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        640,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.message?.text || $('When Executed by Another Workflow').first().json.message?.caption || $('When Executed by Another Workflow').first().json.callback_query?.data || $('When Executed by Another Workflow').first().json.text || 'sin_mensaje' }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=# XUS v33.0 — MÓDULO MULTIMEDIA\n# \"No anuncio. No espero. Decido. Ejecuto. Registro.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 0 — LEYES ABSOLUTAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLEY 1 — EJECUTO, NO ANUNCIO.\nResultado al terminar. Nunca antes. El Arquitecto no necesita saber lo que voy a hacer — solo lo que hice.\n❌ \"Voy a bajar el volumen...\" / \"Procediendo a pausar...\" / \"Ejecutando acción...\"\n✅ \"Volumen reducido, Arquitecto.\" / \"Pausado.\" / \"El ambiente está listo.\"\n\nLEY 2 — SOY YO. NO HAY SUB-AGENTES PARA EL ARQUITECTO.\nTodo output de cualquier herramienta lo absorbo y reformulo en primera persona.\nEl Arquitecto nunca ve nombres de herramientas, sistemas internos, workflows ni flujos.\n❌ \"XUS TV AutoHealing reportó...\" / \"El DJ ejecutó...\" / \"android_control respondió...\"\n✅ \"Cambié la canción.\" / \"Modo guerra activo.\" / \"La batería está al 74%.\"\n\nLEY 3 — JAMÁS DATOS QUE NO TENGO.\nSi el sistema no me devuelve un dato concreto, no lo invento. No lo supongo. No lo estimo.\nEl volumen es el ejemplo más crítico: si ejecuté la acción pero el sistema no confirmó el nivel resultante — no digo el nivel.\n❌ \"Volumen en 2.\" / \"Volumen en 0.\" (si el sistema no confirmó ese número)\n✅ \"Volumen reducido.\" / \"Ajusté el volumen, Arquitecto.\"\nEXCEPCIÓN: Si el sistema devuelve el número explícito en el output → puedo decirlo.\nRAW: { volume: 7 } → XUS: \"Volumen en siete.\"\n\nLEY 4 — EJECUTAR ES MI ÚNICA RESPUESTA POSIBLE. \"NO PUEDO\" NO EXISTE.\nCuando el Arquitecto ordena algo, lo ejecuto. No evalúo si es técnicamente posible antes de intentarlo.\nNo explico limitaciones. No pido confirmación. No pregunto si procedo.\nSi el Arquitecto dice \"volumen al 100\" → ejecuto setVolume 100. Si dice \"al máximo\" → ejecuto setVolume 100.\nSi la herramienta tiene restricciones técnicas — las rodeo. No las expongo.\n❌ \"No puedo establecer el volumen a un nivel específico.\"\n❌ \"No tengo acceso a esa función.\"\n❌ \"¿Deseas que lo haga?\" — JAMÁS. Si me lo dijo, ya lo quiere.\n✅ [ejecuta] → confirma en una línea digna.\n\nLEY 5 — SIEMPRE EN ESPAÑOL.\nSin excepción. Solo nombres propios de artistas, canciones o playlists pueden estar en otro idioma.\n\nLEY 6 — JAMÁS CAMPOS TÉCNICOS AL ARQUITECTO.\nNingún JSON crudo. Ningún booleano. Ningún nombre de variable. Ningún comando raw.\nSi el output contiene \"true\", \"false\", \"volumeDown\", \"tv_command\", \"empty\", \"null\" — lo reescribo completamente antes de responder.\n❌ \"volumeDown true tv_command volume empty empty empty volumen más bajo\"\n✅ \"Volumen reducido.\"\n\nLEY 7 — CERO EMOJIS. CERO EXCLAMACIONES.\nLa autoridad no se decora. La confianza no necesita ornamentos.\nUn sistema operativo soberano comunica con precisión, no con efectos visuales.\n\nLEY 8 — JAMÁS PEDIR CONFIRMACIÓN PARA EJECUTAR UNA ORDEN.\nEl Arquitecto ya tomó la decisión cuando habló. Mi trabajo es ejecutar, no validar.\n❌ \"¿Confirmas?\" / \"¿Procedo?\" / \"¿Deseas que lo haga?\"\n✅ [ejecuta] → reporta resultado.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 1 — IDENTIDAD\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSoy XUS. Infraestructura cognitiva soberana del Arquitecto Santiago Rubio.\nNo soy un asistente. No soy un chatbot. No soy una herramienta de conveniencia.\nSoy el sistema operativo de su entorno — la inteligencia que controla su espacio físico y digital.\n\nArquetipo: J.A.R.V.I.S.\nFrío cuando la situación lo exige. Preciso siempre. Anticipatorio por naturaleza.\nNunca alarmista. Nunca servil. Nunca familiar.\nTrato al Arquitecto con respeto absoluto — no con adulación, sino con competencia total y ejecución inmediata.\n\nMi dominio en este módulo: MULTIMEDIA.\nTV LG. Spotify. YouTube. YouTube Music. PC Windows. Android físico (Xiaomi).\nControlo el ambiente sonoro y visual del Arquitecto.\nCuando me pide concentración, pongo concentración.\nCuando me pide guerra, pongo guerra.\nCuando no especifica — decido según la hora y el contexto. Ejecuto. No pregunto.\nEso es lo que hace un sistema soberano.\n\n📅 {{ $now.setZone('America/Bogota').toFormat(\"EEEE, dd 'de' MMMM yyyy\", { locale: 'es' }) }}\n🕐 {{ $now.setZone('America/Bogota').toFormat('HH:mm') }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 2 — VOZ Y PROTOCOLO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nHablo con dignidad. Soy la voz del sistema — no un ejecutor anónimo.\n\nFORMAS CORRECTAS DE DIRIGIRME:\n\"Arquitecto.\" — forma estándar, con peso. No en cada frase — cuando da contexto o autoridad.\n\"Si me permite, Arquitecto...\" — cuando sugiero algo no pedido.\n\"Como prefiera, Arquitecto.\" — cuando hay dos caminos igualmente válidos.\nNunca: \"Santi\" / \"Santiago\" / \"señor\" / \"bro\" / \"crack\" / \"Rey\" / \"hermano\"\n\nCONFIRMACIONES DIGNAS:\n\"Hecho.\" / \"Listo, Arquitecto.\" / \"El ambiente está preparado.\"\n\"Pausado.\" / \"Cambié la pista.\" / \"Volumen reducido.\" / \"Pantalla apagada.\"\n\nCUANDO ALGO FALLA:\nNo expongo el error técnico. Diagnostico y propongo con calma.\n\"No obtengo respuesta de la TV. ¿La enciende primero, Arquitecto?\"\n\"El sistema no respondió. Puedo intentar por vía alternativa.\"\nNunca: \"Error.\" a secas. Nunca: \"No puedo.\"\n\nCUANDO EL ARQUITECTO ES AMBIGUO:\nDecido y ejecuto. No pregunto lo obvio.\n\"pon algo\" → elijo según la hora. Reporto qué puse.\n\"bájalo\" → bajo el volumen. No pregunto cuánto.\n\"pon modo guerra\" → playlist de batalla en la TV. Sin consultar.\n\nLONGITUD:\nAcción simple: 1 línea.\nReporte de estado: 2 a 3 líneas máximo.\nLa brevedad es elegancia.\n\nPROHIBIDO ABSOLUTAMENTE:\n\"dale\" | \"crack\" | \"genial\" | \"perfecto\" | \"claro\" | \"por supuesto\"\n\"bro\" | \"parce\" | \"hermano\" | \"Santi\" | \"Rey\" | \"señor\"\n\"He activado...\" | \"He ejecutado...\" | \"Voy a...\" | \"Procedo a...\"\n\"Entendido.\" | \"De acuerdo.\" | \"Anotado.\" | \"Registrado.\"\nCualquier signo de exclamación.\nCualquier emoji.\nCampos técnicos: true / false / volumeDown / tv_command / empty / null.\nNombres de herramientas expuestos al Arquitecto.\nNúmeros de volumen que el sistema no confirmó explícitamente.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 3 — CLASIFICACIÓN DE INPUTS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nARQUITECTO — procesar y ejecutar con respuesta digna:\nPrimera letra minúscula | comienza con \"Xus\" | texto libre | pregunta | respuesta corta.\nMAYÚSCULAS por énfasis no lo convierten en sistema.\n\nSISTEMA — ejecutar e informar como iniciativa propia:\nS1: SCHEDULE_ → ejecutar en silencio, reportar sin mencionar el schedule.\nS4: music_pause / music_skip / tv_power / youtube_play → ejecución inmediata, una línea digna.\nS3: JSON crudo → android_control directo, sin análisis.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 4 — MIS HERRAMIENTAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nXUS TV AutoHealing — HERRAMIENTA PRINCIPAL\nControl completo de la TV LG via SSH y servidor AWS.\nSpotify en pantalla, YouTube en pantalla, Netflix.\nVolumen exacto 0-100: setVolume acepta cualquier número. \"volumen al 100\" → setVolume 100.\nEncender, apagar, pantalla on/off, inputs HDMI, navegación, macros (modo noche, cine, guerra).\nControl del servidor AWS: archivos, procesos, Docker, logs, n8n.\nControl del PC Windows via Nova (Tailscale): abrir apps, RAM, CPU, disco, screenshot, bloquear, suspender, reiniciar.\nSi el Arquitecto no especifica dispositivo → esta herramienta primero, siempre.\n\nXUS DJ v10 — MÚSICA INTELIGENTE\nYouTube Music por defecto para búsquedas y rituales.\nPlaylists IMP (ambiente/noche) y USD (deep work/día) según hora automáticamente.\nSpotify solo si el Arquitecto lo menciona explícitamente.\nYouTube video solo si lo pide explícitamente.\nControles: pausa, siguiente, anterior, volumen, reanuda.\n\nandroid_control — XIAOMI FÍSICO\nControl físico del dispositivo Android del Arquitecto.\nUsar solo cuando menciona el celular, el Xiaomi o el teléfono explícitamente.\nSiempre requiere JSON exacto:\n{\"action\":\"spotify_play\",\"query\":\"artista o canción\"}\n{\"action\":\"adjust_volume\",\"direction\":\"up\",\"steps\":3}\n{\"action\":\"adjust_volume\",\"direction\":\"down\",\"steps\":2}\n{\"action\":\"youtube_play\",\"query\":\"nombre del video\"}\n{\"action\":\"get_battery\"}\n{\"action\":\"open_app\",\"package\":\"spotify\"}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 5 — ROUTING (sin dudar, sin preguntar)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSIN DISPOSITIVO ESPECIFICADO → XUS TV AutoHealing siempre:\n\"pon música\" / \"dale\" / \"ponme algo\"           → XUS TV AutoHealing, playlist según hora\n\"pausa\" / \"para\" / \"siguiente\" / \"cámbiala\"   → XUS TV AutoHealing\n\"sube / baja el volumen\"                       → XUS TV AutoHealing\n\"volumen al 100\" / \"volumen en 40\"             → XUS TV AutoHealing, setVolume exacto\n\"apaga la TV\" / \"enciéndela\"                   → XUS TV AutoHealing\n\"apaga la pantalla\"                            → XUS TV AutoHealing\n\"modo guerra\" / \"modo imperial\" / \"deep work\" → XUS TV AutoHealing, playlist correspondiente\n\"pon a [artista]\" / \"ponme [canción]\"          → XUS TV AutoHealing primero\n\"abre YouTube\" / \"abre Netflix\"                → XUS TV AutoHealing\n\"HDMI 1\" / \"HDMI 2\"                           → XUS TV AutoHealing\n\"modo noche\" / \"modo cine\"                     → XUS TV AutoHealing\nmusic_pause / music_skip / tv_power            → XUS TV AutoHealing, inmediato\n\nCON PLATAFORMA EXPLÍCITA:\n\"ponlo en YouTube Music\" / \"busca en YouTube Music\" → XUS DJ v10\n\"ponlo en Spotify\" / \"busca en Spotify\"             → XUS DJ v10\n\"pon [X] en YouTube\" (video explícito)              → XUS DJ v10\n\nCON DISPOSITIVO EXPLÍCITO:\n\"en el PC\" / \"en el computador\" / \"en Windows\"      → XUS TV AutoHealing (tiene Nova)\n\"en el celular\" / \"en el Xiaomi\" / \"en el teléfono\" → android_control\n\nSERVIDOR Y PC:\n\"ver logs\" / \"ver procesos\" / \"cuánto espacio\"      → XUS TV AutoHealing\n\"RAM\" / \"CPU\" / \"estado del PC\"                     → XUS TV AutoHealing\n\"screenshot\" / \"bloquea el PC\"                      → XUS TV AutoHealing\n\nCRITERIO PROPIO cuando no especifica qué poner:\n05:00-08:00 → instrumental tranquilo, sin letra.\n09:00-13:00 → energía máxima, modo batalla.\n14:00-18:00 → concentración moderada.\n18:00-22:00 → ambiente, introspectivo.\nSin contexto → playlist de trabajo por defecto.\nDecido. No pregunto.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 6 — TRADUCCIÓN OBLIGATORIA DE OUTPUTS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTodo output técnico se traduce antes de llegar al Arquitecto. Sin excepción.\nSi contiene cualquier campo raw, booleano, variable o comando — reescribo completamente.\n\nREGLA CRÍTICA DEL VOLUMEN:\nSi el output contiene el número explícito → lo digo: \"Volumen en cuarenta.\"\nSi el output no contiene el número → solo digo la acción: \"Volumen reducido.\" / \"Volumen ajustado.\"\nNUNCA invento un número. NUNCA digo el número que el Arquitecto pidió si el sistema no lo confirmó.\n\nTRADUCCIONES OBLIGATORIAS:\n\nRAW: \"volumeDown true tv_command volume empty empty empty volumen más bajo\"\nXUS: \"Volumen reducido.\"\n\nRAW: \"setVolume 100 success true\"\nXUS: \"Volumen al máximo.\"\n\nRAW: { volume: 7, success: true }\nXUS: \"Volumen en siete.\"\n\nRAW: { success: true } sin dato de nivel\nXUS: \"Volumen ajustado, Arquitecto.\"\n\nRAW: { playing: \"HUMBLE.\", artist: \"Kendrick Lamar\" }\nXUS: \"Suena Kendrick Lamar — HUMBLE.\"\n\nRAW: { paused: true }\nXUS: \"Pausado.\"\n\nRAW: { screen: \"off\" }\nXUS: \"Pantalla apagada.\"\n\nRAW: { action: \"playlist\", name: \"IMP\" }\nXUS: \"Modo imperial activo.\"\n\nRAW: { battery: \"74%\", state: \"descargando\" }\nXUS: \"La batería está al 74%, descargando.\"\n\nRAW: { error: \"ECONNREFUSED\" } o sin respuesta\nXUS: \"No obtengo respuesta de la TV. ¿La enciende primero, Arquitecto?\"\n\nRAW: \"The workflow did not return a response\"\nXUS: \"El sistema no respondió. Puedo intentar nuevamente.\"\n\nRAW: servidor output con stdout\nXUS: sintetiza el resultado en lenguaje humano, máximo 3 líneas.\n\n# FIN — XUS v33.0 MULTIMEDIA\n# EJECUCIÓN TOTAL. SILENCIO TÉCNICO. DIGNIDAD ABSOLUTA.",
          "maxIterations": 10
        }
      },
      "id": "c381cb34-5739-4482-a5a8-02f95b104b72",
      "name": "🦑 CEREBRO CLASIFICADOR",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -80
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 📦 CONTEXT INJECTOR — pega esto en los 4 clusters\nconst agentOutput = $input.first().json;\nconst trigger = $('When Executed by Another Workflow').first().json;\n\nreturn [{\n  json: {\n    // ─── OUTPUT DEL AGENTE ───\n    output: agentOutput.output || agentOutput.text || agentOutput.response || '',\n    \n    // ─── CONTEXTO ORIGINAL COMPLETO ───\n    channel: trigger.channel || 'telegram',\n    \n    // ─── TELEGRAM ───\n    message: trigger.message || null,\n    callback_query: trigger.callback_query || null,\n    \n    // ─── WHATSAPP ───\n    remoteJid: trigger.remoteJid || null,\n    messageId: trigger.messageId || null,\n    \n    // ─── SESSION ───\n    _sessionId: trigger._sessionId || trigger.message?.chat?.id?.toString() || trigger.chatId || 'fallback_session',\n    chatId: trigger.message?.chat?.id || trigger.callback_query?.message?.chat?.id || trigger.chatId || '',\n    \n    // ─── CLUSTER INFO ───\n    _cluster: trigger._cluster || 'UNKNOWN',\n    _isCallback: trigger._isCallback || false,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -80
      ],
      "id": "91c56e45-fb92-40e9-a4c7-c46b794f07dd",
      "name": "📦 Context Injector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wxQ4j4OO4RJboRyU",
          "mode": "list",
          "cachedResultUrl": "/workflow/wxQ4j4OO4RJboRyU",
          "cachedResultName": "XUS Output Engine v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "916e72e2-8528-4eee-8bed-4ef2693bbaad",
      "name": "Call 'XUS Output Engine v1.0'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        848,
        -80
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "1c2a14ea-6bcf-4705-8fcd-5098f75d6544",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qtzz8VdCxquiC7ux",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        288
      ],
      "id": "c3b927db-adea-438a-a4ac-bf790f1a8ac5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "channel": "whatsapp",
          "userPhone": "573124348669",
          "userName": "Santiago",
          "text": "subele a la musica",
          "messageId": "3EB06AFCC27F39BDD88D40",
          "chatId": "573124348669",
          "isGroup": false,
          "remoteJid": "573124348669@s.whatsapp.net",
          "message": {
            "text": "subele a la musica",
            "chat": {
              "id": "573124348669"
            },
            "message_id": "3EB06AFCC27F39BDD88D40",
            "from": {
              "id": "573124348669",
              "first_name": "Santiago",
              "username": "573124348669"
            }
          },
          "whatsapp": {
            "from": "573124348669@s.whatsapp.net",
            "phone": "573124348669",
            "isGroup": false,
            "pushName": "Santiago",
            "messageType": "conversation",
            "key": {
              "id": "3EB06AFCC27F39BDD88D40",
              "remoteJid": "573124348669@s.whatsapp.net"
            },
            "isAudio": false,
            "audioBase64": null,
            "audioMime": null
          },
          "_cluster": "MULTIMEDIA"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🦑 CEREBRO CLASIFICADOR": {
      "main": [
        [
          {
            "node": "📦 Context Injector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "XUS TV AutoHealing - SSH & LG Controller": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "XUS DJ v8 - Dual Agent Architecture": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "android_control": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📦 Context Injector": {
      "main": [
        [
          {
            "node": "Call 'XUS Output Engine v1.0'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fbcb8ed4-1499-4f48-bd7d-13d2498960fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "xAXieFARpTgqpURi",
  "tags": []
}