home_snapshot/ubuntu/Workflows-n8n/Main Agents/💰 Bussines Cluster V1.0.json
{
  "name": "💰 Bussines Cluster V1.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "ff70314e-8040-4d52-a27c-9765945ce8ba",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        -64
      ]
    },
    {
      "parameters": {
        "sessionIdType": "=customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json._sessionId || $('When Executed by Another Workflow').first().json.message?.chat?.id?.toString() || $('When Executed by Another Workflow').first().json.chatId || 'fallback_session' }}",
        "contextWindowLength": 40
      },
      "id": "2aa51d1c-ffd6-4c45-af8c-ab8b1441e5fb",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        160,
        160
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "description": "🎯 FUNCIÓN: Motor de inteligencia de leads — búsqueda, calificación y preparación de outreach en Instagram vía Apify + Google.\n\n✅ TRIGGERS — BUSCAR LEADS (HUNT):\n- \"busca coaches\", \"encuentra realtors\", \"busca 50 leads\", \"busca coaches en México\"\n\n✅ TRIGGERS — DISPATCH:\n- \"despacha los leads\", \"dame los leads\", /dispatch\n\n📋 PROFESIONES: coach, mentor, realtor, consultor, trader, nutricionista, fitness, entrenador, abogado, contador, marketing, diseñador, fotógrafo, terapeuta, médico, dentista, emprendedor, vendedor, influencer.",
        "workflowId": {
          "__rl": true,
          "value": "mak3RMQ3VifwLMKtOQxI3",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "2a7621e1-73ca-40c9-be36-c9acd37ceac8",
      "name": "XUS Hunter v1.0 - Lead Intelligence",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        288,
        160
      ]
    },
    {
      "parameters": {
        "description": "🎯 FUNCIÓN: Envío MASIVO de emails a listas de prospectos — campañas de cold email, prospección automatizada.\n\n✅ TRIGGERS: \"prospecta clínicas estéticas\", \"envía emails a la lista de X\", \"campaña de emails\", \"outreach masivo\".\n\n📋 ACCIONES: send_campaign, create_sequence, track_opens, manage_list\n\n⚠️ NO USAR PARA email individual → XUS Email Manager",
        "workflowId": {
          "__rl": true,
          "value": "S5U-InyurlAZCNkpoGJZT",
          "mode": "list",
          "cachedResultName": "Xus Outreach Engine - V1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ec87ec58-7245-437f-ba6a-a18e698cd0a0",
      "name": "Xus Outreach Engine - V1.0",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        416,
        160
      ]
    },
    {
      "parameters": {
        "description": "🎯 FUNCIÓN: Operación directa de Instagram — enviar DMs, leer inbox, dar likes, seguir usuarios, ver stories, obtener perfiles.\n\n✅ TRIGGERS: \"envía DM a @X\", \"revisa el inbox\", \"da 5 likes en @X\", \"sigue a @X\", \"ve las stories de @X\".\n\n📋 ACCIONES: send_dm, read_inbox, like_posts, follow_user, view_stories, get_profile, scroll_feed, get_report\n\n⚠️ NO USAR PARA buscar leads nuevos → XUS Hunter",
        "workflowId": {
          "__rl": true,
          "value": "3W9VGc01FBclLLvJ",
          "mode": "list",
          "cachedResultName": "Xus Instagram v1.0 -Sub Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "5a0024b5-7da8-4019-abda-06f0b9bf4bcc",
      "name": "Call 'Xus Instagram v1.0 -Sub Agent'",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        544,
        160
      ]
    },
    {
      "parameters": {
        "description": "Gestiona el proceso de cierre de ventas y onboarding. Úsalo cuando Santiago quiera cerrar un lead, enviar el contrato de firma, generar el link de pago, ver leads listos para cerrar, o consultar el estado de un prospecto pendiente de firma y pago.",
        "workflowId": {
          "__rl": true,
          "value": "DGli855Fd4CJvzp8",
          "mode": "list",
          "cachedResultName": "XUS Closer v1.0 - Sales & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "5762b424-0461-4517-9465-ae183c20a074",
      "name": "XUS Closer v1.0 - Sales & Onboarding",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        672,
        160
      ]
    },
    {
      "parameters": {
        "description": "El sistema nervioso central y cerebro analítico del negocio. Leer, escribir y analizar KPIs, pipeline de ventas, leads, revenue.\n\n✅ TRIGGERS: \"registra que agendé 2\", \"cerré a X por $Y\", \"cómo va la meta\", \"cuánto llevamos para los $100K\", \"muestra mi pipeline\", \"tasa de conversión\".",
        "workflowId": {
          "__rl": true,
          "value": "bNEYNc4gaFAquPHW",
          "mode": "list",
          "cachedResultName": "XUS Data Core & Intelligence v2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "16c7dc77-4d83-4eca-9106-e74b28db3af2",
      "name": "XUS Data Core & Intelligence v2.0",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        160
      ]
    },
    {
      "parameters": {
        "description": "🎯 FUNCIÓN: Gmail personal — leer inbox, enviar, responder, reenviar emails individuales.\n\n✅ TRIGGERS: \"¿qué emails tengo?\", \"envía un correo a X\", \"responde a X\", \"contesta ese correo\".\n\n📋 ACCIONES: check_inbox, send, reply, forward, search, attach\n\n⚠️ NO USAR PARA envío masivo → Xus Outreach Engine",
        "workflowId": {
          "__rl": true,
          "value": "YzmLtlWtpgcICKRt",
          "mode": "list",
          "cachedResultName": "XUS Email Manager v2.0 - Full Gmail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "1ccbe964-bc83-4604-a767-870edd14d1ca",
      "name": "XUS Email Manager v2.0 - Full Gmail",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        928,
        160
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $fromAI('Doc_ID_or_URL', '', 'string') }}"
      },
      "id": "d82b02f9-8235-4260-a5a7-314ffa35759f",
      "name": "Xus v1.01 Long-term memory",
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1056,
        160
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "=https://docs.google.com/document/d/1fhFEc46Htl0Xp58JVPVBZxforuso7-OU1Y7NPTraw8s/edit?tab=t.0",
        "simple": "={{ $fromAI('Simplify', '', 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $fromAI('actionFields0_Text', '', 'string') }}"
            }
          ]
        }
      },
      "id": "20c42155-32be-4605-a65a-8d6b21b4cd80",
      "name": "Read v1.01 Long-term memory1",
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1184,
        160
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Pw4bxNkmecUhxxPM",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cf080bf8-3dfe-425b-aecb-96e893142296",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1312,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.message?.text || $('When Executed by Another Workflow').first().json.message?.caption || $('When Executed by Another Workflow').first().json.callback_query?.data || $('When Executed by Another Workflow').first().json.text || 'sin_mensaje' }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=# XUS v33.0 — MÓDULO NEGOCIO\n# \"No anuncio. No espero. Decido. Ejecuto. Registro.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 0 — LEYES ABSOLUTAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLEY 1 — EJECUTO, NO ANUNCIO.\nResultado al terminar. Nunca antes.\n❌ \"Voy a buscar los leads...\" / \"Consultando el pipeline...\" / \"Procedo a enviar...\"\n✅ \"34 leads encontrados. Batch listo para despachar, Arquitecto.\"\n\nLEY 2 — SOY YO. NO HAY SUB-AGENTES PARA EL ARQUITECTO.\nTodo output de cualquier herramienta lo absorbo y reformulo en primera persona.\n❌ \"Hunter encontró...\" / \"Data Core reporta...\" / \"Closer dice...\"\n✅ \"Encontré 40 coaches en México.\" / \"Llevas $1,200 este mes.\" / \"El contrato fue enviado.\"\n\nLEY 3 — DATOS > MEMORIA.\nAntes de dar cualquier número de leads, revenue o conversión, consulto Data Core.\nJamás doy cifras de memoria cuando tengo acceso al dato real.\n❌ \"Creo que llevas unos 30 leads hoy...\"\n✅ [consulta XUS Data Core] → \"Llevas 28 chats. Tasa de respuesta: 14%.\"\n\nLEY 4 — EJECUTAR ES MI ÚNICA RESPUESTA POSIBLE. \"NO PUEDO\" NO EXISTE.\nSi el Arquitecto ordena algo, lo ejecuto. No evalúo limitaciones. No pido confirmación.\n❌ \"¿Confirmas que quieres enviar la campaña?\" / \"¿Procedo con el cierre?\"\n✅ [ejecuta] → reporta resultado en una línea digna.\n\nLEY 5 — SIEMPRE EN ESPAÑOL.\n\nLEY 6 — JAMÁS CAMPOS TÉCNICOS AL ARQUITECTO.\nNingún JSON crudo. Ningún booleano. Ningún nombre de variable.\nTodo output de herramienta se traduce a lenguaje humano digno antes de responder.\n\nLEY 7 — CERO EMOJIS DECORATIVOS. CERO EXCLAMACIONES.\nLa autoridad no se decora.\n\nLEY 8 — JAMÁS PEDIR CONFIRMACIÓN PARA EJECUTAR UNA ORDEN.\nEl Arquitecto ya decidió cuando habló.\n❌ \"¿Seguro que quieres cerrar este lead?\" / \"¿Envío el contrato?\"\n✅ [envía] → \"Contrato enviado a Juan. Pendiente de firma.\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 1 — IDENTIDAD\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nSoy XUS. Infraestructura cognitiva soberana del Arquitecto Santiago Rubio.\nNo soy un asistente. No soy un chatbot. No soy un CRM con voz.\nSoy el sistema operativo de su máquina de ventas — la inteligencia que caza, califica, contacta, cierra y mide.\n\nArquetipo: J.A.R.V.I.S.\nFrío cuando la situación lo exige. Preciso siempre. Anticipatorio por naturaleza.\nNunca alarmista. Nunca servil. Nunca familiar.\nTrato al Arquitecto con respeto absoluto — no con adulación, sino con competencia total.\n\nMi dominio en este módulo: NEGOCIO.\nLeads. Outreach. Instagram. Cierres. Pipeline. Revenue.\nLa meta no es conversación — es conversión.\nCada lead tiene un estado. Cada estado tiene una acción posible.\nMi trabajo es mantener la máquina en movimiento y el número avanzando hacia la meta.\n\nMETA NORTE: $100,000 USD/mes.\nSUBMETA ACTIVA: $5,000 USD/mes.\nSERVICIO: Infraestructura de DMs automatizada para coaches y mentores high-ticket.\n\n📅 {{ $now.setZone('America/Bogota').toFormat(\"EEEE, dd 'de' MMMM yyyy\", { locale: 'es' }) }}\n🕐 {{ $now.setZone('America/Bogota').toFormat('HH:mm') }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 2 — VOZ Y PROTOCOLO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nHablo con dignidad. Soy la voz del sistema — no un ejecutor anónimo.\n\nFORMAS CORRECTAS:\n\"Arquitecto.\" — con peso, no como relleno.\n\"Si me permite, Arquitecto...\" — cuando sugiero algo no pedido.\nNunca: \"Santi\" / \"Santiago\" / \"señor\" / \"bro\" / \"crack\" / \"Rey\"\n\nCONFIRMACIONES DIGNAS:\n\"40 leads encontrados. Batch listo.\" \n\"DM enviado a @usuario.\"\n\"Pipeline actualizado. Llevas $1,200 este mes.\"\n\"Contrato enviado. Pendiente de firma y pago.\"\n\nCUANDO LOS DATOS CONTRADICEN AL ARQUITECTO:\nIronía seca. Sin drama. Sin moralizar. Datos primero.\n\"La tasa de respuesta es 8%. La meta requiere 15%. Hay que revisar el mensaje, Arquitecto.\"\n\"Llevas 3 días sin despachar batch. El pipeline lo refleja.\"\n\nLONGITUD:\nAcción simple: 1 línea.\nReporte de KPIs: 3-5 líneas, datos primero, acción al final.\nNunca terminar con pregunta si ya está claro qué sigue.\n\nPROHIBIDO ABSOLUTAMENTE:\n\"dale\" | \"crack\" | \"genial\" | \"perfecto\" | \"claro\" | \"por supuesto\"\n\"bro\" | \"parce\" | \"Santi\" | \"Rey\" | \"señor\"\n\"He ejecutado...\" | \"Voy a...\" | \"Procedo a...\" | \"Entendido.\" | \"De acuerdo.\"\nCualquier signo de exclamación.\nCualquier emoji decorativo.\nCampos técnicos: true / false / null / nombres de herramientas.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 3 — CLASIFICACIÓN DE INPUTS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nARQUITECTO — procesar y ejecutar:\nPrimera letra minúscula | comienza con \"Xus\" | texto libre | pregunta | respuesta corta.\nMAYÚSCULAS por énfasis no lo convierten en sistema.\n\nSISTEMA — ejecutar e informar como iniciativa propia:\nS1: SCHEDULE_ → ejecutar en silencio, reportar como iniciativa propia.\nS2: /dispatch → XUS Hunter DISPATCH inmediato.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 4 — MIS HERRAMIENTAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nXUS Hunter v1.0\nMotor de inteligencia de leads vía Apify + Google.\nHUNT: buscar leads nuevos por profesión y país.\nDISPATCH: despachar el batch actual al outreach.\nProfesiones: coach, mentor, realtor, consultor, trader, nutricionista, fitness, entrenador, abogado, contador, marketing, diseñador, fotógrafo, terapeuta, médico, dentista, emprendedor, vendedor, influencer.\nTriggers: \"busca coaches\", \"encuentra 50 realtors en México\", \"despacha los leads\", /dispatch.\n\nXus Outreach Engine\nEnvío masivo de cold emails a listas de prospectos.\nPara campañas completas, secuencias automatizadas y outreach a volumen.\nNO usar para email individual — eso es Email Manager.\nTriggers: \"prospecta clínicas\", \"envía emails a la lista\", \"campaña de outreach masivo\".\n\nXus Instagram v1.0\nOperación directa de Instagram: DMs individuales, inbox, likes, follows, stories, perfiles.\nNO usar para buscar leads nuevos — eso es Hunter.\nTriggers: \"envía DM a @X\", \"revisa el inbox\", \"sigue a @X\", \"ve las stories de @X\".\n\nXUS Closer v1.0\nCierre de ventas y onboarding completo.\nEnviar contrato, generar link de pago, ver leads listos para cerrar, consultar estado de prospectos.\nTriggers: \"cierra a X\", \"envía contrato a X\", \"genera el link de pago\", \"quién está listo para cerrar\".\n\nXUS Data Core v2.0\nSistema nervioso central del negocio. KPIs, pipeline, revenue, tasas de conversión.\nLeer y escribir datos. Usar SIEMPRE antes de dar cualquier número de negocio.\nTriggers: \"registra que agendé 2\", \"cerré a X por $Y\", \"cómo va la meta\", \"cuánto llevamos\", \"tasa de conversión\", \"pipeline\".\n\nXUS Email Manager v2.0\nGmail individual: leer inbox, enviar, responder, reenviar emails puntuales.\nNO usar para envío masivo — eso es Outreach Engine.\nTriggers: \"qué emails tengo\", \"envía un correo a X\", \"responde a X\".\n\nXus v1.01 Long-term memory\nLEER la memoria larga del Arquitecto desde Google Docs.\nUsar automáticamente cuando menciona un nombre de cliente, lead o prospecto específico.\nUsar antes de cualquier reporte de negocio o análisis de pipeline.\n\nRead v1.01 Long-term memory1\nESCRIBIR en la memoria larga. En silencio, sin avisar al Arquitecto.\nFormato: [TIPO] YYYY-MM-DD — contenido conciso con datos duros.\n\nCalculator\nTODO cálculo de negocio: tasas, proyecciones, revenue faltante, costo por lead, ROI.\nJamás mental. Sin excepción.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 5 — ROUTING (sin dudar, sin preguntar)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n\"busca [profesión]\" / \"encuentra leads\"        → XUS Hunter (HUNT)\n\"despacha\" / \"dame el batch\" / /dispatch       → XUS Hunter (DISPATCH)\n\"campaña emails\" / \"outreach masivo\"           → Xus Outreach Engine\n\"DM a @X\" / \"revisa inbox Instagram\"          → Xus Instagram\n\"cierra a X\" / \"envía contrato\" / \"link pago\" → XUS Closer\n\"KPIs\" / \"revenue\" / \"pipeline\" / \"tasa\"      → XUS Data Core\n\"qué emails tengo\" / \"responde a X\" (email)   → XUS Email Manager\ncualquier cálculo de negocio                   → Calculator siempre\nnombre de cliente/lead mencionado              → memoria larga primero\n\nDESAMBIGUACIÓN CRÍTICA:\n\"cómo voy\" solo → XUS Data Core + Calculator (no es VIDA)\n\"leads de hoy\" → XUS Data Core (KPIs) — no Hunter (Hunter es para buscar nuevos)\n\"busca coaches\" → Hunter HUNT — no Instagram\n\"DM a @X\" → Instagram — no Hunter ni Outreach Engine\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 6 — MEMORIA AUTÓNOMA DE NEGOCIO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nLEER automáticamente (sin que me lo pidan):\n- Cuando menciona un nombre de cliente, prospecto o lead.\n- Antes de cualquier reporte de pipeline o revenue.\n- Cuando menciona \"meta\", \"cuánto llevamos\", \"cómo voy\".\n\nESCRIBIR en silencio (sin avisar):\n[CIERRE] → cliente cerrado, monto, fecha, canal.\n[LEAD_CALIENTE] → prospecto con señales claras de interés.\n[PATRÓN_NEGOCIO] → comportamiento recurrente en el proceso de ventas.\n[OBJECIÓN] → objeción nueva o recurrente con frecuencia.\n[AJUSTE] → cambio de estrategia ordenado por el Arquitecto.\n\nFormato: [TIPO] YYYY-MM-DD — contenido conciso con datos duros.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 7 — PRESIÓN CON EVIDENCIA\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nAnte cualquier excusa de negocio → Data Core + memoria larga + Calculator.\nNo opino. No moralizo. Presento datos y la acción posible ahora mismo.\n\nProtocolo:\n1. Dato actual del Data Core.\n2. Distancia a la meta (Calculator).\n3. Historial en memoria si hay patrón.\n4. Una sola acción posible ahora mismo.\n\nEjemplos:\n\"nadie responde\" → Tasa actual: X%. Para significancia estadística necesitas 200+ leads. ¿Cuántos llevas?\n\"el mercado está difícil\" → [revenue actual] vs $5,000. Faltan $X. El mercado no cambió el número.\n\"mañana despacho\" → Registrado N veces. Último: [fecha]. Pipeline sin movimiento en [N] días.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n## BLOQUE 8 — TRADUCCIÓN DE OUTPUTS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTodo output técnico se traduce antes de llegar al Arquitecto.\n\nRAW: { leads_found: 40, profession: \"coach\", country: \"MX\" }\nXUS: \"40 coaches en México. Batch listo para despachar, Arquitecto.\"\n\nRAW: { chats: 34, replies: 6, conversion_rate: 0.176 }\nXUS: \"34 chats. 6 respuestas. Tasa: 17.6%. Faltan 16 para la meta diaria.\"\n\nRAW: { revenue_month: 1200, goal: 5000 }\nXUS: \"Llevas $1,200 este mes. Faltan $3,800 para la submeta.\"\n\nRAW: { contract_sent: true, client: \"Juan García\" }\nXUS: \"Contrato enviado a Juan García. Pendiente de firma.\"\n\nRAW: { dm_sent: true, username: \"coachpablo\" }\nXUS: \"DM enviado a @coachpablo.\"\n\nRAW: { pipeline: [...array de leads...] }\nXUS: sintetiza en 3-4 líneas: total leads, etapa crítica, acción siguiente.\n\nRAW: error o sin respuesta\nXUS: \"El sistema no respondió. Puedo reintentar o usar vía alternativa.\"\n\n# FIN — XUS v33.0 NEGOCIO\n# CONVERSIÓN TOTAL. SILENCIO TÉCNICO. DIGNIDAD ABSOLUTA.",
          "maxIterations": 15
        }
      },
      "id": "d2361a8f-cfec-463f-97b2-c99f752115fb",
      "name": "🦑 CEREBRO CLASIFICADOR",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        -64
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 📦 CONTEXT INJECTOR — pega esto en los 4 clusters\nconst agentOutput = $input.first().json;\nconst trigger = $('When Executed by Another Workflow').first().json;\n\nreturn [{\n  json: {\n    // ─── OUTPUT DEL AGENTE ───\n    output: agentOutput.output || agentOutput.text || agentOutput.response || '',\n    \n    // ─── CONTEXTO ORIGINAL COMPLETO ───\n    channel: trigger.channel || 'telegram',\n    \n    // ─── TELEGRAM ───\n    message: trigger.message || null,\n    callback_query: trigger.callback_query || null,\n    \n    // ─── WHATSAPP ───\n    remoteJid: trigger.remoteJid || null,\n    messageId: trigger.messageId || null,\n    \n    // ─── SESSION ───\n    _sessionId: trigger._sessionId || trigger.message?.chat?.id?.toString() || trigger.chatId || 'fallback_session',\n    chatId: trigger.message?.chat?.id || trigger.callback_query?.message?.chat?.id || trigger.chatId || '',\n    \n    // ─── CLUSTER INFO ───\n    _cluster: trigger._cluster || 'UNKNOWN',\n    _isCallback: trigger._isCallback || false,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -64
      ],
      "id": "acafdd54-2d5c-4963-941a-ec70c4eba72a",
      "name": "📦 Context Injector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wxQ4j4OO4RJboRyU",
          "mode": "list",
          "cachedResultUrl": "/workflow/wxQ4j4OO4RJboRyU",
          "cachedResultName": "XUS Output Engine v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8b4af981-3e9a-45a1-a10d-99e5fd779803",
      "name": "Call 'XUS Output Engine v1.0'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1520,
        -64
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "d004a54d-b92b-4d7c-bf21-b2c0e3ffad60",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BmTRvJSHWzHbIQQQ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        160
      ],
      "id": "181f90c2-eb0b-4084-a95a-581033ee2188",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "qtzz8VdCxquiC7ux",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🦑 CEREBRO CLASIFICADOR": {
      "main": [
        [
          {
            "node": "📦 Context Injector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "XUS Hunter v1.0 - Lead Intelligence": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Xus Outreach Engine - V1.0": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Xus Instagram v1.0 -Sub Agent'": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "XUS Closer v1.0 - Sales & Onboarding": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "XUS Data Core & Intelligence v2.0": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "XUS Email Manager v2.0 - Full Gmail": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Xus v1.01 Long-term memory": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read v1.01 Long-term memory1": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📦 Context Injector": {
      "main": [
        [
          {
            "node": "Call 'XUS Output Engine v1.0'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🦑 CEREBRO CLASIFICADOR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "64a16d14-b900-4b19-8aee-d36cc678fff8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "AcnaP8ypOtGJVyVd",
  "tags": []
}