home_snapshot/ubuntu/nova-os/guia/n8n-smoke-real-duplicate.json
{
  "name": "Nova Smoke - Real Gmail Duplicate Guard",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "to",
              "value": "nutramedicalsalud@gmail.com"
            },
            {
              "name": "subject",
              "value": "Citas automáticas vía WhatsApp: Nutramedical"
            },
            {
              "name": "body",
              "value": "Smoke test body"
            },
            {
              "name": "html",
              "value": "<p>Smoke test body</p>"
            }
          ]
        }
      },
      "id": "seed",
      "name": "Seed Known Duplicate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst recipient = String(input.to || '').trim();\nconst subject = String(input.subject || '').trim();\nconst escapedSubject = subject.replace(/\"/g, '\\\"');\nconst queryParts = ['in:sent'];\nif (recipient) queryParts.push(`to:${recipient}`);\nif (subject) queryParts.push(`subject:\"${escapedSubject}\"`);\nreturn [{ json: { ...input, dedupeRecipient: recipient, dedupeSubject: subject, dedupeQuery: queryParts.join(' ') } }];"
      },
      "id": "build-query",
      "name": "Build Gmail Dedupe Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "5",
        "filters": {
          "q": "={{ $json.dedupeQuery }}"
        }
      },
      "id": "search-sent",
      "name": "Search Sent History",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Build Gmail Dedupe Query').first().json;\nconst matches = $input.all().map((item) => item.json || {}).filter((item) => item.id || item.threadId || item.snippet || (Array.isArray(item.labelIds) && item.labelIds.length));\nconst messageIds = [...new Set(matches.map((item) => item.id).filter(Boolean))];\nreturn [{ json: { ...context, duplicateCheck: { isDuplicate: messageIds.length > 0, matchCount: messageIds.length, matchIds: messageIds } } }];"
      },
      "id": "summarize",
      "name": "Summarize Duplicate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.duplicateCheck.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "duplicate-if",
      "name": "Duplicate Already Sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "resource": "governance",
        "operation": "evaluate",
        "agentId": "agent_81f8790bcaed26b0",
        "action": "prevent_duplicate_email",
        "payloadJson": "={{ JSON.stringify({ recipient: $json.dedupeRecipient, subject: $json.dedupeSubject, duplicate_query: $json.dedupeQuery, duplicate_matches: $json.duplicateCheck.matchCount, source: \"gmail_sent_history_smoke\" }) }}"
      },
      "id": "nova-log",
      "name": "Nova Log Duplicate Block",
      "type": "n8n-nodes-nova.nova",
      "typeVersion": 1,
      "position": [
        1800,
        200
      ],
      "continueOnFail": true,
      "credentials": {
        "novaApi": {
          "id": "vJLgtcotsX2j8tbo",
          "name": "Nova Core account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { success: true, isDuplicate: data.duplicateCheck?.isDuplicate || false, matchCount: data.duplicateCheck?.matchCount || 0, query: data.dedupeQuery, novaDecision: data.nova?.decision?.action || null, novaEvalId: data.nova?.eval_id || null } }];"
      },
      "id": "result-duplicate",
      "name": "Result Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { success: true, isDuplicate: false, matchCount: data.duplicateCheck?.matchCount || 0, query: data.dedupeQuery } }];"
      },
      "id": "result-clear",
      "name": "Result Clear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Seed Known Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Known Duplicate": {
      "main": [
        [
          {
            "node": "Build Gmail Dedupe Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gmail Dedupe Query": {
      "main": [
        [
          {
            "node": "Search Sent History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Sent History": {
      "main": [
        [
          {
            "node": "Summarize Duplicate Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Duplicate Check": {
      "main": [
        [
          {
            "node": "Duplicate Already Sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Already Sent?": {
      "main": [
        [
          {
            "node": "Nova Log Duplicate Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Result Clear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nova Log Duplicate Block": {
      "main": [
        [
          {
            "node": "Result Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}