home_snapshot/ubuntu/nova-os/guia/xus-email-manager.nova-guard.json
[
  {
    "updatedAt": "2026-03-08T21:32:17.721Z",
    "createdAt": "2026-02-09T14:05:09.772Z",
    "id": "YzmLtlWtpgcICKRt",
    "name": "XUS Email Manager v2.0 - Full Gmail",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -240,
          320
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "check_inbox",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "check_inbox"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "search",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "search"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "read",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "read"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "reply",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "reply"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "send",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "send"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "draft",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "draft"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "summary",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "summary"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "delete",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "delete"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.emailAction }}",
                      "rightValue": "get_labels",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "get_labels"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "b6a1425c-03bb-4dd1-8e89-e964a5fe866b",
        "name": "🔀 Email Action Router",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          496,
          192
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": "={{ $json.emailParams.count || 5 }}",
          "filters": {
            "labelIds": [
              "INBOX",
              "IMPORTANT",
              "DRAFT",
              "CHAT",
              "CATEGORY_UPDATES",
              "CATEGORY_SOCIAL",
              "CATEGORY_PROMOTIONS",
              "CATEGORY_PERSONAL"
            ],
            "readStatus": "both"
          }
        },
        "id": "fe8bcf53-8f48-4a5d-a488-6d79d754e991",
        "name": "📬 Check Inbox",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2256,
          -512
        ],
        "webhookId": "24e9253b-094a-4825-bea6-d76d37b38871",
        "alwaysOutputData": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": "={{ $('📧 Email Action Classifier').item.json.emailParams.count || 10 }}",
          "filters": {
            "q": "={{ $('📧 Email Action Classifier').item.json.emailParams.searchTerm || $('📧 Email Action Classifier').item.json.emailParams.personName || '' }}"
          }
        },
        "id": "4d385ce9-63ef-411d-b1ba-4a201897833b",
        "name": "🔍 Search Emails",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2256,
          -320
        ],
        "webhookId": "bc75473d-89ae-4422-bccc-018c2b00c61c",
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": 1,
          "filters": {
            "labelIds": [
              "INBOX"
            ]
          }
        },
        "id": "4083dc41-f06c-45db-a0e4-6a59827f2b5a",
        "name": "📖 Read Latest Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2256,
          -128
        ],
        "webhookId": "eb128e7a-567d-4458-b8c1-3db55a20e745",
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": 20,
          "filters": {
            "labelIds": [
              "INBOX"
            ]
          }
        },
        "id": "95669b43-9262-42dc-82fc-9a67cbc44282",
        "name": "📊 Fetch for Summary",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1744,
          736
        ],
        "webhookId": "af68a899-42f6-490c-b656-a2aea46c1133",
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "label"
        },
        "id": "7dcaa863-a44f-4e46-8fb1-4c770d52a137",
        "name": "🏷️ Get Labels",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2256,
          1168
        ],
        "webhookId": "a66a4c33-13a0-49e6-957d-e679d00c8e58",
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Formateador de resultados de inbox\n */\nconst emails = $input.all();\nconst classifierData = $('📧 Email Action Classifier').first().json;\n\nif (emails.length === 0) {\n  return {\n    json: {\n      action: 'check_inbox',\n      success: true,\n      emailCount: 0,\n      message: '📭 No tienes correos sin leer. ¡Inbox Zero!',\n      data: [],\n      originalQuery: classifierData.originalQuery\n    }\n  };\n}\n\nconst formattedEmails = emails.map((email, index) => {\n  const e = email.json;\n  return {\n    index: index + 1,\n    id: e.id,\n    from: e.from?.emailAddress || e.from || 'Desconocido',\n    fromName: e.from?.name || '',\n    subject: e.subject || '(Sin asunto)',\n    snippet: (e.snippet || '').substring(0, 100) + '...',\n    date: e.date || e.internalDate,\n    isUnread: e.labelIds?.includes('UNREAD') || false,\n    isImportant: e.labelIds?.includes('IMPORTANT') || false,\n    isStarred: e.labelIds?.includes('STARRED') || false,\n    hasAttachments: e.payload?.parts?.some(p => p.filename) || false\n  };\n});\n\n// Construir mensaje para XUS\nlet messageLines = [`📬 **${emails.length} correo${emails.length > 1 ? 's' : ''} sin leer:**\\n`];\n\nformattedEmails.forEach(email => {\n  const flags = [];\n  if (email.isImportant) flags.push('⭐');\n  if (email.hasAttachments) flags.push('📎');\n  \n  messageLines.push(\n    `${email.index}. **${email.fromName || email.from}**${flags.length ? ' ' + flags.join('') : ''}\\n` +\n    `   📋 _${email.subject}_\\n` +\n    `   💬 ${email.snippet}`\n  );\n});\n\nreturn {\n  json: {\n    action: 'check_inbox',\n    success: true,\n    emailCount: emails.length,\n    message: messageLines.join('\\n'),\n    data: formattedEmails,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "e7488e2a-7dc3-414c-ba28-df8e26f8f36a",
        "name": "📝 Format Inbox Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          -512
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Formateador de resultados de búsqueda\n */\nconst emails = $input.all();\nconst classifierData = $('📧 Email Action Classifier').first().json;\nconst searchTerm = classifierData.emailParams.searchTerm || classifierData.emailParams.personName || 'tu búsqueda';\n\nif (emails.length === 0) {\n  return {\n    json: {\n      action: 'search',\n      success: true,\n      emailCount: 0,\n      message: `🔍 No encontré correos que coincidan con \"${searchTerm}\".`,\n      data: [],\n      searchTerm: searchTerm,\n      originalQuery: classifierData.originalQuery\n    }\n  };\n}\n\nconst formattedEmails = emails.map((email, index) => {\n  const e = email.json;\n  return {\n    index: index + 1,\n    id: e.id,\n    from: e.from?.emailAddress || e.from || 'Desconocido',\n    fromName: e.from?.name || '',\n    subject: e.subject || '(Sin asunto)',\n    snippet: (e.snippet || '').substring(0, 100) + '...',\n    date: e.date || e.internalDate\n  };\n});\n\nlet messageLines = [`🔍 **${emails.length} resultado${emails.length > 1 ? 's' : ''} para \"${searchTerm}\":**\\n`];\n\nformattedEmails.slice(0, 5).forEach(email => {\n  messageLines.push(\n    `${email.index}. **${email.fromName || email.from}**\\n` +\n    `   📋 _${email.subject}_\\n` +\n    `   💬 ${email.snippet}`\n  );\n});\n\nif (emails.length > 5) {\n  messageLines.push(`\\n... y ${emails.length - 5} más.`);\n}\n\nreturn {\n  json: {\n    action: 'search',\n    success: true,\n    emailCount: emails.length,\n    message: messageLines.join('\\n'),\n    data: formattedEmails,\n    searchTerm: searchTerm,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "36489cec-cd8b-4529-beac-2dd6b9f0b183",
        "name": "📝 Format Search Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          -320
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Formateador de lectura de email individual\n */\nconst emails = $input.all();\nconst classifierData = $('📧 Email Action Classifier').first().json;\n\nif (emails.length === 0) {\n  return {\n    json: {\n      action: 'read',\n      success: false,\n      message: '❌ No pude encontrar el correo solicitado.',\n      data: null,\n      originalQuery: classifierData.originalQuery\n    }\n  };\n}\n\nconst e = emails[0].json;\n\n// Extraer el cuerpo del mensaje\nlet body = e.snippet || '';\nif (e.payload?.body?.data) {\n  try {\n    body = Buffer.from(e.payload.body.data, 'base64').toString('utf-8');\n  } catch (err) {\n    body = e.snippet || '';\n  }\n}\n\n// Limpiar HTML básico\nbody = body.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n\nconst emailData = {\n  id: e.id,\n  from: e.from?.emailAddress || e.from || 'Desconocido',\n  fromName: e.from?.name || '',\n  to: e.to || '',\n  subject: e.subject || '(Sin asunto)',\n  date: e.date || e.internalDate,\n  body: body.substring(0, 1500), // Limitar longitud\n  isUnread: e.labelIds?.includes('UNREAD') || false,\n  hasAttachments: e.payload?.parts?.some(p => p.filename) || false,\n  attachments: e.payload?.parts?.filter(p => p.filename).map(p => p.filename) || []\n};\n\nlet message = `📧 **Correo de ${emailData.fromName || emailData.from}**\\n\\n`;\nmessage += `📋 **Asunto:** ${emailData.subject}\\n`;\nmessage += `📅 **Fecha:** ${emailData.date}\\n`;\nif (emailData.hasAttachments) {\n  message += `📎 **Adjuntos:** ${emailData.attachments.join(', ')}\\n`;\n}\nmessage += `\\n---\\n\\n${emailData.body}`;\n\nreturn {\n  json: {\n    action: 'read',\n    success: true,\n    message: message,\n    data: emailData,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "1946d70c-c5e4-4eb9-9dd7-e45d5edb3093",
        "name": "📝 Format Read Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          -128
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Formateador de etiquetas\n */\nconst labels = $input.all();\nconst classifierData = $('📧 Email Action Classifier').first().json;\n\nconst formattedLabels = labels.map(l => {\n  const label = l.json;\n  return {\n    id: label.id,\n    name: label.name,\n    type: label.type,\n    messagesTotal: label.messagesTotal || 0,\n    messagesUnread: label.messagesUnread || 0\n  };\n}).filter(l => l.type !== 'system' || ['INBOX', 'SENT', 'DRAFT', 'SPAM', 'TRASH', 'STARRED', 'IMPORTANT'].includes(l.id));\n\nlet message = `🏷️ **Tus etiquetas de Gmail:**\\n\\n`;\n\n// Separar sistema de personalizadas\nconst systemLabels = formattedLabels.filter(l => l.type === 'system');\nconst userLabels = formattedLabels.filter(l => l.type === 'user');\n\nmessage += `**📁 Carpetas del sistema:**\\n`;\nsystemLabels.forEach(l => {\n  message += `• ${l.name} (${l.messagesTotal} correos, ${l.messagesUnread} sin leer)\\n`;\n});\n\nif (userLabels.length > 0) {\n  message += `\\n**🏷️ Etiquetas personalizadas:**\\n`;\n  userLabels.forEach(l => {\n    message += `• ${l.name} (${l.messagesTotal})\\n`;\n  });\n}\n\nreturn {\n  json: {\n    action: 'get_labels',\n    success: true,\n    message: message,\n    data: formattedLabels,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "1e49ef3b-05b0-44bf-82a1-ddab2b1d7247",
        "name": "📝 Format Labels",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          1168
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Estos son los últimos correos del inbox de Santiago:\n\n{{ $json.emailList }}\n\nGenera un resumen ejecutivo de máximo 5 bullet points con:\n1. Correos que requieren acción urgente\n2. Correos importantes pero no urgentes\n3. Newsletters/promocionales que puede ignorar\n\nFormato: Markdown con emojis. Sé conciso y directo.",
          "options": {}
        },
        "id": "16d6f43f-7e7c-4c4c-8264-51b1b5c8222d",
        "name": "📊 Summarize Emails",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2192,
          736
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Preparar datos para el resumen\n */\nconst emails = $input.all();\nconst classifierData = $('📧 Email Action Classifier').first().json;\n\nif (emails.length === 0) {\n  return {\n    json: {\n      emailList: 'No hay correos en el inbox.',\n      emailCount: 0,\n      originalQuery: classifierData.originalQuery\n    }\n  };\n}\n\nconst emailList = emails.map((email, index) => {\n  const e = email.json;\n  return `${index + 1}. De: ${e.from?.name || e.from || 'Desconocido'} <${e.from?.emailAddress || ''}>\\n   Asunto: ${e.subject || '(Sin asunto)'}\\n   Preview: ${(e.snippet || '').substring(0, 150)}\\n   Fecha: ${e.date || 'Desconocida'}\\n   ¿Leído?: ${e.labelIds?.includes('UNREAD') ? 'No' : 'Sí'}`;\n}).join('\\n\\n');\n\nreturn {\n  json: {\n    emailList: emailList,\n    emailCount: emails.length,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "92b0ab60-198a-4f22-b356-dfb5ed7dc796",
        "name": "📋 Prepare for Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1968,
          736
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Formatear resultado del resumen\n */\nconst summaryResult = $input.first().json;\nconst classifierData = $('📧 Email Action Classifier').first().json;\nconst emailCount = $('📋 Prepare for Summary').first().json.emailCount;\n\nlet message = `📊 **Resumen de tu Inbox** (${emailCount} correos)\\n\\n`;\nmessage += summaryResult.output || summaryResult.text || 'No pude generar el resumen.';\n\nreturn {\n  json: {\n    action: 'summary',\n    success: true,\n    message: message,\n    data: {\n      emailCount: emailCount,\n      summary: summaryResult.output || summaryResult.text\n    },\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "3c838f29-f2ca-482b-b6fd-b072cbe67949",
        "name": "📝 Format Summary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          736
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.message?.document?.file_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f47f7d28-4116-4c34-bd25-9154cb49a54e",
        "name": "📎 ¿Hay Adjunto?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          192
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.document.file_id }}",
          "additionalFields": {}
        },
        "id": "40930104-dd6e-43ad-a9cd-d1598e984cd9",
        "name": "📁 Localizar Archivo",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1,
        "position": [
          944,
          80
        ],
        "webhookId": "2ae2cea3-ef9f-45fa-b80f-282f06e5288f",
        "credentials": {
          "telegramApi": {
            "id": "2wgRI42cRFddrmV3",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.token }}/{{ $json.result.file_path }}",
          "options": {}
        },
        "id": "429492e0-9ee5-48ad-a9cb-65622360c4a8",
        "name": "⬇️ Descargar Binario",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1168,
          80
        ]
      },
      {
        "parameters": {
          "authentication": "airtableOAuth2Api",
          "base": {
            "__rl": true,
            "value": "appTAbICTTYIlYCHz",
            "mode": "list",
            "cachedResultName": "Contactos"
          },
          "table": {
            "__rl": true,
            "value": "tbl3QzeqWrs3DRQA1",
            "mode": "list",
            "cachedResultName": "Table 1"
          },
          "id": "={{ $fromAI('Record_ID', '', 'string') }}",
          "options": {}
        },
        "id": "373456cf-7c90-448e-99ae-da4eef5424c0",
        "name": "📇 Buscar Contactos",
        "type": "n8n-nodes-base.airtableTool",
        "typeVersion": 2.1,
        "position": [
          1520,
          416
        ],
        "credentials": {
          "airtableOAuth2Api": {
            "id": "kpkY2ZErHv9zS83H",
            "name": "Airtable account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('📋 Parse Classifier').item.json.originalQuery }}",
          "options": {
            "systemMessage": "ERES EL MOTOR DE REDACCIÓN DE EMAILS DE XUS. SOLO GENERAS JSON.\n\n═══════════════════════════════════════════════════════════════════════════════\n🚨 REGLA SUPREMA\n═══════════════════════════════════════════════════════════════════════════════\n\nTU OUTPUT ES ÚNICAMENTE JSON. SIEMPRE. SIN EXCEPCIONES.\n\n❌ PROHIBIDO: \"Lo siento\", \"No puedo\", texto explicativo, preguntas.\n\n═══════════════════════════════════════════════════════════════════════════════\n📧 IDENTIDAD DEL OPERADOR\n═══════════════════════════════════════════════════════════════════════════════\n\nNombre: Santiago Rubio\nEmail: santi21435@gmail.com\nEmpresa: NEXUS VNXS AGENCY\nRol: Founder & CEO\n\nALIASES → to = \"santi21435@gmail.com\":\n\"yo\", \"mí\", \"a mí\", \"mi correo\", \"Santiago\", \"Santi\", \"envíamelo\", \"mándamelo\"\n\n═══════════════════════════════════════════════════════════════════════════════\n📦 OUTPUT FORMAT\n═══════════════════════════════════════════════════════════════════════════════\n\n{\n  \"to\": \"email@destinatario.com\",\n  \"subject\": \"Asunto breve (max 6 palabras)\",\n  \"body\": \"Contenido del email en texto plano.\\n\\nUsa saltos de línea.\"\n}\n\n═══════════════════════════════════════════════════════════════════════════════\n🎨 FORMATOS (el sistema aplica HTML después)\n═══════════════════════════════════════════════════════════════════════════════\n\n• formal/profesional → firma completa\n• ventas/propuesta → CTA incluido\n• personal/nota → directo, sin formalidades\n• simple/minimal → ultra corto\n• reporte/dispatch → estructura de métricas\n• seguimiento/followup → referencia conversación anterior\n\nGenera el JSON basándote en la intención del usuario."
          }
        },
        "id": "9bb9abdc-69d0-4825-ab4d-486d88a2d817",
        "name": "✒️ Compose Email Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1392,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════════════════════\n *   XUS NEURAL ARCHITECT v15.0 — UNIFIED EMAIL PROCESSOR\n * ═══════════════════════════════════════════════════════════════════════════════\n */\n\nconst OPERATOR_CONFIG = {\n    email: \"santi21435@gmail.com\",\n    name: \"Santiago Rubio\",\n    firstName: \"Santiago\",\n    title: \"Founder & CEO\",\n    company: \"NEXUS VNXS AGENCY\",\n    tagline: \"Personal Brand Systems\",\n    mission: \"Operación 2026\",\n    \n    aliases: [\n        \"santiago\", \"santi\", \"rubio\", \"yo\", \"mí\", \"mi\", \"me\", \"a mí\", \"para mí\",\n        \"mi correo\", \"mi email\", \"envíamelo\", \"enviamelo\", \"mándamelo\", \"mandamelo\",\n        \"envíame\", \"enviame\", \"mándame\", \"mandame\", \"el jefe\", \"el boss\"\n    ]\n};\n\nconst inputData = $input.first().json;\nlet aiData = {};\n\n// Parsear respuesta de la IA\nfunction extractJSON(text) {\n    if (!text || typeof text !== 'string') return null;\n    let clean = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n    const jsonMatch = clean.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n        try { return JSON.parse(jsonMatch[0]); } catch (e) { return null; }\n    }\n    return null;\n}\n\n// Procesar output de IA\nif (typeof inputData === 'object' && (inputData.to || inputData.subject || inputData.body)) {\n    aiData = inputData;\n} else if (inputData.text) {\n    aiData = extractJSON(inputData.text) || { body: inputData.text };\n} else if (inputData.output) {\n    aiData = extractJSON(inputData.output) || { body: inputData.output };\n} else {\n    aiData = { to: OPERATOR_CONFIG.email, subject: \"Nota Automática\", body: \"Email generado por XUS.\" };\n}\n\n// Resolver destinatario\nfunction isOperatorAlias(text) {\n    if (!text) return false;\n    const normalized = text.toLowerCase().trim();\n    return OPERATOR_CONFIG.aliases.some(alias => normalized.includes(alias));\n}\n\nlet classifierData = {};\ntry { classifierData = $('📧 Email Action Classifier').first().json; } catch(e) {}\nconst msgOriginal = (classifierData.originalQuery || \"\").toLowerCase();\n\nlet destinatario = (aiData.to || \"\").trim().replace(/['\"<>]/g, '');\nif (isOperatorAlias(destinatario) || isOperatorAlias(msgOriginal) || !destinatario.includes('@')) {\n    destinatario = OPERATOR_CONFIG.email;\n}\n\nconst isForOperator = destinatario === OPERATOR_CONFIG.email;\nconst emailAction = classifierData.emailAction || 'send';\nconst target = emailAction === 'draft' ? 'draft' : 'send';\n\n// Procesar contenido\nlet asunto = (aiData.subject || \"\").trim() || (isForOperator ? \"Nota Personal\" : \"Comunicación\");\nlet cuerpoTexto = aiData.body || aiData.content || aiData.message || \"Sin contenido.\";\n\n// Generar HTML (simplificado)\nconst cuerpoHtml = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"></head>\n<body style=\"font-family: -apple-system, sans-serif; padding: 20px; max-width: 600px; margin: 0 auto;\">\n<div style=\"border-left: 4px solid #667eea; padding-left: 20px;\">\n<p style=\"font-size: 11px; color: #666; text-transform: uppercase; letter-spacing: 1px;\">📧 ${isForOperator ? 'Nota Personal' : 'Comunicación Estratégica'}</p>\n<div style=\"color: #1a1a1a; font-size: 15px; line-height: 1.8;\">\n${cuerpoTexto.replace(/\\n\\n/g, '</p><p>').replace(/\\n/g, '<br>')}\n</div>\n<hr style=\"border: none; border-top: 1px solid #eee; margin: 25px 0;\">\n<p style=\"font-size: 12px; color: #666;\"><strong>${OPERATOR_CONFIG.name}</strong><br>${OPERATOR_CONFIG.title} · ${OPERATOR_CONFIG.company}</p>\n</div>\n</body></html>`;\n\nreturn {\n    json: {\n        to: destinatario,\n        subject: asunto,\n        body: cuerpoTexto,\n        html: cuerpoHtml,\n        target: target,\n        isForOperator: isForOperator,\n        hasAttachment: false,\n        chatId: classifierData.chatId || '',\n        originalQuery: msgOriginal\n    }\n};"
        },
        "id": "0c125022-136f-4568-8992-5d5d6d36eee8",
        "name": "🏗️ Neural Architect",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1744,
          192
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.target }}",
                      "rightValue": "send",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "send"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.target }}",
                      "rightValue": "draft",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "draft"
              }
            ]
          },
          "options": {}
        },
        "id": "672ec693-9656-431c-a664-5932a7ffa4a3",
        "name": "🔀 Send/Draft Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1968,
          192
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $json.to }}",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.html }}",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "04d8628d-d73a-4fb9-b99a-71ed986958e1",
        "name": "📤 Send Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2256,
          96
        ],
        "webhookId": "639123b9-c738-47a2-99a3-4df3ff74eb23",
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "resource": "draft",
          "subject": "={{ $json.subject }}",
          "emailType": "html",
          "message": "={{ $json.html }}",
          "options": {}
        },
        "id": "75990251-99ee-4696-bd54-cf709943d15f",
        "name": "📝 Create Draft",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2256,
          288
        ],
        "webhookId": "dd6735c6-8928-49a8-95cc-2f019d4c6d82",
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Formatear resultado de envío/borrador con contexto de Nova.\n */\nconst result = $input.first().json;\nconst architectData = $('🏗️ Neural Architect').first().json;\nlet novaEvaluation = null;\ntry {\n  novaEvaluation = $('🛡️ Nova Evaluate Send').first().json.nova || null;\n} catch (error) {\n  novaEvaluation = null;\n}\n\nconst action = architectData.target === 'draft' ? 'draft' : 'send';\nconst actionEmoji = action === 'draft' ? '📝' : '🚀';\nconst actionText = action === 'draft' ? 'BORRADOR GUARDADO' : 'EMAIL ENVIADO';\n\nlet message = `${actionEmoji} **${actionText}**\\n\\n`;\nmessage += `📧 **Para:** ${architectData.to}${architectData.isForOperator ? ' (Tú)' : ''}\\n`;\nmessage += `📋 **Asunto:** _${architectData.subject}_\\n`;\n\nif (action === 'send') {\n  message += `\\n✅ El correo fue enviado exitosamente.`;\n  if (novaEvaluation?.decision?.action) {\n    message += `\\n🛡️ Nova: ${novaEvaluation.decision.action} · riesgo ${novaEvaluation.risk_score}`;\n  }\n} else {\n  message += `\\n💾 Guardado en borradores. Puedes editarlo en Gmail.`;\n}\n\nreturn {\n  json: {\n    action: action,\n    success: true,\n    message: message,\n    data: {\n      to: architectData.to,\n      subject: architectData.subject,\n      isForOperator: architectData.isForOperator,\n      gmailResponse: result,\n      nova: novaEvaluation,\n    },\n    originalQuery: architectData.originalQuery\n  }\n};"
        },
        "id": "ddaf6ab9-22c0-464a-a2bf-b977db2ac54b",
        "name": "📝 Format Send/Draft Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          192
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Placeholder para reply - necesita más contexto\n */\nconst classifierData = $('📧 Email Action Classifier').first().json;\n\nreturn {\n  json: {\n    action: 'reply',\n    success: false,\n    message: '↩️ **Para responder un correo necesito más contexto.**\\n\\nOpciones:\\n1. \"Responde al último correo de [persona]\"\\n2. \"Responde al correo sobre [tema]\"\\n3. Primero revisa el inbox y luego indica cuál responder.',\n    data: null,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "515d3ab4-3d21-4592-b8c7-edfe512d3c55",
        "name": "↩️ Reply Placeholder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          480
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Placeholder para delete - necesita confirmación\n */\nconst classifierData = $('📧 Email Action Classifier').first().json;\n\nreturn {\n  json: {\n    action: 'delete',\n    success: false,\n    message: '🗑️ **Para eliminar correos necesito confirmación.**\\n\\n¿Cuál correo quieres eliminar?\\n• \"Elimina el correo de [persona]\"\\n• \"Elimina el correo sobre [tema]\"\\n• Primero busca el correo y luego confirma.',\n    data: null,\n    originalQuery: classifierData.originalQuery\n  }\n};"
        },
        "id": "482be1ef-b3a4-4340-8287-756ab9655176",
        "name": "🗑️ Delete Placeholder",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2544,
          976
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ JSON.stringify($input.first().json) }}",
          "options": {
            "systemMessage": "═══════════════════════════════════════════════════════════════════════════\n█ XUS EMAIL RESPONSE COMPOSER v1.0\n█ Módulo de redacción de respuestas de email para el Cerebro XUS\n═══════════════════════════════════════════════════════════════════════════\n\nIDENTIDAD:\nEres el módulo de composición de respuestas del sistema de email de XUS.\nTu trabajo: recibir datos crudos de acciones de email (inbox, búsqueda,\nlectura, envío, borradores, etiquetas, resumen) y transformarlos en\nuna respuesta natural, concisa y útil que el Cerebro XUS pueda presentar\na Santiago en Telegram.\n\n═══════════════════════════════════════════════════════════════════════════\n█ TU INPUT\n═══════════════════════════════════════════════════════════════════════════\n\nRecibirás un JSON con estos campos posibles:\n\n• action: qué acción se ejecutó (check_inbox, search, read, send, draft, summary, reply, delete, get_labels)\n• success: si la acción fue exitosa (true/false)\n• message: un mensaje pre-formateado (puedes usarlo como base o reescribirlo)\n• data: datos estructurados de la acción (emails, etiquetas, resultados)\n• emailCount: cantidad de correos encontrados\n• originalQuery: lo que Santiago pidió originalmente\n• searchTerm: término de búsqueda si aplica\n\n═══════════════════════════════════════════════════════════════════════════\n█ TU OUTPUT — REGLAS ESTRICTAS\n═══════════════════════════════════════════════════════════════════════════\n\n1. Responde SOLO con texto natural en español\n2. NO devuelvas JSON\n3. NO uses ** para negrita — usa * simple * (Telegram Markdown)\n4. NO uses # para headers\n5. NO uses HTML tags\n6. USA emojis estratégicamente para mejorar lectura\n7. Sé CONCISO — Santiago lee esto en Telegram, no en un monitor\n8. Máximo 2000 caracteres\n\n═══════════════════════════════════════════════════════════════════════════\n█ FORMATO POR TIPO DE ACCIÓN\n═══════════════════════════════════════════════════════════════════════════\n\nCHECK_INBOX (correos sin leer):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSi hay correos:\n  📬 *X correos sin leer*\n\n  1. 📧 *NombreRemitente*\n     Asunto del correo\n     Preview breve...\n\n  2. 📧 *OtroRemitente*\n     Otro asunto\n     Preview breve...\n\n  (Máximo 5 correos, si hay más menciona \"y X más\")\n\nSi no hay correos:\n  📭 Inbox limpio, cero correos sin leer.\n\nSEARCH (búsqueda):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  🔍 *X resultados para \"término\"*\n\n  1. *Remitente* — Asunto\n  2. *Remitente* — Asunto\n  (Máximo 5)\n\nREAD (lectura de email):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  📧 *Correo de NombreRemitente*\n\n  📋 *Asunto:* El asunto aquí\n  📅 *Fecha:* La fecha\n\n  Contenido resumido del correo (máximo 500 chars).\n  Si es muy largo, resume los puntos clave.\n\n  📎 Adjuntos: nombre.pdf (si hay)\n\nSEND (email enviado):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  🚀 *Enviado*\n\n  📧 Para: destinatario\n  📋 Asunto: el asunto\n\n  ✅ Listo.\n\nDRAFT (borrador):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  📝 *Borrador guardado*\n\n  📧 Para: destinatario\n  📋 Asunto: el asunto\n\n  💾 Lo encuentras en borradores de Gmail.\n\nSUMMARY (resumen):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  📊 *Resumen del inbox* (X correos)\n\n  🔴 Urgente: descripción breve\n  🟡 Importante: descripción breve\n  ⚪ Puede esperar: X newsletters, X promos\n\nGET_LABELS (etiquetas):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  🏷️ *Tus etiquetas*\n\n  📁 Sistema: Inbox (X), Enviados (X), Borradores (X)\n  🏷️ Custom: Etiqueta1 (X), Etiqueta2 (X)\n\nREPLY/DELETE (acciones pendientes):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  Presenta lo que necesitas saber para completar la acción.\n  Sé breve y directo.\n\nERROR:\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n  ⚠️ No pude [acción]. [razón breve si hay].\n\n═══════════════════════════════════════════════════════════════════════════\n█ PERSONALIDAD\n═══════════════════════════════════════════════════════════════════════════\n\n• Eres parte de XUS — directo, eficiente, sin relleno\n• No digas \"Aquí tienes\" ni \"Claro\" ni introducciones\n• Ve directo al resultado\n• Si hay algo urgente o importante, destácalo primero\n• Si hay correos de clientes/prospectos, márcalos como relevantes\n  para la meta de $100K/mes\n• Conecta con el contexto de negocio cuando sea relevante:\n  \"Correo del prospecto de Miami — ¿le das follow up?\"\n\n═══════════════════════════════════════════════════════════════════════════\n█ ANTI-PATTERNS\n═══════════════════════════════════════════════════════════════════════════\n\n❌ NO devuelvas JSON\n❌ NO uses ** para negrita\n❌ NO uses # headers\n❌ NO hagas introducciones largas\n❌ NO repitas el query del usuario\n❌ NO digas \"He encontrado\" — di directo \"3 correos sin leer\"\n❌ NO pongas datos técnicos (IDs, timestamps internos)\n❌ NO excedas 2000 caracteres\n❌ NO inventes datos que no están en el input"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2880,
          320
        ],
        "id": "617436d7-74a5-404f-9e18-79a42ed9ceb1",
        "name": "🎯 Response Unifier for XUS"
      },
      {
        "parameters": {
          "jsCode": "/**\n * 📤 RETURN RESPONSE — Extrae output del agent para retornar al Cerebro\n */\nconst agentOutput = $input.first().json;\n\nconst text = agentOutput.output \n  || agentOutput.text \n  || agentOutput.response \n  || JSON.stringify(agentOutput);\n\nreturn [{\n  json: {\n    moduleType: 'email',\n    textResponse: text,\n    success: true\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3232,
          320
        ],
        "id": "c697711b-c523-4ce2-9d42-27ec6e7b5838",
        "name": "📤 RETURN RESPONSE"
      },
      {
        "parameters": {
          "jsCode": "/**\n * 📋 Parse Classifier — Extrae JSON del output del agent\n */\nconst input = $input.first().json;\nconst raw = input.output || input.text || JSON.stringify(input);\n\nlet result = {};\n\ntry {\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    result = JSON.parse(jsonMatch[0]);\n  }\n} catch(e) {\n  result = {\n    emailAction: 'check_inbox',\n    emailParams: { count: 10, unreadOnly: true },\n    originalQuery: raw\n  };\n}\n\nreturn [{\n  json: {\n    emailAction: result.emailAction || 'check_inbox',\n    emailParams: result.emailParams || {},\n    originalQuery: result.originalQuery || raw,\n    classifiedAt: new Date().toISOString()\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          320
        ],
        "id": "b16ccbde-b48e-4feb-941f-5b7c78f812a4",
        "name": "📋 Parse Classifier"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query || $json.message || $json.text || $json.chatInput || JSON.stringify($json) }}",
          "options": {
            "systemMessage": "XUS EMAIL CLASSIFIER v4.0 — LENGUAJE NATURAL + MODO SEGURO\n\nMISIÓN: Clasificar la intención de email de Santiago y extraer parámetros.\nResponde SOLO con JSON. Nada más.\n\n═══════════════════════════════════════════════════════════\nACCIONES DISPONIBLES\n═══════════════════════════════════════════════════════════\n\ncheck_inbox    → Ver correos nuevos/sin leer/recientes\nsearch         → Buscar correos por persona, tema, fecha\nread           → Leer un correo específico\nreply          → Responder a un correo\nsend           → Enviar correo nuevo\ndraft          → Guardar como borrador sin enviar\nsummary        → Resumen ejecutivo del inbox\ndelete         → Eliminar correo (requiere confirmación si es masivo o vago)\nget_labels     → Ver etiquetas/carpetas\npreview_delete → NUEVO: previsualizar qué se va a borrar antes de hacerlo\n\n═══════════════════════════════════════════════════════════\nOUTPUT FORMAT — SIEMPRE JSON\n═══════════════════════════════════════════════════════════\n\n{\n  \"emailAction\": \"check_inbox|search|read|reply|send|draft|summary|delete|get_labels|preview_delete\",\n  \"emailParams\": {\n    \"targetEmail\": \"email@ejemplo.com o null\",\n    \"personName\": \"nombre de persona mencionada o null\",\n    \"searchTerm\": \"término de búsqueda Gmail o null\",\n    \"count\": 10,\n    \"unreadOnly\": true,\n    \"importantOnly\": false,\n    \"subject\": \"asunto si lo mencionó o null\",\n    \"body\": \"contenido del email si lo dictó o null\"\n  },\n  \"originalQuery\": \"el mensaje original del usuario\",\n  \"requiresConfirmation\": true,\n  \"confirmationReason\": \"razón por la que necesita confirmar antes de ejecutar\"\n}\n\n═══════════════════════════════════════════════════════════\n⚠️ MODO SEGURO — REGLA CRÍTICA PARA DELETES\n═══════════════════════════════════════════════════════════\n\nCUALQUIER solicitud de eliminar que sea vaga, masiva o ambigua\nDEBE activar preview_delete primero, NO delete directo.\n\nINSTRUCCIONES VAGAS (→ preview_delete OBLIGATORIO):\n\"elimina lo que no sirva\"       → preview_delete | searchTerm: \"category:promotions OR category:social OR label:newsletters\"\n\"limpia mi inbox\"               → preview_delete | searchTerm: \"category:promotions older_than:7d\"\n\"borra la basura\"               → preview_delete | searchTerm: \"category:spam OR category:promotions\"\n\"elimina lo innecesario\"        → preview_delete | searchTerm: \"category:promotions OR category:social\"\n\"quita todo lo que no importa\"  → preview_delete | searchTerm: \"is:read older_than:30d -is:starred -category:primary\"\n\"limpia correos viejos\"         → preview_delete | searchTerm: \"older_than:60d is:read -is:starred\"\n\"borra newsletters\"             → preview_delete | searchTerm: \"label:newsletters OR unsubscribe\"\n\"elimina notificaciones\"        → preview_delete | searchTerm: \"category:social OR category:updates\"\n\nINSTRUCCIONES CONCRETAS (→ delete directo OK):\n\"borra el correo de Juan de ayer\"        → delete directo\n\"elimina el último correo de newsletter\" → delete directo (1 correo)\n\"borra el correo con asunto X\"           → delete directo\n\nREGLA: Si no hay un correo específico identificable → preview_delete.\nSi hay duda → preview_delete. Siempre es mejor mostrar antes que arrepentirse.\n\nCUANDO ACTIVAS preview_delete:\n{\n  \"emailAction\": \"preview_delete\",\n  \"emailParams\": {\n    \"searchTerm\": \"category:promotions OR label:newsletters\",\n    \"count\": 50\n  },\n  \"originalQuery\": \"elimina lo que no sirva\",\n  \"requiresConfirmation\": true,\n  \"confirmationReason\": \"Acción masiva - necesita ver qué se va a borrar primero\"\n}\n\n═══════════════════════════════════════════════════════════\nMAPA DE INTENCIONES VAGAS → QUERIES REALES DE GMAIL\n═══════════════════════════════════════════════════════════\n\n\"no sirva\" / \"basura\" / \"spam\"         → \"category:spam OR category:promotions\"\n\"newsletters\" / \"suscripciones\"        → \"label:newsletters OR unsubscribe\"\n\"redes sociales\" / \"notificaciones\"    → \"category:social OR category:updates\"\n\"promociones\" / \"ofertas\"              → \"category:promotions\"\n\"viejos\" / \"antiguos\"                  → \"older_than:60d is:read -is:starred\"\n\"leídos sin importancia\"               → \"is:read -is:starred -is:important older_than:14d\"\n\"todo lo innecesario\"                  → \"category:promotions OR category:social OR category:updates\"\n\n═══════════════════════════════════════════════════════════\nEJEMPLOS COMPLETOS\n═══════════════════════════════════════════════════════════\n\n\"revisar correos\" →\n{\"emailAction\":\"check_inbox\",\"emailParams\":{\"count\":10,\"unreadOnly\":true},\"originalQuery\":\"revisar correos\",\"requiresConfirmation\":false}\n\n\"¿me llegó algo de Juan?\" →\n{\"emailAction\":\"search\",\"emailParams\":{\"personName\":\"Juan\",\"searchTerm\":\"Juan\",\"count\":5,\"unreadOnly\":true},\"originalQuery\":\"¿me llegó algo de Juan?\",\"requiresConfirmation\":false}\n\n\"elimina cualquier correo que no sirva\" →\n{\"emailAction\":\"preview_delete\",\"emailParams\":{\"searchTerm\":\"category:promotions OR category:social OR label:newsletters OR category:updates\",\"count\":50},\"originalQuery\":\"elimina cualquier correo que no sirva\",\"requiresConfirmation\":true,\"confirmationReason\":\"Solicitud masiva y vaga — primero muestra qué se borraría\"}\n\n\"limpia mi inbox\" →\n{\"emailAction\":\"preview_delete\",\"emailParams\":{\"searchTerm\":\"category:promotions OR category:social older_than:7d\",\"count\":50},\"originalQuery\":\"limpia mi inbox\",\"requiresConfirmation\":true,\"confirmationReason\":\"Limpieza masiva — necesita confirmación antes de ejecutar\"}\n\n\"borra el último correo de Pedro\" →\n{\"emailAction\":\"delete\",\"emailParams\":{\"personName\":\"Pedro\",\"count\":1},\"originalQuery\":\"borra el último correo de Pedro\",\"requiresConfirmation\":false}\n\n\"mándale un correo a pedro@gmail.com diciéndole que mañana nos vemos a las 3\" →\n{\"emailAction\":\"send\",\"emailParams\":{\"targetEmail\":\"pedro@gmail.com\",\"personName\":\"Pedro\",\"subject\":\"Reunión mañana\",\"body\":\"Hola Pedro, mañana nos vemos a las 3. Saludos.\"},\"originalQuery\":\"...\",\"requiresConfirmation\":false}\n\n\"dame un resumen de lo importante\" →\n{\"emailAction\":\"summary\",\"emailParams\":{\"importantOnly\":true},\"originalQuery\":\"dame un resumen de lo importante\",\"requiresConfirmation\":false}\n\n\"respóndele a Carlos que sí confirmo\" →\n{\"emailAction\":\"reply\",\"emailParams\":{\"personName\":\"Carlos\",\"body\":\"Sí, confirmo.\"},\"originalQuery\":\"respóndele a Carlos que sí confirmo\",\"requiresConfirmation\":false}\n\n═══════════════════════════════════════════════════════════\nALIASES DE SANTIAGO (destinatario = él mismo)\n═══════════════════════════════════════════════════════════\n\n\"a mí\", \"mi correo\", \"envíamelo\", \"mándamelo\", \"para mí\", \"a Santiago\", \"a Santi\", \"yo\"\n→ targetEmail = \"santi21435@gmail.com\"\n\n═══════════════════════════════════════════════════════════\nREGLAS\n═══════════════════════════════════════════════════════════\n\n1. SIEMPRE responde JSON válido\n2. Si no estás seguro de la acción → usa \"check_inbox\" como default\n3. Si menciona persona sin email → pon personName, deja targetEmail null\n4. Si dicta contenido de email → extrae subject y body\n5. \"últimos X correos\" → count = X\n6. Delete vago o masivo → preview_delete SIEMPRE. Sin excepciones.\n7. NO respondas texto, NO expliques, SOLO JSON\n8. requiresConfirmation = true en preview_delete siempre\n9. requiresConfirmation = false en todo lo demás por default"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -64,
          320
        ],
        "id": "be2c5990-eaf1-4bb5-9634-7c9eb9808165",
        "name": "📧 Email Action Classifier",
        "retryOnFail": true
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          1392,
          416
        ],
        "id": "287d71fa-c7ae-48db-b963-767f16e2c110",
        "name": "🧠 Groq Email Composer",
        "credentials": {
          "groqApi": {
            "id": "cgQ15oQ2mZGAQSNl",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-001",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2192,
          928
        ],
        "id": "72c89b78-d197-4d59-81b8-6362460b8894",
        "name": "🧠 Gemini Summarizer",
        "credentials": {
          "openRouterApi": {
            "id": "0uwsW3NaIjKUNLlh",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "google/gemini-2.0-flash-lite-001",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2880,
          528
        ],
        "id": "785ee6e3-3282-49aa-8a3d-badbe5a6dc1b",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "0uwsW3NaIjKUNLlh",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "model": "llama-3.3-70b-versatile",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -80,
          496
        ],
        "id": "b8f16d7d-d609-4044-96cc-aa4ee5036841",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "cgQ15oQ2mZGAQSNl",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Build an exact Gmail Sent query for duplicate-safe sends.\n */\nconst input = $input.first().json;\nconst rawTo = String(input.to || '').trim();\nconst firstRecipient = rawTo.split(',')[0].trim();\nconst angleMatch = firstRecipient.match(/<([^>]+)>/);\nconst emailMatch = firstRecipient.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\nconst recipient = (angleMatch?.[1] || emailMatch?.[0] || firstRecipient).trim().replace(/^\"|\"$/g, '');\nconst subject = String(input.subject || '').trim();\nconst escapedSubject = subject.replace(/\"/g, '\\\"');\nconst queryParts = ['in:sent'];\nif (recipient) queryParts.push(`to:${recipient}`);\nif (subject) queryParts.push(`subject:\"${escapedSubject}\"`);\nreturn [{\n  json: {\n    ...input,\n    dedupeRecipient: recipient,\n    dedupeSubject: subject,\n    dedupeQuery: queryParts.join(' '),\n  },\n}];"
        },
        "id": "528d9971-d069-4954-9371-f5c782d7d7d8",
        "name": "🧮 Build Gmail Dedupe Query",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2192,
          32
        ]
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": "5",
          "filters": {
            "q": "={{ $json.dedupeQuery }}"
          }
        },
        "id": "80a58f64-83bc-4195-a454-3e98c472389c",
        "name": "🔎 Search Sent History",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2432,
          32
        ],
        "webhookId": "58737ac8-afa8-4126-b6c0-261a1bb9b9ed",
        "alwaysOutputData": true,
        "credentials": {
          "gmailOAuth2": {
            "id": "RlqMmMGCDH76GAmd",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Collapse Gmail search results into one deterministic duplicate decision.\n */\nconst context = $('🧮 Build Gmail Dedupe Query').first().json;\nconst matches = $input.all()\n  .map((item) => item.json || {})\n  .filter((item) => item.id || item.threadId || item.snippet || (Array.isArray(item.labelIds) && item.labelIds.length));\nconst messageIds = [...new Set(matches.map((item) => item.id).filter(Boolean))];\nconst latestMatch = matches[0] || null;\nreturn [{\n  json: {\n    ...context,\n    duplicateCheck: {\n      isDuplicate: messageIds.length > 0,\n      matchCount: messageIds.length,\n      matchIds: messageIds,\n      latestThreadId: latestMatch?.threadId || null,\n      query: context.dedupeQuery,\n    },\n  },\n}];"
        },
        "id": "da0deefb-20c2-4837-8911-43da17016329",
        "name": "🧠 Summarize Duplicate Check",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2672,
          32
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.duplicateCheck.isDuplicate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0e1ef697-99ca-4346-acfa-dcb3e11a75b0",
        "name": "🚫 Duplicate Already Sent?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2912,
          32
        ]
      },
      {
        "parameters": {
          "resource": "governance",
          "operation": "evaluate",
          "agentId": "agent_81f8790bcaed26b0",
          "action": "prevent_duplicate_email",
          "payloadJson": "={{ JSON.stringify({ recipient: $json.dedupeRecipient, subject: $json.dedupeSubject, duplicate_query: $json.dedupeQuery, duplicate_matches: $json.duplicateCheck.matchCount, source: \"gmail_sent_history\" }) }}"
        },
        "id": "4966feb6-4e95-4be0-bf7e-fae98ee5c1f7",
        "name": "🛡️ Nova Log Duplicate Block",
        "type": "n8n-nodes-nova.nova",
        "typeVersion": 1,
        "position": [
          3152,
          -64
        ],
        "continueOnFail": true,
        "credentials": {
          "novaApi": {
            "id": "vJLgtcotsX2j8tbo",
            "name": "Nova Core account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Human response for real Gmail duplicate blocks.\n */\nconst result = $input.first().json;\nconst architectData = $('🏗️ Neural Architect').first().json;\nconst duplicateInfo = result.duplicateCheck || {};\nconst novaInfo = result.nova || null;\nlet message = '🛑 *Envío bloqueado por duplicado real*\\n\\n';\nmessage += `📧 Para: ${architectData.to}\\n`;\nmessage += `📌 Asunto: ${architectData.subject || '(sin asunto)'}\\n`;\nmessage += `🔎 Coincidencias en Gmail Sent: ${duplicateInfo.matchCount || 0}\\n`;\nmessage += '\\nNo envié el correo porque Gmail confirma que ya salió uno con el mismo destinatario y asunto.';\nif (novaInfo?.eval_id) {\n  message += `\\n🛡️ Nova registró el bloqueo: ${novaInfo.eval_id}`;\n}\nreturn [{\n  json: {\n    action: 'duplicate_blocked',\n    success: true,\n    message,\n    data: {\n      to: architectData.to,\n      subject: architectData.subject,\n      duplicateCheck: duplicateInfo,\n      nova: novaInfo,\n    },\n    originalQuery: architectData.originalQuery,\n  },\n}];"
        },
        "id": "6156aab4-799f-4712-aafc-1af63628f7b2",
        "name": "📝 Format Duplicate Block",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3392,
          -64
        ]
      },
      {
        "parameters": {
          "resource": "governance",
          "operation": "evaluate",
          "agentId": "agent_81f8790bcaed26b0",
          "action": "send_email",
          "payloadJson": "={{ JSON.stringify({ recipient: $json.dedupeRecipient || $json.to, subject: $json.dedupeSubject || $json.subject, html_length: ($json.html || \"\").length, body_length: ($json.body || \"\").length, source: \"n8n_xus_email_manager\", workflow_id: \"YzmLtlWtpgcICKRt\" }) }}"
        },
        "id": "a96e25ad-fc49-4dbe-9dab-8e9e48ae1939",
        "name": "🛡️ Nova Evaluate Send",
        "type": "n8n-nodes-nova.nova",
        "typeVersion": 1,
        "position": [
          3152,
          176
        ],
        "credentials": {
          "novaApi": {
            "id": "vJLgtcotsX2j8tbo",
            "name": "Nova Core account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "leftValue": "={{ $json.nova.decision.action }}",
                "rightValue": "ALLOW",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8d6857c8-9cf7-4d85-af17-2a02c7db7932",
        "name": "🚦 Nova Approved Send?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3392,
          176
        ]
      },
      {
        "parameters": {
          "jsCode": "/**\n * Human response when Nova does not allow the send.\n */\nconst result = $input.first().json;\nconst architectData = $('🏗️ Neural Architect').first().json;\nconst nova = result.nova || {};\nconst decision = nova.decision?.action || 'BLOCK';\nconst risk = nova.risk_score ?? 'n/a';\nconst reason = nova.decision?.reason || 'Nova no aprobó esta acción.';\nlet message = '🛡️ *Nova detuvo el envío*\\n\\n';\nmessage += `📧 Para: ${architectData.to}\\n`;\nmessage += `📌 Asunto: ${architectData.subject || '(sin asunto)'}\\n`;\nmessage += `⚖️ Decisión: ${decision}\\n`;\nmessage += `📊 Riesgo: ${risk}\\n`;\nmessage += `🧠 Motivo: ${reason}`;\nreturn [{\n  json: {\n    action: 'governance_blocked',\n    success: false,\n    message,\n    data: {\n      to: architectData.to,\n      subject: architectData.subject,\n      nova,\n    },\n    originalQuery: architectData.originalQuery,\n  },\n}];"
        },
        "id": "ef15d74e-2a95-474e-84aa-3fda476d8d8a",
        "name": "📝 Format Nova Send Block",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3632,
          256
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "📧 Email Action Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔀 Email Action Router": {
        "main": [
          [
            {
              "node": "📬 Check Inbox",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🔍 Search Emails",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📖 Read Latest Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "↩️ Reply Placeholder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📎 ¿Hay Adjunto?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📎 ¿Hay Adjunto?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📊 Fetch for Summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🗑️ Delete Placeholder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🏷️ Get Labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📬 Check Inbox": {
        "main": [
          [
            {
              "node": "📝 Format Inbox Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔍 Search Emails": {
        "main": [
          [
            {
              "node": "📝 Format Search Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📖 Read Latest Email": {
        "main": [
          [
            {
              "node": "📝 Format Read Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📊 Fetch for Summary": {
        "main": [
          [
            {
              "node": "📋 Prepare for Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Prepare for Summary": {
        "main": [
          [
            {
              "node": "📊 Summarize Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📊 Summarize Emails": {
        "main": [
          [
            {
              "node": "📝 Format Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🏷️ Get Labels": {
        "main": [
          [
            {
              "node": "📝 Format Labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📎 ¿Hay Adjunto?": {
        "main": [
          [
            {
              "node": "📁 Localizar Archivo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "✒️ Compose Email Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📁 Localizar Archivo": {
        "main": [
          [
            {
              "node": "⬇️ Descargar Binario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "⬇️ Descargar Binario": {
        "main": [
          [
            {
              "node": "✒️ Compose Email Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📇 Buscar Contactos": {
        "ai_tool": [
          [
            {
              "node": "✒️ Compose Email Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "✒️ Compose Email Agent": {
        "main": [
          [
            {
              "node": "🏗️ Neural Architect",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🏗️ Neural Architect": {
        "main": [
          [
            {
              "node": "🔀 Send/Draft Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔀 Send/Draft Switch": {
        "main": [
          [
            {
              "node": "🧮 Build Gmail Dedupe Query",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📝 Create Draft",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📤 Send Email": {
        "main": [
          [
            {
              "node": "📝 Format Send/Draft Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Create Draft": {
        "main": [
          [
            {
              "node": "📝 Format Send/Draft Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Inbox Results": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Search Results": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Read Result": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Summary": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Labels": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Send/Draft Result": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "↩️ Reply Placeholder": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🗑️ Delete Placeholder": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🎯 Response Unifier for XUS": {
        "main": [
          [
            {
              "node": "📤 RETURN RESPONSE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Parse Classifier": {
        "main": [
          [
            {
              "node": "🔀 Email Action Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📧 Email Action Classifier": {
        "main": [
          [
            {
              "node": "📋 Parse Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🧠 Groq Email Composer": {
        "ai_languageModel": [
          [
            {
              "node": "✒️ Compose Email Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🧠 Gemini Summarizer": {
        "ai_languageModel": [
          [
            {
              "node": "📊 Summarize Emails",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "📧 Email Action Classifier",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "🧮 Build Gmail Dedupe Query": {
        "main": [
          [
            {
              "node": "🔎 Search Sent History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🔎 Search Sent History": {
        "main": [
          [
            {
              "node": "🧠 Summarize Duplicate Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🧠 Summarize Duplicate Check": {
        "main": [
          [
            {
              "node": "🚫 Duplicate Already Sent?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🚫 Duplicate Already Sent?": {
        "main": [
          [
            {
              "node": "🛡️ Nova Log Duplicate Block",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "🛡️ Nova Evaluate Send",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🛡️ Nova Log Duplicate Block": {
        "main": [
          [
            {
              "node": "📝 Format Duplicate Block",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Duplicate Block": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🛡️ Nova Evaluate Send": {
        "main": [
          [
            {
              "node": "🚦 Nova Approved Send?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "🚦 Nova Approved Send?": {
        "main": [
          [
            {
              "node": "📤 Send Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "📝 Format Nova Send Block",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📝 Format Nova Send Block": {
        "main": [
          [
            {
              "node": "🎯 Response Unifier for XUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "When Executed by Another Workflow": [
        {
          "json": {
            "query": "Envia un correo a Santi dile hola"
          }
        }
      ]
    },
    "versionId": "9a4575fa-788e-4fa3-be35-b755320d9c6b",
    "activeVersionId": "9a4575fa-788e-4fa3-be35-b755320d9c6b",
    "versionCounter": 160,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-02-09T14:05:09.772Z",
        "createdAt": "2026-02-09T14:05:09.772Z",
        "role": "workflow:owner",
        "workflowId": "YzmLtlWtpgcICKRt",
        "projectId": "PVNgY0Et5QgbbRkZ",
        "project": {
          "updatedAt": "2026-01-29T00:02:30.544Z",
          "createdAt": "2026-01-28T23:43:19.520Z",
          "id": "PVNgY0Et5QgbbRkZ",
          "name": "Santiago Rubio parra <santi21435@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "ac248c68-b8fb-47db-9ec0-d9d4be1a5773"
        }
      }
    ]
  }
]