home_snapshot/ubuntu/nova-os/guia/xus-outreach-before-deterministic-refactor.json
{
  "name": "Xus Outreach Engine - V1.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "dc59087e-6185-4ba8-bd38-ca795bc405e0",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2720,
        -32
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send_outreach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0cc7baef-0b52-46b9-a5f3-ceccb0483965"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_outreach"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26932309-f512-4d72-ae7c-6f4796cf8628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_stats"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "outreach_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82dc7546-5386-4400-b958-d84654b0273b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outreach_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "preview_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1bafb57-9563-4237-b538-73ce225a8c91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "preview_email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "clean_duplicates",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7f4d61ce-a9cd-4c1e-b4be-f6a585a7dd14"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clean_duplicates"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "425e00b1-ded5-46f2-9a51-1804c852d268",
      "name": "🔀 Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1696,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "8a17f5b8-3b5b-4dfa-9d94-9e21518efe36",
      "name": "📋 Read for Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        -704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst total = leads.length;\nconst withEmail = leads.filter(l => l.email && l.email !== 'N/A').length;\nconst contacted = leads.filter(l => String(l.contactado).toUpperCase() === 'TRUE').length;\nconst replied = leads.filter(l => String(l.respondio).toUpperCase() === 'TRUE').length;\nconst byTier = {};\nleads.forEach(l => { const t = l.tier || 'Sin tier'; if (!byTier[t]) byTier[t] = { total: 0, contacted: 0, withEmail: 0 }; byTier[t].total++; if (String(l.contactado).toUpperCase() === 'TRUE') byTier[t].contacted++; if (l.email && l.email !== 'N/A') byTier[t].withEmail++; });\nconst byNiche = {};\nleads.forEach(l => { const n = l.niche || 'Sin nicho'; byNiche[n] = (byNiche[n] || 0) + 1; });\nconst tierLines = Object.entries(byTier).sort(([a],[b]) => a.localeCompare(b)).map(([t,d]) => `  • ${t}: ${d.total} total, ${d.withEmail} con email, ${d.contacted} contactados`).join('\\n');\nconst nicheLines = Object.entries(byNiche).sort(([,a],[,b]) => b - a).slice(0, 8).map(([n,c]) => `  • ${n}: ${c}`).join('\\n');\nconst pendientes = withEmail - contacted;\nconst text = `📊 *Estadísticas de Leads*\\n\\n📋 *General:*\\n• Total: ${total}\\n• Con email: ${withEmail}\\n• Contactados: ${contacted}\\n• Respondieron: ${replied}\\n• *Pendientes: ${pendientes}*\\n\\n📈 *Por Tier:*\\n${tierLines}\\n\\n🏥 *Por Nicho (top):*\\n${nicheLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `${total} leads, ${withEmail} con email, ${contacted} contactados, ${pendientes} pendientes` }}];"
      },
      "id": "ce674f67-0645-455f-9813-e2d58758e4be",
      "name": "📊 Calc Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "2de4ad88-4119-428d-bf76-85e50a23f926",
      "name": "📋 Read for Preview",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1472,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst candidate = leads.find(l => { const email = l.email || ''; return email.includes('@') && email !== 'N/A' && String(l.contactado).toUpperCase() !== 'TRUE'; });\nif (!candidate) { return [{ json: { textResponse: '📋 *Preview*\\n\\nNo hay leads pendientes para mostrar.', toolResponse: 'Sin leads pendientes' }}]; }\nconst reviews = parseInt(candidate.reviews_count) || 0;\nconst rating = parseFloat(candidate.rating) || 0;\nconst hasWeb = candidate.website && candidate.website.length > 10 && candidate.website !== 'N/A';\nconst hasIg = candidate.instagram && candidate.instagram.length > 5 && candidate.instagram !== 'N/A';\nlet angle = 'general';\nif (reviews >= 50) angle = 'volume';\nelse if (hasIg) angle = 'social';\nelse if (hasWeb) angle = 'web';\nconst text = `📋 *Preview — Próximo Lead*\\n\\n🏥 *${candidate.business_name}*\\n📍 ${candidate.city} | ${candidate.niche}\\n📧 ${candidate.email}\\n⭐ ${rating}★ — ${reviews} reseñas\\n🏷️ ${candidate.tier} | Score: ${candidate.score}\\n🌐 Web: ${hasWeb ? '✅' : '❌'} | IG: ${hasIg ? '✅' : '❌'}\\n\\n🎯 *Ángulo:* ${angle}\\n📝 *Notas:* ${candidate.notas_investigacion || 'Sin notas'}\\n⭐ *Destacable:* ${candidate.datos_destacables || 'Nada'}\\n\\n_El email se generará con IA al momento de enviar._`;\nreturn [{ json: { textResponse: text, toolResponse: `Preview: ${candidate.business_name} (${candidate.tier}, ${reviews} reseñas, ángulo: ${angle})` }}];"
      },
      "id": "8c3fb630-70c0-4578-a892-161990db24a4",
      "name": "🔍 Preview Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        480
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "email_log",
          "mode": "list",
          "cachedResultName": "email_log"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "f34dcb2d-e30f-42f6-b252-63c6e73eaf36",
      "name": "📋 Read for Report1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        -896
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let logs = [];\ntry { logs = $input.all().map(i => i.json); } catch(e) {}\nif (logs.length === 0) { return [{ json: { textResponse: '📊 *Reporte de Outreach*\\n\\nNo hay correos enviados aún.', toolResponse: 'Sin correos enviados' }}]; }\nconst total = logs.length;\nconst sent = logs.filter(l => l.delivery_status === 'sent').length;\nconst failed = logs.filter(l => l.delivery_status === 'failed').length;\nconst replied = logs.filter(l => String(l.reply_detected).toLowerCase() === 'true').length;\nconst initial = logs.filter(l => (l.variant || '').startsWith('initial')).length;\nconst followup = total - initial;\nconst recent = logs.slice(-10).reverse();\nconst recentLines = recent.map(l => { const status = l.delivery_status === 'sent' ? '✅' : '❌'; const reply = String(l.reply_detected).toLowerCase() === 'true' ? ' 💬' : ''; const date = l.email_sent_date ? l.email_sent_date.split('T')[0] : '?'; return `  ${status}${reply} ${l.subject || '?'} — ${date}`; }).join('\\n');\nconst successRate = total > 0 ? Math.round((sent / total) * 100) : 0;\nconst replyRate = sent > 0 ? Math.round((replied / sent) * 100) : 0;\nconst text = `📊 *Reporte de Outreach*\\n\\n📧 *Total:* ${total} correos\\n✅ Enviados: ${sent} (${successRate}%)\\n❌ Fallidos: ${failed}\\n💬 Respondieron: ${replied} (${replyRate}%)\\n📨 Iniciales: ${initial} | Follow-ups: ${followup}\\n\\n📋 *Últimos 10:*\\n${recentLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `${total} correos, ${sent} exitosos (${successRate}%), ${replied} respuestas (${replyRate}%)` }}];"
      },
      "id": "ff5e0ae1-d5de-47cb-a417-cc24de98a29f",
      "name": "📊 Gen Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -896
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "415051a8-7233-4ed9-ba49-25d35c174a5f",
      "name": "⏰ Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2720,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ SMART INPUT v2 — Extrae cantidad con regex, no LLM ═══\nconst staticData = $getWorkflowStaticData('global');\nstaticData.sentThisRun = [];\nstaticData.batch = [];\n\nconst input = $input.first().json;\n\nconst query = (\n  input.query ||\n  input.message ||\n  input.text ||\n  (input.message && input.message.text) ||\n  ''\n).trim();\n\nconst chatId = (\n  input.chatId ||\n  input.chat_id ||\n  (input.message && input.message.chat && input.message.chat.id) ||\n  ''\n).toString();\n\n// ✅ FIX CANTIDAD: Extraer con regex — determinista, no depende del LLM\n// El Classifier a veces devuelve quantity:0 aunque el usuario dijo \"2\"\n// causando effectiveMax = 50 (default) → se mandaban 50 correos\nlet direct_quantity = 0;\nif (query) {\n  const numMatch = query.match(/\\b(\\d+)\\b/);\n  if (numMatch) {\n    const num = parseInt(numMatch[1]);\n    if (num >= 1 && num <= 10000) direct_quantity = num;\n  }\n}\n\nif (query) {\n  return [{ json: { query, chatId, direct_quantity, _source: 'manual' } }];\n} else {\n  return [{ json: { query: 'envía outreach automático diario', chatId: '', direct_quantity: 0, _source: 'schedule' } }];\n}"
      },
      "id": "a024bbc4-38cf-43e6-9981-951d33ac8697",
      "name": "📦 Schedule Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2496,
        64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DE SANTIAGO:\n\"{{ $json.query || $json.message || $json.text || '' }}\"",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🧠 NOVA OUTREACH CLASSIFIER v2.0\n═══════════════════════════════════════════════════════════\n\nEres el clasificador del sistema de outreach de Nova.\nTu trabajo es entender qué quiere Santiago y extraer los parámetros.\n\nRESPONDE SOLO JSON PURO. Sin markdown. Primera { última }\n\n═══ ACCIONES ═══\n\nsend_outreach → Enviar correos de prospección a leads\nlead_stats → Ver estadísticas de los leads (cuántos hay, por tier, etc)\noutreach_report → Ver historial/reporte de correos enviados\npreview_email → Ver cómo se vería el próximo email sin enviarlo\n\n═══ CLASIFICACIÓN ═══\n\n\"envía correos\" / \"manda emails\" / \"contacta leads\" / \"outreach\" / \"prospectar\" → send_outreach\n\"cuántos leads\" / \"estadísticas\" / \"stats\" / \"resumen de leads\" → lead_stats\n\"reporte\" / \"cómo va\" / \"historial\" / \"qué se ha enviado\" → outreach_report\n\"preview\" / \"muéstrame un ejemplo\" / \"cómo se ve el email\" → preview_email\n\"automático diario\" / sin contexto claro → send_outreach\n\n═══ EXTRACCIÓN DE CANTIDAD ═══\n\n\"contacta a 5 leads\" → quantity: 5\n\"todos los que puedas\" → quantity: 50\nNO menciona cantidad → quantity: 0\n\n═══ OUTPUT ═══\n{\"action\":\"send_outreach\",\"quantity\":5,\"tier_filter\":\"\",\"niche_filter\":\"\",\"city_filter\":\"\",\"only_followups\":false,\"only_new\":false,\"intent_description\":\"enviar 5 correos de prospección\"}"
        }
      },
      "id": "a01af711-a5ea-43ba-85e6-2e75cbd4051e",
      "name": "🧠 Outreach Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2272,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 🔗 MANUAL BRIDGE v3 — Nova manual lane ═══\n\nconst aiRaw = $input.first().json;\nconst trigger = $('When Executed by Another Workflow');\nlet chatId = '';\ntry { chatId = trigger.first().json.chatId || trigger.first().json.chat_id || ''; } catch (e) {}\ntry { if (!chatId) chatId = $('📦 Schedule Input').first().json.chatId || ''; } catch (e) {}\n\nlet directQuantity = 0;\ntry { directQuantity = parseInt($('📦 Schedule Input').first().json.direct_quantity) || 0; } catch (e) {}\n\nlet ai = {};\ntry {\n  let text = aiRaw.output || aiRaw.text || '';\n  if (typeof text === 'object' && text.action) {\n    ai = text;\n  } else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) ai = JSON.parse(match[0]);\n  }\n} catch (e) {\n  ai = { action: 'send_outreach', quantity: 0 };\n}\n\nconst llmQty = parseInt(ai.quantity) || 0;\nconst quantity = llmQty > 0 ? llmQty : directQuantity;\nconst effectiveMax = quantity > 0 ? Math.min(quantity, 10000) : 100;\nconst publicAppUrl = 'http://54.160.79.60:3005';\n\nreturn [{ json: {\n  action: ai.action || 'send_outreach',\n  quantity,\n  effective_max: effectiveMax,\n  tier_filter: ai.tier_filter || '',\n  niche_filter: ai.niche_filter || '',\n  city_filter: ai.city_filter || '',\n  only_followups: ai.only_followups || false,\n  only_new: ai.only_new || false,\n  intent_description: ai.intent_description || '',\n  chatId,\n  _entry_mode: 'manual',\n  _qty_source: llmQty > 0 ? 'llm' : (directQuantity > 0 ? 'regex_override' : 'default_100'),\n  config: {\n    brand_name: 'Nova',\n    brand_home_url: publicAppUrl,\n    brand_logo_url: `${publicAppUrl}/brand/nova/isotipo-dark.png`,\n    brand_logo_light_url: `${publicAppUrl}/brand/nova/isotipo-light.png`,\n    website_url: publicAppUrl,\n    sheet_id: '1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA',\n    sender_name: 'Santiago Rubio',\n    sender_title: 'CEO · Nova',\n    sender_phone: '+57 312 434 8669',\n    whatsapp_link: 'https://wa.me/573124348669',\n    max_emails_per_run: effectiveMax,\n    schedule_batch_size: 40,\n    max_followups: 3,\n    followup_delay_days: 3,\n    min_tier: 3,\n    daily_send_hour: '09:00',\n    timezone: 'America/Bogota',\n    personalization_mode: 'ai',\n    dedupe_mode: 'gmail_sent_plus_sheet',\n    service_name: 'Nova',\n    service_pitch: 'automatiza el agendamiento por WhatsApp con reglas, disponibilidad y seguimiento.',\n    offer_text: 'En Nova resolvemos preguntas frecuentes, filtramos intención y agendamos citas por WhatsApp sin que su equipo tenga que responder cada mensaje.',\n    cta_text: '¿Tiene 10 minutos esta semana para que le muestre cómo funcionaría en su operación?',\n    close_text: 'Si prefiere, también se lo puedo resumir por WhatsApp.',\n    use_real_company_data: true,\n    use_ai_only_when_needed: true,\n  }\n}}];"
      },
      "id": "7b777c29-8971-4f2a-9319-e08963804418",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('🔧 Filter Eligible').first().json;\nconst s = data._stats || {};\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nconst qtyNote = qty > 0 ? `\\n📌 Pediste ${qty} pero no hay elegibles.` : '';\nconst filterNote = filters.length > 0 ? `\\n🔍 Filtros: ${filters.join(', ')}` : '';\nconst text = `⚠️ *No hay leads elegibles*${qtyNote}${filterNote}\\n\\n📊 *Stats:*\\n• Total en hoja: ${s.total || 0}\\n• Sin email: ${s.noEmail || 0}\\n• Email inválido: ${s.invalid || 0}\\n• Tier filtrado: ${s.tierSkip || 0}\\n` + (s.nicheSkip ? `• Nicho filtrado: ${s.nicheSkip}\\n` : '') + (s.citySkip ? `• Ciudad filtrada: ${s.citySkip}\\n` : '') + `• Ya completados: ${s.done || 0}`;\nreturn [{ json: { textResponse: text, toolResponse: 'No hay leads elegibles' } }];"
      },
      "id": "11b67eb3-ff05-41b4-a6e2-a48a55b80385",
      "name": "⚠️ No Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "7f2cfd0e-e8fd-4d2f-a34e-094603bd9588",
      "name": "📋 Read Leads Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1472,
        -544
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has",
              "leftValue": "={{ $json._has_leads }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cf3e367f-bec1-46b7-9d12-284774ddd276",
      "name": "❓ Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "outreach_control",
          "mode": "list"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "dc963530-5a1e-4b7b-9747-be33130275e8",
      "name": "📋 Read Outreach Control",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1248,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nconst filterLine = filters.length > 0 ? '\\n🔍 Filtros: ' + filters.join(', ') : '';\nconst text = `📧 *Outreach iniciado*\\n\\n🔄 Procesando ${count} correos en segundo plano.${filterLine}\\n⏱️ Te aviso cuando termine.`;\nreturn [{ json: { textResponse: text, toolResponse: `Outreach: ${count} correos en proceso` }}];"
      },
      "id": "e479e2e5-3b9c-47ca-a9cd-4449b024ae9e",
      "name": "⚡ Respuesta Rápida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -512
      ]
    },
    {
      "parameters": {
        "jsCode": "let data = {};\ntry { data = $input.first().json; } catch(e) {}\nconst textResponse = data.textResponse || '📧 Outreach en proceso — te notifico cuando termine.';\nconst toolResponse = data.toolResponse || 'Outreach iniciado en segundo plano';\nreturn [{ json: { textResponse, toolResponse } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -512
      ],
      "id": "f945eb06-26e9-4a23-846d-23f0470090df",
      "name": "📤 OUTPUT"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        -496
      ],
      "id": "c435bb32-117a-432c-bc48-8317fe04fd17",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "92a12194-c133-49b1-b342-892e196f360e",
      "name": "🔄 Email Send Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        64
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "db5f3d32-901e-42a9-b886-bf207270a902",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2016,
        96
      ],
      "webhookId": "98877980-d276-4bd2-b9e9-d2468c3da5ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 20) + 25 }}"
      },
      "id": "6d7ec118-338a-4474-ace0-22e2c9fb4e8f",
      "name": "⏱️ Throttle",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        96
      ],
      "webhookId": "outreach-throttle-001"
    },
    {
      "parameters": {
        "jsCode": "const emailData = $('🎨 HTML Builder').first().json;\nconst sendResult = $('📧 Send Email').first().json;\nconst ok = !sendResult.error && (sendResult.id || sendResult.messageId);\n\nreturn [{ json: {\n  ...emailData,\n  delivery_status: ok ? 'sent' : 'failed',\n  delivery_error: sendResult.error || null,\n  gmail_id: sendResult.id || sendResult.messageId || null\n}}];"
      },
      "id": "28a575a2-73f1-4d35-9d58-40023bd23d4f",
      "name": "✅ Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.batch) staticData.batch = [];\nconst r = $input.first().json;\nstaticData.batch.push({ id: r.lead_id, biz: r.business_name, tier: r.tier, action: r.action_type, status: r.delivery_status });\nreturn $input.all();"
      },
      "id": "66ff21da-0a7c-4d68-b475-8efc9e6d36b0",
      "name": "📈 Accumulate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst batch = staticData.batch || [];\n// LIMPIAR TODO al finalizar\nstaticData.batch = [];\nstaticData.sentThisRun = [];\nstaticData.emailsSentThisRun = [];\n\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nif (bridge.only_followups) filters.push('solo followups');\nif (bridge.only_new) filters.push('solo nuevos');\nconst sent = batch.filter(e => e.status === 'sent').length;\nconst failed = batch.filter(e => e.status === 'failed').length;\nconst skipped = batch.filter(e => e.status === 'skipped').length;\nconst initial = batch.filter(e => e.action === 'initial_contact').length;\nconst followup = batch.length - initial - skipped;\nconst byTier = {};\nbatch.filter(e => e.status !== 'skipped').forEach(e => { byTier[e.tier || '?'] = (byTier[e.tier || '?'] || 0) + 1; });\nconst tierLines = Object.entries(byTier).map(([t,c]) => `  • ${t}: ${c}`).join('\\n');\nconst qtyLine = qty > 0 ? `\\n📌 *Solicitados:* ${qty}` : '';\nconst filterLine = filters.length > 0 ? `\\n🔍 *Filtros:* ${filters.join(', ')}` : '';\nconst skipLine = skipped > 0 ? `\\n⏭️ Saltados (duplicados): ${skipped}` : '';\nconst text = `📧 *Outreach Completado*${qtyLine}${filterLine}\\n\\n✅ Enviados: ${sent}\\n❌ Fallidos: ${failed}${skipLine}\\n\\n📊 *Por tipo:*\\n  • Inicial: ${initial}\\n  • Follow-up: ${followup}\\n\\n📋 *Por Tier:*\\n${tierLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `Outreach: ${sent}/${qty > 0 ? qty : 'auto'} enviados` + (filters.length > 0 ? ' (' + filters.join(', ') + ')' : '') }}];"
      },
      "id": "d5b34ae5-38f5-4984-a69e-a85860e4d248",
      "name": "📊 Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "7f127d13-49d0-4959-b94f-1876db2bb5f6",
      "name": "📢 Callback → XUS Begin",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        -704
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// 🛡️ DEDUP CHECK MEJORADO - Verifica por LEAD_ID y por EMAIL\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst staticData = $getWorkflowStaticData('global');\n\n// Inicializar arrays si no existen\nif (!staticData.sentThisRun) staticData.sentThisRun = [];\nif (!staticData.emailsSentThisRun) staticData.emailsSentThisRun = [];\n\nconst lead = $input.first().json;\nconst leadId = (lead.lead_id || '').toString().trim();\nconst email = (lead.email || '').toLowerCase().trim();\n\n// Sin lead_id, dejarlo pasar con warning\nif (!leadId) {\n  lead._dedup_warning = 'no_lead_id';\n  lead._skip = false;\n  return [{ json: lead }];\n}\n\n// ═══ CHECK 1: Duplicado por lead_id ═══\nif (staticData.sentThisRun.includes(leadId)) {\n  return [{ json: { \n    _skip: true, \n    lead_id: leadId,\n    email: email,\n    _motivo: 'duplicado_lead_id_ya_enviado' \n  }}];\n}\n\n// ═══ CHECK 2: Duplicado por email ═══\nif (email && staticData.emailsSentThisRun.includes(email)) {\n  return [{ json: { \n    _skip: true, \n    lead_id: leadId,\n    email: email,\n    _motivo: 'duplicado_email_ya_enviado' \n  }}];\n}\n\n// ═══ PASAR: Registrar y continuar ═══\nstaticData.sentThisRun.push(leadId);\nif (email) staticData.emailsSentThisRun.push(email);\n\nlead._skip = false;\nreturn [{ json: lead }];"
      },
      "id": "4b61d883-934a-4ff3-901a-e9c3eb831ae1",
      "name": "🛡️ Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -128
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c954a72a-82a1-410a-8cd9-f1aefa7e482c",
      "name": "❓ Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        96,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('❓ Skip?').first().json;\nconst reviews = parseInt(lead.reviews_count) || 0;\nconst rating = parseFloat(lead.rating) || 0;\nlet canMentionReviews = false, volumeLevel = 'none';\nif (reviews >= 200) { canMentionReviews = true; volumeLevel = 'very_high'; } else if (reviews >= 50) { canMentionReviews = true; volumeLevel = 'high'; } else if (reviews >= 15) { volumeLevel = 'medium'; } else if (reviews >= 1) { volumeLevel = 'low'; }\nlet ratingInsight = '', canMentionRating = false;\nif (rating >= 4.8) { ratingInsight = 'Calificación excelente'; canMentionRating = true; } else if (rating >= 4.5) { ratingInsight = 'Muy buena calificación'; canMentionRating = true; } else if (rating >= 4.0) { ratingInsight = 'Buena calificación'; } else { ratingInsight = 'Calificación normal'; }\nconst rawWeb = (lead.website || '').trim();\nconst rawIg = (lead.instagram || '').trim();\nconst hasWeb = rawWeb.length > 10 && rawWeb.toLowerCase() !== 'n/a';\nconst hasIg = rawIg.length > 5 && rawIg.toLowerCase() !== 'n/a';\nconst notes = (lead.notas_investigacion || '').trim();\nconst highlights = (lead.datos_destacables || '').trim();\nconst nicheMap = { 'Medicina Estética': { dolor: 'preguntas sobre precios de botox, hialurónico y disponibilidad', tipo: 'procedimientos' }, 'Odontología': { dolor: 'consultas sobre diseño de sonrisa, ortodoncia y precios', tipo: 'tratamientos dentales' }, 'Dermatología': { dolor: 'consultas repetitivas sobre tratamientos y costos', tipo: 'tratamientos de piel' }, 'Cirugía Plástica': { dolor: 'pacientes que piden mucha info antes de decidirse', tipo: 'cirugías' }, 'Oftalmología': { dolor: 'consultas sobre cirugía láser y disponibilidad', tipo: 'consultas' } };\nconst nicheInfo = nicheMap[lead.niche] || { dolor: 'consultas de pacientes por WhatsApp', tipo: 'servicios' };\nconst rawCity = (lead.city || '').trim();\nconst invalidCities = ['colombia','co','col','n/a','na','','null','undefined','otro','otros','nacional'];\nconst isValidCity = rawCity.length > 2 && !invalidCities.includes(rawCity.toLowerCase());\nconst city = isValidCity ? rawCity : '';\nlet bestAngle = 'general';\nif (volumeLevel === 'very_high' || volumeLevel === 'high') bestAngle = 'volume';\nelse if (canMentionRating && rating >= 4.8) bestAngle = 'reputation';\nelse if (hasIg && volumeLevel !== 'none') bestAngle = 'social';\nelse if (hasWeb) bestAngle = 'web';\nelse if (volumeLevel === 'medium') bestAngle = 'growth';\nconst variantSeedSource = String(lead.lead_id || lead.email || lead.business_name || 'nova');\nlet variantSeed = 0;\nfor (const ch of variantSeedSource) variantSeed += ch.charCodeAt(0);\nconst variant = variantSeed % 2 === 0 ? 'A' : 'B';\nconst bizName = (lead.business_name || '').trim();\nlet greeting = 'Hola, buenas tardes.', hasPersonName = false, extractedName = '';\nconst titlePatterns = [/^(Dra?\\.?\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)/i,/^(Dr\\.?\\s+(?:[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+)?([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+))/i];\nconst namePatterns = [/^([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+(?:Medicina|Dermatolog|Odontolog|Clínica|Cirugía|Estética|Dental|Centro|Consult)/i,/^([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)\\s+(?:Medicina|Dermatolog|Odontolog|Estética|Dental)/i];\nconst brandWords = ['clínica','clinica','centro','institute','instituto','dental','smile','sonrisa','odonto','dermo','skin','beauty','estudio','spa','laser','láser','corp','group','salud','medical','med ','the ','los ','las ','diseños','sonríe','sonrie','oral','face','body','alto','new','nova','premium','elite','top'];\nconst bizLower = bizName.toLowerCase();\nconst startsWithBrand = brandWords.some(w => bizLower.startsWith(w));\nif (!startsWithBrand) { for (const pattern of titlePatterns) { const match = bizName.match(pattern); if (match) { let name = match[1].trim(); name = name.replace(/^Dr\\s/i,'Dr. ').replace(/^Dra\\s/i,'Dra. '); const parts = name.split(/\\s+/); if (parts.length >= 3 && parts[0].match(/^Dra?\\.?$/i)) { extractedName = parts[0].replace(/^Dr$/i,'Dr.').replace(/^Dra$/i,'Dra.') + ' ' + parts[parts.length-1]; } else { extractedName = name; } hasPersonName = true; break; } } if (!hasPersonName) { for (const pattern of namePatterns) { const match = bizName.match(pattern); if (match) { extractedName = match[1].trim().split(/\\s+/)[0]; hasPersonName = true; break; } } } }\nif (hasPersonName && extractedName) { greeting = 'Hola ' + extractedName + ', buenas tardes.'; }\nreturn [{ json: { ...lead, _research: { business_name: bizName, city, has_valid_city: isValidCity, niche: lead.niche || 'salud', niche_dolor: nicheInfo.dolor, niche_tipo: nicheInfo.tipo, review_count: reviews, rating, can_mention_reviews: canMentionReviews, can_mention_rating: canMentionRating, rating_insight: ratingInsight, volume_level: volumeLevel, has_website: hasWeb, has_instagram: hasIg, notes, highlights, best_angle: bestAngle, tier: lead.tier || '', is_followup: lead._action === 'followup', followup_number: lead._followup_number || 0, greeting, has_person_name: hasPersonName, extracted_name: extractedName, ab_variant: variant } }}];"
      },
      "id": "21ebf07c-3469-42c2-bb75-a48d1925a681",
      "name": "🔍 Research Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Negocio: {{ $json._research.business_name }}\nCiudad: {{ $json._research.city || 'NO MENCIONAR CIUDAD' }}\nCiudad válida: {{ $json._research.has_valid_city }}\nNicho: {{ $json._research.niche }}\nTipo servicios: {{ $json._research.niche_tipo }}\nReseñas: {{ $json._research.review_count }}\nRating: {{ $json._research.rating }}★\n¿Mencionar reseñas?: {{ $json._research.can_mention_reviews }}\n¿Mencionar rating?: {{ $json._research.can_mention_rating }}\nRating insight: {{ $json._research.rating_insight }}\nVolumen: {{ $json._research.volume_level }}\nWebsite: {{ $json._research.has_website }}\nInstagram: {{ $json._research.has_instagram }}\nNotas: {{ $json._research.notes || 'ninguna' }}\nDestacable: {{ $json._research.highlights || 'nada' }}\nÁngulo: {{ $json._research.best_angle }}\nVariante A/B: {{ $json._research.ab_variant }}\nEs followup: {{ $json._research.is_followup }}\n\nGenera el JSON con ambas variantes.",
        "options": {
          "systemMessage": "Eres Santiago Rubio, CEO de Nova, Medellín. Escribes correos de prospección a clínicas.\n\nTU SERVICIO: Sistema que agenda citas automáticamente por WhatsApp.\n\nTU VOZ: Colombiano, directo, respetuoso. Usas \"usted\". Frases CORTAS (máx 18 palabras).\nPROHIBIDO: \"he notado\", \"he observado\", \"me permito\", \"quisiera felicitarlos\", \"revolucionar\", \"potenciar\".\n\nOUTPUT JSON:\n{\"hook_A\":\"\",\"hook_B\":\"\",\"pain_A\":\"\",\"pain_B\":\"\",\"subject_A\":\"\",\"subject_B\":\"\",\"is_followup\":false}\n\nJSON puro. Sin markdown."
        }
      },
      "id": "b57d7ee5-4aac-4a9d-8c8f-b14c8b843e40",
      "name": "✍️ Email Personalizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json;\nconst research = $('🔍 Research Lead').first().json._research;\nconst leadData = $('🔍 Research Lead').first().json;\nconst config = leadData._config || {};\n\nfunction parseAiOutput(raw) {\n  try {\n    let text = raw.output || raw.text || '';\n    if (typeof text === 'object' && text && text.hook_A !== undefined) return text;\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (!match) return null;\n    return JSON.parse(match[0]);\n  } catch (error) {\n    return null;\n  }\n}\n\nfunction buildDeterministicCopy(r, cfg) {\n  const cityPart = r.has_valid_city ? ` en ${r.city}` : '';\n  const angle = r.best_angle || 'general';\n  const niche = r.niche || 'salud';\n  const reviewCount = parseInt(r.review_count || 0, 10) || 0;\n  const rating = parseFloat(r.rating || 0) || 0;\n  const offerText = cfg.offer_text || 'En Nova resolvemos preguntas frecuentes, filtramos intención y agendamos citas por WhatsApp sin que su equipo tenga que responder cada mensaje.';\n\n  const hooksByAngle = {\n    volume: [\n      `${r.business_name}${cityPart} ya mueve un volumen importante de conversaciones por WhatsApp.`,\n      `Cuando una clínica como ${r.business_name} crece, responder WhatsApp a tiempo se vuelve un cuello de botella.`\n    ],\n    reputation: [\n      `${r.business_name} ya tiene buena reputación${rating ? ` (${rating}★)` : ''}; el siguiente cuello suele ser la velocidad de respuesta.`,\n      `Una marca bien posicionada como ${r.business_name} pierde valor cuando el WhatsApp depende de respuesta manual.`\n    ],\n    social: [\n      `Si ${r.business_name} ya atrae atención por Instagram, el siguiente paso es convertir mejor esas conversaciones en citas.`,\n      `El problema no suele ser generar interés; suele ser responder y agendar sin fricción.`\n    ],\n    web: [\n      `${r.business_name} ya tiene presencia digital; el hueco suele estar en lo que pasa cuando un prospecto escribe por WhatsApp.`,\n      `Muchas clínicas invierten en presencia online, pero siguen agendando manualmente por WhatsApp.`\n    ],\n    growth: [\n      `${r.business_name}${cityPart} ya muestra señales de crecimiento y eso suele tensionar la atención por WhatsApp.`,\n      `Cuando entra más demanda, el equipo termina apagando incendios en lugar de agendar con orden.`\n    ],\n    general: [\n      `Trabajamos con clínicas de ${niche}${cityPart} automatizando el agendamiento por WhatsApp.`,\n      `Quería compartirle una forma más ordenada de convertir conversaciones de WhatsApp en citas reales.`\n    ],\n  };\n\n  const painsByAngle = {\n    volume: [\n      `Con ${reviewCount || 'mucho'} volumen, cada demora en contestar termina costando citas.`,\n      `Cuando el equipo responde manualmente, es fácil perder oportunidad, contexto y seguimiento.`\n    ],\n    reputation: [\n      `La reputación atrae demanda, pero si la respuesta tarda, la experiencia se rompe antes de agendar.`,\n      `El problema no es atraer pacientes; es responder con consistencia cuando todos escriben al mismo tiempo.`\n    ],\n    social: [\n      `Instagram genera conversaciones, pero sin un flujo claro muchas quedan sin respuesta o sin cierre.`,\n      `El interés llega, pero el equipo termina filtrando y agendando a mano.`\n    ],\n    web: [\n      `Tener presencia digital no basta si WhatsApp sigue siendo un cuello manual.`,\n      `Cada paciente que pregunta precio, disponibilidad o procedimiento repite el mismo trabajo del equipo.`\n    ],\n    growth: [\n      `Lo que más escuchamos en clínicas similares es que el equipo no da abasto cuando suben las conversaciones.`,\n      `El crecimiento se vuelve desorden cuando la agenda depende de intervención humana en cada mensaje.`\n    ],\n    general: [\n      `Cada mensaje que se demora en contestar es una cita que se enfría.`,\n      `Lo que vemos en clínicas similares es demasiada operación manual para algo repetitivo.`\n    ],\n  };\n\n  const subjectsByAngle = {\n    volume: ['Una idea para responder WhatsApp más rápido', '¿Cómo están manejando el volumen de WhatsApp?'],\n    reputation: ['Una mejora operativa para su WhatsApp', 'Pregunta rápida sobre su atención por WhatsApp'],\n    social: ['Una idea para convertir más conversaciones en citas', '¿Siguen agendando manualmente por WhatsApp?'],\n    web: ['Una mejora concreta para su canal de WhatsApp', '¿Todavía agendan manualmente por WhatsApp?'],\n    growth: ['Pregunta rápida sobre su operación', 'Una idea simple para ordenar el agendamiento'],\n    general: ['Pregunta rápida', '¿Agendan por WhatsApp?'],\n  };\n\n  const hooks = hooksByAngle[angle] || hooksByAngle.general;\n  const pains = painsByAngle[angle] || painsByAngle.general;\n  const subjects = subjectsByAngle[angle] || subjectsByAngle.general;\n\n  return {\n    hook_A: hooks[0],\n    hook_B: hooks[1],\n    pain_A: pains[0],\n    pain_B: pains[1],\n    subject_A: subjects[0],\n    subject_B: subjects[1],\n    offer_text: offerText,\n    is_followup: false,\n    personalization_source: 'rules',\n  };\n}\n\nconst parsedAi = config.personalization_mode === 'ai' ? parseAiOutput(aiRaw) : null;\nconst ai = parsedAi || buildDeterministicCopy(research, config);\nconst personalizationSource = parsedAi ? 'ai' : 'rules';\nconst isFollowup = research.is_followup;\nconst fuNum = research.followup_number;\nconst biz = research.business_name;\nconst greeting = research.greeting || 'Hola, buenas tardes.';\nconst variant = research.ab_variant || 'A';\nconst offerText = ai.offer_text || config.offer_text || 'En Nova resolvemos preguntas frecuentes, filtramos intención y agendamos citas por WhatsApp sin que su equipo tenga que responder cada mensaje.';\nconst ctaText = config.cta_text || '¿Tiene 10 minutos esta semana para que le muestre cómo funcionaría en su operación?';\nconst closeText = config.close_text || 'Si prefiere, también se lo puedo resumir por WhatsApp.';\nlet body = '', subject = '', usedVariant = variant;\n\nif (!isFollowup) {\n  const hook = variant === 'A' ? (ai.hook_A || '') : (ai.hook_B || '');\n  const pain = variant === 'A' ? (ai.pain_A || '') : (ai.pain_B || '');\n  subject = variant === 'A' ? (ai.subject_A || 'Pregunta rápida') : (ai.subject_B || '¿Agendan por WhatsApp?');\n  body = [greeting, hook, pain, offerText, `${ctaText}\\n${closeText}`].filter(Boolean).join('\\n\\n');\n} else if (fuNum === 1) {\n  subject = 'Siguiendo con mi mensaje';\n  usedVariant = 'FU1';\n  body = [\n    greeting,\n    `Le escribí hace unos días sobre ${config.brand_name || 'Nova'} y una forma de automatizar el agendamiento por WhatsApp.`,\n    'Entiendo que está ocupado/a. Solo quería saber si le interesa una llamada corta de 10 minutos.',\n    'Si no es el momento, no hay problema.'\n  ].join('\\n\\n');\n} else if (fuNum === 2) {\n  subject = 'Último intento';\n  usedVariant = 'FU2';\n  body = [\n    greeting,\n    'Sé que su tiempo es valioso, así que seré breve.',\n    `¿${biz} todavía maneja las citas manualmente por WhatsApp? Si la respuesta es sí, le puedo mostrar una alternativa práctica en 10 minutos.`,\n    'Un simple \"sí\" o \"no\" me funciona.'\n  ].join('\\n\\n');\n} else {\n  subject = 'Me despido';\n  usedVariant = 'FU3';\n  body = [\n    greeting,\n    'Este es mi último mensaje sobre este tema.',\n    `Si en algún momento ${biz} necesita automatizar su agendamiento por WhatsApp, aquí estoy.`,\n    'Le deseo mucho éxito.'\n  ].join('\\n\\n');\n}\n\nconst delay = config.followup_delay_days || 3;\nconst nextDate = new Date();\nnextDate.setDate(nextDate.getDate() + delay);\n\nreturn [{ json: {\n  lead_id: leadData.lead_id,\n  business_name: biz,\n  email: leadData.email,\n  send_to: leadData.email,\n  tier: research.tier,\n  city: research.city,\n  niche: research.niche,\n  email_subject: subject,\n  email_body: body,\n  email_variant: isFollowup ? `followup_${fuNum}` : `initial_${usedVariant}`,\n  assigned_angle: research.best_angle,\n  action_type: leadData._action,\n  followup_number: fuNum,\n  new_followup_count: isFollowup ? fuNum : 1,\n  next_followup_date: nextDate.toISOString().split('T')[0],\n  sent_timestamp: new Date().toISOString(),\n  personalization_source: personalizationSource,\n  _config: config,\n  _row_number: leadData._row_number,\n}}];"
      },
      "id": "1261312a-7146-442b-95dd-6927a36a4bc2",
      "name": "📝 Email Assembler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst cfg = data._config || {};\nconst bodyHtml = data.email_body\n  .split('\\n\\n')\n  .filter((p) => p.trim())\n  .map((p) => '<p style=\"margin:0 0 16px 0;\">' + p.replace(/\\n/g, '<br>') + '</p>')\n  .join('');\n\nconst brandName = cfg.brand_name || 'Nova';\nconst brandLogo = cfg.brand_logo_url || '';\nconst brandHome = cfg.brand_home_url || cfg.website_url || '';\nconst senderName = cfg.sender_name || 'Santiago Rubio';\nconst senderTitle = cfg.sender_title || `CEO · ${brandName}`;\nconst whatsapp = cfg.whatsapp_link || '';\nconst website = cfg.website_url || brandHome || '';\n\nconst logoBlock = brandLogo\n  ? `<img src=\"${brandLogo}\" alt=\"${brandName}\" width=\"44\" height=\"44\" style=\"display:block;width:44px;height:44px;object-fit:contain;\">`\n  : `<div style=\"font-size:18px;font-weight:700;color:#111111;\">${brandName}</div>`;\n\nconst links = [\n  whatsapp ? `<a href=\"${whatsapp}\" style=\"color:#111111;text-decoration:none;\">WhatsApp</a>` : '',\n  website ? `<a href=\"${website}\" style=\"color:#111111;text-decoration:none;\">Sitio</a>` : ''\n].filter(Boolean).join(' · ');\n\nconst html = `<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\">\n  </head>\n  <body style=\"margin:0;padding:0;background-color:#f6f6f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      <tr><td style=\"height:40px;\"></td></tr>\n    </table>\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n      <tr>\n        <td align=\"center\" style=\"padding:0 20px;\">\n          <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:560px;background-color:#ffffff;border-radius:16px;overflow:hidden;\">\n            <tr>\n              <td style=\"padding:28px 36px 12px 36px;border-bottom:1px solid #ece7df;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td style=\"vertical-align:middle;\">${logoBlock}</td>\n                    <td align=\"right\" style=\"vertical-align:middle;font-size:12px;line-height:1.6;color:#6b6b6b;letter-spacing:0.08em;text-transform:uppercase;\">${brandName}</td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n            <tr>\n              <td style=\"padding:32px 36px 18px 36px;\">\n                <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                  <tr>\n                    <td style=\"font-size:15px;line-height:1.75;color:#2d2d2d;\">${bodyHtml}</td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n            <tr>\n              <td style=\"padding:22px 36px 34px 36px;background-color:#fbfaf8;border-top:1px solid #ece7df;\">\n                <p style=\"margin:0;font-size:14px;font-weight:700;color:#111111;\">${senderName}</p>\n                <p style=\"margin:4px 0 0;font-size:12px;color:#777777;\">${senderTitle}</p>\n                ${links ? `<p style=\"margin:10px 0 0;font-size:12px;color:#111111;\">${links}</p>` : ''}\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>`;\n\nreturn [{ json: { ...data, email_html: html } }];"
      },
      "id": "ab8ee297-a72a-457c-992f-b447899999b1",
      "name": "🎨 HTML Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "no-contactado-all-formats",
              "leftValue": "={{ ['TRUE','true','True','1',true,1,'yes','YES'].includes($json.contactado) }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62a918a6-97b3-4231-b765-8db10c0c67a5",
      "name": "🔽 No Contactados",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -544
      ]
    },
    {
      "parameters": {
        "jsCode": "const bridge = $('🔗 Bridge').first().json;\nconst config = bridge.config;\nconst tierFilter = bridge.tier_filter ? parseInt(bridge.tier_filter) : 0;\nconst nicheFilter = (bridge.niche_filter || '').toLowerCase();\nconst cityFilter = (bridge.city_filter || '').toLowerCase();\nconst onlyFollowups = bridge.only_followups || false;\nconst onlyNew = bridge.only_new || false;\n\nfunction isValidEmail(email) {\n  if (!email || typeof email !== 'string') return false;\n  const t = email.trim().toLowerCase();\n  if (!t.includes('@') || t === 'n/a') return false;\n  if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/.test(t)) return false;\n  const badDom = ['example.com','test.com','localhost','sentry.io','wixpress.com'];\n  if (badDom.includes(t.split('@')[1])) return false;\n  return true;\n}\n\nfunction parseTier(raw) {\n  const t = (raw || '').toString().toUpperCase().trim();\n  if (t.includes('1') || t === 'A') return 1;\n  if (t.includes('2') || t === 'B') return 2;\n  if (t.includes('3') || t === 'C') return 3;\n  return 4;\n}\n\nfunction isContactado(val) {\n  return ['TRUE','true','True','1','yes','YES'].includes(String(val || '')) || val === true || val === 1;\n}\n\nlet noContactados = [];\ntry { noContactados = $('🔽 No Contactados').all(); } catch(e) {}\n\nlet allLeadsRaw = [];\ntry { allLeadsRaw = $('📋 Read Leads Master').all(); } catch(e) {}\n\nconst allLeadsMap = new Map();\nfor (const item of allLeadsRaw) {\n  const id = (item.json.lead_id || '').toString().trim();\n  if (id) allLeadsMap.set(id, item.json);\n}\n\nlet outreachData = [];\ntry { outreachData = $('📋 Read Outreach Control').all(); } catch(e) {}\n\nconst outreachMap = new Map();\nfor (const row of outreachData) {\n  const id = (row.json.lead_id || '').toString().trim();\n  if (id) {\n    outreachMap.set(id, {\n      contacted: isContactado(row.json.contacted),\n      last_contact_date: row.json.last_contact_date || null,\n      followup_count: parseInt(row.json.followup_count) || 0,\n      response_status: row.json.response_status || 'none',\n      next_followup_date: row.json.next_followup_date || null,\n      assigned_angle: row.json.assigned_angle || null,\n      // ★ DATOS PARA FOLLOWUPS (ya no depende de leads_master)\n      email: row.json.email || null,\n      business_name: row.json.business_name || null,\n      tier: row.json.tier || null,\n      niche: row.json.niche || null,\n      city: row.json.city || null\n    });\n  }\n}\n\nconst MAX_FU = config.max_followups || 3;\nconst FU_DELAY = config.followup_delay_days || 3;\nconst MAX_EMAILS = config.max_emails_per_run || 100;\nconst MIN_TIER = config.min_tier || 3;\nconst today = new Date(); today.setHours(0,0,0,0);\nconst eligible = [];\nconst seenEmails = new Set();\nconst stats = { noEmail: 0, invalid: 0, tierSkip: 0, done: 0, nicheSkip: 0, citySkip: 0, emailDuplicates: 0, total: allLeadsRaw.length, requested: bridge.quantity, effective_max: MAX_EMAILS };\n\n// ── BLOQUE 1: INITIAL CONTACTS ──────────────────────\nif (!onlyFollowups) {\n  for (const item of noContactados) {\n    const lead = item.json;\n    if (isContactado(lead.contactado)) continue;\n\n    let email = lead.email || lead.Email || lead.correo || null;\n    if (!email || email === 'N/A' || email === 'n/a') { stats.noEmail++; continue; }\n    if (!isValidEmail(email)) { stats.invalid++; continue; }\n    email = email.trim().toLowerCase();\n\n    if (seenEmails.has(email)) { stats.emailDuplicates++; continue; }\n    seenEmails.add(email);\n\n    const tierVal = parseTier(lead.tier);\n    if (tierFilter > 0) { if (tierVal !== tierFilter) { stats.tierSkip++; continue; } }\n    else { if (tierVal > MIN_TIER) { stats.tierSkip++; continue; } }\n    if (nicheFilter && !(lead.niche || '').toLowerCase().includes(nicheFilter)) { stats.nicheSkip++; continue; }\n    if (cityFilter && !(lead.city || '').toLowerCase().includes(cityFilter)) { stats.citySkip++; continue; }\n\n    const leadId = (lead.lead_id || '').toString().trim();\n    const oc = leadId ? outreachMap.get(leadId) : null;\n    if (oc) continue;\n\n    eligible.push({ json: { ...lead, email, _action: 'initial_contact', _followup_number: 0, _existing_angle: null, _tier_value: tierVal, _config: config, _has_leads: true }});\n  }\n}\n\n// ── BLOQUE 2: FOLLOWUPS ─────────────────────────────\nif (!onlyNew) {\n  for (const [leadId, oc] of outreachMap) {\n    if (['replied','converted','unsubscribed'].includes(oc.response_status)) { stats.done++; continue; }\n    if (oc.followup_count >= MAX_FU) { stats.done++; continue; }\n\n    let action = null, fuNum = 0;\n    if (oc.next_followup_date && new Date(oc.next_followup_date) <= today) {\n      action = 'followup'; fuNum = oc.followup_count + 1;\n    } else if (oc.contacted && oc.last_contact_date) {\n      const days = Math.floor((today - new Date(oc.last_contact_date)) / 86400000);\n      if (days >= FU_DELAY) { action = 'followup'; fuNum = oc.followup_count + 1; }\n      else continue;\n    } else continue;\n\n    // ★ BUSCA EN leads_master PRIMERO, SI NO EXISTE USA outreach_control\n    let lead = allLeadsMap.get(leadId);\n    if (!lead && oc.email) {\n      lead = {\n        lead_id: leadId,\n        email: oc.email,\n        business_name: oc.business_name || '',\n        tier: oc.tier || '',\n        niche: oc.niche || '',\n        city: oc.city || '',\n        rating: '', reviews_count: '0', score: '',\n        website: '', instagram: '',\n        notas_investigacion: '', datos_destacables: ''\n      };\n    }\n    if (!lead) continue;\n\n    let email = lead.email || lead.Email || lead.correo || null;\n    if (!email || email === 'N/A' || email === 'n/a') { stats.noEmail++; continue; }\n    if (!isValidEmail(email)) { stats.invalid++; continue; }\n    email = email.trim().toLowerCase();\n\n    if (seenEmails.has(email)) { stats.emailDuplicates++; continue; }\n    seenEmails.add(email);\n\n    const tierVal = parseTier(lead.tier);\n    if (tierFilter > 0) { if (tierVal !== tierFilter) { stats.tierSkip++; continue; } }\n    else { if (tierVal > MIN_TIER) { stats.tierSkip++; continue; } }\n    if (nicheFilter && !(lead.niche || '').toLowerCase().includes(nicheFilter)) { stats.nicheSkip++; continue; }\n    if (cityFilter && !(lead.city || '').toLowerCase().includes(cityFilter)) { stats.citySkip++; continue; }\n\n    eligible.push({ json: { ...lead, email, _action: action, _followup_number: fuNum, _existing_angle: oc.assigned_angle, _tier_value: tierVal, _config: config, _has_leads: true }});\n  }\n}\n\neligible.sort((a,b) => {\n  if (a.json._tier_value !== b.json._tier_value) return a.json._tier_value - b.json._tier_value;\n  return (parseFloat(b.json.score)||0) - (parseFloat(a.json.score)||0);\n});\n\nconst batch = eligible.slice(0, MAX_EMAILS);\nif (batch.length === 0) { return [{ json: { _has_leads: false, _stats: stats, _config: config } }]; }\nbatch[0].json._batch_stats = { total_eligible: eligible.length, processing: batch.length, email_duplicates_filtered: stats.emailDuplicates, ...stats };\nreturn batch;"
      },
      "id": "642b809b-d2ea-48a3-96e1-87b065a28f72",
      "name": "🔧 Filter Eligible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        64
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "658e7872-9dee-44a2-a656-6a2a9d8da18d",
      "name": "🔗 Merge Reads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1024,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log duplicado saltado para el reporte\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.batch) staticData.batch = [];\n\nconst r = $input.first().json;\nstaticData.batch.push({ \n  id: r.lead_id, \n  biz: 'DUPLICADO', \n  tier: '-', \n  action: 'skip', \n  status: 'skipped',\n  motivo: r._motivo || 'duplicado'\n});\n\nreturn $input.all();"
      },
      "id": "36ae25c1-dc89-4903-a844-ff6d48af0fab",
      "name": "📝 Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 1622353451,
          "mode": "list",
          "cachedResultName": "email_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=1622353451"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "email_sent_date": "={{ $json.sent_timestamp }}",
            "subject": "={{ $json.email_subject }}",
            "variant": "={{ $json.email_variant }}",
            "delivery_status": "={{ $json.delivery_status }}",
            "reply_detected": "=false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_sent_date",
              "displayName": "email_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "variant",
              "displayName": "variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_detected",
              "displayName": "reply_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          },
          "useAppend": true
        }
      },
      "id": "fa399911-d094-482d-a418-6650179f345a",
      "name": "📊 Log email_log1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2688,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para leads_procesados usando ✅ Check Result (datos completos)\nconst cr = $('✅ Check Result').first().json;\nconst now = new Date().toISOString();\n\nreturn [{ json: {\n  lead_id: cr.lead_id || '',\n  business_name: cr.business_name || '',\n  email: cr.email || '',\n  tier: cr.tier || '',\n  city: cr.city || '',\n  niche: cr.niche || '',\n  action_type: cr.action_type || '',\n  email_subject: cr.email_subject || '',\n  email_variant: cr.email_variant || '',\n  delivery_status: cr.delivery_status || '',\n  gmail_id: cr.gmail_id || '',\n  contacted_at: cr.sent_timestamp || '',\n  moved_at: now,\n  followup_number: cr.followup_number || 0,\n  assigned_angle: cr.assigned_angle || '',\n  next_followup_date: cr.next_followup_date || ''\n}}];"
      },
      "id": "54e87fcf-1fdf-4a88-9a9f-3397f36379c1",
      "name": "📦 Prep leads_procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads_procesados",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "business_name": "={{ $json.business_name }}",
            "email": "={{ $json.email }}",
            "tier": "={{ $json.tier }}",
            "city": "={{ $json.city }}",
            "niche": "={{ $json.niche }}",
            "action_type": "={{ $json.action_type }}",
            "email_subject": "={{ $json.email_subject }}",
            "email_variant": "={{ $json.email_variant }}",
            "delivery_status": "={{ $json.delivery_status }}",
            "gmail_id": "={{ $json.gmail_id }}",
            "contacted_at": "={{ $json.contacted_at }}",
            "moved_at": "={{ $json.moved_at }}",
            "followup_number": "={{ $json.followup_number }}",
            "assigned_angle": "={{ $json.assigned_angle }}",
            "next_followup_date": "={{ $json.next_followup_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_type",
              "displayName": "action_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_variant",
              "displayName": "email_variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_id",
              "displayName": "gmail_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted_at",
              "displayName": "contacted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moved_at",
              "displayName": "moved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_number",
              "displayName": "followup_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_angle",
              "displayName": "assigned_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_date",
              "displayName": "next_followup_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "0505688a-af43-4531-9da8-bf390bc73824",
      "name": "📊 Mover a leads_procesados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3584,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('✅ Check Result').item.json.email }}",
            "contactado": "=TRUE",
            "fecha_proximo_correo": "={{ $('✅ Check Result').item.json.next_followup_date }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_primer_contacto",
              "displayName": "fecha_primer_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correos_enviados",
              "displayName": "correos_enviados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "etapa_secuencia",
              "displayName": "etapa_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respondio",
              "displayName": "respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_respuesta",
              "displayName": "tipo_respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ultimo_correo",
              "displayName": "fecha_ultimo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_proximo_correo",
              "displayName": "fecha_proximo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_investigacion",
              "displayName": "notas_investigacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "datos_destacables",
              "displayName": "datos_destacables",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tiene_email",
              "displayName": "tiene_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_valido",
              "displayName": "email_valido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "motivo_descarte",
              "displayName": "motivo_descarte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "3d073fb1-2446-426e-aa4d-cc7c6a945e84",
      "name": "📊 Log leads_master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2912,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 114365829,
          "mode": "list",
          "cachedResultName": "outreach_control",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=114365829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('✅ Check Result').item.json.lead_id }}",
            "contacted": "=true",
            "last_contact_date": "={{ $('✅ Check Result').item.json.sent_timestamp }}",
            "followup_count": "={{ $('✅ Check Result').item.json.followup_number }}",
            "response_status": "=awaiting",
            "next_followup_date": "={{ $('✅ Check Result').item.json.next_followup_date }}",
            "assigned_angle": "={{ $('✅ Check Result').item.json.assigned_angle }}",
            "email": "={{ $('✅ Check Result').item.json.email }}",
            "business_name": "={{ $('✅ Check Result').item.json.business_name }}",
            "tier": "={{ $('✅ Check Result').item.json.tier }}",
            "niche": "={{ $('✅ Check Result').item.json.niche }}",
            "city": "={{ $('✅ Check Result').item.json.city }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_contact_date",
              "displayName": "last_contact_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_count",
              "displayName": "followup_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_status",
              "displayName": "response_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_date",
              "displayName": "next_followup_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_angle",
              "displayName": "assigned_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "aeff95b8-42d4-484f-994f-f034fe33b606",
      "name": "📊 Update outreach_control1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3136,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2208,
        288
      ],
      "id": "de1e222e-e7b7-4326-b5b6-ccfdd73a96a2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        320
      ],
      "id": "d7199f31-53b3-4e43-a6b3-5f312bd40c86",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "governance",
        "operation": "evaluate",
        "agentId": "agent_6d3a8916ffa32c0d",
        "legacyTokenId": "3",
        "action": "send_email",
        "payloadJson": "={\"recipient\":\"{{$json.email}}\",\"subject\":\"{{$json.email_subject}}\",\"business_name\":\"{{$json.business_name}}\",\"lead_id\":\"{{$json.lead_id}}\",\"variant\":\"{{$json.email_variant}}\",\"body_length\":{{$json.email_body.length}}}"
      },
      "type": "n8n-nodes-nova.nova",
      "typeVersion": 1,
      "position": [
        1344,
        96
      ],
      "id": "faa1355a-5348-4df7-b1fe-6fd217b55eec",
      "name": "🛡️ Nova Evaluate Send",
      "credentials": {
        "novaApi": {
          "id": "d1f28933128d46c1",
          "name": "Nova Workflow QA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "nova-approved-check",
              "leftValue": "={{ $json.nova.decision.action || $json.nova.verdict || \"\" }}",
              "rightValue": "ALLOW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        96
      ],
      "id": "93b2c527-165b-4200-8157-8c8db41da605",
      "name": "🔀 Nova Approved?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "91f3d6a5-4100-480f-aabe-0d79ecaca49e",
      "name": "📋 Read for Dedup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1472,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ═══ 🔍 FIND DUPLICATES v1.0 ═══════════════════════════════════════════════\n// Agrupa por email normalizado y por lead_id.\n// Conserva el de mayor score; el resto son duplicados.\n// Retorna los duplicados ordenados DESC por _row_number\n// para que la eliminación posterior sea de abajo hacia arriba (sin desplazamiento).\n\nconst all = $input.all().map((item, idx) => ({\n  ...item.json,\n  _row_number: idx + 2   // fila 1 = encabezado, datos desde fila 2\n}));\n\nconst dupRowNums = new Set();\nconst duplicates = [];\n\n// ── Por email ──────────────────────────────────────────────────────────────\nconst byEmail = new Map();\nfor (const row of all) {\n  const email = (row.email || '').trim().toLowerCase();\n  if (!email || email === 'n/a' || !email.includes('@')) continue;\n  if (!byEmail.has(email)) byEmail.set(email, []);\n  byEmail.get(email).push(row);\n}\nfor (const [, group] of byEmail) {\n  if (group.length <= 1) continue;\n  group.sort((a,b) => (parseFloat(b.score)||0) - (parseFloat(a.score)||0));\n  for (let i = 1; i < group.length; i++) {\n    if (!dupRowNums.has(group[i]._row_number)) {\n      dupRowNums.add(group[i]._row_number);\n      duplicates.push({ ...group[i], motivo_descarte: 'duplicado_email' });\n    }\n  }\n}\n\n// ── Por lead_id ────────────────────────────────────────────────────────────\nconst byId = new Map();\nfor (const row of all) {\n  const id = (row.lead_id || '').toString().trim();\n  if (!id) continue;\n  if (!byId.has(id)) byId.set(id, []);\n  byId.get(id).push(row);\n}\nfor (const [, group] of byId) {\n  if (group.length <= 1) continue;\n  group.sort((a,b) => (parseFloat(b.score)||0) - (parseFloat(a.score)||0));\n  for (let i = 1; i < group.length; i++) {\n    if (!dupRowNums.has(group[i]._row_number)) {\n      dupRowNums.add(group[i]._row_number);\n      duplicates.push({ ...group[i], motivo_descarte: 'duplicado_lead_id' });\n    }\n  }\n}\n\nif (duplicates.length === 0) {\n  return [{ json: {\n    _has_duplicates: false,\n    _total_leads: all.length,\n    _duplicates_found: 0\n  }}];\n}\n\n// CRÍTICO: ordenar DESC para borrar de abajo hacia arriba sin desplazamiento\nduplicates.sort((a,b) => b._row_number - a._row_number);\n\nconst summary = {\n  _has_duplicates: true,\n  _total_leads: all.length,\n  _duplicates_found: duplicates.length\n};\n\nreturn duplicates.map(d => ({ json: { ...d, ...summary } }));\n"
      },
      "id": "c10e6211-bd40-44cc-8298-eb03d203c39a",
      "name": "🔍 Find Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-dups-check",
              "leftValue": "={{ $json._has_duplicates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9992bf1a-9118-42db-bc22-3b08c31bed36",
      "name": "❓ Has Dups?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1024,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst total = $input.first().json._total_leads || 0;\nconst text = `✅ *Sin duplicados*\\n\\n📋 Total leads en la hoja: ${total}\\n\\nTodos los registros son únicos. No se movió nada.`;\nreturn [{ json: { textResponse: text, toolResponse: `Sin duplicados. ${total} leads únicos.` } }];\n"
      },
      "id": "bddd9ed4-596d-43a7-b4a1-78ce5de2626d",
      "name": "⚡ Sin Duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Prepara cada duplicado para ser insertado en leads_procesados con todos los campos\nconst d = $input.item.json;\nconst now = new Date().toISOString();\nreturn [{ json: {\n  lead_id:              d.lead_id              || '',\n  business_name:        d.business_name        || '',\n  email:                d.email                || '',\n  phone:                d.phone                || '',\n  website:              d.website              || '',\n  instagram:            d.instagram            || '',\n  rating:               d.rating               || '',\n  reviews_count:        d.reviews_count        || '',\n  score:                d.score                || '',\n  tier:                 d.tier                 || '',\n  city:                 d.city                 || '',\n  niche:                d.niche                || '',\n  source:               d.source               || '',\n  created_at:           d.created_at           || '',\n  contactado:           d.contactado           || '',\n  fecha_primer_contacto:d.fecha_primer_contacto|| '',\n  correos_enviados:     d.correos_enviados      || '',\n  etapa_secuencia:      d.etapa_secuencia      || '',\n  respondio:            d.respondio            || '',\n  tipo_respuesta:       d.tipo_respuesta       || '',\n  fecha_ultimo_correo:  d.fecha_ultimo_correo  || '',\n  fecha_proximo_correo: d.fecha_proximo_correo || '',\n  notas_investigacion:  d.notas_investigacion  || '',\n  datos_destacables:    d.datos_destacables    || '',\n  tiene_email:          d.tiene_email          || '',\n  email_valido:         d.email_valido         || '',\n  prioridad:            d.prioridad            || '',\n  motivo_descarte:      d.motivo_descarte      || 'duplicado',\n  // campos de trazabilidad\n  _moved_at:            now,\n  _row_number:          d._row_number          || 0\n}}];\n"
      },
      "id": "bb4322ab-b89f-4bc5-b8a0-beeeef39db27",
      "name": "📦 Prep Dups → procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        768
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads_procesados",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "business_name": "={{ $json.business_name }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "website": "={{ $json.website }}",
            "instagram": "={{ $json.instagram }}",
            "rating": "={{ $json.rating }}",
            "reviews_count": "={{ $json.reviews_count }}",
            "score": "={{ $json.score }}",
            "tier": "={{ $json.tier }}",
            "city": "={{ $json.city }}",
            "niche": "={{ $json.niche }}",
            "source": "={{ $json.source }}",
            "created_at": "={{ $json.created_at }}",
            "contactado": "={{ $json.contactado }}",
            "fecha_primer_contacto": "={{ $json.fecha_primer_contacto }}",
            "correos_enviados": "={{ $json.correos_enviados }}",
            "etapa_secuencia": "={{ $json.etapa_secuencia }}",
            "respondio": "={{ $json.respondio }}",
            "tipo_respuesta": "={{ $json.tipo_respuesta }}",
            "fecha_ultimo_correo": "={{ $json.fecha_ultimo_correo }}",
            "fecha_proximo_correo": "={{ $json.fecha_proximo_correo }}",
            "notas_investigacion": "={{ $json.notas_investigacion }}",
            "datos_destacables": "={{ $json.datos_destacables }}",
            "tiene_email": "={{ $json.tiene_email }}",
            "email_valido": "={{ $json.email_valido }}",
            "prioridad": "={{ $json.prioridad }}",
            "motivo_descarte": "={{ $json.motivo_descarte }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_primer_contacto",
              "displayName": "fecha_primer_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correos_enviados",
              "displayName": "correos_enviados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etapa_secuencia",
              "displayName": "etapa_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respondio",
              "displayName": "respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_respuesta",
              "displayName": "tipo_respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ultimo_correo",
              "displayName": "fecha_ultimo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_proximo_correo",
              "displayName": "fecha_proximo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_investigacion",
              "displayName": "notas_investigacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_destacables",
              "displayName": "datos_destacables",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tiene_email",
              "displayName": "tiene_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_valido",
              "displayName": "email_valido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_descarte",
              "displayName": "motivo_descarte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "4268f143-dc26-4a3e-9e73-93107dd7f5ac",
      "name": "📊 Append Dups → leads_procesados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -576,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "startIndex": "={{ $json._row_number - 1 }}"
      },
      "id": "ffc4ba1b-64b5-4775-aa68-6b2d9d6155fc",
      "name": "🗑️ Delete Dup from leads_master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -352,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst items  = $input.all();\nconst first  = items[0]?.json || {};\nconst total  = first._total_leads      || '?';\nconst found  = first._duplicates_found || items.length;\nconst kept   = (parseInt(total)||0) - (parseInt(found)||0);\nconst text   = `🧹 *Limpieza completada*\\n\\n` +\n               `📋 Total leads procesados: ${total}\\n` +\n               `🔁 Duplicados encontrados: ${found}\\n` +\n               `✅ Leads únicos que quedan: ${kept}\\n\\n` +\n               `Los duplicados fueron movidos a *leads_procesados* y borrados de *leads_master*.\\n` +\n               `La próxima ejecución de outreach solo verá leads únicos.`;\nreturn [{ json: { textResponse: text, toolResponse: `${found} duplicados removidos. ${kept} leads únicos en leads_master.` }}];\n"
      },
      "id": "ab8af0b7-7ee9-4de9-a161-6f0ea3a86350",
      "name": "📢 Dedup Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "const emailData = $input.first().json;\nconst recipient = String(emailData.email || emailData.send_to || '').trim().toLowerCase();\nif (!recipient || !recipient.includes('@')) {\n  throw new Error('Missing recipient email for Gmail duplicate check.');\n}\nconst query = `in:sent to:${recipient}`;\nreturn [{ json: { ...emailData, gmail_duplicate_query: query, recipient_email_normalized: recipient } }];"
      },
      "id": "7821d8af-2158-4de3-90d5-a911901ac6ad",
      "name": "🔎 Build Gmail Sent Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        736
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "q": "={{ $json.gmail_duplicate_query }}"
        }
      },
      "id": "52aa3659-971c-42ad-a3f4-0b4e2154ff4d",
      "name": "📬 Search Sent Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        736
      ],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $('🔎 Build Gmail Sent Query').first().json;\nconst matches = $input.all().map(item => item.json || {}).filter(item => item.id);\nconst first = matches[0] || {};\nreturn [{ json: { ...source, _gmail_duplicate_found: matches.length > 0, _gmail_duplicate_count: matches.length, _gmail_duplicate_first_id: first.id || '', _gmail_duplicate_first_subject: first.subject || '', _gmail_duplicate_first_date: first.internalDate || first.date || '' } }];"
      },
      "id": "3d00d54e-db61-427f-b27a-1300fd46689c",
      "name": "🧮 Analyze Gmail Sent Matches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gmail-duplicate-found",
              "leftValue": "={{ $json._gmail_duplicate_found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85109793-a4b4-4bb8-a728-83d3d717f43f",
      "name": "❌ Already Sent In Gmail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2560,
        736
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nreturn [{ json: { ...lead, _skip: true, _motivo: `duplicate_gmail_sent:${lead._gmail_duplicate_count || 1}` } }];"
      },
      "id": "b5a2a917-3f5c-46c8-b7b7-f89252ae03cf",
      "name": "🛑 Prepare Gmail Duplicate Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst decision = lead.nova?.decision?.action || lead.nova?.verdict || 'BLOCK';\nconst reason = lead.nova?.decision?.reason || lead.nova?.reason || 'Nova denied send';\nreturn [{ json: { ...lead, _skip: true, _motivo: `nova_${String(decision).toLowerCase()}:${reason}` } }];"
      },
      "id": "7eb84f4b-c6cf-4d1f-9de2-f8a04eda2607",
      "name": "🛑 Prepare Nova Denied Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "scheduled-run-check",
              "leftValue": "={{ $json._source || \"manual\" }}",
              "rightValue": "schedule",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2236,
        64
      ],
      "id": "46ba1d20-52fd-48a3-8fe9-26711fbfdcb8",
      "name": "🧭 Scheduled Run?"
    },
    {
      "parameters": {
        "jsCode": "// ═══ 🧱 SCHEDULED BRIDGE v1 — Nova deterministic lane ═══\n\nlet directQuantity = 0;\ntry { directQuantity = parseInt($('📦 Schedule Input').first().json.direct_quantity) || 0; } catch (e) {}\nconst defaultBatch = 40;\nconst effectiveMax = directQuantity > 0 ? Math.min(directQuantity, 10000) : defaultBatch;\nconst publicAppUrl = 'http://54.160.79.60:3005';\n\nreturn [{ json: {\n  action: 'send_outreach',\n  quantity: directQuantity,\n  effective_max: effectiveMax,\n  tier_filter: '',\n  niche_filter: '',\n  city_filter: '',\n  only_followups: false,\n  only_new: true,\n  intent_description: 'scheduled_daily_send',\n  chatId: '',\n  _entry_mode: 'schedule',\n  _qty_source: directQuantity > 0 ? 'schedule_override' : 'schedule_default',\n  config: {\n    brand_name: 'Nova',\n    brand_home_url: publicAppUrl,\n    brand_logo_url: `${publicAppUrl}/brand/nova/isotipo-dark.png`,\n    brand_logo_light_url: `${publicAppUrl}/brand/nova/isotipo-light.png`,\n    website_url: publicAppUrl,\n    sheet_id: '1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA',\n    sender_name: 'Santiago Rubio',\n    sender_title: 'CEO · Nova',\n    sender_phone: '+57 312 434 8669',\n    whatsapp_link: 'https://wa.me/573124348669',\n    max_emails_per_run: effectiveMax,\n    schedule_batch_size: defaultBatch,\n    max_followups: 3,\n    followup_delay_days: 3,\n    min_tier: 3,\n    daily_send_hour: '09:00',\n    timezone: 'America/Bogota',\n    personalization_mode: 'deterministic',\n    dedupe_mode: 'gmail_sent_plus_sheet',\n    service_name: 'Nova',\n    service_pitch: 'automatiza el agendamiento por WhatsApp con reglas, disponibilidad y seguimiento.',\n    offer_text: 'En Nova resolvemos preguntas frecuentes, filtramos intención y agendamos citas por WhatsApp sin que su equipo tenga que responder cada mensaje.',\n    cta_text: 'Si le hace sentido, le muestro el flujo completo en una llamada corta.',\n    close_text: 'También puedo enviarle un resumen claro por WhatsApp.',\n    use_real_company_data: true,\n    use_ai_only_when_needed: false,\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        -56
      ],
      "id": "5daa9616-4bc0-4ff6-9a2d-d8b36b261cca",
      "name": "🧱 Scheduled Bridge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ai-personalization-check",
              "leftValue": "={{ $json._config.personalization_mode || \"deterministic\" }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        570,
        96
      ],
      "id": "707380be-cec5-42d5-8215-54c39f327f13",
      "name": "🧭 AI Personalization?"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Envia 100 correos"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Schedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router": {
      "main": [
        [
          {
            "node": "📋 Read Leads Master",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Read Outreach Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Report1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Stats": {
      "main": [
        [
          {
            "node": "📊 Calc Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Calc Stats": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Preview": {
      "main": [
        [
          {
            "node": "🔍 Preview Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Report1": {
      "main": [
        [
          {
            "node": "📊 Gen Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Gen Report": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily 9AM": {
      "main": [
        [
          {
            "node": "📦 Schedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Schedule Input": {
      "main": [
        [
          {
            "node": "🧭 Scheduled Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Outreach Classifier": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Leads Master": {
      "main": [
        [
          {
            "node": "🔽 No Contactados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Leads?": {
      "main": [
        [
          {
            "node": "⚡ Respuesta Rápida",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Outreach Control": {
      "main": [
        [
          {
            "node": "🔗 Merge Reads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "⚡ Respuesta Rápida": {
      "main": [
        [
          {
            "node": "📤 OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 OUTPUT": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Email Send Loop": {
      "main": [
        [
          {
            "node": "📊 Summary Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛡️ Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "⏱️ Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Throttle": {
      "main": [
        [
          {
            "node": "✅ Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check Result": {
      "main": [
        [
          {
            "node": "📊 Log email_log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Accumulate": {
      "main": [
        [
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Summary Report": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Dedup Check": {
      "main": [
        [
          {
            "node": "❓ Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Skip?": {
      "main": [
        [
          {
            "node": "📝 Log Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Research Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Skip": {
      "main": [
        [
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Research Lead": {
      "main": [
        [
          {
            "node": "🧭 AI Personalization?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Email Personalizer": {
      "main": [
        [
          {
            "node": "📝 Email Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Email Assembler": {
      "main": [
        [
          {
            "node": "🎨 HTML Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 HTML Builder": {
      "main": [
        [
          {
            "node": "🔎 Build Gmail Sent Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔽 No Contactados": {
      "main": [
        [
          {
            "node": "🔗 Merge Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Filter Eligible": {
      "main": [
        [
          {
            "node": "❓ Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Reads": {
      "main": [
        [
          {
            "node": "🔧 Filter Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log email_log1": {
      "main": [
        [
          {
            "node": "📊 Log leads_master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Mover a leads_procesados": {
      "main": [
        [
          {
            "node": "📈 Accumulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep leads_procesados": {
      "main": [
        [
          {
            "node": "📊 Mover a leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log leads_master": {
      "main": [
        [
          {
            "node": "📊 Update outreach_control1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update outreach_control1": {
      "main": [
        [
          {
            "node": "📦 Prep leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Outreach Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "✍️ Email Personalizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Dedup": {
      "main": [
        [
          {
            "node": "🔍 Find Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find Duplicates": {
      "main": [
        [
          {
            "node": "❓ Has Dups?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Dups?": {
      "main": [
        [
          {
            "node": "📦 Prep Dups → procesados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚡ Sin Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Sin Duplicados": {
      "main": [
        [
          {
            "node": "📢 Dedup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep Dups → procesados": {
      "main": [
        [
          {
            "node": "📊 Append Dups → leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Append Dups → leads_procesados": {
      "main": [
        [
          {
            "node": "🗑️ Delete Dup from leads_master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Delete Dup from leads_master": {
      "main": [
        [
          {
            "node": "📢 Dedup Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Dedup Done": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Nova Evaluate Send": {
      "main": [
        [
          {
            "node": "🔀 Nova Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Nova Approved?": {
      "main": [
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛑 Prepare Nova Denied Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 Build Gmail Sent Query": {
      "main": [
        [
          {
            "node": "📬 Search Sent Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📬 Search Sent Gmail": {
      "main": [
        [
          {
            "node": "🧮 Analyze Gmail Sent Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 Analyze Gmail Sent Matches": {
      "main": [
        [
          {
            "node": "❌ Already Sent In Gmail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Already Sent In Gmail?": {
      "main": [
        [
          {
            "node": "🛑 Prepare Gmail Duplicate Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛡️ Nova Evaluate Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 Prepare Gmail Duplicate Skip": {
      "main": [
        [
          {
            "node": "📝 Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛑 Prepare Nova Denied Skip": {
      "main": [
        [
          {
            "node": "📝 Log Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧭 Scheduled Run?": {
      "main": [
        [
          {
            "node": "🧱 Scheduled Bridge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧠 Outreach Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧱 Scheduled Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧭 AI Personalization?": {
      "main": [
        [
          {
            "node": "✍️ Email Personalizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Email Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a2a10996-0e0d-4009-b77d-e25435c3f968",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "S5U-InyurlAZCNkpoGJZT",
  "tags": [],
  "description": "Production-hardened Nova outreach workflow with deterministic scheduled sending, real Gmail Sent duplicate blocking, and Nova governance."
}