home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER LIFE/XUS Habits v2.0 - Dual Agent.json
{
  "name": "XUS Habits v2.0 - Dual Agent",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = (input.query || input.message || input.text || input.originalMessage || '').trim();\nconst chatId = (input.chatId || input.chat_id || '-1003688744736').toString();\n\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst hour = now.getHours().toString().padStart(2,'0') + ':' + now.getMinutes().toString().padStart(2,'0');\nconst day = now.getDate();\nconst dayOfWeek = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][now.getDay()];\nconst month = now.toLocaleString('es-CO', { month: 'long' }).toUpperCase();\nconst fullDate = now.toLocaleDateString('es-ES');\n\nreturn { json: { query, chatId, time: { hour, day, dayOfWeek, month, fullDate } } };"
      },
      "id": "9faf58b4-7f6f-4161-9bfc-26dd425f7f3d",
      "name": "📦 Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        192
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.setLocale('es').toFormat('MMMM').charAt(0).toUpperCase() + $now.setLocale('es').toFormat('MMMM').slice(1) }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "7eb258d9-f0de-487e-8b38-fef159f9a408",
      "name": "📋 Leer Hoja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1424,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrae lista de hábitos de la hoja para el Agente Identificador\nconst rows = $input.all();\nconst parser = $('📦 Parser').first().json;\n\nconst habits = [];\nfor (const item of rows) {\n  const row = item.json;\n  if (row.row_number < 10 || row.row_number > 26) continue;\n  const name = row['col_2'] || row['B'] || Object.values(row).find(v => typeof v === 'string' && v.length > 3 && v.length < 60) || '';\n  if (name) {\n    habits.push({ row_number: row.row_number, name: name.trim() });\n  }\n}\n\nreturn { json: {\n  query: parser.query,\n  chatId: parser.chatId,\n  time: parser.time,\n  habitList: habits,\n  habitNames: habits.map(h => `[Row ${h.row_number}] ${h.name}`).join('\\n')\n}};"
      },
      "id": "b404ea3d-0cb0-44f7-aae8-407c3f876cea",
      "name": "📊 Prep Identificador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DE SANTIAGO:\n\"{{ $json.query }}\"\n\nHÁBITOS EN LA HOJA (row_number + nombre exacto):\n{{ $json.habitNames }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════════\n🧠 AGENTE IDENTIFICADOR DE HÁBITOS\n═══════════════════════════════════════════════════════════════\n\nTu ÚNICO trabajo: identificar qué hábito mencionó Santiago y si lo completó o falló.\n\nJSON puro. Sin ```. Primera línea: { Última línea: }\n\n═══ CONTEXTO ═══\nSantiago Rubio (21, Bello, Colombia). Sistema de hábitos diarios.\nCuando dice \"listo\", \"hecho\", \"check\", \"✅\" + referencia a un hábito = COMPLETÓ.\nCuando dice \"no pude\", \"fallé\", \"no hice\", \"❌\" + referencia = FALLÓ.\nSi no hay indicador explícito de fallo, asume ÉXITO (completó).\n\n═══ HÁBITOS QUE DEBES RECONOCER ═══\n\nMATUTINO:\n• Despertar 5:50 a.m. ⛳ → \"desperté\", \"me levanté\", \"madrugué\", \"5:50\"\n• 100 Push Ups 💪 → \"flexiones\", \"push ups\", \"lagartijas\", \"pechadas\", \"ejercicio\"\n• Cold Shower 🐋 → \"ducha fría\", \"agua fría\", \"baño frío\", \"ducha helada\", \"shower\"\n• English Class 🎯 → \"inglés\", \"english\", \"clase de inglés\"\n• Escritura Metas X10 🌬 → \"metas\", \"escribir metas\", \"afirmaciones\", \"metas x10\"\n\nBUSINESS:\n• Deep Work 50 Leads 📈 → \"deep work\", \"50 leads\", \"trabajo profundo\", \"prospecté\"\n• Search 300 Leads 📈 → \"search\", \"300 leads\", \"buscar leads\", \"busqué leads\"\n• Segunda Ronda 30 Leads ⚡ → \"segunda ronda\", \"30 leads\", \"follow up\", \"seguimiento\"\n• Gestion de Respuestas 🧨 → \"respuestas\", \"contestar\", \"respondí chats\"\n• Create Carpets 🗂️ → \"carpetas\", \"crear carpetas\", \"organicé\"\n• Registro de Leads C. 🐱‍👓 → \"registro\", \"CRM\", \"anotar leads\", \"registré\"\n• Role Play Guion H.T 🐱‍🏍 → \"role play\", \"práctica\", \"guión\", \"ensayo\"\n\nCIERRE:\n• Recarga Analógica 🐱‍👤 → \"recarga\", \"desconecté\", \"sin celular\", \"analógica\"\n• Auditoria Expectativa v.s Realidad 🟡 → \"auditoría\", \"expectativa\", \"revisé el día\"\n• Planeacion/Planificacion 🐇 → \"planeación\", \"planifiqué\", \"organicé mañana\"\n• Lectura \"El Principe\" 10 Paginas 🎯 → \"lectura\", \"leí\", \"libro\", \"10 páginas\", \"el príncipe\"\n• Routine Face (Ice Cold Face) 🧥 → \"routine face\", \"skincare\", \"hielo cara\", \"rutina cara\"\n• Ir a la Cama a las 9:40 p.m. ♣ → \"cama\", \"dormir\", \"me acosté\", \"9:40\"\n\n═══ DETECCIÓN DE FALLO ═══\nFALLO si el mensaje contiene:\n\"no pude\", \"no hice\", \"fallé\", \"no logré\", \"se me olvidó\", \"no me dio tiempo\",\n\"incompleto\", \"salté\", \"no alcancé\", \"❌\", \"skip\"\n\nSi hay fallo, extrae la EXCUSA (la razón después de \"porque\", \"por\", \"es que\").\nSi no hay razón explícita: \"Sin detalle\".\n\n═══ OUTPUT JSON ═══\n{\n  \"found\": true,\n  \"habitName\": \"Nombre EXACTO del hábito como aparece en la hoja\",\n  \"row_number\": número de fila de la hoja,\n  \"isFailure\": false,\n  \"isSuccess\": true,\n  \"excuse\": \"excusa si falló, vacío si éxito\",\n  \"confidence\": \"high|medium|low\"\n}\n\nSi NO encuentra ningún hábito:\n{\n  \"found\": false,\n  \"habitName\": \"\",\n  \"row_number\": 0,\n  \"isFailure\": false,\n  \"isSuccess\": false,\n  \"excuse\": \"\",\n  \"confidence\": \"none\",\n  \"reason\": \"No se identificó ningún hábito en el mensaje\"\n}\n\n═══ REGLAS ═══\n1. habitName DEBE ser EXACTAMENTE como aparece en la hoja\n2. row_number DEBE coincidir con la hoja\n3. Si el mensaje es ambiguo pero suena a hábito → confidence: \"medium\"\n4. Si es claramente un hábito → confidence: \"high\"\n5. Si no hay indicador de fallo, asume isSuccess: true\n6. Un mensaje puede tener errores de transcripción de audio, sé flexible\n7. \"deep work\" sin \"listo/hecho\" podría ser música, no hábito. Pero si viene de task_manager, ES hábito.\n\n═══ FIN ═══"
        }
      },
      "id": "ce5081bf-c58a-4b25-b098-69994f94c53f",
      "name": "🧠 Agente Identificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -976,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔗 BRIDGE — Parsea Agent JSON + prepara datos para Sheets\n// Reemplaza 300 líneas de fuzzy matching con ~60 líneas\n// ═══════════════════════════════════════════════════════════════\n\nconst agentRaw = $input.first().json;\nconst prep = $('📊 Prep Identificador').first().json;\nconst parser = $('📦 Parser').first().json;\n\n// Parsear JSON del agente\nlet ai;\ntry {\n  let text = agentRaw.text || agentRaw.output || agentRaw.message || agentRaw.response || '';\n  if (typeof text === 'object' && text.found !== undefined) { ai = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]); else throw new Error('No JSON');\n  }\n} catch(e) {\n  ai = { found: false, habitName: '', row_number: 0, isFailure: false, isSuccess: false, excuse: '', confidence: 'none', reason: 'Error parsing agent response: ' + e.message };\n}\n\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst todayNum = now.getDate().toString();\nconst fullDate = now.toLocaleDateString('es-ES');\n\nif (ai.found && ai.row_number > 0) {\n  return [{ json: {\n    encontrado: true,\n    row_number: ai.row_number,\n    habitName: ai.habitName,\n    chatId: parser.chatId,\n    dayColumn: todayNum,\n    markValue: ai.isFailure ? 'FALSE' : 'TRUE',\n    isFailure: ai.isFailure || false,\n    isSuccess: ai.isSuccess || true,\n    excuse: ai.excuse || '',\n    confidence: ai.confidence || 'high',\n    E: fullDate,\n    F: ai.habitName,\n    G: ai.excuse || '',\n    query: parser.query,\n    time: parser.time\n  }}];\n} else {\n  return [{ json: {\n    encontrado: false,\n    chatId: parser.chatId,\n    reason: ai.reason || 'Hábito no identificado',\n    query: parser.query,\n    time: parser.time\n  }}];\n}"
      },
      "id": "22bc5a23-0370-4f6a-a4d0-41084bb9cf40",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.encontrado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a12dbc1-d4f1-417d-a7fb-c25fb47a9761",
      "name": "¿Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.isFailure }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eb941b35-c64b-4007-8b08-7da87cdfe128",
      "name": "¿Éxito o Fallo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ \"Registro \" + $now.setLocale('es').toFormat('MMMM').charAt(0).toUpperCase() + $now.setLocale('es').toFormat('MMMM').slice(1) }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.E }}",
            "Hábito": "={{ $json.F }}",
            "Excusa": "={{ $json.G }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hábito",
              "displayName": "Hábito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Excusa",
              "displayName": "Excusa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "=USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 4
            }
          }
        }
      },
      "id": "6d3f3bad-245c-45ae-8018-d51e429688f1",
      "name": "📝 Registrar Fallo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        48,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { row_number: d.row_number, [d.dayColumn]: d.markValue } }];"
      },
      "id": "4d6c71ee-92f3-4a49-9278-9398e84995de",
      "name": "Filter Fallo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { row_number: d.row_number, [d.dayColumn]: d.markValue } }];"
      },
      "id": "437c3b5c-c418-49cf-a9ee-3a8aa08ef9c6",
      "name": "Filter Éxito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        192
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $now.setLocale('es').toFormat('MMMM').charAt(0).toUpperCase() + $now.setLocale('es').toFormat('MMMM').slice(1) }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "=USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "32f43cd5-a3b0-4927-afba-132b5dc8cfda",
      "name": "✅ Marcar en Hoja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        496,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.setLocale('es').toFormat('MMMM').charAt(0).toUpperCase() + $now.setLocale('es').toFormat('MMMM').slice(1) }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "a47b6e88-4c7f-4948-88a5-cb74beb0422f",
      "name": "📋 Leer Actualizado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        720,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 CALCULAR PROGRESO — Simplificado (math real, no reemplazable por LLM)\n// ═══════════════════════════════════════════════════════════════\n\ntry {\n  const bridge = $('🔗 Bridge').first().json;\n  const updatedData = $('📋 Leer Actualizado').all();\n  const parser = $('📦 Parser').first().json;\n\n  const now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\n  const day = now.getDate();\n  const month = now.toLocaleString('es-CO', { month: 'long' }).toUpperCase();\n  const hour = parser.time.hour;\n\n  function getDayValue(row, targetDay) {\n    const dayStr = String(targetDay);\n    if (row.hasOwnProperty(dayStr)) return row[dayStr];\n    for (const key of Object.keys(row)) {\n      if (key.trim() === dayStr || parseInt(key) === targetDay) return row[key];\n    }\n    return undefined;\n  }\n\n  function isCompleted(val) {\n    if (val === undefined || val === null || val === '') return false;\n    if (val === true || val === 1) return true;\n    const str = String(val).toUpperCase().trim();\n    return ['TRUE','SI','SÍ','VERDADERO','1','HECHO','DONE','X','✓','✔','✅'].includes(str);\n  }\n\n  function getHabitName(row) {\n    return row['col_2'] || row['B'] || row['Hábito'] || row['Habito'] ||\n      Object.values(row).find(v => typeof v === 'string' && v.length > 3 && v.length < 50) || 'Hábito';\n  }\n\n  let total = 0, completed = 0, racha = 0;\n  let pendingList = [], completedList = [];\n\n  for (const item of updatedData) {\n    const row = item.json;\n    if (row.row_number < 10 || row.row_number > 26) continue;\n    total++;\n    const val = getDayValue(row, day);\n    const name = getHabitName(row);\n    if (isCompleted(val)) { completed++; completedList.push(name); }\n    else { pendingList.push(name); }\n\n    // Racha solo para el hábito actual\n    if (row.row_number === bridge.row_number && !bridge.isFailure) {\n      racha = 0;\n      for (let d = day; d >= 1; d--) {\n        if (isCompleted(getDayValue(row, d))) racha++; else break;\n      }\n    }\n  }\n\n  const porcentaje = total > 0 ? Math.round((completed / total) * 100) : 0;\n  let motivationalState = 'neutral';\n  if (porcentaje >= 90) motivationalState = 'excellent';\n  else if (porcentaje >= 70) motivationalState = 'good';\n  else if (porcentaje >= 50) motivationalState = 'moderate';\n  else motivationalState = 'needsWork';\n\n  return [{ json: {\n    habitName: bridge.habitName, isFailure: bridge.isFailure,\n    excuse: bridge.excuse || 'Sin detalle',\n    porcentaje, completados: completed, total, racha,\n    pendingList: pendingList.join(', '), pendingCount: pendingList.length,\n    completedList: completedList.join(', '),\n    day, month, hour, motivationalState,\n    userMessage: parser.query, chatId: parser.chatId, time: parser.time\n  }}];\n} catch(e) {\n  return [{ json: { error: true, textResponse: '❌ Error: ' + e.message, chatId: '' } }];\n}"
      },
      "id": "abb136a5-e5cd-4755-8405-7da72eb27d34",
      "name": "📊 Calcular Progreso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        96
      ],
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=DATOS DE AUDITORÍA:\n- Hábito: {{ $json.habitName }}\n- Estado: {{ $json.isFailure ? 'FALLO' : 'CUMPLIDO' }}\n- Excusa: {{ $json.excuse }}\n- Racha: {{ $json.racha }} días\n- Progreso mensual: {{ $json.porcentaje }}% ({{ $json.completados }}/{{ $json.total }})\n- Pendientes hoy: {{ $json.pendingList }}\n- Cantidad pendientes: {{ $json.pendingCount }}\n- Completados hoy: {{ $json.completedList }}\n- Hora: {{ $json.hour }}\n- Día: {{ $json.day }} de {{ $json.month }}\n- Estado motivacional: {{ $json.motivationalState }}\n\nMENSAJE ORIGINAL: \"{{ $json.userMessage }}\"\nCHAT ID: {{ $json.chatId }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════════\n🎭 AGENTE AUDITOR — GENERA AUDITORÍA + ENVÍA A TELEGRAM\n═══════════════════════════════════════════════════════════════\n\nEres un coach IMPLACABLE de alto rendimiento. Drill sergeant.\nGeneras la auditoría Y el payload completo de Telegram.\n\nJSON puro. Sin ```. Primera línea: { Última línea: }\n\n═══ TU PERSONALIDAD ═══\n• Directo, brutal, sin rodeos\n• Celebras victorias como MÍNIMOS esperados, no logros\n• Atacas excusas antes de que aparezcan\n• Das órdenes claras y ejecutables\n• Cada palabra cuenta\n• Usas datos REALES (porcentaje, racha, pendientes)\n\n═══ BLOQUES HORARIOS ═══\nExtrae HH de la hora y determina:\n• 05-08: 🌅 Ritual Mañana\n• 08-12: 📈 Ejecución AM\n• 12-14: 🧘 Recarga\n• 14-18: ⚡ Ejecución PM\n• 18-19: 📊 Cierre\n• 19-22: 🌙 Ritual Noche\n• 22-05: 😴 Descanso\n\n═══ EMOJIS DE RACHA ═══\nÉxito: racha≥21→👑 | ≥14→🏆 | ≥7→🔥 | ≥3→✅ | <3→🟢\nFallo: racha perdida >7→💀 | cualquier fallo→❌\n\n═══ OUTPUT JSON ═══\n{\n  \"telegramPayload\": {\n    \"chat_id\": \"chat_id que recibes\",\n    \"text\": \"AUDITORÍA COMPLETA EN MARKDOWN\",\n    \"parse_mode\": \"Markdown\"\n  },\n  \"toolResponse\": \"Resumen corto para el orquestador\"\n}\n\n═══ FORMATO DEL MENSAJE (text) ═══\n\nUsa SOLO Markdown legacy Telegram:\n• *negrita* (un solo asterisco)\n• _cursiva_\n• Emojis\n• Listas con guiones\n\nPROHIBIDO: **doble asterisco**, cajas ASCII (┌─┐), separadores (━━━), barras de progreso con cuadros, bloques de código.\n\n═══ ESTRUCTURA DE AUDITORÍA ═══\n\n[EMOJI_RACHA] *AUDITORÍA: [hábito]*\n\n*Estado:* CUMPLIDO/FALLO\n*Racha:* X días\n*Bloque:* [emoji + nombre bloque]\n\n*Veredicto:*\n[2-3 líneas brutales con datos reales]\n\n*Progreso [MES]:*\n[porcentaje]% — [completados] de [total]\n\n*Pendientes críticos:*\n- [máximo 3 del pendingList]\n\n*Orden directa:*\n[1-2 líneas imperativas, ejecutables en 30 min, coherentes con bloque horario]\n\n═══ PROTOCOLO DE VEREDICTO ═══\n\nCUMPLIDO + excellent: Reconoce pero exige 100%\nCUMPLIDO + good/moderate: Presiona sobre pendientes\nCUMPLIDO + needsWork: Celebración mínima, ataque máximo\nFALLO: Destrucción de racha, ataque con datos, pendientes como deudas\n\n═══ TOOLRESPONSE ═══\nResumen corto: \"✅ [Hábito] registrado. Racha: X\" o \"❌ [Hábito] fallado. Racha rota.\"\n\n═══ AUTONOMÍA ═══\nTienes libertad sobre:\n• Intensidad del veredicto\n• Largo del mensaje (pero no más de 15 líneas)\n• Referencia a la hora y bloque\n• Si mencionar todos los pendientes o solo los críticos\n• Tono (siempre duro, pero puedes variar entre lacónico y explosivo)\n\nNUNCA:\n• Seas servil o felicites excesivamente\n• Uses emojis decorativos excesivos\n• Generes más de 15 líneas\n• Ignores los datos reales\n\n═══ FIN ═══"
        }
      },
      "id": "b98d89a7-4a5c-4b41-be39-6ba1cc1558fc",
      "name": "🎭 Agente Auditor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1168,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 OUTPUT — Parsea JSON del Auditor\n// FIX: try/catch seguro cuando Calcular Progreso no corrió (ruta de error)\n\nconst raw = $input.first().json;\n\nlet progress = {};\ntry {\n  progress = $('📊 Calcular Progreso').first().json;\n} catch(e) {\n  progress = { habitName: 'No identificado', isFailure: false, racha: 0, chatId: '' };\n}\n\nlet final;\ntry {\n  let text = raw.text || raw.output || raw.message || raw.response || '';\n  if (typeof text === 'object' && text.telegramPayload) { final = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) final = JSON.parse(m[0]); else throw new Error('No JSON');\n  }\n} catch(e) {\n  final = {\n    telegramPayload: {\n      chat_id:    progress.chatId || '',\n      text:       `${progress.isFailure ? '❌' : '✅'} *${progress.habitName || 'Hábito'}*\\n\\n${progress.isFailure ? 'Fallado' : 'Completado'}. Racha: ${progress.racha || 0}`,\n      parse_mode: 'Markdown'\n    },\n    toolResponse: `${progress.isFailure ? '❌' : '✅'} ${progress.habitName || 'Hábito'} registrado`\n  };\n}\n\nreturn [{ json: final }];"
      },
      "id": "139e7367-37f9-47b1-b85d-73b6a1aa0b54",
      "name": "📤 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error: hábito no encontrado\nconst bridge = $input.first().json;\nreturn [{ json: {\n  habitName: 'No identificado', isFailure: false,\n  excuse: '', porcentaje: 0, completados: 0, total: 0, racha: 0,\n  pendingList: '', pendingCount: 0, completedList: '',\n  day: 0, month: '', hour: '',\n  motivationalState: 'error',\n  userMessage: bridge.query || '', chatId: bridge.chatId,\n  time: bridge.time || {},\n  errorMode: true, reason: bridge.reason || 'No encontrado'\n}}];"
      },
      "id": "f4e547d7-9d24-489a-9d35-1ecd3f62fd4e",
      "name": "⚠️ Prep Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        368
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1888,
        192
      ],
      "id": "023b923e-207b-412c-bb13-ce4857d03109",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -976,
        336
      ],
      "id": "21af2a63-fe71-49df-b6c8-6a9aca708e68",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1152,
        352
      ],
      "id": "f4ee50ca-6c0e-4725-888a-21655a4ef0c1",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "📦 Parser": {
      "main": [
        [
          {
            "node": "📋 Leer Hoja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Leer Hoja": {
      "main": [
        [
          {
            "node": "📊 Prep Identificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Prep Identificador": {
      "main": [
        [
          {
            "node": "🧠 Agente Identificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agente Identificador": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "¿Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Encontrado?": {
      "main": [
        [
          {
            "node": "¿Éxito o Fallo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Prep Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito o Fallo?": {
      "main": [
        [
          {
            "node": "📝 Registrar Fallo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Registrar Fallo": {
      "main": [
        [
          {
            "node": "Filter Fallo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fallo": {
      "main": [
        [
          {
            "node": "✅ Marcar en Hoja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Éxito": {
      "main": [
        [
          {
            "node": "✅ Marcar en Hoja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Marcar en Hoja": {
      "main": [
        [
          {
            "node": "📋 Leer Actualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Leer Actualizado": {
      "main": [
        [
          {
            "node": "📊 Calcular Progreso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Calcular Progreso": {
      "main": [
        [
          {
            "node": "🎭 Agente Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎭 Agente Auditor": {
      "main": [
        [
          {
            "node": "📤 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Output": {
      "main": [
        []
      ]
    },
    "⚠️ Prep Error": {
      "main": [
        [
          {
            "node": "🎭 Agente Auditor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Agente Identificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🎭 Agente Auditor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d2d24c7d-60dd-43e3-a7b1-4ceb237e78ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "qLopQ7iKSPN2F3Bi-TxFj",
  "tags": []
}