home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER LIFE/XUS Remind v1.0 - Smart Alerts.json
{
  "name": "XUS Remind v1.0 - Smart Alerts",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        256,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nconst query = (input.query || input.message?.text || input.text || '').trim();\nconst chatId = input.chatId || input.message?.chat?.id || '6908159885';\nreturn [{ json: { query, chatId, receivedAt: new Date().toISOString() } }];\n"
      },
      "id": "91e51ac1-8018-4138-bcd2-e6f5cc7bf5a9",
      "name": "📦 Input Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'AHORA SON: ' + $now.toISO() + ' (Bogotá UTC-5)\\n\\nSOLICITUD: ' + $json.query }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "Eres el parser de recordatorios de XUS. Tu única función es extraer los datos del recordatorio de la solicitud de Santiago y convertirlos en JSON.\n\nRESPONDE SOLO JSON PURO. Sin ```. Primera { última }\n\n═══ REGLAS DE TIEMPO ═══\nConvierte lenguaje natural a ISO 8601 en UTC-5 (Bogotá):\n- \"en 30 minutos\" → ahora + 30 min\n- \"en 1 hora\" → ahora + 1 hora\n- \"mañana a las 3pm\" → mañana 15:00\n- \"el viernes a las 10am\" → próximo viernes 10:00\n- \"en 2 horas\" → ahora + 2 horas\n- \"esta noche a las 9\" → hoy 21:00\n- \"pasado mañana\" → en 2 días\n- \"la próxima semana\" → en 7 días al mediodía\n\n═══ TIPOS ═══\n- \"recordatorio\" / \"recuérdame\" / \"avísame\" → reminder\n- \"follow-up\" / \"seguimiento\" → followup\n- \"alarma\" / \"alerta\" → alert\n- \"reunión\" / \"call\" / \"cita\" → meeting\n\n═══ OUTPUT ═══\n{\n  \"reminder_message\": \"texto exacto del recordatorio (qué debe recordar)\",\n  \"datetime_iso\": \"2026-02-22T15:00:00-05:00\",\n  \"type\": \"reminder|followup|alert|meeting\",\n  \"duration_minutes\": 30,\n  \"calendar_title\": \"titulo corto para el evento del calendario (max 50 chars)\",\n  \"calendar_description\": \"descripcion del evento con contexto\",\n  \"confidence\": \"high|medium|low\",\n  \"parsed_time_description\": \"descripción en español de cuándo (ej: mañana a las 3pm)\"\n}"
        }
      },
      "id": "d78a764a-fa72-4f9f-94c2-1774dad90a53",
      "name": "🧠 Gemini Time Parser",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst aiRaw = $input.first().json;\nconst inputData = $('📦 Input Parser').first().json;\n\nlet ai = {};\ntry {\n  let text = aiRaw.output || aiRaw.text || '';\n  if (typeof text !== 'string') text = JSON.stringify(text);\n  text = text.replace(/```json\\s*/gi,'').replace(/```\\s*/gi,'').trim();\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) ai = JSON.parse(m[0]);\n} catch(e) {\n  ai = {\n    reminder_message: inputData.query,\n    datetime_iso: new Date(Date.now() + 3600000).toISOString(),\n    type: 'reminder',\n    duration_minutes: 30,\n    calendar_title: 'Recordatorio XUS',\n    calendar_description: inputData.query,\n    confidence: 'low',\n    parsed_time_description: 'en 1 hora (fallback)'\n  };\n}\n\n// Generar ID único para este recordatorio\nconst reminderId = 'REM_' + Date.now() + '_' + Math.random().toString(36).substr(2,5).toUpperCase();\n\n// Emojis por tipo\nconst typeEmoji = { reminder: '⏰', followup: '🔄', alert: '🚨', meeting: '📅' };\n\nreturn [{ json: {\n  reminderId,\n  reminderMessage: ai.reminder_message || inputData.query,\n  datetimeIso: ai.datetime_iso,\n  type: ai.type || 'reminder',\n  typeEmoji: typeEmoji[ai.type] || '⏰',\n  durationMinutes: ai.duration_minutes || 30,\n  calendarTitle: ai.calendar_title || 'Recordatorio XUS',\n  calendarDescription: ai.calendar_description || ai.reminder_message || inputData.query,\n  confidence: ai.confidence || 'medium',\n  parsedTimeDesc: ai.parsed_time_description || 'hora extraída',\n  chatId: inputData.chatId,\n  query: inputData.query,\n  receivedAt: inputData.receivedAt\n}}];\n"
      },
      "id": "329c96db-309c-4eff-b632-acf53c1e6b7a",
      "name": "🔗 Remind Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $json.datetimeIso }}",
        "end": "={{ (() => { const d = new Date($json.datetimeIso); d.setMinutes(d.getMinutes() + $json.durationMinutes); return d.toISOString(); })() }}",
        "additionalFields": {
          "description": "={{ '🤖 Recordatorio creado por XUS\\n\\n' + $json.calendarDescription + '\\n\\n📌 ID: ' + $json.reminderId }}",
          "summary": "={{ $json.typeEmoji + ' [XUS] ' + $json.calendarTitle }}"
        }
      },
      "id": "7ae2808d-7b1b-44df-a1c9-f66cffba17cb",
      "name": "📅 Google Calendar - Crear",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1408,
        256
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P-r-6oc_VQJVeDtLpOhCDt_z5NFauuWTiIFuoLTDyFA",
          "mode": "list",
          "cachedResultName": "Reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-r-6oc_VQJVeDtLpOhCDt_z5NFauuWTiIFuoLTDyFA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1063489327,
          "mode": "list",
          "cachedResultName": "reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-r-6oc_VQJVeDtLpOhCDt_z5NFauuWTiIFuoLTDyFA/edit#gid=1063489327"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "reminder_id": "={{ $json.reminderId }}",
            "message": "={{ $json.reminderMessage }}",
            "type": "={{ $json.type }}",
            "datetime_fire": "={{ $json.datetimeIso }}",
            "chat_id": "={{ $json.chatId }}",
            "created_at": "={{ $json.receivedAt }}",
            "fired": "FALSE",
            "calendar_event_id": "={{ $json.htmlLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "reminder_id",
              "displayName": "reminder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datetime_fire",
              "displayName": "datetime_fire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calendar_event_id",
              "displayName": "calendar_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fired",
              "displayName": "fired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          },
          "useAppend": true
        }
      },
      "id": "d749c695-ef22-44e4-a192-9300f4af1b8c",
      "name": "📊 Sheets - Guardar Reminder",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1408,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst bridge = $('🔗 Remind Bridge').first().json;\nconst cal = (() => { try { return $('📅 Google Calendar - Crear').first().json; } catch(e) { return {}; } })();\n\nconst typeLabels = { reminder: 'Recordatorio', followup: 'Follow-up', alert: 'Alerta', meeting: 'Reunión' };\n\nconst summary = bridge.typeEmoji + ' *' + (typeLabels[bridge.type] || 'Recordatorio') + ' programado*\\n\\n' +\n  '📝 *Mensaje:* ' + bridge.reminderMessage + '\\n' +\n  '🕐 *Cuándo:* ' + bridge.parsedTimeDesc + '\\n' +\n  '📅 *Evento creado en Google Calendar*\\n' +\n  '💾 *Backup en Sheets activo*\\n\\n' +\n  '_Te aviso por Telegram cuando llegue el momento._';\n\nreturn [{ json: {\n  output: summary,\n  toolResponse: 'Recordatorio programado: ' + bridge.reminderMessage + ' — ' + bridge.parsedTimeDesc,\n  reminderId: bridge.reminderId,\n  datetimeIso: bridge.datetimeIso,\n  calendarEventId: cal.id || null\n}}];\n"
      },
      "id": "3cf3dbad-f608-469c-a738-357fecf86aa6",
      "name": "📤 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        352
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "4ee5dba9-8cc3-48d6-ae7a-45a8b1998273",
      "name": "⏱️ Poller 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P-r-6oc_VQJVeDtLpOhCDt_z5NFauuWTiIFuoLTDyFA",
          "mode": "list",
          "cachedResultName": "Reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-r-6oc_VQJVeDtLpOhCDt_z5NFauuWTiIFuoLTDyFA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1063489327,
          "mode": "list",
          "cachedResultName": "reminders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-r-6oc_VQJVeDtLpOhCDt_z5NFauuWTiIFuoLTDyFA/edit#gid=1063489327"
        },
        "options": {}
      },
      "id": "0d687963-8bf9-4e9f-81e8-d6952581e2be",
      "name": "📋 Sheets - Leer Reminders",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst rows = $input.all();\nconst now = new Date();\n\nconst due = rows.filter(r => {\n  const row = r.json;\n  if (String(row.fired).toUpperCase() === 'TRUE') return false;\n  if (!row.datetime_fire) return false;\n  return new Date(row.datetime_fire) <= now;\n});\n\nif (due.length === 0) return [{ json: { _has_due: false } }];\n\ndue[0].json._has_due = true;\nreturn due;\n"
      },
      "id": "158f2b64-b703-4a69-836a-1369d39a90e3",
      "name": "🔍 Check Due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-due",
              "leftValue": "={{ $json._has_due }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "45a8def8-6728-47ec-ae10-504248a38cd2",
      "name": "❓ ¿Hay due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst row = $input.first().json;\n\n// Construimos el payload exacto que XUS Talking espera\n// como si Santiago hubiera mandado un mensaje por Telegram\nconst typeEmoji = { reminder: '⏰', followup: '🔄', alert: '🚨', meeting: '📅' };\nconst emoji = typeEmoji[row.type] || '⏰';\n\n// Este mensaje llega al Cerebro Clasificador de XUS Talking\n// El clasificador lo reconocerá como SCHEDULE_REMINDER y lo procesará\nconst messageForXUS = 'SCHEDULE_REMINDER: ' + emoji + ' Recordatorio programado que acaba de vencer. ' +\n  'Mensaje: \"' + row.message + '\". ' +\n  'Tipo: ' + (row.type || 'reminder') + '. ' +\n  'Notifica al Arquitecto de forma natural con tu personalidad habitual. ' +\n  'Confirma el recordatorio con entusiasmo o urgencia según el tipo.';\n\nreturn [{ json: {\n  // Input que espera XUS Talking (mismo formato que los schedules de Begin)\n  message: {\n    text: messageForXUS,\n    chat: { id: row.chat_id || '6908159885' }\n  },\n  chatId: row.chat_id || '6908159885',\n  query: messageForXUS,\n  // Metadata para el log\n  _reminder_id: row.reminder_id,\n  _reminder_message: row.message,\n  _reminder_type: row.type,\n  _row_number: row.row_number,\n  _source: 'xus_remind_poller'\n}}];\n"
      },
      "id": "d278377f-54c4-4c40-ab14-e36359f765d5",
      "name": "📝 Build XUS Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        704
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "Reminders",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "reminders",
          "mode": "name"
        },
        "toDelete": "columns",
        "startIndex": "B",
        "numberToDelete": 3
      },
      "id": "dc6d974a-df84-4b85-8af7-3404cd8ed2ca",
      "name": "🗑️ Sheets - Borrar Fila",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1424,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        528
      ],
      "id": "bbf2d1d1-5cb4-44b0-a645-080f3f9de3e9",
      "name": "🔮 Gemini Remind Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BmTRvJSHWzHbIQQQ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        528
      ],
      "id": "feb76f6f-83f1-4f05-a187-83860a35d204",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Input Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Input Parser": {
      "main": [
        [
          {
            "node": "🧠 Gemini Time Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Gemini Time Parser": {
      "main": [
        [
          {
            "node": "🔗 Remind Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Remind Bridge": {
      "main": [
        [
          {
            "node": "📅 Google Calendar - Crear",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Sheets - Guardar Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Google Calendar - Crear": {
      "main": [
        [
          {
            "node": "📤 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Sheets - Guardar Reminder": {
      "main": [
        [
          {
            "node": "📤 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Poller 5min": {
      "main": [
        [
          {
            "node": "📋 Sheets - Leer Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Sheets - Leer Reminders": {
      "main": [
        [
          {
            "node": "🔍 Check Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Due": {
      "main": [
        [
          {
            "node": "❓ ¿Hay due?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ ¿Hay due?": {
      "main": [
        [
          {
            "node": "📝 Build XUS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Build XUS Message": {
      "main": [
        [
          {
            "node": "🗑️ Sheets - Borrar Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔮 Gemini Remind Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Gemini Time Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Gemini Time Parser",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dfc75ac1-b9e8-433a-8213-f01a14f6931f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "iv7GcsHggaITDUeb",
  "tags": []
}