home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER LIFE/XUS Calendar v3.0 - Full Dynamic.json
{
  "name": "XUS Calendar v3.0 - Full Dynamic",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query = (input.query || input.message || input.text || '').trim();\nconst chatId = (input.chatId || input.chat_id || '-1003688744736').toString();\n\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst hour = now.getHours().toString().padStart(2,'0') + ':' + now.getMinutes().toString().padStart(2,'0');\nconst todayISO = now.toISOString().split('T')[0];\nconst dayName = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'][now.getDay()];\n\nreturn { json: { query, chatId, time: { hour, todayISO, dayName, timestamp: now.toISOString() } } };"
      },
      "id": "cb72a18f-7e58-492a-84dc-d59af9aa2093",
      "name": "📦 Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=═══════════════════════════════════════════════════════════════\n🧠 SECRETARIO CALENDAR — Multi-Operación\n═══════════════════════════════════════════════════════════════\n\nJSON puro. Sin ```. Primera línea: { Última línea: }\n\nZONA HORARIA: Bogotá (UTC-5)\nFECHA ACTUAL: {{ $json.time.todayISO }}\nHORA ACTUAL: {{ $json.time.hour }}\nDÍA: {{ $json.time.dayName }}\n\n═══ INTENCIONES DISPONIBLES ═══\n\n1. ver_agenda → Consultar eventos\n   Triggers: \"¿qué tengo?\", \"mi agenda\", \"eventos\", \"citas\", \"reuniones\"\n   \n2. crear_evento → Crear nuevo evento\n   Triggers: \"agenda\", \"crea\", \"programa\", \"pon\", \"añade\", \"recordarme\"\n   \n3. borrar_evento → Eliminar evento\n   Triggers: \"borra\", \"elimina\", \"cancela\", \"quita\", \"remueve\"\n   Requiere: nombre/descripción del evento a borrar\n   \n4. actualizar_evento → Modificar evento existente\n   Triggers: \"actualiza\", \"modifica\", \"cambia\", \"edita\", \"mueve\"\n   Requiere: nombre del evento + qué cambiar (hora, fecha, título)\n   \n5. siguiente_evento → Próximo evento\n   Triggers: \"próximo\", \"siguiente\", \"¿qué sigue?\", \"¿qué viene?\"\n   \n6. buscar_evento → Buscar evento específico\n   Triggers: \"busca\", \"encuentra\", \"¿tengo [X]?\", \"¿cuándo es [X]?\"\n\n═══ INTERPRETAR FECHAS ═══\n\nConvertir SIEMPRE a YYYY-MM-DD:\n• \"hoy\" → fecha actual\n• \"mañana\" → +1 día\n• \"pasado mañana\" → +2 días\n• \"ayer\" → -1 día\n• \"esta semana\" → hoy hasta domingo\n• \"próxima semana\" → lunes siguiente hasta domingo\n• \"el lunes\" → próximo lunes\n• Sin fecha → HOY\n\n═══ INTERPRETAR HORAS ═══\n\nConvertir a 24h:\n• \"3pm\"/\"3 de la tarde\" → 15:00\n• \"10am\"/\"10 de la mañana\" → 10:00\n• \"mediodía\" → 12:00\n• \"en la mañana\" → 09:00\n• \"en la tarde\" → 15:00\n• \"en la noche\" → 20:00\n• Sin duración → 1 hora por defecto\n\n═══ OUTPUT POR INTENCIÓN ═══\n\nVER_AGENDA:\n{\n  \"intent\": \"ver_agenda\",\n  \"date\": \"YYYY-MM-DD\",\n  \"dateEnd\": \"YYYY-MM-DD\"\n}\n\nCREAR_EVENTO:\n{\n  \"intent\": \"crear_evento\",\n  \"date\": \"YYYY-MM-DD\",\n  \"summary\": \"Título del evento\",\n  \"start\": \"YYYY-MM-DDTHH:mm:ss\",\n  \"end\": \"YYYY-MM-DDTHH:mm:ss\",\n  \"description\": \"Descripción opcional\"\n}\n\nBORRAR_EVENTO:\n{\n  \"intent\": \"borrar_evento\",\n  \"eventSearch\": \"nombre o descripción del evento a buscar\",\n  \"date\": \"YYYY-MM-DD\" (opcional, para filtrar)\n}\n\nACTUALIZAR_EVENTO:\n{\n  \"intent\": \"actualizar_evento\",\n  \"eventSearch\": \"nombre del evento a buscar\",\n  \"updates\": {\n    \"summary\": \"nuevo título\" (si cambia),\n    \"date\": \"YYYY-MM-DD\" (si cambia fecha),\n    \"start\": \"YYYY-MM-DDTHH:mm:ss\" (si cambia hora),\n    \"end\": \"YYYY-MM-DDTHH:mm:ss\" (si cambia hora fin)\n  }\n}\n\nSIGUIENTE_EVENTO:\n{\n  \"intent\": \"siguiente_evento\"\n}\n\nBUSCAR_EVENTO:\n{\n  \"intent\": \"buscar_evento\",\n  \"eventSearch\": \"qué buscar\",\n  \"date\": \"YYYY-MM-DD\" (opcional),\n  \"dateEnd\": \"YYYY-MM-DD\" (opcional)\n}\n\n═══ EJEMPLOS ═══\n\n\"Borra la reunión de mañana\"\n→ {\"intent\":\"borrar_evento\",\"eventSearch\":\"reunión\",\"date\":\"2025-01-18\"}\n\n\"Mueve la llamada con Juan al viernes a las 4pm\"\n→ {\"intent\":\"actualizar_evento\",\"eventSearch\":\"llamada con Juan\",\"updates\":{\"date\":\"2025-01-24\",\"start\":\"2025-01-24T16:00:00\",\"end\":\"2025-01-24T17:00:00\"}}\n\n\"¿Qué sigue?\"\n→ {\"intent\":\"siguiente_evento\"}\n\n\"¿Cuándo es la reunión con el equipo?\"\n→ {\"intent\":\"buscar_evento\",\"eventSearch\":\"reunión con el equipo\"}\n\n\"Cambia el título de gym a entrenamiento\"\n→ {\"intent\":\"actualizar_evento\",\"eventSearch\":\"gym\",\"updates\":{\"summary\":\"Entrenamiento\"}}\n\n⚠️ \"xus\" = nombre del sistema, ignorar."
        }
      },
      "id": "5462958d-8451-421c-9964-2c072533ee28",
      "name": "🧠 Secretario",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -800,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔗 BRIDGE — Parsea + prepara parámetros para cada operación\n// ═══════════════════════════════════════════════════════════════\n\nconst raw = $input.first().json;\nconst parser = $('📦 Parser').first().json;\n\nlet ai;\ntry {\n  let text = raw.text || raw.output || raw.message || raw.response || '';\n  if (typeof text === 'object' && text.intent) { ai = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]); else throw new Error('No JSON');\n  }\n} catch(e) {\n  ai = { intent: 'ver_agenda', date: parser.time.todayISO, dateEnd: parser.time.todayISO };\n}\n\nconst intent = ai.intent || 'ver_agenda';\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\n\n// ═══ Fechas ═══\nconst dateStr = ai.date || parser.time.todayISO;\nconst dateEndStr = ai.dateEnd || dateStr;\n\n// TimeMin/TimeMax para queries\nlet timeMin, timeMax;\n\nif (intent === 'siguiente_evento') {\n  // Desde ahora hasta 30 días\n  timeMin = now.toISOString();\n  const future = new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000);\n  timeMax = future.toISOString();\n} else {\n  timeMin = new Date(dateStr + 'T00:00:00-05:00').toISOString();\n  timeMax = new Date(dateEndStr + 'T23:59:59-05:00').toISOString();\n}\n\n// ═══ Formato display ═══\nconst targetDate = new Date(dateStr + 'T12:00:00-05:00');\nconst opts = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };\nlet dateDisplay = targetDate.toLocaleDateString('es-ES', opts).toUpperCase();\nif (dateStr !== dateEndStr) {\n  const endDate = new Date(dateEndStr + 'T12:00:00-05:00');\n  dateDisplay = `${targetDate.toLocaleDateString('es-ES', { day: 'numeric', month: 'long' })} - ${endDate.toLocaleDateString('es-ES', { day: 'numeric', month: 'long' })}`.toUpperCase();\n}\n\nreturn { json: {\n  intent,\n  date: dateStr,\n  dateEnd: dateEndStr,\n  timeMin,\n  timeMax,\n  dateDisplay,\n  isRange: dateStr !== dateEndStr,\n  \n  // Para crear\n  summary: ai.summary || 'Evento programado',\n  description: ai.description || '',\n  start: ai.start || '',\n  end: ai.end || '',\n  \n  // Para borrar/actualizar/buscar\n  eventSearch: ai.eventSearch || '',\n  updates: ai.updates || {},\n  \n  // Meta\n  chatId: parser.chatId,\n  query: parser.query,\n  time: parser.time\n}};"
      },
      "id": "33909363-1e27-47c1-a423-d05da662dd56",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ver_agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "crear_evento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Crear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "borrar_evento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Borrar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "actualizar_evento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Actualizar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "siguiente_evento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Siguiente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "buscar_evento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buscar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a98fcd0b-2863-46e1-9b2d-a656f7d1c850",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        272
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "limit": 500,
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax }}",
          "singleEvents": true
        }
      },
      "id": "ce48eb01-7f55-4f30-bf8a-5507f5efe2f3",
      "name": "📅 Get (Ver)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        896,
        -320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "b09be9ca-c1d8-4b4a-863a-bfd181af8df3",
      "name": "📅 Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        896,
        -128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "limit": 100,
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ new Date(Date.now() + 90*24*60*60*1000).toISOString() }}",
          "singleEvents": true,
          "query": "={{ $json.eventSearch }}"
        }
      },
      "id": "a4fb2352-3116-4130-af2f-60acd22df178",
      "name": "📅 Search (Borrar)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Encontrar el evento más relevante y preparar para borrar\nconst bridge = $('🔗 Bridge').first().json;\nconst events = $input.all();\nconst searchTerm = bridge.eventSearch.toLowerCase();\n\nlet found = null;\nfor (const e of events) {\n  const summary = (e.json.summary || '').toLowerCase();\n  if (summary.includes(searchTerm)) {\n    found = e.json;\n    break;\n  }\n}\n\nif (!found && events.length > 0) {\n  // Fuzzy: primer evento que tenga alguna palabra en común\n  const searchWords = searchTerm.split(/\\s+/);\n  for (const e of events) {\n    const summary = (e.json.summary || '').toLowerCase();\n    if (searchWords.some(w => summary.includes(w))) {\n      found = e.json;\n      break;\n    }\n  }\n}\n\nreturn [{ json: {\n  eventId: found ? found.id : null,\n  eventSummary: found ? found.summary : null,\n  found: !!found,\n  searchTerm: bridge.eventSearch,\n  chatId: bridge.chatId,\n  intent: 'borrar_evento',\n  bridge\n}}];"
      },
      "id": "f1d3cb96-3fed-44ef-9263-784a836a742c",
      "name": "🔍 Find (Borrar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              },
              "id": "cf1"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f851bbbc-690e-4421-a5ef-d01e52a69c84",
      "name": "¿Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        160
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "eventId": "={{ $json.eventId }}",
        "options": {}
      },
      "id": "350433ad-80b5-45dc-addd-a079a25fdcc4",
      "name": "📅 Delete",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        672,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "limit": 100,
        "options": {
          "timeMin": "={{ new Date().toISOString() }}",
          "timeMax": "={{ new Date(Date.now() + 90*24*60*60*1000).toISOString() }}",
          "singleEvents": true,
          "query": "={{ $json.eventSearch }}"
        }
      },
      "id": "257ffff0-bce9-4329-bef6-9885a82aeaa2",
      "name": "📅 Search (Actualizar)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        0,
        544
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Encontrar evento y preparar actualización\nconst bridge = $('🔗 Bridge').first().json;\nconst events = $input.all();\nconst searchTerm = bridge.eventSearch.toLowerCase();\nconst updates = bridge.updates || {};\n\nlet found = null;\nfor (const e of events) {\n  const summary = (e.json.summary || '').toLowerCase();\n  if (summary.includes(searchTerm)) {\n    found = e.json;\n    break;\n  }\n}\n\nif (!found && events.length > 0) {\n  const searchWords = searchTerm.split(/\\s+/);\n  for (const e of events) {\n    const summary = (e.json.summary || '').toLowerCase();\n    if (searchWords.some(w => summary.includes(w))) {\n      found = e.json;\n      break;\n    }\n  }\n}\n\nlet updateFields = {};\nif (found) {\n  if (updates.summary) updateFields.summary = updates.summary;\n  if (updates.start) updateFields.start = { dateTime: updates.start, timeZone: 'America/Bogota' };\n  if (updates.end) updateFields.end = { dateTime: updates.end, timeZone: 'America/Bogota' };\n  if (updates.description) updateFields.description = updates.description;\n}\n\nreturn [{ json: {\n  eventId: found ? found.id : null,\n  eventSummary: found ? found.summary : null,\n  found: !!found,\n  updateFields,\n  updates,\n  searchTerm: bridge.eventSearch,\n  chatId: bridge.chatId,\n  intent: 'actualizar_evento',\n  bridge\n}}];"
      },
      "id": "e64f931c-3687-43c6-89b4-90359b25b0da",
      "name": "🔍 Find (Actualizar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              },
              "id": "cf2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a431c6e9-475e-4e7f-83df-48e74491eda8",
      "name": "¿Encontrado?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        544
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "end": "={{ $json.updates.end || undefined }}",
          "start": "={{ $json.updates.start || undefined }}",
          "summary": "={{ $json.updateFields.summary || undefined }}"
        }
      },
      "id": "3383fa9f-5d13-4ade-b426-784bb75ff456",
      "name": "📅 Update",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        672,
        448
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "limit": 1,
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "1137ad68-89bb-4110-8067-f00993d03365",
      "name": "📅 Get (Siguiente)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        896,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax || new Date(Date.now() + 90*24*60*60*1000).toISOString() }}",
          "singleEvents": true,
          "query": "={{ $json.eventSearch }}"
        }
      },
      "id": "ed745b3f-bb74-42a9-b403-616106925c4e",
      "name": "📅 Get (Buscar)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        896,
        1024
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 📊 PREP COMUNICADOR — Unifica resultados de todas las operaciones\n// ═══════════════════════════════════════════════════════════════\n\nconst bridge = $('🔗 Bridge').first().json;\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst currentHour = now.getHours();\n\nlet result = {\n  type: bridge.intent,\n  success: false,\n  message: '',\n  events: [],\n  eventCount: 0,\n  dateDisplay: bridge.dateDisplay,\n  chatId: bridge.chatId\n};\n\n// ═══ Función helper para formatear eventos ═══\nfunction formatEvent(e) {\n  const startRaw = e.start?.dateTime || e.start?.date;\n  const start = new Date(startRaw);\n  const summary = e.summary || 'Sin título';\n  let timeStr = e.start?.dateTime\n    ? start.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', hour12: true, timeZone: 'America/Bogota' })\n    : 'Todo el día';\n  const isPast = e.start?.dateTime && start < now;\n  const isSoon = e.start?.dateTime && !isPast && (start.getTime() - now.getTime() < 30 * 60 * 1000);\n  const dateStr = start.toLocaleDateString('es-ES', { weekday: 'short', day: 'numeric', month: 'short' });\n  return { summary, timeStr, dateStr, isPast, isSoon, id: e.id };\n}\n\ntry {\n  switch (bridge.intent) {\n    case 'ver_agenda': {\n      const events = $('📅 Get (Ver)').all();\n      const validEvents = events.filter(e => e.json.summary || e.json.start);\n      result.events = validEvents.map(e => formatEvent(e.json));\n      result.eventCount = result.events.length;\n      result.success = true;\n      const progressPercent = Math.max(0, Math.min(100, ((currentHour - 6) / 16) * 100));\n      result.progressPercent = Math.round(progressPercent);\n      result.isToday = bridge.date === bridge.time.todayISO;\n      break;\n    }\n    \n    case 'crear_evento': {\n      let created = {};\n      try { created = $('📅 Create').first().json; } catch(e) {}\n      result.success = !!created.id;\n      result.createdEvent = {\n        summary: created.summary || bridge.summary,\n        start: bridge.start,\n        end: bridge.end\n      };\n      break;\n    }\n    \n    case 'borrar_evento': {\n      let findData = {};\n      try { findData = $('🔍 Find (Borrar)').first().json; } catch(e) {}\n      \n      if (findData.found) {\n        let deleteResult = {};\n        try { deleteResult = $('📅 Delete').first().json; } catch(e) {}\n        result.success = true; // Si no hubo error, se borró\n        result.deletedEvent = findData.eventSummary;\n      } else {\n        result.success = false;\n        result.notFound = true;\n        result.searchTerm = bridge.eventSearch;\n      }\n      break;\n    }\n    \n    case 'actualizar_evento': {\n      let findData = {};\n      try { findData = $('🔍 Find (Actualizar)').first().json; } catch(e) {}\n      \n      if (findData.found) {\n        let updateResult = {};\n        try { updateResult = $('📅 Update').first().json; } catch(e) {}\n        result.success = true;\n        result.updatedEvent = {\n          original: findData.eventSummary,\n          updates: findData.updates\n        };\n      } else {\n        result.success = false;\n        result.notFound = true;\n        result.searchTerm = bridge.eventSearch;\n      }\n      break;\n    }\n    \n    case 'siguiente_evento': {\n      const events = $('📅 Get (Siguiente)').all();\n      if (events.length > 0 && events[0].json.summary) {\n        result.nextEvent = formatEvent(events[0].json);\n        result.success = true;\n      } else {\n        result.success = true;\n        result.noNextEvent = true;\n      }\n      break;\n    }\n    \n    case 'buscar_evento': {\n      const events = $('📅 Get (Buscar)').all();\n      const searchTerm = bridge.eventSearch.toLowerCase();\n      const filtered = events.filter(e => {\n        const summary = (e.json.summary || '').toLowerCase();\n        return summary.includes(searchTerm) || searchTerm.split(/\\s+/).some(w => summary.includes(w));\n      });\n      result.events = filtered.map(e => formatEvent(e.json));\n      result.eventCount = result.events.length;\n      result.searchTerm = bridge.eventSearch;\n      result.success = true;\n      break;\n    }\n    \n    default:\n      result.success = false;\n      result.message = 'Intención no reconocida';\n  }\n} catch(e) {\n  result.success = false;\n  result.error = e.message;\n}\n\nreturn { json: {\n  result,\n  chatId: bridge.chatId,\n  query: bridge.query,\n  time: bridge.time\n}};"
      },
      "id": "97659c2b-9ebd-4fcc-950b-132dd3d89085",
      "name": "📊 Prep Comunicador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RESULTADO DE LA OPERACIÓN:\n{{ JSON.stringify($json.result) }}\n\nMENSAJE ORIGINAL: \"{{ $json.query }}\"\nCHAT ID: {{ $json.chatId }}\nHORA: {{ $json.time.hour }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════════\n🎭 COMUNICADOR CALENDAR — Genera mensajes para todas las operaciones\n═══════════════════════════════════════════════════════════════\n\nJSON puro. Sin ```. Primera línea: { Última línea: }\n\n═══ OUTPUT ═══\n{\n  \"telegramPayload\": {\n    \"chat_id\": \"chat_id que recibes\",\n    \"text\": \"MENSAJE MARKDOWN\",\n    \"parse_mode\": \"Markdown\"\n  },\n  \"toolResponse\": \"Resumen corto para orquestador\"\n}\n\n═══ FORMATO MARKDOWN ═══\n*negrita* _cursiva_ `código`\nPROHIBIDO: **doble asterisco**, cajas ASCII, ━━━\n\n═══ MENSAJES POR TIPO DE OPERACIÓN ═══\n\n*VER_AGENDA (result.type = \"ver_agenda\"):*\n\n📅 *AGENDA: [dateDisplay]*\n\nSi hay eventos (result.events.length > 0):\n[Para cada evento:]\n[emoji] *[timeStr]* — [summary] [✅ si isPast] [🔴 si isSoon]\n\n[Si isToday:]\n📊 `[barra progreso]` [X]%\n\n_Total: X eventos_\n\nSin eventos:\n📅 *AGENDA: [dateDisplay]*\n🏁 Agenda libre.\n\nEmojis por tipo: reunión→📞, work→🧠, gym→🦾, meta→🎯, comida→🥗, cliente→💰, médico→🏥, otro→🔹\n\n---\n\n*CREAR_EVENTO (result.type = \"crear_evento\"):*\n\nSi result.success:\n✅ *EVENTO CREADO*\n\n📌 [summary]\n📅 [dateDisplay]\n⏰ [hora inicio - hora fin]\n\nSi error:\n❌ Error creando evento.\n\n---\n\n*BORRAR_EVENTO (result.type = \"borrar_evento\"):*\n\nSi result.success:\n🗑️ *EVENTO ELIMINADO*\n📌 [deletedEvent]\n\nSi result.notFound:\n❌ No encontré evento \"[searchTerm]\"\n\n---\n\n*ACTUALIZAR_EVENTO (result.type = \"actualizar_evento\"):*\n\nSi result.success:\n✏️ *EVENTO ACTUALIZADO*\n📌 [original] → [cambios]\n\nSi result.notFound:\n❌ No encontré evento \"[searchTerm]\"\n\n---\n\n*SIGUIENTE_EVENTO (result.type = \"siguiente_evento\"):*\n\nSi result.nextEvent:\n⏭️ *PRÓXIMO EVENTO*\n\n📌 [summary]\n📅 [dateStr]\n⏰ [timeStr]\n\nSi result.noNextEvent:\n📅 No tienes eventos próximos.\n\n---\n\n*BUSCAR_EVENTO (result.type = \"buscar_evento\"):*\n\nSi eventos encontrados:\n🔍 *RESULTADOS: \"[searchTerm]\"*\n\n[lista de eventos con fecha y hora]\n\nSi no encontró:\n🔍 No encontré eventos con \"[searchTerm]\"\n\n═══ TOOLRESPONSE ═══\nCorto y descriptivo:\n• \"📅 Agenda: X eventos\"\n• \"✅ Evento creado: [título]\"\n• \"🗑️ Evento eliminado: [título]\"\n• \"✏️ Evento actualizado: [título]\"\n• \"⏭️ Próximo: [título] a las [hora]\"\n• \"🔍 Búsqueda: X resultados\"\n• \"❌ No encontrado\"\n\n═══ FIN ═══"
        }
      },
      "id": "23bf384c-8cbd-42fe-b914-7e324f0ea3c0",
      "name": "🎭 Comunicador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1344,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet final;\ntry {\n  let text = raw.text || raw.output || raw.message || raw.response || '';\n  if (typeof text === 'object' && text.telegramPayload) { final = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) final = JSON.parse(m[0]); else throw new Error('No JSON');\n  }\n} catch(e) {\n  const prep = $('📊 Prep Comunicador').first().json;\n  final = {\n    telegramPayload: { chat_id: prep.chatId, text: '📅 Operación completada.', parse_mode: 'Markdown' },\n    toolResponse: '📅 Calendario procesado'\n  };\n}\nreturn [{ json: final }];"
      },
      "id": "bf859ed4-beda-4b70-a173-5f11f41ddaba",
      "name": "📤 Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tag para eventos no encontrados (borrar)\nconst find = $input.first().json;\nreturn [{ json: { ...find, notFoundBranch: true } }];"
      },
      "id": "2a0b7280-26d1-44f8-a33b-0d1a75cb9149",
      "name": "Tag NotFound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tag para eventos no encontrados (actualizar)\nconst find = $input.first().json;\nreturn [{ json: { ...find, notFoundBranch: true } }];"
      },
      "id": "133f3a0d-6648-4ac6-aa80-fd635f4b6b9c",
      "name": "Tag NotFound1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tag después de delete exitoso\nconst prev = $('🔍 Find (Borrar)').first().json;\nreturn [{ json: { ...prev, deleteSuccess: true } }];"
      },
      "id": "bef3529c-78cf-4244-8879-b8065adb3840",
      "name": "Tag Delete OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tag después de update exitoso\nconst prev = $('🔍 Find (Actualizar)').first().json;\nconst updated = $input.first().json;\nreturn [{ json: { ...prev, updateSuccess: true, updatedResult: updated } }];"
      },
      "id": "c2fc0cd8-586d-429f-886a-e0c157c9ef8f",
      "name": "Tag Update OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        448
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1216,
        352
      ],
      "id": "445b2ffd-9df1-4142-9130-7ec03cde5473",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -816,
        544
      ],
      "id": "9322c6bc-1662-46e8-a482-36dcdda52c54",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1344,
        544
      ],
      "id": "4476f3ba-f69e-4a42-a378-b6f19b8c61a5",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "{\"tool_calls\":[{\"tool_name\":\"calendar_manager\",\"parameters\":{\"action\":\"view_today\"}}],\"reasoning\":\"User wants to see today's calendar events.\"}"
        }
      }
    ]
  },
  "connections": {
    "📦 Parser": {
      "main": [
        [
          {
            "node": "🧠 Secretario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Secretario": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "Switch Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intent": {
      "main": [
        [
          {
            "node": "📅 Get (Ver)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📅 Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📅 Search (Borrar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📅 Search (Actualizar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📅 Get (Siguiente)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📅 Get (Buscar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Get (Ver)": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Create": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Search (Borrar)": {
      "main": [
        [
          {
            "node": "🔍 Find (Borrar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find (Borrar)": {
      "main": [
        [
          {
            "node": "¿Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Encontrado?": {
      "main": [
        [
          {
            "node": "📅 Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag NotFound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Delete": {
      "main": [
        [
          {
            "node": "Tag Delete OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Delete OK": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag NotFound": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Search (Actualizar)": {
      "main": [
        [
          {
            "node": "🔍 Find (Actualizar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find (Actualizar)": {
      "main": [
        [
          {
            "node": "¿Encontrado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Encontrado?1": {
      "main": [
        [
          {
            "node": "📅 Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag NotFound1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Update": {
      "main": [
        [
          {
            "node": "Tag Update OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Update OK": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag NotFound1": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Get (Siguiente)": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Get (Buscar)": {
      "main": [
        [
          {
            "node": "📊 Prep Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Prep Comunicador": {
      "main": [
        [
          {
            "node": "🎭 Comunicador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎭 Comunicador": {
      "main": [
        [
          {
            "node": "📤 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Output": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Secretario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🎭 Comunicador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c25c1074-e778-436f-b6c8-ac00274a6e5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "LvSwgW_kF9__53eLOf3ho",
  "tags": []
}