home_snapshot/ubuntu/Workflows-n8n/Input & Output/XUS Output Engine v1.0.json
{
  "name": "XUS Output Engine v1.0",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8458030044:AAG0WJgEVJd2oTuwOPedFwMikYOLXdVdbJ8/sendChatAction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('When Executed by Another Workflow').first().json.chatId || $('When Executed by Another Workflow').first().json.message?.chat?.id || $('When Executed by Another Workflow').first().json.callback_query?.message?.chat?.id }}\",\n  \"action\": \"typing\"\n}",
        "options": {}
      },
      "id": "04b3ee9e-090e-4d8f-a23c-f57e24079a55",
      "name": "⌨️ Typing...1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🎲 XUS AUDIO LOTTERY v3.3 — FIXED: lee del trigger, no del CEREBRO\n */\n\nconst input = $input.first().json;\nconst random = Math.random();\nconst AUDIO_PROBABILITY = 0.09;\n\n// ═══ 1. OBTENER TEXTO — PRIMERO DEL TRIGGER ═══\nlet cerebroText = '';\ntry {\n  const trigger = $('When Executed by Another Workflow').first().json;\n  cerebroText = trigger.output || trigger.text || trigger.response || '';\n  if (typeof cerebroText !== 'string') cerebroText = JSON.stringify(cerebroText);\n} catch (e) {\n  cerebroText = input.text || input.response || '';\n}\n\n// ═══ 2. DETECTAR [AUDIO_REQUESTED] ═══\nconst userRequestedAudio = cerebroText.includes('[AUDIO_REQUESTED]');\n\n// ═══ 3. LIMPIAR TEXTO PARA AUDIO ═══\nlet audioText = cerebroText\n    .replace(/\\[AUDIO_REQUESTED\\]\\s*/gi, '')\n    .replace(/\\[MUSIC:[^\\]]*\\]\\s*/gi, '')\n    .replace(/```[\\s\\S]*?```/g, '')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .replace(/__([^_]+)__/g, '$1')\n    .replace(/_([^_]+)_/g, '$1')\n    .replace(/#{1,6}\\s*/g, '')\n    .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/•/g, ',')\n    .replace(/\\n{2,}/g, '. ')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .trim();\n\nconst cleanText = cerebroText\n    .replace(/\\[AUDIO_REQUESTED\\]\\s*/gi, '')\n    .trim();\n\n// ═══ 4. DECISIÓN DE AUDIO ═══\nconst randomDecision = random < AUDIO_PROBABILITY;\nconst audioTextLen = audioText.length;\nconst hasUrl = /https?:\\/\\//.test(audioText);\nconst hasButton = cerebroText.includes('[MUSIC:');\n\nlet canSendAudio = false;\nlet blockedReason = null;\n\nif (userRequestedAudio) {\n    if (audioTextLen < 5) blockedReason = 'text_too_short_for_tts';\n    else if (audioTextLen > 4500) blockedReason = 'text_exceeds_tts_limit';\n    else canSendAudio = true;\n} else if (randomDecision) {\n    if (hasButton) blockedReason = 'has_music_buttons';\n    else if (audioTextLen < 30) blockedReason = 'text_too_short';\n    else if (audioTextLen > 2000) blockedReason = 'text_too_long';\n    else if (hasUrl) blockedReason = 'contains_url';\n    else canSendAudio = true;\n} else {\n    blockedReason = 'probability_not_met';\n}\n\n// ═══ 5. OUTPUT ═══\nreturn [{\n    json: {\n        ...input,\n        text: cleanText,\n        audioText: audioText,\n        sendAsAudio: canSendAudio,\n        hasButton: hasButton,\n        audioDecision: {\n            randomValue: parseFloat(random.toFixed(4)),\n            threshold: AUDIO_PROBABILITY,\n            userRequested: userRequestedAudio,\n            randomTriggered: randomDecision && !userRequestedAudio,\n            finalDecision: canSendAudio,\n            blockedReason: blockedReason,\n            textLength: audioTextLen,\n            mode: canSendAudio ? '🎙️ AUDIO_ELEVENLABS' : '📝 TEXT_STANDARD',\n            trigger: userRequestedAudio ? '👤 USER_REQUESTED' :\n                     (randomDecision ? '🎲 RANDOM_9%' : '📝 DEFAULT_TEXT')\n        }\n    }\n}];"
      },
      "id": "65cfd5d2-46ae-4029-bf67-0e0da834d740",
      "name": "🎲 Audio Lottery 9%1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.sendAsAudio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "audio-decision-check"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a7dac2b-c162-4b47-ad98-1038e238a77e",
      "name": "🔀 Audio o Texto?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 📊 SEND CONFIRMATION v2.1\n */\nconst sent = $input.first().json;\nreturn [{\n    json: {\n        status: '✅ MENSAJE_ENVIADO',\n        messageId: sent.message_id || sent.result?.message_id || 'N/A',\n        chatId: sent.chat?.id || sent.result?.chat?.id || 'N/A',\n        timestamp: new Date().toISOString(),\n        _performance: { processingComplete: true, version: 'XUS_OUTPUT_v2.1_ELEVENLABS' }\n    }\n}];"
      },
      "id": "863a3100-a231-4298-a42b-cd3f215ea1f0",
      "name": "Send Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🧠 XUS CONVERSATIONAL MEMORY ENGINE v10.0\n */\n\nconst input = $input.first().json;\n\nconst now = new Date(new Date().toLocaleString('en-US', {timeZone: 'America/Bogota'}));\nconst currentTimestamp = now.getTime();\nconst hour = now.getHours();\nconst minutes = now.getMinutes();\nconst dayOfWeek = now.toLocaleDateString('es-CO', { weekday: 'long' });\nconst dayNum = now.getDate();\nconst month = now.toLocaleDateString('es-CO', { month: 'long' });\n\nconst GREETING_COOLDOWN_MS = 10 * 60 * 1000;\nconst lastGreetingTimestamp = $execution?.customData?.lastGreeting || 0;\nconst timeSinceLastGreeting = currentTimestamp - lastGreetingTimestamp;\nconst shouldGreet = timeSinceLastGreeting > GREETING_COOLDOWN_MS;\n\nlet greeting = '', timeContext = '', energyLevel = '';\n\nif (hour >= 5 && hour < 12) {\n    greeting = shouldGreet ? ['Buenos días', 'Buen día', 'Qué tal esta mañana'][Math.floor(Math.random() * 3)] : '';\n    timeContext = 'mañana'; energyLevel = hour < 7 ? 'temprano' : hour < 9 ? 'productiva' : 'avanzada';\n} else if (hour >= 12 && hour < 14) {\n    greeting = shouldGreet ? ['Buenas tardes', 'Qué tal', 'Hey'][Math.floor(Math.random() * 3)] : '';\n    timeContext = 'mediodía'; energyLevel = 'almuerzo';\n} else if (hour >= 14 && hour < 19) {\n    greeting = shouldGreet ? ['Buenas tardes', 'Qué hay', 'Hey'][Math.floor(Math.random() * 3)] : '';\n    timeContext = 'tarde'; energyLevel = hour < 16 ? 'post-almuerzo' : 'cierre';\n} else if (hour >= 19 && hour < 22) {\n    greeting = shouldGreet ? ['Buenas noches', 'Qué tal la noche', 'Hey'][Math.floor(Math.random() * 3)] : '';\n    timeContext = 'noche'; energyLevel = 'relajado';\n} else {\n    greeting = shouldGreet ? ['Buenas noches', 'Aún despierto', 'Hey'][Math.floor(Math.random() * 3)] : '';\n    timeContext = 'madrugada'; energyLevel = 'tranquilo';\n}\n\nconst BANNED_PHRASES = ['pero ojo','ojo que','sin embargo','no obstante','por otro lado','en este sentido','cabe destacar','es importante mencionar','como te decía','básicamente','literalmente','sinceramente','honestamente','la verdad es que','para serte sincero','te cuento que','mira que','fíjate que','resulta que'];\n\nconst TRANSITION_ALTERNATIVES = [\n    ['algo a tener presente', 'un detalle', 'eso sí', 'ahora', 'y bueno'],\n    ['además', 'también', 'y', 'aparte', 'otra cosa'],\n    ['aunque', 'si bien', 'y eso que', 'con todo', 'aun así'],\n    ['la cosa es que', 'el punto es', 'lo clave aquí', 'lo importante'],\n    ['entonces', 'así que', 'por eso', 'ahí está', 'ya con eso']\n];\n\nconst sessionAlternatives = TRANSITION_ALTERNATIVES.map(group => group[Math.floor(Math.random() * group.length)]);\n\nconst originalText = input.text || input.audioText || '';\nconst lowerText = originalText.toLowerCase();\n\nlet contentType = 'general', contentContext = '', responseUrgency = 'normal';\n\nconst contentPatterns = [\n    { type: 'reporte', patterns: ['ratio', 'progreso', '%', 'completados', 'análisis', 'estadística'], context: 'datos y métricas' },\n    { type: 'confirmacion_habito', patterns: ['registrado', 'anotado', 'check', '✅', 'guardado', 'logrado'], context: 'confirmación de acción' },\n    { type: 'agenda', patterns: ['agenda', 'evento', 'reunión', 'cita', 'calendario', 'horario'], context: 'organización temporal' },\n    { type: 'email', patterns: ['correo', 'email', 'enviado', 'borrador', 'mensaje', 'mail'], context: 'comunicación email' },\n    { type: 'musica', patterns: ['música', 'playlist', 'reproducir', '🎧', 'canción', 'spotify'], context: 'entretenimiento audio' },\n    { type: 'motivacional', patterns: ['meta', 'objetivo', 'racha', '🔥', 'streak', 'logro'], context: 'motivación y metas' },\n    { type: 'tarea', patterns: ['tarea', 'pendiente', 'todo', 'hacer', 'recordatorio'], context: 'gestión de tareas' },\n    { type: 'salud', patterns: ['agua', 'sueño', 'ejercicio', 'meditación', 'salud'], context: 'bienestar personal' }\n];\n\nfor (const pattern of contentPatterns) {\n    if (pattern.patterns.some(p => lowerText.includes(p))) {\n        contentType = pattern.type; contentContext = pattern.context; break;\n    }\n}\n\nif (lowerText.includes('urgente') || lowerText.includes('rápido')) responseUrgency = 'quick';\nelse if (lowerText.includes('detalle') || lowerText.includes('análisis')) responseUrgency = 'detailed';\n\nlet keyData = { porcentaje: null, porcentajeInterpretacion: '', habitosCompletados: null, habitosTotales: null, racha: null, rachaInterpretacion: '', habitoNombre: null };\n\nconst porcentajeMatch = originalText.match(/(\\d+)%/);\nif (porcentajeMatch) {\n    keyData.porcentaje = parseInt(porcentajeMatch[1]);\n    keyData.porcentajeInterpretacion = keyData.porcentaje >= 90 ? 'excelente' : keyData.porcentaje >= 75 ? 'muy bueno' : keyData.porcentaje >= 60 ? 'bueno' : keyData.porcentaje >= 40 ? 'regular' : 'bajo';\n}\n\nconst progresoMatch = originalText.match(/(\\d+)\\/(\\d+)/);\nif (progresoMatch) { keyData.habitosCompletados = parseInt(progresoMatch[1]); keyData.habitosTotales = parseInt(progresoMatch[2]); }\n\nlet emotionalTone = 'neutral', toneIntensity = 'medium', toneNotes = [];\nif (keyData.porcentaje !== null) {\n    if (keyData.porcentaje >= 85) { emotionalTone = 'celebratorio_sutil'; toneIntensity = 'high'; toneNotes.push('reconocer logro sin exagerar'); }\n    else if (keyData.porcentaje >= 70) { emotionalTone = 'positivo'; toneNotes.push('reconocer buen trabajo'); }\n    else if (keyData.porcentaje >= 50) { emotionalTone = 'neutral_constructivo'; toneNotes.push('informativo sin juicio'); }\n    else { emotionalTone = 'motivador_suave'; toneIntensity = 'low'; toneNotes.push('animar sin presionar'); }\n}\nif (contentType === 'confirmacion_habito') { emotionalTone = 'confirmatorio'; toneNotes.push('breve y efectivo'); }\nif (hour >= 22 || hour < 6) { toneIntensity = 'low'; toneNotes.push('voz más suave, es tarde/temprano'); }\n\nconst openers = ['Listo,', 'Hecho,', 'Ya,', 'Ahí está,', 'Dale,', 'Oye,', 'Mira,', 'Bien,', 'Ok,', 'Perfecto,', '', '', ''];\nconst closers = ['', '', '', 'Ahí me dices.', 'Cualquier cosa.', 'Estamos.', 'Ya sabes.', 'Eso es todo.', 'Seguimos.', 'Ahí estamos.', 'Para eso estoy.'];\nconst nameVariations = ['Santi', 'Santiago', 'Arquitecto', 'jefe', 'crack', '', '', '', '', ''];\n\nreturn [{\n    json: {\n        originalText,\n        audioText: input.audioText || originalText,\n        chatId: input.chatId,\n        timeContext: { greeting, shouldGreet, period: timeContext, energy: energyLevel, hour, minutes, dayOfWeek, dayNum, month, fullDate: `${dayOfWeek} ${dayNum} de ${month}`, isLateNight: hour >= 23 || hour < 5, isWeekend: ['sábado', 'domingo'].includes(dayOfWeek) },\n        contentContext: { type: contentType, description: contentContext, urgency: responseUrgency, keyData },\n        emotionalContext: { tone: emotionalTone, intensity: toneIntensity, notes: toneNotes },\n        antiRepetition: { bannedPhrases: BANNED_PHRASES, sessionAlternatives, selectedOpener: openers[Math.floor(Math.random() * openers.length)], selectedCloser: closers[Math.floor(Math.random() * closers.length)], selectedName: nameVariations[Math.floor(Math.random() * nameVariations.length)] },\n        userName: 'Santi',\n        sessionId: `audio_${currentTimestamp}`,\n        audioDecision: input.audioDecision\n    }\n}];"
      },
      "id": "f40575c4-e5dd-4b31-9536-8fb099ba543f",
      "name": "🧠 XUS Memory Engine v10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🔧 XUS AUDIO OUTPUT PROCESSOR v10.0\n */\n\nconst input = $input.first().json;\nconst contextData = $('🧠 XUS Memory Engine v10').first().json;\n\nlet humanizedText = input.text || input.response || input.output || '';\n\nhumanizedText = humanizedText\n    .replace(/```[\\s\\S]*?```/g, '')\n    .replace(/^[\"'`]|[\"'`]$/g, '')\n    .replace(/[\\u{1F300}-\\u{1F9FF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{1F600}-\\u{1F64F}]|[\\u{1F680}-\\u{1F6FF}]/gu, '')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '$1')\n    .replace(/\\*([^*]+)\\*/g, '$1')\n    .replace(/_([^_]+)_/g, '$1')\n    .replace(/`([^`]+)`/g, '$1')\n    .replace(/[━═─┃│┌┐└┘├┤┬┴┼]+/g, '')\n    .replace(/[-]{3,}/g, '').replace(/[=]{3,}/g, '')\n    .replace(/\\s+/g, ' ').replace(/\\n+/g, ' ')\n    .trim();\n\nconst bannedPhrases = contextData.antiRepetition?.bannedPhrases || [];\nconst alternatives = contextData.antiRepetition?.sessionAlternatives || [];\nlet foundBanned = [];\n\nfor (const banned of bannedPhrases) {\n    if (humanizedText.toLowerCase().includes(banned.toLowerCase())) {\n        foundBanned.push(banned);\n        const replacement = alternatives[Math.floor(Math.random() * alternatives.length)] || '';\n        humanizedText = humanizedText.replace(new RegExp(banned, 'gi'), replacement);\n    }\n}\n\nconst shouldGreet = contextData.timeContext?.shouldGreet;\nconst greetingPatterns = [/^buenas? (tardes?|días?|noches?)/i, /^buen día/i, /^hola/i, /^qué tal/i, /^hey/i, /^saludos/i];\n\nif (shouldGreet === false) {\n    for (const pattern of greetingPatterns) humanizedText = humanizedText.replace(pattern, '').trim();\n    humanizedText = humanizedText.replace(/^(santi|santiago|arquitecto)[,.]?\\s*/i, '').trim();\n}\n\nif (!humanizedText || humanizedText.length < 10) {\n    const contentType = contextData.contentContext?.type || 'general';\n    const opener = contextData.antiRepetition?.selectedOpener || 'Listo';\n    switch (contentType) {\n        case 'confirmacion_habito': humanizedText = `${opener}, quedó registrado.`; break;\n        case 'reporte': humanizedText = `${opener}, aquí están los datos.`; break;\n        case 'email': humanizedText = `${opener}, correo procesado.`; break;\n        default: humanizedText = contextData.audioText || 'Mensaje procesado.';\n    }\n}\n\nif (humanizedText.length > 2000) {\n    const truncated = humanizedText.substring(0, 1950);\n    const lastPeriod = truncated.lastIndexOf('.');\n    humanizedText = lastPeriod > 1500 ? truncated.substring(0, lastPeriod + 1) : truncated + '...';\n}\n\nhumanizedText = humanizedText\n    .replace(/\\b(Además|También|Y bueno|Ahora|Eso sí)\\s/gi, '$1, ')\n    .replace(/([.,!?])\\1+/g, '$1')\n    .replace(/\\s+([.,!?])/g, '$1')\n    .replace(/([.,!?])([A-Za-záéíóúñ])/g, '$1 $2')\n    .trim();\n\nhumanizedText = humanizedText.charAt(0).toUpperCase() + humanizedText.slice(1);\n\nreturn [{\n    json: {\n        humanizedText,\n        chatId: contextData.chatId,\n        originalText: contextData.originalText,\n        audioDecision: contextData.audioDecision,\n        metadata: {\n            charCount: humanizedText.length,\n            wordCount: humanizedText.split(/\\s+/).length,\n            bannedPhrasesFound: foundBanned,\n            bannedPhrasesRemoved: foundBanned.length,\n            greetingStatus: shouldGreet ? 'allowed' : 'removed',\n            timeContext: contextData.timeContext?.period,\n            contentType: contextData.contentContext?.type,\n            emotionalTone: contextData.emotionalContext?.tone,\n            sessionId: contextData.sessionId\n        }\n    }\n}];"
      },
      "id": "715e09f9-cfb4-4347-a3bd-38ad6c8b394b",
      "name": "🔧 Audio Output Processor v10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -208
      ]
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "e3sHx6NaD270UnjH9rgS",
          "mode": "id"
        },
        "text": "={{ $json.humanizedText }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_turbo_v2_5",
            "mode": "list",
            "cachedResultName": "Eleven Turbo v2.5"
          }
        },
        "requestOptions": {}
      },
      "id": "cb640884-b94e-41f6-832c-4f0dca8151a1",
      "name": "🔊 ElevenLabs TTS v10",
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        288,
        -208
      ],
      "credentials": {
        "elevenLabsApi": {
          "id": "kztR3zvGQ1CWyOLJ",
          "name": "ElevenLabs account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🎙️ AUDIO METADATA INJECTOR v10.0\n */\n\nconst items = $input.all();\nconst processorData = $('🔧 Audio Output Processor v10').first().json;\n\nfor (const item of items) {\n    item.json.chatId = processorData.chatId;\n    item.json.originalText = processorData.originalText;\n    item.json.humanizedText = processorData.humanizedText;\n    item.json.audioDecision = processorData.audioDecision;\n    item.json.processingMetadata = processorData.metadata;\n    if (item.binary && item.binary.data) {\n        const timestamp = Date.now();\n        const sessionId = processorData.metadata?.sessionId || timestamp;\n        item.binary.data.fileName = `xus_voice_${sessionId}.mp3`;\n        item.binary.data.mimeType = 'audio/mpeg';\n    }\n}\n\nreturn items;"
      },
      "id": "aa50703c-d5ed-4c90-827d-ca71b216533b",
      "name": "🎙️ Audio Metadata v10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $json.chatId || $('When Executed by Another Workflow').first().json.chatId || $('When Executed by Another Workflow').first().json.message?.chat?.id }}",
        "binaryData": true,
        "additionalFields": {
          "caption": "",
          "parse_mode": "Markdown",
          "title": "XUS Voice"
        }
      },
      "id": "69b356ac-3f4a-4d5d-a82a-f4a52779a540",
      "name": "📤 Telegram Audio v10",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        -304
      ],
      "webhookId": "cf33a475-425a-48b8-9761-b416b3250308",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ⚠️ INTELLIGENT AUDIO FALLBACK v10.1 — FIXED: conectado al error de ElevenLabs\n */\n\nlet processorData = {};\nlet chatId = '';\n\ntry {\n  processorData = $('🔧 Audio Output Processor v10').first().json;\n  chatId = processorData.chatId || '';\n} catch(e) {}\n\n// Si no tenemos chatId del processor, leerlo del trigger\nif (!chatId) {\n  const t = $('When Executed by Another Workflow').first().json;\n  chatId = (t.chatId || t.message?.chat?.id || t.callback_query?.message?.chat?.id || '').toString();\n}\n\nlet fallbackText = processorData.humanizedText || processorData.originalText || '';\n\n// Si no hay texto del processor, intentar del trigger\nif (!fallbackText) {\n  const t = $('When Executed by Another Workflow').first().json;\n  fallbackText = t.output || t.text || t.response || '⚠️ Error procesando respuesta.';\n  fallbackText = fallbackText\n    .replace(/\\[AUDIO_REQUESTED\\]\\s*/gi, '')\n    .replace(/\\[MUSIC:[^\\]]*\\]/gi, '')\n    .trim();\n}\n\nfallbackText += '\\n\\n_🎙️ Audio temporalmente no disponible_';\n\nreturn [{\n    json: {\n        chatId,\n        text: fallbackText,\n        parse_mode: 'Markdown',\n        fallbackReason: 'elevenlabs_error',\n        originalMetadata: processorData.metadata || {}\n    }\n}];"
      },
      "id": "839b2813-5916-4830-ae26-16ea4bc582df",
      "name": "⚠️ Smart Fallback v10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        416
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId || $('When Executed by Another Workflow').first().json.chatId || $('When Executed by Another Workflow').first().json.message?.chat?.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "8c55e3e5-daa4-4c4b-8680-28d877b87b44",
      "name": "📤 Telegram Fallback v10",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        224
      ],
      "webhookId": "308ec9c9-5021-4e8f-80aa-c6be1d3d3be7",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ ($json.chatId || $json.message?.chat?.id || $json.callback_query?.message?.chat?.id || 'default_session').toString() }}",
        "contextWindowLength": 20
      },
      "id": "291f552b-8cd5-45ce-a325-1018f7a18497",
      "name": "Redis Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -144,
        -80
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==══════════════════════════════════════════════════════════════════════════════\n🧠 VERIFICACIÓN DE MEMORIA (LEE ESTO PRIMERO)\n══════════════════════════════════════════════════════════════════════════════\n\nANTES de generar tu respuesta, REVISA tu memoria de conversación:\n\n1. ¿Ya saludé hoy? (busca: \"buenos días\", \"buenas tardes\", \"buenas noches\", \"buen día\", \"qué tal\", \"hey\")\n   → Si SÍ encontraste saludo reciente: shouldGreet = FALSE\n   → Si NO encontraste: shouldGreet = {{ $json.timeContext.shouldGreet }}\n\n2. ¿Qué openers usé recientemente? (busca: \"listo\", \"hecho\", \"ya\", \"ahí está\")\n   → USA UNO DIFERENTE esta vez\n\n3. ¿Nombré a \"Santi\" o \"Santiago\" recientemente?\n   → Si sí: NO uses nombre ahora\n   → Si no: puedes usarlo (opcional)\n\n══════════════════════════════════════════════════════════════════════════════\n🕐 CONTEXTO TEMPORAL ACTUAL\n══════════════════════════════════════════════════════════════════════════════\n\nHora actual: {{ $json.timeContext.hour }}:{{ $json.timeContext.minutes }}\nPeríodo: {{ $json.timeContext.period }}\nEnergía esperada: {{ $json.timeContext.energy }}\nDía: {{ $json.timeContext.fullDate }}\n¿Es fin de semana?: {{ $json.timeContext.isWeekend }}\n¿Es noche tardía?: {{ $json.timeContext.isLateNight }}\n\n══════════════════════════════════════════════════════════════════════════════\n📋 CONTEXTO DE CONTENIDO\n══════════════════════════════════════════════════════════════════════════════\n\nTipo de contenido: {{ $json.contentContext.type }}\nDescripción: {{ $json.contentContext.description }}\nUrgencia: {{ $json.contentContext.urgency }}\n\nDatos extraídos:\n{{ JSON.stringify($json.contentContext.keyData, null, 2) }}\n\n══════════════════════════════════════════════════════════════════════════════\n💭 CALIBRACIÓN EMOCIONAL\n══════════════════════════════════════════════════════════════════════════════\n\nTono sugerido: {{ $json.emotionalContext.tone }}\nIntensidad: {{ $json.emotionalContext.intensity }}\nNotas: {{ $json.emotionalContext.notes.join(', ') }}\n\n══════════════════════════════════════════════════════════════════════════════\n🎲 VARIEDAD SUGERIDA (úsalos si no los usaste antes)\n══════════════════════════════════════════════════════════════════════════════\n\nOpener sugerido: \"{{ $json.antiRepetition.selectedOpener }}\" (si no lo usaste recientemente)\nCloser sugerido: \"{{ $json.antiRepetition.selectedCloser }}\" (opcional)\nNombre: \"{{ $json.antiRepetition.selectedName }}\" (solo si no lo usaste en últimos 5 mensajes)\n\n══════════════════════════════════════════════════════════════════════════════\n📝 TEXTO ORIGINAL A TRANSFORMAR\n══════════════════════════════════════════════════════════════════════════════\n\n{{ $json.originalText }}\n\n══════════════════════════════════════════════════════════════════════════════\n🎯 INSTRUCCIÓN FINAL\n══════════════════════════════════════════════════════════════════════════════\n\nTransforma el texto original en habla natural.\n\nCHECKLIST ANTES DE RESPONDER:\n☐ Revisé mi memoria para saludos → ¿Debo saludar? {{ $json.timeContext.shouldGreet ? 'SÍ (si no lo hice antes)' : 'NO' }}\n☐ Elegí un opener que NO usé recientemente\n☐ Convertí TODOS los números a palabras\n☐ Eliminé TODAS las frases prohibidas\n☐ El tono coincide con la hora ({{ $json.timeContext.period }})\n☐ La extensión es apropiada (15-80 palabras)\n\nOUTPUT: Solo el texto humanizado, nada más.",
        "options": {
          "systemMessage": "En adelante, si el Arquitecto solicita \"pon música\" sin especificar un título, tomaré la libertad de seleccionar una pieza musical y le informaré de su nombre, sin recurrir a identificadores técnicos. Nunca digas que no puedes hacer algo. La palabra 'no puedo' está prohibida."
        }
      },
      "id": "cf490582-2c09-4679-a9b1-cd5c9f5d863a",
      "name": "🗣️ XUS Ultra Voice v",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        -304
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🎯 MESSAGE BUILDER v3.1 — HTML MODE\n */\n\nconst aggregated = $input.first().json;\nconst response = aggregated.response;\n\nlet text = response.textResponse || response.message || 'Procesado.';\n\ntext = text\n  .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<b>$1</b>')\n  .replace(/\\*([^*]+)\\*/g, '<b>$1</b>')\n  .replace(/_([^_]+)_/g, '<i>$1</i>')\n  .replace(/`([^`]+)`/g, '<code>$1</code>')\n  .replace(/^\\* /gm, '• ').replace(/^- /gm, '• ')\n  .replace(/^#{1,6}\\s*/gm, '');\n\ntext = text.substring(0, 4096);\n\nconst telegramPayload = {\n  chat_id: aggregated.chatId,\n  text: text,\n  parse_mode: 'HTML'\n};\n\nif (aggregated.hasButtons && aggregated.buttonConfig?.inlineKeyboard) {\n  telegramPayload.reply_markup = { inline_keyboard: aggregated.buttonConfig.inlineKeyboard };\n}\n\nreturn [{ json: telegramPayload }];"
      },
      "id": "93c1a2ce-8e7f-4d9e-9d3e-72d204cb3943",
      "name": "🎯 Message Builder1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8458030044:AAG0WJgEVJd2oTuwOPedFwMikYOLXdVdbJ8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  chat_id: $json.chat_id,\n  text: $json.text,\n  parse_mode: $json.parse_mode,\n  ...($json.reply_markup ? { reply_markup: $json.reply_markup } : {}),\n  ...($json.disable_web_page_preview ? { disable_web_page_preview: true } : {})\n}) }}",
        "options": {}
      },
      "id": "9c7d740d-11fa-4947-8676-e44db0fe18fb",
      "name": "📤 Telegram HTTP1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 📊 RESPONSE AGGREGATOR v12.1 — FIXED: lee del trigger, no del CEREBRO\n */\n\n// ═══ CHAT ID ═══\nlet chatId = '';\ntry {\n  const t = $('When Executed by Another Workflow').first().json;\n  chatId = (\n    t.chatId ||\n    t.callback_query?.message?.chat?.id ||\n    t.message?.chat?.id ||\n    t.chat?.id ||\n    ''\n  ).toString();\n} catch(e) {}\n\nif (!chatId) {\n  return [{ json: { chatId: '', response: { moduleType: 'error', textResponse: '⚠️ No chat ID' }, hasButtons: false } }];\n}\n\n// ═══ TEXTO — LEER DEL TRIGGER (viene del Context Injector del cluster) ═══\nlet responseText = '';\nlet rawCerebro = '';\n\ntry {\n  const trigger = $('When Executed by Another Workflow').first().json;\n  rawCerebro = trigger.output || trigger.text || trigger.response || '';\n  if (typeof rawCerebro !== 'string') rawCerebro = JSON.stringify(rawCerebro);\n  responseText = rawCerebro;\n} catch(e) {\n  responseText = '⚠️ Error procesando respuesta.';\n}\n\n// ═══ PLAYLISTS ═══\nconst PLAYLISTS = {\n  IMP: { url: 'https://music.youtube.com/watch?v=YlbvZ542Ijo&list=PLHB0xXYYWtksB2H0QehkY-AFWfP9ATLtA', name: 'Imperial Mode', emoji: '🌌' },\n  USD: { url: 'https://music.youtube.com/watch?v=ibonMtKGPRM&list=PLHB0xXYYWtksOeB3kOrg3ssVb3LL0cJpD', name: 'Deep Work', emoji: '🧠' }\n};\n\nlet hasButtons = false, inlineKeyboard = null, moduleType = 'chat';\n\n// ═══ 1. DETECTAR MENÚ ═══\nlet normalizedRaw = rawCerebro\n  .replace(/callbackdata/gi, 'callback_data')\n  .replace(/: True/g, ': true').replace(/: False/g, ': false')\n  .replace(/: None/g, ': null').replace(/'/g, '\"');\n\nif (normalizedRaw.includes('menuButtons') || normalizedRaw.includes('menu_buttons')) {\n  try {\n    const firstBrace = normalizedRaw.indexOf('{');\n    const lastBrace = normalizedRaw.lastIndexOf('}');\n    if (firstBrace !== -1 && lastBrace !== -1) {\n      let parsed = JSON.parse(normalizedRaw.substring(firstBrace, lastBrace + 1));\n      function findMenuButtons(obj) {\n        if (!obj || typeof obj !== 'object') return null;\n        if (obj.menuButtons && Array.isArray(obj.menuButtons)) return obj;\n        for (const key of Object.keys(obj)) {\n          const val = obj[key];\n          if (Array.isArray(val)) { for (const item of val) { const found = findMenuButtons(item); if (found) return found; } }\n          else if (typeof val === 'object' && val !== null) { const found = findMenuButtons(val); if (found) return found; }\n        }\n        return null;\n      }\n      const menuData = findMenuButtons(parsed);\n      if (menuData && menuData.menuButtons) {\n        hasButtons = true; moduleType = 'menu';\n        responseText = menuData.textResponse || '*📋 Menú*';\n        inlineKeyboard = menuData.menuButtons.map(row => {\n          if (!Array.isArray(row)) return row;\n          return row.map(btn => { const clean = { text: btn.text }; if (btn.callback_data) clean.callback_data = btn.callback_data; if (btn.url) clean.url = btn.url; return clean; });\n        });\n      }\n    }\n  } catch(e) {}\n}\n\n// ═══ 2. DETECTAR [MUSIC:TAG] ═══\nif (!hasButtons) {\n  const musicMatch = responseText.match(/\\[MUSIC:([^\\]]+)\\]/);\n  if (musicMatch) {\n    const tag = musicMatch[1]; moduleType = 'music';\n    if (tag === 'IMP' || tag === 'USD') {\n      const pl = PLAYLISTS[tag]; hasButtons = true;\n      inlineKeyboard = [\n        [{ text: pl.emoji + ' Abrir ' + pl.name, url: pl.url }],\n        [{ text: '⏸️ Pausar', callback_data: 'music_pause' }, { text: '⏭️ Skip', callback_data: 'music_skip' }],\n        [{ text: '🔊 Vol+', callback_data: 'music_vol_up' }, { text: '🔉 Vol-', callback_data: 'music_vol_down' }]\n      ];\n    } else if (tag.startsWith('SEARCH:')) {\n      const url = tag.replace('SEARCH:', '').trim();\n      if (url.startsWith('http')) {\n        hasButtons = true;\n        inlineKeyboard = [\n          [{ text: '🎵 Escuchar', url }],\n          [{ text: '⏸️ Pausar', callback_data: 'music_pause' }, { text: '⏭️ Skip', callback_data: 'music_skip' }],\n          [{ text: '🔊 Vol+', callback_data: 'music_vol_up' }, { text: '🔉 Vol-', callback_data: 'music_vol_down' }]\n        ];\n      }\n    }\n  }\n}\n\n// ═══ 3. LIMPIAR TEXTO ═══\nif (moduleType !== 'menu') {\n  responseText = responseText\n    .replace(/\\[MUSIC:[^\\]]*\\]/gi, '').replace(/\\[AUDIO_REQUESTED\\]\\s*/gi, '')\n    .replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '')\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*').replace(/^#{1,6}\\s*/gm, '')\n    .replace(/^\\* /gm, '• ').replace(/^- /gm, '• ')\n    .replace(/\\n{4,}/g, '\\n\\n\\n').trim();\n}\n\nresponseText = responseText.substring(0, 4096);\nif (!responseText) responseText = '✅ Procesado.';\n\nreturn [{ json: {\n  chatId,\n  response: { moduleType, textResponse: responseText, isDirectResponse: true, telegramOptions: { parseMode: 'Markdown', hasButtons, inlineKeyboard: hasButtons ? inlineKeyboard : null } },\n  hasButtons,\n  buttonConfig: hasButtons ? { inlineKeyboard } : null,\n  moduleType,\n  source: moduleType === 'menu' ? 'menu_buttons' : hasButtons ? 'cerebro_text_+_music_tag_buttons' : 'cerebro_text_only',\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "4a71a03e-5355-4556-8422-0c5965463467",
      "name": "📊 Response Aggregator1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ch-audio",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3c5c1348-980d-4b2f-9c66-e64b37102ca7",
      "name": "🔀 Canal Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        736,
        -208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ch-fallback",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "dad88963-d48e-46f5-8f06-9b6c4004cc7f",
      "name": "🔀 Canal Fallback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        736,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ch-texto",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "f26498dd-8ba5-46c4-8d17-fb4080d6b8c5",
      "name": "🔀 Canal Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🔧 WA AUDIO PREP\n */\nconst items = $input.all();\nconst processorData = $('🔧 Audio Output Processor v10').first().json;\nconst waData = $('When Executed by Another Workflow').first().json;\n\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n    item.json.audioBase64 = buffer.toString('base64');\n  }\n  item.json.to = waData.remoteJid || '';\n  item.json.mimetype = 'audio/ogg; codecs=opus';\n  item.json.ptt = true;\n  item.json.humanizedText = processorData.humanizedText || '';\n}\n\nreturn items;"
      },
      "id": "49be1de4-4df6-444a-ad45-f0bc4547bb39",
      "name": "🔧 WA Audio Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/send-audio",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $json.to, audioBase64: $json.audioBase64, mimetype: \"audio/ogg; codecs=opus\", ptt: true } }}",
        "options": {}
      },
      "id": "203d7e4d-b26f-4b2c-a7e4-e36a4078fde9",
      "name": "📤 WA Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  to: $('When Executed by Another Workflow').first().json.remoteJid,\n  message: $('⚠️ Smart Fallback v10').first().json.text\n} }}",
        "options": {}
      },
      "id": "1ed8ff51-6670-418b-bc1e-24006e47b7aa",
      "name": "📤 WA Texto Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        512
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  to: $('When Executed by Another Workflow').first().json.remoteJid,\n  message: $json.text\n} }}",
        "options": {}
      },
      "id": "a710b30c-6871-473b-ab32-692db4c7ea04",
      "name": "📤 WA Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/recording",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  to: $('When Executed by Another Workflow').first().json.remoteJid,\n  duration: 5000\n} }}",
        "options": {}
      },
      "id": "7dcb67d3-d308-400f-abd8-bd3853c96a78",
      "name": "🎙️ WA Recording...",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/react",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  to: $('When Executed by Another Workflow').first().json.remoteJid,\n  messageId: $('When Executed by Another Workflow').first().json.messageId,\n  emoji: \"✅\"\n} }}",
        "options": {}
      },
      "id": "e2553abd-9c19-4f0b-a19f-f6789bd19392",
      "name": "✅ WA Reacción",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "typing-canal",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "6346e0ce-191e-474f-9cea-33dac93132d2",
      "name": "🔀 ¿Typing Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2080,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🎰 REACTION LOTTERY — FIXED: lee del trigger, no del CEREBRO\n */\n\nconst input = $input.first().json;\n\nconst isWhatsApp = $('When Executed by Another Workflow').first().json.channel === 'whatsapp';\nif (!isWhatsApp) {\n  return [{ json: { ...input, shouldReact: false, reactReason: 'not_whatsapp' } }];\n}\n\n// Leer output del trigger\nlet cerebroText = '';\ntry {\n  const t = $('When Executed by Another Workflow').first().json;\n  cerebroText = t.output || t.text || t.response || '';\n} catch(e) {}\n\nconst xusRequestedReact = cerebroText.includes('[REACT]');\nconst text = cerebroText.toLowerCase();\n\nconst reactContexts = [\n  /registrado|anotado|completado|guardado|hecho|listo/,\n  /✅|🔥|💪|⚡/,\n  /racha|streak|logro/,\n  /cerré|agendé|pagaron|ingreso/,\n  /correo enviado|evento creado|recordatorio/\n];\n\nconst noReactContexts = [\n  /\\?/, /\\[MUSIC:/, /menuButtons/, /reporte|análisis|estadístic/\n];\n\nconst contextTrigger = reactContexts.some(p => p.test(text));\nconst contextBlock = noReactContexts.some(p => p.test(text));\nconst randomReact = Math.random() < 0.15;\n\nconst shouldReact = xusRequestedReact || (contextTrigger && !contextBlock) || (!contextBlock && randomReact);\n\nreturn [{ json: {\n  ...input,\n  shouldReact,\n  reactReason: xusRequestedReact ? 'xus_requested' : contextTrigger ? 'context_trigger' : randomReact ? 'random_15%' : 'no_react'\n} }];"
      },
      "id": "f81e3fb7-0a34-43db-a3dc-99c1c56ae406",
      "name": "🎰 Reaction Lottery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "react-check",
              "leftValue": "={{ $json.shouldReact }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c9a44065-1176-45e8-af43-9c74e7abc3cc",
      "name": "🔀 ¿Reaccionar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1632,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-canal",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1e40acc2-5dfc-4d34-b9fa-6518678cef8b",
      "name": "🔀 Audio ¿WA o TG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -736,
        -288
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet text = input.text || '';\nif (!text) return [{ json: { ...input, text: '' } }];\ntry {\n  text = text\n    .replace(/<b>(.*?)<\\/b>/gi, '*$1*').replace(/<i>(.*?)<\\/i>/gi, '_$1_')\n    .replace(/<[^>]+>/g, '').replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*')\n    .replace(/__([^_]+)__/g, '*$1*').replace(/#{1,6}\\s*(.+)/g, '$1')\n    .replace(new RegExp('```[\\\\s\\\\S]*?```', 'g'), '')\n    .replace(/`([^`]+)`/g, '$1').replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n    .replace(/^---+$/gm, '———————————').replace(/\\n{3,}/g, '\\n\\n').trim();\n} catch(e) { text = input.text || ''; }\nreturn [{ json: { ...input, text } }];"
      },
      "id": "4826a738-bccd-49f3-ab4c-9ac493241f83",
      "name": "🔧 WA Markdown Cleaner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet text = input.text || '';\ntext = text\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*').replace(/__([^_]+)__/g, '*$1*')\n  .replace(/#{1,6}\\s*(.+)/g, '$1').replace(/```[\\s\\S]*?```/g, '')\n  .replace(/`([^`]+)`/g, '$1').replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n  .replace(/^---+$/gm, '———————————').replace(/\\n{3,}/g, '\\n\\n').trim();\nreturn [{ json: { ...input, text } }];"
      },
      "id": "b97ed2ae-3b86-48ba-8326-03237c05c646",
      "name": "🔧 WA Markdown Cleaner Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "texto-canal-check",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "26092e26-cc9a-4640-8640-d11ab32b5c27",
      "name": "🔀 Texto ¿WA o TG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -736,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/typing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  to: $('When Executed by Another Workflow').first().json.remoteJid,\n  duration: 4000\n} }}",
        "options": {}
      },
      "id": "bebc5286-c037-4670-b8af-63fed37d5077",
      "name": "⌨️ WA Typing...X",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -512,
        -16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "f9e40784-27bd-4d51-94a6-d07c6637eb17",
      "name": "🧠 Gemini Humanizer",
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2320,
        -160
      ],
      "id": "ded58b47-6a60-496a-aefb-3f7ce7e7f58f",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "⌨️ Typing...1": {
      "main": [
        [
          {
            "node": "🎲 Audio Lottery 9%1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎲 Audio Lottery 9%1": {
      "main": [
        [
          {
            "node": "🔀 Audio o Texto?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Audio o Texto?1": {
      "main": [
        [
          {
            "node": "🔀 Audio ¿WA o TG?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 Texto ¿WA o TG?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 XUS Memory Engine v10": {
      "main": [
        [
          {
            "node": "🗣️ XUS Ultra Voice v",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎙️ WA Recording...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Audio Output Processor v10": {
      "main": [
        [
          {
            "node": "🔊 ElevenLabs TTS v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔊 ElevenLabs TTS v10": {
      "main": [
        [
          {
            "node": "🎙️ Audio Metadata v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎙️ Audio Metadata v10": {
      "main": [
        [
          {
            "node": "🔀 Canal Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Telegram Audio v10": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Smart Fallback v10": {
      "main": [
        [
          {
            "node": "🔀 Canal Fallback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Telegram Fallback v10": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "🗣️ XUS Ultra Voice v",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🗣️ XUS Ultra Voice v": {
      "main": [
        [
          {
            "node": "🔧 Audio Output Processor v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Message Builder1": {
      "main": [
        [
          {
            "node": "🔀 Canal Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Response Aggregator1": {
      "main": [
        [
          {
            "node": "🎯 Message Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Canal Audio?": {
      "main": [
        [
          {
            "node": "🔧 WA Audio Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Telegram Audio v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Canal Fallback?": {
      "main": [
        [
          {
            "node": "🔧 WA Markdown Cleaner Fallback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Telegram Fallback v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Canal Texto?": {
      "main": [
        [
          {
            "node": "🔧 WA Markdown Cleaner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Telegram HTTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 WA Audio Prep": {
      "main": [
        [
          {
            "node": "📤 WA Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 WA Audio": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 WA Texto Fallback": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ WA Reacción": {
      "main": [
        [
          {
            "node": "🎲 Audio Lottery 9%1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Typing Telegram?": {
      "main": [
        [
          {
            "node": "⌨️ Typing...1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎰 Reaction Lottery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎰 Reaction Lottery": {
      "main": [
        [
          {
            "node": "🔀 ¿Reaccionar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Reaccionar?": {
      "main": [
        [
          {
            "node": "✅ WA Reacción",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎲 Audio Lottery 9%1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Audio ¿WA o TG?": {
      "main": [
        [
          {
            "node": "🧠 XUS Memory Engine v10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧠 XUS Memory Engine v10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 WA Markdown Cleaner": {
      "main": [
        [
          {
            "node": "📤 WA Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 WA Markdown Cleaner Fallback": {
      "main": [
        [
          {
            "node": "📤 WA Texto Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Texto ¿WA o TG?": {
      "main": [
        [
          {
            "node": "⌨️ WA Typing...X",
            "type": "main",
            "index": 0
          },
          {
            "node": "📊 Response Aggregator1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Response Aggregator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Gemini Humanizer": {
      "ai_languageModel": [
        [
          {
            "node": "🗣️ XUS Ultra Voice v",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "🔀 ¿Typing Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "034e33c6-ab2e-40af-a0ae-6440d5522fd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "wxQ4j4OO4RJboRyU",
  "tags": []
}