home_snapshot/ubuntu/Workflows-n8n/Input & Output/XUS Begin v1.0 - Entrance & Schedules (1).json
{
  "name": "XUS Begin v1.0 - Entrance & Schedules",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JhmM92TJXuN-C26EILwVW",
          "mode": "list",
          "cachedResultUrl": "/workflow/JhmM92TJXuN-C26EILwVW",
          "cachedResultName": "NEXUS Habit Tracker v5.0 - Optimizado"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1712,
        -64
      ],
      "id": "c66be601-eb9b-43c6-a186-7c310ffdf480",
      "name": "Call 'Habit Registration Direct'"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query",
          "inline_query"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -2048,
        80
      ],
      "id": "0cc734c9-3635-4c7c-992c-aaacf67fdb74",
      "webhookId": "eb29b721-8ad2-4035-a5a7-bd612655fe6e",
      "credentials": {
        "telegramApi": {
          "id": "2wgRI42cRFddrmV3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio1",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b0d53b9e-d9c8-4db1-93d7-5f6fae42bd23",
      "name": "🎤 ¿Es Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -704,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio2",
              "leftValue": "={{ $json.message.audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "94b5a5d2-8ec9-428d-b07e-532cf6e64eb4",
      "name": "🎵 ¿Es Audio File?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -480,
        560
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "/**\n * XUS NEURAL PREPARER v2.1\n */\nconst items = $input.all();\nconst result = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (!item.binary || !item.binary.data) continue;\n  const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n  const base64Data = buffer.toString('base64');\n  let telegramData = {};\n  try { telegramData = $(\"Telegram Trigger\").first().json; } catch (e) {}\n  result.push({\n    json: {\n      audioBase64: base64Data,\n      mimeType: 'audio/ogg',\n      chatId: telegramData?.message?.chat?.id || \"-1003688744736\",\n      messageId: telegramData?.message?.message_id || \"\"\n    }\n  });\n}\nreturn result;"
      },
      "id": "f5031755-791b-4945-81a5-c70aff154f23",
      "name": "🔧 Prepare Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * XUS AUDIO PROCESSOR v1.0 — Telegram\n */\nconst input = $input.first().json;\nlet transcription = \"\";\ntry {\n  if (input.candidates && input.candidates[0]?.content?.parts) {\n    transcription = input.candidates[0].content.parts.map(part => part.text || '').join(' ').trim();\n  }\n} catch (e) { transcription = \"ERROR_TRANSCRIPCION\"; }\n\nif (!transcription || transcription === \"ERROR_TRANSCRIPCION\" || transcription.length < 2) {\n  transcription = \"No pude entender el audio\";\n}\n\nlet telegramData = null;\ntry {\n  const allItems = $(\"Telegram Trigger\").all();\n  if (allItems.length > 0) telegramData = allItems[0].json;\n} catch (e) {}\n\nconst chatId = telegramData?.message?.chat?.id || \"-1003688744736\";\n\nreturn {\n  json: {\n    message: {\n      text: transcription,\n      chat: { id: chatId },\n      message_id: telegramData?.message?.message_id || \"\",\n      from: telegramData?.message?.from || {}\n    },\n    isFromAudio: true,\n    originalTranscription: transcription,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "01ea472e-07e1-4382-a69a-cd00488fdf64",
      "name": "📝 Process Transcription",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        32
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8458030044:AAG0WJgEVJd2oTuwOPedFwMikYOLXdVdbJ8/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "365a5d56-41b6-4521-a4aa-4595ccce6643",
      "name": "⬇️ Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        368
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8458030044:AAG0WJgEVJd2oTuwOPedFwMikYOLXdVdbJ8/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f7697a18-2e26-463e-9e10-db20fead79af",
      "name": "⬇️ Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -32,
        560
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.fileId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        368
      ],
      "id": "dcd35ff4-1832-4f8f-80a1-180f7f8c466f",
      "name": "📥 Get Voice",
      "webhookId": "7a800dcd-605c-461f-ac62-1dd245c8b4c4",
      "credentials": {
        "telegramApi": {
          "id": "2wgRI42cRFddrmV3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        560
      ],
      "id": "e30e2351-a8d3-4f3a-a540-7b7369929944",
      "name": "📥 Get Voice1",
      "webhookId": "bfff4c0c-7318-4b37-bedc-cb6db9b875b6",
      "credentials": {
        "telegramApi": {
          "id": "2wgRI42cRFddrmV3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      {\"inline_data\": {\"mime_type\": \"{{ $json.mimeType }}\",\"data\": \"{{ $json.audioBase64 }}\"}},\n      {\"text\": \"Transcribe este audio en español. Si hay errores de pronunciación o palabras mal dichas, corrígelas para que tengan sentido. Devuelve SOLO el texto transcrito y corregido, sin explicaciones ni formato adicional. Si mencionan 'Xus' o algo similar, escríbelo como 'xus'. Si no puedes transcribir, responde 'ERROR_TRANSCRIPCION'.\"}\n    ]\n  }],\n  \"generationConfig\": {\"temperature\": 0.1,\"maxOutputTokens\": 500}\n}",
        "options": {
          "response": {}
        }
      },
      "id": "03eb56bf-a795-48a7-af5d-89d08875936b",
      "name": "🎙️ Gemini Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -160
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  if (item.binary && item.binary.data) {\n    item.json.audioBase64 = item.binary.data.data;\n    item.json.mimeType = item.binary.data.mimeType || 'audio/ogg';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        368
      ],
      "id": "945057ac-6ea2-4c70-b3c5-620538a5921b",
      "name": "🔧 Binario a Base64"
    },
    {
      "parameters": {
        "jsCode": "let telegramData = null;\ntry { telegramData = $(\"Telegram Trigger\").first().json; } catch (e) { throw new Error('No se pudo obtener datos de Telegram'); }\nconst voiceFileId = telegramData?.message?.voice?.file_id;\nconst audioFileId = telegramData?.message?.audio?.file_id;\nconst fileId = voiceFileId || audioFileId;\nif (!fileId) throw new Error('No se encontró file_id de audio');\nconst chatId = telegramData?.message?.chat?.id || \"\";\nconst messageId = telegramData?.message?.message_id || \"\";\nlet mimeType = 'audio/ogg';\nif (audioFileId) { const audioMime = telegramData?.message?.audio?.mime_type; if (audioMime) mimeType = audioMime; }\nreturn { json: { fileId, mimeType, chatId, messageId, isVoice: !!voiceFileId } };"
      },
      "id": "3dd46ee2-fd66-4fdd-a8a6-b3d19a497423",
      "name": "🎤 Extract File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b2d3f144-1e9d-450e-b19c-cb29512a534d",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6729c5e1-8f58-4ce9-b64f-617410fe15cb",
      "name": "🚦 ¿Texto o Botón?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -928,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "music-check",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "music_",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39511cb8-a3c7-433f-b9da-8b2cd26d1469",
      "name": "🎯 ¿Music o Habit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1088,
        224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2048,
        272
      ],
      "id": "1e85f920-49f1-4149-b83b-d8d5dc9959ce",
      "name": "Webhook",
      "webhookId": "b7191be9-5f98-4b27-b94c-8a1183f2d340"
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🔀 XUS CHANNEL NORMALIZER v5.1 — CON AUDIO WA\n */\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let d = item.json;\n  if (d.body && typeof d.body === 'object' && (d.body.channel || d.body.type || d.body.from)) {\n    d = d.body;\n  }\n\n  const isWhatsApp = (\n    d.channel === 'whatsapp' ||\n    d.type === 'conversation' ||\n    d.messageType === 'conversation' ||\n    d.messageType === 'audioMessage' ||\n    d.messageType === 'pttMessage' ||\n    (typeof d.from === 'string' && (d.from.includes('@lid') || d.from.includes('@s.whatsapp.net')))\n  );\n\n  if (isWhatsApp) {\n    const rawFrom = String(d.from || '');\n    const phone = rawFrom.replace(/@.*$/, '');\n    const msgId = (d.key && d.key.id) ? d.key.id : ('wa_' + Date.now());\n    const name = d.pushName || 'Lead';\n    const text = d.text || '';\n    const jid = (d.key && d.key.remoteJid) ? d.key.remoteJid : rawFrom;\n    const isAudio = d.isAudio === true;\n\n    results.push({\n      json: {\n        channel: 'whatsapp',\n        userPhone: phone,\n        userName: name,\n        text: text,\n        messageId: msgId,\n        chatId: phone,\n        isGroup: d.isGroup === true,\n        remoteJid: jid,\n        message: {\n          text: text,\n          chat: { id: phone },\n          message_id: msgId,\n          from: { id: phone, first_name: name, username: phone }\n        },\n        whatsapp: {\n          from: rawFrom,\n          phone: phone,\n          isGroup: d.isGroup === true,\n          pushName: name,\n          messageType: d.messageType || 'conversation',\n          key: { id: msgId, remoteJid: jid },\n          isAudio: isAudio,\n          audioBase64: d.audioBase64 || null,\n          audioMime: d.audioMime || null\n        }\n      }\n    });\n  } else {\n    results.push({ json: { channel: 'telegram', ...d } });\n  }\n}\nreturn results;"
      },
      "id": "1c438fe5-1efa-490b-8b18-ea280cc61491",
      "name": "🔀 Normalizar Canal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.remoteJid }}\",\n  \"messageId\": \"{{ $json.messageId }}\"\n}",
        "options": {
          "timeout": 3000
        }
      },
      "id": "5e9bbc55-3d68-45a5-ba26-b3fccca16346",
      "name": "✓✓ WA Marcar Leído",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1216,
        -128
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-wa-begin",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c9503de3-9492-4c92-bfdd-8c6806e6c529",
      "name": "🔀 ¿Es WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1600,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('🔀 Normalizar Canal').first().json;\n\nreturn [{\n  json: {\n    audioBase64: d.whatsapp.audioBase64,\n    mimeType: d.whatsapp.audioMime || 'audio/ogg; codecs=opus',\n    channel: 'whatsapp',\n    phone: d.whatsapp.phone,\n    pushName: d.whatsapp.pushName,\n    key: d.whatsapp.key\n  }\n}];"
      },
      "id": "4ab33e06-8b11-48a5-a496-1cc9a3c2df73",
      "name": "🔧 WA Prep Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "transcription-canal",
              "leftValue": "={{ $('🔀 ¿Es WhatsApp?').item.json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f256f3c-7ee4-489b-a73d-c66d42edb548",
      "name": "🔀 ¿Canal Transcripción?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet transcription = '';\ntry {\n  if (input.candidates?.[0]?.content?.parts) {\n    transcription = input.candidates[0].content.parts\n      .map(p => p.text || '').join(' ').trim();\n  }\n} catch (e) {}\n\nif (!transcription || transcription.length < 2) {\n  transcription = 'No pude entender el audio';\n}\n\nconst d = $('🔀 Normalizar Canal').first().json;\nconst phone = d.whatsapp?.phone || d.userPhone || '';\nconst name = d.whatsapp?.pushName || d.userName || '';\nconst msgId = d.whatsapp?.key?.id || d.messageId || '';\nconst jid = d.whatsapp?.key?.remoteJid || d.remoteJid || (phone + '@lid');\n\nreturn [{\n  json: {\n    channel: 'whatsapp',\n    userPhone: phone,\n    userName: name,\n    text: transcription,\n    messageId: msgId,\n    chatId: phone,\n    isGroup: d.whatsapp?.isGroup || false,\n    remoteJid: jid,\n    message: {\n      text: transcription,\n      chat: { id: phone },\n      message_id: msgId,\n      from: { id: phone, first_name: name, username: phone }\n    },\n    whatsapp: d.whatsapp,\n    isFromAudio: true,\n    originalTranscription: transcription,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "76b3bfe2-4211-45e9-8e4b-b2e86f6d98c7",
      "name": "📝 Process Transcription WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wa-audio-chk",
              "leftValue": "={{ $('🔀 Normalizar Canal').first().json.whatsapp?.isAudio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a8601ff8-2795-4835-ba82-d8b382449166",
      "name": "🎤 ¿Audio WA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1216,
        48
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YgJvpfrEcH6igG3W",
          "mode": "list",
          "cachedResultUrl": "/workflow/YgJvpfrEcH6igG3W",
          "cachedResultName": "XUS Talking v1.0 - Main Orchestrator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1344,
        880
      ],
      "id": "76a05888-7c0a-4bab-9cef-34514c74f1dc",
      "name": "Call 'Entrance Xus'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "Abre Spotify en el TV automaticamente. Son las 6:00 AM, playlist IMP.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_IMP",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "Abre Spotify en el TV automaticamente. Son las 6:00 AM, playlist IMP.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0717098d-85dc-4d2f-b64a-0a3f755b3c93",
      "name": "📋 Set IMP",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "Abre Spotify en el TV automaticamente. Son las 9:00 AM, playlist USD.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_USD",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "Abre Spotify en el TV automaticamente. Son las 9:00 AM, playlist USD.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c8cba951-e953-49d8-8e32-e439749b9bd2",
      "name": "📋 Set USD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        688
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-6"
            }
          ]
        }
      },
      "id": "2adff8a6-1646-4391-a965-6f61cf5b49bd",
      "name": "⏰ 6:00 AM - IMP",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        496
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-6"
            }
          ]
        }
      },
      "id": "603189a4-2bbc-4f82-a7c6-3d530c03d470",
      "name": "⏰ 9:00 AM - USD",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        688
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        896,
        1840
      ],
      "id": "cc1139c4-056c-43ee-a48b-4244441502ce",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 5 * * 1-6"
            }
          ]
        }
      },
      "id": "ffcc12dd-748d-4920-80a7-75607e65ec52",
      "name": "⏰ 5:45 AM - Amanecer",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_AMANECER: Son las 5:45 AM. Ejecuta el protocolo de amanecer completo: 1) Lee los KPIs de ayer en XUS Sheets (chats, respuestas, agendados, meta). 2) Consulta los hábitos completados ayer en XUS Habits. 3) Haz ping al TV con XUS SSH para verificar que nexus-mainframe-core está vivo. Luego dame el resumen del campo de batalla: análisis del ayer + estado del sistema para hoy.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_AMANECER",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_AMANECER: Son las 5:45 AM. Ejecuta el protocolo de amanecer completo: 1) Lee los KPIs de ayer en XUS Sheets (chats, respuestas, agendados, meta). 2) Consulta los hábitos completados ayer en XUS Habits. 3) Haz ping al TV con XUS SSH para verificar que nexus-mainframe-core está vivo. Luego dame el resumen del campo de batalla: análisis del ayer + estado del sistema para hoy.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "73e97563-b2c3-4b0c-900f-f4341ffd8549",
      "name": "📋 Set Amanecer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        880
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 13 * * 1-6"
            }
          ]
        }
      },
      "id": "34313dd7-fbd1-4c7b-9362-42bf8ad99aa9",
      "name": "⏰ 13:05 PM - Pulso Mediodía",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        1072
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_MEDIODIA: Son las 1:05 PM. Lee los KPIs de HOY en XUS Sheets: chats iniciados, respuestas, agendados vs meta diaria de 50 leads. Calcula el porcentaje completado y dime si el ritmo alcanza para llegar a meta. Sin rodeos.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_MEDIODÍA",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_MEDIODIA: Son las 1:05 PM. Lee los KPIs de HOY en XUS Sheets: chats iniciados, respuestas, agendados vs meta diaria de 50 leads. Calcula el porcentaje completado y dime si el ritmo alcanza para llegar a meta. Sin rodeos.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8754026b-6ee8-4e0b-89f1-dc7756348e54",
      "name": "📋 Set Mediodía",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1072
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * 1-6"
            }
          ]
        }
      },
      "id": "4bf5a067-6236-43cc-8b16-7d0b650638e0",
      "name": "⏰ 19:00 PM - Auditoría Cierre",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        1264
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_AUDITORIA: Son las 7:00 PM. Ejecuta la auditoría diaria completa: 1) Lee los KPIs finales del dia en XUS Sheets (chats, respuestas, agendados vs meta). 2) Consulta el tasking plan de hoy en XUS Habits: qué hábitos completados y cuáles pendientes. 3) Genera el análisis Expectativa vs Realidad. Preséntalo como la auditoría nocturna oficial.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_AUDITORÍA",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_AUDITORIA: Son las 7:00 PM. Ejecuta la auditoría diaria completa: 1) Lee los KPIs finales del dia en XUS Sheets (chats, respuestas, agendados vs meta). 2) Consulta el tasking plan de hoy en XUS Habits: qué hábitos completados y cuáles pendientes. 3) Genera el análisis Expectativa vs Realidad. Preséntalo como la auditoría nocturna oficial.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "19261feb-43ce-4c71-b9ba-527a2c2d6e42",
      "name": "📋 Set Auditoría",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1264
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-6"
            }
          ]
        }
      },
      "id": "3691842d-77c3-4996-97cd-7e36dba8f414",
      "name": "⏰ 22:00 PM - Desconexión",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        1456
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_DESCONEXION: Son las 10:00 PM. Apaga el TV automaticamente con XUS SSH comando powerOff. La jornada termino. El descanso es parte del sistema.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_DESCONEXIÓN",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_DESCONEXION: Son las 10:00 PM. Apaga el TV automaticamente con XUS SSH comando powerOff. La jornada termino. El descanso es parte del sistema.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c6ca4ad2-4fcb-4405-b77f-8da3d364d816",
      "name": "📋 Set Desconexión",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1456
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "a9c9e9c7-d707-4f8a-8ace-7a575fcfa6b7",
      "name": "⏰ 3:00 AM - Protocolo Fénix",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        896,
        1648
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_FENIX: Son las 3:00 AM. Protocolo de integridad del sistema: 1) Consulta con XUS Flow los errores de ejecucion de n8n de las ultimas 24 horas. 2) Haz ping al TV con XUS SSH para verificar que nexus-mainframe-core responde. Si hay errores criticos reportalos. Responde con el resumen tecnico para el log.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_FÉNIX",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_FENIX: Son las 3:00 AM. Protocolo de integridad del sistema: 1) Consulta con XUS Flow los errores de ejecucion de n8n de las ultimas 24 horas. 2) Haz ping al TV con XUS SSH para verificar que nexus-mainframe-core responde. Si hay errores criticos reportalos. Responde con el resumen tecnico para el log.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0b905e34-87ae-4c4b-9424-3221a2ecedaf",
      "name": "📋 Set Fénix",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1648
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1-6"
            }
          ]
        }
      },
      "id": "f8e362ae-9239-484b-93b9-4b7b4175b5f1",
      "name": "⏰ 8:30 AM - War Room",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_WAR_ROOM: Son las 8:30 AM. Ejecuta el War Room Strategy: 1) Lee los eventos de Google Calendar de HOY con XUS Calendar. 2) Consulta cuántos leads elegibles quedan en XUS Outreach (leads pendientes por contactar). 3) Revisa en XUS Habits qué hábitos del bloque matutino están completos y cuáles faltan. Genera el briefing de combate del día: qué tienes pendiente, qué proyectos son urgentes y cuántos leads atacamos hoy. Sin rodeos.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_WAR_ROOM",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_WAR_ROOM: Son las 8:30 AM. Ejecuta el War Room Strategy: 1) Lee los eventos de Google Calendar de HOY con XUS Calendar. 2) Consulta cuántos leads elegibles quedan en XUS Outreach (leads pendientes por contactar). 3) Revisa en XUS Habits qué hábitos del bloque matutino están completos y cuáles faltan. Genera el briefing de combate del día: qué tienes pendiente, qué proyectos son urgentes y cuántos leads atacamos hoy. Sin rodeos.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d972e0aa-2c13-4451-a3f3-0bf6c5d59cef",
      "name": "📋 Set War Room",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 11 * * 1-6"
            }
          ]
        }
      },
      "id": "bcedccde-f318-4c81-aafa-13f7d30131a4",
      "name": "⏰ 11:30 AM - Meridian Pausa",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_MERIDIAN_PAUSA: Son las 11:30 AM. Protocolo de recarga analógica: apaga el TV con XUS SSH (comando screenOff). Luego mándame un mensaje corto diciendo que es hora de almorzar y desconectar. La batalla se pausa. Volvemos a las 12:30.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_MERIDIAN_PAUSA",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_MERIDIAN_PAUSA: Son las 11:30 AM. Protocolo de recarga analógica: apaga el TV con XUS SSH (comando screenOff). Luego mándame un mensaje corto diciendo que es hora de almorzar y desconectar. La batalla se pausa. Volvemos a las 12:30.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8dd531ed-9f6e-41a5-8987-75344c84ffe5",
      "name": "📋 Set Meridian Pausa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        224
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 12 * * 1-6"
            }
          ]
        }
      },
      "id": "6efdb1fa-f032-408a-bb4c-4c58c4a5df40",
      "name": "⏰ 12:30 PM - Meridian Retorno",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_MERIDIAN_RETORNO: Son las 12:30 PM. Retorno al combate. Ejecuta en orden: 1) Con XUS SSH abre Spotify en el TV (comando openSpotify). 2) Lee en XUS Sheets cuántos leads faltan para la meta del día. Dame el mensaje de retorno al combate con los números exactos de lo que queda por hacer en la tarde.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_MERIDIAN_RETORNO",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_MERIDIAN_RETORNO: Son las 12:30 PM. Retorno al combate. Ejecuta en orden: 1) Con XUS SSH abre Spotify en el TV (comando openSpotify). 2) Lee en XUS Sheets cuántos leads faltan para la meta del día. Dame el mensaje de retorno al combate con los números exactos de lo que queda por hacer en la tarde.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "370e7081-58b3-4c81-9f6e-1d83cf9b3d15",
      "name": "📋 Set Meridian Retorno",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        448
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 1-6"
            }
          ]
        }
      },
      "id": "bdabe995-962a-4394-bc70-65ae746ad807",
      "name": "⏰ 20:00 PM - Pre-Audit",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_PRE_AUDIT: Son las 8:00 PM. Última llamada antes del cierre. Ejecuta: 1) Lee en XUS Habits qué hábitos del día quedaron pendientes. 2) Consulta en XUS Sheets los KPIs finales del día (leads contactados, respuestas recibidas). 3) Dame la lista exacta de lo que falta completar en la próxima hora antes del cierre definitivo de operaciones. Tono de urgencia.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_PRE_AUDIT",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_PRE_AUDIT: Son las 8:00 PM. Última llamada antes del cierre. Ejecuta: 1) Lee en XUS Habits qué hábitos del día quedaron pendientes. 2) Consulta en XUS Sheets los KPIs finales del día (leads contactados, respuestas recibidas). 3) Dame la lista exacta de lo que falta completar en la próxima hora antes del cierre definitivo de operaciones. Tono de urgencia.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a78bda59-935e-4f29-a285-e516c058911f",
      "name": "📋 Set Pre-Audit",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        672
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,15,30 21 * * 1-6"
            }
          ]
        }
      },
      "id": "c6126be6-a7d0-4104-a62d-914d17ef848e",
      "name": "⏰ 21:00/15/30 PM - The Sentinel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        896
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_SENTINEL: Son las 9PM (puede ser 9:00, 9:15 o 9:30 - detecta la ventana por la hora exacta). VENTANA 9:00: Comparativa ayer vs hoy en XUS Habits + XUS Sheets (KPIs). VENTANA 9:15: Radar de proyectos urgentes desde XUS Calendar o XUS Drive. VENTANA 9:30: Sentencia final del día, tono de cierre absoluto. Ejecuta la ventana correspondiente a la hora actual. Esto es la auditoría final del Arquitecto.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_SENTINEL",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_SENTINEL: Son las 9PM (puede ser 9:00, 9:15 o 9:30 - detecta la ventana por la hora exacta). VENTANA 9:00: Comparativa ayer vs hoy en XUS Habits + XUS Sheets (KPIs). VENTANA 9:15: Radar de proyectos urgentes desde XUS Calendar o XUS Drive. VENTANA 9:30: Sentencia final del día, tono de cierre absoluto. Ejecuta la ventana correspondiente a la hora actual. Esto es la auditoría final del Arquitecto.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "12b3b626-767c-40b4-8277-2c6e135339ea",
      "name": "📋 Set Sentinel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        896
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "84d4a346-fd22-4dad-8387-0009963bb9b4",
      "name": "⏰ Lunes 7:00 AM - Briefing Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        1120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_BRIEFING_SEMANAL: Es lunes y son las 7:00 AM. Ejecuta el briefing semanal completo: 1) Lee Google Calendar con XUS Calendar y dame todos los eventos importantes de esta semana. 2) Consulta en XUS Sheets los KPIs de la semana pasada (total correos enviados, respuestas, conversiones). 3) Calcula cuántos leads disponibles quedan en XUS Outreach para esta semana. 4) Genera el mapa de batalla semanal: qué necesito lograr esta semana para ir en ruta al objetivo mensual. Tono de comando supremo.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_BRIEFING_SEMANAL",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_BRIEFING_SEMANAL: Es lunes y son las 7:00 AM. Ejecuta el briefing semanal completo: 1) Lee Google Calendar con XUS Calendar y dame todos los eventos importantes de esta semana. 2) Consulta en XUS Sheets los KPIs de la semana pasada (total correos enviados, respuestas, conversiones). 3) Calcula cuántos leads disponibles quedan en XUS Outreach para esta semana. 4) Genera el mapa de batalla semanal: qué necesito lograr esta semana para ir en ruta al objetivo mensual. Tono de comando supremo.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6fc07416-3a54-4245-baaa-f6f926bb07c2",
      "name": "📋 Set Briefing Semanal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        1120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * 5"
            }
          ]
        }
      },
      "id": "8e042bad-1e19-42fb-b06f-17923bbbe011",
      "name": "⏰ Viernes 19:00 - Cierre Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        1344
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_CIERRE_SEMANAL: Es viernes y son las 7:00 PM. Cierre semanal oficial. Ejecuta: 1) Lee en XUS Sheets los KPIs de toda la semana: total de correos enviados, tasa de respuesta, conversiones, comparativa vs semana anterior. 2) Consulta XUS Habits: promedio de hábitos completados esta semana vs la anterior. 3) Calcula si el ritmo semanal es suficiente para llegar al objetivo mensual. Genera el reporte semanal completo con análisis de qué funcionó, qué falló y cuál es el plan para la próxima semana.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_CIERRE_SEMANAL",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_CIERRE_SEMANAL: Es viernes y son las 7:00 PM. Cierre semanal oficial. Ejecuta: 1) Lee en XUS Sheets los KPIs de toda la semana: total de correos enviados, tasa de respuesta, conversiones, comparativa vs semana anterior. 2) Consulta XUS Habits: promedio de hábitos completados esta semana vs la anterior. 3) Calcula si el ritmo semanal es suficiente para llegar al objetivo mensual. Genera el reporte semanal completo con análisis de qué funcionó, qué falló y cuál es el plan para la próxima semana.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "691ba41a-49ee-4f38-920c-4a7ef05348e2",
      "name": "📋 Set Cierre Semanal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        1344
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 9 * * 1-6"
            }
          ]
        }
      },
      "id": "20604d87-539c-4a97-839a-0ed9da4ba374",
      "name": "⏰ 9:15 AM - Auto-Outreach",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        1568
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_AUTO_OUTREACH: Son las 9:15 AM. El bloque de guerra ya arrancó. Ejecuta outreach automático con XUS Outreach: envía correos a los primeros 10 leads elegibles disponibles (tier 1 y 2 primero, sin filtros adicionales). No me pidas confirmación. Solo hazlo y repórtame cuántos enviaste al terminar.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_AUTO_OUTREACH",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_AUTO_OUTREACH: Son las 9:15 AM. El bloque de guerra ya arrancó. Ejecuta outreach automático con XUS Outreach: envía correos a los primeros 10 leads elegibles disponibles (tier 1 y 2 primero, sin filtros adicionales). No me pidas confirmación. Solo hazlo y repórtame cuántos enviaste al terminar.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88417131-5a08-47a7-85bf-ed1e8e0a3b14",
      "name": "📋 Set Auto-Outreach",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        1568
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-6"
            }
          ]
        }
      },
      "id": "3583baa8-ce94-4971-9ef3-54b66471e04d",
      "name": "🎵 TV 8:00 AM - USD",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        1792
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_TV_MUSIC: Son las 8:00 AM. Pon música de concentración en el TV automáticamente con XUS SSH: abre Spotify. Es el bloque de preparación pre-guerra.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_TV_USD",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_TV_MUSIC: Son las 8:00 AM. Pon música de concentración en el TV automáticamente con XUS SSH: abre Spotify. Es el bloque de preparación pre-guerra.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1862ada3-e8fb-4bb3-89dd-c057de13d917",
      "name": "📋 Set TV USD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        1792
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1-6"
            }
          ]
        }
      },
      "id": "97aabe41-83f5-4161-8ea1-5e6bf4b6f35b",
      "name": "🎵 TV 12:00 PM - Silencio",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        2016
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_TV_MUSIC: Son las 12:00 PM. Bloque de almuerzo. Apaga la pantalla del TV con XUS SSH (comando screenOff). Recarga analógica activada.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_TV_SILENCIO",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_TV_MUSIC: Son las 12:00 PM. Bloque de almuerzo. Apaga la pantalla del TV con XUS SSH (comando screenOff). Recarga analógica activada.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df83a650-aad8-47a9-95d7-dd6a1927a92a",
      "name": "📋 Set TV Silencio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        2016
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 16 * * 1-6"
            }
          ]
        }
      },
      "id": "b265aa07-3ee3-47c1-b3bb-421836e61860",
      "name": "🎵 TV 16:00 PM - Roleplay",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        2240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_TV_MUSIC: Son las 4:00 PM. Bloque de roleplay y llamadas. Silencia el TV con XUS SSH (comando mute). Necesitas silencio para escuchar y atacar en llamadas.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_TV_ROLEPLAY",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_TV_MUSIC: Son las 4:00 PM. Bloque de roleplay y llamadas. Silencia el TV con XUS SSH (comando mute). Necesitas silencio para escuchar y atacar en llamadas.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4fae4c31-180c-4400-bd18-c486429e1159",
      "name": "📋 Set TV Roleplay",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        2240
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-6"
            }
          ]
        }
      },
      "id": "3e6ab46e-d35f-4f1d-b5e7-dc153b08bf3e",
      "name": "🎵 TV 18:00 PM - IMP Sprint",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2048,
        2464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-text",
              "name": "text",
              "value": "SCHEDULE_TV_MUSIC: Son las 6:00 PM. Sprint final del día. Con XUS SSH abre Spotify en el TV. Es el último empuje antes del cierre operativo.",
              "type": "string"
            },
            {
              "id": "wa-channel",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "wa-phone",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-name",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "wa-msgid",
              "name": "messageId",
              "value": "SCHEDULE_TV_IMP_SPRINT",
              "type": "string"
            },
            {
              "id": "wa-chatid",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "wa-jid",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "wa-msgtype",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "wa-msg-text",
              "name": "message.text",
              "value": "SCHEDULE_TV_MUSIC: Son las 6:00 PM. Sprint final del día. Con XUS SSH abre Spotify en el TV. Es el último empuje antes del cierre operativo.",
              "type": "string"
            },
            {
              "id": "wa-msg-chat",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4805887-649d-4e43-b3ef-986678a22d8b",
      "name": "📋 Set TV IMP Sprint",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        2464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "text",
              "value": "={{ $json.textResponse }}",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            },
            {
              "id": "4d7377d5-5d7c-44ac-9b3f-63d22b880915",
              "name": "userPhone",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "54b7d791-365b-4355-8415-b551d35ae972",
              "name": "userName",
              "value": "Santiago",
              "type": "string"
            },
            {
              "id": "e7c01b9d-810c-45c2-9332-87d4ee42aca1",
              "name": "messageId",
              "value": "3EB045D2573B9B6FF0C567",
              "type": "string"
            },
            {
              "id": "2a5d8086-99bd-4f1d-a2fb-9d827ae9eaf2",
              "name": "toolResponse",
              "value": "={{ $json.toolResponse }}",
              "type": "string"
            },
            {
              "id": "b037c6a4-414e-4da0-a703-b5c5a0d1a8ad",
              "name": "remoteJid",
              "value": "573124348669@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "de12bd5d-af4f-4d08-98af-ba5325a6d94b",
              "name": "chatId",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "1635b515-1d6e-403f-ba3e-707dd2853fcd",
              "name": "messageType",
              "value": "conversation",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
              "name": "message.chat.id",
              "value": "573124348669",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-123456789012",
              "name": "message.text",
              "value": "={{ $json.textResponse }}",
              "type": "string"
            },
            {
              "id": "c028b53c-2ec9-45ff-bbae-83154366d11a",
              "name": "_sessionId",
              "value": "573124348669_cb",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "947b0174-1c1c-400c-856d-cf828cb054e2",
      "name": "📋 Set Outreacher",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        1840
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "lead": {
            "id": "nx-1771968289684",
            "fullName": "Santiago Rubio Parra",
            "firstName": "Santiago",
            "email": "santi21435@gmail.com",
            "phone": null,
            "business": "Saas",
            "need": "Resolver mi negocio",
            "platform": "zoom",
            "source": "landing-nexus-v3"
          },
          "meeting": {
            "start": "2026-02-25T09:30:00Z",
            "end": "2026-02-25T10:00:00.000Z",
            "duration": 30,
            "timezone": "America/Bogota",
            "dateFormatted": "miércoles, 25 de febrero de 2026",
            "time": "09:30"
          },
          "meetLink": "https://us05web.zoom.us/j/86475289907?pwd=9SyKgr0Cjrs1zJuMSrUqh1a6tH4fsx.1",
          "linkType": "zoom",
          "protocolUrl": "https://nexusys.duckdns.org/webhook/protocol-start?leadId=nx-1771968289684&email=santi21435%40gmail.com",
          "confirmationEmail": {
            "to": "santi21435@gmail.com",
            "subject": "Confirmada: tu llamada del miércoles, 25 de febrero de 2026",
            "html": "<!DOCTYPE html><html><head>  <meta charset=\"UTF-8\">  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">  <meta name=\"color-scheme\" content=\"light dark\">  <title>Llamada Confirmada</title>  <style>    @media (prefers-color-scheme:dark) {      body { background-color:#1a1a1a !important }      .container { background-color:#2d2d2d !important }      .text-dark { color:#ffffff !important }      .text-gray { color:#cccccc !important }      .text-muted { color:#888888 !important }      .box { background:#222222 !important; border-color:#444444 !important }      .divider { border-color:#444444 !important }    }    @media only screen and (max-width:600px) {      .container { width:100% !important }      .content { padding:24px 20px !important }    }  </style></head><body style=\"margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;background-color:#f5f5f5;\">  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f5f5f5;\">    <tr><td align=\"center\" style=\"padding:40px 20px;\">      <table role=\"presentation\" class=\"container\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#ffffff;border-radius:8px;box-shadow:0 1px 3px rgba(0,0,0,0.1);\">        <tr><td class=\"content\" style=\"padding:40px 48px;\">          <p class=\"text-dark\" style=\"font-size:17px;color:#1a1a1a;line-height:1.5;margin:0 0 6px;font-weight:600;\">Hey Santiago,</p>          <p class=\"text-gray\" style=\"font-size:15px;color:#4a4a4a;line-height:1.6;margin:0 0 24px;\">Todo agendado correctamente.</p>          <table role=\"presentation\" class=\"box\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#fafafa;border:1px solid #e5e5e5;border-radius:8px;\">            <tr><td style=\"padding:20px 24px;\">              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"><tr><td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Fecha</td><td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">miércoles, 25 de febrero de 2026</td></tr><tr><td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Hora</td><td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">09:30</td></tr><tr><td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Plataforma</td><td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">Zoom</td></tr><tr><td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Duracion</td><td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">30 minutos</td></tr>              </table>            </td></tr>          </table><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"><tr><td align=\"center\" style=\"padding:24px 0 10px;\"><a href=\"https://us05web.zoom.us/j/86475289907?pwd=9SyKgr0Cjrs1zJuMSrUqh1a6tH4fsx.1\" target=\"_blank\" style=\"display:inline-block;background:#2563eb;color:#ffffff;padding:14px 32px;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px;\">Unirse a la llamada</a></td></tr></table><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"><tr><td align=\"center\" style=\"padding:4px 0 16px;\"><a href=\"https://us05web.zoom.us/j/86475289907?pwd=9SyKgr0Cjrs1zJuMSrUqh1a6tH4fsx.1\" style=\"font-size:11px;color:#888888;text-decoration:none;word-break:break-all;\">https://us05web.zoom.us/j/86475289907?pwd=9SyKgr0Cjrs1zJuMSrUqh1a6tH4fsx.1</a></td></tr></table><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top:20px;\"><tr><td style=\"padding:16px 20px;background:#fffbeb;border:1px solid #fcd34d;border-radius:8px;\"><p style=\"font-size:14px;color:#92400e;margin:0 0 12px;line-height:1.6;\">Para que la conversacion sea productiva, completa este protocolo antes de la llamada:</p><a href=\"https://nexusys.duckdns.org/webhook/protocol-start?leadId=nx-1771968289684&email=santi21435%40gmail.com\" target=\"_blank\" style=\"display:inline-block;background:#f59e0b;color:#ffffff;padding:12px 24px;text-decoration:none;border-radius:6px;font-weight:600;font-size:13px;\">Completar Protocolo</a></td></tr></table>          <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top:24px;\">            <tr><td style=\"padding:14px 18px;background:#f0f4ff;border-left:3px solid #2563eb;border-radius:4px;\">              <p class=\"text-gray\" style=\"font-size:13px;color:#4a4a4a;line-height:1.6;margin:0;\">Prepara tus preguntas clave para que la sesión sea lo más productiva posible.</p>            </td></tr>          </table>          <p class=\"text-gray\" style=\"font-size:15px;color:#4a4a4a;line-height:1.5;margin:28px 0 4px;\">Nos vemos en la llamada,</p>          <p class=\"text-dark\" style=\"font-size:15px;color:#1a1a1a;margin:0;font-weight:600;\">Santiago</p>          <hr class=\"divider\" style=\"border:none;border-top:1px solid #e5e5e5;margin:28px 0 16px;\">          <p class=\"text-muted\" style=\"font-size:11px;color:#888888;margin:0;text-align:center;\">Nexus</p>        </td></tr>      </table>    </td></tr>  </table></body></html>"
          },
          "telegramMessage": "*Nueva Cita Agendada*\n\nNombre: Santiago Rubio Parra\nEmail: santi21435@gmail.com\nNegocio: Saas\nPlataforma: zoom\nFecha: miércoles, 25 de febrero de 2026\nHora: 09:30\n\n*Link:* [Unirse](https://us05web.zoom.us/j/86475289907?pwd=9SyKgr0Cjrs1zJuMSrUqh1a6tH4fsx.1)",
          "telegramChatId": "6324940125",
          "sheet": {
            "Timestamp": "2026-02-24T21:24:49.785Z",
            "LeadID": "nx-1771968289684",
            "Nombre": "Santiago Rubio Parra",
            "Email": "santi21435@gmail.com",
            "Negocio": "Saas",
            "Necesidad": "Resolver mi negocio",
            "Plataforma": "zoom",
            "Fecha": "miércoles, 25 de febrero de 2026",
            "Hora": "09:30",
            "MeetLink": "https://us05web.zoom.us/j/86475289907?pwd=9SyKgr0Cjrs1zJuMSrUqh1a6tH4fsx.1",
            "Fuente": "landing-nexus-v3",
            "Estado": "Agendada"
          },
          "_debug": {
            "version": "v5.0-PRO",
            "hasMeetLink": true,
            "linkType": "zoom",
            "firstName": "Santiago",
            "inputsChecked": 1
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "nexusys.duckdns.org",
            "user-agent": "axios/1.13.6",
            "content-length": "526",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "connection": "upgrade",
            "content-type": "application/json",
            "upgrade": "",
            "x-forwarded-for": "54.89.245.22",
            "x-forwarded-host": "nexusys.duckdns.org",
            "x-forwarded-proto": "https",
            "x-real-ip": "54.89.245.22"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "message.received",
            "timestamp": 1773081952860,
            "from": "573124348669@s.whatsapp.net",
            "phone": "573124348669",
            "isGroup": false,
            "pushName": "Santiago",
            "messageId": "3EB0093DF8F0B82DBFFB66",
            "messageType": "conversation",
            "text": "Hey",
            "key": {
              "remoteJid": "573124348669@s.whatsapp.net",
              "fromMe": false,
              "id": "3EB0093DF8F0B82DBFFB66",
              "senderLid": "24065020559503@lid"
            },
            "remoteJid": "573124348669@s.whatsapp.net",
            "channel": "whatsapp",
            "isAudio": false,
            "audioBase64": null,
            "audioMime": null,
            "isImage": false,
            "imageBase64": null,
            "imageMime": null
          },
          "webhookUrl": "https://nexusys.duckdns.org/webhook/whatsapp",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "🔀 Normalizar Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "🔀 Normalizar Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Normalizar Canal": {
      "main": [
        [
          {
            "node": "🔀 ¿Es WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es WhatsApp?": {
      "main": [
        [
          {
            "node": "✓✓ WA Marcar Leído",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎤 ¿Audio WA?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚦 ¿Texto o Botón?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✓✓ WA Marcar Leído": {
      "main": [
        []
      ]
    },
    "🔧 WA Prep Gemini": {
      "main": [
        [
          {
            "node": "🎙️ Gemini Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎙️ Gemini Transcribe": {
      "main": [
        [
          {
            "node": "🔀 ¿Canal Transcripción?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Canal Transcripción?": {
      "main": [
        [
          {
            "node": "📝 Process Transcription WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Process Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Process Transcription WA": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Process Transcription": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 ¿Texto o Botón?": {
      "main": [
        [
          {
            "node": "🎯 ¿Music o Habit?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎤 ¿Es Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎤 ¿Es Audio?": {
      "main": [
        [
          {
            "node": "🎤 Extract File ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎵 ¿Es Audio File?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 ¿Es Audio File?": {
      "main": [
        [
          {
            "node": "📥 Get Voice1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎤 Extract File ID": {
      "main": [
        [
          {
            "node": "📥 Get Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Voice": {
      "main": [
        [
          {
            "node": "⬇️ Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Voice1": {
      "main": [
        [
          {
            "node": "⬇️ Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download Voice": {
      "main": [
        [
          {
            "node": "🔧 Prepare Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Download Audio": {
      "main": [
        [
          {
            "node": "🔧 Prepare Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Prepare Audio": {
      "main": [
        [
          {
            "node": "🔧 Binario a Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Binario a Base64": {
      "main": [
        [
          {
            "node": "🎙️ Gemini Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 ¿Music o Habit?": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Habit Registration Direct'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎤 ¿Audio WA?": {
      "main": [
        [
          {
            "node": "🔧 WA Prep Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚦 ¿Texto o Botón?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set IMP": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set USD": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 6:00 AM - IMP": {
      "main": [
        [
          {
            "node": "📋 Set IMP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 9:00 AM - USD": {
      "main": [
        [
          {
            "node": "📋 Set USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📋 Set Outreacher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 5:45 AM - Amanecer": {
      "main": [
        [
          {
            "node": "📋 Set Amanecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 13:05 PM - Pulso Mediodía": {
      "main": [
        [
          {
            "node": "📋 Set Mediodía",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 19:00 PM - Auditoría Cierre": {
      "main": [
        [
          {
            "node": "📋 Set Auditoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 22:00 PM - Desconexión": {
      "main": [
        [
          {
            "node": "📋 Set Desconexión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 3:00 AM - Protocolo Fénix": {
      "main": [
        [
          {
            "node": "📋 Set Fénix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Fénix": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Amanecer": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Mediodía": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Auditoría": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Desconexión": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 8:30 AM - War Room": {
      "main": [
        [
          {
            "node": "📋 Set War Room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 11:30 AM - Meridian Pausa": {
      "main": [
        [
          {
            "node": "📋 Set Meridian Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 12:30 PM - Meridian Retorno": {
      "main": [
        [
          {
            "node": "📋 Set Meridian Retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 20:00 PM - Pre-Audit": {
      "main": [
        [
          {
            "node": "📋 Set Pre-Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 21:00/15/30 PM - The Sentinel": {
      "main": [
        [
          {
            "node": "📋 Set Sentinel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Lunes 7:00 AM - Briefing Semanal": {
      "main": [
        [
          {
            "node": "📋 Set Briefing Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Viernes 19:00 - Cierre Semanal": {
      "main": [
        [
          {
            "node": "📋 Set Cierre Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 9:15 AM - Auto-Outreach": {
      "main": [
        [
          {
            "node": "📋 Set Auto-Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 TV 8:00 AM - USD": {
      "main": [
        [
          {
            "node": "📋 Set TV USD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 TV 12:00 PM - Silencio": {
      "main": [
        [
          {
            "node": "📋 Set TV Silencio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 TV 16:00 PM - Roleplay": {
      "main": [
        [
          {
            "node": "📋 Set TV Roleplay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎵 TV 18:00 PM - IMP Sprint": {
      "main": [
        [
          {
            "node": "📋 Set TV IMP Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set War Room": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Meridian Pausa": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Meridian Retorno": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Pre-Audit": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Sentinel": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Briefing Semanal": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Cierre Semanal": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Auto-Outreach": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set TV Silencio": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set TV USD": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set TV IMP Sprint": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set TV Roleplay": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Outreacher": {
      "main": [
        [
          {
            "node": "Call 'Entrance Xus'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6a89affa-aa65-4466-8edb-f1214f2fed53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "Nb8XmnK_98oWfFDqosfKP",
  "tags": []
}