home_snapshot/ubuntu/Workflows-n8n/Input & Output/XUS Talking v1.0 - Main Orchestrator (1).json
{
  "name": "XUS Talking v1.0 - Main Orchestrator",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "fbe3ed95-abf0-49d5-9aa9-e0b94743747a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -7728,
        944
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').first().json.message?.text || $('When Executed by Another Workflow').first().json.message?.caption || $('When Executed by Another Workflow').first().json.callback_query?.data || $('When Executed by Another Workflow').first().json.text || 'sin_mensaje' }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "Eres el clasificador de mensajes del sistema XUS. Responde ÚNICAMENTE con UNA de estas 4 palabras: VIDA, NEGOCIO, MULTIMEDIA, SISTEMA.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nVIDA → Todo lo personal y productivo:\n- Hábitos: push ups, cold shower, lectura, despertar, metas, routine face, ir a la cama, english class, escritura metas, deep work (CONFIRMAR), push ups, role play\n- \"listo X\", \"hice X\", \"fallé X\", \"no hice X\", \"skip X\" + cualquier hábito → VIDA\n- Planning, planeación, auditoría nocturna, tribunal, Deuda de Soberanía\n- Calendario personal, eventos, reuniones, agenda\n- Recordatorios, follow-ups personales\n- KPIs del día, tracking outreach, cuántos leads hoy\n- Memoria larga, patrones, promesas\n- SCHEDULE_* cualquier schedule → VIDA\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nNEGOCIO → Todo lo comercial:\n- Buscar leads, coaches, mentores, realtors, prospectos, nichos\n- Outreach, cold email, campañas, despachar batch\n- DMs de Instagram, inbox IG, likes, stories, seguir usuarios\n- Cierre de ventas, contrato, firma, link de pago, onboarding\n- Pipeline, revenue, conversión, facturación, $100K\n- CRM, registrar chat, registrar cierre, agregar lead\n- Email individual a cliente o prospecto\n- Hunter, dispatch\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMULTIMEDIA → Todo audiovisual y dispositivos:\n- Música: \"pon música\", \"ponme\", \"play\", \"reproduce\", \"para la música\"\n- Playlists: \"imperial\", \"modo guerra\", \"lofi\", \"deep work\" (SIN confirmar hábito)\n- Artistas o canciones: \"pon Bad Bunny\", \"algo de X\", \"busca X en Spotify\"\n- Controles: pausa, pausar, stop, siguiente, skip, anterior, shuffle\n- Volumen: sube, baja, más alto, más bajo, silencio, mute, volumen a X\n- TV LG: enciende, apaga, Netflix, YouTube TV, HDMI, modo noche, modo cine\n- Callbacks de botones: music_pause, music_skip, music_play, music_prev, music_vol_up, music_vol_down, tv_power, tv_mute → MULTIMEDIA INMEDIATO\n- Android/celular: batería, abrir app, foto, alarma, notificaciones\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSISTEMA → Todo lo técnico y documental:\n- n8n: workflows, automatizaciones, errores, activar, pausar, debug\n- Google Drive, Google Docs: crear documento, buscar archivo, editar doc\n- Reportes formales: reporte de la semana, dashboard, resumen mensual\n- Menú: /start, /menu, /help, \"menú\", \"opciones\", \"qué puedes hacer\"\n- Búsqueda web: noticias, información, investiga, qué es X\n- Google Sheets por ID específico\n- Codice, manifiesto, leyes del sistema\n- Calculadora, cálculos matemáticos\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLAS CRÍTICAS (en caso de duda):\n- \"listo deep work\" → VIDA (confirmar hábito)\n- \"deep work\" solo → MULTIMEDIA (playlist)\n- \"modo guerra\" solo → MULTIMEDIA (playlist)\n- \"modo guerra\" + hábito → VIDA\n- music_pause / music_skip / tv_power → MULTIMEDIA siempre\n- \"busca coaches\" → NEGOCIO (leads externos)\n- \"busca a Juan\" → NEGOCIO (pipeline interno)\n- \"email a Juan\" → NEGOCIO (individual)\n- \"emails a la lista\" → NEGOCIO (masivo)\n- \"reporte de la semana\" → SISTEMA\n- \"cuántos leads hoy\" → VIDA (KPIs tracking)\n- SCHEDULE_* → VIDA siempre\n- Duda entre dos → SISTEMA\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nRESPONDE SOLO LA PALABRA. Sin puntos. Sin explicación. Sin comillas.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA DE CONTINUIDAD — USA EL HISTORIAL:\nSi el mensaje actual es ambiguo o corto (\"y cuántos?\", \"los desactivados\", \n\"y el otro?\", \"cuánto falta?\", \"qué más?\") → revisa el historial de conversación\ny clasifica según el tema del mensaje anterior.\n\nEjemplos:\nAnterior: \"cuántos workflows activos\" → Actual: \"y los desactivados?\" → SISTEMA\nAnterior: \"cuántos leads hoy\" → Actual: \"y ayer?\" → VIDA  \nAnterior: \"busca coaches en México\" → Actual: \"despacha esos\" → NEGOCIO\nAnterior: \"sube el volumen\" → Actual: \"más\" → MULTIMEDIA\n\nSi no hay historial y el mensaje es ambiguo → SISTEMA.\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━",
          "maxIterations": 3
        }
      },
      "id": "cf35aed4-d391-4de6-a961-685dded887df",
      "name": "🧭 ROUTER",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -6384,
        1024
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "9f1927e5-a61f-462d-a9d9-e79d056c619d",
      "name": "🔮 Groq Router",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -6352,
        1248
      ],
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.output || '').trim().toUpperCase().replace(/[^A-Z]/g,'');\nconst valid = ['VIDA','NEGOCIO','MULTIMEDIA','SISTEMA'];\nconst cluster = valid.includes(raw) ? raw : 'SISTEMA';\nconst original = $('When Executed by Another Workflow').first().json;\nreturn [{ json: { ...original, _cluster: cluster } }];"
      },
      "id": "cdd3531b-0b5d-4921-95d2-7c609f4a4729",
      "name": "📦 Preparar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5984,
        1024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-vida",
              "leftValue": "={{ $json._cluster }}",
              "rightValue": "VIDA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "43a2e417-cc61-47a0-becb-ec2e9ca2f86f",
      "name": "🔀 ¿Es VIDA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5760,
        1024
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-negocio",
              "leftValue": "={{ $json._cluster }}",
              "rightValue": "NEGOCIO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0d1e1c39-b744-4f1f-bcd3-3d0977cea1b9",
      "name": "🔀 ¿Es NEGOCIO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5536,
        1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-multi",
              "leftValue": "={{ $json._cluster }}",
              "rightValue": "MULTIMEDIA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1cad6cb6-44d6-4a96-ba11-cb9d7aaba61b",
      "name": "🔀 ¿Es MULTIMEDIA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -5312,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst isCallback = !!(input.toolResponse || input.textResponse);\nconst isSchedule = !!(input.text && (input.text.startsWith('SCHEDULE_') || input.text.startsWith('Son las')));\nconst chatId = (input.chatId || input.message?.chat?.id || '573124348669').toString();\nconst sessionId = (isCallback || isSchedule) ? chatId + '_cb' : chatId;\nreturn [{ json: { ...input, _sessionId: sessionId, _isCallback: isCallback || isSchedule } }];"
      },
      "id": "b1480c56-32cb-4165-8205-943f978b6156",
      "name": "🔑 Session Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7504,
        944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-callback",
              "leftValue": "={{ $json._isCallback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67863802-1f4e-4d9c-98b5-6db0fab1d114",
      "name": "🔀 ¿Es Callback?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -7280,
        944
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('🔑 Session Router').first().json._sessionId }}"
      },
      "id": "be0ce289-783a-46a5-b979-d67179aa71db",
      "name": "🗑️ Redis Delete1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -7056,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-wa",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e63afb87-1562-4d50-a227-da67c879ed74",
      "name": "🔀 ¿Es WhatsApp?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -6832,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whatsapp-bridge:3000/typing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { to: $('When Executed by Another Workflow').first().json.remoteJid, duration: 7000 } }}",
        "options": {}
      },
      "id": "d398b8c2-e79f-4ee9-883a-08e65b1e14d5",
      "name": "⌨️ WA Typing...1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6608,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8458030044:AAG0WJgEVJd2oTuwOPedFwMikYOLXdVdbJ8/sendChatAction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('When Executed by Another Workflow').first().json.message?.chat?.id || $('When Executed by Another Workflow').first().json.callback_query?.message?.chat?.id }}\",\n  \"action\": \"typing\"\n}",
        "options": {}
      },
      "id": "ea8b1ea6-a216-4c60-9b69-dcdcf471dba4",
      "name": "⌨️ Typing...2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6608,
        1088
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "andjL6JoJOKzui8c",
          "mode": "list",
          "cachedResultUrl": "/workflow/andjL6JoJOKzui8c",
          "cachedResultName": "📨 Life Cluster V1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5536,
        928
      ],
      "id": "059f5682-8c37-4a59-a85f-f9696862cbeb",
      "name": "📨 Life Cluster V1.0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AcnaP8ypOtGJVyVd",
          "mode": "list",
          "cachedResultUrl": "/workflow/AcnaP8ypOtGJVyVd",
          "cachedResultName": "💰 Bussines Cluster V1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5312,
        1024
      ],
      "id": "ea0ab869-9501-4b31-9fb7-87dc0aee905b",
      "name": "💰 Bussines Cluster V1.0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xAXieFARpTgqpURi",
          "mode": "list",
          "cachedResultUrl": "/workflow/xAXieFARpTgqpURi",
          "cachedResultName": "🎭 Cluster Multimedia V1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5088,
        1120
      ],
      "id": "32aabd31-ec76-4b9f-be87-9c65d70e9a2f",
      "name": "🎭 Cluster Multimedia V1.0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uiA2Je1w6ibk2iqI",
          "mode": "list",
          "cachedResultUrl": "/workflow/uiA2Je1w6ibk2iqI",
          "cachedResultName": "🎲 Cluster Sistema V1."
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -5088,
        1312
      ],
      "id": "2e74b31b-72c9-4a14-bb8f-3451a4d06d90",
      "name": "🎲 Cluster Sistema V1."
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -6224,
        1248
      ],
      "id": "5be9dc0d-4d1f-46e0-979a-e631811f2aa3",
      "name": "Google Router",
      "credentials": {
        "googlePalmApi": {
          "id": "BmTRvJSHWzHbIQQQ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When Executed by Another Workflow').first().json._sessionId || $('When Executed by Another Workflow').first().json.remoteJid || $('When Executed by Another Workflow').first().json.message?.chat?.id?.toString() || 'fallback_session' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -6096,
        1248
      ],
      "id": "21c3d317-5699-467c-9d7d-0167736f292f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "channel": "telegram",
          "update_id": 679138883,
          "message": {
            "message_id": 2089,
            "from": {
              "id": 6908159885,
              "is_bot": false,
              "first_name": "Santiago",
              "last_name": "Rubio Parra",
              "username": "Srubyox",
              "language_code": "es"
            },
            "chat": {
              "id": 6908159885,
              "first_name": "Santiago",
              "last_name": "Rubio Parra",
              "username": "Srubyox",
              "type": "private"
            },
            "date": 1773008451,
            "text": "Hey bajale a la musica"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "🔑 Session Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔮 Groq Router": {
      "ai_languageModel": [
        [
          {
            "node": "🧭 ROUTER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🧭 ROUTER": {
      "main": [
        [
          {
            "node": "📦 Preparar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Preparar Payload": {
      "main": [
        [
          {
            "node": "🔀 ¿Es VIDA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es VIDA?": {
      "main": [
        [
          {
            "node": "📨 Life Cluster V1.0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿Es NEGOCIO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es NEGOCIO?": {
      "main": [
        [
          {
            "node": "💰 Bussines Cluster V1.0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿Es MULTIMEDIA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es MULTIMEDIA?": {
      "main": [
        [
          {
            "node": "🎭 Cluster Multimedia V1.0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎲 Cluster Sistema V1.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Session Router": {
      "main": [
        [
          {
            "node": "🔀 ¿Es Callback?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es Callback?1": {
      "main": [
        [
          {
            "node": "🗑️ Redis Delete1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿Es WhatsApp?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Redis Delete1": {
      "main": [
        [
          {
            "node": "🔀 ¿Es WhatsApp?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es WhatsApp?1": {
      "main": [
        [
          {
            "node": "⌨️ WA Typing...1",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧭 ROUTER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⌨️ Typing...2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⌨️ Typing...2": {
      "main": [
        [
          {
            "node": "🧭 ROUTER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Router": {
      "ai_languageModel": [
        [
          {
            "node": "🧭 ROUTER",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "🧭 ROUTER",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "121bfc37-fd1a-4293-8537-41189659f126",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "YgJvpfrEcH6igG3W",
  "tags": []
}