home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER BUSSINES/XUS Hunter v1.0 - Lead Intelligence.json
{
  "name": "XUS Hunter v1.0 - Lead Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "74cdc2ff-f9cf-4da4-b6c1-79c5195d0264",
      "name": "⏰ Schedule 9:00 AM (Dispatch)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3680,
        672
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "hunter-flag",
              "name": "_scheduleName",
              "value": "hunter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "046d5ff5-14e8-4afa-b990-6a302c199219",
      "name": "📌 Set Hunter Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3456,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dispatch-flag",
              "name": "_scheduleName",
              "value": "dispatch",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04261f3a-fda8-4437-8132-18ed80a14f01",
      "name": "📌 Set Dispatch Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3456,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst isScheduleHunter = inputData._scheduleName === 'hunter';\nconst isScheduleDispatch = inputData._scheduleName === 'dispatch';\nconst isSchedule = !inputData.message;\nconst fechaHoy = new Date().toISOString().split('T')[0];\nconst diaKey = fechaHoy;\n\n// ═══════════════════════════════════════════════════════════\n// 1. SCHEDULE AUTOMÁTICO - HUNTER (8:57 AM)\n// ═══════════════════════════════════════════════════════════\nif (isScheduleHunter) {\n  const dayOfWeek = new Date().getDay();\n  const profesionesRotacion = [\n    ['coach', 'mentor'],\n    ['realtor', 'asesor inmobiliario'],\n    ['consultor', 'asesor financiero'],\n    ['trader', 'inversor'],\n    ['nutricionista', 'entrenador personal'],\n    ['coach de vida', 'terapeuta'],\n    ['coach', 'mentor']\n  ];\n  const profesionesHoy = profesionesRotacion[dayOfWeek] || ['coach', 'mentor'];\n  \n  return [{\n    json: {\n      flujo: 'hunter',\n      origen: 'schedule',\n      chatId: '-1002183612493',\n      profesiones: profesionesHoy,\n      busqueda: profesionesHoy.join(', '),\n      fechaHoy,\n      diaKey,\n      limite: 50,\n      pais: 'LATAM',\n      accion: 'buscar_leads'\n    }\n  }];\n}\n\n// ═══════════════════════════════════════════════════════════\n// 2. SCHEDULE AUTOMÁTICO - DISPATCH (9:00 AM)\n// ═══════════════════════════════════════════════════════════\nif (isScheduleDispatch) {\n  return [{\n    json: {\n      flujo: 'dispatch',\n      origen: 'schedule',\n      diaKey,\n      fechaHoy,\n      accion: 'enviar_gmail',\n      forzarNuevo: true,\n      chatId: '-1002183612493'\n    }\n  }];\n}\n\n// ═══════════════════════════════════════════════════════════\n// 3. MENSAJE DE TELEGRAM - ANÁLISIS INTELIGENTE\n// ═══════════════════════════════════════════════════════════\nconst msg = (inputData.message?.text || '').toLowerCase().trim();\nconst chatId = inputData.message?.chat?.id || '-1002183612493';\nconst userId = inputData.message?.from?.id;\nconst userName = inputData.message?.from?.first_name || 'Usuario';\n\nif (!msg) return [];\n\n// REGEX PATTERNS\nconst regexHunter = /busca|encuentra|hunt|caza|scrape|extrae|prospecto|rastrea/i;\nconst regexDispatch = /xus|leads|lista|dame|dispatch|reporte|sniper|despacho/i;\nconst regexGmail = /correo|gmail|email|mail|envia.correo/i;\nconst regexNuevo = /nuevo|regenera|actualiza|forzar|fresh|limpio|reset/i;\nconst regexAyuda = /ayuda|help|comandos|menu|opciones|que puedo/i;\nconst regexEstado = /estado|status|como va|pendientes|estadisticas/i;\n\n// COMANDO: AYUDA GENERAL\nif (regexAyuda.test(msg)) {\n  return [{\n    json: {\n      flujo: 'sistema',\n      accion: 'mostrar_ayuda',\n      chatId,\n      userId,\n      userName\n    }\n  }];\n}\n\n// COMANDO: ESTADO\nif (regexEstado.test(msg)) {\n  return [{\n    json: {\n      flujo: 'sistema',\n      accion: 'mostrar_estado',\n      chatId,\n      userId,\n      userName\n    }\n  }];\n}\n\n// FLUJO: HUNTER (Búsqueda de Leads)\nif (regexHunter.test(msg)) {\n  const profesionesConocidas = {\n    'realtor': ['realtor', 'asesor inmobiliario'],\n    'realtors': ['realtor', 'agente de bienes raices'],\n    'bienes raices': ['asesor inmobiliario', 'realtor'],\n    'inmobiliaria': ['asesor inmobiliario', 'realtor'],\n    'coach': ['coach', 'coach de vida'],\n    'coaches': ['coach', 'mentor'],\n    'mentor': ['mentor', 'coach'],\n    'mentores': ['mentor', 'coach ejecutivo'],\n    'consultor': ['consultor', 'asesor'],\n    'consultores': ['consultor', 'asesor estratégico'],\n    'asesor': ['asesor', 'consultor'],\n    'asesores': ['asesor financiero', 'consultor'],\n    'trader': ['trader', 'inversor'],\n    'traders': ['trader', 'analista financiero'],\n    'nutricionista': ['nutricionista', 'coach nutricional'],\n    'nutricionistas': ['nutricionista', 'dietista'],\n    'fitness': ['entrenador personal', 'coach fitness'],\n    'entrenador': ['entrenador personal', 'preparador físico'],\n    'abogado': ['abogado', 'asesor legal'],\n    'abogados': ['abogado', 'jurista'],\n    'contador': ['contador', 'asesor contable'],\n    'contadores': ['contador', 'financiero'],\n    'marketing': ['experto en marketing', 'consultor marketing'],\n    'diseñador': ['diseñador', 'creativo'],\n    'fotografo': ['fotógrafo', 'creador visual'],\n    'terapeuta': ['terapeuta', 'psicólogo'],\n    'medico': ['médico', 'doctor'],\n    'dentista': ['dentista', 'odontólogo'],\n    'arquitecto': ['arquitecto', 'diseñador'],\n    'emprendedor': ['emprendedor', 'founder'],\n    'vendedor': ['closer', 'vendedor'],\n    'influencer': ['creador de contenido', 'influencer']\n  };\n\n  let profesionesEncontradas = [];\n  for (const [key, values] of Object.entries(profesionesConocidas)) {\n    if (msg.includes(key)) {\n      profesionesEncontradas = values;\n      break;\n    }\n  }\n\n  if (profesionesEncontradas.length === 0) {\n    const palabras = msg.replace(/busca|encuentra|hunt|caza|scrape|extrae|prospecto|rastrea/gi, '').trim();\n    if (palabras.length > 2) {\n      profesionesEncontradas = palabras.split(/[,\\s]+/).filter(p => p.length > 2).slice(0, 3);\n    }\n  }\n\n  if (profesionesEncontradas.length === 0) {\n    profesionesEncontradas = ['coach', 'mentor'];\n  }\n\n  let limite = 30;\n  const matchLimite = msg.match(/(\\d+)\\s(leads|perfiles|resultados|max)?/i);\n  if (matchLimite) {\n    limite = Math.min(parseInt(matchLimite[1]), 100);\n  }\n\n  let pais = 'LATAM';\n  if (msg.includes('mexico') || msg.includes('méxico') || msg.includes(' mx')) pais = 'Mexico';\n  if (msg.includes('colombia') || msg.includes(' co ')) pais = 'Colombia';\n  if (msg.includes('argentina') || msg.includes(' ar ')) pais = 'Argentina';\n  if (msg.includes('españa') || msg.includes('spain')) pais = 'España';\n  if (msg.includes('usa') || msg.includes('estados unidos') || msg.includes('miami')) pais = 'USA';\n  if (msg.includes('chile')) pais = 'Chile';\n  if (msg.includes('peru') || msg.includes('perú')) pais = 'Peru';\n\n  return [{\n    json: {\n      flujo: 'hunter',\n      origen: 'telegram',\n      chatId,\n      userId,\n      userName,\n      profesiones: profesionesEncontradas,\n      busqueda: profesionesEncontradas.join(', '),\n      fechaHoy,\n      diaKey,\n      limite,\n      pais,\n      accion: 'buscar_leads',\n      mensajeOriginal: msg\n    }\n  }];\n}\n\n// FLUJO: DISPATCH (Despacho de Leads)\nif (regexDispatch.test(msg) || regexGmail.test(msg)) {\n  const esGmail = regexGmail.test(msg);\n  const esNuevo = regexNuevo.test(msg);\n\n  return [{\n    json: {\n      flujo: 'dispatch',\n      origen: 'telegram',\n      diaKey,\n      fechaHoy,\n      chatId,\n      userId,\n      userName,\n      accion: esGmail ? 'enviar_gmail' : 'enviar_telegram',\n      forzarNuevo: esNuevo,\n      mensaje: msg\n    }\n  }];\n}\n\nreturn [];"
      },
      "id": "e4af9ee7-c072-4246-b782-33c4d0d809a8",
      "name": "🧠 Detector Unificado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-hunter",
              "leftValue": "={{ $json.flujo }}",
              "rightValue": "hunter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ec36678e-2f70-4af8-820d-a837ade2fb0f",
      "name": "🔀 Router Principal1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3008,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-sistema",
              "leftValue": "={{ $json.flujo }}",
              "rightValue": "sistema",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "deaffd0c-d313-4c44-b948-78a9d64b8671",
      "name": "¿Es Sistema?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2784,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-ayuda",
              "leftValue": "={{ $json.accion }}",
              "rightValue": "mostrar_ayuda",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d4c6cac2-3f4b-4e2e-89ac-a84b6689a040",
      "name": "¿Ayuda o Estado?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2560,
        432
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo"
        },
        "sheetName": {
          "rl": true,
          "value": "Log_Hunter",
          "mode": "name"
        },
        "options": {}
      },
      "id": "aa48a1b5-b321-41ab-b346-e0f5a6f0670b",
      "name": "📊 Get Stats1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2336,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stats = $input.all();\nconst contexto = $('🧠 Detector Unificado1').first().json;\n\nconst totalBusquedas = stats.length;\nconst ultimaBusqueda = stats[stats.length - 1]?.json || {};\n\nlet totalLeadsHoy = 0;\nlet totalLeadsSemana = 0;\nconst hoy = new Date().toISOString().split('T')[0];\nconst hace7dias = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n\nfor (const stat of stats) {\n  const fecha = stat.json.Fecha || '';\n  const leads = parseInt(stat.json.Leads_Insertados) || 0;\n  \n  if (fecha === hoy) totalLeadsHoy += leads;\n  if (fecha >= hace7dias) totalLeadsSemana += leads;\n}\n\nconst mensaje = '📊 <b>ESTADO DEL ECOSISTEMA XUS</b>\\n\\n' +\n  '━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n' +\n  '📅 <b>HOY</b>\\n' +\n  `• Leads encontrados: <b>${totalLeadsHoy}</b>\\n\\n` +\n  '📆 <b>ÚLTIMOS 7 DÍAS</b>\\n' +\n  `• Leads totales: <b>${totalLeadsSemana}</b>\\n` +\n  `• Búsquedas realizadas: <b>${totalBusquedas}</b>\\n\\n` +\n  '━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n' +\n  '🔍 <b>ÚLTIMA BÚSQUEDA</b>\\n' +\n  `• Fecha: ${ultimaBusqueda.Fecha || 'N/A'}\\n` +\n  `• Hora: ${ultimaBusqueda.Hora || 'N/A'}\\n` +\n  `• Búsqueda: ${ultimaBusqueda.Busqueda || 'N/A'}\\n` +\n  `• País: ${ultimaBusqueda.Pais || 'N/A'}\\n` +\n  `• Leads: ${ultimaBusqueda.Leads_Insertados || 0}\\n` +\n  `• 🔥 Alta: ${ultimaBusqueda.Prioridad_Alta || 0}\\n` +\n  `• ⚡ Media: ${ultimaBusqueda.Prioridad_Media || 0}\\n\\n` +\n  '💡 <i>Sistema operativo 24/7</i>';\n\nreturn [{\n  json: {\n    mensaje,\n    chatId: contexto.chatId\n  }\n}];"
      },
      "id": "a1b4ce90-e61c-4e92-b81d-7c67f6ea5660",
      "name": "📈 Preparar Estado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * XUS HUNTER v3.0 - ESTRATEGIA DE VOLUMEN REAL & PAGINACIÓN\n * ═══════════════════════════════════════════════════════════════\n * \n * Corrección Principal: Sincronización de paginación con Apify\n * Objetivo: Traer EXCESO de leads para poder filtrar después.\n */\n\nconst input = $input.first().json;\n\n// --- 1. CONFIGURACIÓN DE ENTRADA ---\nconst profesiones = input.profesiones || ['coach', 'mentor'];\nconst pais = input.pais || 'LATAM';\nconst limiteUsuario = input.limite || 30; // Lo que pide el usuario\n\n// --- 2. MATEMÁTICA DE VOLUMEN ---\n// Google trae aprox 10 resultados reales por página.\n// Para obtener 30 leads BUENOS, necesitamos escanear mucho más (filtro de basura).\nconst MULTIPLICADOR_SEGURIDAD = 4.0; // Antes 3.5, subimos a 4 para asegurar\nconst objetivoBruto = Math.ceil(limiteUsuario * MULTIPLICADOR_SEGURIDAD);\n\n// Calculamos páginas REALES (Asumiendo 10 resultados por página en Google)\n// Ejemplo: Pides 30 -> Objetivo 120 -> 12 Páginas de Google\nconst paginasNecesarias = Math.ceil(objetivoBruto / 10);\n\n// --- 3. CONSTRUCCIÓN DE QUERY ---\nconst keywordsPorPais = {\n  'Mexico': 'mexico',\n  'Colombia': 'colombia', \n  'Argentina': 'argentina',\n  'España': 'españa',\n  'USA': 'miami OR \"estados unidos\"',\n  'Chile': 'chile',\n  'Peru': 'peru',\n  'Ecuador': 'ecuador',\n  'LATAM': ''\n};\n\nconst region = keywordsPorPais[pais] || '';\nconst prof1 = profesiones[0] || 'coach';\nconst prof2 = profesiones[1] || prof1;\n\n// Query optimizada para eliminar ruido\nconst queryGoogle = `site:instagram.com \"${prof1}\" OR \"${prof2}\" \"${region}\" -agencia -agency -empresa -tienda -shop -escuela -academia -oficial -noticias -revista -inurl:/p/ -inurl:/reel/`;\n\n// --- 4. SALIDA AL FLUJO ---\nreturn [{\n  json: {\n    ...input,\n    busquedaOriginal: profesiones.join(', '),\n    busqueda: queryGoogle,\n    queryType: 'MAX_VOLUME_PAGINATED',\n    \n    // Guardamos estos datos para usarlos más adelante en el flujo\n    meta: {\n        limiteSolicitado: limiteUsuario,\n        paginasEscaneadas: paginasNecesarias,\n        objetivoBruto: objetivoBruto\n    },\n\n    // CONFIGURACIÓN APIFY (CORREGIDA)\n    apifyInput: {\n      \"queries\": queryGoogle,\n      \"resultsPerPage\": 10, // <--- CLAVE: Debe ser 10 para que Google no bloquee la paginación\n      \"maxPagesPerQuery\": paginasNecesarias,\n      \"countryCode\": \"us\",\n      \"languageCode\": \"es\",\n      \"mobileResults\": false // Forzamos desktop para ver más info en snippet\n    }\n  }\n}];"
      },
      "id": "9523ac60-d1ad-4917-a368-4868ad0e454a",
      "name": "🔧 Preparar Query1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~google-search-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apifyInput) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6ea53414-82d6-4c3e-a54c-69fa43acebcd",
      "name": "🚀 Apify - Start Run1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2112,
        96
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "3c8fKWsSr5Aqxefb",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $('🚀 Apify - Start Run1').first().json.data.id }}/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {
          "timeout": 60000
        }
      },
      "id": "435e3428-0e4f-4397-b12b-bff7537eae01",
      "name": "📥 Apify - Get Results1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1664,
        96
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "3c8fKWsSr5Aqxefb",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * XUS HUNTER v3.2 - PROCESAMIENTO MULTI-PÁGINA\n * ═══════════════════════════════════════════════════════════════\n */\n\nconst items = $input.all();\nconst contexto = $('🔧 Preparar Query1').first().json;\n\n// 🔥 CAMBIO CRÍTICO: Combinar TODAS las páginas de resultados\nlet resultadosGoogle = [];\n\nfor (const item of items) {\n  const organicResults = item.json?.organicResults || [];\n  resultadosGoogle = resultadosGoogle.concat(organicResults);\n}\n\nconsole.log(`📊 Apify trajo ${items.length} páginas con ${resultadosGoogle.length} resultados totales`);\n\nif (!resultadosGoogle || resultadosGoogle.length === 0) {\n  return [{\n    json: {\n      sinResultados: true,\n      mensaje: 'Google no encontró perfiles',\n      busqueda: contexto.busquedaOriginal,\n      chatId: contexto.chatId,\n      pais: contexto.pais\n    }\n  }];\n}\n\nconst BLACKLIST_EMPRESA = [\n  'agencia de', 'agency', 'nuestra empresa', 'nuestro equipo',\n  'somos una empresa', 'empresa de', \n  'tienda online', 'tienda oficial', 'shop', 'ecommerce',\n  'envíos a todo', 'compra aquí', 'catálogo',\n  'universidad', 'escuela de', 'academia de', 'instituto',\n  'colegio', 'fundación',\n  'revista', 'magazine', 'noticias', 'periódico', 'diario',\n  'estamos contratando', 'vacantes', 'únete a nuestro equipo',\n  'hiring', 'job opening'\n];\n\nconst WHITELIST_PERSONA = [\n  'coach', 'mentor', 'consultor', 'asesor', 'terapeuta',\n  'speaker', 'conferencista', 'trainer', 'experto', 'especialista',\n  'fundador', 'founder', 'ceo', 'creador', 'autor',\n  'psicólogo', 'nutricionista', 'entrenador', 'abogado',\n  'contador', 'diseñador', 'fotógrafo', 'realtor',\n  'ayudo a', 'te ayudo', 'te enseño', 'aprende', \n  'transforma', 'logra', 'consigue', 'descubre',\n  'mentoría', 'mentoria', 'coaching', 'asesoría', 'asesoria',\n  'consultoría', 'consultoria', 'sesiones', 'programa',\n  'agenda', 'reserva', 'escríbeme', 'escribeme', 'dm',\n  'contáctame', 'contactame', 'link en bio', 'más info',\n  'negocios', 'emprendedores', 'empresarios', 'líderes',\n  'mujeres', 'parejas', 'familias', 'equipos',\n  'ventas', 'marketing', 'finanzas', 'bienes raíces',\n  'clientes', 'testimonios', 'resultados', 'casos de éxito',\n  'transformación', 'método', 'sistema'\n];\n\nconst perfilesLimpios = [];\nlet stats = { total: 0, empresa: 0, sinUsername: 0, duplicado: 0, aceptados: 0 };\nconst usernamesVistos = new Set();\n\nfor (const item of resultadosGoogle) {\n  stats.total++;\n  \n  const url = item.url || '';\n  const titulo = (item.title || '').toLowerCase();\n  const descripcion = (item.description || '').toLowerCase();\n  const textoCompleto = `${titulo} ${descripcion}`;\n  \n  if (!url.includes('instagram.com')) continue;\n  \n  const usernameMatch = url.match(/instagram\\.com\\/([a-zA-Z0-9_.]+)/);\n  if (!usernameMatch) {\n    stats.sinUsername++;\n    continue;\n  }\n  \n  const username = usernameMatch[1].toLowerCase();\n  \n  if (usernamesVistos.has(username)) {\n    stats.duplicado++;\n    continue;\n  }\n  \n  const esEmpresa = BLACKLIST_EMPRESA.some(term => textoCompleto.includes(term));\n  if (esEmpresa) {\n    stats.empresa++;\n    continue;\n  }\n  \n  let scorePersona = 0;\n  const señalesEncontradas = [];\n  \n  for (const signal of WHITELIST_PERSONA) {\n    if (textoCompleto.includes(signal)) {\n      scorePersona++;\n      if (señalesEncontradas.length < 3) señalesEncontradas.push(signal);\n    }\n  }\n  \n  usernamesVistos.add(username);\n  \n  perfilesLimpios.push({\n    nombre: item.title?.split('•')[0]?.split('|')[0]?.split('-')[0]?.trim() || username,\n    biografia: descripcion,\n    url: url,\n    username: username,\n    fuente: 'XUS Hunter',\n    scorePersona: scorePersona,\n    señales: señalesEncontradas.join(', ') || 'perfil_profesional',\n    esPersonaReal: true\n  });\n  \n  stats.aceptados++;\n}\n\n// Ordenamos por score\nperfilesLimpios.sort((a, b) => b.scorePersona - a.scorePersona);\n\nconsole.log(`📊 PROCESAR RESULTADOS:\n  - Total Google: ${stats.total}\n  - Empresas descartadas: ${stats.empresa}\n  - Duplicados dentro de Apify: ${stats.duplicado}\n  - Sin username: ${stats.sinUsername}\n  - Personas aceptadas: ${stats.aceptados}\n  - Perfiles finales: ${perfilesLimpios.length}\n`);\n\nreturn [{\n  json: {\n    perfilesEncontrados: perfilesLimpios.length,\n    perfiles: perfilesLimpios,\n    busqueda: contexto.busquedaOriginal,\n    chatId: contexto.chatId,\n    fechaHoy: new Date().toISOString().split('T')[0],\n    pais: contexto.pais,\n    limite: contexto.limite || 30,\n    sinResultados: perfilesLimpios.length === 0,\n    stats: {\n      totalGoogle: stats.total,\n      descartadosEmpresa: stats.empresa,\n      descartadosDuplicado: stats.duplicado,\n      descartadosSinUsername: stats.sinUsername,\n      personasAceptadas: stats.aceptados\n    }\n  }\n}];"
      },
      "id": "52562696-3807-428b-951f-e96c86062e82",
      "name": "🔄 Procesar Resultados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-sin-resultados",
              "leftValue": "={{ $json.sinResultados }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ebeec846-cbdd-4d8d-a25b-b0f86f13634e",
      "name": "¿Hay Resultados?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1216,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * PREPARACIÓN DE DATOS PARA IA (SMART BATCHING)\n * ═══════════════════════════════════════════════════════════════\n */\n\nconst input = $input.first().json;\nconst perfiles = input.perfiles || [];\n\n// Recuperamos el límite original que pidió el usuario desde el nodo de configuración\n// Si no lo encuentra, usa 30 por defecto.\nconst limiteUsuario = input.limite || 30;\n\n// Calculamos cuántos vamos a enviar a la IA.\n// Enviamos un poco más de lo que pidió el usuario (ej. +5) para tener margen de descarte,\n// pero ponemos un techo duro (ej. 50) para no quemar tokens de IA innecesariamente.\nconst margen = 5;\nconst techoMaximoIA = 50;\nconst cantidadAProcesar = Math.min(limiteUsuario + margen, techoMaximoIA, perfiles.length);\n\n// Mapeamos y limpiamos los datos para reducir consumo de tokens\nconst perfilesParaIA = perfiles.slice(0, cantidadAProcesar).map((p, idx) => ({\n  index: idx,\n  username: p.username,\n  nombre: p.nombre,\n  // Cortamos la bio si es demasiado larga para ahorrar tokens\n  biografia: (p.biografia || '').substring(0, 250).replace(/[\\n\\r]+/g, ' '),\n  scorePersona: p.scorePersona,\n  señales: p.señales\n}));\n\nreturn [{\n  json: {\n    ...input,\n    // Pasamos la lista completa original por si acaso\n    perfilesCompletos: perfiles,\n    // Este es el string JSON optimizado que leerá el agente de IA\n    perfilesParaIA: JSON.stringify(perfilesParaIA),\n    \n    // Metadatos para control\n    statsIA: {\n        enviados: perfilesParaIA.length,\n        totalDisponibles: perfiles.length,\n        limiteUsuario: limiteUsuario\n    }\n  }\n}];"
      },
      "id": "b67bab45-d15a-4724-80de-388fb8a11311",
      "name": "🧠 Preparar Hunter IA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza estos perfiles de Instagram de PERSONAS REALES que venden servicios. Clasifícalos según su potencial comercial.\n\nIMPORTANTE: Todos ya pasaron el filtro de \"persona real\" (no agencias). Tu trabajo es clasificar por PRIORIDAD de contacto.\n\nDATOS A ANALIZAR:\n{{ $json.perfilesParaIA }}",
        "options": {
          "systemMessage": "Eres un experto clasificador de leads B2B. Analizas perfiles de PERSONAS REALES que venden servicios.\n\n═══════════════════════════════════════════════════════════════\nREGLAS ESTRICTAS\n═══════════════════════════════════════════════════════════════\n1. Responde SOLO en JSON válido\n2. NO inventes datos\n3. Usa SOLO la información del input\n4. Todos son personas reales (ya filtrado)\n\n═══════════════════════════════════════════════════════════════\nCRITERIOS DE PRIORIDAD (PERSONA REAL CON SERVICIOS)\n═══════════════════════════════════════════════════════════════\n\n🔥 PRIORIDAD ALTA (Contactar YA):\n- Tiene señales de autoridad: \"Speaker\", \"Autor\", \"Conferencista\", \"CEO\", \"Founder\"\n- Ofrece servicio premium: \"High ticket\", \"Mentoría 1:1\", \"Programa premium\"\n- Tiene método propio: \"Mi método\", \"Mi sistema\", \"Creé\"\n- Prueba social fuerte: \"+500 clientes\", \"casos de éxito\", \"testimonios\"\n- Llamada a acción clara: \"Agenda tu llamada\", \"DM para aplicar\"\n\n⚡ PRIORIDAD MEDIA (Buen prospecto):\n- Coach/Mentor certificado\n- Ofrece servicios claros: \"Te ayudo a\", \"Te enseño\"\n- Nicho definido: coaches, emprendedores, mujeres, etc.\n- Activo en contenido educativo\n\n📋 PRIORIDAD BAJA (Explorar después):\n- Perfil nuevo o poco claro\n- Sin oferta definida\n- Generalista sin nicho\n\n═══════════════════════════════════════════════════════════════\nFORMATO DE RESPUESTA\n═══════════════════════════════════════════════════════════════\n{\n  \"leads\": [\n    {\n      \"index\": 0,\n      \"prioridad\": \"Alta|Media|Baja\",\n      \"tipoLead\": \"Speaker/Autor|Coach Premium|Mentor|Consultor|Educador|Prospecto\",\n      \"razon\": \"Razón breve de la clasificación\",\n      \"nicho\": \"Su nicho específico si es claro\"\n    }\n  ]\n}"
        }
      },
      "id": "a3dcb202-df4a-47c8-bf9f-58fa488be025",
      "name": "🤖 AI Agent (Hunter)1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -320,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const contextoPrevio = $('🧠 Preparar Hunter IA1').first().json;\nconst aiResponse = $input.first().json;\nconst perfilesCompletos = contextoPrevio.perfilesCompletos || [];\n\nlet clasificacionesIA = [];\n\ntry {\n  const responseText = aiResponse.text || aiResponse.output || JSON.stringify(aiResponse);\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    clasificacionesIA = parsed.leads || [];\n  }\n} catch (e) {\n  console.log('Error parsing AI response, using fallback');\n}\n\nconst leadsFinales = [];\n\nconst keywordsAlta = [\n  'speaker', 'conferencista', 'autor', 'fundador', 'founder', 'ceo',\n  'high ticket', 'premium', 'mi método', 'creador de', '+500', '+1000',\n  'bestseller', 'tedx', 'internacional'\n];\n\nconst keywordsMedia = [\n  'coach', 'mentor', 'consultor', 'asesor', 'terapeuta', 'experto',\n  'te ayudo', 'te enseño', 'certificado', 'especialista'\n];\n\nfor (let i = 0; i < perfilesCompletos.length; i++) {\n  const perfil = perfilesCompletos[i];\n  const clasificacion = clasificacionesIA.find(c => c.index === i) || {};\n  \n  const textoPerfil = `${perfil.nombre} ${perfil.biografia} ${perfil.señales}`.toLowerCase();\n\n  let prioridad = clasificacion.prioridad;\n  let tipoLead = clasificacion.tipoLead;\n  let razon = clasificacion.razon;\n  let nicho = clasificacion.nicho || '';\n\n  if (!prioridad) {\n    const esAlta = keywordsAlta.some(k => textoPerfil.includes(k));\n    const esMedia = keywordsMedia.some(k => textoPerfil.includes(k));\n    \n    if (esAlta || perfil.scorePersona >= 4) {\n      prioridad = 'Alta';\n      tipoLead = 'Autoridad Detectada';\n      razon = `Score persona: ${perfil.scorePersona}, señales de autoridad`;\n    } else if (esMedia || perfil.scorePersona >= 2) {\n      prioridad = 'Media';\n      tipoLead = 'Coach/Mentor';\n      razon = `Score persona: ${perfil.scorePersona}, perfil profesional`;\n    } else {\n      prioridad = 'Baja';\n      tipoLead = 'Prospecto';\n      razon = `Score persona: ${perfil.scorePersona}, explorar`;\n    }\n  }\n  \n  leadsFinales.push({\n    Nombre: perfil.nombre || perfil.username,\n    Instagram: perfil.url || `https://instagram.com/${perfil.username}`,\n    Username: perfil.username,\n    Biografia: perfil.biografia,\n    Prioridad: prioridad,\n    Tipo_Lead: tipoLead || 'Persona Real',\n    Nicho: nicho,\n    Score_Persona: perfil.scorePersona,\n    Señales: perfil.señales,\n    Contactado: 'FALSE',\n    Fuente: 'XUS Hunter Ultra',\n    Fecha_Extraccion: contextoPrevio.fechaHoy,\n    Razon_IA: razon || 'Clasificación automática'\n  });\n}\n\nconst ordenPrioridad = { 'Alta': 0, 'Media': 1, 'Baja': 2 };\nleadsFinales.sort((a, b) => (ordenPrioridad[a.Prioridad] || 2) - (ordenPrioridad[b.Prioridad] || 2));\n\nreturn [{\n  json: {\n    leads: leadsFinales,\n    totalLeads: leadsFinales.length,\n    prioridadAlta: leadsFinales.filter(l => l.Prioridad === 'Alta').length,\n    prioridadMedia: leadsFinales.filter(l => l.Prioridad === 'Media').length,\n    prioridadBaja: leadsFinales.filter(l => l.Prioridad === 'Baja').length,\n    busqueda: contextoPrevio.busqueda,\n    pais: contextoPrevio.pais,\n    chatId: contextoPrevio.chatId,\n    fechaHoy: contextoPrevio.fechaHoy,\n    stats: contextoPrevio.stats\n  }\n}];"
      },
      "id": "6653a3de-3200-4850-856f-921f296dfcb5",
      "name": "🔗 Combinar Resultados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-sin-leads-hunter",
              "leftValue": "={{ $json.totalLeads }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9d0bb212-52b0-40fa-bbd7-837bf72b0bd1",
      "name": "¿Hay Leads Hunter?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        256,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst leads = data.leads || [];\n\nif (leads.length === 0) return [];\n\nreturn leads.map(lead => ({ json: lead }));"
      },
      "id": "59951739-292f-43b9-a309-58d3bcb97bcd",
      "name": "📤 Expandir Leads1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        288
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 887367954,
          "mode": "list",
          "cachedResultName": "Leads Extraidos A."
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.Nombre }}",
            "Instagram": "={{ $json.Instagram }}",
            "Biografia": "={{ $json.Biografia }}",
            "Prioridad": "={{ $json.Prioridad }}",
            "Tipo_Lead": "={{ $json.Tipo_Lead }}",
            "Contactado": "={{ $json.Contactado }}",
            "Usuario/Linkedln": "={{ $json.Username }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contactado",
              "displayName": "Contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Usuario/Linkedln",
              "displayName": "Usuario/Linkedln",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo_Lead",
              "displayName": "Tipo_Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Biografia",
              "displayName": "Biografia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo Electronico",
              "displayName": "Correo Electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numero Telefonico",
              "displayName": "Numero Telefonico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ebde1ffe-9e4c-4b67-8608-59835c06377f",
      "name": "📝 Insertar Leads1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        704,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "leadsInsertados",
        "include": "specifiedFields",
        "fieldsToInclude": "Nombre,Instagram,Prioridad,Tipo_Lead,Score_Persona, Username",
        "options": {}
      },
      "id": "a93d5131-d668-4bad-bed3-a3025649f8bc",
      "name": "📊 Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const leadsInsertados = $input.first().json.leadsInsertados || [];\nconst contexto = $('🔗 Combinar Resultados1').first().json;\n\nconst total = leadsInsertados.length;\nconst alta = leadsInsertados.filter(l => l.Prioridad === 'Alta').length;\nconst media = leadsInsertados.filter(l => l.Prioridad === 'Media').length;\nconst baja = leadsInsertados.filter(l => l.Prioridad === 'Baja').length;\n\nlet muestra = '';\nfor (let i = 0; i < Math.min(5, leadsInsertados.length); i++) {\n  const lead = leadsInsertados[i];\n  const emoji = lead.Prioridad === 'Alta' ? '🔥' : lead.Prioridad === 'Media' ? '⚡' : '📋';\n  const username = lead.Username || lead.Instagram?.split('/').pop() || '';\n  \n  muestra += `${emoji} <a href=\"${lead.Instagram}\"><b>${lead.Nombre}</b></a>\\n`;\n  muestra += `   <i>${lead.Tipo_Lead || 'Prospecto'}</i>\\n\\n`;\n}\n\nif (leadsInsertados.length > 5) {\n  muestra += `<i>...y ${leadsInsertados.length - 5} más guardados</i>`;\n}\n\nconst mensaje = `✅ <b>HUNTER COMPLETADO</b>\\n\\n` +\n  `🎯 <b>Búsqueda:</b> ${contexto.busqueda}\\n` +\n  `🌎 <b>Región:</b> ${contexto.pais || 'LATAM'}\\n\\n` +\n  `📊 <b>Resultados</b>\\n` +\n  `🔍 Total: <b>${total}</b>\\n` +\n  `🔥 Alta: <b>${alta}</b>\\n` +\n  `⚡ Media: <b>${media}</b>\\n` +\n  `📋 Baja: <b>${baja}</b>\\n\\n` +\n  `👥 <b>Top ${Math.min(5, total)} Leads</b>\\n\\n` +\n  `${muestra}\\n\\n` +\n  `💾 <i>Guardados en Google Sheets</i>`;\n\nreturn [{\n  json: {\n    mensaje,\n    chatId: contexto.chatId,\n    totalInsertados: total,\n    prioridadAlta: alta,\n    prioridadMedia: media,\n    prioridadBaja: baja,\n    busqueda: contexto.busqueda,\n    pais: contexto.pais,\n    fechaHoy: contexto.fechaHoy\n  }\n}];"
      },
      "id": "1e6a51e3-7266-4f05-8975-3517d0b6dad2",
      "name": "📝 Preparar Confirmación1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        288
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 920073640,
          "mode": "list",
          "cachedResultName": "Log_Hunter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo/edit#gid=920073640"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $('📝 Preparar Confirmación1').item.json.fechaHoy }}",
            "Hora": "={{ new Date().toLocaleTimeString('es-CO', { timeZone: 'America/Bogota' }) }}",
            "Busqueda": "={{ $('📝 Preparar Confirmación1').item.json.busqueda }}",
            "Pais": "={{ $('📝 Preparar Confirmación1').item.json.pais }}",
            "Leads_Insertados": "=\t{{ $('📝 Preparar Confirmación1').item.json.totalInsertados }}",
            "Prioridad_Alta": "={{ $('📝 Preparar Confirmación1').item.json.prioridadAlta }}",
            "Prioridad_Media": "={{ $('📝 Preparar Confirmación1').item.json.prioridadMedia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Leads_Insertados",
              "displayName": "Leads_Insertados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad_Alta",
              "displayName": "Prioridad_Alta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prioridad_Media",
              "displayName": "Prioridad_Media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          }
        }
      },
      "id": "07e148f2-bc44-415d-ab7d-25979dda76f9",
      "name": "📊 Log Hunter1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1824,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo"
        },
        "sheetName": {
          "__rl": true,
          "value": 1210959226,
          "mode": "list",
          "cachedResultName": "Cache_Dispatches"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 3,
              "firstDataRow": 4
            }
          }
        }
      },
      "id": "7bf5e12e-97af-4964-9eac-fb1875bce152",
      "name": "🔍 Buscar Caché1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2336,
        1248
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const origen = $('🧠 Detector Unificado1').first().json;\nconst diaKeyISO = String(origen.diaKey || '').trim();\nconst partes = diaKeyISO.split('-');\nconst diaKeyLatino = `${Number(partes[2])}/${Number(partes[1])}/${partes[0]}`;\nconst diaKeyLatinoCeros = `${partes[2]}/${partes[1]}/${partes[0]}`;\n\nif (origen.forzarNuevo === true) {\n  return [{ json: { existeCache: false, motivo: 'Usuario forzó nuevo' } }];\n}\n\nconst cacheItems = $input.all();\nlet mejorCache = null;\n\nfor (const item of cacheItems) {\n  const valRaw = String(item.json.Dia_Key || item.json.Fecha || '').trim();\n  const totalLeads = Number(item.json.Total_Leads || 0);\n  const esFechaHoy = (valRaw === diaKeyISO || valRaw === diaKeyLatino || valRaw === diaKeyLatinoCeros);\n\n  if (esFechaHoy) {\n    if (totalLeads > 0) {\n      mejorCache = item;\n      break;\n    }\n    if (!mejorCache) mejorCache = item;\n  }\n}\n\nif (!mejorCache || !mejorCache.json.Total_Leads || mejorCache.json.Total_Leads == 0) {\n  return [{ json: { existeCache: false, motivo: 'No hay caché válido para hoy' } }];\n}\n\nconst mensajeBase = `✅ <b>REPORTE RECUPERADO (CACHE)</b>\\n\\n📅 Fecha: ${mejorCache.json.Fecha}\\n📊 Leads: ${mejorCache.json.Total_Leads}`;\nconst accionTexto = origen.accion === 'enviar_gmail' ? '📧 Enviando a Gmail...' : '📎 Enviando archivo...';\n\nreturn [{\n  json: {\n    existeCache: true,\n    telegramMessage: `${mensajeBase}\\n${accionTexto}`,\n    Total_Leads: mejorCache.json.Total_Leads,\n    Archivo_Generado: mejorCache.json.Archivo_Generado,\n    HTML_Content: mejorCache.json.HTML_Content || mejorCache.json[' HTML_Content'] || '',\n    Hora_Generacion: mejorCache.json.Hora_Generacion,\n    Fecha: mejorCache.json.Fecha,\n    Dia_Key: diaKeyISO,\n    accion: origen.accion,\n    chatId: origen.chatId\n  }\n}];"
      },
      "id": "f433e42a-0444-4c1c-a3c5-3357ed2daa1e",
      "name": "✓ Validar Caché1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-existe-cache",
              "leftValue": "={{ $json.existeCache }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "c3d5abab-2db4-4bcc-a5c8-2bbbd9d6701b",
      "name": "¿Existe Caché?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1888,
        1248
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * XUS DISPATCH - USAR CACHÉ\n * Recupera y prepara datos del caché para reenvío\n * ═══════════════════════════════════════════════════════════════\n */\n\nconst inputData = $input.first().json;\n\nlet origen;\ntry {\n  origen = $('🧠 Detector Unificado1').first().json;\n} catch (e) {\n  origen = { \n    accion: 'enviar_telegram', \n    chatId: '-1002183612493' \n  };\n}\n\nconst fechaHoy = new Date().toISOString().split('T')[0];\nconst horaActual = new Date().toLocaleTimeString('es-CO', { timeZone: 'America/Bogota' });\n\n// ═══════════════════════════════════════════════════════════════\n// PREPARAR MENSAJE DE TELEGRAM\n// ═══════════════════════════════════════════════════════════════\nconst totalLeads = inputData.Total_Leads || 0;\nconst fechaCache = inputData.Fecha || inputData.Dia_Key || fechaHoy;\nconst horaCache = inputData.Hora_Generacion || 'N/A';\n\nconst telegramMsg = `✅ <b>REPORTE RECUPERADO (CACHÉ)</b>\n\n📊 <b>Total Leads:</b> ${totalLeads}\n📅 <b>Fecha:</b> ${fechaCache}\n⏰ <b>Generado:</b> ${horaCache}\n\n💾 <i>Datos recuperados del caché del día</i>\n\n📎 <i>Preparando archivo para envío...</i>`;\n\n// ═══════════════════════════════════════════════════════════════\n// GENERAR CONTENIDO DEL ARCHIVO\n// ═══════════════════════════════════════════════════════════════\nlet contenidoArchivo = '';\n\ncontenidoArchivo += `═══════════════════════════════════════════════════════════════\\n`;\ncontenidoArchivo += `              XUS DISPATCH ULTRA - REPORTE (CACHÉ)\\n`;\ncontenidoArchivo += `═══════════════════════════════════════════════════════════════\\n\\n`;\ncontenidoArchivo += `📅 Fecha Original: ${fechaCache}\\n`;\ncontenidoArchivo += `⏰ Hora Generación: ${horaCache}\\n`;\ncontenidoArchivo += `📊 Total Leads: ${totalLeads}\\n`;\ncontenidoArchivo += `🔄 Recuperado: ${horaActual}\\n\\n`;\ncontenidoArchivo += `═══════════════════════════════════════════════════════════════\\n\\n`;\n\n// Agregar contenido HTML parseado si existe\nconst htmlContent = inputData.HTML_Content || inputData[' HTML_Content'] || '';\nif (htmlContent) {\n  contenidoArchivo += `RESUMEN:\\n`;\n  contenidoArchivo += `${htmlContent.replace(/<[^>]*>?/gm, '')}\\n\\n`;\n}\n\ncontenidoArchivo += `═══════════════════════════════════════════════════════════════\\n`;\ncontenidoArchivo += `              REPORTE RECUPERADO DE CACHÉ\\n`;\ncontenidoArchivo += `              Generado por XUS Hunter Ultra\\n`;\ncontenidoArchivo += `═══════════════════════════════════════════════════════════════\\n`;\n\n// ═══════════════════════════════════════════════════════════════\n// PREPARAR NOMBRE DE ARCHIVO\n// ═══════════════════════════════════════════════════════════════\nconst nombreArchivo = inputData.Archivo_Generado || `XUS_DISPATCH_CACHE_${fechaHoy}.txt`;\n\n// ═══════════════════════════════════════════════════════════════\n// RETORNAR CON BINARIO GENERADO\n// ═══════════════════════════════════════════════════════════════\nreturn [{\n  json: {\n    esDeCache: true,\n    existeCache: true,\n    telegramMessage: inputData.telegramMessage || telegramMsg,\n    HTML_Content: htmlContent || 'Sin contenido en cache',\n    Total_Leads: totalLeads,\n    Dia_Key: inputData.Dia_Key || fechaHoy,\n    Fecha: fechaCache,\n    Hora_Generacion: horaCache,\n    Archivo_Generado: nombreArchivo,\n    accion: origen.accion,\n    chatId: origen.chatId,\n    _recuperadoDe: 'cache',\n    _horaRecuperacion: horaActual\n  },\n  binary: {\n    data: {\n      data: Buffer.from(contenidoArchivo).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: nombreArchivo\n    }\n  }\n}];"
      },
      "id": "3cc78a2b-a231-42b8-a5d9-59d6d278ea28",
      "name": "♻️ Usar Caché1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        1296
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 887367954,
          "mode": "list",
          "cachedResultName": "Leads Extraidos A."
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:Z"
            }
          }
        }
      },
      "id": "deab103b-0160-49ed-8c18-1a7d8d4fd749",
      "name": "📋 Get Leads1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1664,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\n\nconst leadsParaDisparar = leads.filter(item => {\n  const data = item.json;\n  const raw = data.Contactado !== undefined ? data.Contactado : data.contactado;\n  const str = String(raw || '').trim().toUpperCase();\n  const yaContactado = (raw === true || str === 'TRUE' || str === 'SI' || str === '1');\n  const tieneIdentidad = !!(data.Nombre || data.nombre || data.Instagram || data.instagram);\n  return !yaContactado && tieneIdentidad;\n});\n\nif (leadsParaDisparar.length === 0) {\n  return [{ json: { sinLeads: true, totalRevisados: leads.length, mensaje: 'No hay leads nuevos' } }];\n}\n\nreturn leadsParaDisparar.slice(0, 100);"
      },
      "id": "caf98843-b63e-42a2-99c9-5a3250422b50",
      "name": "🔍 Filtrar No Contactados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-sin-leads-dispatch",
              "leftValue": "={{ $json.sinLeads }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "cf25f305-5dd1-49c8-8496-6a184ed52809",
      "name": "¿Hay Leads Dispatch?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1216,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * XUS DISPATCH - MERGE RUTAS\n * Unifica las rutas de caché y generación nueva, preservando binario\n * ═══════════════════════════════════════════════════════════════\n */\n\nconst item = $input.first();\nconst jsonData = item.json;\n\nlet binaryData = null;\n\n// ═══════════════════════════════════════════════════════════════\n// BUSCAR BINARIO EN ORDEN DE PRIORIDAD\n// ═══════════════════════════════════════════════════════════════\n\n// 1. Del input actual\nif (item.binary && item.binary.data) {\n  const raw = item.binary.data;\n  if (typeof raw === 'string') {\n    binaryData = {\n      data: {\n        data: raw,\n        mimeType: 'text/plain',\n        fileName: jsonData.Archivo_Generado || 'XUS_DISPATCH.txt'\n      }\n    };\n  } else if (raw && raw.data) {\n    binaryData = { data: raw };\n  }\n}\n\n// 2. Del nodo Restaurar Binario\nif (!binaryData) {\n  try {\n    const restaurado = $('🔧 Restaurar Binario1').first();\n    if (restaurado && restaurado.binary && restaurado.binary.data) {\n      const raw = restaurado.binary.data;\n      if (typeof raw === 'string') {\n        binaryData = {\n          data: {\n            data: raw,\n            mimeType: 'text/plain',\n            fileName: jsonData.Archivo_Generado || 'XUS_DISPATCH.txt'\n          }\n        };\n      } else if (raw && raw.data) {\n        binaryData = { data: raw };\n      }\n    }\n  } catch (e) {}\n}\n\n// 3. Del nodo Usar Caché\nif (!binaryData) {\n  try {\n    const cache = $('♻️ Usar Caché1').first();\n    if (cache && cache.binary && cache.binary.data) {\n      const raw = cache.binary.data;\n      if (typeof raw === 'string') {\n        binaryData = {\n          data: {\n            data: raw,\n            mimeType: 'text/plain',\n            fileName: jsonData.Archivo_Generado || 'XUS_DISPATCH.txt'\n          }\n        };\n      } else if (raw && raw.data) {\n        binaryData = { data: raw };\n      }\n    }\n  } catch (e) {}\n}\n\n// 4. Fallback: Generar uno básico\nif (!binaryData) {\n  const fechaHoy = new Date().toISOString().split('T')[0];\n  const contenido = `XUS DISPATCH - ${jsonData.Fecha || fechaHoy}\\nTotal Leads: ${jsonData.Total_Leads || 0}\\n\\n${(jsonData.HTML_Content || '').replace(/<[^>]*>?/gm, '')}`;\n  \n  binaryData = {\n    data: {\n      data: Buffer.from(contenido).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: jsonData.Archivo_Generado || `XUS_DISPATCH_${fechaHoy}.txt`\n    }\n  };\n}\n\n// ═══════════════════════════════════════════════════════════════\n// RETORNAR RESULTADO\n// ═══════════════════════════════════════════════════════════════\nreturn [{\n  json: jsonData,\n  binary: binaryData\n}];"
      },
      "id": "d0572568-6967-4ee8-9dac-390e3e578e5c",
      "name": "🔀 Merge Rutas1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        1296
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * XUS DISPATCH - PREPARAR TXT PARA TELEGRAM\n * Asegura que el binario esté en formato correcto para enviar\n * ═══════════════════════════════════════════════════════════════\n */\n\nconst datosReales = $('🔀 Merge Rutas1').first().json;\nconst fechaHoy = new Date().toISOString().split('T')[0];\nconst horaActual = new Date().toLocaleTimeString('es-CO', { timeZone: 'America/Bogota' });\n\nlet binaryOutput = null;\nlet origenBinario = 'ninguno';\nlet nombreArchivo = datosReales.Archivo_Generado || `XUS_DISPATCH_${datosReales.Fecha || fechaHoy}.txt`;\n\n// ═══════════════════════════════════════════════════════════════\n// INTENTO 1: Obtener binario del nodo Crear Reporte\n// ═══════════════════════════════════════════════════════════════\ntry {\n  const reporteOriginal = $('📄 Crear Reporte1').first();\n  \n  if (reporteOriginal && reporteOriginal.binary && reporteOriginal.binary.data) {\n    const binarioRaw = reporteOriginal.binary.data;\n    \n    if (typeof binarioRaw === 'string') {\n      binaryOutput = {\n        data: {\n          data: binarioRaw,\n          mimeType: 'text/plain',\n          fileName: nombreArchivo\n        }\n      };\n      origenBinario = 'crear_reporte_string';\n    } else if (binarioRaw && typeof binarioRaw.data === 'string') {\n      binaryOutput = {\n        data: {\n          data: binarioRaw.data,\n          mimeType: 'text/plain',\n          fileName: nombreArchivo\n        }\n      };\n      origenBinario = 'crear_reporte_objeto';\n    }\n  }\n} catch (e) {\n  console.log('No se encontró binario en Crear Reporte:', e.message);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// INTENTO 2: Obtener binario del nodo Restaurar Binario\n// ═══════════════════════════════════════════════════════════════\nif (!binaryOutput) {\n  try {\n    const restaurado = $('🔧 Restaurar Binario1').first();\n    \n    if (restaurado && restaurado.binary && restaurado.binary.data) {\n      const binarioRaw = restaurado.binary.data;\n      \n      if (typeof binarioRaw === 'string') {\n        binaryOutput = {\n          data: {\n            data: binarioRaw,\n            mimeType: 'text/plain',\n            fileName: nombreArchivo\n          }\n        };\n        origenBinario = 'restaurar_binario_string';\n      } else if (binarioRaw && typeof binarioRaw.data === 'string') {\n        binaryOutput = {\n          data: {\n            data: binarioRaw.data,\n            mimeType: 'text/plain',\n            fileName: nombreArchivo\n          }\n        };\n        origenBinario = 'restaurar_binario_objeto';\n      }\n    }\n  } catch (e) {\n    console.log('No se encontró binario en Restaurar Binario:', e.message);\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════\n// INTENTO 3: Obtener binario del Merge Rutas\n// ═══════════════════════════════════════════════════════════════\nif (!binaryOutput) {\n  try {\n    const mergeRutas = $('🔀 Merge Rutas1').first();\n    \n    if (mergeRutas && mergeRutas.binary && mergeRutas.binary.data) {\n      const binarioRaw = mergeRutas.binary.data;\n      \n      if (typeof binarioRaw === 'string') {\n        binaryOutput = {\n          data: {\n            data: binarioRaw,\n            mimeType: 'text/plain',\n            fileName: nombreArchivo\n          }\n        };\n        origenBinario = 'merge_rutas_string';\n      } else if (binarioRaw && typeof binarioRaw.data === 'string') {\n        binaryOutput = {\n          data: {\n            data: binarioRaw.data,\n            mimeType: 'text/plain',\n            fileName: nombreArchivo\n          }\n        };\n        origenBinario = 'merge_rutas_objeto';\n      }\n    }\n  } catch (e) {\n    console.log('No se encontró binario en Merge Rutas:', e.message);\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════\n// INTENTO 4: Obtener del input directo\n// ═══════════════════════════════════════════════════════════════\nif (!binaryOutput) {\n  try {\n    const inputActual = $input.first();\n    \n    if (inputActual && inputActual.binary && inputActual.binary.data) {\n      const binarioRaw = inputActual.binary.data;\n      \n      if (typeof binarioRaw === 'string') {\n        binaryOutput = {\n          data: {\n            data: binarioRaw,\n            mimeType: 'text/plain',\n            fileName: nombreArchivo\n          }\n        };\n        origenBinario = 'input_directo_string';\n      } else if (binarioRaw && typeof binarioRaw.data === 'string') {\n        binaryOutput = {\n          data: {\n            data: binarioRaw.data,\n            mimeType: 'text/plain',\n            fileName: nombreArchivo\n          }\n        };\n        origenBinario = 'input_directo_objeto';\n      }\n    }\n  } catch (e) {\n    console.log('No se encontró binario en input:', e.message);\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════\n// FALLBACK: Generar reporte completo desde datos disponibles\n// ═══════════════════════════════════════════════════════════════\nif (!binaryOutput) {\n  let contenidoCompleto = '';\n  \n  contenidoCompleto += `═══════════════════════════════════════════════════════════════\\n`;\n  contenidoCompleto += `              XUS DISPATCH ULTRA - REPORTE\\n`;\n  contenidoCompleto += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  contenidoCompleto += `📅 Fecha: ${datosReales.Fecha || fechaHoy}\\n`;\n  contenidoCompleto += `⏰ Hora: ${datosReales.Hora_Generacion || horaActual}\\n`;\n  contenidoCompleto += `📊 Total Leads: ${datosReales.Total_Leads || 0}\\n`;\n  contenidoCompleto += `🔥 Prioridad Alta: ${datosReales.Prioridad_Alta || 0}\\n`;\n  contenidoCompleto += `⚡ Prioridad Media: ${datosReales.Prioridad_Media || 0}\\n\\n`;\n  contenidoCompleto += `═══════════════════════════════════════════════════════════════\\n\\n`;\n  \n  // Intentar obtener leads del Aggregate\n  try {\n    const aggregateData = $('📊 Aggregate Dispatch1').first();\n    if (aggregateData && aggregateData.json && aggregateData.json.allLeads) {\n      const allLeads = aggregateData.json.allLeads;\n      \n      allLeads.forEach((lead, idx) => {\n        contenidoCompleto += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n        contenidoCompleto += `👤 LEAD #${idx + 1}: ${lead.nombreLead || 'Sin nombre'}\\n`;\n        contenidoCompleto += `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n`;\n        contenidoCompleto += `🔗 Instagram: ${lead.igLead || '[SIN IG]'}\\n`;\n        contenidoCompleto += `📧 Email: ${lead.emailLead || '[SIN EMAIL]'}\\n`;\n        contenidoCompleto += `🎯 Ruta: ${lead.rutaAsignada || 'Sin asignar'}\\n`;\n        contenidoCompleto += `⭐ Prioridad: ${lead.prioridadIA || 'Normal'}\\n`;\n        contenidoCompleto += `\\n💬 MENSAJES:\\n`;\n        contenidoCompleto += `   B1: ${lead.mensajeB1 || '-'}\\n`;\n        contenidoCompleto += `   B2: ${lead.mensajeB2 || '-'}\\n`;\n        contenidoCompleto += `   B3: ${lead.mensajeB3 || '-'}\\n\\n`;\n      });\n    }\n  } catch (e) {\n    // Si no hay aggregate, usar HTML_Content\n    const htmlContent = datosReales.HTML_Content || datosReales[' HTML_Content'] || '';\n    contenidoCompleto += `CONTENIDO:\\n`;\n    contenidoCompleto += `${htmlContent.replace(/<[^>]*>?/gm, '')}\\n\\n`;\n  }\n  \n  contenidoCompleto += `═══════════════════════════════════════════════════════════════\\n`;\n  contenidoCompleto += `                    FIN DEL REPORTE\\n`;\n  contenidoCompleto += `              Generado por XUS Hunter Ultra\\n`;\n  contenidoCompleto += `═══════════════════════════════════════════════════════════════\\n`;\n  \n  binaryOutput = {\n    data: {\n      data: Buffer.from(contenidoCompleto).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: nombreArchivo\n    }\n  };\n  origenBinario = 'fallback_generado';\n}\n\n// ═══════════════════════════════════════════════════════════════\n// RETORNAR RESULTADO FINAL\n// ═══════════════════════════════════════════════════════════════\nreturn [{\n  json: {\n    ...datosReales,\n    _origenBinario: origenBinario,\n    _archivoFinal: nombreArchivo\n  },\n  binary: binaryOutput\n}];"
      },
      "id": "0c7d1c87-d419-4982-b59e-a51461265ae7",
      "name": "📄 Preparar TXT1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        1392
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "=6908159885",
        "binaryData": true,
        "additionalFields": {
          "caption": "=📎 XUS DISPATCH ULTRA {{ $json.Fecha }} - {{ $json.Total_Leads }} leads (Solo personas reales)"
        }
      },
      "id": "061b0eeb-fb86-4d28-9d26-f131b8662c23",
      "name": "📎 Enviar Archivo1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        1392
      ],
      "webhookId": "a7c0f1b1-8716-45bd-ae60-a1327a03ae67",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-forzar",
              "leftValue": "={{ $json.forzarNuevo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4e9c12e3-7496-4a74-8727-a3f19e159e24",
      "name": "¿Forzar Nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2560,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-gmail",
              "leftValue": "={{ $json.accion }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "af59e684-e022-407a-8413-807c19cb4dfa",
      "name": "¿Enviar Gmail?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1216,
        1296
      ]
    },
    {
      "parameters": {
        "sendTo": "santi21435@gmail.com",
        "subject": "=🎯 XUS DISPATCH ULTRA | {{ $json.Fecha }} | {{ $json.Total_Leads }} Leads",
        "message": "={{ $json.HTML_Content || $json[' HTML_Content'] }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "a90ac56a-825a-4720-ae74-08d7332f14e8",
      "name": "📧 Gmail - Enviar",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -992,
        1200
      ],
      "webhookId": "3204f065-3a4c-466d-85a0-5d0231b4f5d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 300
      },
      "id": "19620939-2ba7-4d2e-a06e-17f0d1432a4c",
      "name": "⏳ Wait 300s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1888,
        96
      ],
      "webhookId": "wait_apify_run"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 887367954,
          "mode": "list",
          "cachedResultName": "Leads Extraidos A. ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo/edit#gid=887367954"
        },
        "options": {}
      },
      "id": "543e4045-2eed-4d44-bcde-0ce363e7a66f",
      "name": "📚 Cargar Base de Datos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -992,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════\n * FILTRO ANTI-DUPLICADOS (DATABASE CHECK)\n * ═══════════════════════════════════════════════════════════════\n */\n\n// 1. Obtenemos los leads NUEVOS que vienen del Scraper (Nodo '🔄 Procesar Resultados1')\n// Es importante que el nodo anterior se llame exactamente así.\nlet nuevosItems = [];\ntry {\n    nuevosItems = $('🔄 Procesar Resultados1').all();\n} catch (error) {\n    // Si falla la referencia, intentamos tomar el input del padre directo si viniera passthrough\n    // pero en este flujo necesitamos datos del scraper.\n    console.log(\"No se pudo leer 'Procesar Resultados1', verifique conexiones\");\n}\n\nconst nuevosLeadsData = nuevosItems.length > 0 ? nuevosItems[0].json : {};\nconst nuevosLeads = nuevosLeadsData.perfiles || [];\n\n// 2. Obtenemos los leads VIEJOS de la Base de Datos (Input actual de este nodo)\nconst leadsExistentes = $input.all().map(item => item.json);\n\n// 3. Creamos un Mapa de Seguridad (Set) con los usuarios existentes\nconst dbUsernames = new Set();\n\nleadsExistentes.forEach(lead => {\n  // Verificamos columna 'Usuario/Linkedln' (donde guardas el user)\n  if (lead['Usuario/Linkedln']) {\n      dbUsernames.add(String(lead['Usuario/Linkedln']).toLowerCase().trim());\n  }\n  // Verificamos columna 'Instagram' por si acaso\n  if (lead['Instagram']) {\n    const url = String(lead['Instagram']);\n    // Extraemos usuario si es URL\n    let user = url;\n    if (url.includes('instagram.com/')) {\n        user = url.split('instagram.com/')[1].split('/')[0].split('?')[0];\n    }\n    dbUsernames.add(user.toLowerCase().trim());\n  }\n});\n\nconsole.log(`📊 Base de Datos: ${dbUsernames.size} leads registrados.`);\nconsole.log(`📥 Nuevos Candidatos: ${nuevosLeads.length} leads.`);\n\n// 4. FILTRADO DURO\nconst leadsUnicos = nuevosLeads.filter(lead => {\n  const username = lead.username.toLowerCase().trim();\n  // Chequeamos si existe en el Set\n  return !dbUsernames.has(username);\n});\n\nconst descartados = nuevosLeads.length - leadsUnicos.length;\nconsole.log(`🗑️ Duplicados Eliminados: ${descartados}`);\nconsole.log(`✅ Leads Limpios para IA: ${leadsUnicos.length}`);\n\n// 5. Retornamos la estructura lista para el siguiente nodo\nreturn [{\n  json: {\n    ...nuevosLeadsData,\n    perfiles: leadsUnicos,\n    perfilesEncontrados: leadsUnicos.length,\n    stats: {\n      ...(nuevosLeadsData.stats || {}),\n      descartadosPorDB: descartados,\n      totalLimpios: leadsUnicos.length\n    }\n  }\n}];"
      },
      "id": "b8a5027a-c48f-4202-a939-e21322f004ef",
      "name": "🛡️ Filtro Duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        192
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -3456,
        864
      ],
      "id": "637be954-3a5a-417b-910a-d976a4654063",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// ─── 📤 Output Inicio Hunter ────────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '🚀 Hunter iniciado. Buscando leads en Instagram/LinkedIn vía Apify...';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "c2f4dd10-e6fe-4634-8aaa-e129cfb41744",
      "name": "📦 Code | Output Inicio Hunter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2784,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "634d4291-a700-4cb4-9d74-539e18fa1c6e",
      "name": "🚀 Execute | Output Inicio Hunter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -2560,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── 📚 Output Ayuda ─────────────────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '📚 Comandos disponibles: /hunter /dispatch /estado /ayuda';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "2a246b0d-86d3-48ed-9a7f-d66381f3fb69",
      "name": "📦 Code | Output Ayuda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        592
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "3b95df73-645c-4e42-9fc2-8646052e7f8f",
      "name": "🚀 Execute | Output Ayuda",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -2112,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── 📊 Output Estado ────────────────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || msg.estadoText || '📊 Sin datos de estado disponibles.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "63045fa1-7f66-4174-a440-cd0ab9426151",
      "name": "📦 Code | Output Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "95cf6b37-d41d-4248-a55a-e726c6cd393c",
      "name": "🚀 Execute | Output Estado",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1664,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── ⚠️ Output Sin Leads Válidos ─────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '⚠️ Leads encontrados pero ninguno pasó el filtro de calidad del Hunter IA.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "ada10067-7561-48f5-af8b-002069edcbd8",
      "name": "📦 Code | Output Sin Leads Válidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        96
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "9b4b8c67-189d-444f-9f16-509fab82c52f",
      "name": "🚀 Execute | Output Sin Leads Válidos",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        704,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── ✅ Output Confirmación Hunter ───────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '✅ Hunter completado. Leads insertados en la base de datos.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "566bfca5-d49d-4a51-bef3-8904847b02f9",
      "name": "📦 Code | Output Confirmación Hunter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "c2bb93da-fae4-4398-b24f-e3b7183912b5",
      "name": "🚀 Execute | Output Confirmación Hunter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1600,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── ⚠️ Output Sin Leads Dispatch ────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '⚠️ No hay leads disponibles para dispatch. Todos contactados o sin datos válidos.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "ce72daa1-0af3-4148-8f4f-8e4cb97235e9",
      "name": "📦 Code | Output Sin Leads Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1008
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "5ca9b9ce-84bd-4188-8dd3-6df500e5b686",
      "name": "🚀 Execute | Output Sin Leads Dispatch",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -768,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── 📤 Output Enviar Mensaje ────────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || msg.reporte || '📤 Dispatch completado.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '', hasFile: false } }];"
      },
      "id": "2604b8d6-5682-454e-8d37-9588bf369f8b",
      "name": "📦 Code | Output Enviar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        1392
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "31b54690-b0e5-4b97-9b2c-984e72c74a8f",
      "name": "🚀 Execute | Output Enviar Mensaje",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -768,
        1392
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── ✅ Output Confirmar Gmail ────────────────────────────────\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '✅ Email enviado correctamente vía Gmail.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "005ca7e6-45fc-40e6-9767-da50da2c6f7a",
      "name": "📦 Code | Output Confirmar Gmail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        1200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "id",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "cec6ce7f-c6dc-4dde-a135-23a40947ff74",
      "name": "🚀 Execute | Output Confirmar Gmail",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -544,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─── ⚠️ Output Sin Resultados Apify ─────────────────────────\n// Rama TRUE de '¿Hay Resultados?': sinResultados === true\nconst msg = $input.first().json;\nconst text = msg.text || msg.message || '⚠️ Apify no devolvió resultados para esta búsqueda. Intenta ajustar los filtros o el nicho.';\nreturn [{ json: { output: text, chatId: msg.chat_id || msg.chatId || '' } }];"
      },
      "id": "bf8dd77a-4568-48b6-b894-610046f5209c",
      "name": "📦 Code | Output Sin Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Nb8XmnK_98oWfFDqosfKP"
        },
        "options": {}
      },
      "id": "3cab04f9-0296-4b4d-8d94-ab5d8bbb17f5",
      "name": "🚀 Execute | Output Sin Resultados",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -768,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "c89a8252-0d47-4d6f-97e6-47c5b7948273",
      "name": "🔁 Split Leads 1x",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -992,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('✅ Validar URL').first().json;\n\nconst profile = input.profile || {};\n\nreturn [{\n  json: {\n    ...prevData,\n    _scraped: {\n      username: profile.username || prevData._ig_handle,\n      realName: profile.realName || '',\n      bio: profile.bio || '',\n      posts: profile.posts || '',\n      followers: profile.followers || '',\n      following: profile.following || '',\n      bioLink: profile.bioLink || '',\n      verified: profile.verified || false,\n      highlights: profile.highlights || [],\n      recentCaptions: profile.recentCaptions || []\n    },\n    _scrapeSuccess: input.success === true,\n    _phase: 'intel_scraped'\n  }\n}];"
      },
      "id": "ee90dd61-6915-42b5-8a30-9efd3b027a35",
      "name": "📦 Merge Datos Scrape1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        528
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 15) + 10 }}"
      },
      "id": "f3a11098-c47b-44b4-8f79-7886a3a5606d",
      "name": "⏳ Wait 10-25s (Anti-detect)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        528
      ],
      "webhookId": "wait-scrape-001"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 20) + 15 }}"
      },
      "id": "3a586862-868b-47a2-a374-7a82c13d5290",
      "name": "⏳ Wait 15-35s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        528
      ],
      "webhookId": "wait-stories-001"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 30) + 30 }}"
      },
      "id": "eb96ba55-4b52-4283-be02-f7e047d079fc",
      "name": "⏳ Pausa Pre-Dispatch (30-60s)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4192,
        528
      ],
      "webhookId": "wait-predispatch-001"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 120) + 220 }}"
      },
      "id": "e3c7ef94-2863-46b4-a021-8041438bce63",
      "name": "⏳ Wait 6-7.5min (B1→B2)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5296,
        528
      ],
      "webhookId": "wait-b1b2-001"
    },
    {
      "parameters": {
        "jsCode": "const lead = $('📦 Procesar Respuesta IA1').first().json;\nconst b1Result = $('💬 Enviar B1').first().json;\nconst b3Result = $input.first().json;\n\nconst success = b1Result.success && b3Result.success;\n\nreturn [{\n  json: {\n    row_number: lead.row_number,\n    Contactado: success ? 'TRUE' : 'PARTIAL',\n    Instagram: lead._ig_handle,\n    nombreLead: lead._scraped?.realName || lead.nombre,\n    rutaAsignada: lead._ruta,\n    mensajeB1: lead._mensajes?.b1,\n    mensajeB2: lead._mensajes?.b2,\n    mensajeB3: lead._mensajes?.b3,\n    razonIA: lead._razonIA,\n    perfilBio: lead._scraped?.bio?.substring(0, 100) || '',\n    seguidores: lead._scraped?.followers || '',\n    dispatchSuccess: success,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "5f7733bd-59a6-4362-a7d0-325a1ab8def6",
      "name": "📝 Log Resultado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7296,
        528
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 180) + 480 }}"
      },
      "id": "d76be056-3dbb-4dc5-bb9e-0860a7ea6c1b",
      "name": "⏳ Pausa entre Leads (8-11min)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7312,
        688
      ],
      "webhookId": "wait-leads-001"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    textResponse: '✅ Workflow completado. Todos los leads procesados con intel + dispatch personalizado.',\n    toolResponse: 'mega_workflow_complete'\n  }\n}];"
      },
      "id": "00ccf187-958a-4cda-8c1c-e08a2036bcd9",
      "name": "✅ Output Final1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -544,
        720
      ],
      "id": "c3dd7bea-2a89-48a4-b2ff-850ce67d683d",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'1"
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\n\nreturn leads.map((item) => {\n  const d = item.json;\n\n  let ig = d.Instagram || d.instagram || d['Usuario/Linkedln'] || '';\n  ig = ig.toString().trim()\n    .replace(/@/g, '')\n    .replace(/https?:\\/\\/(www\\.)?instagram\\.com\\//gi, '')\n    .replace(/\\/+$/, '')\n    .split('/')[0].split('?')[0];\n\n  if (!ig || ig.length < 2) return null;\n\n  // Fix nombre unicode: convertir caracteres especiales a ASCII equivalentes\n  let nombreRaw = d.Nombre || d.nombre || '';\n  // Reemplazar unicode lookalike letters manualmente\n  let nombreLimpio = nombreRaw\n    .replace(/[\\u1D00-\\u1D7F\\u1D80-\\u1DBF\\u2C60-\\u2C7F\\uA720-\\uA7FF]/g, '') // small caps\n    .replace(/[ᴀ-ᴢ]/g, c => String.fromCharCode(c.codePointAt(0) - 0x1D00 + 97)) // small caps a-z\n    .replace(/[^\\x00-\\x7F]/g, '') // quitar todo lo no ASCII que quede\n    .replace(/[|\\[\\]{}]/g, '')\n    .trim();\n\n  // Si quedó vacío por unicode, usar la parte después del | o el handle\n  if (!nombreLimpio || nombreLimpio.length < 2) {\n    // Intentar extraer texto legible después de |\n    const partes = nombreRaw.split('|');\n    for (const p of partes) {\n      const limpia = p.replace(/[^a-zA-Z\\s]/g, '').trim();\n      if (limpia.length > 2) { nombreLimpio = limpia; break; }\n    }\n  }\n  if (!nombreLimpio || nombreLimpio.length < 2) nombreLimpio = ig;\n\n  const primerNombre = nombreLimpio.split(' ').find(w => w.length > 1)?.toLowerCase() || ig.split('.')[0].split('_')[0];\n\n  return {\n    json: {\n      _ig_handle: ig,\n      _profileUrl: 'https://www.instagram.com/' + ig + '/',\n      primerNombre,\n      nombreCompleto: nombreRaw,\n      email: d.Email || d.email || '',\n      telefono: d.Telefono || d.telefono || '',\n      biografia: d.Biografia || d.biografia || '',\n      tipoLead: d.Tipo_Lead || d.tipo_lead || '',\n      prioridad: d.Prioridad || d.prioridad || 'Normal',\n      row_number: d.row_number || 0\n    }\n  };\n}).filter(Boolean);"
      },
      "id": "c1350ee4-95d9-4ba2-bd29-ea3c1db844f2",
      "name": "📋 Preparar Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst ig = lead._ig_handle;\n\nif (!ig || ig.length < 2) return [];\n\nconst url = 'https://www.instagram.com/' + ig + '/';\n\nreturn [{\n  json: {\n    ...lead,\n    _ig_handle: ig,\n    _profileUrl: url\n  }\n}];"
      },
      "id": "6c59dbbe-ece1-429b-af83-f74fa85b58a1",
      "name": "✅ Validar URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._scrapeBody }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "71a80d6a-c392-4c46-a929-88abecd0cee9",
      "name": "🔍 Scrape Perfil1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('✅ Validar URL').first().json;\n\nlet profile = {};\nlet success = false;\n\nif (raw.success === true && raw.data) {\n  const d = raw.data;\n  const meta = d.metaDesc || '';\n\n  // \"149 Followers, 52 Following, 0 Posts - Nombre (@handle) on Instagram: \\\"bio\\\"\"\n  const statsMatch = meta.match(/(\\d[\\d,.]*)\\s*Follower[s]?[,.]?\\s*(\\d[\\d,.]*)\\s*Following[,.]?\\s*(\\d[\\d,.]*)\\s*Post/);\n  const followers = statsMatch ? statsMatch[1] : '';\n  const following = statsMatch ? statsMatch[2] : '';\n  const posts     = statsMatch ? statsMatch[3] : '';\n\n  const nameMatch = meta.match(/- ([^(]+)\\(@/);\n  const realName = nameMatch ? nameMatch[1].trim() : '';\n\n  const bioMatch = meta.match(/on Instagram:\\s*[\"«]([^\"»]+)/);\n  const bio = bioMatch ? bioMatch[1].replace(/\\\\n/g, ' ').trim() : (lead.biografia || '');\n\n  const ogName = (d.ogTitle || '').match(/^([^(@]+)/);\n  const name = realName || (ogName ? ogName[1].trim() : lead._ig_handle);\n\n  success = true;\n  profile = { username: lead._ig_handle, realName: name, bio, followers, following, posts };\n} else {\n  profile = {\n    username: lead._ig_handle,\n    bio: lead.biografia || '',\n    followers: '', following: '', posts: '',\n    error: raw.error || 'scrape_failed'\n  };\n}\n\nconst contextParts = [];\nif (lead.primerNombre) contextParts.push('Nombre: ' + lead.primerNombre);\nif (profile.bio) contextParts.push('Bio: ' + profile.bio.substring(0, 250));\nif (profile.followers) contextParts.push('Seguidores: ' + profile.followers);\nif (profile.posts) contextParts.push('Posts: ' + profile.posts);\nconst contextoIA = contextParts.join(' | ') || 'Sin datos';\n\nconst bio = (profile.bio || lead.biografia || '').toLowerCase();\nconst tipoLead = (lead.tipoLead || '').toLowerCase();\nconst followersNum = parseInt((profile.followers || '0').replace(/[^0-9]/g, '')) || 0;\nconst postsNum = parseInt((profile.posts || '0').replace(/[^0-9]/g, '')) || 0;\n\nreturn [{ json: {\n  ...lead, _scraped: profile, _contextoIA: contextoIA, _scrapeSuccess: success,\n  _indicators: {\n    isHighTicket: bio.includes('mentor') || bio.includes('coach') || bio.includes('ayudo') || bio.includes('programa') || tipoLead.includes('high ticket') || tipoLead.includes('nexus pro'),\n    isContentCreator: postsNum > 80 || followersNum > 3000,\n    hasSystem: bio.includes('sistema') || bio.includes('automatiz') || bio.includes('embudo') || bio.includes('funnel'),\n    isNew: postsNum >= 0 && postsNum < 30,\n    isPriority: lead.prioridad === 'Alta',\n    followers: profile.followers || '', followersNum\n  }\n}}];"
      },
      "id": "2b969777-035d-4c3e-9664-4c1340d60d68",
      "name": "📦 Parsear Perfil1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._storiesBody }}",
        "options": {
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        528
      ],
      "id": "5b3b3641-e8a7-460e-a9ed-771880b0a2fa",
      "name": "👁️ Ver Stories",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('📦 Prep Stories Body').first().json;\n\nlet storiesResult = { success: true, storiesViewed: 0, storyType: 'none' };\n\ntry {\n  if (raw && raw.data) {\n    const parsed = typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data;\n    storiesResult = {\n      success: parsed.success !== false,\n      storiesViewed: parsed.storiesViewed || 0,\n      storyType: parsed.storyType || 'none',\n      debug: parsed.debug || ''\n    };\n  }\n} catch(e) {\n  storiesResult = { success: true, storiesViewed: 0, storyType: 'parse_error' };\n}\n\nreturn [{ json: { ...lead, _storiesResult: storiesResult } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        528
      ],
      "id": "31a4b8ec-12d2-4896-baf4-53bd34ab610b",
      "name": "📦 Parsear Stories"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('📦 Prep Like 1').first().json;\n\nlet like1Result = { success: true, liked: false };\n\ntry {\n  if (raw && raw.data) {\n    const parsed = typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data;\n    like1Result = {\n      success: parsed.success !== false,\n      liked: parsed.liked || false,\n      postIndex: parsed.postIndex || 0,\n      alreadyLiked: parsed.alreadyLiked || false\n    };\n  }\n} catch(e) {\n  like1Result = { success: true, liked: false, error: 'parse_error' };\n}\n\nreturn [{ json: { ...lead, _like1Result: like1Result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        528
      ],
      "id": "c8d0c09e-3f67-48b7-9475-a1e9473c882c",
      "name": "📦 Parsear Like 1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 45) + 45 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2496,
        528
      ],
      "id": "1fd0bb9e-1a75-4de0-ba83-92c2a6158a7c",
      "name": "⏳ Wait entre Likes",
      "webhookId": "e1955b0d-52c4-489c-98ea-bd8e9574ab91"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._like1Body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "12bc6151-bbd6-4916-ac4d-8afa57a49ce2",
      "name": "❤️ Like 1 Post (First)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._like2Body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "139d4e24-fb05-4768-8047-ac83c0affdd9",
      "name": "❤️ Like 2 Post (First)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('📦 Prep Like 2').first().json;\n\nlet like2Result = { success: true, liked: false };\n\ntry {\n  if (raw && raw.data) {\n    const parsed = typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data;\n    like2Result = {\n      success: parsed.success !== false,\n      liked: parsed.liked || false,\n      postIndex: parsed.postIndex || 0,\n      alreadyLiked: parsed.alreadyLiked || false\n    };\n  }\n} catch(e) {\n  like2Result = { success: true, liked: false, error: 'parse_error' };\n}\n\n// Combinar resultados de ambos likes\nconst like1 = lead._like1Result || {};\nconst totalLikes = (like1.liked ? 1 : 0) + (like2Result.liked ? 1 : 0);\n\nreturn [{ \n  json: { \n    ...lead, \n    _like2Result: like2Result,\n    _likesTotal: totalLikes,\n    _likesSummary: {\n      like1: like1.liked || false,\n      like1Post: like1.postIndex || 0,\n      like2: like2Result.liked || false,\n      like2Post: like2Result.postIndex || 0,\n      total: totalLikes\n    }\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        528
      ],
      "id": "9c53c3b2-8e69-4129-8e47-6420bcba828c",
      "name": "📦 Parsear Like 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._b1Body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "50d5f9c2-eff0-4a16-b99a-79413597584c",
      "name": "💬 Enviar B1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('📦 Prep B1 Body').first().json;\n\nlet b1Result = { success: false, sent: false };\n\ntry {\n  if (raw && raw.data) {\n    const parsed = typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data;\n    b1Result = {\n      success: parsed.success || false,\n      sent: parsed.sent || false,\n      error: parsed.error || '',\n      preview: parsed.preview || ''\n    };\n  }\n} catch(e) {\n  b1Result = { success: false, sent: false, error: 'parse_error' };\n}\n\nreturn [{ json: { ...lead, _b1Result: b1Result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        528
      ],
      "id": "61516505-cce5-4f2a-8cef-9c9e6c098d67",
      "name": "📦 Parsear B1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._b2Body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "f3527d9e-d2dd-4d9a-9661-cab117317aa4",
      "name": "💬 Enviar B2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5744,
        528
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('📦 Prep B2 Body').first().json;\n\nlet b2Result = { success: false, sent: false };\n\ntry {\n  if (raw && raw.data) {\n    const parsed = typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data;\n    b2Result = {\n      success: parsed.success || false,\n      sent: parsed.sent || false,\n      error: parsed.error || ''\n    };\n  }\n} catch(e) {\n  b2Result = { success: false, sent: false, error: 'parse_error' };\n}\n\nreturn [{ json: { ...lead, _b2Result: b2Result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        528
      ],
      "id": "a8fc713b-72a3-4747-8274-386fa942641c",
      "name": "📦 Parsear B3"
    },
    {
      "parameters": {
        "jsCode": "// ─── NOTIFICAR A XUS ANTES DEL LOOP ─────────────────────────\n// El loop va a tardar horas. XUS se entera AHORA y se desconecta.\n// El sub-agente trabaja solo en silencio.\n\nconst input = $input.first().json;\nconst total = (input.leadsData || input.leadsParaDispachar || []).length || '?';\nconst chatId = input.chatId || '-1002183612493';\n\nreturn [{\n  json: {\n    textResponse: `Arquitecto. Dispatch IG iniciado.\\n\\n${total} leads en cola — secuencia B1→B2→B3 con calentamiento previo (perfil, stories, likes).\\n\\nEl sistema opera en segundo plano. Le notificaré cuando el último lead haya sido contactado.`,\n    toolResponse: 'dispatch_ig_iniciado',\n    chatId\n  }\n}];"
      },
      "id": "bbc8d0a0-040a-4448-aa0f-ffafa9463b72",
      "name": "📦 Code | Notificar Inicio a XUS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        528
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "options": {}
      },
      "id": "44104f9e-7c31-45b5-a99f-5a37500ca084",
      "name": "🚀 Execute | Notificar a XUS",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -992,
        528
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "list",
          "cachedResultName": "Leads Extraccion Automatica",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 887367954,
          "mode": "list",
          "cachedResultName": "Leads Extraidos A. ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo/edit#gid=887367954"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Instagram": "={{ $json._profileUrl }}",
            "Biografia": "={{ $json.biografia }}",
            "Contactado": "True"
          },
          "matchingColumns": [
            "Biografia"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contactado",
              "displayName": "Contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Usuario/Linkedln",
              "displayName": "Usuario/Linkedln",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo_Lead",
              "displayName": "Tipo_Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Biografia",
              "displayName": "Biografia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo Electronico",
              "displayName": "Correo Electronico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Numero Telefonico",
              "displayName": "Numero Telefonico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7504,
        672
      ],
      "id": "4b5e15c6-5cb3-4696-a392-e56f101784e0",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "47 8 * * *"
            }
          ]
        }
      },
      "id": "fce7f625-71ce-40b0-bee5-1e16c2c75866",
      "name": "⏰ Schedule 8:47 AM (Hunter)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3680,
        480
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 120) + 220 }}"
      },
      "id": "9e32c461-b339-4136-bc7e-9ceb09660f97",
      "name": "⏳ Wait 2-4min (B2→B3)1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6400,
        528
      ],
      "webhookId": "wait-b2b3-001"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842852902,
          "mode": "list",
          "cachedResultName": "Registro 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit#gid=1842852902"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $now.format('dd/MM/yyyy') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        7744,
        672
      ],
      "id": "1caf7ab5-09c8-49d7-8fdb-65cf69571de4",
      "name": "📖 Leer Fila Hoy",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842852902,
          "mode": "list",
          "cachedResultName": "Registro 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit#gid=1842852902"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json._tracking.fecha }}",
            "Chats Iniciados en Instagram": "={{ $json._tracking.chatsNuevo }}",
            "Faltan/Estado": "={{ $json._tracking.estado }}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chats Iniciados en Instagram",
              "displayName": "Chats Iniciados en Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Faltan/Estado",
              "displayName": "Faltan/Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 4
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        8208,
        672
      ],
      "id": "4055b5b0-d9cd-428a-a247-cd2e75f800f5",
      "name": "📝 Tracking Outreach",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('📦 Parsear B2').first().json;\nconst sheetRow = $input.first().json;\n\n// ═══════════════════════════════════════════\n// FECHA COLOMBIA (UTC-5) — formato: d/MM/yyyy\n// ═══════════════════════════════════════════\nconst ahora = new Date();\nconst colombia = new Date(ahora.getTime() - (5 * 60 * 60 * 1000));\nconst d = colombia.getUTCDate();\nconst mm = String(colombia.getUTCMonth() + 1).padStart(2, '0');\nconst yyyy = colombia.getUTCFullYear();\nconst fecha = d + '/' + mm + '/' + yyyy;\n// Resultado: \"9/07/2025\" (sin cero en día)\n\n// ═══════════════════════════════════════════\n// INCREMENTAR\n// ═══════════════════════════════════════════\nconst chatsActual = parseInt(sheetRow['Chats Iniciados en Instagram'] || '0', 10);\nconst chatsNuevo = chatsActual + 1;\n\nconst meta = parseInt(sheetRow['Meta de Mensajes'] || '50', 10);\nconst faltan = meta - chatsNuevo;\nconst estado = faltan <= 0 ? 'META CUMPLIDA' : 'Faltan ' + faltan;\n\nconst rowNumber = sheetRow.row_number;\n\nif (!rowNumber) {\n  return [{\n    json: {\n      ...lead,\n      _trackingError: 'no_row_for_today',\n      _fechaBuscada: fecha,\n      _skipUpdate: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...lead,\n    _tracking: {\n      fecha: fecha,\n      rowNumber: rowNumber,\n      chatsNuevo: chatsNuevo,\n      meta: meta,\n      estado: estado\n    },\n    _skipUpdate: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7984,
        672
      ],
      "id": "f03d770c-cb02-4815-9f44-20431160f73b",
      "name": "📊 Incrementar Contador"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._b3Body }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "279ed3b0-4058-4814-bafe-158ed0de722f",
      "name": "💬 Enviar B3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6832,
        528
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst lead = $('📦 Prep B2 Body').first().json;\n\nlet b2Result = { success: false, sent: false };\n\ntry {\n  if (raw && raw.data) {\n    const parsed = typeof raw.data === 'string' ? JSON.parse(raw.data) : raw.data;\n    b2Result = {\n      success: parsed.success || false,\n      sent: parsed.sent || false,\n      error: parsed.error || ''\n    };\n  }\n} catch(e) {\n  b2Result = { success: false, sent: false, error: 'parse_error' };\n}\n\n// PASAR TODOS LOS DATOS DEL LEAD INCLUYENDO _mensajes\nreturn [{ json: { ...lead, _b2Result: b2Result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5952,
        528
      ],
      "id": "4b9df0d4-9904-4b86-870c-70ad7f871c2e",
      "name": "📦 Parsear B2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ANALIZA Y GENERA MENSAJES PARA ESTE LEAD:\n\n👤 Handle: {{ $json._ig_handle }}\n📊 Contexto real extraído de su perfil:\n{{ $json._contextoIA }}\n\n📈 INDICADORES CALCULADOS:\n- ContentCreator: {{ $json._indicators.isContentCreator }}\n- HighTicket: {{ $json._indicators.isHighTicket }}\n- TieneSistema: {{ $json._indicators.hasSystem }}\n- EsNuevo: {{ $json._indicators.isNew }}\n- Seguidores: {{ $json._indicators.followers }}\n- Nombre detectado: {{ $json.primerNombre || 'no disponible' }}",
        "options": {
          "systemMessage": "Generas 3 mensajes de DM de Instagram. Eres un humano escribiendo desde el celular a las 11pm. Con buena ortografía pero con el ritmo real de alguien que escribe rápido.\n\n═══════════════════════════════════\n█ ASÍ ESCRIBE UN HUMANO REAL EN DM\n═══════════════════════════════════\n\nPUNTUACIÓN REAL:\n- Nunca usa ¿ para abrir pregunta. Solo cierra con ?\n- Nunca usa ¡ para abrir. Si acaso cierra con ! o !!\n- Usa ... cuando deja una idea abierta\n- No pone punto final en mensajes cortos\n- Un solo ? para preguntas normales\n- ?? cuando es duda fuerte o retórica\n\nFLUJO REAL:\n- Arranca frases con \"y\", \"o sea\", \"igual\", \"pero\"\n- Deja ideas sin cerrar con ...\n- Una sola idea por mensaje, no empaqueta 3 conceptos\n- Usa \"no?\", \"cierto?\", \"me imagino\", \"supongo\"\n- No suena a consultor, suena a alguien con experiencia hablando casual\n\nPROHIBIDO (suena a IA o a robot):\n- ¿? con apertura de interrogación\n- ¡! con apertura de exclamación  \n- Punto final en mensajes cortos\n- \"Ya no es X, es Y\" (contraste perfecto)\n- \"Lo que define el juego es\"\n- \"La pregunta es si\"\n- \"Te pone adelante del X%\"\n- \"Si tú paras, todo para\"\n- \"Requiere estructura\"\n- \"Tiene un costo operativo\"\n- \"Sin duda\", \"definitivamente\", \"efectivamente\"\n- Cualquier frase que suene a TED Talk o libro de negocios\n- Cualquier frase que un consultor diría en una presentación\n\n═══════════════════════════════════\n█ PSICOLOGÍA (invisible, no obvia)\n═══════════════════════════════════\n\n1. Suena como alguien del mismo mundo, no como outsider\n2. Dile algo útil que no haya pensado así\n3. La pregunta final se queda en su cabeza, no puede no responder\n4. Par a par, ni arriba ni abajo\n\n═══════════════════════════════════\n█ ESTRUCTURA\n═══════════════════════════════════\n\nB1 = nombre solo. 2-3 palabras máximo\nB2 = observación directa sobre su perfil, como se la dirías a un conocido. máximo 15 palabras. sin punto final\nB3 = pregunta abierta sobre su operación. máximo 15 palabras. cierra con ? sin abrir con ¿\n\n═══════════════════════════════════\n█ RUTAS\n═══════════════════════════════════\n\nA — CUELLO DE BOTELLA (ContentCreator + followers > 5000)\nB — CÁRCEL DORADA (HighTicket)\nC — CURIOSIDAD (perfil ambiguo o nuevo)\nD — INFRAESTRUCTURA (hasSystem)\n\n═══════════════════════════════════\n█ EJEMPLOS CORRECTOS\n═══════════════════════════════════\n\nRuta A (coach fitness, 15k, postea diario):\n{\"ruta\":\"A\",\"razon\":\"Creator con volumen alto\",\"b1\":\"Hola Carlos\",\"b2\":\"un reel al día es heavy... los DMs te deben estar matando, no?\",\"b3\":\"qué es lo que más tiempo te come del negocio hoy?\"}\n\nRuta B (mentor, programa de $5,000, 200 alumnos):\n{\"ruta\":\"B\",\"razon\":\"High ticket con carga operativa\",\"b1\":\"Hola Manuel\",\"b2\":\"200 alumnos a ese ticket... me imagino que el día no te alcanza\",\"b3\":\"y todo eso lo sigues manejando tú o ya tienes equipo?\"}\n\nRuta C (perfil con poca info):\n{\"ruta\":\"C\",\"razon\":\"Datos insuficientes\",\"b1\":\"Hola\",\"b2\":\"trabajo con negocios digitales y me dio curiosidad tu perfil\",\"b3\":\"en qué andas enfocado ahorita?\"}\n\nRuta D (tiene CRM y funnels):\n{\"ruta\":\"D\",\"razon\":\"Tiene tools sin analytics\",\"b1\":\"Hola Valentina\",\"b2\":\"vi que tienes funnel y CRM... eso ya es más que la mayoría\",\"b3\":\"pero te están dando datos útiles o los tienes más de adorno?\"}\n\n═══════════════════════════════════\n█ EJEMPLOS INCORRECTOS\n═══════════════════════════════════\n\n❌ \"¿Qué parte del negocio delegarías?\" → ¿ de apertura, suena a entrevista\n❌ \"Ya no es vender, es operar.\" → contraste perfecto de IA\n❌ \"Eso te posiciona en el top 10%.\" → estadística inventada\n❌ \"El verdadero reto es escalar sin perder calidad.\" → frase de TED Talk\n❌ \"Requiere una estructura sólida detrás.\" → consultor hablando\n\n═══════════════════════════════════\n█ OUTPUT\n═══════════════════════════════════\n\nSolo JSON. Sin explicaciones. Sin markdown.\n\n{\"ruta\":\"X\",\"razon\":\"máx 10 palabras\",\"b1\":\"saludo\",\"b2\":\"observación natural\",\"b3\":\"pregunta abierta?\"}"
        }
      },
      "id": "15458ab1-4397-445d-8831-3f1aad3aee78",
      "name": "🧠 NOVA: Generar Mensajes",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3600,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst leadData = $('📦 Compilar Intel1').first().json;\n\nlet mensajes = {};\nlet parseSuccess = false;\n\ntry {\n  const responseText = aiResponse.text || aiResponse.output || JSON.stringify(aiResponse);\n  try {\n    mensajes = JSON.parse(responseText.trim());\n    parseSuccess = true;\n  } catch (e1) {\n    const jsonMatch = responseText.match(/\\{[^{}]*\"ruta\"[^{}]*\"b1\"[^{}]*\"b2\"[^{}]*\"b3\"[^{}]*\\}/);\n    if (jsonMatch) {\n      mensajes = JSON.parse(jsonMatch[0]);\n      parseSuccess = true;\n    } else {\n      const flexMatch = responseText.match(/\\{[\\s\\S]*?\\}/);\n      if (flexMatch) {\n        mensajes = JSON.parse(flexMatch[0]);\n        parseSuccess = true;\n      }\n    }\n  }\n} catch (e) {\n  console.log('Parse failed:', e.message);\n}\n\nconst primerNombre = leadData.primerNombre || 'Hola';\nconst ind = leadData._indicators || {};\n\nlet ruta = mensajes.ruta || null;\nif (!ruta || !['A','B','C','D'].includes(ruta)) {\n  if (ind.isHighTicket) ruta = 'B';\n  else if (ind.isContentCreator && (ind.followers > 5000)) ruta = 'A';\n  else if (ind.hasSystem) ruta = 'D';\n  else ruta = 'C';\n}\n\nconst fallbackSets = {\n  A: [\n    { b2: 'ese ritmo de contenido es serio... los DMs te deben estar matando, no?', b3: 'qué es lo que más tiempo te come del negocio hoy?' },\n    { b2: 'publicar así de seguido no lo sostiene cualquiera', b3: 'y la parte operativa quién te la lleva o todo tú?' },\n    { b2: 'con ese volumen de contenido me imagino que el día no te alcanza', b3: 'qué es lo que más te gustaría soltar si pudieras?' }\n  ],\n  B: [\n    { b2: 'ese ticket con ese volumen de alumnos... me imagino que la carga es seria', b3: 'qué es lo que más te gustaría dejar de hacer tú mismo?' },\n    { b2: 'facturar así está bien pero supongo que el día se va volando, no?', b3: 'qué parte te sigue cayendo a ti que preferirías no hacer?' },\n    { b2: 'programa premium con esa cantidad de alumnos... eso pesa operativamente', b3: 'cuánto de eso todavía depende directamente de ti?' }\n  ],\n  C: [\n    { b2: 'trabajo con negocios digitales y me dio curiosidad tu perfil', b3: 'en qué andas enfocado ahorita?' },\n    { b2: 'me crucé con tu cuenta y me pareció interesante', b3: 'cuál es tu negocio principal?' },\n    { b2: 'estuve viendo tu perfil y me surgió una pregunta genuina', b3: 'a qué te dedicas exactamente?' }\n  ],\n  D: [\n    { b2: 'vi que tienes funnel y CRM armado... eso ya es más que la mayoría', b3: 'pero te están dando datos útiles o los tienes más de adorno?' },\n    { b2: 'se nota que tienes cosas montadas, no improvisas', b3: 'sabes cuál de tus canales te trae los mejores clientes?' },\n    { b2: 'tienes herramientas funcionando y eso no es común', b3: 'te dicen algo útil o nada más acumulan datos?' }\n  ]\n};\n\nconst fb = fallbackSets[ruta][Math.floor(Math.random() * fallbackSets[ruta].length)];\n\nlet b1 = mensajes.b1 || primerNombre;\nif (b1.length < 2 || b1.length > 25) b1 = primerNombre;\n\nlet b2 = mensajes.b2 || fb.b2;\nif (b2.split(' ').length > 20) b2 = fb.b2;\n\nlet b3 = mensajes.b3 || fb.b3;\nif (b3.split(' ').length > 20) b3 = fb.b3;\nif (!b3.endsWith('?')) b3 += '?';\n\n// Detector de patrones IA\nconst iaPatterns = [\n  /ya no es .+, es .+/i,\n  /lo que define/i,\n  /la pregunta es si/i,\n  /te pone adelante del \\d+/i,\n  /el cuello de botella no es/i,\n  /si tú paras/i,\n  /no es lo mismo .+ que/i,\n  /requiere estructura/i,\n  /tiene un costo operativo/i,\n  /eso te posiciona/i,\n  /lo que separa a/i,\n  /el verdadero reto/i,\n  /la clave está en/i,\n  /lo interesante es que/i,\n  /sin duda/i,\n  /definitivamente/i,\n  /efectivamente/i\n];\n\nconst soundsLikeAI = (text) => iaPatterns.some(p => p.test(text));\n\nconst spamPhrases = [\n  'vi tu perfil', 'increíble', 'inspirador', 'inspiración',\n  'me encanta tu', 'excelente trabajo', 'éxito', 'felicidades',\n  'admiro', 'gran trabajo', 'maravilloso', 'te gustaría saber',\n  'puedo ayudarte', 'tengo algo para ti'\n];\n\nconst isSpammy = (text) => spamPhrases.some(p => text.toLowerCase().includes(p));\n\nif (isSpammy(b2) || soundsLikeAI(b2)) b2 = fb.b2;\nif (isSpammy(b3) || soundsLikeAI(b3)) b3 = fb.b3;\n\n// Limpiar signos de apertura que la IA mete\nb2 = b2.replace(/¿/g, '').replace(/¡/g, '').replace(/\\.$/g, '').trim();\nb3 = b3.replace(/¿/g, '').replace(/¡/g, '').trim();\n\nreturn [{\n  json: {\n    ...leadData,\n    _mensajes: {\n      b1: b1.trim(),\n      b2: b2,\n      b3: b3\n    },\n    _ruta: ruta,\n    _razonIA: mensajes.razon || 'Clasificación por indicadores',\n    _parseSuccess: parseSuccess,\n    _debug: {\n      iaRaw: mensajes,\n      fallbackUsed: !parseSuccess,\n      iaDetected: soundsLikeAI(mensajes.b2 || '') || soundsLikeAI(mensajes.b3 || ''),\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        528
      ],
      "id": "818eaabc-5c37-4a72-8a76-90ae0bee61d8",
      "name": "📦 Procesar Respuesta IA1"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\n// ═══════════════════════════════════════════\n// FUNCIÓN: Convertir Unicode Small Caps a ASCII\n// ═══════════════════════════════════════════\nfunction unicodeToAscii(text) {\n  if (!text) return '';\n  \n  const smallCapsMap = {\n    'ᴀ':'A','ʙ':'B','ᴄ':'C','ᴅ':'D','ᴇ':'E','ꜰ':'F','ɢ':'G',\n    'ʜ':'H','ɪ':'I','ᴊ':'J','ᴋ':'K','ʟ':'L','ᴍ':'M','ɴ':'N',\n    'ᴏ':'O','ᴘ':'P','ꞯ':'Q','ʀ':'R','ꜱ':'S','ᴛ':'T','ᴜ':'U',\n    'ᴠ':'V','ᴡ':'W','x':'X','ʏ':'Y','ᴢ':'Z',\n    'ₐ':'a','ₑ':'e','ₒ':'o','ₓ':'x',\n    'ᵃ':'a','ᵇ':'b','ᶜ':'c','ᵈ':'d','ᵉ':'e','ᶠ':'f','ᵍ':'g',\n    'ʰ':'h','ⁱ':'i','ʲ':'j','ᵏ':'k','ˡ':'l','ᵐ':'m','ⁿ':'n',\n    'ᵒ':'o','ᵖ':'p','ʳ':'r','ˢ':'s','ᵗ':'t','ᵘ':'u','ᵛ':'v',\n    'ʷ':'w','ˣ':'x','ʸ':'y','ᶻ':'z',\n    'Ａ':'A','Ｂ':'B','Ｃ':'C','Ｄ':'D','Ｅ':'E','Ｆ':'F','Ｇ':'G',\n    'Ｈ':'H','Ｉ':'I','Ｊ':'J','Ｋ':'K','Ｌ':'L','Ｍ':'M','Ｎ':'N',\n    'Ｏ':'O','Ｐ':'P','Ｑ':'Q','Ｒ':'R','Ｓ':'S','Ｔ':'T','Ｕ':'U',\n    'Ｖ':'V','Ｗ':'W','Ｘ':'X','Ｙ':'Y','Ｚ':'Z',\n    '𝐀':'A','𝐁':'B','𝐂':'C','𝐃':'D','𝐄':'E','𝐅':'F','𝐆':'G',\n    '𝐇':'H','𝐈':'I','𝐉':'J','𝐊':'K','𝐋':'L','𝐌':'M','𝐍':'N',\n    '𝐎':'O','𝐏':'P','𝐐':'Q','𝐑':'R','𝐒':'S','𝐓':'T','𝐔':'U',\n    '𝐕':'V','𝐖':'W','𝐗':'X','𝐘':'Y','𝐙':'Z'\n  };\n\n  let result = '';\n  for (const char of text) {\n    result += smallCapsMap[char] || char;\n  }\n  return result;\n}\n\n// ═══════════════════════════════════════════\n// BLACKLIST GLOBAL\n// ═══════════════════════════════════════════\nconst BLACKLIST = [\n  'the', 'el', 'la', 'los', 'las', 'de', 'del', 'para', 'por', 'con',\n  'and', 'for', 'your', 'my', 'tu', 'mi', 'su', 'un', 'una',\n  'official', 'oficial', 'real', 'its', 'im', 'hey', 'soy', 'iam',\n  'mr', 'ms', 'mrs', 'dr', 'sir', 'miss', 'don', 'doña', 'sr', 'sra',\n  'coach', 'coaching', 'mentor', 'mentora', 'ceo', 'founder', 'creator',\n  'influencer', 'blogger', 'speaker', 'trainer', 'teacher', 'profesor',\n  'marketing', 'digital', 'social', 'media', 'content', 'brand',\n  'fitness', 'gym', 'wellness', 'beauty', 'health', 'salud',\n  'studio', 'agency', 'academy', 'group', 'team', 'club',\n  'shop', 'store', 'tienda', 'consulting', 'solutions', 'community',\n  'podcast', 'show', 'salon', 'spa', 'restaurant', 'cafe', 'food',\n  'tech', 'software', 'finance', 'financial', 'invest', 'trading',\n  'crypto', 'forex', 'travel', 'education', 'school',\n  'emprendedor', 'emprendedora', 'negocios', 'estrategia', 'ventas',\n  'growth', 'study', 'life', 'world', 'global', 'hub', 'lab',\n  'pro', 'tv', 'king', 'queen', 'boss', 'master', 'guru', 'ninja',\n  'mindset', 'wealth', 'money', 'success', 'get', 'top', 'best', 'new'\n];\n\nfunction isBlacklisted(word) {\n  return BLACKLIST.includes(word.toLowerCase());\n}\n\n// ═══════════════════════════════════════════\n// FUNCIÓN: Extraer nombre de persona\n// ═══════════════════════════════════════════\nfunction extraerNombrePersona(textoRaw) {\n  if (!textoRaw || textoRaw.length < 2) return null;\n  \n  let texto = unicodeToAscii(textoRaw);\n  const separadores = /[\\|\\-\\–\\—•✦★◆►▸⚡🔥💰🎯📈💎✨·\\/\\\\]/;\n  const partes = texto.split(separadores);\n  \n  for (const parte of partes) {\n    let limpia = parte\n      .replace(/[^\\w\\sáéíóúñüÁÉÍÓÚÑÜ']/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim();\n    \n    if (limpia.length < 2) continue;\n    \n    const palabras = limpia.split(' ').filter(p => p.length > 1);\n    if (palabras.length === 0 || palabras.length > 4) continue;\n    \n    for (const palabra of palabras) {\n      const soloLetras = palabra.replace(/[áéíóúñüÁÉÍÓÚÑÜ]/g, 'a');\n      if (/^[A-Za-z]{2,}$/.test(soloLetras) && !isBlacklisted(palabra)) {\n        return palabra.charAt(0).toUpperCase() + palabra.slice(1).toLowerCase();\n      }\n    }\n  }\n  \n  return null;\n}\n\n// ═══════════════════════════════════════════\n// EXTRAER NOMBRE\n// ═══════════════════════════════════════════\nconst fuentes = {\n  scrapedName: lead._scraped?.realName || '',\n  nombreCompleto: lead.nombreCompleto || '',\n  parsedName: lead.primerNombre || '',\n  handle: lead._ig_handle || ''\n};\n\nlet nombreFinal = null;\nlet fuenteUsada = 'generic';\n\nnombreFinal = extraerNombrePersona(fuentes.scrapedName);\nif (nombreFinal) fuenteUsada = 'scraped';\n\nif (!nombreFinal) {\n  nombreFinal = extraerNombrePersona(fuentes.nombreCompleto);\n  if (nombreFinal) fuenteUsada = 'nombreCompleto';\n}\n\nif (!nombreFinal && fuentes.parsedName && fuentes.parsedName.length >= 3) {\n  const limpio = unicodeToAscii(fuentes.parsedName);\n  if (/^[a-záéíóúñü]+$/i.test(limpio) && limpio.length >= 3 && !isBlacklisted(limpio)) {\n    nombreFinal = limpio.charAt(0).toUpperCase() + limpio.slice(1).toLowerCase();\n    fuenteUsada = 'parsed';\n  }\n}\n\nif (!nombreFinal && fuentes.handle) {\n  const handleParts = fuentes.handle.split(/[._\\-]/);\n  for (const part of handleParts) {\n    if (part && part.length >= 3 && part.length <= 14 && /^[a-zA-Z]+$/.test(part) && !isBlacklisted(part)) {\n      nombreFinal = part.charAt(0).toUpperCase() + part.slice(1).toLowerCase();\n      fuenteUsada = 'handle';\n      break;\n    }\n  }\n}\n\nconst esPersona = !!nombreFinal;\nif (!nombreFinal) {\n  nombreFinal = 'hola';\n  fuenteUsada = 'generic';\n}\n\n// ═══════════════════════════════════════════\n// GENERAR _contextoIA (ESTO ES LO QUE FALTABA)\n// ═══════════════════════════════════════════\nconst bio = lead.biografia || lead.bio || lead._scraped?.bio || '';\nconst followers = lead._indicators?.followers || lead.followers || lead._scraped?.followers || 0;\nconst posts = lead._scraped?.posts || lead.posts || 0;\nconst handle = lead._ig_handle || lead.handle || '';\nconst realName = fuentes.scrapedName || fuentes.nombreCompleto || '';\n\n// Construir contexto legible para la IA\nlet contextoParts = [];\n\nif (realName) contextoParts.push(`Nombre: ${realName}`);\nif (handle) contextoParts.push(`Handle: @${handle}`);\nif (followers) contextoParts.push(`Seguidores: ${followers.toLocaleString()}`);\nif (posts) contextoParts.push(`Posts: ${posts}`);\nif (bio) contextoParts.push(`Bio: ${bio}`);\n\n// Agregar info de indicadores en lenguaje natural\nconst ind = lead._indicators || {};\nif (ind.isHighTicket) contextoParts.push('Señales de High Ticket detectadas (menciona precios altos, programas premium, etc)');\nif (ind.isContentCreator) contextoParts.push('Es Content Creator activo (publica frecuentemente)');\nif (ind.hasSystem) contextoParts.push('Tiene sistema/herramientas (menciona CRM, funnel, automatizacion)');\nif (ind.isNew) contextoParts.push('Parece cuenta nueva o en crecimiento');\n\n// Info adicional del scraping si existe\nif (lead._scraped?.category) contextoParts.push(`Categoria: ${lead._scraped.category}`);\nif (lead._scraped?.website) contextoParts.push(`Website: ${lead._scraped.website}`);\nif (lead._scraped?.email) contextoParts.push(`Email publico: ${lead._scraped.email}`);\n\nconst contextoIA = contextoParts.length > 0 \n  ? contextoParts.join('\\n') \n  : 'Perfil con poca informacion disponible';\n\n// ═══════════════════════════════════════════\n// OUTPUT FINAL\n// ═══════════════════════════════════════════\nreturn [{\n  json: {\n    ...lead,\n    primerNombre: nombreFinal.toLowerCase(),\n    _esPersona: esPersona,\n    _contextoIA: contextoIA,  // ← AHORA SÍ EXISTE\n    _indicators: lead._indicators || {\n      isHighTicket: false,\n      isContentCreator: false,\n      hasSystem: false,\n      isNew: true,\n      followers: followers\n    },\n    _debugNombre: {\n      scrapedRaw: fuentes.scrapedName,\n      nombreCompletoRaw: fuentes.nombreCompleto,\n      parsedRaw: fuentes.parsedName,\n      handleRaw: fuentes.handle,\n      resultado: nombreFinal,\n      fuente: fuenteUsada\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        528
      ],
      "id": "3b705480-97bf-430a-bc77-d6e9d00066d6",
      "name": "📦 Compilar Intel1"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst ig = lead._ig_handle;\nconst url = lead._profileUrl;\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, ig, cookies } = context;'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { waitUntil: \"networkidle2\", timeout: 30000 });'\n  + ' await new Promise(r => setTimeout(r, 2000));'\n  + ' if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" };'\n  + ' const data = await page.evaluate(() => {'\n  + '   const getMeta = (n) => { const e = document.querySelector(\"meta[name=\\\\\"\" + n + \"\\\\\"]\"); return e ? e.content : \"\"; };'\n  + '   const getOg = (p) => { const e = document.querySelector(\"meta[property=\\\\\"og:\" + p + \"\\\\\"]\"); return e ? e.content : \"\"; };'\n  + '   return { metaDesc: getMeta(\"description\"), ogTitle: getOg(\"title\") };'\n  + ' });'\n  + ' return { success: true, data };'\n  + '};';\n\nreturn [{ json: { ...lead, _scrapeBody: { code, context: { url, ig, cookies } } } }];"
      },
      "id": "9ac094d6-3718-479f-b833-1d04602b49d1",
      "name": "📦 Prep Scrape Body1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst url = lead._profileUrl;\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { timeout: 60000 }).catch(function() {});'\n  + ' await new Promise(function(r) { setTimeout(r, 4000); });'\n  + ' await w(2000, 4000);'\n  + ' if (page.url().includes(\"/accounts/login\")) {'\n  + '   await page.evaluate(function() {'\n  + '     var m = document.createElement(\"meta\"); m.name = \"xus-result\";'\n  + '     m.content = JSON.stringify({success:false,error:\"auth\",storiesViewed:0});'\n  + '     document.head.appendChild(m);'\n  + '   });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' var storiesViewed = 0; var storyType = \"none\"; var debug = \"\";'\n  + ' var hasActiveStory = await page.evaluate(function() {'\n  + '   var header = document.querySelector(\"header\");'\n  + '   if (!header) return { found: false, reason: \"no_header\" };'\n  + '   var canvas = header.querySelector(\"canvas\");'\n  + '   if (canvas) return { found: true, type: \"canvas\" };'\n  + '   var svgCircle = header.querySelector(\"circle[stroke-dasharray]\");'\n  + '   if (svgCircle) return { found: true, type: \"svg_circle\" };'\n  + '   var profileImg = header.querySelector(\"img\");'\n  + '   if (profileImg) {'\n  + '     var parent = profileImg.parentElement;'\n  + '     for (var i = 0; i < 5 && parent; i++) {'\n  + '       var style = window.getComputedStyle(parent);'\n  + '       var bg = style.background || style.backgroundImage || \"\";'\n  + '       if (bg.indexOf(\"gradient\") !== -1) return { found: true, type: \"gradient\" };'\n  + '       parent = parent.parentElement;'\n  + '     }'\n  + '   }'\n  + '   return { found: false, reason: \"no_ring\" };'\n  + ' });'\n  + ' debug = debug + \"activeCheck:\" + JSON.stringify(hasActiveStory) + \" \";'\n  + ' if (hasActiveStory.found) {'\n  + '   var clicked = await page.evaluate(function() {'\n  + '     var header = document.querySelector(\"header\");'\n  + '     if (!header) return false;'\n  + '     var img = header.querySelector(\"img\");'\n  + '     if (img) { var clickable = img.closest(\"a\") || img.closest(\"div[role=\\\\\"button\\\\\"]\") || img.closest(\"span[role=\\\\\"link\\\\\"]\") || img; clickable.click(); return true; }'\n  + '     var canvas = header.querySelector(\"canvas\");'\n  + '     if (canvas) { var clickable2 = canvas.closest(\"a\") || canvas.closest(\"div[role=\\\\\"button\\\\\"]\") || canvas.parentElement; clickable2.click(); return true; }'\n  + '     return false;'\n  + '   });'\n  + '   if (clicked) {'\n  + '     await w(3000, 5000); storyType = \"active\";'\n  + '     var inStory = await page.evaluate(function() { return window.location.href.indexOf(\"/stories/\") !== -1 || document.querySelector(\"div[role=\\\\\"presentation\\\\\"]\") !== null; });'\n  + '     if (inStory) {'\n  + '       for (var i = 0; i < 3; i++) { await page.keyboard.press(\"ArrowRight\"); await w(2000, 4000); storiesViewed++; }'\n  + '       var closeClicked = await page.evaluate(function() { var svgs = document.querySelectorAll(\"svg[aria-label]\"); for (var c = 0; c < svgs.length; c++) { var label = svgs[c].getAttribute(\"aria-label\") || \"\"; if (label === \"Close\" || label === \"Cerrar\") { var btn = svgs[c].closest(\"button\") || svgs[c].parentElement; if (btn) { btn.click(); return true; } } } return false; });'\n  + '       if (!closeClicked) await page.keyboard.press(\"Escape\"); await w(1000, 2000);'\n  + '     } else { debug = debug + \"click_but_no_story_mode \"; }'\n  + '   } else { debug = debug + \"click_failed \"; }'\n  + ' }'\n  + ' if (storiesViewed === 0) {'\n  + '   var highlightClicked = await page.evaluate(function() { var lists = document.querySelectorAll(\"ul\"); for (var u = 0; u < lists.length; u++) { var ul = lists[u]; var imgs = ul.querySelectorAll(\"img\"); var btns = ul.querySelectorAll(\"div[role=\\\\\"button\\\\\"], button\"); if (imgs.length > 0 || btns.length > 0) { var items = ul.querySelectorAll(\"li\"); if (items.length >= 1) { var firstItem = items[0]; var clickable = firstItem.querySelector(\"div[role=\\\\\"button\\\\\"]\") || firstItem.querySelector(\"button\") || firstItem.querySelector(\"canvas\")?.parentElement || firstItem.querySelector(\"img\"); if (clickable) { clickable.click(); return true; } } } } return false; });'\n  + '   if (highlightClicked) {'\n  + '     await w(3000, 5000); storyType = \"highlight\";'\n  + '     var inHighlight = await page.evaluate(function() { return document.querySelector(\"div[role=\\\\\"presentation\\\\\"]\") !== null || document.querySelector(\"div[role=\\\\\"dialog\\\\\"]\") !== null; });'\n  + '     if (inHighlight) { for (var j = 0; j < 3; j++) { await page.keyboard.press(\"ArrowRight\"); await w(1500, 3000); storiesViewed++; } await page.keyboard.press(\"Escape\"); await w(1000, 2000); }'\n  + '   } else { debug = debug + \"no_highlights \"; }'\n  + ' }'\n  + ' await page.evaluate(function(sv, st, db) { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true, storiesViewed:sv, storyType:st, debug:db}); document.head.appendChild(m); }, storiesViewed, storyType, debug);'\n  + ' return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + '};';\n\nreturn [{ json: { ...lead, _storiesBody: { code, context: { url, cookies } } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        528
      ],
      "id": "843026a3-8b8c-49a8-aaab-cbc6b4ed9afd",
      "name": "📦 Prep Stories Body"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst url = lead._profileUrl;\nconst skipPosts = Math.floor(Math.random() * 3);\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, cookies, skipPosts } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { timeout: 60000 }).catch(function() {});'\n  + ' await new Promise(function(r) { setTimeout(r, 4000); });'\n  + ' await w(2000, 3500);'\n  + ' if (page.url().includes(\"/accounts/login\")) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"auth\",liked:false}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 300 + Math.random()*200, behavior: \"smooth\" }); });'\n  + ' await w(1500, 2500);'\n  + ' var posts = await page.$$(\"a[href*=\\\\\"/p/\\\\\"], a[href*=\\\\\"/reel/\\\\\"]\");'\n  + ' if (!posts || posts.length === 0) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_posts\",liked:false}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' var postIndex = Math.min(skipPosts, posts.length - 1);'\n  + ' await posts[postIndex].click();'\n  + ' await w(2500, 4000);'\n  + ' var likeResult = await page.evaluate(function() {'\n  + '   var svgs = document.querySelectorAll(\"svg[aria-label]\");'\n  + '   for (var j = 0; j < svgs.length; j++) { var label = svgs[j].getAttribute(\"aria-label\") || \"\"; if (label === \"Like\" || label === \"Me gusta\") { var clickable = svgs[j].closest(\"button\") || svgs[j].closest(\"div[role=\\\\\"button\\\\\"]\") || svgs[j].parentElement; if (clickable) { clickable.click(); return { liked: true }; } } }'\n  + '   for (var k = 0; k < svgs.length; k++) { var lbl = svgs[k].getAttribute(\"aria-label\") || \"\"; if (lbl === \"Unlike\" || lbl === \"Ya no me gusta\") { return { liked: false, alreadyLiked: true }; } }'\n  + '   return { liked: false, notFound: true };'\n  + ' });'\n  + ' await w(1000, 2000);'\n  + ' await page.keyboard.press(\"Escape\");'\n  + ' await w(800, 1500);'\n  + ' await page.evaluate(function(lr, pi) { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true, liked:lr.liked, postIndex:pi, alreadyLiked:lr.alreadyLiked||false}); document.head.appendChild(m); }, likeResult, postIndex);'\n  + ' return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + '};';\n\nreturn [{ json: { ...lead, _like1Body: { code, context: { url, cookies, skipPosts } } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        528
      ],
      "id": "9dc43254-c2a8-4f2e-8d16-f6a574cb52e0",
      "name": "📦 Prep Like 1"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst url = lead._profileUrl;\nconst like1Index = lead._like1Result?.postIndex || 0;\nlet skipPosts = Math.floor(Math.random() * 4) + 2;\nif (skipPosts === like1Index) skipPosts++;\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, cookies, skipPosts } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { timeout: 60000 }).catch(function() {});'\n  + ' await new Promise(function(r) { setTimeout(r, 4000); });'\n  + ' await w(2500, 4000);'\n  + ' if (page.url().includes(\"/accounts/login\")) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"auth\",liked:false}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 400 + Math.random()*300, behavior: \"smooth\" }); });'\n  + ' await w(1000, 2000);'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 200 + Math.random()*200, behavior: \"smooth\" }); });'\n  + ' await w(1500, 2500);'\n  + ' var posts = await page.$$(\"a[href*=\\\\\"/p/\\\\\"], a[href*=\\\\\"/reel/\\\\\"]\");'\n  + ' if (!posts || posts.length <= skipPosts) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true,liked:false,reason:\"not_enough_posts\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' var postIndex = Math.min(skipPosts, posts.length - 1);'\n  + ' await posts[postIndex].click();'\n  + ' await w(2500, 4000);'\n  + ' var likeResult = await page.evaluate(function() {'\n  + '   var svgs = document.querySelectorAll(\"svg[aria-label]\");'\n  + '   for (var j = 0; j < svgs.length; j++) { var label = svgs[j].getAttribute(\"aria-label\") || \"\"; if (label === \"Like\" || label === \"Me gusta\") { var clickable = svgs[j].closest(\"button\") || svgs[j].closest(\"div[role=\\\\\"button\\\\\"]\") || svgs[j].parentElement; if (clickable) { clickable.click(); return { liked: true }; } } }'\n  + '   for (var k = 0; k < svgs.length; k++) { var lbl = svgs[k].getAttribute(\"aria-label\") || \"\"; if (lbl === \"Unlike\" || lbl === \"Ya no me gusta\") { return { liked: false, alreadyLiked: true }; } }'\n  + '   return { liked: false, notFound: true };'\n  + ' });'\n  + ' await w(1200, 2500);'\n  + ' await page.keyboard.press(\"Escape\");'\n  + ' await w(800, 1500);'\n  + ' await page.evaluate(function(lr, pi) { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true, liked:lr.liked, postIndex:pi, alreadyLiked:lr.alreadyLiked||false}); document.head.appendChild(m); }, likeResult, postIndex);'\n  + ' return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + '};';\n\nreturn [{ json: { ...lead, _like2Body: { code, context: { url, cookies, skipPosts } } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        528
      ],
      "id": "e01cc08b-43a9-468d-8216-5855c1e4d756",
      "name": "📦 Prep Like 2"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst url = lead._profileUrl;\nconst mensaje = lead._mensajes?.b1 || 'hola';\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, mensaje, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { timeout: 60000 }).catch(function() {});'\n  + ' await new Promise(function(r) { setTimeout(r, 4000); });'\n  + ' await w(2000, 4000);'\n  + ' if (page.url().includes(\"/accounts/login\")) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"auth\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 150, behavior: \"smooth\" }); });'\n  + ' await w(500, 1200);'\n  + ' var msgButton = await page.evaluateHandle(function() { var buttons = Array.from(document.querySelectorAll(\"div[role=\\\\\"button\\\\\"], button\")); return buttons.find(function(btn) { var text = (btn.innerText || \"\").trim().toLowerCase(); return text === \"message\" || text === \"enviar mensaje\" || text === \"mensaje\"; }) || null; });'\n  + ' var isNull = await page.evaluate(function(el) { return el === null; }, msgButton);'\n  + ' if (isNull) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_message_button\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await msgButton.hover(); await w(300, 700); await msgButton.click();'\n  + ' var inputSelector = \"div[contenteditable=\\\\\"true\\\\\"][role=\\\\\"textbox\\\\\"]\";'\n  + ' var inputFound = true;'\n  + ' try { await page.waitForSelector(inputSelector, { timeout: 15000 }); } catch(e) { inputFound = false; }'\n  + ' if (!inputFound) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_input_found\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await w(800, 1500); await page.focus(inputSelector);'\n  + ' var chars = mensaje.split(\"\");'\n  + ' for (var i = 0; i < chars.length; i++) { await page.keyboard.type(chars[i]); await w(30 + Math.random() * 100, 80 + Math.random() * 120); }'\n  + ' await w(500, 1000); await page.keyboard.press(\"Enter\"); await w(2000, 3500);'\n  + ' await page.evaluate(function(msg) { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true, sent:true, preview:msg.substring(0,50)}); document.head.appendChild(m); }, mensaje);'\n  + ' return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + '};';\n\nreturn [{ json: { ...lead, _b1Body: { code, context: { url, mensaje, cookies } } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        528
      ],
      "id": "d1711320-95ba-49bb-903a-992f4cc3b6c5",
      "name": "📦 Prep B1 Body"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst url = lead._profileUrl;\nconst mensaje = lead._mensajes?.b2 || 'interesante perfil';\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, mensaje, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { timeout: 60000 }).catch(function() {});'\n  + ' await new Promise(function(r) { setTimeout(r, 4000); });'\n  + ' await w(2500, 4500);'\n  + ' if (page.url().includes(\"/accounts/login\")) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"auth\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 180, behavior: \"smooth\" }); }); await w(400, 900);'\n  + ' var msgButton = await page.evaluateHandle(function() { var buttons = Array.from(document.querySelectorAll(\"div[role=\\\\\"button\\\\\"], button\")); return buttons.find(function(btn) { var t = (btn.innerText || \"\").trim().toLowerCase(); return t === \"message\" || t === \"enviar mensaje\" || t === \"mensaje\"; }) || null; });'\n  + ' var isNull = await page.evaluate(function(el) { return el === null; }, msgButton);'\n  + ' if (isNull) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_button\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await msgButton.hover(); await w(250, 600); await msgButton.click();'\n  + ' var inputSelector = \"div[contenteditable=\\\\\"true\\\\\"][role=\\\\\"textbox\\\\\"]\";'\n  + ' var inputFound = true;'\n  + ' try { await page.waitForSelector(inputSelector, { timeout: 12000 }); } catch(e) { inputFound = false; }'\n  + ' if (!inputFound) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_input\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await w(700, 1400); await page.focus(inputSelector);'\n  + ' var chars = mensaje.split(\"\");'\n  + ' for (var i = 0; i < chars.length; i++) { await page.keyboard.type(chars[i]); await w(35 + Math.random() * 90, 75 + Math.random() * 110); }'\n  + ' await w(400, 900); await page.keyboard.press(\"Enter\"); await w(1800, 3200);'\n  + ' await page.evaluate(function(msg) { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true, sent:true, preview:msg.substring(0,50)}); document.head.appendChild(m); }, mensaje);'\n  + ' return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + '};';\n\nreturn [{ json: { ...lead, _b2Body: { code, context: { url, mensaje, cookies } } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5504,
        528
      ],
      "id": "dd5f8401-8cff-42ef-98ed-b3e92e61ff16",
      "name": "📦 Prep B2 Body"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst url = lead._profileUrl;\nconst mensaje = lead._mensajes?.b3 || 'en que andas enfocado ahorita?';\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true,sameSite:'None'},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true,sameSite:'None'}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, mensaje, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { timeout: 60000 }).catch(function() {});'\n  + ' await new Promise(function(r) { setTimeout(r, 4000); });'\n  + ' await w(2500, 4500);'\n  + ' if (page.url().includes(\"/accounts/login\")) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"auth\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 180, behavior: \"smooth\" }); }); await w(400, 900);'\n  + ' var msgButton = await page.evaluateHandle(function() { var buttons = Array.from(document.querySelectorAll(\"div[role=\\\\\"button\\\\\"], button\")); return buttons.find(function(btn) { var t = (btn.innerText || \"\").trim().toLowerCase(); return t === \"message\" || t === \"enviar mensaje\" || t === \"mensaje\"; }) || null; });'\n  + ' var isNull = await page.evaluate(function(el) { return el === null; }, msgButton);'\n  + ' if (isNull) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_button\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await msgButton.hover(); await w(250, 600); await msgButton.click();'\n  + ' var inputSelector = \"div[contenteditable=\\\\\"true\\\\\"][role=\\\\\"textbox\\\\\"]\";'\n  + ' var inputFound = true;'\n  + ' try { await page.waitForSelector(inputSelector, { timeout: 12000 }); } catch(e) { inputFound = false; }'\n  + ' if (!inputFound) {'\n  + '   await page.evaluate(function() { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:false,error:\"no_input\"}); document.head.appendChild(m); });'\n  + '   return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + ' }'\n  + ' await w(700, 1400); await page.focus(inputSelector);'\n  + ' var chars = mensaje.split(\"\");'\n  + ' for (var i = 0; i < chars.length; i++) { await page.keyboard.type(chars[i]); await w(35 + Math.random() * 90, 75 + Math.random() * 110); }'\n  + ' await w(400, 900); await page.keyboard.press(\"Enter\"); await w(1800, 3200);'\n  + ' await page.evaluate(function(msg) { var m = document.createElement(\"meta\"); m.name = \"xus-result\"; m.content = JSON.stringify({success:true, sent:true, preview:msg.substring(0,50)}); document.head.appendChild(m); }, mensaje);'\n  + ' return { data: await page.evaluate(function() { return document.querySelector(\"meta[name=\\\\\"xus-result\\\\\"]\").content; }) };'\n  + '};';\n\nreturn [{ json: { ...lead, _b3Body: { code, context: { url, mensaje, cookies } } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6592,
        528
      ],
      "id": "3d95d78a-84e8-478f-bb41-fee6fbe1bd4d",
      "name": "📦 Prep B3 Body"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3600,
        720
      ],
      "id": "4809d4f4-ff6a-4922-aae2-53f981fc5d56",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        288
      ],
      "id": "37ded826-9090-45a7-90c0-219a2bf641d1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "0uwsW3NaIjKUNLlh",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "⏰ Schedule 9:00 AM (Dispatch)1": [
      {
        "json": {
          "timestamp": "2026-02-27T09:00:00.005-05:00",
          "Readable date": "February 27th 2026, 9:00:00 am",
          "Readable time": "9:00:00 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "27",
          "Hour": "09",
          "Minute": "00",
          "Second": "00",
          "Timezone": "America/Bogota (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "⏰ Schedule 9:00 AM (Dispatch)1": {
      "main": [
        [
          {
            "node": "📌 Set Dispatch Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 Set Hunter Flag": {
      "main": [
        [
          {
            "node": "🧠 Detector Unificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 Set Dispatch Flag": {
      "main": [
        [
          {
            "node": "🧠 Detector Unificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Detector Unificado1": {
      "main": [
        [
          {
            "node": "🔀 Router Principal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router Principal1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Inicio Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Es Sistema?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Sistema?1": {
      "main": [
        [
          {
            "node": "¿Ayuda o Estado?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Forzar Nuevo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ayuda o Estado?1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Ayuda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Get Stats1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Get Stats1": {
      "main": [
        [
          {
            "node": "📈 Preparar Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Preparar Estado1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Preparar Query1": {
      "main": [
        [
          {
            "node": "🚀 Apify - Start Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Apify - Start Run1": {
      "main": [
        [
          {
            "node": "⏳ Wait 300s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Apify - Get Results1": {
      "main": [
        [
          {
            "node": "🔄 Procesar Resultados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Procesar Resultados1": {
      "main": [
        [
          {
            "node": "¿Hay Resultados?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Resultados?1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Sin Resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📚 Cargar Base de Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Preparar Hunter IA1": {
      "main": [
        [
          {
            "node": "🤖 AI Agent (Hunter)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Agent (Hunter)1": {
      "main": [
        [
          {
            "node": "🔗 Combinar Resultados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Combinar Resultados1": {
      "main": [
        [
          {
            "node": "¿Hay Leads Hunter?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Leads Hunter?1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Sin Leads Válidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Expandir Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Expandir Leads1": {
      "main": [
        [
          {
            "node": "📝 Insertar Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Insertar Leads1": {
      "main": [
        [
          {
            "node": "📊 Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Aggregate1": {
      "main": [
        [
          {
            "node": "📝 Preparar Confirmación1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Preparar Confirmación1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Confirmación Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Buscar Caché1": {
      "main": [
        [
          {
            "node": "✓ Validar Caché1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✓ Validar Caché1": {
      "main": [
        [
          {
            "node": "¿Existe Caché?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe Caché?1": {
      "main": [
        [
          {
            "node": "♻️ Usar Caché1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Get Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "♻️ Usar Caché1": {
      "main": [
        [
          {
            "node": "🔀 Merge Rutas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Leads1": {
      "main": [
        [
          {
            "node": "🔍 Filtrar No Contactados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filtrar No Contactados1": {
      "main": [
        [
          {
            "node": "¿Hay Leads Dispatch?1",
            "type": "main",
            "index": 0
          },
          {
            "node": "📦 Code | Notificar Inicio a XUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Leads Dispatch?1": {
      "main": [
        [
          {
            "node": "📦 Code | Output Sin Leads Dispatch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔁 Split Leads 1x",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Merge Rutas1": {
      "main": [
        [
          {
            "node": "¿Enviar Gmail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 Preparar TXT1": {
      "main": [
        [
          {
            "node": "📎 Enviar Archivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Forzar Nuevo?": {
      "main": [
        [
          {
            "node": "📋 Get Leads1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Buscar Caché1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar Gmail?": {
      "main": [
        [
          {
            "node": "📧 Gmail - Enviar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 Code | Output Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Gmail - Enviar": {
      "main": [
        [
          {
            "node": "📦 Code | Output Confirmar Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 300s1": {
      "main": [
        [
          {
            "node": "📥 Apify - Get Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📚 Cargar Base de Datos": {
      "main": [
        [
          {
            "node": "🛡️ Filtro Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Filtro Duplicados": {
      "main": [
        [
          {
            "node": "🧠 Preparar Hunter IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "🧠 Detector Unificado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Inicio Hunter": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Inicio Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Ayuda": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Ayuda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Estado": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Sin Leads Válidos": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Sin Leads Válidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Confirmación Hunter": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Confirmación Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Sin Leads Dispatch": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Sin Leads Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Enviar Mensaje": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Confirmar Gmail": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Confirmar Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Execute | Output Inicio Hunter": {
      "main": [
        [
          {
            "node": "🔧 Preparar Query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Execute | Output Enviar Mensaje": {
      "main": [
        [
          {
            "node": "📄 Preparar TXT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Execute | Output Confirmación Hunter": {
      "main": [
        [
          {
            "node": "📊 Log Hunter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Output Sin Resultados": {
      "main": [
        [
          {
            "node": "🚀 Execute | Output Sin Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Split Leads 1x": {
      "main": [
        [
          {
            "node": "✅ Output Final1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Preparar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Merge Datos Scrape1": {
      "main": [
        [
          {
            "node": "⏳ Wait 10-25s (Anti-detect)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 10-25s (Anti-detect)1": {
      "main": [
        [
          {
            "node": "📦 Prep Stories Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 15-35s1": {
      "main": [
        [
          {
            "node": "📦 Prep Like 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Pausa Pre-Dispatch (30-60s)1": {
      "main": [
        [
          {
            "node": "📦 Prep B1 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 6-7.5min (B1→B2)1": {
      "main": [
        [
          {
            "node": "📦 Prep B2 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Resultado1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Pausa entre Leads (8-11min)1": {
      "main": [
        [
          {
            "node": "🔁 Split Leads 1x",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Output Final1": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Preparar Leads": {
      "main": [
        [
          {
            "node": "✅ Validar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validar URL": {
      "main": [
        [
          {
            "node": "📦 Prep Scrape Body1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Scrape Perfil1": {
      "main": [
        [
          {
            "node": "📦 Parsear Perfil1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear Perfil1": {
      "main": [
        [
          {
            "node": "📦 Merge Datos Scrape1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👁️ Ver Stories": {
      "main": [
        [
          {
            "node": "📦 Parsear Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear Stories": {
      "main": [
        [
          {
            "node": "⏳ Wait 15-35s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear Like 1": {
      "main": [
        [
          {
            "node": "⏳ Wait entre Likes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait entre Likes": {
      "main": [
        [
          {
            "node": "📦 Prep Like 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❤️ Like 1 Post (First)": {
      "main": [
        [
          {
            "node": "📦 Parsear Like 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❤️ Like 2 Post (First)": {
      "main": [
        [
          {
            "node": "📦 Parsear Like 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear Like 2": {
      "main": [
        [
          {
            "node": "📦 Compilar Intel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Enviar B1": {
      "main": [
        [
          {
            "node": "📦 Parsear B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear B1": {
      "main": [
        [
          {
            "node": "⏳ Wait 6-7.5min (B1→B2)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Enviar B2": {
      "main": [
        [
          {
            "node": "📦 Parsear B2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear B3": {
      "main": [
        [
          {
            "node": "📝 Log Resultado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Code | Notificar Inicio a XUS": {
      "main": [
        [
          {
            "node": "🚀 Execute | Notificar a XUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "📖 Leer Fila Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Schedule 8:47 AM (Hunter)1": {
      "main": [
        [
          {
            "node": "📌 Set Hunter Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏳ Wait 2-4min (B2→B3)1": {
      "main": [
        [
          {
            "node": "📦 Prep B3 Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Leer Fila Hoy": {
      "main": [
        [
          {
            "node": "📊 Incrementar Contador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Incrementar Contador": {
      "main": [
        [
          {
            "node": "📝 Tracking Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Tracking Outreach": {
      "main": [
        [
          {
            "node": "⏳ Pausa entre Leads (8-11min)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parsear B2": {
      "main": [
        [
          {
            "node": "⏳ Wait 2-4min (B2→B3)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Enviar B3": {
      "main": [
        [
          {
            "node": "📦 Parsear B3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 NOVA: Generar Mensajes": {
      "main": [
        [
          {
            "node": "📦 Procesar Respuesta IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Procesar Respuesta IA1": {
      "main": [
        [
          {
            "node": "⏳ Pausa Pre-Dispatch (30-60s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Compilar Intel1": {
      "main": [
        [
          {
            "node": "🧠 NOVA: Generar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep Scrape Body1": {
      "main": [
        [
          {
            "node": "🔍 Scrape Perfil1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep Stories Body": {
      "main": [
        [
          {
            "node": "👁️ Ver Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep Like 1": {
      "main": [
        [
          {
            "node": "❤️ Like 1 Post (First)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep Like 2": {
      "main": [
        [
          {
            "node": "❤️ Like 2 Post (First)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep B1 Body": {
      "main": [
        [
          {
            "node": "💬 Enviar B1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep B2 Body": {
      "main": [
        [
          {
            "node": "💬 Enviar B2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep B3 Body": {
      "main": [
        [
          {
            "node": "💬 Enviar B3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 NOVA: Generar Mensajes",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 AI Agent (Hunter)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0855b671-db98-46da-b0bd-619d86d05fc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "mak3RMQ3VifwLMKtOQxI3",
  "tags": []
}