home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER BUSSINES/Xus Outreach Engine - V1.0.json
{
  "name": "Xus Outreach Engine - V1.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0c9b2ac1-811e-4338-bb01-c092b451e076",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2624,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send_outreach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0cc7baef-0b52-46b9-a5f3-ceccb0483965"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send_outreach"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "lead_stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26932309-f512-4d72-ae7c-6f4796cf8628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lead_stats"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "outreach_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82dc7546-5386-4400-b958-d84654b0273b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outreach_report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "preview_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1bafb57-9563-4237-b538-73ce225a8c91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "preview_email"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b7631af4-460e-420d-afc6-0859cdbc9a0d",
      "name": "🔀 Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1584,
        176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "06a494c9-5863-4e9f-b661-b1838966f4d0",
      "name": "📋 Read for Stats",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -240,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst total = leads.length;\nconst withEmail = leads.filter(l => l.email && l.email !== 'N/A').length;\nconst contacted = leads.filter(l => String(l.contactado).toUpperCase() === 'TRUE').length;\nconst replied = leads.filter(l => String(l.respondio).toUpperCase() === 'TRUE').length;\nconst byTier = {};\nleads.forEach(l => { const t = l.tier || 'Sin tier'; if (!byTier[t]) byTier[t] = { total: 0, contacted: 0, withEmail: 0 }; byTier[t].total++; if (String(l.contactado).toUpperCase() === 'TRUE') byTier[t].contacted++; if (l.email && l.email !== 'N/A') byTier[t].withEmail++; });\nconst byNiche = {};\nleads.forEach(l => { const n = l.niche || 'Sin nicho'; byNiche[n] = (byNiche[n] || 0) + 1; });\nconst tierLines = Object.entries(byTier).sort(([a],[b]) => a.localeCompare(b)).map(([t,d]) => `  • ${t}: ${d.total} total, ${d.withEmail} con email, ${d.contacted} contactados`).join('\\n');\nconst nicheLines = Object.entries(byNiche).sort(([,a],[,b]) => b - a).slice(0, 8).map(([n,c]) => `  • ${n}: ${c}`).join('\\n');\nconst pendientes = withEmail - contacted;\nconst text = `📊 *Estadísticas de Leads*\\n\\n📋 *General:*\\n• Total: ${total}\\n• Con email: ${withEmail}\\n• Contactados: ${contacted}\\n• Respondieron: ${replied}\\n• *Pendientes: ${pendientes}*\\n\\n📈 *Por Tier:*\\n${tierLines}\\n\\n🏥 *Por Nicho (top):*\\n${nicheLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `${total} leads, ${withEmail} con email, ${contacted} contactados, ${pendientes} pendientes` }}];"
      },
      "id": "cde58131-bc1d-4a6b-84ec-cacb89d42600",
      "name": "📊 Calc Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        144
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "036328e1-971e-4907-9ef0-eca858118834",
      "name": "📋 Read for Preview",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -240,
        1328
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst candidate = leads.find(l => { const email = l.email || ''; return email.includes('@') && email !== 'N/A' && String(l.contactado).toUpperCase() !== 'TRUE'; });\nif (!candidate) { return [{ json: { textResponse: '📋 *Preview*\\n\\nNo hay leads pendientes para mostrar.', toolResponse: 'Sin leads pendientes' }}]; }\nconst reviews = parseInt(candidate.reviews_count) || 0;\nconst rating = parseFloat(candidate.rating) || 0;\nconst hasWeb = candidate.website && candidate.website.length > 10 && candidate.website !== 'N/A';\nconst hasIg = candidate.instagram && candidate.instagram.length > 5 && candidate.instagram !== 'N/A';\nlet angle = 'general';\nif (reviews >= 50) angle = 'volume';\nelse if (hasIg) angle = 'social';\nelse if (hasWeb) angle = 'web';\nconst text = `📋 *Preview — Próximo Lead*\\n\\n🏥 *${candidate.business_name}*\\n📍 ${candidate.city} | ${candidate.niche}\\n📧 ${candidate.email}\\n⭐ ${rating}★ — ${reviews} reseñas\\n🏷️ ${candidate.tier} | Score: ${candidate.score}\\n🌐 Web: ${hasWeb ? '✅' : '❌'} | IG: ${hasIg ? '✅' : '❌'}\\n\\n🎯 *Ángulo:* ${angle}\\n📝 *Notas:* ${candidate.notas_investigacion || 'Sin notas'}\\n⭐ *Destacable:* ${candidate.datos_destacables || 'Nada'}\\n\\n_El email se generará con IA al momento de enviar._`;\nreturn [{ json: { textResponse: text, toolResponse: `Preview: ${candidate.business_name} (${candidate.tier}, ${reviews} reseñas, ángulo: ${angle})` }}];"
      },
      "id": "f0e213c3-b4e8-413d-85a1-4d6712d92ace",
      "name": "🔍 Preview Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1328
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "email_log",
          "mode": "list",
          "cachedResultName": "email_log"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "3e8cd84a-83c9-44da-ba24-e813cf91d6e4",
      "name": "📋 Read for Report1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -240,
        -144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let logs = [];\ntry { logs = $input.all().map(i => i.json); } catch(e) {}\nif (logs.length === 0) { return [{ json: { textResponse: '📊 *Reporte de Outreach*\\n\\nNo hay correos enviados aún.', toolResponse: 'Sin correos enviados' }}]; }\nconst total = logs.length;\nconst sent = logs.filter(l => l.delivery_status === 'sent').length;\nconst failed = logs.filter(l => l.delivery_status === 'failed').length;\nconst replied = logs.filter(l => String(l.reply_detected).toLowerCase() === 'true').length;\nconst initial = logs.filter(l => (l.variant || '').startsWith('initial')).length;\nconst followup = total - initial;\nconst recent = logs.slice(-10).reverse();\nconst recentLines = recent.map(l => { const status = l.delivery_status === 'sent' ? '✅' : '❌'; const reply = String(l.reply_detected).toLowerCase() === 'true' ? ' 💬' : ''; const date = l.email_sent_date ? l.email_sent_date.split('T')[0] : '?'; return `  ${status}${reply} ${l.subject || '?'} — ${date}`; }).join('\\n');\nconst successRate = total > 0 ? Math.round((sent / total) * 100) : 0;\nconst replyRate = sent > 0 ? Math.round((replied / sent) * 100) : 0;\nconst text = `📊 *Reporte de Outreach*\\n\\n📧 *Total:* ${total} correos\\n✅ Enviados: ${sent} (${successRate}%)\\n❌ Fallidos: ${failed}\\n💬 Respondieron: ${replied} (${replyRate}%)\\n📨 Iniciales: ${initial} | Follow-ups: ${followup}\\n\\n📋 *Últimos 10:*\\n${recentLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `${total} correos, ${sent} exitosos (${successRate}%), ${replied} respuestas (${replyRate}%)` }}];"
      },
      "id": "a2d9564a-4924-4ef7-8c50-0b4ba70cc740",
      "name": "📊 Gen Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -144
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "fc3f4dc0-dabe-4f54-b59e-a23f310d4876",
      "name": "⏰ Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2608,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ SMART INPUT v2 — Extrae cantidad con regex, no LLM ═══\nconst staticData = $getWorkflowStaticData('global');\nstaticData.sentThisRun = [];\nstaticData.batch = [];\n\nconst input = $input.first().json;\n\nconst query = (\n  input.query ||\n  input.message ||\n  input.text ||\n  (input.message && input.message.text) ||\n  ''\n).trim();\n\nconst chatId = (\n  input.chatId ||\n  input.chat_id ||\n  (input.message && input.message.chat && input.message.chat.id) ||\n  ''\n).toString();\n\n// ✅ FIX CANTIDAD: Extraer con regex — determinista, no depende del LLM\n// El Classifier a veces devuelve quantity:0 aunque el usuario dijo \"2\"\n// causando effectiveMax = 50 (default) → se mandaban 50 correos\nlet direct_quantity = 0;\nif (query) {\n  const numMatch = query.match(/\\b(\\d+)\\b/);\n  if (numMatch) {\n    const num = parseInt(numMatch[1]);\n    if (num >= 1 && num <= 10000) direct_quantity = num;\n  }\n}\n\nif (query) {\n  return [{ json: { query, chatId, direct_quantity, _source: 'manual' } }];\n} else {\n  return [{ json: { query: 'envía outreach automático diario', chatId: '', direct_quantity: 0, _source: 'schedule' } }];\n}"
      },
      "id": "a53a10d4-99a9-48a5-bf23-a139d3b539fa",
      "name": "📦 Schedule Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DE SANTIAGO:\n\"{{ $json.query || $json.message || $json.text || '' }}\"",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🧠 NEXUS OUTREACH CLASSIFIER v1.0\n═══════════════════════════════════════════════════════════\n\nEres el clasificador del sistema de outreach de Nexus.\nTu trabajo es entender qué quiere Santiago y extraer los parámetros.\n\nRESPONDE SOLO JSON PURO. Sin markdown. Primera { última }\n\n═══ ACCIONES ═══\n\nsend_outreach → Enviar correos de prospección a leads\nlead_stats → Ver estadísticas de los leads (cuántos hay, por tier, etc)\noutreach_report → Ver historial/reporte de correos enviados\npreview_email → Ver cómo se vería el próximo email sin enviarlo\n\n═══ CLASIFICACIÓN ═══\n\n\"envía correos\" / \"manda emails\" / \"contacta leads\" / \"outreach\" / \"prospectar\" → send_outreach\n\"cuántos leads\" / \"estadísticas\" / \"stats\" / \"resumen de leads\" → lead_stats\n\"reporte\" / \"cómo va\" / \"historial\" / \"qué se ha enviado\" → outreach_report\n\"preview\" / \"muéstrame un ejemplo\" / \"cómo se ve el email\" → preview_email\n\"automático diario\" / sin contexto claro → send_outreach\n\n═══ EXTRACCIÓN DE CANTIDAD ═══\n\n\"contacta a 5 leads\" → quantity: 5\n\"todos los que puedas\" → quantity: 50\nNO menciona cantidad → quantity: 0\n\n═══ OUTPUT ═══\n{\"action\":\"send_outreach\",\"quantity\":5,\"tier_filter\":\"\",\"niche_filter\":\"\",\"city_filter\":\"\",\"only_followups\":false,\"only_new\":false,\"intent_description\":\"enviar 5 correos de prospección\"}"
        }
      },
      "id": "3472eb65-c6f3-488e-b6ad-3de0d25cf29a",
      "name": "🧠 Outreach Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2160,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 🔗 BRIDGE v2 — Con direct_quantity override ═══\n\nconst aiRaw = $input.first().json;\nconst trigger = $('When Executed by Another Workflow');\nlet chatId = '';\ntry { chatId = trigger.first().json.chatId || trigger.first().json.chat_id || ''; } catch(e) {}\ntry { if (!chatId) chatId = $('📦 Schedule Input').first().json.chatId || ''; } catch(e) {}\n\n// ✅ FIX: Usar direct_quantity del regex como respaldo si el LLM falla\nlet direct_quantity = 0;\ntry { direct_quantity = parseInt($('📦 Schedule Input').first().json.direct_quantity) || 0; } catch(e) {}\n\nlet ai = {};\ntry {\n  let text = aiRaw.output || aiRaw.text || '';\n  if (typeof text === 'object' && text.action) { ai = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]);\n  }\n} catch(e) {\n  ai = { action: 'send_outreach', quantity: 0 };\n}\n\nconst llm_qty = parseInt(ai.quantity) || 0;\n// LLM tiene prioridad; si devolvió 0, usar regex\nconst qty = llm_qty > 0 ? llm_qty : direct_quantity;\nconst effectiveMax = qty > 0 ? Math.min(qty, 10000) : 100;\n\nreturn [{ json: {\n  action: ai.action || 'send_outreach',\n  quantity: qty,\n  effective_max: effectiveMax,\n  tier_filter: ai.tier_filter || '',\n  niche_filter: ai.niche_filter || '',\n  city_filter: ai.city_filter || '',\n  only_followups: ai.only_followups || false,\n  only_new: ai.only_new || false,\n  intent_description: ai.intent_description || '',\n  chatId: chatId,\n  _qty_source: llm_qty > 0 ? 'llm' : (direct_quantity > 0 ? 'regex_override' : 'default_100'),\n  config: {\n    sheet_id: '1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA',\n    sender_name: 'Santiago Rubio',\n    sender_title: 'CEO · Nexus',\n    sender_phone: '+57 312 434 8669',\n    photo_url: 'https://i.ibb.co/d42PT8j1/Dise-o-sin-t-tulo-6.jpg',\n    whatsapp_link: 'https://wa.me/573124348669',\n    max_emails_per_run: effectiveMax,\n    max_followups: 3,\n    followup_delay_days: 3,\n    min_tier: 3\n  }\n}}];"
      },
      "id": "3719ec87-cd8e-4b06-ae15-90d87d3a5111",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('🔧 Filter Eligible').first().json;\nconst s = data._stats || {};\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nconst qtyNote = qty > 0 ? `\\n📌 Pediste ${qty} pero no hay elegibles.` : '';\nconst filterNote = filters.length > 0 ? `\\n🔍 Filtros: ${filters.join(', ')}` : '';\nconst text = `⚠️ *No hay leads elegibles*${qtyNote}${filterNote}\\n\\n📊 *Stats:*\\n• Total en hoja: ${s.total || 0}\\n• Sin email: ${s.noEmail || 0}\\n• Email inválido: ${s.invalid || 0}\\n• Tier filtrado: ${s.tierSkip || 0}\\n` + (s.nicheSkip ? `• Nicho filtrado: ${s.nicheSkip}\\n` : '') + (s.citySkip ? `• Ciudad filtrada: ${s.citySkip}\\n` : '') + `• Ya completados: ${s.done || 0}`;\nreturn [{ json: { textResponse: text, toolResponse: 'No hay leads elegibles' } }];"
      },
      "id": "db8ae775-9d82-434e-ac9a-ec874cd8cfb0",
      "name": "⚠️ No Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1136
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "options": {}
      },
      "id": "90935238-7367-4815-978f-e169b4ddc8fa",
      "name": "📋 Read Leads Master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1136,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has",
              "leftValue": "={{ $json._has_leads }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1b51d2f-0941-4506-87e6-90064c875398",
      "name": "❓ Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -464,
        656
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "outreach_control",
          "mode": "list"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "id": "a4b4bec4-63ff-4dc9-bb92-9187d22235fd",
      "name": "📋 Read Outreach Control",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        672
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nconst filterLine = filters.length > 0 ? '\\n🔍 Filtros: ' + filters.join(', ') : '';\nconst text = `📧 *Outreach iniciado*\\n\\n🔄 Procesando ${count} correos en segundo plano.${filterLine}\\n⏱️ Te aviso cuando termine.`;\nreturn [{ json: { textResponse: text, toolResponse: `Outreach: ${count} correos en proceso` }}];"
      },
      "id": "44c92588-02ef-412c-bb51-ebe9ac81360c",
      "name": "⚡ Respuesta Rápida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "let data = {};\ntry { data = $input.first().json; } catch(e) {}\nconst textResponse = data.textResponse || '📧 Outreach en proceso — te notifico cuando termine.';\nconst toolResponse = data.toolResponse || 'Outreach iniciado en segundo plano';\nreturn [{ json: { textResponse, toolResponse } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        464
      ],
      "id": "240c05d0-4ad1-4175-9758-26e2ae503526",
      "name": "📤 OUTPUT"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        48,
        464
      ],
      "id": "632e7d67-97c2-4bd5-84a7-e6edabfeafc0",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "1caac37c-d0c4-4821-a933-9a31e8b13d3b",
      "name": "🔄 Email Send Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        672
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "dfd4e6a1-69c7-4e6e-a56a-e5ad6ae120a9",
      "name": "📧 Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1712,
        800
      ],
      "webhookId": "98877980-d276-4bd2-b9e9-d2468c3da5ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 20) + 25 }}"
      },
      "id": "247e8184-dab4-40e0-882e-9e0d9348813a",
      "name": "⏱️ Throttle",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1936,
        800
      ],
      "webhookId": "outreach-throttle-001"
    },
    {
      "parameters": {
        "jsCode": "const emailData = $('🎨 HTML Builder').first().json;\nconst sendResult = $('📧 Send Email').first().json;\nconst ok = !sendResult.error && (sendResult.id || sendResult.messageId);\n\nreturn [{ json: {\n  ...emailData,\n  delivery_status: ok ? 'sent' : 'failed',\n  delivery_error: sendResult.error || null,\n  gmail_id: sendResult.id || sendResult.messageId || null\n}}];"
      },
      "id": "54e52312-d019-4bb7-9953-6c7e9328892f",
      "name": "✅ Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        800
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.batch) staticData.batch = [];\nconst r = $input.first().json;\nstaticData.batch.push({ id: r.lead_id, biz: r.business_name, tier: r.tier, action: r.action_type, status: r.delivery_status });\nreturn $input.all();"
      },
      "id": "1aec40d8-0ef3-4f08-8ece-b0fe0fb66810",
      "name": "📈 Accumulate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst batch = staticData.batch || [];\n// LIMPIAR TODO al finalizar\nstaticData.batch = [];\nstaticData.sentThisRun = [];\nstaticData.emailsSentThisRun = [];\n\nconst bridge = $('🔗 Bridge').first().json;\nconst qty = bridge.quantity || 0;\nconst filters = [];\nif (bridge.niche_filter) filters.push('nicho: ' + bridge.niche_filter);\nif (bridge.city_filter) filters.push('ciudad: ' + bridge.city_filter);\nif (bridge.tier_filter) filters.push('tier: ' + bridge.tier_filter);\nif (bridge.only_followups) filters.push('solo followups');\nif (bridge.only_new) filters.push('solo nuevos');\nconst sent = batch.filter(e => e.status === 'sent').length;\nconst failed = batch.filter(e => e.status === 'failed').length;\nconst skipped = batch.filter(e => e.status === 'skipped').length;\nconst initial = batch.filter(e => e.action === 'initial_contact').length;\nconst followup = batch.length - initial - skipped;\nconst byTier = {};\nbatch.filter(e => e.status !== 'skipped').forEach(e => { byTier[e.tier || '?'] = (byTier[e.tier || '?'] || 0) + 1; });\nconst tierLines = Object.entries(byTier).map(([t,c]) => `  • ${t}: ${c}`).join('\\n');\nconst qtyLine = qty > 0 ? `\\n📌 *Solicitados:* ${qty}` : '';\nconst filterLine = filters.length > 0 ? `\\n🔍 *Filtros:* ${filters.join(', ')}` : '';\nconst skipLine = skipped > 0 ? `\\n⏭️ Saltados (duplicados): ${skipped}` : '';\nconst text = `📧 *Outreach Completado*${qtyLine}${filterLine}\\n\\n✅ Enviados: ${sent}\\n❌ Fallidos: ${failed}${skipLine}\\n\\n📊 *Por tipo:*\\n  • Inicial: ${initial}\\n  • Follow-up: ${followup}\\n\\n📋 *Por Tier:*\\n${tierLines}`;\nreturn [{ json: { textResponse: text, toolResponse: `Outreach: ${sent}/${qty > 0 ? qty : 'auto'} enviados` + (filters.length > 0 ? ' (' + filters.join(', ') + ')' : '') }}];"
      },
      "id": "d85a554f-0ee5-4990-ad69-cd02c6bc41cc",
      "name": "📊 Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        592
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "1f8f348b-a657-4522-b026-72c769f89351",
      "name": "📢 Callback → XUS Begin",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        496,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// 🛡️ DEDUP CHECK MEJORADO - Verifica por LEAD_ID y por EMAIL\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst staticData = $getWorkflowStaticData('global');\n\n// Inicializar arrays si no existen\nif (!staticData.sentThisRun) staticData.sentThisRun = [];\nif (!staticData.emailsSentThisRun) staticData.emailsSentThisRun = [];\n\nconst lead = $input.first().json;\nconst leadId = (lead.lead_id || '').toString().trim();\nconst email = (lead.email || '').toLowerCase().trim();\n\n// Sin lead_id, dejarlo pasar con warning\nif (!leadId) {\n  lead._dedup_warning = 'no_lead_id';\n  lead._skip = false;\n  return [{ json: lead }];\n}\n\n// ═══ CHECK 1: Duplicado por lead_id ═══\nif (staticData.sentThisRun.includes(leadId)) {\n  return [{ json: { \n    _skip: true, \n    lead_id: leadId,\n    email: email,\n    _motivo: 'duplicado_lead_id_ya_enviado' \n  }}];\n}\n\n// ═══ CHECK 2: Duplicado por email ═══\nif (email && staticData.emailsSentThisRun.includes(email)) {\n  return [{ json: { \n    _skip: true, \n    lead_id: leadId,\n    email: email,\n    _motivo: 'duplicado_email_ya_enviado' \n  }}];\n}\n\n// ═══ PASAR: Registrar y continuar ═══\nstaticData.sentThisRun.push(leadId);\nif (email) staticData.emailsSentThisRun.push(email);\n\nlead._skip = false;\nreturn [{ json: lead }];"
      },
      "id": "7058621c-92b6-4ebc-b4a6-2139d3844068",
      "name": "🛡️ Dedup Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        752
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "19f8c269-6736-47b7-9834-1331070aeaba",
      "name": "❓ Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        752
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $('❓ Skip?').first().json;\nconst reviews = parseInt(lead.reviews_count) || 0;\nconst rating = parseFloat(lead.rating) || 0;\nlet canMentionReviews = false, volumeLevel = 'none';\nif (reviews >= 200) { canMentionReviews = true; volumeLevel = 'very_high'; } else if (reviews >= 50) { canMentionReviews = true; volumeLevel = 'high'; } else if (reviews >= 15) { volumeLevel = 'medium'; } else if (reviews >= 1) { volumeLevel = 'low'; }\nlet ratingInsight = '', canMentionRating = false;\nif (rating >= 4.8) { ratingInsight = 'Calificación excelente'; canMentionRating = true; } else if (rating >= 4.5) { ratingInsight = 'Muy buena calificación'; canMentionRating = true; } else if (rating >= 4.0) { ratingInsight = 'Buena calificación'; } else { ratingInsight = 'Calificación normal'; }\nconst rawWeb = (lead.website || '').trim();\nconst rawIg = (lead.instagram || '').trim();\nconst hasWeb = rawWeb.length > 10 && rawWeb.toLowerCase() !== 'n/a';\nconst hasIg = rawIg.length > 5 && rawIg.toLowerCase() !== 'n/a';\nconst notes = (lead.notas_investigacion || '').trim();\nconst highlights = (lead.datos_destacables || '').trim();\nconst nicheMap = { 'Medicina Estética': { dolor: 'preguntas sobre precios de botox, hialurónico y disponibilidad', tipo: 'procedimientos' }, 'Odontología': { dolor: 'consultas sobre diseño de sonrisa, ortodoncia y precios', tipo: 'tratamientos dentales' }, 'Dermatología': { dolor: 'consultas repetitivas sobre tratamientos y costos', tipo: 'tratamientos de piel' }, 'Cirugía Plástica': { dolor: 'pacientes que piden mucha info antes de decidirse', tipo: 'cirugías' }, 'Oftalmología': { dolor: 'consultas sobre cirugía láser y disponibilidad', tipo: 'consultas' } };\nconst nicheInfo = nicheMap[lead.niche] || { dolor: 'consultas de pacientes por WhatsApp', tipo: 'servicios' };\nconst rawCity = (lead.city || '').trim();\nconst invalidCities = ['colombia','co','col','n/a','na','','null','undefined','otro','otros','nacional'];\nconst isValidCity = rawCity.length > 2 && !invalidCities.includes(rawCity.toLowerCase());\nconst city = isValidCity ? rawCity : '';\nlet bestAngle = 'general';\nif (volumeLevel === 'very_high' || volumeLevel === 'high') bestAngle = 'volume';\nelse if (canMentionRating && rating >= 4.8) bestAngle = 'reputation';\nelse if (hasIg && volumeLevel !== 'none') bestAngle = 'social';\nelse if (hasWeb) bestAngle = 'web';\nelse if (volumeLevel === 'medium') bestAngle = 'growth';\nconst variant = Math.random() > 0.5 ? 'A' : 'B';\nconst bizName = (lead.business_name || '').trim();\nlet greeting = 'Hola, buenas tardes.', hasPersonName = false, extractedName = '';\nconst titlePatterns = [/^(Dra?\\.?\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)/i,/^(Dr\\.?\\s+(?:[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+)?([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+))/i];\nconst namePatterns = [/^([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+(?:Medicina|Dermatolog|Odontolog|Clínica|Cirugía|Estética|Dental|Centro|Consult)/i,/^([A-ZÁÉÍÓÚÑ][a-záéíóúñ]+\\s+[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)\\s+(?:Medicina|Dermatolog|Odontolog|Estética|Dental)/i];\nconst brandWords = ['clínica','clinica','centro','institute','instituto','dental','smile','sonrisa','odonto','dermo','skin','beauty','estudio','spa','laser','láser','corp','group','salud','medical','med ','the ','los ','las ','diseños','sonríe','sonrie','oral','face','body','alto','new','nova','premium','elite','top'];\nconst bizLower = bizName.toLowerCase();\nconst startsWithBrand = brandWords.some(w => bizLower.startsWith(w));\nif (!startsWithBrand) { for (const pattern of titlePatterns) { const match = bizName.match(pattern); if (match) { let name = match[1].trim(); name = name.replace(/^Dr\\s/i,'Dr. ').replace(/^Dra\\s/i,'Dra. '); const parts = name.split(/\\s+/); if (parts.length >= 3 && parts[0].match(/^Dra?\\.?$/i)) { extractedName = parts[0].replace(/^Dr$/i,'Dr.').replace(/^Dra$/i,'Dra.') + ' ' + parts[parts.length-1]; } else { extractedName = name; } hasPersonName = true; break; } } if (!hasPersonName) { for (const pattern of namePatterns) { const match = bizName.match(pattern); if (match) { extractedName = match[1].trim().split(/\\s+/)[0]; hasPersonName = true; break; } } } }\nif (hasPersonName && extractedName) { greeting = 'Hola ' + extractedName + ', buenas tardes.'; }\nreturn [{ json: { ...lead, _research: { business_name: bizName, city, has_valid_city: isValidCity, niche: lead.niche || 'salud', niche_dolor: nicheInfo.dolor, niche_tipo: nicheInfo.tipo, review_count: reviews, rating, can_mention_reviews: canMentionReviews, can_mention_rating: canMentionRating, rating_insight: ratingInsight, volume_level: volumeLevel, has_website: hasWeb, has_instagram: hasIg, notes, highlights, best_angle: bestAngle, tier: lead.tier || '', is_followup: lead._action === 'followup', followup_number: lead._followup_number || 0, greeting, has_person_name: hasPersonName, extracted_name: extractedName, ab_variant: variant } }}];"
      },
      "id": "b2de3768-3a56-49e1-b721-f2badd55de51",
      "name": "🔍 Research Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Negocio: {{ $json._research.business_name }}\nCiudad: {{ $json._research.city || 'NO MENCIONAR CIUDAD' }}\nCiudad válida: {{ $json._research.has_valid_city }}\nNicho: {{ $json._research.niche }}\nTipo servicios: {{ $json._research.niche_tipo }}\nReseñas: {{ $json._research.review_count }}\nRating: {{ $json._research.rating }}★\n¿Mencionar reseñas?: {{ $json._research.can_mention_reviews }}\n¿Mencionar rating?: {{ $json._research.can_mention_rating }}\nRating insight: {{ $json._research.rating_insight }}\nVolumen: {{ $json._research.volume_level }}\nWebsite: {{ $json._research.has_website }}\nInstagram: {{ $json._research.has_instagram }}\nNotas: {{ $json._research.notes || 'ninguna' }}\nDestacable: {{ $json._research.highlights || 'nada' }}\nÁngulo: {{ $json._research.best_angle }}\nVariante A/B: {{ $json._research.ab_variant }}\nEs followup: {{ $json._research.is_followup }}\n\nGenera el JSON con ambas variantes.",
        "options": {
          "systemMessage": "Eres Santiago Rubio, CEO de Nexus, Medellín. Escribes correos de prospección a clínicas.\n\nTU SERVICIO: Sistema que agenda citas automáticamente por WhatsApp.\n\nTU VOZ: Colombiano, directo, respetuoso. Usas \"usted\". Frases CORTAS (máx 18 palabras).\nPROHIBIDO: \"he notado\", \"he observado\", \"me permito\", \"quisiera felicitarlos\", \"revolucionar\", \"potenciar\".\n\nOUTPUT JSON:\n{\"hook_A\":\"\",\"hook_B\":\"\",\"pain_A\":\"\",\"pain_B\":\"\",\"subject_A\":\"\",\"subject_B\":\"\",\"is_followup\":false}\n\nJSON puro. Sin markdown."
        }
      },
      "id": "e5d04a7c-d9f6-4243-b3ec-a4dbf8e6d81a",
      "name": "✍️ Email Personalizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $input.first().json;\nconst research = $('🔍 Research Lead').first().json._research;\nconst leadData = $('🔍 Research Lead').first().json;\nconst config = leadData._config || {};\nlet ai = {};\ntry { let text = aiRaw.output || aiRaw.text || ''; if (typeof text === 'object' && text.hook_A !== undefined) { ai = text; } else { if (typeof text !== 'string') text = JSON.stringify(text); text = text.replace(/```json\\s*/gi,'').replace(/```\\s*/gi,'').trim(); const m = text.match(/\\{[\\s\\S]*\\}/); if (m) ai = JSON.parse(m[0]); } } catch(e) { const cityPart = research.has_valid_city ? ' en ' + research.city : ''; ai = { hook_A: 'Trabajamos con clínicas de ' + research.niche + cityPart + ' automatizando el agendamiento por WhatsApp.', hook_B: '¿En ' + research.business_name + ' todavía agendan citas manualmente por WhatsApp?', pain_A: 'Cada mensaje que se demora en contestar es una cita que se pierde.', pain_B: 'Lo que escucho de clínicas similares es que el equipo no da abasto para responder rápido.', subject_A: 'Pregunta rápida', subject_B: '¿Agendan por WhatsApp?', is_followup: false }; }\nconst isFollowup = research.is_followup;\nconst fuNum = research.followup_number;\nconst biz = research.business_name;\nconst greeting = research.greeting || 'Hola, buenas tardes.';\nconst variant = research.ab_variant || 'A';\nlet body = '', subject = '', usedVariant = variant;\nif (!isFollowup) { const hook = variant === 'A' ? (ai.hook_A || '') : (ai.hook_B || ''); const pain = variant === 'A' ? (ai.pain_A || '') : (ai.pain_B || ''); subject = variant === 'A' ? (ai.subject_A || 'Pregunta rápida') : (ai.subject_B || '¿Agendan por WhatsApp?'); body = greeting + '\\n\\n' + hook + '\\n\\n' + pain + '\\n\\n' + 'Nosotros lo resolvemos con un sistema que agenda citas solo por WhatsApp — el paciente escribe, el sistema responde y agenda. Sin que nadie de su equipo tenga que intervenir.' + '\\n\\n' + '¿Tiene 10 minutos esta semana para que le cuente cómo funciona?'; } else if (fuNum === 1) { subject = 'Siguiendo con mi mensaje'; usedVariant = 'FU1'; body = greeting + '\\n\\n' + 'Le escribí hace unos días sobre un sistema que agenda citas por WhatsApp automáticamente.' + '\\n\\n' + 'Entiendo que está ocupado/a. Solo quería saber si le interesa una llamada corta de 10 minutos.' + '\\n\\n' + 'Si no es el momento, sin problema.'; } else if (fuNum === 2) { subject = 'Último intento'; usedVariant = 'FU2'; body = greeting + '\\n\\n' + 'Sé que su tiempo es valioso, así que seré breve.' + '\\n\\n' + '¿' + biz + ' todavía maneja las citas manualmente por WhatsApp? Si la respuesta es sí, le puedo mostrar cómo automatizarlo en 10 minutos.' + '\\n\\n' + 'Un simple \"sí\" o \"no\" me funciona.'; } else { subject = 'Me despido'; usedVariant = 'FU3'; body = greeting + '\\n\\n' + 'Este es mi último mensaje sobre este tema.' + '\\n\\n' + 'Si en algún momento ' + biz + ' necesita automatizar su agendamiento por WhatsApp, aquí estoy.' + '\\n\\n' + 'Le deseo mucho éxito.'; }\nconst delay = config.followup_delay_days || 3;\nconst nextDate = new Date(); nextDate.setDate(nextDate.getDate() + delay);\nreturn [{ json: { lead_id: leadData.lead_id, business_name: biz, email: leadData.email, send_to: leadData.email, tier: research.tier, city: research.city, niche: research.niche, email_subject: subject, email_body: body, email_variant: isFollowup ? 'followup_' + fuNum : 'initial_' + usedVariant, assigned_angle: research.best_angle, action_type: leadData._action, followup_number: fuNum, new_followup_count: isFollowup ? fuNum : 1, next_followup_date: nextDate.toISOString().split('T')[0], sent_timestamp: new Date().toISOString(), _config: config, _row_number: leadData._row_number }}];"
      },
      "id": "62c84b18-5c2c-4def-b0dc-104a38794f21",
      "name": "📝 Email Assembler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst cfg = data._config || {};\nconst bodyHtml = data.email_body.split('\\n\\n').filter(p => p.trim()).map(p => '<p style=\"margin:0 0 16px 0;\">' + p.replace(/\\n/g, '<br>') + '</p>').join('');\nconst photo = 'https://i.ibb.co/fYQfP3S0/Dise-o-sin-t-tulo-6.png';\nconst wa = cfg.whatsapp_link || 'https://wa.me/573124348669';\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background-color:#f6f6f6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"height:40px;\"></td></tr></table><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td align=\"center\" style=\"padding:0 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:520px;background-color:#ffffff;border-radius:12px;\"><tr><td style=\"padding:44px 40px 20px 40px;\"><table width=\"100%\"><tr><td style=\"font-size:15px;line-height:1.75;color:#2d2d2d;\">${bodyHtml}</td></tr></table></td></tr><tr><td style=\"padding:24px 40px 36px 40px;\"><table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr><td style=\"vertical-align:top;padding-right:16px;\"><img src=\"${photo}\" alt=\"Santiago\" width=\"50\" height=\"50\" style=\"border-radius:50%;\"></td><td><p style=\"margin:0;font-size:14px;font-weight:600;\">Santiago Rubio</p><p style=\"margin:2px 0 0;font-size:12px;color:#999;\">CEO · Nexus</p><p style=\"margin:8px 0 0;\"><a href=\"${wa}\" style=\"color:#1a1a1a;\">WhatsApp</a></p></td></tr></table></td></tr></table></td></tr></table></body></html>`;\nreturn [{ json: { ...data, email_html: html } }];"
      },
      "id": "1f38b96c-aede-46a8-bf41-6efccd07f358",
      "name": "🎨 HTML Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "no-contactado-all-formats",
              "leftValue": "={{ ['TRUE','true','True','1',true,1,'yes','YES'].includes($json.contactado) }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c12bc27f-77ef-4a46-a0a8-75ec16d825b7",
      "name": "🔽 No Contactados",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -928,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const bridge = $('🔗 Bridge').first().json;\nconst config = bridge.config;\nconst tierFilter = bridge.tier_filter ? parseInt(bridge.tier_filter) : 0;\nconst nicheFilter = (bridge.niche_filter || '').toLowerCase();\nconst cityFilter = (bridge.city_filter || '').toLowerCase();\nconst onlyFollowups = bridge.only_followups || false;\nconst onlyNew = bridge.only_new || false;\n\nfunction isValidEmail(email) {\n  if (!email || typeof email !== 'string') return false;\n  const t = email.trim().toLowerCase();\n  if (!t.includes('@') || t === 'n/a') return false;\n  if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/.test(t)) return false;\n  const badDom = ['example.com','test.com','localhost','sentry.io','wixpress.com'];\n  if (badDom.includes(t.split('@')[1])) return false;\n  return true;\n}\n\nfunction parseTier(raw) {\n  const t = (raw || '').toString().toUpperCase().trim();\n  if (t.includes('1') || t === 'A') return 1;\n  if (t.includes('2') || t === 'B') return 2;\n  if (t.includes('3') || t === 'C') return 3;\n  return 4;\n}\n\nfunction isContactado(val) {\n  return ['TRUE','true','True','1','yes','YES'].includes(String(val || '')) || val === true || val === 1;\n}\n\nlet noContactados = [];\ntry { noContactados = $('🔽 No Contactados').all(); } catch(e) {}\n\nlet allLeadsRaw = [];\ntry { allLeadsRaw = $('📋 Read Leads Master').all(); } catch(e) {}\n\nconst allLeadsMap = new Map();\nfor (const item of allLeadsRaw) {\n  const id = (item.json.lead_id || '').toString().trim();\n  if (id) allLeadsMap.set(id, item.json);\n}\n\nlet outreachData = [];\ntry { outreachData = $('📋 Read Outreach Control').all(); } catch(e) {}\n\nconst outreachMap = new Map();\nfor (const row of outreachData) {\n  const id = (row.json.lead_id || '').toString().trim();\n  if (id) {\n    outreachMap.set(id, {\n      contacted: isContactado(row.json.contacted),\n      last_contact_date: row.json.last_contact_date || null,\n      followup_count: parseInt(row.json.followup_count) || 0,\n      response_status: row.json.response_status || 'none',\n      next_followup_date: row.json.next_followup_date || null,\n      assigned_angle: row.json.assigned_angle || null,\n      // ★ DATOS PARA FOLLOWUPS (ya no depende de leads_master)\n      email: row.json.email || null,\n      business_name: row.json.business_name || null,\n      tier: row.json.tier || null,\n      niche: row.json.niche || null,\n      city: row.json.city || null\n    });\n  }\n}\n\nconst MAX_FU = config.max_followups || 3;\nconst FU_DELAY = config.followup_delay_days || 3;\nconst MAX_EMAILS = config.max_emails_per_run || 100;\nconst MIN_TIER = config.min_tier || 3;\nconst today = new Date(); today.setHours(0,0,0,0);\nconst eligible = [];\nconst seenEmails = new Set();\nconst stats = { noEmail: 0, invalid: 0, tierSkip: 0, done: 0, nicheSkip: 0, citySkip: 0, emailDuplicates: 0, total: allLeadsRaw.length, requested: bridge.quantity, effective_max: MAX_EMAILS };\n\n// ── BLOQUE 1: INITIAL CONTACTS ──────────────────────\nif (!onlyFollowups) {\n  for (const item of noContactados) {\n    const lead = item.json;\n    if (isContactado(lead.contactado)) continue;\n\n    let email = lead.email || lead.Email || lead.correo || null;\n    if (!email || email === 'N/A' || email === 'n/a') { stats.noEmail++; continue; }\n    if (!isValidEmail(email)) { stats.invalid++; continue; }\n    email = email.trim().toLowerCase();\n\n    if (seenEmails.has(email)) { stats.emailDuplicates++; continue; }\n    seenEmails.add(email);\n\n    const tierVal = parseTier(lead.tier);\n    if (tierFilter > 0) { if (tierVal !== tierFilter) { stats.tierSkip++; continue; } }\n    else { if (tierVal > MIN_TIER) { stats.tierSkip++; continue; } }\n    if (nicheFilter && !(lead.niche || '').toLowerCase().includes(nicheFilter)) { stats.nicheSkip++; continue; }\n    if (cityFilter && !(lead.city || '').toLowerCase().includes(cityFilter)) { stats.citySkip++; continue; }\n\n    const leadId = (lead.lead_id || '').toString().trim();\n    const oc = leadId ? outreachMap.get(leadId) : null;\n    if (oc) continue;\n\n    eligible.push({ json: { ...lead, email, _action: 'initial_contact', _followup_number: 0, _existing_angle: null, _tier_value: tierVal, _config: config, _has_leads: true }});\n  }\n}\n\n// ── BLOQUE 2: FOLLOWUPS ─────────────────────────────\nif (!onlyNew) {\n  for (const [leadId, oc] of outreachMap) {\n    if (['replied','converted','unsubscribed'].includes(oc.response_status)) { stats.done++; continue; }\n    if (oc.followup_count >= MAX_FU) { stats.done++; continue; }\n\n    let action = null, fuNum = 0;\n    if (oc.next_followup_date && new Date(oc.next_followup_date) <= today) {\n      action = 'followup'; fuNum = oc.followup_count + 1;\n    } else if (oc.contacted && oc.last_contact_date) {\n      const days = Math.floor((today - new Date(oc.last_contact_date)) / 86400000);\n      if (days >= FU_DELAY) { action = 'followup'; fuNum = oc.followup_count + 1; }\n      else continue;\n    } else continue;\n\n    // ★ BUSCA EN leads_master PRIMERO, SI NO EXISTE USA outreach_control\n    let lead = allLeadsMap.get(leadId);\n    if (!lead && oc.email) {\n      lead = {\n        lead_id: leadId,\n        email: oc.email,\n        business_name: oc.business_name || '',\n        tier: oc.tier || '',\n        niche: oc.niche || '',\n        city: oc.city || '',\n        rating: '', reviews_count: '0', score: '',\n        website: '', instagram: '',\n        notas_investigacion: '', datos_destacables: ''\n      };\n    }\n    if (!lead) continue;\n\n    let email = lead.email || lead.Email || lead.correo || null;\n    if (!email || email === 'N/A' || email === 'n/a') { stats.noEmail++; continue; }\n    if (!isValidEmail(email)) { stats.invalid++; continue; }\n    email = email.trim().toLowerCase();\n\n    if (seenEmails.has(email)) { stats.emailDuplicates++; continue; }\n    seenEmails.add(email);\n\n    const tierVal = parseTier(lead.tier);\n    if (tierFilter > 0) { if (tierVal !== tierFilter) { stats.tierSkip++; continue; } }\n    else { if (tierVal > MIN_TIER) { stats.tierSkip++; continue; } }\n    if (nicheFilter && !(lead.niche || '').toLowerCase().includes(nicheFilter)) { stats.nicheSkip++; continue; }\n    if (cityFilter && !(lead.city || '').toLowerCase().includes(cityFilter)) { stats.citySkip++; continue; }\n\n    eligible.push({ json: { ...lead, email, _action: action, _followup_number: fuNum, _existing_angle: oc.assigned_angle, _tier_value: tierVal, _config: config, _has_leads: true }});\n  }\n}\n\neligible.sort((a,b) => {\n  if (a.json._tier_value !== b.json._tier_value) return a.json._tier_value - b.json._tier_value;\n  return (parseFloat(b.json.score)||0) - (parseFloat(a.json.score)||0);\n});\n\nconst batch = eligible.slice(0, MAX_EMAILS);\nif (batch.length === 0) { return [{ json: { _has_leads: false, _stats: stats, _config: config } }]; }\nbatch[0].json._batch_stats = { total_eligible: eligible.length, processing: batch.length, email_duplicates_filtered: stats.emailDuplicates, ...stats };\nreturn batch;"
      },
      "id": "34ccd175-4e75-41f9-bbdf-de8833acf218",
      "name": "🔧 Filter Eligible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        656
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "bfb3fe93-7575-4fcc-9872-313ce384f288",
      "name": "🔗 Merge Reads",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -880,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log duplicado saltado para el reporte\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.batch) staticData.batch = [];\n\nconst r = $input.first().json;\nstaticData.batch.push({ \n  id: r.lead_id, \n  biz: 'DUPLICADO', \n  tier: '-', \n  action: 'skip', \n  status: 'skipped',\n  motivo: r._motivo || 'duplicado'\n});\n\nreturn $input.all();"
      },
      "id": "fa351de4-c553-46f3-bf54-0418af16623c",
      "name": "📝 Log Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        656
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 1622353451,
          "mode": "list",
          "cachedResultName": "email_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=1622353451"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "email_sent_date": "={{ $json.sent_timestamp }}",
            "subject": "={{ $json.email_subject }}",
            "variant": "={{ $json.email_variant }}",
            "delivery_status": "={{ $json.delivery_status }}",
            "reply_detected": "=false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_sent_date",
              "displayName": "email_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "variant",
              "displayName": "variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reply_detected",
              "displayName": "reply_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          },
          "useAppend": true
        }
      },
      "id": "1c3a10c5-da73-4b07-8116-458769912d9a",
      "name": "📊 Log email_log1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para leads_procesados usando ✅ Check Result (datos completos)\nconst cr = $('✅ Check Result').first().json;\nconst now = new Date().toISOString();\n\nreturn [{ json: {\n  lead_id: cr.lead_id || '',\n  business_name: cr.business_name || '',\n  email: cr.email || '',\n  tier: cr.tier || '',\n  city: cr.city || '',\n  niche: cr.niche || '',\n  action_type: cr.action_type || '',\n  email_subject: cr.email_subject || '',\n  email_variant: cr.email_variant || '',\n  delivery_status: cr.delivery_status || '',\n  gmail_id: cr.gmail_id || '',\n  contacted_at: cr.sent_timestamp || '',\n  moved_at: now,\n  followup_number: cr.followup_number || 0,\n  assigned_angle: cr.assigned_angle || '',\n  next_followup_date: cr.next_followup_date || ''\n}}];"
      },
      "id": "95f86fed-c6a8-41b8-94f7-f752134dbf7f",
      "name": "📦 Prep leads_procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        992
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "leads_procesados",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json.lead_id }}",
            "business_name": "={{ $json.business_name }}",
            "email": "={{ $json.email }}",
            "tier": "={{ $json.tier }}",
            "city": "={{ $json.city }}",
            "niche": "={{ $json.niche }}",
            "action_type": "={{ $json.action_type }}",
            "email_subject": "={{ $json.email_subject }}",
            "email_variant": "={{ $json.email_variant }}",
            "delivery_status": "={{ $json.delivery_status }}",
            "gmail_id": "={{ $json.gmail_id }}",
            "contacted_at": "={{ $json.contacted_at }}",
            "moved_at": "={{ $json.moved_at }}",
            "followup_number": "={{ $json.followup_number }}",
            "assigned_angle": "={{ $json.assigned_angle }}",
            "next_followup_date": "={{ $json.next_followup_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action_type",
              "displayName": "action_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_variant",
              "displayName": "email_variant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_status",
              "displayName": "delivery_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_id",
              "displayName": "gmail_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted_at",
              "displayName": "contacted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moved_at",
              "displayName": "moved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_number",
              "displayName": "followup_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_angle",
              "displayName": "assigned_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_date",
              "displayName": "next_followup_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "ebe75bdd-77bf-47f5-8b67-a32f9c13f624",
      "name": "📊 Mover a leads_procesados",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2880,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('✅ Check Result').item.json.email }}",
            "contactado": "=TRUE",
            "fecha_proximo_correo": "={{ $('✅ Check Result').item.json.next_followup_date }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "instagram",
              "displayName": "instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reviews_count",
              "displayName": "reviews_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_primer_contacto",
              "displayName": "fecha_primer_contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "correos_enviados",
              "displayName": "correos_enviados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "etapa_secuencia",
              "displayName": "etapa_secuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "respondio",
              "displayName": "respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_respuesta",
              "displayName": "tipo_respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ultimo_correo",
              "displayName": "fecha_ultimo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_proximo_correo",
              "displayName": "fecha_proximo_correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_investigacion",
              "displayName": "notas_investigacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "datos_destacables",
              "displayName": "datos_destacables",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tiene_email",
              "displayName": "tiene_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_valido",
              "displayName": "email_valido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "motivo_descarte",
              "displayName": "motivo_descarte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "9952f942-ce33-4b76-82a3-fe12ef530807",
      "name": "📊 Log leads_master",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2640,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1"
        },
        "sheetName": {
          "__rl": true,
          "value": 114365829,
          "mode": "list",
          "cachedResultName": "outreach_control",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=114365829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('✅ Check Result').item.json.lead_id }}",
            "contacted": "=true",
            "last_contact_date": "={{ $('✅ Check Result').item.json.sent_timestamp }}",
            "followup_count": "={{ $('✅ Check Result').item.json.followup_number }}",
            "response_status": "=awaiting",
            "next_followup_date": "={{ $('✅ Check Result').item.json.next_followup_date }}",
            "assigned_angle": "={{ $('✅ Check Result').item.json.assigned_angle }}",
            "email": "={{ $('✅ Check Result').item.json.email }}",
            "business_name": "={{ $('✅ Check Result').item.json.business_name }}",
            "tier": "={{ $('✅ Check Result').item.json.tier }}",
            "niche": "={{ $('✅ Check Result').item.json.niche }}",
            "city": "={{ $('✅ Check Result').item.json.city }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_contact_date",
              "displayName": "last_contact_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "followup_count",
              "displayName": "followup_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_status",
              "displayName": "response_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_followup_date",
              "displayName": "next_followup_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_angle",
              "displayName": "assigned_angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_name",
              "displayName": "business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tier",
              "displayName": "tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "33a67c3c-493e-4d76-8422-131565d91064",
      "name": "📊 Update outreach_control1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2160,
        416
      ],
      "id": "7e7f4b50-6f33-4370-a2e2-1fae281f7428",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        1040
      ],
      "id": "9a440e16-e364-45fd-a91d-9e8411dec369",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v3lq4yXJdNz55Usu",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Envia 100 correos"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Schedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router": {
      "main": [
        [
          {
            "node": "📋 Read Leads Master",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Read Outreach Control",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Report1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read for Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Stats": {
      "main": [
        [
          {
            "node": "📊 Calc Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Calc Stats": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Preview": {
      "main": [
        [
          {
            "node": "🔍 Preview Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read for Report1": {
      "main": [
        [
          {
            "node": "📊 Gen Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Gen Report": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily 9AM": {
      "main": [
        [
          {
            "node": "📦 Schedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Schedule Input": {
      "main": [
        [
          {
            "node": "🧠 Outreach Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Outreach Classifier": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "🔀 Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Leads Master": {
      "main": [
        [
          {
            "node": "🔽 No Contactados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Leads?": {
      "main": [
        [
          {
            "node": "⚡ Respuesta Rápida",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Outreach Control": {
      "main": [
        [
          {
            "node": "🔗 Merge Reads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "⚡ Respuesta Rápida": {
      "main": [
        [
          {
            "node": "📤 OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 OUTPUT": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Email Send Loop": {
      "main": [
        [
          {
            "node": "📊 Summary Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🛡️ Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Send Email": {
      "main": [
        [
          {
            "node": "⏱️ Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏱️ Throttle": {
      "main": [
        [
          {
            "node": "✅ Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Check Result": {
      "main": [
        [
          {
            "node": "📊 Log email_log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Accumulate": {
      "main": [
        [
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Summary Report": {
      "main": [
        [
          {
            "node": "📢 Callback → XUS Begin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Dedup Check": {
      "main": [
        [
          {
            "node": "❓ Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Skip?": {
      "main": [
        [
          {
            "node": "📝 Log Skip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Research Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Log Skip": {
      "main": [
        [
          {
            "node": "🔄 Email Send Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Research Lead": {
      "main": [
        [
          {
            "node": "✍️ Email Personalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Email Personalizer": {
      "main": [
        [
          {
            "node": "📝 Email Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Email Assembler": {
      "main": [
        [
          {
            "node": "🎨 HTML Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 HTML Builder": {
      "main": [
        [
          {
            "node": "📧 Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔽 No Contactados": {
      "main": [
        [
          {
            "node": "🔗 Merge Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Filter Eligible": {
      "main": [
        [
          {
            "node": "❓ Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Merge Reads": {
      "main": [
        [
          {
            "node": "🔧 Filter Eligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log email_log1": {
      "main": [
        [
          {
            "node": "📊 Log leads_master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Mover a leads_procesados": {
      "main": [
        [
          {
            "node": "📈 Accumulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Prep leads_procesados": {
      "main": [
        [
          {
            "node": "📊 Mover a leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Log leads_master": {
      "main": [
        [
          {
            "node": "📊 Update outreach_control1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update outreach_control1": {
      "main": [
        [
          {
            "node": "📦 Prep leads_procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Outreach Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "✍️ Email Personalizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ac55043a-5439-4946-9aba-2262509f9a41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "S5U-InyurlAZCNkpoGJZT",
  "tags": []
}