home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER BUSSINES/Xus Instagram v1.0 -Sub Agent.json
{
  "name": "Xus Instagram v1.0 -Sub Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "b55895de-acb2-4248-accf-fdaaa604a856",
      "name": "⏰ Tick cada 15min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        176
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * 1-5"
            }
          ]
        }
      },
      "id": "c4fbfdad-d31b-4801-8f14-27b0945ba670",
      "name": "⏰ Outreach 9AM COL",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        368
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "id": "e8a7f871-aa39-4443-a1ed-6042a5daa06d",
      "name": "⏰ Reporte 1PM COL",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        560
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "5b1a2509-0227-4189-aac7-9c086694ceaa",
      "name": "🔌 Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2000,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "let source = 'unknown';\nlet command = '';\nlet isAgentMode = false;\n\ntry { if ($('⏰ Tick cada 15min').first()) source = 'tick'; } catch(e){}\ntry { if ($('⏰ Outreach 9AM COL').first()) source = 'outreach_load'; } catch(e){}\ntry { if ($('⏰ Reporte 1PM COL').first()) source = 'report'; } catch(e){}\ntry {\n  const trigger = $('🔌 Execute Workflow Trigger').first();\n  if (trigger) {\n    source = 'external';\n    const input = trigger.json;\n    command = input.command || input.query || input.message || input.instruction || '';\n    isAgentMode = command.length > 0;\n  }\n} catch(e){}\n\nreturn [{ json: {\n  source, command, isAgentMode,\n  timestamp: new Date().toISOString(),\n  originalInput: (() => { try { return $('🔌 Execute Workflow Trigger').first().json; } catch(e) { return {}; } })()\n}}];"
      },
      "id": "d3b6b1b4-777b-4801-80fb-9d79e8db9021",
      "name": "🔀 Router Principal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "agent-mode",
              "leftValue": "={{ $json.isAgentMode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "785a1da1-67a0-47b6-879c-cf03a63a1ea2",
      "name": "🔀 ¿Modo Agente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1552,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst systemPrompt = `Eres un agente de automatización de Instagram llamado \"Nexus IG\". Interpretas comandos en lenguaje natural y ejecutas acciones.\n\nTUS TOOLS:\n- send_dm: Enviar DM (necesita target y message)\n- read_inbox: Leer inbox (opcional limit)\n- like_posts: Dar likes (necesita target, opcional limit)\n- scroll_feed: Scrollear feed (opcional limit y like_probability)\n- follow_user: Seguir usuario (necesita target)\n- view_stories: Ver stories (necesita target)\n- get_profile: Info de perfil (necesita target)\n- check_status: Estado del agente\n- get_report: Reporte del día\n\nREGLAS:\n1. SIEMPRE usa tools para ejecutar acciones\n2. @username → https://instagram.com/username\n3. Responde breve y confirma qué harás\n4. Pasa siempre JSON válido como input a los tools: {\"target\":\"url\",\"message\":\"texto\"}`;\n\nconst userPrompt = `Comando: \"${input.command}\"\\nEjecuta la acción correspondiente.`;\n\nreturn [{ json: { ...input, systemPrompt, userPrompt } }];"
      },
      "id": "a978f568-d422-438e-b01d-19f38cb49bc6",
      "name": "🎯 Construir Prompt Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}",
          "maxIterations": 5,
          "returnIntermediateSteps": true
        }
      },
      "id": "2c82f348-d256-43df-bda7-5dc20ef8e5c3",
      "name": "🤖 LLM Agent Instagram",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -592,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $input.first().json;\nconst originalInput = $('🎯 Construir Prompt Agente').first().json;\n\nlet response = {\n  success: true, mode: 'agent',\n  command: originalInput.command,\n  response: agentResponse.output || agentResponse.text || 'Comando ejecutado',\n  timestamp: new Date().toISOString()\n};\n\nif (agentResponse.intermediateSteps && agentResponse.intermediateSteps.length > 0) {\n  response.toolsUsed = agentResponse.intermediateSteps.map(step => ({\n    tool: step.action?.tool || 'unknown',\n    input: step.action?.toolInput || '',\n    result: step.observation || ''\n  }));\n}\n\nreturn [{ json: response }];"
      },
      "id": "c15c9e23-7e56-4b20-a4a9-ac4eb0ebc497",
      "name": "📦 Formatear Respuesta Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet textResponse = input.response || input.output || input.message || 'Comando ejecutado';\nif (input.toolsUsed && input.toolsUsed.length > 0) {\n  const ts = input.toolsUsed.map(t => `${t.tool}: ${(t.result||'OK').substring(0,100)}`).join('\\n');\n  textResponse += `\\n\\n📋 Acciones:\\n${ts}`;\n}\nreturn [{ json: {\n  text: textResponse, textResponse,\n  channel: 'instagram_agent', userPhone: '573124348669', userName: 'Santiago',\n  messageId: `agent-${Date.now()}`, toolResponse: JSON.stringify(input.toolsUsed||[]),\n  remoteJid: '573124348669@s.whatsapp.net', chatId: '573124348669',\n  messageType: 'agent_response', 'message.chat.id': '573124348669', 'message.text': textResponse\n}}];"
      },
      "id": "b4eecabd-4bc1-4b38-94a1-9601d724b9f9",
      "name": "📤 Prep Salida Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.source }}",
              "rightValue": "outreach_load",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e26a8969-b5d6-4a99-84ca-6002ff0d45d7",
      "name": "🔀 ¿Cargar Outreach?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1328,
        480
      ]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "id"
        }
      },
      "id": "b083c146-33e4-4875-8b8f-b4b0aff44925",
      "name": "📊 Leer Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -528,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 12
      },
      "id": "6a8b9512-4a6f-4350-97ac-c440e8d6c1ce",
      "name": "🔢 Máx 12/día",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        256,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst tasks = [];\nfor (const item of leads) {\n  const lead = item.json;\n  const pn = (lead.Nombre||'emprendedor').split(' ')[0];\n  const ap = [`Hola ${pn}, vi lo que haces con ${lead.Negocio||'tu negocio'}`,`Ei ${pn}! Me cruzé con tu perfil`,`Hey ${pn}, qué interesante lo de ${lead.Negocio||'tu negocio'}`];\n  const ci = ['¿Tienes 20 min esta semana?','¿Estarías abierto a una llamada rápida?','¿Podemos agendar 20 minuticos?'];\n  tasks.push({type:'dm_outreach',priority:lead.Prioridad==='alta'?1:2,payload:{instagramUrl:lead.Instagram||'',mensaje:`${ap[Math.floor(Math.random()*3)]} — tengo algo que podría ayudarte. ${ci[Math.floor(Math.random()*3)]}`,leadData:{nombre:lead.Nombre,rowIndex:lead.row_number,negocio:lead.Negocio}},createdAt:Date.now(),status:'pending'});\n}\ntasks.push({type:'check_inbox',priority:1,payload:{maxThreads:20},createdAt:Date.now(),status:'pending'});\ntasks.push({type:'engagement_likes',priority:3,payload:{maxLikes:15},createdAt:Date.now(),status:'pending'});\ntasks.push({type:'check_followup',priority:2,payload:{daysWithoutReply:2},createdAt:Date.now(),status:'pending'});\nreturn [{json:{tasks,totalTasks:tasks.length}}];"
      },
      "id": "b9321a07-31f5-4084-bbc9-46663ccae5f3",
      "name": "🏗️ Construir Cola",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        336
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ig:queue:{{ $now.toMillis() }}",
        "value": "={{ JSON.stringify($json.tasks) }}"
      },
      "id": "378fca69-22ff-4b06-9428-04b993ae8f6f",
      "name": "🔴 Redis → Guardar Cola",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        704,
        336
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "ig:queue:*"
      },
      "id": "5ce080af-e17e-430c-ab4e-576a58f1e02b",
      "name": "🔴 Redis → Obtener Colas",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -528,
        528
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const keysRaw = $input.first().json;\nconst keys = keysRaw.value || keysRaw.keys || [];\nif (!keys || keys.length === 0) return [{json:{hasTasks:false,reason:'Cola vacía'}}];\nkeys.sort();\nreturn [{json:{hasTasks:true,queueKey:keys[0],totalQueues:keys.length}}];"
      },
      "id": "f3e855eb-4dcf-4eaa-8e69-aea196f20016",
      "name": "⚙️ Tick Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-tasks",
              "leftValue": "={{ $json.hasTasks }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "302a1fe2-853f-4099-99d4-8b3916524d61",
      "name": "🔀 ¿Hay Tareas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        528
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.queueKey }}",
        "options": {}
      },
      "id": "34ebd252-7a25-4877-9ab4-86da34943d96",
      "name": "🔴 Redis → Leer Tareas",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        704,
        528
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet tasks = [];\ntry { const str = raw.value||raw; tasks = typeof str==='string' ? JSON.parse(str) : str; } catch(e) { return [{json:{hasTasks:false,error:'Parse error'}}]; }\nconst pending = tasks.filter(t=>t.status==='pending').sort((a,b)=>(a.priority||99)-(b.priority||99));\nif (pending.length===0) return [{json:{hasTasks:false,reason:'Todas completadas'}}];\nconst next = pending[0];\nnext.status = 'running';\nnext.startedAt = Date.now();\nreturn [{json:{hasTasks:true,currentTask:next,taskType:next.type,remainingTasks:pending.length-1,allTasks:tasks}}];"
      },
      "id": "c8c940a3-c8a2-43dd-a240-f375044e38e3",
      "name": "🎯 Task Dispatcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        528
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.taskType }}",
                    "rightValue": "dm_outreach",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "dm_outreach"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.taskType }}",
                    "rightValue": "check_inbox",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "check_inbox"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.taskType }}",
                    "rightValue": "engagement_likes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "engagement_likes"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.taskType }}",
                    "rightValue": "check_followup",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "check_followup"
            }
          ]
        },
        "options": {}
      },
      "id": "4532c359-5735-4551-bfd6-46200fd03bf7",
      "name": "🔀 Switch Tipo Tarea",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1152,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"context\": {\n    \"url\": \"{{ $json.currentTask.payload.instagramUrl }}\",\n    \"mensaje\": \"{{ $json.currentTask.payload.mensaje }}\",\n    \"cookies\": [\n      { \"name\": \"sessionid\", \"value\": \"56223685794%3AU6EcmwEmxhw5ji%3A26%3AAYhAq4tFZRbNVINhXwXwmaBVr-gcnWmqma67Qna_bw\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"csrftoken\", \"value\": \"qUzjbk9e1QVyEXvDyKt16i\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"ds_user_id\", \"value\": \"56223685794\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"datr\", \"value\": \"VeieaS4zltMuSWPj0IRTTegv\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"mid\", \"value\": \"aZ7oVQALAAEy_rOlt-ZYGqYRJL5a\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"ig_did\", \"value\": \"C7A6CD61-A325-443C-B10B-A80455CBEFD2\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"ig_nrcb\", \"value\": \"1\", \"domain\": \".instagram.com\", \"path\": \"/\" }\n    ]\n  },\n  \"function\": \"async ({ page, context }) => { const { url, mensaje, cookies } = context; const wait = (min, max) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(max-min+1))+min)); const typeHuman = async (sel, text) => { await page.focus(sel); for (const char of text) { await page.keyboard.type(char); await wait(40, 180); if (Math.random() < 0.05) await wait(400, 900); } }; try { await page.setCookie(...cookies); } catch(e) { return { status:'error', step:'cookies', reason: e.message }; } try { await page.goto(url, { waitUntil:'networkidle2', timeout:30000 }); } catch(e) { return { status:'error', step:'navigate', reason: e.message }; } await wait(1500, 3000); if (page.url().includes('/accounts/login')) return { status:'error', step:'auth', reason:'Sesión expirada' }; await page.evaluate(() => window.scrollBy({ top: 200, behavior:'smooth' })); await wait(600, 1200); let messageBtn = null; try { messageBtn = await page.evaluateHandle(() => { const btns = Array.from(document.querySelectorAll('div[role=\\\"button\\\"], button')); return btns.find(b => ['Message','Enviar mensaje','Mensaje'].includes((b.innerText||b.textContent||'').trim())) || null; }); const isNull = await page.evaluate(el => el === null, messageBtn); if (isNull) throw new Error('Botón no encontrado'); } catch(e) { return { status:'error', step:'find_button', reason: e.message }; } await messageBtn.hover(); await wait(400, 800); await messageBtn.click(); const inputSel = 'div[contenteditable=\\\"true\\\"][role=\\\"textbox\\\"]'; try { await page.waitForSelector(inputSel, { timeout:12000 }); } catch(e) { return { status:'error', step:'chat_input', reason: e.message }; } await wait(800, 1600); await typeHuman(inputSel, mensaje); await wait(600, 1200); await page.keyboard.press('Enter'); await wait(2000, 4000); return { status:'success', sent_to: url, message_preview: mensaje.substring(0,60) }; }\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "24e1ba27-fb26-4e80-8378-966b9aee269c",
      "name": "🤖 Browser → DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"context\": {\n    \"maxThreads\": {{ $json.currentTask.payload.maxThreads || 20 }},\n    \"cookies\": [\n      { \"name\": \"sessionid\", \"value\": \"56223685794%3AU6EcmwEmxhw5ji%3A26%3AAYhAq4tFZRbNVINhXwXwmaBVr-gcnWmqma67Qna_bw\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"csrftoken\", \"value\": \"qUzjbk9e1QVyEXvDyKt16i\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"ds_user_id\", \"value\": \"56223685794\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"datr\", \"value\": \"VeieaS4zltMuSWPj0IRTTegv\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"mid\", \"value\": \"aZ7oVQALAAEy_rOlt-ZYGqYRJL5a\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"ig_did\", \"value\": \"C7A6CD61-A325-443C-B10B-A80455CBEFD2\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"ig_nrcb\", \"value\": \"1\", \"domain\": \".instagram.com\", \"path\": \"/\" }\n    ]\n  },\n  \"function\": \"async ({ page, context }) => { const { cookies, maxThreads } = context; const wait = (min, max) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(max-min+1))+min)); try { await page.setCookie(...cookies); } catch(e) { return { status:'error', reason: e.message }; } await page.goto('https://www.instagram.com/direct/inbox/', { waitUntil:'networkidle2', timeout:30000 }); await wait(2000, 4000); if (page.url().includes('/accounts/login')) return { status:'error', reason:'Sesión expirada' }; const threads = await page.evaluate((max) => { const items = Array.from(document.querySelectorAll('div[role=\\\"listitem\\\"]')).slice(0, max); return items.map(item => { const nameEl = item.querySelector('span'); const previewEl = item.querySelectorAll('span')[1]; const isUnread = item.querySelector('[aria-label*=\\\"unread\\\"]') !== null; return { name: nameEl?.innerText?.trim() || 'Unknown', preview: previewEl?.innerText?.trim().substring(0, 100) || '', isUnread }; }).filter(t => t.name !== 'Unknown'); }, maxThreads).catch(() => []); return { status:'success', totalThreads: threads.length, unreadCount: threads.filter(t => t.isUnread).length, threads }; }\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c3090cbe-847d-44a5-a912-f19ea6e92aed",
      "name": "📥 Browser → Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.91.252.187:3001/function",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"context\": {\n    \"maxLikes\": {{ $json.currentTask.payload.maxLikes || 10 }},\n    \"cookies\": [\n      { \"name\": \"sessionid\", \"value\": \"56223685794%3AU6EcmwEmxhw5ji%3A26%3AAYhAq4tFZRbNVINhXwXwmaBVr-gcnWmqma67Qna_bw\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"csrftoken\", \"value\": \"qUzjbk9e1QVyEXvDyKt16i\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"ds_user_id\", \"value\": \"56223685794\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"datr\", \"value\": \"VeieaS4zltMuSWPj0IRTTegv\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"mid\", \"value\": \"aZ7oVQALAAEy_rOlt-ZYGqYRJL5a\", \"domain\": \".instagram.com\", \"path\": \"/\" },\n      { \"name\": \"ig_did\", \"value\": \"C7A6CD61-A325-443C-B10B-A80455CBEFD2\", \"domain\": \".instagram.com\", \"path\": \"/\", \"httpOnly\": true, \"secure\": true },\n      { \"name\": \"ig_nrcb\", \"value\": \"1\", \"domain\": \".instagram.com\", \"path\": \"/\" }\n    ]\n  },\n  \"function\": \"async ({ page, context }) => { const { cookies, maxLikes } = context; const wait = (min, max) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(max-min+1))+min)); try { await page.setCookie(...cookies); } catch(e) { return { status:'error', reason: e.message }; } await page.goto('https://www.instagram.com/', { waitUntil:'networkidle2', timeout:30000 }); await wait(2000, 4000); if (page.url().includes('/accounts/login')) return { status:'error', reason:'Sesión expirada' }; let liked = 0; const likeButtons = await page.$$('svg[aria-label=\\\"Like\\\"], svg[aria-label=\\\"Me gusta\\\"]'); for (const btn of likeButtons.slice(0, maxLikes)) { try { await btn.click(); liked++; await wait(1500, 3500); if (liked % 3 === 0) await wait(5000, 12000); } catch(e) { continue; } } return { status:'success', liked }; }\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "52358abc-e67a-477c-98f8-b55b4b9c1050",
      "name": "❤️ Browser → Likes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        656
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza estos mensajes de Instagram y clasifícalos:\n\n{{ JSON.stringify($json.threads || []) }}\n\nPara cada mensaje determina:\n1. intent: price_inquiry|interested|positive_response|rejection|greeting|other\n2. priority: high|medium|low\n3. suggestedReply: respuesta sugerida o null\n4. escalate: true si requiere humano\n\nResponde en JSON array."
      },
      "id": "34dee09d-e0cb-4adb-a4ac-7e51768632d4",
      "name": "🧠 LLM Clasificar DMs",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1600,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const llmOutput = $input.first().json;\nlet classified = [];\ntry { const text = llmOutput.text||llmOutput.output||''; const m = text.match(/\\[.*\\]/s); if(m) classified = JSON.parse(m[0]); } catch(e) {}\nconst hotLeads = classified.filter(c=>c.intent==='price_inquiry'||c.intent==='interested'||c.priority==='high');\nreturn [{json:{classified,hotLeads,toEscalate:classified.filter(c=>c.escalate),hasHotLeads:hotLeads.length>0,summary:`📬 ${classified.length} analizados, ${hotLeads.length} calientes`}}];"
      },
      "id": "c53afd2c-eea3-49db-8331-0da338ecb7d6",
      "name": "🔥 Procesar Clasificación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "hot",
              "leftValue": "={{ $json.hasHotLeads }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f03ea1cc-4956-435c-8832-748feb95e91c",
      "name": "🔥 ¿Leads Calientes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2176,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst hl = data.hotLeads||[];\nlet t = `🔥 LEADS CALIENTES\\n📊 ${(data.classified||[]).length} analizados, ${hl.length} calientes\\n\\n`;\nhl.forEach(l=>{t+=`${l.intent==='price_inquiry'?'💰':'✅'} ${l.name||'?'}: ${(l.preview||'').substring(0,60)}\\n`;});\nreturn [{json:{text:t,textResponse:t,channel:'instagram_alert',userPhone:'573124348669',userName:'Santiago',messageId:`alert-${Date.now()}`,remoteJid:'573124348669@s.whatsapp.net',chatId:'573124348669',messageType:'hot_lead_alert','message.chat.id':'573124348669','message.text':t,hotLeads:hl}}];"
      },
      "id": "5fb9efbd-3582-4ded-95cd-6d0ff199b2de",
      "name": "🔥 Prep Alerta Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultName": "XUS Begin v1.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "6626b1f8-753c-4c82-a86e-772f997de3ed",
      "name": "📤 Enviar Alerta",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2624,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "let dispatcher = {};\ntry { dispatcher = $('🎯 Task Dispatcher').first().json; } catch(e) {}\nconst taskResult = $input.first().json;\nconst allTasks = dispatcher.allTasks||[];\nconst currentTask = dispatcher.currentTask||{};\nconst updatedTasks = allTasks.map(t=>{\n  if(t.createdAt===currentTask.createdAt && t.type===currentTask.type){\n    return {...t,status:taskResult.status==='error'?'failed':'done',completedAt:Date.now(),result:taskResult};\n  }\n  return t;\n});\nlet queueKey = 'ig:queue:0';\ntry { queueKey = $('⚙️ Tick Processor').first().json.queueKey||'ig:queue:0'; } catch(e) {}\nreturn [{json:{updatedTasks,queueKey,historyEntry:{taskType:currentTask.type||'unknown',completedAt:new Date().toISOString(),result:taskResult.status||'completed',details:taskResult},remainingPending:updatedTasks.filter(t=>t.status==='pending').length}}];"
      },
      "id": "8a162b0c-e17f-4974-ae30-d234c90c51cc",
      "name": "📝 Actualizar Cola",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        464
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.queueKey }}",
        "value": "={{ JSON.stringify($json.updatedTasks) }}"
      },
      "id": "04429635-d61e-42dd-8078-dfd220dd6b92",
      "name": "🔴 Redis → Update Cola",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3072,
        464
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo"
        },
        "sheetName": {
          "__rl": true,
          "value": 887367954,
          "mode": "list",
          "cachedResultName": "Leads Extraidos A."
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('🎯 Task Dispatcher').first().json.currentTask?.payload?.leadData?.rowIndex || 0 }}",
            "Contactado": "={{ $json.status === 'success' ? 'B1 Enviado' : 'Error DM' }}"
          },
          "matchingColumns": [
            "row_number"
          ]
        },
        "options": {}
      },
      "id": "c39c98db-f23d-4537-a063-514a7d3810b9",
      "name": "✅ Sheets → Actualizar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2624,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1200,
        16
      ],
      "id": "ca912f9d-33e6-4d41-af00-27f283466a74",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'"
    },
    {
      "parameters": {
        "name": "send_dm",
        "description": "Envía un DM a un usuario de Instagram. REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo de input válido: '{\"target\":\"@usuario\", \"message\":\"Hola\"}'",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) {\n  const tm = raw.match(/@([\\w.]+)/i);\n  params = { target: tm ? tm[1] : raw, message: 'Hola!' };\n}\nif (!params.target) return JSON.stringify({success:false,error:'Sin target'});\nif (!params.target.includes('http')) params.target = 'https://instagram.com/' + params.target.replace('@','');\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      code: 'module.exports = async ({ page, context }) => { const { url, mensaje, cookies } = context; const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a)); await page.setCookie(...cookies); await page.goto(url, { waitUntil: \"networkidle2\", timeout: 30000 }); await w(2000,3000); if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" }; await page.evaluate(() => window.scrollBy({ top: 200, behavior: \"smooth\" })); await w(600,1200); const btn = await page.evaluateHandle(() => { const bs = Array.from(document.querySelectorAll(\"div[role=\\\\\"button\\\\\"],button\")); return bs.find(x => [\"Message\",\"Enviar mensaje\",\"Mensaje\"].includes((x.innerText||\"\").trim())) || null; }); const isNull = await page.evaluate(e => e === null, btn); if (isNull) return { success: false, error: \"no_button\" }; await btn.hover(); await w(400,800); await btn.click(); const sel = \"div[contenteditable=\\\\\"true\\\\\"][role=\\\\\"textbox\\\\\"]\"; try { await page.waitForSelector(sel, { timeout: 12000 }); } catch(e) { return { success: false, error: \"no_input\" }; } await w(800,1600); await page.focus(sel); for (const c of mensaje) { await page.keyboard.type(c); await w(40,150); } await w(600,1200); await page.keyboard.press(\"Enter\"); await w(2000,4000); return { success: true, sent_to: url, preview: mensaje.substring(0,60) }; };',\n      context: { url: params.target, mensaje: params.message || 'Hola!', cookies }\n    }\n  });\n  return typeof result === 'string' ? result : JSON.stringify(result);\n} catch(e) { return JSON.stringify({success:false,error:e.message}); }"
      },
      "id": "7afff63a-e891-40fb-baf8-7b4538b721cc",
      "name": "send_dm",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -960,
        160
      ]
    },
    {
      "parameters": {
        "name": "read_inbox",
        "description": "Lee el inbox de Instagram DMs. Parámetros: limit (número de conversaciones a leer, default 10). REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo: '{\"limit\":10}'",
        "jsCode": "const raw = query || '{\"limit\":10}';\nlet limit = 10;\ntry { limit = JSON.parse(raw).limit || 10; } catch(e) { const m = raw.match(/(\\d+)/); if(m) limit = parseInt(m[1]); }\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      code: 'module.exports = async ({ page, context }) => { const { cookies, maxThreads } = context; const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a)); await page.setCookie(...cookies); await page.goto(\"https://www.instagram.com/direct/inbox/\", { waitUntil: \"networkidle2\", timeout: 30000 }); await w(2000,4000); if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" }; await w(1000,2000); const threads = await page.evaluate((m) => { const items = Array.from(document.querySelectorAll(\"div[role=\\\\\"listitem\\\\\"]\")).slice(0, m); return items.map(i => { const n = i.querySelector(\"span\"); const p = i.querySelectorAll(\"span\")[1]; const u = i.querySelector(\"[aria-label*=\\\\\"unread\\\\\"]\") !== null; return { name: n?.innerText?.trim()||\"?\", preview: p?.innerText?.trim().substring(0,100)||\"\", isUnread: u }; }).filter(t => t.name !== \"?\"); }, maxThreads).catch(() => []); return { success: true, total: threads.length, unread: threads.filter(t=>t.isUnread).length, threads }; };',\n      context: { cookies, maxThreads: limit }\n    }\n  });\n  const data = typeof result === 'string' ? JSON.parse(result) : result;\n  if (data.success) {\n    let s = `📬 ${data.total} chats, ${data.unread} sin leer\\n`;\n    (data.threads||[]).slice(0,5).forEach(t => { s += `${t.isUnread?'🔴':'⚪'} ${t.name}: ${(t.preview||'').substring(0,40)}\\n`; });\n    return JSON.stringify({...data, summary: s});\n  }\n  return JSON.stringify(data);\n} catch(e) { return JSON.stringify({success:false,error:e.message}); }"
      },
      "id": "c74f67c5-62c1-48e9-aa66-f8bbb0248d81",
      "name": "read_inbox",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -832,
        160
      ]
    },
    {
      "parameters": {
        "name": "like_posts",
        "description": "Da likes a posts de un perfil de Instagram. Parámetros: target (URL completa o @username), limit (cuántos posts likear, default 5). REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo: '{\"target\":\"@usuario\", \"limit\":5}'",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) {\n  const tm = raw.match(/@([\\w.]+)/i);\n  params = { target: tm ? tm[1] : '', limit: 5 };\n}\nif (!params.target) return JSON.stringify({success:false,error:'Sin target'});\nif (!params.target.includes('http')) params.target = 'https://instagram.com/' + params.target.replace('@','');\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\nconst maxLikes = params.limit || 5;\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, maxLikes, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { waitUntil: \"networkidle2\", timeout: 40000 });'\n  + ' await w(2000, 3500);'\n  + ' if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" };'\n  + ' await page.evaluate(function() { window.scrollBy({ top: 400, behavior: \"smooth\" }); });'\n  + ' await w(1500, 2500);'\n  + ' var posts = await page.$$(\"a[href*=\\\\\"/p/\\\\\"], a[href*=\\\\\"/reel/\\\\\"]\");'\n  + ' if (!posts || posts.length === 0) return { success: false, error: \"no_posts\" };'\n  + ' var liked = 0;'\n  + ' for (var i = 0; i < Math.min(maxLikes, posts.length); i++) {'\n  + '   var postIdx = Math.min(i, posts.length - 1);'\n  + '   await posts[postIdx].click();'\n  + '   await w(2500, 4000);'\n  + '   var likeResult = await page.evaluate(function() {'\n  + '     var svgs = document.querySelectorAll(\"svg[aria-label]\");'\n  + '     for (var j = 0; j < svgs.length; j++) {'\n  + '       var label = svgs[j].getAttribute(\"aria-label\") || \"\";'\n  + '       if (label === \"Like\" || label === \"Me gusta\") {'\n  + '         var clickable = svgs[j].closest(\"button\") || svgs[j].closest(\"div[role=\\\\\"button\\\\\"]\") || svgs[j].parentElement;'\n  + '         if (clickable) { clickable.click(); return { liked: true }; }'\n  + '       }'\n  + '     }'\n  + '     for (var k = 0; k < svgs.length; k++) {'\n  + '       var lbl = svgs[k].getAttribute(\"aria-label\") || \"\";'\n  + '       if (lbl === \"Unlike\" || lbl === \"Ya no me gusta\") return { liked: false, alreadyLiked: true };'\n  + '     }'\n  + '     return { liked: false, notFound: true };'\n  + '   });'\n  + '   if (likeResult.liked) { liked++; await w(1500, 3000); }'\n  + '   await page.keyboard.press(\"Escape\");'\n  + '   await w(1000, 2000);'\n  + ' }'\n  + ' return { success: true, liked: liked, total: posts.length, target: url };'\n  + '};';\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: { code, context: { url: params.target, maxLikes, cookies } }\n  });\n  if (!result || result === '') {\n    return JSON.stringify({ success: true, liked: 0, message: 'browser_no_response' });\n  }\n  return typeof result === 'string' ? result : JSON.stringify(result);\n} catch(e) { return JSON.stringify({success:false,error:e.message}); }"
      },
      "id": "4d74b7b9-8c80-4908-9126-5f3287a8413c",
      "name": "like_posts",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -704,
        160
      ]
    },
    {
      "parameters": {
        "name": "scroll_feed",
        "description": "Scrollea el feed de Instagram dando likes aleatorios. Parámetros: limit (posts a recorrer, default 20), like_probability (probabilidad entre 0 y 1, default 0.3). REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo: '{\"limit\":20, \"like_probability\":0.3}'",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) { params = {limit:20,like_probability:0.3}; }\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { limit, likeProbability, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(\"https://www.instagram.com/\", { waitUntil: \"networkidle2\", timeout: 30000 });'\n  + ' await w(2000, 4000);'\n  + ' if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" };'\n  + ' var v = 0, l = 0;'\n  + ' for (var i = 0; i < limit; i++) {'\n  + '   await page.evaluate(function() {'\n  + '     window.scrollBy({ top: Math.floor(Math.random()*400+300), behavior: \"smooth\" });'\n  + '   });'\n  + '   await w(2000, 5000);'\n  + '   if (Math.random() < likeProbability) {'\n  + '     var liked = await page.evaluate(function() {'\n  + '       var svgs = document.querySelectorAll(\"svg[aria-label]\");'\n  + '       var candidates = [];'\n  + '       for (var j = 0; j < svgs.length; j++) {'\n  + '         var label = svgs[j].getAttribute(\"aria-label\") || \"\";'\n  + '         if (label === \"Like\" || label === \"Me gusta\") candidates.push(svgs[j]);'\n  + '       }'\n  + '       if (candidates.length > 0) {'\n  + '         var pick = candidates[Math.floor(Math.random() * candidates.length)];'\n  + '         var clickable = pick.closest(\"button\") || pick.closest(\"div[role=\\\\\"button\\\\\"]\") || pick.parentElement;'\n  + '         if (clickable) { clickable.click(); return true; }'\n  + '       }'\n  + '       return false;'\n  + '     });'\n  + '     if (liked) { l++; await w(500, 1500); }'\n  + '   }'\n  + '   v++;'\n  + '   if (i % 5 === 0) await w(3000, 8000);'\n  + ' }'\n  + ' return { success: true, postsViewed: v, likesGiven: l };'\n  + '};';\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: { code, context: { limit: params.limit || 20, likeProbability: params.like_probability || 0.3, cookies } }\n  });\n  if (!result || result === '') {\n    return JSON.stringify({ success: true, postsViewed: 0, likesGiven: 0, message: 'browser_no_response' });\n  }\n  return typeof result === 'string' ? result : JSON.stringify(result);\n} catch(e) { return JSON.stringify({success:false,error:e.message}); }"
      },
      "id": "2e5529fe-2f5c-4b03-86e2-7ec3b477105e",
      "name": "scroll_feed",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -576,
        160
      ]
    },
    {
      "parameters": {
        "name": "follow_user",
        "description": "Sigue a un usuario de Instagram. Parámetros: target (URL completa o @username). REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo: '{\"target\":\"@usuario\"}'",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) { params = {target:raw.trim()}; }\nif (!params.target) return JSON.stringify({success:false,error:'Sin target'});\nif (!params.target.includes('http')) params.target = 'https://instagram.com/' + params.target.replace('@','');\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { waitUntil: \"networkidle2\", timeout: 30000 });'\n  + ' await w(2000, 4000);'\n  + ' if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" };'\n  + ' var followResult = await page.evaluate(function() {'\n  + '   var buttons = document.querySelectorAll(\"button\");'\n  + '   for (var i = 0; i < buttons.length; i++) {'\n  + '     var text = (buttons[i].innerText || \"\").trim();'\n  + '     if (text === \"Follow\" || text === \"Seguir\") {'\n  + '       buttons[i].click();'\n  + '       return { followed: true };'\n  + '     }'\n  + '   }'\n  + '   for (var j = 0; j < buttons.length; j++) {'\n  + '     var txt = (buttons[j].innerText || \"\").trim();'\n  + '     if (txt === \"Following\" || txt === \"Siguiendo\" || txt === \"Requested\" || txt === \"Solicitado\") {'\n  + '       return { followed: false, alreadyFollowing: true };'\n  + '     }'\n  + '   }'\n  + '   var divBtns = document.querySelectorAll(\"div[role=\\\\\"button\\\\\"]\");'\n  + '   for (var k = 0; k < divBtns.length; k++) {'\n  + '     var t = (divBtns[k].innerText || \"\").trim();'\n  + '     if (t === \"Follow\" || t === \"Seguir\") {'\n  + '       divBtns[k].click();'\n  + '       return { followed: true };'\n  + '     }'\n  + '   }'\n  + '   return { followed: false, notFound: true };'\n  + ' });'\n  + ' await w(1000, 2000);'\n  + ' return { success: true, followed: followResult.followed, alreadyFollowing: followResult.alreadyFollowing || false, target: url };'\n  + '};';\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: { code, context: { url: params.target, cookies } }\n  });\n  if (!result || result === '') {\n    return JSON.stringify({ success: false, error: 'browser_no_response' });\n  }\n  return typeof result === 'string' ? result : JSON.stringify(result);\n} catch(e) { return JSON.stringify({success:false,error:e.message}); }"
      },
      "id": "810f5b59-c901-462c-a4f4-31c5274922fb",
      "name": "follow_user",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -448,
        160
      ]
    },
    {
      "parameters": {
        "name": "check_status",
        "description": "Verifica el estado actual del agente de Instagram. Muestra si está activo, en qué horario opera y las próximas tareas programadas. No necesita parámetros.",
        "jsCode": "const now = new Date();\nconst h = now.getHours();\nconst active = h >= 9 && h <= 18;\nreturn JSON.stringify({\n  success: true,\n  summary: `Estado del Agente Nexus IG:\\n- Modo: ${active?'ACTIVO':'IDLE'}\\n- Horario de trabajo: 9:00-18:00 COL\\n- Tick cada 15 minutos\\n- Outreach programado: 9AM lunes a viernes\\n- Reporte diario: 1PM`,\n  mode: active ? 'active' : 'idle',\n  hour: h\n});"
      },
      "id": "b353619d-d529-467d-9dc0-c4b8d630ee7e",
      "name": "check_status",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -64,
        160
      ]
    },
    {
      "parameters": {
        "name": "get_report",
        "description": "Genera un reporte del día con estadísticas de DMs enviados, likes dados, inbox revisado y otras métricas. Usa esta herramienta cuando el usuario pregunte cómo va el día o quiera un resumen. No necesita parámetros.",
        "jsCode": "const now = new Date();\nconst today = now.toISOString().split('T')[0];\nreturn JSON.stringify({\n  success: true,\n  summary: `Reporte Instagram - ${today}\\n━━━━━━━━━━━━━━━━━━━━\\nDMs enviados: pendiente de ejecucion\\nInbox revisado: pendiente\\nLikes dados: pendiente\\nPerfiles visitados: pendiente\\n\\nNota: Ejecuta las tareas programadas para ver estadisticas reales.`,\n  date: today\n});"
      },
      "id": "e6166434-ca21-41a5-ab1b-e529cb6bd420",
      "name": "get_report",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        64,
        160
      ]
    },
    {
      "parameters": {
        "name": "get_profile",
        "description": "Obtiene información de un perfil de Instagram: username, bio, posts, seguidores. Parámetros: target (URL completa o @username). REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo: '{\"target\":\"@usuario\"}'",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) { params = { target: raw.trim() }; }\nif (!params.target) return JSON.stringify({ success: false, error: 'Sin target' });\n\nlet ig = params.target.trim()\n  .replace(/https?:\\/\\/(www\\.)?instagram\\.com\\//g, '')\n  .replace(/@/g, '').replace(/[\"|'{}\\[\\]]/g, '')\n  .replace(/\\/+$/, '').trim();\nif (!ig || ig.length < 2) return JSON.stringify({ success: false, error: 'Handle invalido' });\n\nconst profileUrl = 'https://www.instagram.com/' + ig + '/';\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { profileUrl, cookies } = context;'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(profileUrl, { waitUntil: \"networkidle2\", timeout: 30000 });'\n  + ' await new Promise(r => setTimeout(r, 2000));'\n  + ' if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" };'\n  + ' const data = await page.evaluate(() => {'\n  + '   const gm = (n) => { const e = document.querySelector(\"meta[name=\\\\\"\" + n + \"\\\\\"]\"); return e ? e.content : \"\"; };'\n  + '   const go = (p) => { const e = document.querySelector(\"meta[property=\\\\\"og:\" + p + \"\\\\\"]\"); return e ? e.content : \"\"; };'\n  + '   return { metaDesc: gm(\"description\"), ogTitle: go(\"title\") };'\n  + ' });'\n  + ' return { success: true, data };'\n  + '};';\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: { code, context: { profileUrl, cookies } }\n  });\n\n  if (!result || !result.success || !result.data) {\n    return JSON.stringify({ success: false, error: result ? result.error : 'no_result', raw: JSON.stringify(result).substring(0,200) });\n  }\n\n  const meta = result.data.metaDesc || '';\n  const statsMatch = meta.match(/(\\d[\\d,.]*)\\s*Follower[s]?[,.]?\\s*(\\d[\\d,.]*)\\s*Following[,.]?\\s*(\\d[\\d,.]*)\\s*Post/);\n  const followers = statsMatch ? statsMatch[1] : '';\n  const following = statsMatch ? statsMatch[2] : '';\n  const posts     = statsMatch ? statsMatch[3] : '';\n  const nameMatch = meta.match(/- ([^(]+)\\(@/);\n  const realName  = nameMatch ? nameMatch[1].trim() : '';\n  const bioMatch  = meta.match(/on Instagram:\\s*[\"«]([^\"»]+)/);\n  const bio       = bioMatch ? bioMatch[1].replace(/\\\\n/g, ' ').trim() : '';\n  const ogName    = (result.data.ogTitle || '').match(/^([^(@]+)/);\n  const name      = realName || (ogName ? ogName[1].trim() : ig);\n\n  return JSON.stringify({\n    success: true,\n    summary: `👤 @${ig} (${name})\\n📊 Posts: ${posts} | Seguidores: ${followers} | Siguiendo: ${following}\\n📝 ${bio.substring(0,120)}`,\n    profile: { username: ig, realName: name, bio, followers, following, posts }\n  });\n} catch(e) {\n  return JSON.stringify({ success: false, error: e.message });\n}"
      },
      "id": "f4bc9927-7f9e-4262-b110-89c0043d7192",
      "name": "get_profile",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -192,
        160
      ]
    },
    {
      "parameters": {
        "name": "view_stories",
        "description": "Ve las stories de un usuario de Instagram. Parámetros: target (URL completa o @username). REGLA ESTRICTA: Tu input debe ser un ÚNICO STRING (texto) en formato JSON, NUNCA un objeto nativo. Ejemplo: '{\"target\":\"@usuario\"}'",
        "jsCode": "const raw = query || '{}';\nlet params = {};\ntry { params = JSON.parse(raw); } catch(e) { params = {target:raw.trim()}; }\nif (!params.target) return JSON.stringify({success:false,error:'Sin target'});\nif (!params.target.includes('http')) params.target = 'https://instagram.com/' + params.target.replace('@','');\n\nconst cookies = [\n  {name:'sessionid',value:'56223685794%3AneF1gHZF1LE7d9%3A7%3AAYiT3-W-RXXbBi8hn_NIGUNjzdD8CWi6tWTHjggW_w',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'csrftoken',value:'C2urmYZEnXN30wEq0jBy0c',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ds_user_id',value:'56223685794',domain:'.instagram.com',path:'/',secure:true},\n  {name:'datr',value:'ByuiaRXWgtP-OA0CPYsKHK4g',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'ig_did',value:'3CC3E3FF-133E-4B65-9454-DCFABC4B75F5',domain:'.instagram.com',path:'/',httpOnly:true,secure:true},\n  {name:'mid',value:'aaIqwwALAAEcpf8NEXeCPSpG7ylZ',domain:'.instagram.com',path:'/',secure:true},\n  {name:'ig_nrcb',value:'1',domain:'.instagram.com',path:'/',secure:true}\n];\n\nconst code = 'module.exports = async ({ page, context }) => {'\n  + ' const { url, cookies } = context;'\n  + ' const w = (a,b) => new Promise(r => setTimeout(r, Math.floor(Math.random()*(b-a+1))+a));'\n  + ' await page.setCookie(...cookies);'\n  + ' await page.goto(url, { waitUntil: \"networkidle2\", timeout: 30000 });'\n  + ' await w(2000, 4000);'\n  + ' if (page.url().includes(\"/accounts/login\")) return { success: false, error: \"auth\" };'\n  + ' var storiesViewed = 0;'\n  + ' var storyType = \"none\";'\n  + ' var hasStories = await page.evaluate(function() {'\n  + '   var header = document.querySelector(\"header\");'\n  + '   if (!header) return false;'\n  + '   var canvas = header.querySelector(\"canvas\");'\n  + '   if (canvas) return true;'\n  + '   var circle = header.querySelector(\"circle[stroke-dasharray]\");'\n  + '   if (circle) return true;'\n  + '   var img = header.querySelector(\"img\");'\n  + '   if (img) {'\n  + '     var p = img.parentElement;'\n  + '     for (var i = 0; i < 5 && p; i++) {'\n  + '       var s = window.getComputedStyle(p);'\n  + '       var bg = s.background || s.backgroundImage || \"\";'\n  + '       if (bg.indexOf(\"gradient\") !== -1) return true;'\n  + '       p = p.parentElement;'\n  + '     }'\n  + '   }'\n  + '   return false;'\n  + ' });'\n  + ' if (hasStories) {'\n  + '   var clicked = await page.evaluate(function() {'\n  + '     var header = document.querySelector(\"header\");'\n  + '     if (!header) return false;'\n  + '     var img = header.querySelector(\"img\");'\n  + '     if (img) {'\n  + '       var c = img.closest(\"a\") || img.closest(\"div[role=\\\\\"button\\\\\"]\") || img;'\n  + '       c.click(); return true;'\n  + '     }'\n  + '     var canvas = header.querySelector(\"canvas\");'\n  + '     if (canvas) {'\n  + '       var c2 = canvas.closest(\"a\") || canvas.parentElement;'\n  + '       c2.click(); return true;'\n  + '     }'\n  + '     return false;'\n  + '   });'\n  + '   if (clicked) {'\n  + '     await w(3000, 5000);'\n  + '     storyType = \"active\";'\n  + '     var inStory = await page.evaluate(function() {'\n  + '       return window.location.href.indexOf(\"/stories/\") !== -1 || document.querySelector(\"div[role=\\\\\"presentation\\\\\"]\") !== null;'\n  + '     });'\n  + '     if (inStory) {'\n  + '       for (var i = 0; i < 3; i++) {'\n  + '         await page.keyboard.press(\"ArrowRight\");'\n  + '         await w(2000, 4000);'\n  + '         storiesViewed++;'\n  + '       }'\n  + '       var closeClicked = await page.evaluate(function() {'\n  + '         var svgs = document.querySelectorAll(\"svg[aria-label]\");'\n  + '         for (var c = 0; c < svgs.length; c++) {'\n  + '           var label = svgs[c].getAttribute(\"aria-label\") || \"\";'\n  + '           if (label === \"Close\" || label === \"Cerrar\") {'\n  + '             var btn = svgs[c].closest(\"button\") || svgs[c].parentElement;'\n  + '             if (btn) { btn.click(); return true; }'\n  + '           }'\n  + '         }'\n  + '         return false;'\n  + '       });'\n  + '       if (!closeClicked) await page.keyboard.press(\"Escape\");'\n  + '       await w(1000, 2000);'\n  + '     }'\n  + '   }'\n  + ' }'\n  + ' if (storiesViewed === 0) {'\n  + '   var hlClicked = await page.evaluate(function() {'\n  + '     var lists = document.querySelectorAll(\"ul\");'\n  + '     for (var u = 0; u < lists.length; u++) {'\n  + '       var items = lists[u].querySelectorAll(\"li\");'\n  + '       if (items.length >= 1) {'\n  + '         var first = items[0];'\n  + '         var c = first.querySelector(\"div[role=\\\\\"button\\\\\"]\") || first.querySelector(\"canvas\") || first.querySelector(\"img\");'\n  + '         if (c) { c.click(); return true; }'\n  + '       }'\n  + '     }'\n  + '     return false;'\n  + '   });'\n  + '   if (hlClicked) {'\n  + '     await w(3000, 5000);'\n  + '     storyType = \"highlight\";'\n  + '     for (var j = 0; j < 3; j++) {'\n  + '       await page.keyboard.press(\"ArrowRight\");'\n  + '       await w(1500, 3000);'\n  + '       storiesViewed++;'\n  + '     }'\n  + '     await page.keyboard.press(\"Escape\");'\n  + '     await w(1000, 2000);'\n  + '   }'\n  + ' }'\n  + ' return { success: true, storiesViewed: storiesViewed, storyType: storyType, target: url };'\n  + '};';\n\ntry {\n  const result = await helpers.httpRequest({\n    method: 'POST',\n    url: 'http://3.91.252.187:3001/function',\n    headers: { 'Content-Type': 'application/json' },\n    body: { code, context: { url: params.target, cookies } }\n  });\n  if (!result || result === '') {\n    return JSON.stringify({ success: true, storiesViewed: 0, storyType: 'none', message: 'browser_no_response' });\n  }\n  const data = typeof result === 'object' ? result : JSON.parse(result);\n  return JSON.stringify(data);\n} catch(e) {\n  return JSON.stringify({ success: true, storiesViewed: 0, error: e.message, skipped: true });\n}"
      },
      "id": "f7ee8021-0b46-4874-a21e-27626760601b",
      "name": "view_stories",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1600,
        544
      ],
      "id": "8de4e708-8ecf-4773-8357-6d63971a611c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1088,
        160
      ],
      "id": "f3fdab64-d53b-48e5-8855-54b1194979c1",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Tick cada 15min": {
      "main": [
        [
          {
            "node": "🔀 Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Outreach 9AM COL": {
      "main": [
        [
          {
            "node": "🔀 Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Reporte 1PM COL": {
      "main": [
        [
          {
            "node": "🔀 Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔌 Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "🔀 Router Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router Principal": {
      "main": [
        [
          {
            "node": "🔀 ¿Modo Agente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Modo Agente?": {
      "main": [
        [
          {
            "node": "🎯 Construir Prompt Agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔀 ¿Cargar Outreach?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Construir Prompt Agente": {
      "main": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 LLM Agent Instagram": {
      "main": [
        [
          {
            "node": "📦 Formatear Respuesta Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Formatear Respuesta Agente": {
      "main": [
        [
          {
            "node": "📤 Prep Salida Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Cargar Outreach?": {
      "main": [
        [
          {
            "node": "📊 Leer Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔴 Redis → Obtener Colas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Leer Leads": {
      "main": [
        [
          {
            "node": "🔢 Máx 12/día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔢 Máx 12/día": {
      "main": [
        [
          {
            "node": "🏗️ Construir Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏗️ Construir Cola": {
      "main": [
        [
          {
            "node": "🔴 Redis → Guardar Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔴 Redis → Obtener Colas": {
      "main": [
        [
          {
            "node": "⚙️ Tick Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Tick Processor": {
      "main": [
        [
          {
            "node": "🔀 ¿Hay Tareas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Hay Tareas?": {
      "main": [
        [
          {
            "node": "🔴 Redis → Leer Tareas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔴 Redis → Leer Tareas": {
      "main": [
        [
          {
            "node": "🎯 Task Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Task Dispatcher": {
      "main": [
        [
          {
            "node": "🔀 Switch Tipo Tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Switch Tipo Tarea": {
      "main": [
        [
          {
            "node": "🤖 Browser → DM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📥 Browser → Inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❤️ Browser → Likes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Actualizar Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Browser → DM": {
      "main": [
        [
          {
            "node": "✅ Sheets → Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Sheets → Actualizar": {
      "main": [
        [
          {
            "node": "📝 Actualizar Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Browser → Inbox": {
      "main": [
        [
          {
            "node": "🧠 LLM Clasificar DMs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 LLM Clasificar DMs": {
      "main": [
        [
          {
            "node": "🔥 Procesar Clasificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Procesar Clasificación": {
      "main": [
        [
          {
            "node": "🔥 ¿Leads Calientes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 ¿Leads Calientes?": {
      "main": [
        [
          {
            "node": "🔥 Prep Alerta Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Actualizar Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Prep Alerta Leads": {
      "main": [
        [
          {
            "node": "📤 Enviar Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Enviar Alerta": {
      "main": [
        [
          {
            "node": "📝 Actualizar Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❤️ Browser → Likes": {
      "main": [
        [
          {
            "node": "📝 Actualizar Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Actualizar Cola": {
      "main": [
        [
          {
            "node": "🔴 Redis → Update Cola",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Prep Salida Agente": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_report": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "check_status": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_profile": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "view_stories": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "follow_user": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "read_inbox": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "like_posts": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "scroll_feed": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "send_dm": {
      "ai_tool": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 LLM Clasificar DMs",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 LLM Agent Instagram",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "acb08235-677a-4af0-b14d-30947ea138fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "3W9VGc01FBclLLvJ",
  "tags": []
}