home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER BUSSINES/XUS Closer v1.0 - Sales & Onboarding (1).json
{
  "name": "XUS Closer v1.0 - Sales & Onboarding",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "792a47d5-2042-42d6-8e5d-58828cb89913",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1008,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 🔀 DETECTOR DE CANAL v1.0 ═══\n// Detecta: WhatsApp vs Telegram, y si trae email para cerrar\n\nconst input = $input.first().json;\n\n// ¿Viene de WhatsApp?\nconst channel = (input.channel || '').toLowerCase();\nconst isWhatsapp = channel === 'whatsapp' || !!input.remoteJid || !!(input['message.chat.id']);\n\n// ¿Trae un email específico para cerrar? (ej: \"cierra a juan@email.com\")\nconst query = (\n  input.query ||\n  input.message?.text ||\n  input.text ||\n  input['message.text'] ||\n  ''\n).toLowerCase();\n\nconst emailMatch = query.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\nconst targetEmail = emailMatch ? emailMatch[0] : '';\nconst hasEmail = !!targetEmail;\n\nreturn [{ json: {\n  ...input,\n  _channel: isWhatsapp ? 'whatsapp' : 'telegram',\n  _isWhatsapp: isWhatsapp,\n  _hasEmail: hasEmail,\n  _targetEmail: targetEmail\n}}];"
      },
      "id": "3e15296b-11af-4d79-a227-42659a74f283",
      "name": "🔀 Detector de Canal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        96
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._isWhatsapp }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json._hasEmail }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WA Lista"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._isWhatsapp }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json._hasEmail }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WA Cerrar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._isWhatsapp }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5100ab77-05c5-465f-b1d1-7b4cb64fa0c6",
      "name": "🔀 Switch Canal",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -560,
        64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Estado",
              "lookupValue": "Nuevo"
            }
          ]
        },
        "options": {}
      },
      "id": "990f6d60-92eb-4455-b16c-0c0e26887527",
      "name": "📋 Read Nuevos WA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -336,
        -320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Estado",
              "lookupValue": "Pendiente Firma y Pago"
            }
          ]
        },
        "options": {}
      },
      "id": "53532a7f-53b2-477d-ac72-5b54a47c5ea0",
      "name": "📋 Read Pendientes WA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -336,
        -128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "6c838ac4-7091-4042-a9ee-e2672379140d",
      "name": "🔗 Merge WA",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 📝 FORMAT LISTA WA ═══\n// Lee los leads mergeados y arma el texto para WhatsApp\n\nconst items = $input.all();\n\nconst validItems = items.filter(i =>\n  i.json && !i.json.isEmpty &&\n  i.json.Email && i.json.Email.toString().trim() !== '' &&\n  i.json.Email !== 'undefined'\n);\n\nif (validItems.length === 0) {\n  return [{ json: {\n    textResponse: '📭 *No hay leads pendientes de cerrar.*\\n\\nTodos los prospectos han sido procesados.',\n    toolResponse: 'Sin leads pendientes para cerrar'\n  }}];\n}\n\nlet lista = `🎯 *LEADS PARA CERRAR*\\n━━━━━━━━━━━━━━━━━━━━━━\\n📊 Total: *${validItems.length}* lead(s)\\n\\n`;\n\nvalidItems.slice(0, 15).forEach((item, i) => {\n  const nombre = item.json.Nombre || 'Sin nombre';\n  const email  = item.json.Email || '';\n  const estado = item.json.Estado || 'Nuevo';\n  const emoji  = estado === 'Nuevo' ? '🆕' : '⏳';\n\n  lista += `${emoji} *${i + 1}. ${nombre}*\\n`;\n  lista += `   📧 ${email}\\n\\n`;\n});\n\nif (validItems.length > 15) {\n  lista += `_...y ${validItems.length - 15} más_\\n\\n`;\n}\n\nlista += `━━━━━━━━━━━━━━━━━━━━━━\\n`;\nlista += `Para cerrar uno dime:\\n`;\nlista += `👉 *\"cierra a email@ejemplo.com\"*`;\n\nreturn [{ json: {\n  textResponse: lista,\n  toolResponse: `Lista de ${validItems.length} leads enviada. El usuario puede pedir cerrar uno con 'cierra a email@ejemplo.com'`\n}}];"
      },
      "id": "b5eeb16d-fb35-4bc7-a211-24d9a5fdda50",
      "name": "📝 Format Lista WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 📤 OUTPUT LISTA WA ═══\nconst d = $input.first().json;\nreturn [{ json: {\n  textResponse: d.textResponse || d.text || '',\n  toolResponse:  d.toolResponse || '',\n  channel: 'whatsapp',\n  userPhone: '573124348669',\n  userName: 'Santiago',\n  messageId: 'LISTA_WA_' + Date.now(),\n  chatId: '573124348669',\n  remoteJid: '573124348669@s.whatsapp.net',\n  messageType: 'conversation',\n  'message.chat.id': '573124348669',\n  'message.text': d.textResponse || ''\n}}];"
      },
      "id": "58f2f20d-6cd6-486a-bf5f-d0f7213f8dd9",
      "name": "📤 Output Lista WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ 📋 PREPARAR CIERRE WA ═══\n// Extrae el email del input y genera los links\n\nconst input = $('🔀 Detector de Canal').first().json;\nconst email = input._targetEmail || '';\n\nif (!email) {\n  return [{ json: {\n    isValid: false,\n    errorText: '❌ No encontré un email válido en tu mensaje.\\n\\n👉 Dime: *\"cierra a email@ejemplo.com\"*',\n    toolResponse: 'Error: email no encontrado en el mensaje'\n  }}];\n}\n\nconst timestamp = Date.now();\nconst secureToken = Buffer.from(`${email}:${timestamp}`).toString('base64').substring(0, 16);\nconst tokenEncoded = encodeURIComponent(secureToken);\n\nconst n8nBaseUrl = 'https://nexusys.duckdns.org';\nconst powerFormLink = `${n8nBaseUrl}/webhook/contrato?email=${encodeURIComponent(email)}&token=${tokenEncoded}&ts=${timestamp}`;\nconst paypalLink = `https://www.paypal.com/ncp/payment/CT7PSNJHMUFHC?ref=${tokenEncoded}`;\n\nreturn [{ json: {\n  isValid: true,\n  email,\n  powerFormLink,\n  paypalLink,\n  secureToken,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "67821d78-1a65-4d21-a2e0-309364e4b3c2",
      "name": "Preparar Cierre WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1e3ef7a9-4c74-44ae-be63-0f894fa31df3",
      "name": "¿Email Válido WA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -112,
        192
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Email",
              "lookupValue": "={{ $('Preparar Cierre WA').first().json.email }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "f6773a8c-cb06-4d91-97c9-0571bd640579",
      "name": "Buscar Cliente WA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4cd5f7a0-ec91-409f-9a2c-ac3e0d53a466",
      "name": "¿Cliente Existe WA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        336,
        112
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Preparar Cierre WA').first().json.email }}",
        "subject": "ACTIVACIÓN DE CUPO: Firma y Reserva - NEXUS",
        "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Nexus Scale</title></head><body style=\"margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;background:#f8f8f8;\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\"><tr><td align=\"center\" style=\"padding:40px 20px;\"><table width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#fff;border-radius:12px;border:1px solid rgba(139,0,0,0.15);\"><tr><td align=\"center\" style=\"padding:50px 50px 30px;\"><img src=\"https://i.imgur.com/eIFLGFn.png\" alt=\"Nexus\" style=\"max-height:80px;\"></td></tr><tr><td style=\"padding:0 50px;\"><div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.2),transparent);\"></div></td></tr><tr><td align=\"center\" style=\"padding:40px 50px 20px;\"><p style=\"font-size:11px;color:#b33a3a;letter-spacing:4px;margin:0 0 16px;font-weight:600;text-transform:uppercase;\">Caso de Éxito Fundador</p><h1 style=\"font-size:36px;font-weight:300;letter-spacing:4px;margin:0 0 12px;color:#1a1a1a;\">CONFIRMA TU PLAZA</h1><p style=\"font-size:13px;color:#888;letter-spacing:3px;margin:0;\">Nexus Scale</p></td></tr><tr><td style=\"padding:30px 50px;\"><p style=\"font-size:16px;line-height:1.8;margin:0;color:#2a2a2a;\">Para hacer oficial tu plaza como <strong>Caso de Éxito Fundador</strong>, completa estos dos pasos:</p></td></tr><tr><td style=\"padding:20px 50px;\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#f8f0f0;border:1px solid rgba(139,0,0,0.2);border-radius:16px;\"><tr><td style=\"padding:36px;\"><span style=\"display:inline-block;padding:4px 10px;background:rgba(139,0,0,0.15);border-radius:4px;font-size:9px;color:#b33a3a;font-weight:600;letter-spacing:1px;text-transform:uppercase;margin-bottom:12px;\">Obligatorio</span><h3 style=\"font-weight:500;font-size:22px;margin:0 0 16px;color:#1a1a1a;\">01 · Firma Digital del Contrato</h3><p style=\"font-size:15px;line-height:1.7;margin:0 0 24px;color:#2a2a2a;\">Revisa y firma el acuerdo de servicio. Sistema seguro 100% en línea.</p><a href=\"{{ $('Preparar Cierre WA').item.json.powerFormLink }}\" style=\"display:inline-block;padding:15px 32px;background:linear-gradient(135deg,#8B0000,#6a0000);border-radius:10px;color:#fff;text-decoration:none;font-size:14px;font-weight:500;letter-spacing:1px;\">FIRMAR CONTRATO</a></td></tr></table></td></tr><tr><td style=\"padding:16px 50px 30px;\"><table width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#fafafa;border:1px solid #e5e5e5;border-radius:16px;\"><tr><td style=\"padding:36px;\"><h3 style=\"font-weight:500;font-size:22px;margin:0 0 16px;color:#1a1a1a;\">02 · Reserva de Cupo</h3><p style=\"font-size:15px;line-height:1.7;margin:0 0 24px;color:#2a2a2a;\">Depósito de <strong>$500 USD</strong> para bloquear tu lugar en la agenda.</p><a href=\"{{ $('Preparar Cierre WA').item.json.paypalLink }}\" style=\"display:inline-block;padding:15px 32px;background:rgba(139,0,0,0.06);border:1px solid rgba(139,0,0,0.2);border-radius:10px;color:#b33a3a;text-decoration:none;font-size:14px;font-weight:500;letter-spacing:1px;\">RESERVAR CUPO</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:30px 50px 50px;\"><p style=\"font-size:16px;color:#888;margin:0 0 12px;\">Completa ambos pasos hoy.</p><p style=\"font-size:24px;letter-spacing:2px;margin:0;color:#1a1a1a;font-weight:300;\">Nos vemos dentro.</p></td></tr></table></td></tr></table></body></html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "0159f648-203d-4738-84b9-61a6c964cecf",
      "name": "Enviar Email WA",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        64
      ],
      "alwaysOutputData": true,
      "webhookId": "660e8629-770d-4884-b0e3-81427506b6db",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Preparar Cierre WA').first().json.email }}",
            "DocuSign Link": "={{ $('Preparar Cierre WA').first().json.powerFormLink }}",
            "PayPal Link": "={{ $('Preparar Cierre WA').first().json.paypalLink }}",
            "Gmail Enviado #1 (Timestamp)": "=true"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "1622c95f-f295-4af6-8dbc-e865099dc0b1",
      "name": "Actualizar CRM WA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        784,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══ 📋 SET CIERRE WA CALLBACK — Normaliza para XUS Begin ═══\n\nlet clientEmail = '';\nlet clientName  = '';\n\ntry { clientEmail = $('Preparar Cierre WA').first().json.email || ''; } catch(e) {}\ntry { clientName  = $('Buscar Cliente WA').first().json.Nombre || clientEmail; } catch(e) {}\n\nconst text =\n  `✅ *Protocolo de Cierre Enviado*\\n\\n` +\n  `👤 *${clientName}*\\n` +\n  `📧 ${clientEmail}\\n\\n` +\n  `📬 El cliente recibió:\\n` +\n  `• Contrato para firmar\\n` +\n  `• Link de pago PayPal\\n\\n` +\n  `⏳ Esperando firma y pago...`;\n\nconst toolResponse = `Cierre enviado a ${clientName} (${clientEmail})`;\n\nreturn [{ json: {\n  text, textResponse: text, toolResponse,\n  channel: 'whatsapp',\n  userPhone: '573124348669',\n  userName: 'Santiago',\n  messageId: 'CIERRE_WA_' + Date.now(),\n  chatId: '573124348669',\n  remoteJid: '573124348669@s.whatsapp.net',\n  messageType: 'conversation',\n  'message.chat.id': '573124348669',\n  'message.text': text\n}}];"
      },
      "id": "d1741a61-0080-4ff7-aa95-35d34372517a",
      "name": "📋 Set Cierre WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══ ⚠️ Error WA ═══\nconst d = $input.first().json;\nconst text = d.errorText || '❌ Hubo un error procesando el cierre.';\nreturn [{ json: {\n  textResponse: text,\n  toolResponse: d.toolResponse || 'Error en cierre WA',\n  channel: 'whatsapp',\n  userPhone: '573124348669',\n  userName: 'Santiago',\n  messageId: 'ERR_WA_' + Date.now(),\n  chatId: '573124348669',\n  remoteJid: '573124348669@s.whatsapp.net',\n  messageType: 'conversation',\n  'message.chat.id': '573124348669',\n  'message.text': text\n}}];"
      },
      "id": "162c5239-77e2-4894-92cf-7fcb53d24915",
      "name": "⚠️ Error WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "/cerrar",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Comando Cerrar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query?.data }}",
                    "rightValue": "CLOSE_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Callback Close"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query?.data }}",
                    "rightValue": "NAV_PAGE_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Navegación"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query?.data }}",
                    "rightValue": "CANCEL_CLOSE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "c46a479e-6e63-4ecf-b16b-0de7826e34b7",
      "name": "Router Comandos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -336,
        848
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Estado",
              "lookupValue": "Nuevo"
            }
          ]
        },
        "options": {}
      },
      "id": "fa5b108f-afc1-45a8-aaaf-b9b3d4197b9b",
      "name": "Obtener Leads Nuevos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -112,
        496
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Estado",
              "lookupValue": "Pendiente Firma y Pago"
            }
          ]
        },
        "options": {}
      },
      "id": "3cbe80f4-0c62-4028-83bc-6dcda7c7dab2",
      "name": "Obtener Leads Pendientes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -112,
        688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst LEADS_PER_PAGE = 8;\nconst triggerData = $('Telegram Trigger').item.json;\nconst chatId = triggerData.message?.chat?.id || triggerData.callback_query?.message?.chat?.id;\nconst messageId = triggerData.callback_query?.message?.message_id;\nconst isCallback = !!triggerData.callback_query;\nlet currentPage = 0;\nconst callbackData = triggerData.callback_query?.data || '';\nif (callbackData.startsWith('NAV_PAGE_')) { currentPage = parseInt(callbackData.replace('NAV_PAGE_', '')) || 0; }\nconst validItems = items.filter(item => item.json && !item.json.isEmpty && item.json.Email && item.json.Email.toString().trim() !== '');\nif (validItems.length === 0) { return [{ json: { hasLeads: false, chatId, messageId, isCallback, text: '📭 *No hay leads pendientes de cerrar*\\n\\nTodos los leads han sido procesados.\\n\\n━━━━━━━━━━━━━━━━━━━━━━\\n💡 Usa /cerrar para refrescar', reply_markup: { inline_keyboard: [[{ text: '🔄 Refrescar', callback_data: 'NAV_PAGE_0' }]] } } }]; }\nconst totalPages = Math.ceil(validItems.length / LEADS_PER_PAGE);\nconst safeCurrentPage = Math.min(Math.max(0, currentPage), totalPages - 1);\nconst startIdx = safeCurrentPage * LEADS_PER_PAGE;\nconst endIdx = Math.min(startIdx + LEADS_PER_PAGE, validItems.length);\nconst pageItems = validItems.slice(startIdx, endIdx);\nconst inlineKeyboard = [];\npageItems.forEach(item => { const nombre = (item.json.Nombre || 'Sin nombre').substring(0, 22); const email = item.json.Email || ''; const estado = item.json.Estado || 'Nuevo'; const emoji = estado === 'Nuevo' ? '🆕' : '⏳'; inlineKeyboard.push([{ text: `${emoji} ${nombre}`, callback_data: `CLOSE_${email}` }]); });\nif (totalPages > 1) { const navRow = []; if (safeCurrentPage > 0) { navRow.push({ text: '⬅️ Anterior', callback_data: `NAV_PAGE_${safeCurrentPage - 1}` }); } navRow.push({ text: `📄 ${safeCurrentPage + 1}/${totalPages}`, callback_data: 'NAV_INFO' }); if (safeCurrentPage < totalPages - 1) { navRow.push({ text: 'Siguiente ➡️', callback_data: `NAV_PAGE_${safeCurrentPage + 1}` }); } inlineKeyboard.push(navRow); }\ninlineKeyboard.push([{ text: '❌ Cancelar', callback_data: 'CANCEL_CLOSE' }]);\nconst text = `🎯 *LEADS LISTOS PARA CERRAR*\\n━━━━━━━━━━━━━━━━━━━━━━\\n\\n📊 Total: *${validItems.length}* lead(s)${totalPages > 1 ? `\\n📄 Página *${safeCurrentPage + 1}* de *${totalPages}*` : ''}\\n\\n👆 Selecciona un lead:\\n━━━━━━━━━━━━━━━━━━━━━━`;\nreturn [{ json: { hasLeads: true, chatId, messageId, isCallback, text, reply_markup: { inline_keyboard: inlineKeyboard }, totalLeads: validItems.length, currentPage: safeCurrentPage, totalPages } }];"
      },
      "id": "dabca7d4-bda7-475f-a1cd-4486d30631bb",
      "name": "Generar Menú",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        592
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isCallback }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "870c74bd-d29d-44d6-93d0-6bdaeb2da7c5",
      "name": "¿Editar o Enviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"message_id\": {{ $json.messageId }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {{ JSON.stringify($json.reply_markup) }}\n}",
        "options": {}
      },
      "id": "b4834bdc-ec61-4756-9b11-de49d6d749cc",
      "name": "Editar Menú (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {{ JSON.stringify($json.reply_markup) }}\n}",
        "options": {}
      },
      "id": "e99d990d-a25b-4e7f-b32e-c783e0f840e0",
      "name": "Enviar Menú (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $json.callback_query.id }}\",\n  \"text\": \"⏳ Procesando...\",\n  \"show_alert\": false\n}",
        "options": {}
      },
      "id": "7d6c6349-184f-40f1-9ce0-e0279c5e2c3a",
      "name": "Notificar Procesando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Telegram Trigger').item ? $('Telegram Trigger').item.json : {};\nconst callbackData = input.callback_query?.data || '';\nconst chatId = input.callback_query?.message?.chat?.id;\nconst messageId = input.callback_query?.message?.message_id;\nconst callbackQueryId = input.callback_query?.id;\nconst userName = input.callback_query?.from?.first_name || 'Agente';\nconst email = callbackData.replace('CLOSE_', '').trim();\nconst emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\nconst isValidEmail = emailRegex.test(email);\nif (!isValidEmail) { return [{ json: { isValid: false, error: true, errorMessage: `❌ *Error de Validación*\\n\\nEmail no válido: \\`${email || '(vacío)'}\\`\\n\\nUsa /cerrar para reintentar.`, chatId, messageId, callbackQueryId } }]; }\nconst timestamp = Date.now();\nconst secureToken = Buffer.from(`${email}:${timestamp}`).toString('base64').substring(0, 16);\nconst tokenEncoded = encodeURIComponent(secureToken);\nconst n8nBaseUrl = 'https://nexusys.duckdns.org';\nconst powerFormLink = `${n8nBaseUrl}/webhook/contrato?email=${encodeURIComponent(email)}&token=${tokenEncoded}&ts=${timestamp}`;\nconst paypalLink = `https://www.paypal.com/ncp/payment/CT7PSNJHMUFHC?ref=${tokenEncoded}`;\nreturn [{ json: { isValid: true, error: false, email, chatId, messageId, callbackQueryId, userName, powerFormLink, paypalLink, secureToken, timestamp: new Date().toISOString() } }];"
      },
      "id": "51363b1b-ef49-456d-8774-dd3f5132e7b2",
      "name": "Parsear Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9516e282-4e5d-4931-be2a-8845f9352daf",
      "name": "¿Email Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        336,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chatId }},\n  \"message_id\": {{ $json.messageId }},\n  \"text\": {{ JSON.stringify($json.errorMessage) }},\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "aac030f7-d443-4953-9823-ef2210b9ea42",
      "name": "Notificar Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        1072
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "client-email",
              "name": "clientEmail",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "client-chat-id",
              "name": "clientChatId",
              "value": "={{ $json.chatId }}",
              "type": "number"
            },
            {
              "id": "client-message-id",
              "name": "clientMessageId",
              "value": "={{ $json.messageId }}",
              "type": "number"
            },
            {
              "id": "docusign-link",
              "name": "docusignLink",
              "value": "={{ $json.docusignLink }}",
              "type": "string"
            },
            {
              "id": "paypal-link",
              "name": "paypalLink",
              "value": "={{ $json.paypalLink }}",
              "type": "string"
            },
            {
              "id": "secure-token",
              "name": "secureToken",
              "value": "={{ $json.secureToken }}",
              "type": "string"
            },
            {
              "id": "agent-name",
              "name": "agentName",
              "value": "={{ $json.userName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a4d2cbf6-3d86-4973-be76-6e830ee03bcf",
      "name": "Variables Globales",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.clientChatId }},\n  \"message_id\": {{ $json.clientMessageId }},\n  \"text\": \"⏳ *PROCESANDO CIERRE...*\\n━━━━━━━━━━━━━━━━━━━━━━\\n\\n📧 Cliente: `{{ $json.clientEmail }}`\\n\\n🔄 Buscando datos...\\n📝 Preparando contrato...\\n💳 Generando link de pago...\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "bb8a5a92-bd59-4aa4-92e8-501ba522064f",
      "name": "Mostrar Procesando",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        880
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Email",
              "lookupValue": "={{ $('Variables Globales').item.json.clientEmail }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "fe42dd5c-70fb-469e-b4e4-6617e07bb245",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1008,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "52fe9913-d469-4839-99c9-f1ec8206466b",
      "name": "¿Cliente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1232,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Variables Globales').item.json.clientChatId }},\n  \"message_id\": {{ $('Variables Globales').item.json.clientMessageId }},\n  \"text\": \"⚠️ *CLIENTE NO ENCONTRADO*\\n━━━━━━━━━━━━━━━━━━━━━━\\n\\n📧 Email: `{{ $('Variables Globales').item.json.clientEmail }}`\\n\\n❌ No existe en la base de datos.\\n\\n💡 Usa /cerrar para ver leads actuales\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "1bc7679b-b0cd-482f-808c-276c33d998d4",
      "name": "Cliente No Encontrado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": \"{{ $json.callback_query.id }}\",\n  \"text\": \"❌ Operación cancelada\",\n  \"show_alert\": false\n}",
        "options": {}
      },
      "id": "12ce2236-52dc-4afe-b671-c06d3c20ec02",
      "name": "Answer Cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8586605885:AAGZzHX-71r1D6n7OXST6PEoLBAULdqA2aw/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $('Telegram Trigger').item.json.callback_query.message.chat.id }},\n  \"message_id\": {{ $('Telegram Trigger').item.json.callback_query.message.message_id }},\n  \"text\": \"❌ *Operación Cancelada*\\n━━━━━━━━━━━━━━━━━━━━━━\\n\\nNingún cambio realizado.\\n\\n💡 Usa /cerrar para volver\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [{ \"text\": \"🔄 Volver al menú\", \"callback_data\": \"NAV_PAGE_0\" }]\n    ]\n  }\n}",
        "options": {}
      },
      "id": "5a0f8775-705f-4a35-9b34-c9c19d0e6e91",
      "name": "Cancelar Operación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1168
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Variables Globales').item.json.clientEmail }}",
        "subject": "ACTIVACIÓN DE CUPO: Firma y Reserva - NEXUS",
        "message": "=<!DOCTYPE html><html><body>Email TG</body></html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8c8fc229-6656-4c0d-b3db-858b64ee3153",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1456,
        784
      ],
      "alwaysOutputData": true,
      "webhookId": "67801875-735d-4904-adb1-cedcf77d9cfc",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        592
      ],
      "id": "fc280ad6-084c-4adc-af7e-cbdcf2fc30e2",
      "name": "Smart Merge Leads"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "DocuSign Link": "={{ $('Parsear Callback').item.json.powerFormLink }}",
            "PayPal Link": "={{ $('Parsear Callback').item.json.paypalLink }}",
            "Gmail Enviado #1 (Timestamp)": "={{ $('Parsear Callback').item.json.isValid }}",
            "Email": "={{ $('Variables Globales').item.json.clientEmail }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "1635dff7-d12e-4888-aff0-238ea52505af",
      "name": "Actualizar CRM1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1680,
        784
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Notificar Procesando').item.json.clientChatId }}",
        "text": "=🔔 *NOTIFICACIÓN DE CIERRE*\n━━━━━━━━━━━━━━━━━━━━━━\n\n🎉 Se ha enviado el protocolo de cierre a:\n\n👤 {{ $('Buscar Cliente').item.json.Nombre }}\n📧 `{{ $('Variables Globales').item.json.clientEmail }}`\n\n📬 El cliente ha recibido:\n• Contrato para firmar\n• Link de pago\n\n⏳ Esperando respuesta del cliente...",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "ceb07311-c6cb-4566-b2d2-518473988c01",
      "name": "Notificación Extra1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        880
      ],
      "webhookId": "a4ef180e-fbdb-4d1f-89dd-0b7412a48507",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══ 📋 SET CIERRE CALLBACK (Telegram) — Normaliza para XUS Begin ═══\n\nlet clientEmail = '';\nlet clientName  = '';\n\ntry { clientEmail = $('Variables Globales').first().json.clientEmail || ''; } catch(e) {}\ntry { clientName  = $('Buscar Cliente').first().json.Nombre || clientEmail; } catch(e) {}\n\nconst text =\n  `✅ *Protocolo de Cierre Enviado*\\n\\n` +\n  `👤 *${clientName}*\\n` +\n  `📧 ${clientEmail}\\n\\n` +\n  `📬 El cliente recibió:\\n` +\n  `• Contrato para firmar\\n` +\n  `• Link de pago PayPal\\n\\n` +\n  `⏳ Esperando firma y pago...`;\n\nconst toolResponse = `Cierre enviado a ${clientName} (${clientEmail})`;\n\nreturn [{ json: {\n  text, textResponse: text, toolResponse,\n  channel: 'whatsapp',\n  userPhone: '573124348669',\n  userName: 'Santiago',\n  messageId: 'CIERRE_TG_' + Date.now(),\n  chatId: '573124348669',\n  remoteJid: '573124348669@s.whatsapp.net',\n  messageType: 'conversation',\n  'message.chat.id': '573124348669',\n  'message.text': text\n}}];"
      },
      "id": "233de060-e74c-4e28-8ce4-dc724e5121b8",
      "name": "📋 Set Cierre Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        688
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        560,
        -224
      ],
      "id": "a0b0de34-8d3c-4f28-8be3-fc22fac30af4",
      "name": "XUS Begin (WA Lista)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        64
      ],
      "id": "60adf005-ac7f-4d97-a0e4-1f2cd1e5f3d7",
      "name": "XUS Begin (WA Cerrar)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2128,
        688
      ],
      "id": "3cc4a394-fa2d-463e-8679-8a9ae7c50538",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        288
      ],
      "id": "1603627c-26c3-4a7c-9051-4fd7f8ef67d5",
      "name": "XUS Begin (WA Error)"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "🔀 Detector de Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Detector de Canal": {
      "main": [
        [
          {
            "node": "🔀 Switch Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Switch Canal": {
      "main": [
        [
          {
            "node": "📋 Read Nuevos WA",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Read Pendientes WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Cierre WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router Comandos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Nuevos WA": {
      "main": [
        [
          {
            "node": "🔗 Merge WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Pendientes WA": {
      "main": [
        [
          {
            "node": "🔗 Merge WA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔗 Merge WA": {
      "main": [
        [
          {
            "node": "📝 Format Lista WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Format Lista WA": {
      "main": [
        [
          {
            "node": "📤 Output Lista WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Output Lista WA": {
      "main": [
        [
          {
            "node": "XUS Begin (WA Lista)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Cierre WA": {
      "main": [
        [
          {
            "node": "¿Email Válido WA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Email Válido WA?": {
      "main": [
        [
          {
            "node": "Buscar Cliente WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Error WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente WA": {
      "main": [
        [
          {
            "node": "¿Cliente Existe WA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cliente Existe WA?": {
      "main": [
        [
          {
            "node": "Enviar Email WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Error WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email WA": {
      "main": [
        [
          {
            "node": "Actualizar CRM WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar CRM WA": {
      "main": [
        [
          {
            "node": "📋 Set Cierre WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Cierre WA": {
      "main": [
        [
          {
            "node": "XUS Begin (WA Cerrar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Error WA": {
      "main": [
        [
          {
            "node": "XUS Begin (WA Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Comandos": {
      "main": [
        [
          {
            "node": "Obtener Leads Nuevos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Leads Pendientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Procesando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Leads Nuevos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Leads Pendientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Leads Nuevos": {
      "main": [
        [
          {
            "node": "Smart Merge Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Leads Pendientes": {
      "main": [
        [
          {
            "node": "Smart Merge Leads",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Smart Merge Leads": {
      "main": [
        [
          {
            "node": "Generar Menú",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Menú": {
      "main": [
        [
          {
            "node": "¿Editar o Enviar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Editar o Enviar?": {
      "main": [
        [
          {
            "node": "Editar Menú (API)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Menú (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Procesando": {
      "main": [
        [
          {
            "node": "Parsear Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Callback": {
      "main": [
        [
          {
            "node": "¿Email Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Email Válido?": {
      "main": [
        [
          {
            "node": "Variables Globales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables Globales": {
      "main": [
        [
          {
            "node": "Mostrar Procesando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mostrar Procesando": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "¿Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cliente Existe?": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cliente No Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email": {
      "main": [
        [
          {
            "node": "Actualizar CRM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar CRM1": {
      "main": [
        [
          {
            "node": "Notificación Extra1",
            "type": "main",
            "index": 0
          },
          {
            "node": "📋 Set Cierre Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Set Cierre Callback": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Cancel": {
      "main": [
        [
          {
            "node": "Cancelar Operación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4aabfea8-bc55-4308-9991-bd2b69a37a61",
  "meta": {
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "DGli855Fd4CJvzp8",
  "tags": []
}