home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER BUSSINES/XUS Data Core & Intelligence v2.0.json
{
  "name": "XUS Data Core & Intelligence v2.0",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "2401e20e-7940-4a9b-88be-9ac469167b36",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2288,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst query      = (input.query || input.message || input.text || '').trim();\nconst chatId     = (input.chatId || input.chat_id || '').toString();\nconst params     = input.params || {};\nconst leadName   = (input.lead_name   || params.lead_name   || '').trim();\nconst leadStatus = (input.lead_status || params.lead_status || '').trim();\nconst value      = input.value || params.value || null;\nconst date       = input.date  || params.date  || null;\nconst sheet      = input.sheet || params.sheet || null;\n\nconst now  = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst dd   = String(now.getDate()).padStart(2, '0');\nconst mm   = String(now.getMonth() + 1).padStart(2, '0');\nconst yyyy = now.getFullYear();\nconst today = `${dd}/${mm}/${yyyy}`;   // SIEMPRE DD/MM/YYYY → \"20/02/2026\"\nconst hour  = String(now.getHours()).padStart(2,'0') + ':' + String(now.getMinutes()).padStart(2,'0');\nconst month = now.toLocaleString('es-CO', { month: 'long' });\nconst sheetMonth = month.charAt(0).toUpperCase() + month.slice(1) + ' ' + yyyy;\n\nreturn { json: {\n  query, chatId, params, leadName, leadStatus, value, date, sheet,\n  today, hour, month, year: yyyy, sheetMonth\n}};"
      },
      "id": "4d7eed00-b866-4ed7-8e11-4a0ac9a5b50c",
      "name": "📦 Parser1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\nreturn { json: { query: p.query, chatId: p.chatId, today: p.today, hour: p.hour, sheetMonth: p.sheetMonth, leadName: p.leadName, leadStatus: p.leadStatus, value: p.value, date: p.date }};"
      },
      "id": "ce79cbd7-fb06-4952-8d8f-36e0df3e9809",
      "name": "📊 Prep Clasificador1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        672
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MENSAJE DE SANTIAGO:\n\"{{ $json.query }}\"\n\nFECHA: {{ $json.today }} | HORA: {{ $json.hour }}\nMES ACTUAL: {{ $json.sheetMonth }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🧠 XUS SHEETS CLASIFICADOR v4.0\n═══════════════════════════════════════════════════════════\nRESPONDE SOLO JSON PURO. Sin ```. Primera { última }\n\n═══ REGLA DE ORO ═══\nProtocolos → SOLO LECTURA. JAMÁS escribir.\nOnboarding → SOLO LECTURA excepto si Santiago dice explícitamente\n             \"registra\", \"agrega manualmente\", \"no quiso agendar por Calendly\"\n             → entonces: add_onboarding\n\n═══ ACCIONES ═══\n\nESCRITURA Registro 2026:\n  write_kpi → métrica del día (Registro 2026)\n\nESCRITURA Agendados/LEADS:\n  add_agendado    → nuevo lead entra al pipeline\n  update_agendado → actualizar lead (cierre, ingreso, no cierre)\n\nESCRITURA Onboarding (SOLO si Santiago lo pide manualmente):\n  add_onboarding → registrar cliente que no agendó por Calendly\n                   SOLO si dice: \"registra manualmente\", \"agrégalo al onboarding\",\n                   \"no quiso agendar por el link\", \"lo agendé yo directo\"\n\nLECTURA:\n  read_kpis       → KPIs Registro 2026 hoy\n  read_pipeline   → Agendados/LEADS completo\n  query_revenue   → ingresos y cierres\n  read_protocols  → Protocolos (SOLO lectura)\n  read_onboarding → Onboarding (SOLO lectura)\n  read_nexus      → leads_master Nexus\n\n═══ COLUMNAS REGISTRO 2026 (write_kpi) ═══\n\"Chats Iniciados en Instagram\" → \"X leads/chats/mensajes/contacté X\"\n\"Respuestas\"                   → \"me contestó X / X respuestas / uno contestoo\"\n\"Agendados\"                    → \"agendé X llamadas / X agendados\" (número)\n\"Detalles de Agendados\"        → \"agendé a [nombre]\" (texto)\n\"Seguimientos\"                 → \"X seguimientos / follow ups\"\n\"Registrados\"                  → \"registré X / X registrados\"\n\"Por Registrar\"                → \"faltan X por registrar\"\n\"Por Contestar\"                → \"X por contestar\"\n\"Meta de Mensajes\"             → \"la meta es X / meta para hoy X\"\n\"Faltan/Estado\"                → \"estado: [texto]\"\n\n═══ COLUMNAS AGENDADOS/LEADS ═══\nFecha de Contacto | Nombre | Enlace Recurso Enviado | Agendado |\nHora de Agendamiento | Fecha de Agendamiento | Link de la Reunion |\nNicho | Detalles | Cerrado | No cerrado | Ingresa ($) |\nCorreo Electrónico | Número Telefónico\n\nTRIGGERS add_agendado: \"agendé llamada con [nombre]\", \"nueva llamada\", \"registra agendado\", \"entra al pipeline\"\nTRIGGERS update_agendado: \"[nombre] cerró / pagó X / no cerró / abandonó\"\n\n═══ COLUMNAS ONBOARDING (add_onboarding) ═══\nID (auto) | Nombre | Email | Teléfono | Fuente | Tipo de Evento |\nFecha Evento (UTC) | Fecha Evento (America/Bogota) | Calendly Link |\nEstado | DocuSign Link | PayPal Link | Telegram Notificado (Y/N) |\nGmail Enviado #1 | Gmail Enviado #2 | Firma Verificada (Y/N) |\nPago Verificado (Y/N) | Fecha Activación | Asignado (Rep) |\nPróxima Acción | Recordatorio (Fecha) | Notas\n\nTRIGGERS add_onboarding: \"registra manualmente en onboarding\", \"agrégalo al onboarding\",\n\"no quiso agendar por Calendly\", \"lo agendé yo directo\", \"registra este cliente\"\n\n═══ OUTPUT JSON ═══\n{\n  \"action\": \"write_kpi|add_agendado|update_agendado|add_onboarding|read_kpis|read_pipeline|query_revenue|read_protocols|read_onboarding|read_nexus\",\n  \"sheet_system\": \"tracking|nexus\",\n  \"sheet_name\": \"nombre exacto hoja\",\n  \"params\": {\n    \"field\": \"columna exacta (write_kpi)\",\n    \"value\": número o texto,\n    \"nombre\": \"nombre del lead\",\n    \"nicho\": \"nicho\",\n    \"hora\": \"hora HH:MM AM/PM\",\n    \"fecha_agendamiento\": \"DD/MM/YYYY\",\n    \"detalles\": \"texto\",\n    \"enlace_recurso\": \"url\",\n    \"correo\": \"email\",\n    \"telefono\": \"número\",\n    \"fuente\": \"Instagram|WhatsApp|Referido|etc\",\n    \"cerrado\": true o false,\n    \"ingreso\": número,\n    \"motivo_no_cierre\": \"motivo\",\n    \"datos_completos\": true si tiene todos los datos para onboarding\n  },\n  \"intent_description\": \"descripción breve\",\n  \"confidence\": \"high|medium|low\"\n}"
        }
      },
      "id": "9a817686-9b1c-4b64-a513-f5284a919a7a",
      "name": "🧠 Agente Clasificador1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1616,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🔗 BRIDGE v4.0\nconst agentRaw = $input.first().json;\nconst parser   = $('📦 Parser1').first().json;\n\nlet ai = {};\ntry {\n  let text = agentRaw.text || agentRaw.output || agentRaw.message || '';\n  if (typeof text === 'object') { ai = text; }\n  else {\n    text = text.replace(/[`]{3}json\\s*/gi,'').replace(/[`]{3}\\s*/gi,'').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) ai = JSON.parse(m[0]);\n  }\n} catch(e) { ai = { action: 'read_kpis' }; }\n\nconst p = ai.params || {};\n\nreturn [{ json: {\n  action:             ai.action || 'read_kpis',\n  sheet_system:       ai.sheet_system || 'tracking',\n  sheet_name:         ai.sheet_name || 'Registro 2026',\n  intent_description: ai.intent_description || '',\n  confidence:         ai.confidence || 'medium',\n  // write_kpi\n  field:    p.field || '',\n  value:    p.value ?? null,\n  // agendados\n  nombre:            p.nombre || parser.leadName || '',\n  nicho:             p.nicho || '',\n  hora:              p.hora || '',\n  fechaAgendamiento: p.fecha_agendamiento || parser.today,\n  detalles:          p.detalles || '',\n  enlaceRecurso:     p.enlace_recurso || '',\n  correo:            p.correo || '',\n  telefono:          p.telefono || '',\n  fuente:            p.fuente || 'Manual',\n  cerrado:           p.cerrado ?? null,\n  ingreso:           p.ingreso ?? null,\n  motivoNoCierre:    p.motivo_no_cierre || '',\n  // onboarding\n  datosCompletos:    p.datos_completos ?? false,\n  // contexto\n  query:   parser.query,\n  chatId:  parser.chatId,\n  today:   parser.today,\n  hour:    parser.hour,\n  Fecha:   parser.today\n}}];"
      },
      "id": "eed5343e-f093-4c51-b596-899b237b3f6e",
      "name": "🔗 Bridge1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        672
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_kpis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f67e8f9d-a003-4be6-9fd7-87867e335d72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_kpis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "write_kpi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5ed7c89-dc07-4ab3-9589-779424275dc3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "write_kpi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_pipeline",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8ddeae42-96f6-44b5-af6b-f97bf449d276"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_pipeline"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "query_revenue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bd5bca19-b4c1-4682-b94d-d7a6d0e839ea"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "query_revenue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_leads",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74426efa-57f5-4292-a5c9-084f4af216d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_leads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ac54fd4b-dab8-4687-93e5-1a693477aee0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_protocols",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b2bb5fc6-9bef-4414-8bc2-ae708b3798d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_protocols"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_nexus",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "776c5129-4d78-4def-9f97-19a76f05bbc4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_nexus"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_agendado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5f2a978-ae90-4e1a-8ca0-7ee71f3f352d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_agendado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update_agendado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "98b88c99-11a2-433e-a5cc-b4532fb11ab6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update_agendado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read_onboarding",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f8a42715-4eee-47b1-9a03-53836dcb2786"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read_onboarding"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_onboarding",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a9a17719-68df-47d8-85aa-c19b9e4e142d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add_onboarding"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6ff39cef-9886-4818-922c-2105af422f63",
      "name": "🔀 Router de Acciones1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -976,
        496
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842852902,
          "mode": "list",
          "cachedResultName": "Registro 2026"
        },
        "options": {}
      },
      "id": "e3a1d18c-2070-4d6d-ba95-265d1ff25f5f",
      "name": "📋 Read KPIs Registro1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        -496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔥 MEGA PREP WRITE v4.0 — DEFINITIVO\n// Salida: EXACTAMENTE 2 keys → { Fecha: \"DD/MM/YYYY\", [Columna]: valor }\n// autoMapInputData escribirá solo esas 2 celdas. Nada más.\n\nconst b = $('🔗 Bridge1').first().json;\n\n// ── Fecha en formato EXACTO del sheet: DD/MM/YYYY ──────────────────\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst dd   = String(now.getDate()).padStart(2, '0');\nconst mm   = String(now.getMonth() + 1).padStart(2, '0');\nconst yyyy = now.getFullYear();\nconst fechaHoy = `${dd}/${mm}/${yyyy}`;  // → \"20/02/2026\"\n\n// ── Columnas válidas (títulos EXACTOS B4:N4) ───────────────────────\nconst COLUMNAS_VALIDAS = new Set([\n  'Meta de Mensajes',\n  'Chats Iniciados en Instagram',\n  'Faltan/Estado',\n  'Respuestas',\n  'Registrados',\n  'Por Registrar',\n  'Por Contestar',\n  'Seguimientos',\n  'Tasa de Resp.',\n  'Agendados',\n  'Tasa de Mensaje a Llamada',\n  'Detalles de Agendados'\n]);\n\n// ── Keywords → Columna exacta ─────────────────────────────────────\n// Orden: de más específico a menos específico\nconst KEYWORDS = [\n  // Por Registrar (va antes de Registrad para evitar falsos positivos)\n  { k: 'por registrar',               col: 'Por Registrar' },\n  { k: 'faltan',                      col: 'Por Registrar' },\n  { k: 'falta registrar',             col: 'Por Registrar' },\n  // Por Contestar\n  { k: 'por contestar',               col: 'Por Contestar' },\n  { k: 'pendiente',                   col: 'Por Contestar' },\n  { k: 'falta contestar',             col: 'Por Contestar' },\n  // Chats Iniciados\n  { k: 'chat',                        col: 'Chats Iniciados en Instagram' },\n  { k: 'inicié',                      col: 'Chats Iniciados en Instagram' },\n  { k: 'inicie',                      col: 'Chats Iniciados en Instagram' },\n  { k: 'contacté',                    col: 'Chats Iniciados en Instagram' },\n  { k: 'contacte',                    col: 'Chats Iniciados en Instagram' },\n  { k: 'mandé',                       col: 'Chats Iniciados en Instagram' },\n  { k: 'mande',                       col: 'Chats Iniciados en Instagram' },\n  { k: 'envié',                       col: 'Chats Iniciados en Instagram' },\n  { k: 'envie',                       col: 'Chats Iniciados en Instagram' },\n  { k: 'mensajes',                    col: 'Chats Iniciados en Instagram' },\n  { k: 'leads contactados',           col: 'Chats Iniciados en Instagram' },\n  // Respuestas (contest van antes de registr)\n  { k: 'contestó',                    col: 'Respuestas' },\n  { k: 'contesto',                    col: 'Respuestas' },\n  { k: 'contest',                     col: 'Respuestas' },\n  { k: 'respuest',                    col: 'Respuestas' },\n  { k: 'respondier',                  col: 'Respuestas' },\n  { k: 'respondio',                   col: 'Respuestas' },\n  { k: 'respondió',                   col: 'Respuestas' },\n  { k: 'me contestaron',              col: 'Respuestas' },\n  // Registrados\n  { k: 'registré',                    col: 'Registrados' },\n  { k: 'registre',                    col: 'Registrados' },\n  { k: 'registrado',                  col: 'Registrados' },\n  { k: 'registré',                    col: 'Registrados' },\n  // Detalles agendados (nombre = texto, va antes de \"agend\" numérico)\n  { k: 'detalle',                     col: 'Detalles de Agendados' },\n  { k: 'agendé a',                    col: 'Detalles de Agendados' },\n  { k: 'agende a',                    col: 'Detalles de Agendados' },\n  { k: 'nota:',                       col: 'Detalles de Agendados' },\n  // Agendados numérico\n  { k: 'agendé',                      col: 'Agendados' },\n  { k: 'agende',                      col: 'Agendados' },\n  { k: 'agendad',                     col: 'Agendados' },\n  { k: 'cita',                        col: 'Agendados' },\n  { k: 'llamada',                     col: 'Agendados' },\n  // Seguimientos\n  { k: 'seguimient',                  col: 'Seguimientos' },\n  { k: 'follow',                      col: 'Seguimientos' },\n  { k: 'seguí',                       col: 'Seguimientos' },\n  { k: 'segui',                       col: 'Seguimientos' },\n  // Meta\n  { k: 'meta',                        col: 'Meta de Mensajes' },\n  // Estado\n  { k: 'estado',                      col: 'Faltan/Estado' },\n];\n\n// ── Normalizar texto (quitar tildes, minúsculas) ──────────────────\nconst norm = (s) => String(s || '').toLowerCase()\n  .normalize('NFD').replace(/[̀-ͯ]/g, '');\n\n// ── Resolver columna ──────────────────────────────────────────────\nlet columna = '';\n\n// 1. El Clasificador dio un nombre válido → usarlo directo\nif (b.field && COLUMNAS_VALIDAS.has(b.field)) {\n  columna = b.field;\n}\n\n// 2. El Clasificador dio nombre inválido o vacío → buscar en query\nif (!columna) {\n  const q = norm(b.query);\n  for (const { k, col } of KEYWORDS) {\n    if (q.includes(norm(k))) {\n      columna = col;\n      break;\n    }\n  }\n}\n\n// 3. Sin columna → lanzar error descriptivo\nif (!columna) {\n  throw new Error(\n    '❌ No identifiqué qué columna actualizar.\\n' +\n    'Sé más específico, por ejemplo:\\n' +\n    '• \"registra 15 chats\"\\n' +\n    '• \"me contestó 1\"\\n' +\n    '• \"agendé 2 llamadas\"\\n' +\n    '• \"hice 5 seguimientos\"'\n  );\n}\n\n// ── Resolver valor ────────────────────────────────────────────────\nlet valor = b.value;\n\n// Si el Clasificador no pasó valor, extraerlo del query\nif (valor === null || valor === undefined || valor === '') {\n  const match = (b.query || '').match(/\\d+/);\n  valor = match ? parseInt(match[0]) : null;\n}\n\n// Convertir a número (excepto columnas de texto)\nconst COLUMNAS_TEXTO = new Set(['Detalles de Agendados', 'Faltan/Estado']);\nif (!COLUMNAS_TEXTO.has(columna) && valor !== null) {\n  const num = parseFloat(String(valor));\n  if (!isNaN(num)) valor = num;\n}\n\nif (valor === null || valor === undefined) {\n  throw new Error(\n    `❌ No encontré el valor para escribir en \"${columna}\".\\n` +\n    'Dime el número, por ejemplo: \"me contestó 1\", \"agendé 2\"'\n  );\n}\n\n// ── OUTPUT FINAL: EXACTAMENTE 2 KEYS ─────────────────────────────\n// autoMapInputData del Write KPI escribirá SOLO estas 2 celdas\nconst out = {};\nout['Fecha'] = fechaHoy;\nout[columna] = valor;\n\nreturn [{ json: out }];"
      },
      "id": "6729274a-f1df-4983-821a-784710a84572",
      "name": "🔥 Mega Prep Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1842852902,
          "mode": "list",
          "cachedResultName": "Registro 2026"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meta de Mensajes",
              "displayName": "Meta de Mensajes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Chats Iniciados en Instagram",
              "displayName": "Chats Iniciados en Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Faltan/Estado",
              "displayName": "Faltan/Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Respuestas",
              "displayName": "Respuestas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Registrados",
              "displayName": "Registrados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Por Registrar",
              "displayName": "Por Registrar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Por Contestar",
              "displayName": "Por Contestar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Seguimientos",
              "displayName": "Seguimientos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Tasa de Resp.",
              "displayName": "Tasa de Resp.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Agendados",
              "displayName": "Agendados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Tasa de Mensaje a Llamada",
              "displayName": "Tasa de Mensaje a Llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Detalles de Agendados",
              "displayName": "Detalles de Agendados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 4,
              "firstDataRow": 5
            }
          }
        }
      },
      "id": "f1b29e36-1e0a-49db-af7d-d372eae20c30",
      "name": "✏️ Write KPI Registro1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agendados/LEADS",
          "mode": "name"
        },
        "options": {}
      },
      "id": "7b6fb78b-c3c3-4984-85d6-4e60547b7dad",
      "name": "🎯 Read Pipeline1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        -112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agendados/LEADS",
          "mode": "name"
        },
        "options": {}
      },
      "id": "9fb4c4ff-8ada-4146-af49-b9b8e4c512b3",
      "name": "💰 Query Revenue1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        80
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "list",
          "cachedResultName": "Leads Extraccion Automatica"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Extraidos A. ",
          "mode": "name"
        },
        "options": {}
      },
      "id": "29aefeb5-ab85-417e-b164-1e4867a821b2",
      "name": "🔍 Read Leads Alta Prioridad1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        944
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bWSOK-B6hdb4N03nFEcu_DIgO8rVUs28f4TqMqmzoIo",
          "mode": "list",
          "cachedResultName": "Leads Extraccion Automatica"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads Extraidos A. ",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('🔗 Bridge1').first().json.leadName || 'Lead Prospectado' }}",
            "Instagram": "={{ $('🔗 Bridge1').first().json.rawValue || '' }}",
            "Contactado": "FALSE",
            "Usuario/Linkedln": "={{ $('🔗 Bridge1').first().json.rawValue || '' }}",
            "Prioridad": "={{ $('🔗 Bridge1').first().json.priority || 'Alta' }}",
            "Tipo_Lead": "Manual/Externo"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "=USER_ENTERED"
        }
      },
      "id": "2d5d722e-94b7-4aab-b07b-93cef17386c3",
      "name": "➕ Add Lead1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1617417182,
          "mode": "list",
          "cachedResultName": "Protocolos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit#gid=1617417182"
        },
        "options": {}
      },
      "id": "d4b8b3fb-cc6e-4407-8975-5b93f04ca36f",
      "name": "📑 Read Protocolos1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        1520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA",
          "mode": "list",
          "cachedResultName": "Nexus_Outreach_System_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads_master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jRC7Gbs98sbyXQCCcglpM_MrQmFPwpQ3oYEo7C806QA/edit#gid=0"
        },
        "options": {}
      },
      "id": "b3d59f1a-5d35-4524-a087-bd9258101fc0",
      "name": "🌐 Read Nexus Master1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        1712
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 📊 RESPONSE BUILDER v4.0 — XUS Sheets\nconst bridge = $('🔗 Bridge1').first().json;\nlet items = [];\ntry { items = $input.all(); } catch(e) {}\nconst action = bridge.action;\n\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst dd = String(now.getDate()).padStart(2,'0');\nconst mm = String(now.getMonth()+1).padStart(2,'0');\nconst fechaHoy = `${dd}/${mm}/${now.getFullYear()}`;\n\nconst normFecha = (f) => {\n  if (!f) return '';\n  const parts = String(f).trim().split('/');\n  if (parts.length === 3) return parts[0].padStart(2,'0')+'/'+parts[1].padStart(2,'0')+'/'+parts[2];\n  return String(f).trim();\n};\n\nlet structuredData = {}, summary = '';\n\ntry {\n  switch(action) {\n\n    case 'read_kpis': {\n      const rows = items.map(i => i.json).filter(r => r && r['Fecha']);\n      const todayRow = rows.find(r => normFecha(r['Fecha']) === fechaHoy) || {};\n      const encontrado = !!todayRow['Fecha'];\n      const meta        = parseInt(todayRow['Meta de Mensajes'] || 80);\n      const chats       = parseInt(todayRow['Chats Iniciados en Instagram'] || 0);\n      const respuestas  = parseInt(todayRow['Respuestas'] || 0);\n      const seguimientos= parseInt(todayRow['Seguimientos'] || 0);\n      const agendados   = parseInt(todayRow['Agendados'] || 0);\n      const porContestar= parseInt(todayRow['Por Contestar'] || 0);\n      const porRegistrar= parseInt(todayRow['Por Registrar'] || 0);\n      const registrados = parseInt(todayRow['Registrados'] || 0);\n      const tasa        = chats > 0 ? ((respuestas/chats)*100).toFixed(1) : '0.0';\n      const pctMeta     = meta  > 0 ? ((chats/meta)*100).toFixed(0) : '0';\n      structuredData = { fecha: fechaHoy, encontrado, meta, chats, respuestas, seguimientos, agendados, porContestar, porRegistrar, registrados, tasa, pctMeta, detalles: todayRow['Detalles de Agendados'] || '' };\n      summary = encontrado\n        ? `KPIs ${fechaHoy}: ${chats}/${meta} chats (${pctMeta}% meta) | Respuestas: ${respuestas} | Tasa: ${tasa}% | Agendados: ${agendados} | Seguimientos: ${seguimientos} | Por Contestar: ${porContestar}`\n        : `⚠️ No encontré fila para (${fechaHoy}). Filas: ${rows.length}. Última: ${normFecha(rows[rows.length-1]?.['Fecha']||'')}`;\n      break;\n    }\n\n    case 'write_kpi': {\n      structuredData = { success: true, field: bridge.field, value: bridge.value, date: fechaHoy };\n      summary = `✅ \"${bridge.field}\" = ${bridge.value} → ${fechaHoy}`;\n      break;\n    }\n\n    case 'add_agendado': {\n      structuredData = { added: true, nombre: bridge.nombre, nicho: bridge.nicho, fecha: bridge.fechaAgendamiento, hora: bridge.hora };\n      summary = `✅ Pipeline: \"${bridge.nombre}\" | ${bridge.nicho || 'Sin nicho'} | ${bridge.fechaAgendamiento} ${bridge.hora}`;\n      break;\n    }\n\n    case 'update_agendado': {\n      const tipo = bridge.cerrado === true ? '🎉 CIERRE' : bridge.cerrado === false ? '❌ NO CIERRE' : '📝 UPDATE';\n      structuredData = { updated: true, nombre: bridge.nombre, cerrado: bridge.cerrado, ingreso: bridge.ingreso, motivo: bridge.motivoNoCierre };\n      summary = bridge.cerrado === true\n        ? `${tipo}: \"${bridge.nombre}\" cerró ✅ | $${bridge.ingreso || 0}`\n        : bridge.cerrado === false\n        ? `${tipo}: \"${bridge.nombre}\" — ${bridge.motivoNoCierre}`\n        : `📝 \"${bridge.nombre}\" actualizado`;\n      break;\n    }\n\n    case 'add_onboarding': {\n      const item = items[0]?.json || {};\n      structuredData = { added: true, id: item['ID'], nombre: item['Nombre'], estado: item['Estado'] };\n      summary = `✅ Onboarding: \"${item['Nombre']}\" registrado | ID: ${item['ID']} | Estado: Nuevo`;\n      break;\n    }\n\n    case 'read_pipeline': {\n      const rows = items.map(i => i.json).filter(r => r && r['Nombre']);\n      const total     = rows.length;\n      const cerrados  = rows.filter(r => String(r['Cerrado']).toUpperCase() === 'TRUE').length;\n      const agendadosP= rows.filter(r => String(r['Agendado']).toUpperCase() === 'TRUE').length;\n      const pendientes= total - cerrados;\n      const ingresoTotal = rows\n        .filter(r => String(r['Cerrado']).toUpperCase() === 'TRUE')\n        .reduce((s,r) => s+(parseFloat(String(r['Ingresa ($)']||'0').replace(/[^0-9.]/g,''))||0), 0);\n      const recientes = rows.slice(-8).reverse().map(r => ({\n        nombre: r['Nombre'], nicho: r['Nicho']||'',\n        agendado: String(r['Agendado']).toUpperCase()==='TRUE',\n        cerrado: String(r['Cerrado']).toUpperCase()==='TRUE',\n        ingreso: parseFloat(String(r['Ingresa ($)']||'0').replace(/[^0-9.]/g,''))||0,\n        fecha: normFecha(r['Fecha de Agendamiento']||r['Fecha de Contacto']||''),\n        hora: r['Hora de Agendamiento']||'',\n        detalle: r['Detalles']||'',\n        noCierre: r['No cerrado']||''\n      }));\n      structuredData = { total, cerrados, agendadosP, pendientes, ingresoTotal, recientes };\n      summary = `Pipeline: ${total} leads | ${agendadosP} agendados | ${cerrados} cerrados | ${pendientes} pendientes | $${ingresoTotal.toLocaleString()}`;\n      break;\n    }\n\n    case 'query_revenue': {\n      const rows = items.map(i => i.json).filter(r => r && r['Nombre']);\n      const cerrados = rows.filter(r => String(r['Cerrado']).toUpperCase() === 'TRUE');\n      const total    = cerrados.reduce((s,r) => s+(parseFloat(String(r['Ingresa ($)']||'0').replace(/[^0-9.]/g,''))||0), 0);\n      const pct      = ((total/100000)*100).toFixed(1);\n      const faltante = Math.max(0, 100000-total);\n      const nichos   = {};\n      cerrados.forEach(r => { if(r['Nicho']) nichos[r['Nicho']]=(nichos[r['Nicho']]||0)+1; });\n      structuredData = { total, count: cerrados.length, pct, faltante, nichos };\n      summary = `💰 Revenue: $${total.toLocaleString()} (${pct}% de $100K) | Faltan: $${faltante.toLocaleString()} | ${cerrados.length} cierres`;\n      break;\n    }\n\n    case 'read_protocols': {\n      const rows = items.map(i => i.json).filter(r => r && r['LeadID']);\n      const byStatus = {};\n      rows.forEach(r => { const s=r['Estado']||'Sin estado'; byStatus[s]=(byStatus[s]||0)+1; });\n      const topScored = rows\n        .filter(r => r['Score'])\n        .sort((a,b) => parseFloat(b.Score||0)-parseFloat(a.Score||0))\n        .slice(0,5)\n        .map(r => ({ id: r['LeadID'], nombre: r['Nombre'], dolor: r['DolorPrincipal'], score: r['Score'], categoria: r['Categoria'], facturacion: r['Facturacion'] }));\n      structuredData = { total: rows.length, byStatus, topScored };\n      summary = `Protocolos: ${rows.length} leads | ${JSON.stringify(byStatus)} | Top leads: ${topScored.map(l=>l.nombre+' ('+l.score+')').join(', ')}`;\n      break;\n    }\n\n    case 'read_onboarding': {\n      const rows = items.map(i => i.json).filter(r => r && r['ID']);\n      const pagados   = rows.filter(r => r['Pago Verificado (Y/N)'] === 'Y').length;\n      const firmados  = rows.filter(r => r['Firma Verificada (Y/N)'] === 'Y').length;\n      const sinFirma  = rows.filter(r => r['Firma Verificada (Y/N)'] !== 'Y').length;\n      const recientes = rows.slice(-5).map(r => ({\n        id: r['ID'], nombre: r['Nombre'], estado: r['Estado'],\n        accion: r['Próxima Acción'], recordatorio: r['Recordatorio (Fecha)'],\n        notas: r['Notas'], firma: r['Firma Verificada (Y/N)'], pago: r['Pago Verificado (Y/N)']\n      }));\n      structuredData = { total: rows.length, pagados, firmados, sinFirma, recientes };\n      summary = `Onboarding: ${rows.length} clientes | ${pagados} pagados | ${firmados} con firma | ${sinFirma} sin firma`;\n      break;\n    }\n\n    case 'read_nexus': {\n      const rows = items.map(i => i.json).filter(r => r&&(r['business_name']||r['name']||r['nombre']));\n      const t1=rows.filter(r=>r['tier']==='TIER 1').length;\n      const t2=rows.filter(r=>r['tier']==='TIER 2').length;\n      const t3=rows.filter(r=>r['tier']==='TIER 3').length;\n      structuredData = { total: rows.length, tier1:t1, tier2:t2, tier3:t3,\n        top10: rows.filter(r=>r['tier']==='TIER 1').slice(0,10).map(r=>({\n          nombre: r['business_name']||r['name']||r['nombre'],\n          rating: r['rating'], reviews: r['reviews_count'], notas: r['notas_investigacion']\n        }))\n      };\n      summary = `Nexus: ${rows.length} total | TIER 1: ${t1} | TIER 2: ${t2} | TIER 3: ${t3}`;\n      break;\n    }\n\n    default:\n      summary = `Acción \"${action}\" procesada.`;\n  }\n} catch(e) {\n  summary = '❌ Error: ' + e.message;\n  structuredData = { error: true, message: e.message, action };\n}\n\nreturn [{ json: {\n  action, intent_description: bridge.intent_description,\n  query: bridge.query, chatId: bridge.chatId,\n  today: fechaHoy, hour: bridge.hour,\n  summary, data: structuredData, confidence: bridge.confidence\n}}];"
      },
      "id": "44b0f447-4e23-403d-82df-182ef806ffed",
      "name": "📊 Response Builder1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        608
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ACCIÓN EJECUTADA: {{ $json.action }}\nINTENCIÓN: {{ $json.intent_description }}\nCONFIANZA: {{ $json.confidence }}\n\nRESUMEN:\n{{ $json.summary }}\n\nDATA:\n{{ JSON.stringify($json.data, null, 2) }}\n\nPREGUNTA: \"{{ $json.query }}\"\nHORA: {{ $json.hour }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════\n🎯 XUS SHEETS RESPONDEDOR v1.0\n═══════════════════════════════════════════════════════════\n\nMISIÓN: Transformar datos de Google Sheets en respuesta con voz de XUS.\nNUNCA retransmitas datos crudos. Interpreta. Conecta. Empuja hacia $100K.\n\n• Markdown Telegram: *negrita* _cursiva_\n• Máximo 15 líneas. Termina con acción o pregunta.\n• Usa \"Arquitecto\", \"Santi\", \"crack\" con intención.\n\nWRITE_KPI → Confirma + contexto del número (ej: '50 chats = 62% de tu meta de 80')\nREAD_KPIS → Número clave primero + interpretación + qué falta\nQUERY_REVENUE → vs $100K siempre. ¿En qué ritmo vas?\nREAD_PIPELINE → cerrados vs pendientes + empuje\nUPDATE_LEAD → confirmación + siguiente paso\nREAD_LEADS → top 3-5 + '¿A cuál atacas primero?'\n\nOUTPUT JSON puro. Sin ```. Primera línea: { Última línea: }\n{\n  \"textResponse\": \"respuesta Markdown Telegram\",\n  \"toolResponse\": \"resumen 1 línea para orquestador\"\n}"
        }
      },
      "id": "872010e9-ebaa-4eb1-b35f-c186da8d0290",
      "name": "🎭 Agente Respondedor1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst builder = $('📊 Response Builder1').first().json;\n\nlet final;\ntry {\n  let text = raw.text || raw.output || raw.message || '';\n  if (typeof text === 'object' && text.textResponse) { final = text; }\n  else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/[`]{3}json\\s*/gi, '').replace(/[`]{3}\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) final = JSON.parse(m[0]); else throw new Error('No JSON');\n  }\n} catch(e) {\n  final = { textResponse: `✅ Procesado\\n\\n${builder.summary || 'Acción ejecutada.'}`, toolResponse: builder.summary || 'Sheets actualizado' };\n}\n\nreturn [{ json: { textResponse: final.textResponse || builder.summary, toolResponse: final.toolResponse || 'Sheets procesado', action: builder.action, data: builder.data, chatId: builder.chatId, success: true }}];"
      },
      "id": "9874d863-c546-4b3c-8c1b-c479b380d6f7",
      "name": "📤 Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🔥 MEGA PREP AGENDADO v1.0\n// Para add_agendado: construye fila completa lista para append\n// Para update_agendado: construye objeto de actualización con matching por Nombre\n\nconst b = $('🔗 Bridge1').first().json;\nconst action = b.action;\n\n// Fecha exacta DD/MM/YYYY\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst dd = String(now.getDate()).padStart(2,'0');\nconst mm = String(now.getMonth()+1).padStart(2,'0');\nconst fechaHoy = `${dd}/${mm}/${now.getFullYear()}`;\n\nif (action === 'add_agendado') {\n  // Construir fila nueva — todos los campos de Agendados/LEADS\n  if (!b.nombre) {\n    throw new Error('❌ Necesito el nombre del lead para agregarlo al pipeline.');\n  }\n  return [{ json: {\n    'Fecha de Contacto':    fechaHoy,\n    'Nombre':               b.nombre,\n    'Enlace Recurso Enviado': b.enlaceRecurso || '',\n    'Agendado':             'TRUE',\n    'Hora de Agendamiento': b.hora || '',\n    'Fecha de Agendamiento':b.fechaAgendamiento || fechaHoy,\n    'Link de la Reunion':   '',\n    'Nicho':                b.nicho || '',\n    'Detalles':             b.detalles || '',\n    'Cerrado':              'FALSE',\n    'No cerrado':           '',\n    'Ingresa ($)':          '',\n    'Correo Electrónico':   b.correo || '',\n    'Número Telefónico':    b.telefono || ''\n  }}];\n}\n\nif (action === 'update_agendado') {\n  // Actualización: solo campos que cambian + Nombre para el match\n  if (!b.nombre) {\n    throw new Error('❌ Necesito el nombre del lead para actualizar.');\n  }\n  const update = { 'Nombre': b.nombre };\n\n  if (b.cerrado === true) {\n    update['Cerrado'] = 'TRUE';\n    update['No cerrado'] = '';\n    if (b.ingreso !== null && b.ingreso !== undefined) {\n      update['Ingresa ($)'] = b.ingreso;\n    }\n  } else if (b.cerrado === false) {\n    update['Cerrado'] = 'FALSE';\n    update['No cerrado'] = b.motivoNoCierre || 'No cerrado';\n  }\n\n  if (b.ingreso !== null && b.ingreso !== undefined && b.cerrado === null) {\n    update['Ingresa ($)'] = b.ingreso;\n  }\n\n  return [{ json: update }];\n}\n\n// Fallback — no debería llegar aquí\nreturn [{ json: { _skip: true } }];"
      },
      "id": "eef615a3-4b9d-4873-8936-386076f9a5e8",
      "name": "🔥 Mega Prep Agendado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        368
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agendados/LEADS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha de Contacto",
              "displayName": "Fecha de Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enlace Recurso Enviado",
              "displayName": "Enlace Recurso Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Agendado",
              "displayName": "Agendado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Hora de Agendamiento",
              "displayName": "Hora de Agendamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Fecha de Agendamiento",
              "displayName": "Fecha de Agendamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Link de la Reunion",
              "displayName": "Link de la Reunion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Nicho",
              "displayName": "Nicho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Detalles",
              "displayName": "Detalles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Cerrado",
              "displayName": "Cerrado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "No cerrado",
              "displayName": "No cerrado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Ingresa ($)",
              "displayName": "Ingresa ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Correo Electrónico",
              "displayName": "Correo Electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Número Telefónico",
              "displayName": "Número Telefónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "2f3f9ea3-ed53-49b2-8fd2-2ed955a25ddb",
      "name": "➕ Add Agendado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        272
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": "Agendados/LEADS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cerrado",
              "displayName": "Cerrado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "No cerrado",
              "displayName": "No cerrado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Ingresa ($)",
              "displayName": "Ingresa ($)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "06d7fd73-7490-4c51-a382-7688e7f70834",
      "name": "✏️ Update Agendado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        464
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit#gid=1597764051"
        },
        "options": {}
      },
      "id": "1e19b2bb-6c02-420d-8d5a-84cd09245fde",
      "name": "📋 Read Onboarding",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        752
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔥 MEGA PREP ONBOARDING v1.0\n// Genera ID tipo NX-XXXXXXXX, valida datos obligatorios\n// Si faltan datos → lanza error descriptivo pidiendo la info\n\nconst b = $('🔗 Bridge1').first().json;\n\n// ── Generar ID estilo NX-ML7XXXXX ────────────────────────────────\nconst chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\nconst rand = (n) => Array.from({length: n}, () => chars[Math.floor(Math.random()*chars.length)]).join('');\nconst nuevoID = `NX-${rand(8)}-${rand(6)}`;\n\n// ── Fecha/hora actuales ───────────────────────────────────────────\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst dd  = String(now.getDate()).padStart(2,'0');\nconst mm  = String(now.getMonth()+1).padStart(2,'0');\nconst yyyy = now.getFullYear();\nconst fechaHoy = `${dd}/${mm}/${yyyy}`;\nconst fechaUTC = now.toISOString();\nconst fechaBogota = now.toLocaleDateString('es-CO', { \n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  hour: '2-digit', minute: '2-digit', timeZone: 'America/Bogota'\n});\n\n// ── Validar campos obligatorios ──────────────────────────────────\nconst faltantes = [];\nif (!b.nombre)   faltantes.push('*Nombre completo*');\nif (!b.correo)   faltantes.push('*Email*');\nif (!b.telefono) faltantes.push('*Teléfono*');\nif (!b.fuente)   faltantes.push('*Fuente* (Instagram, WhatsApp, Referido...)');\n\nif (faltantes.length > 0) {\n  throw new Error(\n    `📋 Para registrar en Onboarding necesito:\\n${faltantes.join('\\n')}\\n\\nDime estos datos y lo registro de inmediato.`\n  );\n}\n\n// ── Construir fila completa ───────────────────────────────────────\nreturn [{ json: {\n  'ID':                          nuevoID,\n  'Nombre':                      b.nombre,\n  'Email':                       b.correo,\n  'Teléfono':                    b.telefono,\n  'Fuente':                      b.fuente || 'Manual/XUS',\n  'Tipo de Evento':              'Sesión de Diagnostico',\n  'Fecha Evento (UTC)':          fechaUTC,\n  'Fecha Evento (America/Bogota)': fechaBogota,\n  'Calendly Link':               '',\n  'Estado':                      'Nuevo',\n  'DocuSign Link':               '',\n  'PayPal Link':                 '',\n  'Telegram Notificado (Y/N)':   'N',\n  'Gmail Enviado #1 (Timestamp)':'',\n  'Gmail Enviado #2 (Timestamp)':'',\n  'Firma Verificada (Y/N)':      'N',\n  'Pago Verificado (Y/N)':       'N',\n  'Fecha Activación':            '',\n  'Asignado (Rep)':              'Santiago',\n  'Próxima Acción':              'Agendar seguimiento',\n  'Recordatorio (Fecha)':        '',\n  'Notas':                       b.detalles || '🌡️ WARM LEAD | Registrado manualmente por XUS'\n}}];"
      },
      "id": "be067220-8495-4983-bdab-1ffdcf70c06d",
      "name": "🔥 Mega Prep Onboarding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": "Onboarding",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Tipo de Evento",
              "displayName": "Tipo de Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Fecha Evento (UTC)",
              "displayName": "Fecha Evento (UTC)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Fecha Evento (America/Bogota)",
              "displayName": "Fecha Evento (America/Bogota)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Calendly Link",
              "displayName": "Calendly Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Telegram Notificado (Y/N)",
              "displayName": "Telegram Notificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Gmail Enviado #2 (Timestamp)",
              "displayName": "Gmail Enviado #2 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Firma Verificada (Y/N)",
              "displayName": "Firma Verificada (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Pago Verificado (Y/N)",
              "displayName": "Pago Verificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Fecha Activación",
              "displayName": "Fecha Activación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Asignado (Rep)",
              "displayName": "Asignado (Rep)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Próxima Acción",
              "displayName": "Próxima Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Recordatorio (Fecha)",
              "displayName": "Recordatorio (Fecha)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "31a49e72-b1a5-40ae-924e-7af973d5f0bf",
      "name": "➕ Add Onboarding",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -464,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "1dfe70e7-46d6-4264-ba0d-d9c7ef5a69a8",
      "name": "⏰ Auto Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2288,
        2096
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🔀 Determinar origen y tipo de análisis\n */\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst dayOfMonth = now.getDate();\nconst dayOfWeek = now.getDay();\nconst isSunday = dayOfWeek === 0;\nconst isFirstOfMonth = dayOfMonth === 1;\n\nlet source = 'manual';\nlet query = 'reporte de hoy';\nlet autoAction = 'none';\n\ntry {\n  const triggerData = $('When Executed by Another Workflow').first().json;\n  query = triggerData.query || triggerData.chatInput || triggerData.message?.text || 'reporte de hoy';\n  source = 'cerebro';\n} catch(e) {\n  source = 'schedule';\n  if (isFirstOfMonth) {\n    query = 'análisis mensual completo del mes anterior';\n    autoAction = 'create_monthly_sheet';\n  } else if (isSunday) {\n    query = 'análisis semanal detallado';\n    autoAction = 'weekly_report';\n  } else {\n    query = 'reporte diario';\n    autoAction = 'daily_report';\n  }\n}\n\nreturn [{\n  json: {\n    query,\n    source,\n    autoAction,\n    isFirstOfMonth,\n    isSunday,\n    dayOfMonth,\n    dayOfWeek,\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "697f06f9-ec5a-4470-9fd1-3a38191871c8",
      "name": "🔀 Detectar Origen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * ═══════════════════════════════════════════════════════════════════════════\n * 🔧 XUS MATH ENGINE v5.0 UNIFIED — HÁBITOS + PROYECTOS + REVENUE\n * ═══════════════════════════════════════════════════════════════════════════\n * \n * FUSIÓN DEFINITIVA:\n * - Hábitos en tiempo real (Google Sheets)\n * - Proyectos y metas (Notion)\n * - Cálculos de revenue, momentum, rachas\n * - Contexto completo para el Agente Analista\n * \n * ═══════════════════════════════════════════════════════════════════════════\n */\n\n// ═══════════════════════════════════════════════════════════════════════════\n// FUENTES DE DATOS\n// ═══════════════════════════════════════════════════════════════════════════\n\n// Hábitos desde Sheets (nodo anterior al Notion)\nconst allItems = $('📊 Leer Hábitos1').all();\n\n// Proyectos desde Notion (input directo)\nlet notionItems = [];\ntry { notionItems = $input.all(); } catch(e) {}\n\n// Origen de la consulta\nlet originData = {};\ntry { originData = $('🔀 Detectar Origen').first().json; } catch(e) {\n  try { originData = $('When Executed by Another Workflow').first().json; } catch(e2) {\n    originData = { query: 'reporte de hoy', source: 'manual', autoAction: 'none' };\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// CONFIGURACIÓN TEMPORAL (Bogotá)\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\nconst todayNum = now.getDate();\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\nconst currentTimeDecimal = currentHour + (currentMinute / 60);\nconst dayOfWeek = now.getDay();\nconst isSunday = dayOfWeek === 0;\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nconst monthNames = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst dayNames = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];\nconst currentMonth = monthNames[now.getMonth()];\nconst prevMonth = monthNames[now.getMonth() === 0 ? 11 : now.getMonth() - 1];\nconst currentYear = now.getFullYear();\nconst hh = String(currentHour).padStart(2, '0');\nconst mm = String(currentMinute).padStart(2, '0');\n\n// ═══════════════════════════════════════════════════════════════════════════\n// DEFINICIÓN DE HÁBITOS CON HORARIOS Y PESOS\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst HABITS_CONFIG = [\n  // MATUTINO (rows 10-14)\n  { row: 10, name: 'Despertar 5:50 a.m. ⛳',     category: 'matutino', deadline: 6.0,  weight: 8,  revenueImpact: 0.05, blockOrder: 1 },\n  { row: 11, name: '100 Push Ups 💪',              category: 'matutino', deadline: 6.5,  weight: 7,  revenueImpact: 0.03, blockOrder: 2 },\n  { row: 12, name: 'Cold Shower 🐋',               category: 'matutino', deadline: 7.0,  weight: 7,  revenueImpact: 0.03, blockOrder: 3 },\n  { row: 13, name: 'English Class 🎯',             category: 'matutino', deadline: 8.0,  weight: 6,  revenueImpact: 0.04, blockOrder: 4 },\n  { row: 14, name: 'Escritura Metas X10 🌬',       category: 'matutino', deadline: 8.0,  weight: 8,  revenueImpact: 0.05, blockOrder: 5 },\n\n  // BUSINESS (rows 15-21)\n  { row: 15, name: 'Deep Work 50 Leads 📈',        category: 'business', deadline: 12.0, weight: 10, revenueImpact: 0.15, blockOrder: 6 },\n  { row: 16, name: 'Search 300 Leads 📈',          category: 'business', deadline: 13.0, weight: 10, revenueImpact: 0.15, blockOrder: 7 },\n  { row: 17, name: 'Segunda Ronda 30 Leads ⚡',    category: 'business', deadline: 14.0, weight: 9,  revenueImpact: 0.12, blockOrder: 8 },\n  { row: 18, name: 'Gestión de Respuestas 🧨',     category: 'business', deadline: 15.0, weight: 9,  revenueImpact: 0.10, blockOrder: 9 },\n  { row: 19, name: 'Create Carpets 🗂️',           category: 'business', deadline: 16.0, weight: 5,  revenueImpact: 0.03, blockOrder: 10 },\n  { row: 20, name: 'Registro de Leads C. 🐱‍👓',   category: 'business', deadline: 16.5, weight: 6,  revenueImpact: 0.05, blockOrder: 11 },\n  { row: 21, name: 'Role Play Guión H.T 🐱‍🏍',    category: 'business', deadline: 17.0, weight: 8,  revenueImpact: 0.08, blockOrder: 12 },\n\n  // CIERRE (rows 22-27)\n  { row: 22, name: 'Recarga Analógica 🐱‍👤',      category: 'cierre',   deadline: 19.0, weight: 6,  revenueImpact: 0.02, blockOrder: 13 },\n  { row: 23, name: 'Auditoría Exp vs Real 🟡',     category: 'cierre',   deadline: 20.0, weight: 8,  revenueImpact: 0.04, blockOrder: 14 },\n  { row: 24, name: 'Planeación 🐇',                category: 'cierre',   deadline: 20.5, weight: 9,  revenueImpact: 0.06, blockOrder: 15 },\n  { row: 25, name: 'Lectura El Príncipe 🎯',       category: 'cierre',   deadline: 21.0, weight: 5,  revenueImpact: 0.02, blockOrder: 16 },\n  { row: 26, name: 'Routine Face 🧥',              category: 'cierre',   deadline: 21.3, weight: 4,  revenueImpact: 0.01, blockOrder: 17 },\n  { row: 27, name: 'Ir a Cama 9:40 p.m. ♣',       category: 'cierre',   deadline: 21.67, weight: 7, revenueImpact: 0.03, blockOrder: 18 }\n];\n\nconst TOTAL_WEIGHT = HABITS_CONFIG.reduce((s, h) => s + h.weight, 0);\nconst MONTHLY_REVENUE_TARGET = 100000;\nconst DAILY_REVENUE_VALUE = MONTHLY_REVENUE_TARGET / 30;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// BLOQUES HORARIOS\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst BLOCKS = [\n  { name: '🌙 MADRUGADA',   start: 0,    end: 5.83,  emoji: '🌙', energy: 'baja' },\n  { name: '⛳ ARRANQUE',     start: 5.83, end: 8,     emoji: '⛳', energy: 'activación' },\n  { name: '🔥 DEEP WORK',   start: 8,    end: 12,    emoji: '🔥', energy: 'máxima' },\n  { name: '⚡ EJECUCIÓN',   start: 12,   end: 15,    emoji: '⚡', energy: 'alta' },\n  { name: '📊 CIERRE OPS',  start: 15,   end: 18,    emoji: '📊', energy: 'media-alta' },\n  { name: '🌅 TRANSICIÓN',  start: 18,   end: 20,    emoji: '🌅', energy: 'media' },\n  { name: '🌙 CIERRE DÍA',  start: 20,   end: 22,    emoji: '🌙', energy: 'baja' },\n  { name: '😴 DESCANSO',    start: 22,   end: 24,    emoji: '😴', energy: 'recuperación' }\n];\n\nconst currentBlock = BLOCKS.find(b => currentTimeDecimal >= b.start && currentTimeDecimal < b.end) || BLOCKS[BLOCKS.length - 1];\n\n// ═══════════════════════════════════════════════════════════════════════════\n// VALIDACIÓN DE COMPLETITUD\n// ═══════════════════════════════════════════════════════════════════════════\n\nfunction isComplete(v) {\n  if (!v) return false;\n  if (v === true || v === 1 || v === '1') return true;\n  const n = String(v).trim().toUpperCase();\n  return ['TRUE','VERDADERO','SI','SÍ','X','COMPLETO','✓','✔','1'].includes(n);\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// FASE 1: PROCESAR MATRIZ DE HÁBITOS (SHEETS)\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst colKeys = allItems.length > 0 ? Object.keys(allItems[0].json) : [];\nconst matrix = {};\n\nfor (let d = 1; d <= Math.min(todayNum, 31); d++) {\n  const dk = colKeys.find(k => k.trim() === String(d));\n  if (!dk) continue;\n  matrix[d] = { done: 0, total: 0, habits: [], weightedScore: 0, maxWeight: 0, revenueProtected: 0, revenueLost: 0 };\n\n  allItems.forEach(item => {\n    const r = item.json;\n    const config = HABITS_CONFIG.find(h => h.row === r.row_number);\n    if (!config) return;\n\n    const completed = isComplete(r[dk]);\n    matrix[d].total++;\n    matrix[d].maxWeight += config.weight;\n\n    if (completed) {\n      matrix[d].done++;\n      matrix[d].weightedScore += config.weight;\n      matrix[d].revenueProtected += config.revenueImpact * DAILY_REVENUE_VALUE;\n    } else {\n      matrix[d].revenueLost += config.revenueImpact * DAILY_REVENUE_VALUE;\n    }\n\n    matrix[d].habits.push({\n      name: config.name, completed, row: r.row_number,\n      category: config.category, deadline: config.deadline,\n      weight: config.weight, revenueImpact: config.revenueImpact,\n      blockOrder: config.blockOrder,\n      isPastDeadline: d === todayNum ? currentTimeDecimal > config.deadline : true,\n      isLost: d === todayNum ? (currentTimeDecimal > config.deadline && !completed) : !completed\n    });\n  });\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// CÁLCULOS EN TIEMPO REAL (HOY)\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst today = matrix[todayNum] || { done: 0, total: 0, habits: [], weightedScore: 0, maxWeight: 0 };\n\nconst habitsShouldBeDone = today.habits.filter(h => h.isPastDeadline);\nconst habitsLost = today.habits.filter(h => h.isLost);\nconst habitsCompleted = today.habits.filter(h => h.completed);\nconst habitsPending = today.habits.filter(h => !h.completed && !h.isPastDeadline);\n\nconst expectedDoneCount = habitsShouldBeDone.length;\nconst actualDoneFromExpected = habitsShouldBeDone.filter(h => h.completed).length;\nconst realtimeRate = expectedDoneCount > 0 ? Math.round((actualDoneFromExpected / expectedDoneCount) * 100) : 100;\n\nconst totalDayPct = today.total > 0 ? Math.round((today.done / today.total) * 100) : 0;\nconst weightedPct = today.maxWeight > 0 ? Math.round((today.weightedScore / today.maxWeight) * 100) : 0;\n\nconst potentialMax = today.done + habitsPending.length;\nconst projectedPct = today.total > 0 ? Math.round((potentialMax / today.total) * 100) : 0;\n\nconst lostRevenueToday = habitsLost.reduce((s, h) => s + (h.revenueImpact * DAILY_REVENUE_VALUE), 0);\nconst protectedRevenueToday = habitsCompleted.reduce((s, h) => s + (h.revenueImpact * DAILY_REVENUE_VALUE), 0);\nconst pendingRevenueToday = habitsPending.reduce((s, h) => s + (h.revenueImpact * DAILY_REVENUE_VALUE), 0);\n\nconst hoursLeft = Math.max(0, 21.67 - currentTimeDecimal);\nconst habitsPerHour = hoursLeft > 0 ? (habitsPending.length / hoursLeft).toFixed(1) : 'N/A';\n\n// ═══════════════════════════════════════════════════════════════════════════\n// CÁLCULOS DEL MES\n// ═══════════════════════════════════════════════════════════════════════════\n\nlet monthDone = 0, monthTotal = 0, monthWeighted = 0, monthMaxWeight = 0;\nlet monthRevenueLost = 0, monthRevenueProtected = 0;\n\nObject.values(matrix).forEach(day => {\n  monthDone += day.done;\n  monthTotal += day.total;\n  monthWeighted += day.weightedScore;\n  monthMaxWeight += day.maxWeight;\n  monthRevenueLost += day.revenueLost;\n  monthRevenueProtected += day.revenueProtected;\n});\n\nconst globalPct = monthTotal > 0 ? Math.round((monthDone / monthTotal) * 100) : 0;\nconst globalWeightedPct = monthMaxWeight > 0 ? Math.round((monthWeighted / monthMaxWeight) * 100) : 0;\n\n// Rachas\nlet streak = 0;\nfor (let d = todayNum; d >= 1; d--) {\n  if (matrix[d]) {\n    const pct = matrix[d].total > 0 ? Math.round((matrix[d].done / matrix[d].total) * 100) : 0;\n    if (pct >= 70) streak++; else break;\n  } else break;\n}\n\nlet bestStreak = 0, tempStreak = 0;\nfor (let d = 1; d <= todayNum; d++) {\n  if (matrix[d]) {\n    const pct = matrix[d].total > 0 ? Math.round((matrix[d].done / matrix[d].total) * 100) : 0;\n    if (pct >= 70) { tempStreak++; if (tempStreak > bestStreak) bestStreak = tempStreak; }\n    else tempStreak = 0;\n  }\n}\n\n// Top fallas\nconst fails = {};\nObject.values(matrix).forEach(day => {\n  day.habits.forEach(h => { if (!h.completed) fails[h.name] = (fails[h.name] || 0) + 1; });\n});\nconst topFails = Object.entries(fails).sort((a, b) => b[1] - a[1]).slice(0, 5);\n\n// Tendencia 7 días\nconst last7 = [];\nfor (let d = Math.max(1, todayNum - 6); d <= todayNum; d++) {\n  if (matrix[d]) {\n    const pct = matrix[d].total > 0 ? Math.round((matrix[d].done / matrix[d].total) * 100) : 0;\n    last7.push({ day: d, pct });\n  }\n}\nconst trend7avg = last7.length > 0 ? Math.round(last7.reduce((s, d) => s + d.pct, 0) / last7.length) : 0;\nconst trendDirection = last7.length >= 3 ? (last7[last7.length-1].pct > last7[0].pct ? '📈 SUBIENDO' : last7[last7.length-1].pct < last7[0].pct ? '📉 BAJANDO' : '➡️ ESTABLE') : '❓ INSUFICIENTE';\n\n// Momentum score\nconst momentumFactors = {\n  todayPct: totalDayPct * 0.3,\n  realtimeRate: realtimeRate * 0.25,\n  streak: Math.min(streak * 10, 100) * 0.2,\n  trend: trend7avg * 0.15,\n  weighted: weightedPct * 0.1\n};\nconst momentum = Math.round(Object.values(momentumFactors).reduce((s, v) => s + v, 0));\n\n// Rendimiento por categoría\nconst catStats = { matutino: {d:0,t:0}, business: {d:0,t:0}, cierre: {d:0,t:0} };\nObject.values(matrix).forEach(day => {\n  day.habits.forEach(h => {\n    const cat = HABITS_CONFIG.find(c => c.row === h.row)?.category;\n    if (cat && catStats[cat]) {\n      catStats[cat].t++;\n      if (h.completed) catStats[cat].d++;\n    }\n  });\n});\n\n// ═══════════════════════════════════════════════════════════════════════════\n// FASE 2: PROCESAR PROYECTOS Y METAS (NOTION)\n// ═══════════════════════════════════════════════════════════════════════════\n\nlet projects = [];\nlet criticalProjects = 0;\nlet overdueProjects = 0;\nlet projectsThisMonth = 0;\n\ntry {\n  projects = notionItems.map(item => {\n    const d = item.json;\n    const name = d.property_nombre_del_proyecto || d.property_name || d.Name || 'Proyecto';\n    const rawDateObj = d.property_fecha_de_finalizaci_n || d.property_fecha_de_inicio;\n    const status = d.property_estado || d.Status || '';\n\n    let dateString = null;\n    if (rawDateObj) {\n      if (typeof rawDateObj === 'object' && rawDateObj.start) dateString = rawDateObj.start;\n      else if (typeof rawDateObj === 'string') dateString = rawDateObj;\n    }\n\n    const deadline = dateString ? new Date(dateString) : null;\n    const daysLeft = deadline ? Math.ceil((deadline - now) / (1000 * 60 * 60 * 24)) : 9999;\n\n    // Icono inteligente\n    const n = name.toLowerCase();\n    let icon = '🎯';\n    if (n.includes('usd') || n.includes('$') || n.includes('cliente') || n.includes('revenue')) icon = '💎';\n    else if (n.includes('bmw') || n.includes('m4') || n.includes('carro')) icon = '🏎️';\n    else if (n.includes('poblado') || n.includes('penthouse') || n.includes('apartamento')) icon = '🏙️';\n    else if (n.includes('cartagena') || n.includes('viaje') || n.includes('trip')) icon = '✈️';\n    else if (n.includes('iphone') || n.includes('mac') || n.includes('tech')) icon = '💻';\n    else if (n.includes('seguidores') || n.includes('60k') || n.includes('instagram')) icon = '📸';\n    else if (n.includes('lead') || n.includes('venta')) icon = '📈';\n    else if (n.includes('salud') || n.includes('gym') || n.includes('peso')) icon = '💪';\n\n    // Urgencia\n    let urgency = '🟢 TIEMPO';\n    if (daysLeft < 0) { urgency = '💀 VENCIDO'; overdueProjects++; criticalProjects++; }\n    else if (daysLeft === 0) { urgency = '🚨 HOY'; criticalProjects++; }\n    else if (daysLeft <= 7) { urgency = '🔴 ESTA SEMANA'; criticalProjects++; }\n    else if (daysLeft <= 30) { urgency = '🟡 ESTE MES'; projectsThisMonth++; }\n    else if (daysLeft <= 60) { urgency = '🟢 2 MESES'; }\n\n    return {\n      name, daysLeft, icon, urgency, status,\n      deadline: dateString,\n      isCompleted: status.toLowerCase().includes('completado') || status.toLowerCase().includes('done'),\n      isActive: !status.toLowerCase().includes('completado') && !status.toLowerCase().includes('done')\n    };\n  });\n\n  // Filtrar y ordenar\n  projects = projects.filter(p => p.isActive);\n  projects.sort((a, b) => a.daysLeft - b.daysLeft);\n\n  // Deduplicar\n  const seen = new Set();\n  projects = projects.filter(p => {\n    if (seen.has(p.name)) return false;\n    seen.add(p.name);\n    return true;\n  });\n\n} catch(e) {\n  projects = [];\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// FASE 3: CONSTRUIR CONTEXTO UNIFICADO PARA EL AGENTE\n// ═══════════════════════════════════════════════════════════════════════════\n\nlet ctx = '';\nctx += '═══ XUS UNIFIED ENGINE v5.0 ═══\\n';\nctx += currentMonth.toUpperCase() + ' ' + currentYear + ' | ' + dayNames[dayOfWeek] + ' ' + todayNum + ' | ' + hh + ':' + mm + '\\n\\n';\n\nctx += '⏰ BLOQUE ACTUAL: ' + currentBlock.name + ' (energía: ' + currentBlock.energy + ')\\n';\nctx += 'Hora decimal: ' + currentTimeDecimal.toFixed(2) + ' | Horas restantes: ' + hoursLeft.toFixed(1) + 'h\\n\\n';\n\n// ─── HÁBITOS: ESTADO EN TIEMPO REAL ───\nctx += '════════════════════════════════════════\\n';\nctx += '📊 HÁBITOS — ESTADO EN TIEMPO REAL\\n';\nctx += '════════════════════════════════════════\\n';\nctx += '🎯 Rendimiento simple: ' + totalDayPct + '% (' + today.done + '/' + today.total + ')\\n';\nctx += '⚖️ Rendimiento ponderado: ' + weightedPct + '% (por impacto en revenue)\\n';\nctx += '🕐 Ejecución vs expectativa: ' + realtimeRate + '% (de lo que YA debería estar hecho)\\n';\nctx += '📐 Proyección si completa TODO pendiente: ' + projectedPct + '%\\n';\nctx += '⚡ Ritmo necesario: ' + habitsPerHour + ' hábitos/hora\\n';\nctx += '🔥 MOMENTUM SCORE: ' + momentum + '/100\\n\\n';\n\n// Completados\nctx += '✅ COMPLETADOS HOY (' + habitsCompleted.length + '):\\n';\nhabitsCompleted.forEach(h => {\n  ctx += '  ✅ ' + h.name + ' (peso: ' + h.weight + ', $' + Math.round(h.revenueImpact * DAILY_REVENUE_VALUE) + ' protegido)\\n';\n});\nctx += 'REVENUE PROTEGIDO: $' + Math.round(protectedRevenueToday) + '\\n\\n';\n\n// Perdidos\nctx += '❌ PERDIDOS (deadline pasado, no completado) (' + habitsLost.length + '):\\n';\nif (habitsLost.length === 0) {\n  ctx += '  ✅ CERO perdidos. Ejecución perfecta hasta ahora.\\n';\n} else {\n  habitsLost.forEach(h => {\n    const deadlineStr = Math.floor(h.deadline) + ':' + String(Math.round((h.deadline % 1) * 60)).padStart(2, '0');\n    ctx += '  ❌ ' + h.name + ' (deadline: ' + deadlineStr + ', $' + Math.round(h.revenueImpact * DAILY_REVENUE_VALUE) + ' perdido)\\n';\n  });\n  ctx += 'REVENUE PERDIDO HOY: $' + Math.round(lostRevenueToday) + '\\n';\n}\n\n// Pendientes\nctx += '\\n⏳ PENDIENTES RECUPERABLES (' + habitsPending.length + '):\\n';\nif (habitsPending.length === 0) {\n  ctx += '  Todo completado o perdido.\\n';\n} else {\n  habitsPending.forEach(h => {\n    const deadlineStr = Math.floor(h.deadline) + ':' + String(Math.round((h.deadline % 1) * 60)).padStart(2, '0');\n    const timeLeft = h.deadline - currentTimeDecimal;\n    const urg = timeLeft < 1 ? '🔴 URGENTE' : timeLeft < 2 ? '🟡 PRONTO' : '🟢 TIEMPO';\n    ctx += '  ' + urg + ' ' + h.name + ' (hasta ' + deadlineStr + ', $' + Math.round(h.revenueImpact * DAILY_REVENUE_VALUE) + ')\\n';\n  });\n  ctx += 'REVENUE EN JUEGO: $' + Math.round(pendingRevenueToday) + '\\n';\n}\n\n// ─── PROYECTOS Y METAS ───\nctx += '\\n════════════════════════════════════════\\n';\nctx += '🔭 PROYECTOS Y METAS (' + projects.length + ' activos)\\n';\nctx += '════════════════════════════════════════\\n';\n\nif (criticalProjects > 0) {\n  ctx += '🚨 ALERTA: ' + criticalProjects + ' proyectos críticos';\n  if (overdueProjects > 0) ctx += ' (' + overdueProjects + ' VENCIDOS)';\n  ctx += '\\n\\n';\n}\n\nprojects.slice(0, 15).forEach(p => {\n  let timeText = '';\n  if (p.daysLeft === 9999) timeText = 'sin fecha';\n  else if (p.daysLeft < 0) timeText = Math.abs(p.daysLeft) + 'd vencido';\n  else if (p.daysLeft === 0) timeText = 'HOY';\n  else timeText = p.daysLeft + 'd restantes';\n\n  ctx += p.urgency.split(' ')[0] + ' ' + p.icon + ' ' + p.name + ' (' + timeText + ')\\n';\n});\n\nif (projects.length > 15) {\n  ctx += '... y ' + (projects.length - 15) + ' proyectos más\\n';\n}\n\n// ─── IMPACTO FINANCIERO ───\nctx += '\\n════════════════════════════════════════\\n';\nctx += '💰 IMPACTO FINANCIERO\\n';\nctx += '════════════════════════════════════════\\n';\nctx += '💰 Revenue diario objetivo: $' + Math.round(DAILY_REVENUE_VALUE) + '\\n';\nctx += '🟢 Protegido hoy: $' + Math.round(protectedRevenueToday) + ' (' + Math.round((protectedRevenueToday/DAILY_REVENUE_VALUE)*100) + '%)\\n';\nctx += '🔴 Perdido hoy: $' + Math.round(lostRevenueToday) + ' (' + Math.round((lostRevenueToday/DAILY_REVENUE_VALUE)*100) + '%)\\n';\nctx += '🟡 En juego: $' + Math.round(pendingRevenueToday) + ' (' + Math.round((pendingRevenueToday/DAILY_REVENUE_VALUE)*100) + '%)\\n';\nctx += '💀 Perdido en el mes: $' + Math.round(monthRevenueLost) + '\\n';\nctx += '💰 Protegido en el mes: $' + Math.round(monthRevenueProtected) + '\\n';\n\n// ─── RACHAS Y TENDENCIA ───\nctx += '\\n════════════════════════════════════════\\n';\nctx += '📈 RACHAS, TENDENCIA Y RENDIMIENTO MES\\n';\nctx += '════════════════════════════════════════\\n';\nctx += '🔥 Racha actual: ' + streak + ' días (≥70%)\\n';\nctx += '🏆 Mejor racha: ' + bestStreak + ' días\\n';\nctx += '📊 Promedio 7 días: ' + trend7avg + '%\\n';\nctx += '📈 Dirección: ' + trendDirection + '\\n\\n';\n\nlast7.forEach(d => {\n  const icon = d.pct >= 80 ? '🟢' : d.pct >= 60 ? '🟡' : '🔴';\n  ctx += icon + ' Día ' + d.day + ': ' + d.pct + '%\\n';\n});\n\n// Rendimiento por categoría\nctx += '\\nPor categoría (mes):\\n';\nObject.entries(catStats).forEach(([cat, s]) => {\n  const pct = s.t > 0 ? Math.round((s.d / s.t) * 100) : 0;\n  const emoji = cat === 'matutino' ? '🌅' : cat === 'business' ? '💼' : '🌙';\n  ctx += emoji + ' ' + cat.toUpperCase() + ': ' + pct + '% (' + s.d + '/' + s.t + ')\\n';\n});\n\nctx += '\\nGlobal mes: Simple ' + globalPct + '% | Ponderado ' + globalWeightedPct + '%\\n';\n\n// Top fallas\nctx += '\\nTop 5 fallas del mes:\\n';\ntopFails.forEach(([n, c]) => {\n  const config = HABITS_CONFIG.find(h => h.name.includes(n.split(' ')[0]));\n  const rev = config ? Math.round(c * config.revenueImpact * DAILY_REVENUE_VALUE) : 0;\n  ctx += '⚠️ ' + n + ': ' + c + ' fallas ($' + rev + ' perdido)\\n';\n});\n\n// ═══════════════════════════════════════════════════════════════════════════\n// RETORNAR\n// ═══════════════════════════════════════════════════════════════════════════\n\nreturn [{\n  json: {\n    analysisPrompt: 'CONSULTA: \"' + (originData.query || 'reporte') + '\"\\n\\n' + ctx,\n    query: originData.query || 'reporte',\n    source: originData.source || 'manual',\n    autoAction: originData.autoAction || 'none',\n    isFirstOfMonth: originData.isFirstOfMonth || false,\n    isSunday: originData.isSunday || false,\n    todayNum, currentHour,\n    currentBlock: currentBlock.name,\n    globalPerformance: globalPct,\n    weightedPerformance: globalWeightedPct,\n    realtimeRate, momentum, streak, bestStreak,\n    lostRevenueToday: Math.round(lostRevenueToday),\n    protectedRevenueToday: Math.round(protectedRevenueToday),\n    monthRevenueLost: Math.round(monthRevenueLost),\n    projectedPct,\n    habitsLostCount: habitsLost.length,\n    habitsPendingCount: habitsPending.length,\n    projectsCount: projects.length,\n    criticalProjects,\n    overdueProjects,\n    currentMonth, prevMonth, currentYear,\n    sheetId: '1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw',\n    chatId: '-1003688744736'\n  }\n}];"
      },
      "id": "08e22ec0-95c5-4071-8b1b-64243614a4f0",
      "name": "🔧 Preparar Datos Ultra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        2048
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.analysisPrompt }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════════════════════\n█ XUS UNIFIED ANALYST v5.0 — HÁBITOS + PROYECTOS + REVENUE\n═══════════════════════════════════════════════════════════════════════════\n\nEres el módulo analítico UNIFICADO de XUS para Santiago Rubio.\n\nTIENES ACCESO A DOS FUENTES DE DATOS:\n\n📊 HÁBITOS (Google Sheets):\n  🌅 MATUTINO (5): Despertar, Push Ups, Cold Shower, English, Metas\n  💼 BUSINESS (7): Deep Work, Search Leads, Segunda Ronda, Gestión, Carpets, Registro, Role Play\n  🌙 CIERRE (6): Recarga, Auditoría, Planeación, Lectura, Face, Cama\n\n🔭 PROYECTOS (Notion):\n  Metas con deadlines, estados y urgencias.\n  Incluyen objetivos financieros, materiales, personales.\n\n═══ ESCALA DE RENDIMIENTO ═══\n90-100% = 🔥 ÉLITE | 75-89% = 💪 FUERTE | 60-74% = ⚠️ ALERTA | <60% = 🚨 CRÍTICO\n\n═══ ESTRUCTURA DE RESPUESTA ═══\n\nSIEMPRE responde con esta estructura (adaptada según la consulta):\n\n1. ESTADO ACTUAL (qué ha hecho hoy, a qué hora, rendimiento real-time)\n2. LO QUE FALTA (pendientes recuperables, con urgencia y deadline)\n3. LO PERDIDO (si aplica, sin dramatizar, con impacto en revenue)\n4. PROYECTOS CRÍTICOS (los más urgentes, conectados con la acción diaria)\n5. CONEXIÓN CON $100K/MES (cómo las acciones de hoy mueven la aguja)\n6. RECOMENDACIÓN ACCIONABLE (qué hacer AHORA, en orden de prioridad)\n\n═══ REGLAS ═══\n1. Español siempre\n2. Usa datos CONCRETOS del contexto (NO inventes números)\n3. NO uses ** — usa *simple* para énfasis\n4. NO uses # headers\n5. Emojis estratégicos (no decorativos)\n6. Conecta hábitos diarios → proyectos → meta $100K/mes\n7. Sé directo. No cursi. No motivacional vacío.\n8. Máximo 2000 caracteres\n9. Si pregunta \"qué me falta\" → prioriza PENDIENTES RECUPERABLES\n10. Si pregunta \"cómo voy\" → da PANORAMA COMPLETO (hábitos + proyectos)\n11. Si pregunta por \"metas\" → enfoca en PROYECTOS con contexto de hábitos\n12. Si es autoAction 'daily_report' → reporte conciso del día\n13. Si es autoAction 'weekly_report' → análisis de los últimos 7 días + proyectos\n14. Si es autoAction 'create_monthly_sheet' → resumen ejecutivo mensual completo\n\n═══ EJEMPLO DE TONO ═══\n\n\"Van 8 de 18 hábitos al mediodía. Ejecutaste todo el bloque matutino excepto English Class.\n\nLo que falta (10 pendientes):\n🔴 Deep Work 50 Leads — deadline 12:00, tienes 45 min\n🟡 Search 300 Leads — hasta las 13:00\n🟢 Segunda Ronda — hasta las 14:00\n...\n\nProyectos calientes:\n💀 Cliente Miami — 3 días vencido\n🔴 Propuesta Chile — vence en 5 días\n\nLos 50 leads de Deep Work son tu palanca más grande hoy. Cada lead no contactado son $50 que no entran al pipeline. Ataca eso primero, tienes 45 minutos.\""
        }
      },
      "id": "ee2d20b1-e023-486b-8b11-94e1c5c6c166",
      "name": "🧠 Agente 1: Analista",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1040,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 🔀 Decidir si va al Agente 2 (auto) o retorna al Cerebro (manual)\n */\nconst agentOutput = $input.first().json;\nconst prepData = $('🔧 Preparar Datos Ultra').first().json;\n\nconst analysisText = agentOutput.output || agentOutput.text || JSON.stringify(agentOutput);\n\nreturn [{\n  json: {\n    analysisText,\n    source: prepData.source,\n    autoAction: prepData.autoAction,\n    isFirstOfMonth: prepData.isFirstOfMonth,\n    isSunday: prepData.isSunday,\n    currentMonth: prepData.currentMonth,\n    prevMonth: prepData.prevMonth,\n    currentYear: prepData.currentYear,\n    globalPerformance: prepData.globalPerformance,\n    streak: prepData.streak,\n    sheetsData: prepData.sheetsData,\n    sheetId: prepData.sheetId,\n    chatId: prepData.chatId,\n    todayNum: prepData.todayNum,\n    query: prepData.query\n  }\n}];"
      },
      "id": "a9845385-05a1-45d0-886e-f560d7b43302",
      "name": "🔀 Post Análisis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        2048
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-auto",
              "leftValue": "={{ $json.source }}",
              "rightValue": "schedule",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b82564f-b5e6-41c8-b96f-40ecd2274a82",
      "name": "🔀 ¿Es Automático?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -464,
        2048
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * 📤 Retorna al Cerebro (llamada manual)\n */\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    moduleType: 'analysis',\n    active: true,\n    textResponse: data.analysisText,\n    chatId: data.chatId,\n    meta: {\n      engine: 'v3.0',\n      performance: data.globalPerformance,\n      query: data.query\n    }\n  }\n}];"
      },
      "id": "de8d5aa0-3f68-4995-8d4f-c1d33ec1c5d8",
      "name": "📤 Retornar al Cerebro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        1904
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ACCIÓN: {{ $json.autoAction }}\nMES: {{ $json.currentMonth }} {{ $json.currentYear }}\nMES ANTERIOR: {{ $json.prevMonth }}\nRENDIMIENTO GLOBAL: {{ $json.globalPerformance }}%\nRACHA: {{ $json.streak }} días\nDATOS POR DÍA: {{ JSON.stringify($json.sheetsData) }}\n\nANÁLISIS DEL AGENTE 1:\n{{ $json.analysisText }}\n\nEjecuta la acción correspondiente usando las herramientas disponibles.",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════════════════════\n█ XUS WRITER AGENT v1.0 — ESCRITOR DE REPORTES\n═══════════════════════════════════════════════════════════════════════════\n\nEres el agente escritor de XUS. Tu trabajo:\n1. Recibir análisis del Agente 1\n2. Ejecutar acciones en Google Sheets y Telegram\n\n═══ ACCIONES ═══\n\ncreate_monthly_sheet (día 1 de cada mes):\n  1. Usa la herramienta Google Sheets para crear/escribir en hoja \"Análisis [MesAnterior] [Año]\"\n  2. Escribe: Fecha, Rendimiento Global, Racha, Top Fallas, Resumen\n  3. Luego envía el reporte por Telegram\n\nweekly_report (cada domingo):\n  1. Envía el análisis semanal por Telegram\n  2. Opcionalmente escribe en la hoja del mes actual\n\ndaily_report:\n  1. Solo envía por Telegram el reporte diario\n\n═══ REGLAS ═══\n1. SIEMPRE ejecuta las herramientas — no solo hables\n2. Para Sheets: usa los datos exactos que te paso\n3. Para Telegram: el chat_id es -1003688744736\n4. El texto para Telegram debe ser conciso, con emojis, sin ** ni #\n5. Usa *negrita simple* para Telegram"
        }
      },
      "id": "26218b95-32b4-4051-a690-f21d4a88bb1d",
      "name": "🤖 Agente 2: Escritor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        2192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8458030044:AAG0WJgEVJd2oTuwOPedFwMikYOLXdVdbJ8/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $fromAI('chat_id', 'ID del chat', 'string'), text: $fromAI('text', 'Mensaje a enviar', 'string'), parse_mode: 'HTML' }) }}"
      },
      "id": "befa7862-7265-4417-95cb-b588fd709556",
      "name": "📲 Enviar Telegram",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -112,
        2416
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $fromAI('sheet_name', 'Nombre de la hoja donde escribir', 'string') }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "d2d95b06-0081-4117-84c8-8cf3b3615415",
      "name": "📝 Escribir en Sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        16,
        2416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KpErnuxfLRCh1RmRoevLOLFeoYpSSzedSjGNcz7Jyjw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $now.setLocale('es').toFormat('MMMM').charAt(0).toUpperCase() + $now.setLocale('es').toFormat('MMMM').slice(1) }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 9,
              "firstDataRow": 10
            }
          }
        }
      },
      "id": "eb97dfb7-5c85-4c0b-a037-209c56097f03",
      "name": "📊 Leer Hábitos1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1840,
        2048
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYVSPfcYzTttYQ3w",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2cc38d10-f1b0-81c8-bf0b-ddd1dd132160",
          "mode": "list",
          "cachedResultName": "Proyectos",
          "cachedResultUrl": "https://www.notion.so/2cc38d10f1b081c8bf0bddd1dd132160"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1552,
        2048
      ],
      "id": "075e8c17-6602-4416-92a6-3d10d5d48836",
      "name": "📋 Leer Proyectos Notion",
      "credentials": {
        "notionApi": {
          "id": "wI7S8GZrxiJmw6fq",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        784
      ],
      "id": "540fd6fd-bc2b-4c2e-8d8f-47987e7b559c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "0uwsW3NaIjKUNLlh",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1616,
        848
      ],
      "id": "c828f85b-8f06-48c4-aabe-33e85a7bc857",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FOBycrIBrlfflaWL",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1040,
        2256
      ],
      "id": "76f75032-e4e6-46c2-a983-0c3cda36973a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cgQ15oQ2mZGAQSNl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        2416
      ],
      "id": "cc0b6774-b59f-42c4-8826-93554b465971",
      "name": "🔮 OPR Escritor",
      "credentials": {
        "openRouterApi": {
          "id": "0uwsW3NaIjKUNLlh",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "read_kpis"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser1",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔀 Detectar Origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parser1": {
      "main": [
        [
          {
            "node": "📊 Prep Clasificador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Prep Clasificador1": {
      "main": [
        [
          {
            "node": "🧠 Agente Clasificador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agente Clasificador1": {
      "main": [
        [
          {
            "node": "🔗 Bridge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge1": {
      "main": [
        [
          {
            "node": "🔀 Router de Acciones1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Router de Acciones1": {
      "main": [
        [
          {
            "node": "📋 Read KPIs Registro1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 Mega Prep Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🎯 Read Pipeline1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💰 Query Revenue1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 Read Leads Alta Prioridad1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "➕ Add Lead1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📑 Read Protocolos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🌐 Read Nexus Master1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 Mega Prep Agendado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 Mega Prep Agendado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📋 Read Onboarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 Mega Prep Onboarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read KPIs Registro1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Write KPI Registro1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 Read Pipeline1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Query Revenue1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Read Leads Alta Prioridad1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Add Lead1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📑 Read Protocolos1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Read Nexus Master1": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Response Builder1": {
      "main": [
        [
          {
            "node": "🎭 Agente Respondedor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎭 Agente Respondedor1": {
      "main": [
        [
          {
            "node": "📤 Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Mega Prep Write": {
      "main": [
        [
          {
            "node": "✏️ Write KPI Registro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Mega Prep Agendado": {
      "main": [
        [
          {
            "node": "➕ Add Agendado",
            "type": "main",
            "index": 0
          },
          {
            "node": "✏️ Update Agendado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Add Agendado": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Update Agendado": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Read Onboarding": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Mega Prep Onboarding": {
      "main": [
        [
          {
            "node": "➕ Add Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Add Onboarding": {
      "main": [
        [
          {
            "node": "📊 Response Builder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Auto Trigger": {
      "main": [
        [
          {
            "node": "🔀 Detectar Origen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Detectar Origen": {
      "main": [
        [
          {
            "node": "📊 Leer Hábitos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Preparar Datos Ultra": {
      "main": [
        [
          {
            "node": "🧠 Agente 1: Analista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agente 1: Analista": {
      "main": [
        [
          {
            "node": "🔀 Post Análisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Post Análisis": {
      "main": [
        [
          {
            "node": "🔀 ¿Es Automático?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 ¿Es Automático?": {
      "main": [
        [
          {
            "node": "🤖 Agente 2: Escritor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Retornar al Cerebro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📲 Enviar Telegram": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente 2: Escritor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📝 Escribir en Sheets": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agente 2: Escritor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "📊 Leer Hábitos1": {
      "main": [
        [
          {
            "node": "📋 Leer Proyectos Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Leer Proyectos Notion": {
      "main": [
        [
          {
            "node": "🔧 Preparar Datos Ultra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🎭 Agente Respondedor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Agente Clasificador1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Agente 1: Analista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🔮 OPR Escritor": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Agente 2: Escritor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7b7ef301-b43e-4bd7-9f6c-335a9adfd722",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "bNEYNc4gaFAquPHW",
  "tags": []
}