home_snapshot/ubuntu/nova-os/n8n-nodes-nova/examples/send-email-no-duplicates.workflow.json
{
  "name": "Nova OS - Send Email (No Duplicates)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 280]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "email", "value": "contact@example.com" },
            { "name": "subject", "value": "Weekly Newsletter" },
            { "name": "body", "value": "Hello from Nova OS." }
          ]
        }
      },
      "id": "seed-contact",
      "name": "Seed Contact",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 280]
    },
    {
      "parameters": {
        "resource": "gmail",
        "operation": "checkDuplicate",
        "recipientEmail": "={{$json.email}}",
        "emailSubject": "={{$json.subject}}",
        "timeframeHours": 168,
        "blockOnDuplicate": false
      },
      "id": "nova-duplicate-check",
      "name": "Nova Duplicate Check",
      "type": "n8n-nodes-nova.nova",
      "typeVersion": 1,
      "position": [760, 280]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.nova_duplicate_check?.is_duplicate || false}}",
              "operation": "isFalse"
            }
          ]
        }
      },
      "id": "if-not-duplicate",
      "name": "IF Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 280]
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.body}}"
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1280, 180]
    },
    {
      "parameters": {
        "resource": "governance",
        "operation": "evaluate",
        "agentId": "agent_replace_me",
        "action": "send_email",
        "payloadJson": "={\"recipient\":\"{{$json.email}}\",\"subject\":\"{{$json.subject}}\",\"body_length\":{{$json.body.length}}}"
      },
      "id": "nova-evaluate-send",
      "name": "Nova Evaluate Send",
      "type": "n8n-nodes-nova.nova",
      "typeVersion": 1,
      "position": [1540, 180]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "result", "value": "Duplicate detected. Email skipped." }
          ]
        }
      },
      "id": "skip-log",
      "name": "Skip Duplicate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Seed Contact", "type": "main", "index": 0 }]]
    },
    "Seed Contact": {
      "main": [[{ "node": "Nova Duplicate Check", "type": "main", "index": 0 }]]
    },
    "Nova Duplicate Check": {
      "main": [[{ "node": "IF Not Duplicate", "type": "main", "index": 0 }]]
    },
    "IF Not Duplicate": {
      "main": [
        [{ "node": "Gmail Send", "type": "main", "index": 0 }],
        [{ "node": "Skip Duplicate", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Send": {
      "main": [[{ "node": "Nova Evaluate Send", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
