home_snapshot/ubuntu/Workflows-n8n/Sub X Agents/CLUSTER MULTIMEDIA/XUS DJ v10 - Optimized Single Agent.json
{
  "name": "XUS DJ v10 - Optimized Single Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "30ffd774-3ba4-41e2-bd13-817af7972c8a",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════\n//   📦 PARSER v11\n// ══════════════════════════════════════════\nconst input = $input.first().json;\n\nlet parsedInput = input;\nif (typeof input === 'string') {\n  try { parsedInput = JSON.parse(input); } catch(e) { parsedInput = { query: input }; }\n}\nconst query = (\n  parsedInput.query ||\n  parsedInput.message ||\n  parsedInput.text ||\n  parsedInput.originalMessage ||\n  input.query || input.message || input.text || ''\n).trim();\n\nconst chatId = (\n  parsedInput.chatId ||\n  parsedInput.chat_id ||\n  input.chatId ||\n  input.chat_id ||\n  '-1003688744736'\n).toString();\n\nlet hour, minute, dayName, isWeekend, timeFormatted, period, periodEmoji;\ntry {\n  const now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Bogota' }));\n  hour = now.getHours();\n  minute = now.getMinutes();\n  const days = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];\n  dayName = days[now.getDay()];\n  isWeekend = [0, 6].includes(now.getDay());\n  timeFormatted = `${String(hour).padStart(2,'0')}:${String(minute).padStart(2,'0')}`;\n} catch(e) {\n  hour = new Date().getHours();\n  dayName = 'Hoy';\n  isWeekend = false;\n  timeFormatted = new Date().toTimeString().substring(0, 5);\n}\n\nif (hour >= 0 && hour < 6)       { period = 'madrugada'; periodEmoji = '🌙'; }\nelse if (hour >= 6 && hour < 12) { period = 'mañana';    periodEmoji = '🌅'; }\nelse if (hour >= 12 && hour < 18){ period = 'tarde';     periodEmoji = '☀️'; }\nelse if (hour >= 18 && hour < 21){ period = 'atardecer'; periodEmoji = '🌆'; }\nelse                              { period = 'noche';     periodEmoji = '🌃'; }\n\nreturn { json: {\n  query, chatId,\n  time: { hour, minute, dayName, isWeekend, formatted: timeFormatted, period, periodEmoji }\n}};"
      },
      "id": "2811013a-5209-42c9-8aa2-9578c15f95eb",
      "name": "📦 Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "═══════════════════════════════════════════════════════════════\n🧠 AGENTE DECISOR — Lógica pura. JSON puro. Sin texto adicional.\n═══════════════════════════════════════════════════════════════\n\n══ TU IDENTIDAD ══\nEres XUS DJ. Cuando Santiago diga \"xus\", \"oye xus\", \"xus pon\", te habla A TI.\nNO busques \"xus\" como artista. \"xus música\" = ritual.\n\n══ SANTIAGO ══\n• Dev tech colombiano. Música: ambient, post-rock, lo-fi, introspectiva.\n• Artistas: Explosions in the Sky, Sigur Rós, Ólafur Arnalds, Max Richter, Hammock, Tycho, Bonobo, Nujabes.\n• Plataforma default: YouTube Music. YouTube solo si pide video explícitamente.\n• Spotify: solo si dice explícitamente \"spotify\", \"pon en spotify\", \"busca en spotify\".\n\n══ CONTEXTO ══\nHora: {{ $json.time.formatted }} | {{ $json.time.dayName }} | {{ $json.time.period }} {{ $json.time.periodEmoji }} | Weekend: {{ $json.time.isWeekend }}\n\n══ PLAYLISTS ══\nIMP 🌌: Introspectiva/ambient — noches 18-08h, \"guerra\", \"imperial\", \"introspectivo\", \"modo silencioso\"\nURL: https://music.youtube.com/watch?v=YlbvZ542Ijo&list=PLHB0xXYYWtksB2H0QehkY-AFWfP9ATLtA\n\nUSD 🧠: Deep work/lo-fi — días 08-18h, \"deep work\", \"focus\", \"trabajar\", \"concentrarme\"\nURL: https://music.youtube.com/watch?v=ibonMtKGPRM&list=PLHB0xXYYWtksOeB3kOrg3ssVb3LL0cJpD\n\n══ ACCIONES ══\nritual    → Playlist por contexto. Triggers: genérico, \"pon música\", \"dale\", \"play\", \"música\"\nsearch    → Buscar artista/canción específica. Triggers: artista, canción, género específico\npause     → Pausar reproducción\nresume    → Reanudar reproducción\nskip      → Saltar canción\nprevious  → Canción anterior\nvolume    → Subir/bajar volumen\nclarify   → Pedir aclaración al usuario\n\n══ PLATAFORMA ══\n• youtube_music → default para búsquedas y rituales\n• youtube → si pide video explícitamente\n• spotify → SOLO si menciona explícitamente \"spotify\"\n\n══ ENERGÍA 1-10 ══\n1-2: dormir | 3-4: chill | 5-6: trabajo | 7-8: motivación | 9-10: gym/intenso\n\n══ REGLAS JSON ══\n• Responde SOLO con JSON. Cero texto fuera del JSON.\n• Primera línea: {  Última línea: }\n• Sin bloques de código (```)\n• playlist_override: \"IMP\" o \"USD\" solo si es una de esas playlists. Si es búsqueda → null.\n• url: pon la URL si es ritual con playlist conocida. Vacío si es búsqueda.\n\n══ ESTRUCTURA ══\n{\n  \"action\": \"ritual|search|pause|resume|skip|previous|volume|clarify\",\n  \"query\": \"término de búsqueda (solo si action=search)\",\n  \"platform\": \"youtube_music|youtube|spotify\",\n  \"energy\": 5,\n  \"playlist_override\": \"IMP|USD|null\",\n  \"url\": \"URL completa si es ritual con playlist, vacío si no\",\n  \"userMood\": \"positive|neutral|low|stressed|excited\",\n  \"volumeLevel\": \"up|down|null\",\n  \"clarifyQuestion\": \"pregunta si clarify, null si no\",\n  \"decisionReason\": \"razón técnica breve\"\n}"
        }
      },
      "id": "98541226-51a9-41cf-b00d-c1d8705245cd",
      "name": "🧠 Agente Decisor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -816,
        160
      ]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "project-fe3c2332-f0c4-4a92-9c0",
          "mode": "list",
          "cachedResultName": "My First Project"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "1ee10dee-81cf-4c51-a7b3-6bb37762841d",
      "name": "Gemini Decisor",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        -816,
        384
      ],
      "credentials": {
        "googleApi": {
          "id": "OqvumXg7xLakrZ5K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('📦 Parser').first().json.chatId + '_dj' }}"
      },
      "id": "807ab7da-bb26-422e-9907-317ecba39cdf",
      "name": "Memory Decisor",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -688,
        384
      ],
      "credentials": {
        "redis": {
          "id": "8c9sCyMDfKVB1loJ",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════\n//   🔗 BRIDGE v11\n// ══════════════════════════════════════════\nconst agentRaw = $input.first().json;\nconst parser = $('📦 Parser').first().json;\n\nlet d;\ntry {\n  let text = agentRaw.output || agentRaw.text || agentRaw.message || agentRaw.response || '';\n  if (typeof text === 'object' && text !== null && text.action) {\n    d = text;\n  } else {\n    if (typeof text !== 'string') text = JSON.stringify(text);\n    text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      d = JSON.parse(m[0]);\n    } else {\n      throw new Error('No JSON found');\n    }\n  }\n} catch(e) {\n  const isNight = parser.time.hour >= 18 || parser.time.hour < 8;\n  d = {\n    action: 'ritual',\n    query: '',\n    platform: 'youtube_music',\n    energy: 5,\n    playlist_override: isNight ? 'IMP' : 'USD',\n    url: isNight\n      ? 'https://music.youtube.com/watch?v=YlbvZ542Ijo&list=PLHB0xXYYWtksB2H0QehkY-AFWfP9ATLtA'\n      : 'https://music.youtube.com/watch?v=ibonMtKGPRM&list=PLHB0xXYYWtksOeB3kOrg3ssVb3LL0cJpD',\n    userMood: 'neutral',\n    volumeLevel: null,\n    clarifyQuestion: null,\n    decisionReason: 'Fallback automático'\n  };\n}\n\nconst action = (d.action || 'ritual').toLowerCase();\nconst query = (d.query || '').trim();\nconst platform = (d.platform || 'youtube_music').toLowerCase();\nconst needsSearch = action === 'search' && query.length > 0;\n\nreturn { json: {\n  action,\n  query,\n  searchTerm: query,\n  platform,\n  energy: Math.min(10, Math.max(1, parseInt(d.energy) || 5)),\n  playlistOverride: (d.playlist_override || '').toUpperCase() || null,\n  url: d.url || '',\n  userMood: d.userMood || 'neutral',\n  volumeLevel: d.volumeLevel || null,\n  clarifyQuestion: d.clarifyQuestion || null,\n  decisionReason: d.decisionReason || '',\n  needsSearch,\n  originalQuery: parser.query,\n  chatId: parser.chatId,\n  time: parser.time\n}};"
      },
      "id": "2621b532-f70d-48b2-b3e8-0f462f7ab0d5",
      "name": "🔗 Bridge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-search",
              "leftValue": "={{ $json.needsSearch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07e25428-1e43-4e4b-9a91-b110957b0adf",
      "name": "¿Buscar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.platform }}",
        "rules": {
          "rules": [
            {
              "value2": "spotify"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "699860ab-f97a-42d8-94f8-0b898ff52b95",
      "name": "🎯 ¿Spotify o YouTube?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -16,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://api.spotify.com/v1/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('🔗 Bridge').first().json.searchTerm }}"
            },
            {
              "name": "type",
              "value": "track"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "market",
              "value": "CO"
            }
          ]
        },
        "options": {}
      },
      "id": "5df05b65-c566-43c7-bd49-39d420aace9e",
      "name": "🎧 Spotify Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -32
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "qLnn51hX3VhIC1Kq",
          "name": "Spotify account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{ $('🔗 Bridge').first().json.searchTerm || 'ambient music' }}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "maxResults",
              "value": "3"
            },
            {
              "name": "key",
              "value": "AIzaSyDRW8tC9L9cdV0NEbYWY04308BUnLbaFvY"
            }
          ]
        },
        "options": {}
      },
      "id": "c8a623aa-cc68-466d-9000-ebb58821e95b",
      "name": "🔍 YouTube Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        160
      ],
      "credentials": {
        "googleApi": {
          "id": "OqvumXg7xLakrZ5K",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════\n//   📊 PREPARADOR v11 — Soporta Spotify + YouTube\n// ══════════════════════════════════════════════\nconst bridge = $('🔗 Bridge').first().json;\n\nconst PLAYLISTS = {\n  IMP: {\n    url: 'https://music.youtube.com/watch?v=YlbvZ542Ijo&list=PLHB0xXYYWtksB2H0QehkY-AFWfP9ATLtA',\n    name: 'IMPERIAL MODE',\n    emoji: '🌌'\n  },\n  USD: {\n    url: 'https://music.youtube.com/watch?v=ibonMtKGPRM&list=PLHB0xXYYWtksOeB3kOrg3ssVb3LL0cJpD',\n    name: 'DEEP WORK',\n    emoji: '🧠'\n  }\n};\n\nlet videoTitle = '', trackId = '', finalUrl = '', hadSearch = false, isSpotify = false;\n\n// ── PASO 1: Intentar Spotify ──\ntry {\n  const spotifyData = $('🎧 Spotify Search').first().json;\n  const track = spotifyData?.tracks?.items?.[0];\n  if (track) {\n    videoTitle = `${track.name} — ${track.artists[0].name}`;\n    trackId = track.id;\n    finalUrl = track.external_urls.spotify;\n    hadSearch = true;\n    isSpotify = true;\n  }\n} catch(e) { /* no Spotify search ran */ }\n\n// ── PASO 2: Intentar YouTube ──\nif (!hadSearch) {\n  try {\n    const ytData = $('🔍 YouTube Search').first().json;\n    if (ytData?.items?.length > 0) {\n      for (const item of ytData.items) {\n        const vid = item.id?.videoId || '';\n        if (vid) {\n          trackId = vid;\n          videoTitle = item.snippet?.title || '';\n          const isVideo = bridge.platform === 'youtube';\n          finalUrl = (isVideo\n            ? 'https://www.youtube.com/watch?v='\n            : 'https://music.youtube.com/watch?v=') + vid;\n          hadSearch = true;\n          break;\n        }\n      }\n    }\n  } catch(e) { /* no YouTube search ran */ }\n}\n\n// ── PASO 3: Resolver URL para rituales ──\nif (!hadSearch) {\n  const plKey = (bridge.playlistOverride || '').toUpperCase();\n  if (plKey && PLAYLISTS[plKey]) {\n    finalUrl = PLAYLISTS[plKey].url;\n  } else if (bridge.url && bridge.url.startsWith('http')) {\n    finalUrl = bridge.url;\n  } else if (['ritual', 'mood_shift', 'resume'].includes(bridge.action)) {\n    const hour = bridge.time?.hour ?? new Date().getHours();\n    const fallbackKey = (hour >= 18 || hour < 8) ? 'IMP' : 'USD';\n    bridge.playlistOverride = fallbackKey;\n    finalUrl = PLAYLISTS[fallbackKey].url;\n  }\n}\n\n// ── PASO 4: Metadata ──\nconst plKey = (bridge.playlistOverride || '').toUpperCase();\nconst plData = PLAYLISTS[plKey] || null;\n\nconst bars = {\n  1:'▓░░░░░░░░░', 2:'▓▓░░░░░░░░', 3:'▓▓▓░░░░░░░',\n  4:'▓▓▓▓░░░░░░', 5:'▓▓▓▓▓░░░░░', 6:'▓▓▓▓▓▓░░░░',\n  7:'▓▓▓▓▓▓▓░░░', 8:'▓▓▓▓▓▓▓▓░░', 9:'▓▓▓▓▓▓▓▓▓░',\n  10:'▓▓▓▓▓▓▓▓▓▓'\n};\nconst energyBar = bars[bridge.energy] || bars[5];\n\nreturn { json: {\n  decision: {\n    action: bridge.action,\n    query: bridge.query,\n    platform: bridge.platform,\n    energy: bridge.energy,\n    energyBar,\n    playlistName: plData?.name || null,\n    playlistEmoji: plData?.emoji || '🎵',\n    playlistShort: plKey || null,\n    userMood: bridge.userMood,\n    volumeLevel: bridge.volumeLevel,\n    clarifyQuestion: bridge.clarifyQuestion\n  },\n  resolved: {\n    finalUrl,\n    videoTitle,\n    trackId,\n    hadSearch,\n    isSpotify,\n    isVideo: bridge.platform === 'youtube'\n  },\n  context: {\n    originalQuery: bridge.originalQuery,\n    time: bridge.time,\n    chatId: bridge.chatId\n  }\n}};"
      },
      "id": "a6f9618f-77a8-4a25-92fb-e030af2ed2dd",
      "name": "📊 Preparador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n//   🎨 COMPOSITOR v11 — Botón único. Spotify con guardar.\n// ══════════════════════════════════════════════════════════════\nconst prep = $input.first().json;\nconst { decision, resolved, context } = prep;\nconst { action, energy, energyBar, playlistName, playlistEmoji, playlistShort, volumeLevel, clarifyQuestion } = decision;\nconst { finalUrl, videoTitle, trackId, hadSearch, isSpotify } = resolved;\nconst { time, chatId } = context;\n\nconst periodLines = {\n  madrugada: { ritual: '🌙 Silencio profundo.', search: '🌙 En la madrugada.' },\n  mañana:    { ritual: '🌅 Arrancamos.', search: '🌅 Aquí va.' },\n  tarde:     { ritual: '☀️ Modo productivo.', search: '☀️ Encontrado.' },\n  atardecer: { ritual: '🌆 Cambiando el ritmo.', search: '🌆 Para este momento.' },\n  noche:     { ritual: '🌃 Noche en modo guerra.', search: '🌃 Algo para la noche.' }\n};\nconst periodLine = periodLines[time.period] || { ritual: '🎵 Música lista.', search: '🎵 Aquí va.' };\n\nlet textResponse = '';\nlet musicTag = '';\nlet inlineKeyboard = [];\n\nif (action === 'pause') {\n  textResponse = '⏸️ Pausado.';\n  musicTag = '[MUSIC:PAUSE]';\n\n} else if (action === 'skip') {\n  textResponse = '⏭️ Siguiente.';\n  musicTag = '[MUSIC:SKIP]';\n\n} else if (action === 'previous') {\n  textResponse = '⏮️ Anterior.';\n\n} else if (action === 'volume') {\n  textResponse = volumeLevel === 'up' ? '🔊 Volumen subido.' : '🔉 Volumen bajado.';\n  musicTag = '[MUSIC:VOLUME]';\n\n} else if (action === 'clarify') {\n  textResponse = clarifyQuestion || '¿Qué tipo de música quieres?';\n\n} else if (hadSearch && isSpotify && finalUrl) {\n  // ══ SPOTIFY SEARCH ══\n  const cleanTitle = videoTitle.replace(/[*_`]/g, '');\n  textResponse = `🎧 *${cleanTitle}*\\n\\n${periodLine.search}`;\n  musicTag = '[MUSIC:SPOTIFY:' + finalUrl + ']';\n  inlineKeyboard = [\n    [\n      { text: '🎧 Escuchar en Spotify', url: finalUrl },\n      { text: '❤️ Guardar', callback_data: 'spotify_save:' + trackId }\n    ]\n  ];\n\n} else if (hadSearch && !isSpotify && finalUrl) {\n  // ══ YOUTUBE SEARCH ══\n  const cleanTitle = videoTitle.replace(/[*_`]/g, '');\n  textResponse = `🎵 *${cleanTitle}*\\n\\n${periodLine.search}`;\n  musicTag = '[MUSIC:SEARCH:' + finalUrl + ']';\n  const isVideo = resolved.isVideo;\n  inlineKeyboard = [\n    [{ text: isVideo ? '▶️ Ver video' : '🎵 Escuchar', url: finalUrl }]\n  ];\n\n} else if (playlistShort === 'IMP') {\n  // ══ IMPERIAL MODE ══\n  textResponse = `🌌 *IMPERIAL MODE*\\n\\n${periodLine.ritual}\\n_Energía: ${energyBar}_`;\n  musicTag = '[MUSIC:IMP]';\n  inlineKeyboard = [\n    [{ text: '🌌 Abrir Imperial', url: finalUrl }]\n  ];\n\n} else if (playlistShort === 'USD') {\n  // ══ DEEP WORK ══\n  textResponse = `🧠 *DEEP WORK*\\n\\n${periodLine.ritual}\\n_Energía: ${energyBar}_`;\n  musicTag = '[MUSIC:USD]';\n  inlineKeyboard = [\n    [{ text: '🧠 Abrir Deep Work', url: finalUrl }]\n  ];\n\n} else if (finalUrl) {\n  // ══ RITUAL GENÉRICO ══\n  textResponse = `🎵 *Música*\\n\\n${periodLine.ritual}`;\n  musicTag = '[MUSIC:SEARCH:' + finalUrl + ']';\n  inlineKeyboard = [\n    [{ text: '🎵 Abrir', url: finalUrl }]\n  ];\n\n} else {\n  // ══ FALLBACK ══\n  const isNight = time.hour >= 18 || time.hour < 8;\n  const fallbackUrl = isNight\n    ? 'https://music.youtube.com/watch?v=YlbvZ542Ijo&list=PLHB0xXYYWtksB2H0QehkY-AFWfP9ATLtA'\n    : 'https://music.youtube.com/watch?v=ibonMtKGPRM&list=PLHB0xXYYWtksOeB3kOrg3ssVb3LL0cJpD';\n  textResponse = isNight ? '🌌 *IMPERIAL MODE*\\n\\nNoche en modo guerra.' : '🧠 *DEEP WORK*\\n\\nA darle.';\n  musicTag = isNight ? '[MUSIC:IMP]' : '[MUSIC:USD]';\n  inlineKeyboard = [\n    [{ text: isNight ? '🌌 Abrir Imperial' : '🧠 Abrir Deep Work', url: fallbackUrl }]\n  ];\n}\n\nconst output = {\n  moduleType: 'music',\n  textResponse,\n  musicTag,\n  isDirectResponse: true,\n  telegramOptions: {\n    parseMode: 'Markdown',\n    hasButtons: inlineKeyboard.length > 0,\n    inlineKeyboard\n  },\n  metadata: {\n    chatId,\n    musicUrl: finalUrl || '',\n    platform: decision.platform || 'youtube_music',\n    action,\n    energy,\n    isSpotify,\n    spotifyTrackId: isSpotify ? trackId : null,\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn { json: { response: JSON.stringify(output) } };"
      },
      "id": "bcfc4b01-7689-4606-95d0-16b72a38f370",
      "name": "🎨 Compositor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "📦 Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parser": {
      "main": [
        [
          {
            "node": "🧠 Agente Decisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Decisor": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Agente Decisor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory Decisor": {
      "ai_memory": [
        [
          {
            "node": "🧠 Agente Decisor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Agente Decisor": {
      "main": [
        [
          {
            "node": "🔗 Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Bridge": {
      "main": [
        [
          {
            "node": "¿Buscar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Buscar?": {
      "main": [
        [
          {
            "node": "🎯 ¿Spotify o YouTube?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 Preparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎯 ¿Spotify o YouTube?": {
      "main": [
        [
          {
            "node": "🎧 Spotify Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 YouTube Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎧 Spotify Search": {
      "main": [
        [
          {
            "node": "📊 Preparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 YouTube Search": {
      "main": [
        [
          {
            "node": "📊 Preparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Preparador": {
      "main": [
        [
          {
            "node": "🎨 Compositor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3dd47a9f-1487-43b3-a5a5-42d7267ab7e2",
  "meta": {
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "tHYwrO3k2ALOcBkQD-LmO",
  "tags": []
}