home_snapshot/ubuntu/Workflows-n8n/E.X.T/Confirmation (1).json
{
  "name": "Confirmation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread",
          "sender": "service@paypal.com"
        }
      },
      "id": "26a06cc0-8cec-4e04-9afc-99ddfa0f40aa",
      "name": "Gmail Trigger - Pagos PayPal",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1280,
        224
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// NORMALIZADOR DE PAGOS PAYPAL - VERSIÓN SIMPLIFICADA\n// ═══════════════════════════════════════════════════════════════\n\nconst input = $input.first().json;\n\nconst subject = (input.subject || '').trim();\nconst textBody = input.textPlain || input.snippet || '';\nconst htmlBody = input.textHtml || '';\nconst fullBody = textBody + ' ' + htmlBody;\nconst fromEmail = input.from?.value?.[0]?.address || input.from || '';\n\nlet email = '';\nlet amount = null;\nlet paymentId = '';\nlet confidence = 0;\n\n// ═══════════════════════════════════════════════════════════════\n// DETECTAR: PAGO DE PAYPAL\n// ═══════════════════════════════════════════════════════════════\nconst isPayPal = fromEmail.toLowerCase().includes('paypal') || \n                 subject.toLowerCase().includes('received a payment') ||\n                 subject.toLowerCase().includes('recibiste un pago') ||\n                 subject.toLowerCase().includes('you received');\n\nif (isPayPal) {\n  confidence = 90;\n  \n  // Extraer email del cliente (quien pagó)\n  const emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/gi;\n  const allEmails = fullBody.match(emailRegex) || [];\n  \n  // Filtrar emails del sistema\n  const clientEmails = allEmails.filter(e => {\n    const lower = e.toLowerCase();\n    return !lower.includes('paypal') && \n           !lower.includes('noreply') &&\n           !lower.includes('service') &&\n           !lower.includes('santi21435') && // Tu email\n           !lower.includes('nexus');\n  });\n  \n  if (clientEmails.length > 0) {\n    email = clientEmails[0].toLowerCase().trim();\n  }\n  \n  // Extraer monto\n  const amountPatterns = [\n    /(?:USD|\\$)\\s*([\\d,]+\\.?\\d*)/i,\n    /([\\d,]+\\.\\d{2})\\s*(?:USD|dólares|dollars)/i,\n    /recibiste\\s*\\$?([\\d,]+\\.?\\d*)/i\n  ];\n  \n  for (const pattern of amountPatterns) {\n    const match = fullBody.match(pattern);\n    if (match) {\n      amount = parseFloat(match[1].replace(',', ''));\n      break;\n    }\n  }\n  \n  // Extraer ID de transacción si existe\n  const txIdMatch = fullBody.match(/(?:Transaction ID|ID de transacción)[:\\s]*([A-Z0-9]+)/i);\n  if (txIdMatch) {\n    paymentId = txIdMatch[1];\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════\n// VALIDACIÓN\n// ═══════════════════════════════════════════════════════════════\nconst emailValidRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\nconst isValidEmail = emailValidRegex.test(email);\n\nif (!isValidEmail) {\n  confidence = Math.min(confidence, 30);\n}\n\nreturn [{\n  json: {\n    eventType: isPayPal ? 'payment-completed' : 'unknown',\n    email: email.toLowerCase().trim(),\n    isValidEmail,\n    amount,\n    paymentId,\n    confidence,\n    rawSubject: subject,\n    fromEmail,\n    processedAt: new Date().toISOString(),\n    processingId: 'PAY-' + Date.now() + '-' + Math.random().toString(36).substring(2, 6).toUpperCase()\n  }\n}];"
      },
      "id": "443a81df-d81a-42dc-b508-2f3454bdd6c1",
      "name": "Normalizar Pago",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isValidEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "payment-completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2eba293a-2291-468d-bd9a-c045909bcc9b",
      "name": "¿Pago Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        224
      ]
    },
    {
      "parameters": {
        "chatId": "6908159885",
        "text": "=⚠️ *PAGO NO PROCESABLE*\n\n❌ No se pudo extraer email válido del pago\n\n📧 Email extraído: `{{ $json.email || '(vacío)' }}`\n🎯 Confianza: {{ $json.confidence }}%\n📋 Subject: {{ $json.rawSubject }}\n\n🔍 *Revisar manualmente en Gmail*\n\nID: `{{ $json.processingId }}`",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "004c67f3-3f90-4721-8605-0c1f80f8097d",
      "name": "📱 TG Pago No Procesable",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        384
      ],
      "webhookId": "c546c4f3-4b2f-4854-9fd0-945791755107",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e724fe28-3482-4e49-beb8-223a1fbaf76f",
      "name": "Buscar Cliente por Email",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -608,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39c689a0-c3f8-4270-b3ef-17095178a9e9",
      "name": "¿Cliente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -384,
        144
      ]
    },
    {
      "parameters": {
        "chatId": "6908159885",
        "text": "=🚨 *PAGO SIN CONTRATO FIRMADO*\n━━━━━━━━━━━━━━━━━━━━━━\n\n📧 `{{ $('Normalizar Pago').item.json.email }}`\n💰 ${{ $('Normalizar Pago').item.json.amount || 'N/A' }} USD\n\n⚠️ *Este cliente pagó pero NO tiene contrato firmado*\n\n📋 *Acciones requeridas:*\n1. Verificar si el email es correcto\n2. Contactar al cliente\n3. Enviar enlace de contrato si aplica\n\nID: `{{ $('Normalizar Pago').item.json.processingId }}`",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "a3ef1462-3819-455b-b515-a1f5564ca67b",
      "name": "📱 TG ALERTA Pago Sin Contrato",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        64,
        304
      ],
      "webhookId": "ec9e9405-a1a5-40e4-b723-6233bb5242a4",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $('Normalizar Pago').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60b16679-f3ba-4351-90c7-104e79392f16",
      "name": "Leer Estado Actualizado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        64,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json['Firma Verificada (Y/N)'] }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json['Pago Verificado (Y/N)'] }}",
              "rightValue": "Y",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f31a5564-1128-415a-b886-0c886cd16156",
      "name": "¿Firma + Pago Completos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        -16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "=6AS8fdSdwVGZpil4kAtVX",
          "cachedResultName": "=6AS8fdSdwVGZpil4kAtVX"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6e58532c-1113-4f7c-a490-20dc7a240c21",
      "name": "Ejecutar Onboarding",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        736,
        -96
      ]
    },
    {
      "parameters": {
        "chatId": "6908159885",
        "text": "=💸 *PAGO RECIBIDO*\n━━━━━━━━━━━━━━━━━━━━━━\n\n👤 *{{ $json.Nombre }}*\n📧 `{{ $json.Email }}`\n💰 ${{ $('Normalizar Pago').item.json.amount || 'N/A' }} USD\n\n✅ Pago: *VERIFICADO*\n⏳ Firma: *PENDIENTE*\n\n📋 El cliente ya pagó pero aún falta la firma del contrato.\n\n⏰ {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "e0eb4668-316d-48ad-9879-873a96409d5e",
      "name": "📱 TG Pago (Falta Firma)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        144
      ],
      "webhookId": "825e599d-d7d3-44ec-8690-d6b6e585c1bb",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Normalizar Pago').item.json.email }}",
            "Pago Verificado (Y/N)": "Y",
            "Pago Monto": "={{ $('Normalizar Pago').item.json.amount }}",
            "Pago Timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "0e545527-edcd-42c4-8248-dc74be8dbcd1",
      "name": "Marcar Pago Recibido1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Estado": "Cliente Activo",
            "Fecha Activación": "={{ $now.toISO() }}",
            "row_number": 0,
            "Notas": "={{ $json.Notas }}",
            "Próxima Acción": "={{ $json['Próxima Acción'] }}",
            "Asignado (Rep)": "={{ $json['Asignado (Rep)'] }}",
            "Telegram Notificado (Y/N)": "Y",
            "PayPal Link": "={{ $json['PayPal Link'] }}",
            "DocuSign Link": "={{ $json['DocuSign Link'] }}",
            "Fuente": "={{ $json.Fuente }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo de Evento",
              "displayName": "Tipo de Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (UTC)",
              "displayName": "Fecha Evento (UTC)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (America/Bogota)",
              "displayName": "Fecha Evento (America/Bogota)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Calendly Link",
              "displayName": "Calendly Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram Notificado (Y/N)",
              "displayName": "Telegram Notificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #2 (Timestamp)",
              "displayName": "Gmail Enviado #2 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Firma Verificada (Y/N)",
              "displayName": "Firma Verificada (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pago Verificado (Y/N)",
              "displayName": "Pago Verificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Activación",
              "displayName": "Fecha Activación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asignado (Rep)",
              "displayName": "Asignado (Rep)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Próxima Acción",
              "displayName": "Próxima Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recordatorio (Fecha)",
              "displayName": "Recordatorio (Fecha)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "1129323a-9418-4241-93b2-828decb6bbf6",
      "name": "Marcar Cliente Activo1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        512,
        -96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Normalizar Pago1').item.json.email }}",
            "Nombre": "=Pago sin contrato",
            "Pago Verificado (Y/N)": "Y",
            "Firma Verificada (Y/N)": "N",
            "Pago Monto": "={{ $('Normalizar Pago1').item.json.amount }}",
            "Pago Timestamp": "={{ $now.toISO() }}",
            "Estado": "Pago recibido - SIN CONTRATO",
            "Fuente": "PayPal Email",
            "Notas": "=ALERTA: Pago recibido pero cliente no tiene contrato firmado"
          },
          "matchingColumns": []
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2
            }
          }
        }
      },
      "id": "d17eaf91-0051-4ad4-adb4-b93d9e9cb63e",
      "name": "Crear Cliente (Solo Pago)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger - Pagos PayPal": {
      "main": [
        [
          {
            "node": "Normalizar Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Pago": {
      "main": [
        [
          {
            "node": "¿Pago Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Pago Válido?": {
      "main": [
        [
          {
            "node": "Buscar Cliente por Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📱 TG Pago No Procesable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente por Email": {
      "main": [
        [
          {
            "node": "¿Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cliente Existe?": {
      "main": [
        [
          {
            "node": "Marcar Pago Recibido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Cliente (Solo Pago)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Actualizado": {
      "main": [
        [
          {
            "node": "¿Firma + Pago Completos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Firma + Pago Completos?": {
      "main": [
        [
          {
            "node": "Marcar Cliente Activo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📱 TG Pago (Falta Firma)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Onboarding": {
      "main": [
        []
      ]
    },
    "Marcar Pago Recibido1": {
      "main": [
        [
          {
            "node": "Leer Estado Actualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Cliente Activo1": {
      "main": [
        [
          {
            "node": "Ejecutar Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cliente (Solo Pago)": {
      "main": [
        [
          {
            "node": "📱 TG ALERTA Pago Sin Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "24addcee-33dc-4a9c-91dc-eca7f1095110",
  "meta": {
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "OHce_S384BPgGq__IY7QJ",
  "tags": []
}