home_snapshot/ubuntu/Workflows-n8n/E.X.T/CONTRATO XS.json
{
  "name": "CONTRATO XS",
  "nodes": [
    {
      "parameters": {
        "path": "contrato",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e580e641-c4dc-4858-87de-d8332518687e",
      "name": "PowerForm GET1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        128
      ],
      "webhookId": "contrato-powerform"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Contrato de Servicios - Nexus Global</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body { font-family: 'Times New Roman', Georgia, serif; background: #f4f4f4; color: #1a1a1a; min-height: 100vh; padding: 20px; }\n        .page-container { max-width: 816px; margin: 0 auto; }\n        .document { background: white; box-shadow: 0 2px 20px rgba(0,0,0,0.15); padding: 60px 72px; min-height: 1056px; position: relative; }\n        .header { text-align: center; margin-bottom: 40px; padding-bottom: 20px; border-bottom: 2px solid #8B0000; }\n        .logo { max-height: 50px; margin-bottom: 15px; }\n        .doc-title { font-size: 18px; font-weight: bold; letter-spacing: 2px; color: #1a1a1a; margin-bottom: 5px; }\n        .doc-subtitle { font-size: 14px; color: #666; letter-spacing: 1px; }\n        .date-line { text-align: right; margin-bottom: 30px; font-size: 13px; }\n        .date-line span { border-bottom: 1px solid #333; padding: 0 10px; }\n        .section { margin-bottom: 25px; }\n        .section-title { font-size: 13px; font-weight: bold; color: #8B0000; margin-bottom: 12px; letter-spacing: 1px; }\n        .section p, .section li { font-size: 13px; line-height: 1.8; text-align: justify; margin-bottom: 10px; }\n        .section ul { padding-left: 25px; margin: 10px 0; }\n        .section li { margin-bottom: 5px; }\n        .party-box { background: #fafafa; border: 1px solid #e0e0e0; padding: 15px 20px; margin-bottom: 15px; border-radius: 4px; }\n        .party-label { font-size: 11px; color: #666; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 8px; }\n        .party-value { font-size: 13px; font-weight: 500; }\n        .editable-field { width: 100%; padding: 10px 12px; border: none; border-bottom: 1px solid #333; background: transparent; font-family: inherit; font-size: 13px; margin-top: 5px; }\n        .editable-field:focus { outline: none; border-bottom-color: #8B0000; background: #fffbf5; }\n        .editable-field::placeholder { color: #999; font-style: italic; }\n        .highlight { background: #fff3cd; padding: 2px 5px; }\n        .signature-section { margin-top: 50px; page-break-inside: avoid; }\n        .signature-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 60px; margin-top: 30px; }\n        .signature-box { text-align: center; }\n        .signature-box h4 { font-size: 11px; color: #666; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 15px; }\n        .signature-line { border-bottom: 1px solid #333; height: 140px; margin-bottom: 10px; position: relative; }\n        .signature-line img { max-height: 130px; max-width: 100%; position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%); }\n        .signature-name { font-size: 12px; margin-top: 8px; }\n        .signature-id { font-size: 11px; color: #666; }\n        .signature-canvas-container { background: #fff; border: 2px dashed #ccc; border-radius: 8px; padding: 10px; margin-bottom: 10px; }\n        canvas { cursor: crosshair; display: block; margin: 0 auto; background: white; border-radius: 4px; }\n        .signature-controls { display: flex; gap: 10px; justify-content: center; flex-wrap: wrap; margin-top: 10px; }\n        .btn { padding: 10px 20px; border: none; border-radius: 6px; font-size: 12px; font-weight: 600; cursor: pointer; transition: all 0.2s; font-family: 'Segoe UI', Arial, sans-serif; }\n        .btn-clear { background: #f5f5f5; color: #666; border: 1px solid #ddd; }\n        .btn-clear:hover { background: #eee; }\n        .btn-submit { background: #8B0000; color: white; padding: 15px 40px; font-size: 14px; letter-spacing: 1px; }\n        .btn-submit:hover { background: #6a0000; transform: translateY(-1px); box-shadow: 0 4px 15px rgba(139,0,0,0.3); }\n        .btn-submit:disabled { opacity: 0.5; cursor: not-allowed; transform: none; }\n        .file-input { display: none; }\n        .uploaded-signature { max-height: 80px; max-width: 200px; display: block; margin: 10px auto; }\n        .form-section { background: #f9f9f9; border: 1px solid #e5e5e5; padding: 25px; border-radius: 8px; margin: 30px 0; }\n        .form-section h3 { font-size: 14px; color: #8B0000; margin-bottom: 20px; font-family: 'Segoe UI', Arial, sans-serif; }\n        .submit-section { text-align: center; margin-top: 40px; padding-top: 30px; border-top: 1px solid #eee; }\n        .legal-note { font-size: 11px; color: #888; margin-top: 15px; font-family: 'Segoe UI', Arial, sans-serif; }\n        .signature-type-tabs { display: flex; gap: 10px; margin-bottom: 15px; justify-content: center; }\n        .tab-btn { padding: 8px 20px; border: 1px solid #ddd; background: white; border-radius: 20px; font-size: 12px; cursor: pointer; transition: all 0.2s; font-family: 'Segoe UI', Arial, sans-serif; }\n        .tab-btn.active { background: #8B0000; color: white; border-color: #8B0000; }\n        .tab-btn:hover:not(.active) { background: #f5f5f5; }\n        .signature-panel { display: none; }\n        .signature-panel.active { display: block; }\n        .success-overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.8); z-index: 1000; align-items: center; justify-content: center; }\n        .success-box { background: white; padding: 50px; border-radius: 16px; text-align: center; max-width: 400px; }\n        .loading { display: inline-block; width: 20px; height: 20px; border: 2px solid #fff; border-radius: 50%; border-top-color: transparent; animation: spin 1s linear infinite; vertical-align: middle; margin-right: 10px; }\n        @keyframes spin { to { transform: rotate(360deg); } }\n        @media (max-width: 768px) { .document { padding: 30px 25px; } .signature-grid { grid-template-columns: 1fr; gap: 30px; } }\n    </style>\n</head>\n<body>\n    <div class=\"page-container\">\n        <div class=\"document\">\n            <div class=\"header\">\n                <img src=\"https://i.imgur.com/eIFLGFn.png\" alt=\"Nexus Global\" class=\"logo\">\n                <h1 class=\"doc-title\">CONTRATO DE PRESTACION DE SERVICIOS</h1>\n                <p class=\"doc-subtitle\">PROFESIONALES Y LICENCIAMIENTO TECNOLOGICO</p>\n            </div>\n            <div class=\"date-line\">Fecha de Suscripcion: <span id=\"currentDate\"></span></div>\n            <div class=\"section\">\n                <h2 class=\"section-title\">I. IDENTIFICACION DE LAS PARTES</h2>\n                <div class=\"party-box\">\n                    <div class=\"party-label\">1. EL PROVEEDOR:</div>\n                    <p class=\"party-value\"><strong>Nexus Global</strong>, representado legalmente por <strong>Santiago Rubio</strong>, identificado con C.C. 1104935030, con domicilio en Medellin, Antioquia, y correo electronico ceomarketing.co</p>\n                </div>\n                <div class=\"party-box\">\n                    <div class=\"party-label\">2. EL CLIENTE:</div>\n                    <p style=\"font-size:13px; margin-bottom:8px;\">Nombre/Razon Social: <input type=\"text\" class=\"editable-field\" id=\"clientName\" placeholder=\"Ingrese su nombre completo\" required></p>\n                    <p style=\"font-size:13px; margin-bottom:8px;\">Identificacion (ID/NIT): <input type=\"text\" class=\"editable-field\" id=\"clientId\" placeholder=\"Ingrese su numero de documento\" required></p>\n                    <p style=\"font-size:13px; margin-bottom:8px;\">Domicilio: <input type=\"text\" class=\"editable-field\" id=\"clientAddress\" placeholder=\"Ciudad, Pais\"></p>\n                    <p style=\"font-size:13px;\">Correo Electronico: <input type=\"text\" class=\"editable-field\" id=\"clientEmail\" value=\"{{ $json.query.email }}\" readonly style=\"background:#f5f5f5;color:#666;\"></p>\n                </div>\n            </div>\n            <div class=\"section\">\n                <h2 class=\"section-title\">II. OBJETO DEL CONTRATO</h2>\n                <p>El PROVEEDOR se obliga a prestar al CLIENTE los servicios de consultoria, mentoria y acceso a la infraestructura digital denominada <strong>\"NEXUS: Arquitectura de Conversion High-Ticket\"</strong>. Esto incluye el uso temporal de activos intelectuales, estrategias de marketing y el sistema operativo interno.</p>\n            </div>\n            <div class=\"section\">\n                <h2 class=\"section-title\">III. VALOR Y FORMA DE PAGO</h2>\n                <p><strong>3.1. Valor Total:</strong><br>El valor total de los servicios y licencias objeto de este contrato es de <span class=\"highlight\">CINCO MIL DOLARES AMERICANOS (USD $5,000.00)</span>.</p>\n                <p><strong>3.2. Esquema de Pago:</strong></p>\n                <ul>\n                    <li><strong>Pago Inicial (Activacion):</strong> La suma de USD $500.00, pagaderos a la firma de este documento.</li>\n                    <li><strong>Saldo Restante:</strong> La suma de USD $4,500.00, a ser cancelada conforme al plan de pagos acordado en el Anexo 1 o mediante los ingresos generados por el sistema.</li>\n                </ul>\n            </div>\n            <div class=\"section\">\n                <h2 class=\"section-title\">IV. GARANTIA, REEMBOLSOS Y COSTOS OPERATIVOS</h2>\n                <p><strong>4.1. Garantia de Satisfaccion Condicionada:</strong><br>El CLIENTE goza de un periodo de garantia de treinta y un (31) dias calendario. Si durante este periodo no se cumplen los entregables pactados, el CLIENTE podra solicitar el reembolso del Pago Inicial, sujeto a las deducciones operativas descritas en la clausula 4.3.</p>\n                <p><strong>4.2. Condicion de Revocacion (Exito):</strong><br>La garantia de reembolso se extingue automaticamente si el CLIENTE genera ingresos iguales o superiores a USD $1,000.00 derivados de la implementacion del sistema durante el periodo de garantia.</p>\n                <p><strong>4.3. Costos Operativos de Infraestructura (Xus OS) - Deduccion:</strong><br>El acceso a la plataforma \"Xus OS\" y la infraestructura de servidores conlleva costos de mantenimiento y APIs dedicadas.</p>\n                <p><em>Paragrafo:</em> Las PARTES acuerdan que, a partir de la segunda semana de servicio (dia 15), se generara un costo operativo fijo de USD $50.00 por semana por concepto de mantenimiento de Xus OS. Este costo tiene caracter de gasto administrativo consumible y <strong>NO REEMBOLSABLE</strong>. En caso de ejecutarse cualquier tipo de devolucion o reembolso del dinero acordado, se descontara automaticamente el valor acumulado de estas semanas de servicio del monto a reintegrar.</p>\n            </div>\n            <div class=\"section\">\n                <h2 class=\"section-title\">V. PROPIEDAD INTELECTUAL</h2>\n                <p>Toda la metodologia, software, scripts y documentos suministrados por Nexus Global son propiedad exclusiva del PROVEEDOR. El CLIENTE recibe una licencia de uso personal e intransferible. La redistribucion de estos materiales conllevara las sanciones legales correspondientes.</p>\n            </div>\n            <div class=\"section\">\n                <h2 class=\"section-title\">VI. ACEPTACION</h2>\n                <p>Leido el presente contrato y entendiendo sus implicaciones financieras y operativas, se firma en senal de aceptacion.</p>\n            </div>\n            <div class=\"signature-section\">\n                <div class=\"signature-grid\">\n                    <div class=\"signature-box\">\n                        <h4>Por el Proveedor</h4>\n                        <div class=\"signature-line\"><img src=\"https://i.imgur.com/sr0Y3uF.png\" alt=\"Firma Santiago Rubio\"></div>\n                        <p class=\"signature-name\"><strong>Santiago Rubio</strong></p>\n                        <p class=\"signature-id\">Representante Legal - Nexus Global</p>\n                    </div>\n                    <div class=\"signature-box\">\n                        <h4>Por el Cliente</h4>\n                        <div class=\"signature-line\" id=\"clientSignatureLine\"><img id=\"signaturePreview\" src=\"\" alt=\"\" style=\"display:none;\"></div>\n                        <p class=\"signature-name\" id=\"displayName\">_____________________________</p>\n                        <p class=\"signature-id\" id=\"displayId\">ID: _________________________</p>\n                    </div>\n                </div>\n            </div>\n            <div class=\"form-section\">\n                <h3>Complete su firma digital</h3>\n                <div class=\"signature-type-tabs\">\n                    <button type=\"button\" class=\"tab-btn active\" onclick=\"showPanel('draw')\">Dibujar firma</button>\n                    <button type=\"button\" class=\"tab-btn\" onclick=\"showPanel('upload')\">Subir imagen</button>\n                    <button type=\"button\" class=\"tab-btn\" onclick=\"showPanel('type')\">Escribir nombre</button>\n                </div>\n                <div id=\"panel-draw\" class=\"signature-panel active\">\n                    <div class=\"signature-canvas-container\"><canvas id=\"signatureCanvas\" width=\"400\" height=\"150\"></canvas></div>\n                    <div class=\"signature-controls\"><button type=\"button\" class=\"btn btn-clear\" onclick=\"clearCanvas()\">Borrar</button></div>\n                </div>\n                <div id=\"panel-upload\" class=\"signature-panel\">\n                    <input type=\"file\" id=\"signatureFile\" class=\"file-input\" accept=\"image/*\" onchange=\"handleFileUpload(event)\">\n                    <div style=\"text-align:center; padding:30px; border:2px dashed #ddd; border-radius:8px; cursor:pointer;\" onclick=\"document.getElementById('signatureFile').click()\">\n                        <p style=\"font-size:14px; color:#666; margin-bottom:10px;\">Haz clic para subir tu firma</p>\n                        <p style=\"font-size:11px; color:#999;\">Formatos: PNG, JPG, GIF</p>\n                        <img id=\"uploadedPreview\" src=\"\" alt=\"\" class=\"uploaded-signature\" style=\"display:none;\">\n                    </div>\n                </div>\n                <div id=\"panel-type\" class=\"signature-panel\">\n                    <div style=\"margin-bottom:15px;\"><label style=\"display:block;font-size:11px;color:#666;text-transform:uppercase;letter-spacing:1px;margin-bottom:5px;font-family:'Segoe UI',sans-serif;\">Escriba su nombre completo</label><input type=\"text\" style=\"width:100%;padding:12px 15px;border:1px solid #ddd;border-radius:6px;font-size:24px;font-family:'Brush Script MT',cursive;\" id=\"typedSignature\" placeholder=\"Ej: Juan Carlos Perez\" oninput=\"updateTypedSignature()\"></div>\n                    <div style=\"text-align:center; padding:20px; background:#f9f9f9; border-radius:8px;\"><p style=\"font-family:'Brush Script MT',cursive; font-size:32px; color:#1a1a1a;\" id=\"typedPreview\"></p></div>\n                </div>\n            </div>\n            <div class=\"submit-section\">\n                <button type=\"button\" class=\"btn btn-submit\" id=\"submitBtn\" onclick=\"submitContract()\">FIRMAR Y ENVIAR CONTRATO</button>\n                <p class=\"legal-note\">Al firmar, acepto los terminos del contrato y autorizo el procesamiento de mis datos.<br>Esta firma digital tiene la misma validez legal que una firma manuscrita.</p>\n            </div>\n        </div>\n    </div>\n    <div class=\"success-overlay\" id=\"successOverlay\"><div class=\"success-box\"><div style=\"width:80px;height:80px;background:#d4edda;border-radius:50%;display:flex;align-items:center;justify-content:center;margin:0 auto 20px;font-size:40px;\">OK</div><h2 style=\"font-size:24px;color:#155724;margin-bottom:10px;font-family:'Segoe UI',sans-serif;\">Contrato Firmado</h2><p style=\"color:#666;font-size:14px;line-height:1.6;font-family:'Segoe UI',sans-serif;\">Tu contrato ha sido procesado exitosamente.<br><br>Recibiras una copia por correo.<br>Redirigiendo al pago...</p></div></div>\n    <script src=\"https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js\"></script>\n    <script>\n        var meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n        var hoy = new Date();\n        var fechaFormateada = hoy.getDate() + ' de ' + meses[hoy.getMonth()] + ' de ' + hoy.getFullYear();\n        document.getElementById('currentDate').textContent = fechaFormateada;\n        var canvas = document.getElementById('signatureCanvas');\n        var signaturePad = new SignaturePad(canvas, { backgroundColor: 'rgb(255, 255, 255)', penColor: 'rgb(0, 0, 0)' });\n        function resizeCanvas() { \n    var ratio = Math.max(window.devicePixelRatio || 1, 1); \n    var container = canvas.parentElement;\n    canvas.width = container.offsetWidth * ratio; \n    canvas.height = 150 * ratio; \n    canvas.style.width = container.offsetWidth + 'px';\n    canvas.style.height = '150px';\n    var ctx = canvas.getContext('2d');\n    ctx.scale(ratio, ratio); \n    ctx.strokeStyle = '#000';\n    ctx.lineWidth = 2;\n    signaturePad.clear(); \n}\n        window.addEventListener('resize', resizeCanvas); resizeCanvas();\n        var currentSignatureType = 'draw'; var uploadedSignatureData = null;\n        function showPanel(type) { currentSignatureType = type; document.querySelectorAll('.tab-btn').forEach(function(btn) { btn.classList.remove('active'); }); document.querySelectorAll('.signature-panel').forEach(function(panel) { panel.classList.remove('active'); }); event.target.classList.add('active'); document.getElementById('panel-' + type).classList.add('active'); }\n        function clearCanvas() { signaturePad.clear(); document.getElementById('signaturePreview').style.display = 'none'; }\n        function handleFileUpload(e) { var file = e.target.files[0]; if (file) { var reader = new FileReader(); reader.onload = function(event) { uploadedSignatureData = event.target.result; document.getElementById('uploadedPreview').src = uploadedSignatureData; document.getElementById('uploadedPreview').style.display = 'block'; updateSignaturePreview(uploadedSignatureData); }; reader.readAsDataURL(file); } }\n        function updateTypedSignature() { var text = document.getElementById('typedSignature').value; document.getElementById('typedPreview').textContent = text; }\n        function updateSignaturePreview(src) { var preview = document.getElementById('signaturePreview'); preview.src = src; preview.style.display = 'block'; }\n        document.getElementById('clientName').addEventListener('input', function() { document.getElementById('displayName').textContent = this.value || '_____________________________'; });\n        document.getElementById('clientId').addEventListener('input', function() { document.getElementById('displayId').textContent = 'ID: ' + (this.value || '_________________________'); });\n        function getSignatureData() { switch(currentSignatureType) { case 'draw': if (signaturePad.isEmpty()) return null; return signaturePad.toDataURL(); case 'upload': return uploadedSignatureData; case 'type': var text = document.getElementById('typedSignature').value; if (!text) return null; var tempCanvas = document.createElement('canvas'); tempCanvas.width = 400; tempCanvas.height = 100; var ctx = tempCanvas.getContext('2d'); ctx.fillStyle = 'white'; ctx.fillRect(0, 0, 400, 100); ctx.font = 'italic 40px Brush Script MT, cursive'; ctx.fillStyle = 'black'; ctx.textAlign = 'center'; ctx.fillText(text, 200, 60); return tempCanvas.toDataURL(); default: return null; } }\n        function submitContract() { var name = document.getElementById('clientName').value.trim(); var docId = document.getElementById('clientId').value.trim(); var address = document.getElementById('clientAddress').value.trim(); var signature = getSignatureData(); var btn = document.getElementById('submitBtn'); if (!name) { alert('Por favor ingrese su nombre completo'); return; } if (!docId) { alert('Por favor ingrese su numero de identificacion'); return; } if (!signature) { alert('Por favor proporcione su firma'); return; } updateSignaturePreview(signature); btn.disabled = true; btn.innerHTML = '<span class=\"loading\"></span> Procesando...'; var data = { name: name, docId: docId, address: address, email: '{{ $json.query.email }}', token: '{{ $json.query.token || \"\" }}', signature: signature, signatureType: currentSignatureType, signedAt: new Date().toISOString(), formattedDate: fechaFormateada, userAgent: navigator.userAgent }; fetch('https://nexusys.duckdns.org/webhook/firmar', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data) }).then(function(response) { return response.json(); }).then(function(result) { document.getElementById('successOverlay').style.display = 'flex'; setTimeout(function() { window.location.href = 'https://www.paypal.com/ncp/payment/CT7PSNJHMUFHC'; }, 3000); }).catch(function(error) { console.error('Error:', error); btn.disabled = false; btn.innerHTML = 'FIRMAR Y ENVIAR CONTRATO'; alert('Error al procesar. Por favor intente de nuevo.'); }); }\n    </script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "219c8b65-cd8d-487e-b822-fb0ad1fa0850",
      "name": "Mostrar Contrato HTML1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -592,
        128
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "46cf0151-4150-4a12-871d-4b2fc741d074",
      "name": "Esperar Emails",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1440,
        256
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "firmar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c2c75a5-fc28-45bc-a487-da64b5162c09",
      "name": "Recibir Firma POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        352
      ],
      "webhookId": "firmar-powerform"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// PROCESADOR DE FIRMA DIGITAL - VERSIÓN ULTRA ROBUSTA\n// Maneja: Zonas horarias, validaciones, formatos, edge cases\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 1. EXTRACCIÓN DE DATOS CON FALLBACKS\n// ═══════════════════════════════════════════════════════════════════════════\nconst name = (body.name || body.clientName || body.nombre || '').trim();\nconst docId = (body.docId || body.clientDocId || body.documento || body.id || '').trim();\nconst address = (body.address || body.clientAddress || body.direccion || body.domicilio || '').trim();\nconst email = (body.email || body.clientEmail || body.correo || '').trim().toLowerCase();\nconst token = body.token || body.accessToken || '';\nconst signatureBase64 = body.signature || body.signatureDataUri || body.firma || '';\nconst signatureType = body.signatureType || body.tipoFirma || 'draw';\nconst userAgent = body.userAgent || body.navegador || '';\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 2. VALIDACIONES EXHAUSTIVAS\n// ═══════════════════════════════════════════════════════════════════════════\nconst errores = [];\n\nif (!name) errores.push('Nombre completo');\nif (!docId) errores.push('Número de documento');\nif (!email) errores.push('Correo electrónico');\n\n// Validar formato de email\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (email && !emailRegex.test(email)) {\n  errores.push('Formato de email inválido');\n}\n\n// Validar firma\nif (!signatureBase64) {\n  errores.push('Firma digital');\n} else if (!signatureBase64.startsWith('data:image')) {\n  errores.push('Formato de firma inválido (debe ser imagen)');\n}\n\nif (errores.length > 0) {\n  return [{ \n    json: { \n      success: false, \n      error: 'Datos incompletos o inválidos', \n      message: `Campos con problemas: ${errores.join(', ')}`,\n      camposFaltantes: errores\n    } \n  }];\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 3. GENERACIÓN DE ID DE CONTRATO ÚNICO\n// ═══════════════════════════════════════════════════════════════════════════\nconst timestamp = Date.now();\nconst randomPart = Math.random().toString(36).substring(2, 6).toUpperCase();\nconst contractId = `NX-${timestamp.toString(36).toUpperCase()}-${randomPart}`;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 4. MANEJO ROBUSTO DE FECHA Y HORA - ZONA HORARIA COLOMBIA\n// ═══════════════════════════════════════════════════════════════════════════\nconst TIMEZONE = 'America/Bogota';\n\n// Obtener fecha actual en Colombia (ignoramos la fecha del cliente por seguridad)\nconst ahora = new Date();\n\n// Función para formatear fecha en español Colombia\nfunction formatearFechaColombia(fecha) {\n  try {\n    // Método 1: Intl.DateTimeFormat (más confiable)\n    const opcionesFecha = {\n      timeZone: TIMEZONE,\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      year: 'numeric'\n    };\n    \n    const opcionesHora = {\n      timeZone: TIMEZONE,\n      hour: 'numeric',\n      minute: '2-digit',\n      hour12: true\n    };\n    \n    const fechaStr = fecha.toLocaleDateString('es-CO', opcionesFecha);\n    const horaStr = fecha.toLocaleTimeString('es-CO', opcionesHora);\n    \n    // Capitalizar primera letra del día\n    const fechaCapitalizada = fechaStr.charAt(0).toUpperCase() + fechaStr.slice(1);\n    \n    return {\n      fechaCompleta: `${fechaCapitalizada} a las ${horaStr}`,\n      fechaCorta: fecha.toLocaleDateString('es-CO', { \n        timeZone: TIMEZONE, \n        day: 'numeric', \n        month: 'long', \n        year: 'numeric' \n      }),\n      horaCorta: horaStr,\n      iso: fecha.toISOString(),\n      timestamp: fecha.getTime()\n    };\n  } catch (error) {\n    // Fallback manual si Intl falla\n    const meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', \n                   'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\n    const dias = ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'];\n    \n    // Ajustar manualmente a UTC-5 (Colombia)\n    const offsetColombia = -5 * 60; // minutos\n    const offsetLocal = fecha.getTimezoneOffset();\n    const diferencia = offsetColombia - offsetLocal;\n    const fechaColombia = new Date(fecha.getTime() + diferencia * 60 * 1000);\n    \n    const dia = dias[fechaColombia.getDay()];\n    const diaNum = fechaColombia.getDate();\n    const mes = meses[fechaColombia.getMonth()];\n    const año = fechaColombia.getFullYear();\n    \n    let hora = fechaColombia.getHours();\n    const minutos = fechaColombia.getMinutes().toString().padStart(2, '0');\n    const ampm = hora >= 12 ? 'p.m.' : 'a.m.';\n    hora = hora % 12 || 12;\n    \n    return {\n      fechaCompleta: `${dia.charAt(0).toUpperCase() + dia.slice(1)}, ${diaNum} de ${mes} de ${año} a las ${hora}:${minutos} ${ampm}`,\n      fechaCorta: `${diaNum} de ${mes} de ${año}`,\n      horaCorta: `${hora}:${minutos} ${ampm}`,\n      iso: fecha.toISOString(),\n      timestamp: fecha.getTime()\n    };\n  }\n}\n\nconst fechaInfo = formatearFechaColombia(ahora);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 5. EXTRACCIÓN DE INFORMACIÓN DEL REQUEST\n// ═══════════════════════════════════════════════════════════════════════════\nconst headers = input.headers || {};\n\n// IP del cliente (considerando proxies)\nconst ipAddress = headers['x-forwarded-for']?.split(',')[0]?.trim() || \n                  headers['x-real-ip'] || \n                  headers['cf-connecting-ip'] || // Cloudflare\n                  headers['x-client-ip'] ||\n                  'No disponible';\n\n// País/Región si está disponible (Cloudflare)\nconst country = headers['cf-ipcountry'] || 'N/A';\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 6. SANITIZACIÓN DE DATOS PARA PDF/EMAIL\n// ═══════════════════════════════════════════════════════════════════════════\nfunction sanitizarTexto(texto) {\n  if (!texto) return '';\n  return texto\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 7. RETORNO DE DATOS COMPLETOS\n// ═══════════════════════════════════════════════════════════════════════════\nreturn [{\n  json: {\n    // Estado\n    success: true,\n    \n    // Identificadores\n    contractId: contractId,\n    \n    // Datos del cliente (sanitizados)\n    clientName: sanitizarTexto(name),\n    clientDocId: sanitizarTexto(docId),\n    clientAddress: sanitizarTexto(address) || 'No especificado',\n    clientEmail: email,\n    token: token,\n    \n    // Firma\n    signatureDataUri: signatureBase64,\n    signatureType: signatureType,\n    \n    // Fechas (múltiples formatos)\n    signedAt: fechaInfo.iso,\n    signedAtTimestamp: fechaInfo.timestamp,\n    formattedDate: fechaInfo.fechaCompleta,\n    fechaCorta: fechaInfo.fechaCorta,\n    horaCorta: fechaInfo.horaCorta,\n    timezone: TIMEZONE,\n    \n    // Metadatos de seguridad\n    ipAddress: ipAddress,\n    country: country,\n    userAgent: userAgent,\n    \n    // Info adicional para auditoría\n    metadata: {\n      processedAt: new Date().toISOString(),\n      n8nNodeVersion: '2.0',\n      signatureSize: signatureBase64.length,\n      validationsPassed: true\n    }\n  }\n}];"
      },
      "id": "8ad0834d-22b2-412e-ad06-9f2b3c9c14d4",
      "name": "Procesar Firma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "cb44e40f-fdf2-4d43-b2fb-5018df7ec9cf"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "334c3448-fb8a-429d-b7d0-55645ab7ce7a",
      "name": "Firma Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -352,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Contrato ${data.contractId}</title>\n    <style>\n        @page { margin: 50px 60px; size: letter; }\n        body { font-family: \"Times New Roman\", Georgia, serif; color: #1a1a1a; font-size: 12pt; line-height: 1.6; }\n        .header { text-align: center; margin-bottom: 30px; padding-bottom: 15px; border-bottom: 2px solid #8B0000; }\n        .doc-title { font-size: 16pt; font-weight: bold; letter-spacing: 2px; margin-bottom: 3px; }\n        .doc-subtitle { font-size: 11pt; color: #666; letter-spacing: 1px; }\n        .date-line { text-align: right; margin-bottom: 25px; font-size: 11pt; }\n        .section { margin-bottom: 20px; }\n        .section-title { font-size: 11pt; font-weight: bold; color: #8B0000; margin-bottom: 10px; letter-spacing: 1px; }\n        .section p { font-size: 11pt; text-align: justify; margin-bottom: 8px; }\n        .section ul { padding-left: 25px; margin: 8px 0; }\n        .section li { margin-bottom: 5px; font-size: 11pt; }\n        .party-box { background: #f8f8f8; border: 1px solid #ddd; padding: 12px 15px; margin-bottom: 12px; }\n        .party-label { font-size: 9pt; color: #666; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 5px; }\n        .highlight { background: #fff3cd; padding: 1px 4px; }\n        .signature-section { margin-top: 40px; page-break-inside: avoid; }\n        .signature-grid { display: flex; justify-content: space-between; margin-top: 25px; }\n        .signature-box { width: 45%; text-align: center; }\n        .signature-box h4 { font-size: 9pt; color: #666; text-transform: uppercase; letter-spacing: 1px; margin-bottom: 12px; font-weight: normal; }\n        .signature-line { border-bottom: 1px solid #333; height: 120px; margin-bottom: 8px; position: relative; }\n        .signature-line img { max-height: 110px; max-width: 100%; position: absolute; bottom: 3px; left: 50%; transform: translateX(-50%); }\n        .signature-name { font-size: 10pt; font-weight: bold; }\n        .signature-id { font-size: 9pt; color: #666; }\n        .footer { margin-top: 30px; padding-top: 15px; border-top: 1px solid #ddd; font-size: 8pt; color: #888; text-align: center; }\n        .contract-id { font-family: monospace; background: #f5f5f5; padding: 2px 6px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1 class=\"doc-title\">CONTRATO DE PRESTACION DE SERVICIOS</h1>\n        <p class=\"doc-subtitle\">PROFESIONALES Y LICENCIAMIENTO TECNOLOGICO</p>\n    </div>\n    <div class=\"date-line\">Fecha de Suscripcion: <strong>${data.formattedDate}</strong></div>\n    <div class=\"section\">\n        <h2 class=\"section-title\">I. IDENTIFICACION DE LAS PARTES</h2>\n        <div class=\"party-box\">\n            <div class=\"party-label\">1. EL PROVEEDOR:</div>\n            <p><strong>Nexus Global</strong>, representado legalmente por <strong>Santiago Rubio</strong>, identificado con C.C. 1104935030, con domicilio en Medellin, Antioquia.</p>\n        </div>\n        <div class=\"party-box\">\n            <div class=\"party-label\">2. EL CLIENTE:</div>\n            <p>Nombre: <strong>${data.clientName}</strong></p>\n            <p>Identificacion: <strong>${data.clientDocId}</strong></p>\n            <p>Domicilio: <strong>${data.clientAddress || 'No especificado'}</strong></p>\n            <p>Email: <strong>${data.clientEmail}</strong></p>\n        </div>\n    </div>\n    <div class=\"section\">\n        <h2 class=\"section-title\">II. OBJETO DEL CONTRATO</h2>\n        <p>El PROVEEDOR se obliga a prestar al CLIENTE los servicios de consultoria, mentoria y acceso a la infraestructura digital denominada <strong>\"NEXUS: Arquitectura de Conversion High-Ticket\"</strong>.</p>\n    </div>\n    <div class=\"section\">\n        <h2 class=\"section-title\">III. VALOR Y FORMA DE PAGO</h2>\n        <p><strong>3.1. Valor Total:</strong> <span class=\"highlight\">CINCO MIL DOLARES AMERICANOS (USD $5,000.00)</span>.</p>\n        <p><strong>3.2. Esquema de Pago:</strong></p>\n        <ul>\n            <li><strong>Pago Inicial:</strong> USD $500.00</li>\n            <li><strong>Saldo Restante:</strong> USD $4,500.00</li>\n        </ul>\n    </div>\n    <div class=\"section\">\n        <h2 class=\"section-title\">IV. GARANTIA Y REEMBOLSOS</h2>\n        <p>Garantia de 31 dias calendario. Costos operativos de USD $50.00/semana a partir del dia 15 (NO REEMBOLSABLE).</p>\n    </div>\n    <div class=\"section\">\n        <h2 class=\"section-title\">V. PROPIEDAD INTELECTUAL</h2>\n        <p>Licencia de uso personal e intransferible. Redistribucion prohibida.</p>\n    </div>\n    <div class=\"section\">\n        <h2 class=\"section-title\">VI. ACEPTACION</h2>\n        <p>Leido el presente contrato, se firma en senal de aceptacion.</p>\n    </div>\n    <div class=\"signature-section\">\n        <div class=\"signature-grid\">\n            <div class=\"signature-box\">\n                <h4>Por el Proveedor</h4>\n                <div class=\"signature-line\"><img src=\"https://i.imgur.com/sr0Y3uF.png\" alt=\"Firma\"></div>\n                <p class=\"signature-name\">Santiago Rubio</p>\n                <p class=\"signature-id\">Representante Legal - Nexus Global</p>\n            </div>\n            <div class=\"signature-box\">\n                <h4>Por el Cliente</h4>\n                <div class=\"signature-line\"><img src=\"${data.signatureDataUri}\" alt=\"Firma Cliente\"></div>\n                <p class=\"signature-name\">${data.clientName}</p>\n                <p class=\"signature-id\">ID: ${data.clientDocId}</p>\n            </div>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p>Contrato ID: <span class=\"contract-id\">${data.contractId}</span> | Firmado: ${data.formattedDate} | IP: ${data.ipAddress}</p>\n    </div>\n</body>\n</html>`;\n\nconst htmlBase64 = Buffer.from(html).toString('base64');\n\nreturn [{ \n  json: { \n    ...data, \n    htmlForPdf: html,\n    htmlBase64: htmlBase64\n  } \n}];"
      },
      "id": "dd85ab50-0e97-420a-abdb-c2921fa0cf3a",
      "name": "Generar HTML para PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/html/to/pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "convertApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Parameters\": [\n    {\n      \"Name\": \"File\",\n      \"FileValue\": {\n        \"Name\": \"contrato.html\",\n        \"Data\": \"{{ $json.htmlBase64 }}\"\n      }\n    },\n    { \"Name\": \"PageSize\", \"Value\": \"letter\" },\n    { \"Name\": \"MarginTop\", \"Value\": \"15\" },\n    { \"Name\": \"MarginBottom\", \"Value\": \"15\" },\n    { \"Name\": \"MarginLeft\", \"Value\": \"15\" },\n    { \"Name\": \"MarginRight\", \"Value\": \"15\" }\n  ]\n}",
        "options": {}
      },
      "id": "ebc2b9e2-0f1c-4cb5-81fa-89131c4f4dd9",
      "name": "ConvertAPI HTML a PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "3c8fKWsSr5Aqxefb",
          "name": "Query Auth account"
        },
        "convertApi": {
          "id": "3Y5MHhScTyRO2dW3",
          "name": "ConvertAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// PREPARAR PDF - CORREGIDO: Recupera datos del cliente desde nodo anterior\n// ═══════════════════════════════════════════════════════════════════\n\nconst convertApiResponse = $input.first().json;\n\n// ⚠️ CORRECCIÓN CRÍTICA: Usar $() para acceder a nodos anteriores\n// ConvertAPI sobrescribe $json, así que recuperamos de 'Generar HTML para PDF1'\nconst clientData = $('Generar HTML para PDF').first().json;\n\nlet pdfBase64 = '';\nlet fileName = 'Contrato-' + clientData.contractId + '.pdf';\n\n// Extraer PDF de la respuesta de ConvertAPI\nif (convertApiResponse.Files && convertApiResponse.Files.length > 0) {\n  pdfBase64 = convertApiResponse.Files[0].FileData || '';\n} else if (convertApiResponse.FileData) {\n  pdfBase64 = convertApiResponse.FileData;\n}\n\nif (!pdfBase64) {\n  throw new Error('No se pudo obtener el PDF de ConvertAPI. Respuesta: ' + JSON.stringify(convertApiResponse));\n}\n\n// ✅ Retornamos TODOS los datos del cliente + el PDF\nreturn [{\n  json: {\n    // Datos del cliente (RECUPERADOS del nodo anterior)\n    contractId: clientData.contractId,\n    clientName: clientData.clientName,\n    clientDocId: clientData.clientDocId,\n    clientAddress: clientData.clientAddress,\n    clientEmail: clientData.clientEmail,\n    formattedDate: clientData.formattedDate,\n    signatureType: clientData.signatureType,\n    ipAddress: clientData.ipAddress,\n    token: clientData.token,\n    \n    // Datos del PDF (NUEVOS)\n    pdfBase64: pdfBase64,\n    pdfFileName: fileName,\n    pdfReady: true\n  }\n}];"
      },
      "id": "c4f8fad3-cb84-45c7-9df0-e7e5c3233f2e",
      "name": "Preparar PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        256
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA/edit#gid=1597764051"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.clientEmail }}",
            "Firma Verificada (Y/N)": "Y",
            "Nombre": "={{ $json.clientName }}",
            "Estado": "Firmado - Pendiente Pago",
            "row_number": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo de Evento",
              "displayName": "Tipo de Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (UTC)",
              "displayName": "Fecha Evento (UTC)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (America/Bogota)",
              "displayName": "Fecha Evento (America/Bogota)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Calendly Link",
              "displayName": "Calendly Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telegram Notificado (Y/N)",
              "displayName": "Telegram Notificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #2 (Timestamp)",
              "displayName": "Gmail Enviado #2 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Firma Verificada (Y/N)",
              "displayName": "Firma Verificada (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pago Verificado (Y/N)",
              "displayName": "Pago Verificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Activación",
              "displayName": "Fecha Activación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Asignado (Rep)",
              "displayName": "Asignado (Rep)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Próxima Acción",
              "displayName": "Próxima Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recordatorio (Fecha)",
              "displayName": "Recordatorio (Fecha)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "e7fed921-965c-4a4a-a29d-8bf48d39e926",
      "name": "Actualizar CRM Firmado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        544,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "=6908159885",
        "text": "=✅ CONTRATO FIRMADO\n━━━━━━━━━━━━━━━━━━━━\n\n👤 Cliente: {{ $('Preparar PDF').item.json.clientName }}\n📧 Email: {{ $('Preparar PDF').item.json.clientEmail }}\n🆔 Doc ID: {{ $('Preparar PDF').item.json.clientDocId }}\n\n📄 Contrato: {{ $('Preparar PDF').item.json.contractId }}\n📅 Fecha: {{ $('Preparar PDF').item.json.formattedDate }}\n\n━━━━━━━━━━━━━━━━━━━━\n⏳ Esperando pago...\n\nNEXUS PowerForm",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d2d2b75e-a3d7-48ca-9268-41f65ee3189e",
      "name": "Notificar Telegram Firma",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        768,
        256
      ],
      "webhookId": "994e4ba3-92f9-4d7f-bf96-640d3d036a01",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════\n// RECUPERAR PDF BINARY - CORREGIDO: Crea objeto binario para Gmail\n// ═══════════════════════════════════════════════════════════════════\n\n// ⚠️ CORRECCIÓN: Acceder directamente al nodo 'Preparar PDF1'\n// porque los nodos intermedios (Sheets, Telegram) modifican $json\nconst pdfData = $('Preparar PDF').first().json;\n\nif (!pdfData.pdfBase64) {\n  throw new Error('No se encontró el PDF base64 en Preparar PDF1');\n}\n\n// ✅ Estructura correcta de binary para n8n\nreturn [{\n  json: {\n    contractId: pdfData.contractId,\n    clientName: pdfData.clientName,\n    clientDocId: pdfData.clientDocId,\n    clientAddress: pdfData.clientAddress,\n    clientEmail: pdfData.clientEmail,\n    formattedDate: pdfData.formattedDate,\n    signatureType: pdfData.signatureType,\n    ipAddress: pdfData.ipAddress,\n    pdfFileName: pdfData.pdfFileName\n  },\n  binary: {\n    // ✅ 'attachment' es el nombre que Gmail buscará\n    attachment: {\n      data: pdfData.pdfBase64,\n      mimeType: 'application/pdf',\n      fileName: pdfData.pdfFileName\n    }\n  }\n}];"
      },
      "id": "d58dd582-1b46-45c4-94c3-df46875404cb",
      "name": "Recuperar PDF Binary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        256
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "=Contrato Firmado - {{ $json.contractId }} - NEXUS",
        "message": "=<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><title>Contrato Firmado</title><style type=\"text/css\">@media only screen and (max-width:600px){.button-table{width:100%!important;}.button-link{display:block!important;width:90%!important;margin:0 auto!important;box-sizing:border-box!important;}}</style></head><body style=\"margin:0;padding:0;background-color:#f5f5f5;font-family:'Segoe UI','Helvetica Neue',Arial,sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;\"><center style=\"width:100%;background-color:#f5f5f5;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f5f5f5;\"><tr><td align=\"center\" style=\"padding:40px 15px;\"><table role=\"presentation\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#ffffff;border-radius:12px;box-shadow:0 2px 8px rgba(0,0,0,0.08);max-width:100%;\"><tr><td align=\"center\" style=\"padding:45px 40px 25px 40px;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td align=\"center\" valign=\"middle\" width=\"70\" height=\"70\" style=\"background-color:#d4edda;border-radius:50%;\"><img src=\"https://img.icons8.com/color/96/checkmark--v1.png\" alt=\"✓\" width=\"40\" height=\"40\" style=\"display:block;border:0;margin:15px;\"/></td></tr></table></td></tr><tr><td align=\"center\" style=\"padding:0 40px 25px 40px;\"><h1 style=\"margin:0;color:#1a1a1a;font-size:26px;font-weight:600;line-height:1.3;\">Contrato Firmado Exitosamente</h1></td></tr><tr><td style=\"padding:0 40px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td style=\"height:1px;background-color:#e8e8e8;\"></td></tr></table></td></tr><tr><td style=\"padding:30px 40px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f9fafb;border-radius:10px;border:1px solid #eee;\"><tr><td style=\"padding:18px 20px;border-bottom:1px solid #eee;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td width=\"40%\" style=\"color:#666;font-size:13px;\">Contrato ID</td><td style=\"color:#1a1a1a;font-size:14px;font-weight:600;font-family:'Courier New',monospace;\">{{ $json.contractId }}</td></tr></table></td></tr><tr><td style=\"padding:18px 20px;border-bottom:1px solid #eee;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td width=\"40%\" style=\"color:#666;font-size:13px;\">Cliente</td><td style=\"color:#1a1a1a;font-size:14px;font-weight:500;\">{{ $json.clientName }}</td></tr></table></td></tr><tr><td style=\"padding:18px 20px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td width=\"40%\" style=\"color:#666;font-size:13px;\">Fecha de firma</td><td style=\"color:#1a1a1a;font-size:14px;\">{{ $json.formattedDate }}</td></tr></table></td></tr></table></td></tr><tr><td style=\"padding:10px 40px 35px 40px;\"><p style=\"margin:0 0 25px 0;color:#555;font-size:15px;line-height:1.7;text-align:center;\">Tu contrato ha sido firmado y procesado correctamente.<br/>Encontrarás el documento PDF adjunto a este correo.<br/><span style=\"color:#8B0000;font-weight:600;\">Siguiente paso:</span> Completa el pago inicial.</p><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" class=\"button-table\" style=\"margin:0 auto;\"><tr><td align=\"center\" style=\"text-align:center;padding:0;\"><table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"margin:0 auto;\"><tr><td align=\"center\" style=\"background-color:#8B0000;border-radius:8px;text-align:center;\"><a href=\"https://www.paypal.com/ncp/payment/CT7PSNJHMUFHC\" target=\"_blank\" class=\"button-link\" style=\"background-color:#8B0000;border:none;color:#ffffff;display:inline-block;font-size:15px;font-weight:600;padding:16px 45px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;mso-hide:all;border-radius:8px;letter-spacing:0.5px;\">COMPLETAR PAGO</a></td></tr></table></td></tr></table></td></tr><tr><td style=\"padding:25px 40px;background-color:#fafafa;border-top:1px solid #eee;border-radius:0 0 12px 12px;\"><table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\"><tr><td align=\"center\" style=\"text-align:center;\"><p style=\"margin:0;color:#999;font-size:11px;\">NEXUS SCALE</p><p style=\"margin:8px 0 0 0;color:#bbb;font-size:10px;\">Este es un correo automático. Por favor no responder directamente.</p></td></tr></table></td></tr></table></td></tr></table></center></body></html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "id": "fe5a4eaf-dd3b-4e98-9e3d-cca7f6ad3eca",
      "name": "Email Cliente con PDF",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        160
      ],
      "webhookId": "68dcc839-125a-4cc3-b3b2-5f68f844dad9",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "santi21435@gmail.com",
        "subject": "=[NUEVO CONTRATO] {{ $json.clientName }} - {{ $json.contractId }}",
        "message": "=<h2>Nuevo Contrato Firmado</h2><hr><table cellpadding=\"8\" style=\"font-family:Arial,sans-serif;\"><tr><td style=\"color:#666;\">Cliente:</td><td><strong>{{ $json.clientName }}</strong></td></tr><tr><td style=\"color:#666;\">Email:</td><td>{{ $json.clientEmail }}</td></tr><tr><td style=\"color:#666;\">Doc ID:</td><td>{{ $json.clientDocId }}</td></tr><tr><td style=\"color:#666;\">Direccion:</td><td>{{ $json.clientAddress || 'No especificada' }}</td></tr><tr><td style=\"color:#666;\">Contrato:</td><td><code style=\"background:#f5f5f5;padding:2px 6px;\">{{ $json.contractId }}</code></td></tr><tr><td style=\"color:#666;\">Fecha:</td><td>{{ $json.formattedDate }}</td></tr><tr><td style=\"color:#666;\">IP:</td><td>{{ $json.ipAddress }}</td></tr><tr><td style=\"color:#666;\">Tipo firma:</td><td>{{ $json.signatureType }}</td></tr></table><hr><p style=\"color:#8B0000;font-weight:bold;\">Estado: Esperando pago inicial ($500 USD)</p><p>PDF del contrato adjunto.</p>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment"
              }
            ]
          }
        }
      },
      "id": "1b2811c8-ca30-4236-aac9-07bc34d04036",
      "name": "Email Admin Copia",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        352
      ],
      "webhookId": "b121955d-2778-46a2-a34a-f458bb3bff02",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"contractId\": \"{{ $('Preparar PDF').item.json.contractId }}\", \"message\": \"Contrato firmado exitosamente\" }",
        "options": {}
      },
      "id": "ea19040f-d88a-4221-9b25-0bedd10137af",
      "name": "Responder Exito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1664,
        256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $json.error }}\", \"message\": \"{{ $json.message }}\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "7d522f8a-abe1-49c8-9787-6db0f8d2e510",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -128,
        448
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "PowerForm GET1": {
      "main": [
        [
          {
            "node": "Mostrar Contrato HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Emails": {
      "main": [
        [
          {
            "node": "Responder Exito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Firma POST": {
      "main": [
        [
          {
            "node": "Procesar Firma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Firma": {
      "main": [
        [
          {
            "node": "Firma Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firma Valida?": {
      "main": [
        [
          {
            "node": "Generar HTML para PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML para PDF": {
      "main": [
        [
          {
            "node": "ConvertAPI HTML a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertAPI HTML a PDF": {
      "main": [
        [
          {
            "node": "Preparar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDF": {
      "main": [
        [
          {
            "node": "Actualizar CRM Firmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar CRM Firmado": {
      "main": [
        [
          {
            "node": "Notificar Telegram Firma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Telegram Firma": {
      "main": [
        [
          {
            "node": "Recuperar PDF Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar PDF Binary1": {
      "main": [
        [
          {
            "node": "Email Cliente con PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Admin Copia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Cliente con PDF": {
      "main": [
        [
          {
            "node": "Esperar Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Admin Copia": {
      "main": [
        [
          {
            "node": "Esperar Emails",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d5177234-48d3-4b0a-a5ed-1aa23f756bed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "0ooI4miXgCUC17EfNcxqr",
  "tags": []
}