home_snapshot/ubuntu/Workflows-n8n/E.X.T/Receiver Confirmation 2 (1).json
{
  "name": "Receiver Confirmation 2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// PREPARAR DATOS - VERSIÓN OPTIMIZADA\n// ═══════════════════════════════════════════════════════════════\n\nconst input = $input.first().json;\n\n// ═══════════════════════════════════════════════════════════════\n// 1. EXTRAER DATOS DEL CLIENTE\n// ═══════════════════════════════════════════════════════════════\nconst email = (input.Email || input.email || '').toLowerCase().trim();\nconst nombre = input.Nombre || input.nombre || 'Cliente';\nconst telefono = input.Teléfono || input.telefono || '';\n\n// Validación básica\nif (!email || !email.includes('@')) {\n  throw new Error(`Email inválido: ${email}`);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// 2. GENERAR ID DE PROCESO\n// ═══════════════════════════════════════════════════════════════\nconst processId = `ONB-${Date.now().toString(36).toUpperCase()}-${Math.random().toString(36).substr(2, 4).toUpperCase()}`;\n\n// ═══════════════════════════════════════════════════════════════\n// 3. CONFIGURACIÓN DE ENLACES (EDITAR AQUÍ)\n// ═══════════════════════════════════════════════════════════════\nconst config = {\n  notionLink: \"https://www.notion.so/Oficialmente-Haces-Parte-ca32b8d3e6504cf1897807f7144ffab4?source=copy_link\",\n  diagnosticoLink: \"https://forms.gle/ATTxZfrDbiCdH9AG6\",\n  calendlyLink: \"https://calendly.com/santix/sesion-1-1-s1\"\n};\n\n// ═══════════════════════════════════════════════════════════════\n// 4. RETORNAR DATOS CONSOLIDADOS\n// ═══════════════════════════════════════════════════════════════\nreturn [{\n  json: {\n    // Datos del cliente\n    Email: email,\n    Nombre: nombre,\n    Teléfono: telefono,\n    \n    // Enlaces\n    ...config,\n    \n    // Metadata\n    processId,\n    activationDate: new Date().toISOString(),\n    \n    // Datos originales para referencia\n    _input: input\n  }\n}];"
      },
      "id": "41d0eadf-d76b-45a9-a5bf-9137741c71f5",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        80
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad0d8327-36ff-4344-8c64-4d7a218594cc",
      "name": "Buscar Cliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -304,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Activado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4df4bc39-6b62-4e62-bc7c-90520e576bcf",
      "name": "¿Ya Activado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "6908159885",
        "text": "=⚠️ *DUPLICADO BLOQUEADO*\n\n📧 `{{ $('Preparar Datos').item.json.Email }}`\n👤 {{ $json.Nombre }}\n📊 Estado: {{ $json.Estado }}\n📅 Activado: {{ $json['Fecha Activación'] || 'N/A' }}\n\n🛡️ Email de bienvenida NO enviado (ya activado)\n\n🆔 `{{ $('Preparar Datos').item.json.processId }}`",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "45ce152b-9155-4d5e-8e43-6468bdf12e62",
      "name": "📱 TG Duplicado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -32
      ],
      "webhookId": "c44d719e-4094-4776-a2fc-9b6e36c5932a",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Preparar Datos').item.json.Email }}",
            "Estado": "Activado",
            "Fecha Activación": "={{ $now.toISO() }}",
            "Gmail Enviado #2 (Timestamp)": "=Pendiente...",
            "row_number": 0,
            "PayPal Link": "={{ $json['PayPal Link'] }}",
            "DocuSign Link": "={{ $json['DocuSign Link'] }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo de Evento",
              "displayName": "Tipo de Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (UTC)",
              "displayName": "Fecha Evento (UTC)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (America/Bogota)",
              "displayName": "Fecha Evento (America/Bogota)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Calendly Link",
              "displayName": "Calendly Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram Notificado (Y/N)",
              "displayName": "Telegram Notificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #2 (Timestamp)",
              "displayName": "Gmail Enviado #2 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Firma Verificada (Y/N)",
              "displayName": "Firma Verificada (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pago Verificado (Y/N)",
              "displayName": "Pago Verificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Activación",
              "displayName": "Fecha Activación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asignado (Rep)",
              "displayName": "Asignado (Rep)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Próxima Acción",
              "displayName": "Próxima Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recordatorio (Fecha)",
              "displayName": "Recordatorio (Fecha)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "dfe5057a-e85b-452f-9ab4-3d883e480ac4",
      "name": "Marcar Activado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        144,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════\n// PREPARAR EMAIL - VERSIÓN BLINDADA ULTRA x100\n// Maneja TODOS los edge cases posibles para nombres\n// ═══════════════════════════════════════════════════════════════════════════\n\nconst preparar = $('Preparar Datos').first().json;\nconst buscar = $('Buscar Cliente').first().json;\n\nconst nombreOriginal = (buscar.Nombre || preparar.Nombre || '').toString().trim();\n\n// ═══════════════════════════════════════════════════════════════════════════\n// CONFIGURACIÓN\n// ═══════════════════════════════════════════════════════════════════════════\nconst FALLBACK_NAME = 'Cliente';\nconst MAX_NAME_LENGTH = 15;\nconst MIN_NAME_LENGTH = 2;\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 1. LISTA COMPLETA DE GROSERÍAS (ES/EN - Latam completo)\n// ═══════════════════════════════════════════════════════════════════════════\nconst groserias = new Set([\n  // Español general\n  'puto', 'puta', 'putos', 'putas', 'putita', 'putito', 'putazo',\n  'mierda', 'mierdas', 'mierdero', 'mierdosa', 'mierdoso',\n  'verga', 'vergas', 'vergon', 'vergudo', 'vergota',\n  'culo', 'culos', 'culero', 'culera', 'culiao', 'culiado', 'culiada',\n  'pendejo', 'pendeja', 'pendejos', 'pendejas', 'pendejada',\n  'idiota', 'idiotas', 'imbecil', 'imbeciles',\n  'estupido', 'estupida', 'estupidos', 'estupidas',\n  'cabron', 'cabrona', 'cabrones', 'cabronas', 'cabronada',\n  'chingada', 'chingado', 'chingar', 'chingon', 'chingona', 'chingadera',\n  'joder', 'jodido', 'jodida', 'jodidos', 'jodidas', 'jodete',\n  'coño', 'coños', 'coñazo',\n  'carajo', 'carajos',\n  'cojudo', 'cojuda', 'cojudez',\n  'boludo', 'boluda', 'boludos', 'boludas', 'boludez',\n  'pelotudo', 'pelotuda', 'pelotudos', 'pelotudas', 'pelotudez',\n  'forro', 'forra', 'forros', 'forras',\n  'tarado', 'tarada', 'tarados', 'taradas',\n  'mogolico', 'mogolica', 'mongolico', 'mongolica',\n  'retrasado', 'retrasada', 'retardado', 'retardada',\n  \n  // Colombia\n  'hijueputa', 'hijueputas', 'jueputa', 'juepucha', 'hp', 'hpta', 'hptas',\n  'malparido', 'malparida', 'malparidos', 'malparidas',\n  'gonorrea', 'gonorreas', 'gonorrhea',\n  'marica', 'maricas', 'maricon', 'maricones', 'maricona', 'mariconas',\n  'guevon', 'guevona', 'huevon', 'huevona', 'weon', 'weona',\n  'sapo', 'sapa', 'sapos', 'sapas', 'sapear',\n  'chimba', 'chimbada',\n  'guache', 'guaches',\n  'sardino', 'sardina',\n  'ñero', 'ñera', 'ñeros', 'ñeras',\n  'lambón', 'lambona', 'lambon', 'lambona',\n  'cacorro', 'cacorra',\n  'piroba', 'pirobo', 'pirobos', 'pirobas',\n  \n  // México\n  'chinga', 'chingas', 'chingue', 'chinguen',\n  'pinche', 'pinches', 'pinchemadre',\n  'mamón', 'mamona', 'mamon', 'mamona', 'mamones',\n  'culero', 'culera', 'culeros', 'culeras',\n  'puñal', 'puñales',\n  'naco', 'naca', 'nacos', 'nacas',\n  'pendejete', 'pendejeta',\n  'zorra', 'zorras', 'zorro', 'zorros',\n  'perra', 'perro', 'perras', 'perros',\n  'ojete', 'ojetes',\n  'baboso', 'babosa', 'babosos', 'babosas',\n  'menso', 'mensa', 'mensos', 'mensas',\n  'tarugo', 'taruga',\n  'wey', 'guey', 'buey',\n  \n  // Argentina/Uruguay\n  'pelotudo', 'pelotuda', 'pelotudos', 'pelotudas',\n  'boludo', 'boluda', 'boludos', 'boludas',\n  'forro', 'forra', 'forros', 'forras',\n  'ortiva', 'ortivas',\n  'gato', 'gata', 'gatos', 'gatas',\n  'trolo', 'trola', 'trolos', 'trolas',\n  'pete', 'petes',\n  'paja', 'pajero', 'pajera',\n  'conchudo', 'conchuda',\n  'concha', 'conchatumadre', 'conchetumare', 'ctm',\n  'la puta madre', 'putamadre',\n  'sorete', 'soretes',\n  'cagón', 'cagona', 'cagon', 'cagona',\n  'quilombo', 'quilombero',\n  \n  // Chile\n  'weon', 'weona', 'weones', 'weonas', 'hueon', 'hueona',\n  'aweonao', 'aweona', 'aweonaos', 'aweonas',\n  'conchetumare', 'conchetumadre', 'ctm', 'csm',\n  'maraco', 'maraca', 'maracos', 'maracas',\n  'sacowea', 'sacoweas',\n  'pelagato', 'pelagatos',\n  'roto', 'rota', 'rotos', 'rotas',\n  'flaite', 'flaites',\n  'cuico', 'cuica', 'cuicos', 'cuicas',\n  'perno', 'perna',\n  'mino', 'mina', 'minas', 'minos',\n  'callampa', 'callampero',\n  'raja', 'rajado', 'rajada',\n  'pichula', 'pico', 'picos',\n  \n  // Perú\n  'cojudo', 'cojuda', 'cojudos', 'cojudas', 'cojudez',\n  'huevón', 'huevona', 'huevones', 'huevonas',\n  'conchesumadre', 'csm',\n  'mierda', 'mierdero',\n  'pendejo', 'pendeja',\n  'pituco', 'pituca',\n  'cholo', 'chola', 'cholos', 'cholas',\n  'zambo', 'zamba',\n  'lorna', 'lornas',\n  'gil', 'giles',\n  'palta', 'palteado',\n  \n  // Venezuela\n  'coño', 'coñoetumadre',\n  'vergación', 'vergacion',\n  'mamagüevo', 'mamaguevo', 'mamaguevos',\n  'pajuo', 'pajúo', 'pajua',\n  'güevón', 'guevon', 'guevona',\n  'pendejo', 'pendeja',\n  'jalabola', 'jalabolas',\n  'lambucia', 'lambucias',\n  'pajaro', 'pajarito',\n  'marico', 'marica', 'maricos', 'maricas',\n  'cachifa', 'cachifas',\n  'sifrino', 'sifrina',\n  \n  // Inglés\n  'fuck', 'fucker', 'fuckers', 'fucking', 'fucked', 'fucks',\n  'shit', 'shits', 'shitty', 'shitter', 'bullshit',\n  'ass', 'asses', 'asshole', 'assholes', 'arse', 'arsehole',\n  'bitch', 'bitches', 'bitchy', 'bitching',\n  'dick', 'dicks', 'dickhead', 'dickheads',\n  'pussy', 'pussies',\n  'bastard', 'bastards',\n  'damn', 'damned', 'goddamn', 'goddamned',\n  'crap', 'crappy',\n  'whore', 'whores',\n  'slut', 'sluts', 'slutty',\n  'cock', 'cocks', 'cocksucker', 'cocksuckers',\n  'cunt', 'cunts',\n  'motherfucker', 'motherfuckers', 'mf', 'mofo',\n  'wanker', 'wankers',\n  'twat', 'twats',\n  'prick', 'pricks',\n  'douche', 'douchebag', 'douchebags',\n  'retard', 'retarded', 'retards',\n  'faggot', 'faggots', 'fag', 'fags',\n  'nigger', 'niggers', 'nigga', 'niggas',\n  'spic', 'spics', 'wetback', 'wetbacks',\n  'cracker', 'crackers',\n  'honky', 'honkey', 'honkies',\n  \n  // Abreviaciones y jerga internet\n  'wtf', 'stfu', 'gtfo', 'lmfao', 'lmao',\n  'fck', 'fuk', 'phuck', 'phuk',\n  'sht', 'sh1t', 'sh!t',\n  'b1tch', 'b!tch',\n  'd1ck', 'd!ck',\n  'a$$', '@ss', 'a55',\n  'pr1ck',\n  \n  // Insultos creativos comunes\n  'subnormal', 'subnormales',\n  'anormal', 'anormales',\n  'deficiente', 'deficientes',\n  'inutil', 'inutiles',\n  'parasito', 'parasita',\n  'basura', 'basuras',\n  'escoria', 'escorias',\n  'lacra', 'lacras',\n  'mierdecilla', 'mierdecillas',\n  'asqueroso', 'asquerosa',\n  'cerdo', 'cerda', 'cerdos', 'cerdas',\n  'puerco', 'puerca', 'puercos', 'puercas',\n  'marrano', 'marrana', 'marranos', 'marranas',\n  'animal', 'animales',\n  'bestia', 'bestias',\n  'bruto', 'bruta', 'brutos', 'brutas',\n  'tonto', 'tonta', 'tontos', 'tontas', 'tontito', 'tontita',\n  'bobo', 'boba', 'bobos', 'bobas',\n  'lelo', 'lela',\n  'memo', 'mema',\n  'zopenco', 'zopenca',\n  'zoquete', 'zoquetes',\n  'alcornoque', 'alcornoques'\n]);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 2. NOMBRES FALSOS/GENÉRICOS A RECHAZAR\n// ═══════════════════════════════════════════════════════════════════════════\nconst nombresFalsos = new Set([\n  'test', 'testing', 'prueba', 'pruebas',\n  'demo', 'ejemplo', 'sample',\n  'cliente', 'clientes', 'customer', 'user', 'usuario', 'usuarios',\n  'nadie', 'nobody', 'anonimo', 'anonymous', 'anon',\n  'admin', 'administrator', 'administrador',\n  'null', 'undefined', 'void', 'empty', 'vacio', 'vacío',\n  'nada', 'nothing', 'none', 'no', 'n/a', 'na', 'n.a.',\n  'nombre', 'name', 'firstname', 'lastname',\n  'tu nombre', 'your name', 'mi nombre', 'my name',\n  'aqui', 'here', 'aca', 'acá',\n  'pepito', 'pepita', 'fulanito', 'fulanita', 'fulano', 'fulana',\n  'mengano', 'mengana', 'zutano', 'zutana',\n  'john doe', 'jane doe', 'juan perez', 'maria garcia',\n  'xxx', 'yyy', 'zzz', 'aaa', 'bbb', 'abc', '123', '000',\n  'asdf', 'qwerty', 'qwer', 'asdfgh', 'zxcv',\n  'hola', 'hello', 'hi', 'hey',\n  'info', 'information', 'informacion', 'información',\n  'contacto', 'contact',\n  'ventas', 'sales',\n  'soporte', 'support',\n  'help', 'ayuda',\n  'empresa', 'company', 'negocio', 'business',\n  'yo', 'me', 'i', 'myself',\n  'persona', 'person', 'gente', 'people',\n  'alguien', 'someone', 'somebody',\n  'cualquiera', 'anyone', 'anybody',\n  'otro', 'otra', 'other', 'otro nombre',\n  'real', 'verdadero', 'verdadera',\n  'fake', 'falso', 'falsa',\n  'temp', 'temporal', 'temporary',\n  'borrar', 'delete', 'eliminar', 'remove',\n  'cambiar', 'change', 'modificar', 'modify',\n  'nuevo', 'nueva', 'new',\n  'primero', 'primera', 'first',\n  'segundo', 'segunda', 'second',\n  'ok', 'okay', 'okey',\n  'si', 'sí', 'yes', 'no',\n  'maybe', 'quizas', 'quizás', 'talvez', 'tal vez'\n]);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 3. DICCIONARIO DE APODOS (nombre → apodo amigable)\n// ═══════════════════════════════════════════════════════════════════════════\nconst apodos = {\n  // ══════════════ A ══════════════\n  'abel': 'Abel',\n  'abelardo': 'Abel',\n  'abraham': 'Abra',\n  'adalberto': 'Beto',\n  'adan': 'Adán',\n  'adolfo': 'Ado',\n  'adrian': 'Adri',\n  'adriana': 'Adri',\n  'adrián': 'Adri',\n  'agustin': 'Agus',\n  'agustina': 'Agus',\n  'agustín': 'Agus',\n  'aida': 'Aida',\n  'aitana': 'Aita',\n  'alan': 'Alan',\n  'alba': 'Alba',\n  'alberto': 'Beto',\n  'albeiro': 'Beiro',\n  'aldo': 'Aldo',\n  'aleida': 'Ale',\n  'alejandra': 'Ale',\n  'alejandro': 'Ale',\n  'alessandro': 'Ale',\n  'alex': 'Alex',\n  'alexa': 'Alex',\n  'alexander': 'Alex',\n  'alexandra': 'Alex',\n  'alexis': 'Alex',\n  'alfonso': 'Poncho',\n  'alfredo': 'Fredo',\n  'alicia': 'Ali',\n  'alina': 'Ali',\n  'alma': 'Alma',\n  'alonso': 'Lon',\n  'alvaro': 'Alva',\n  'álvaro': 'Alva',\n  'amalia': 'Ama',\n  'amanda': 'Ama',\n  'amelia': 'Ame',\n  'amparo': 'Ampa',\n  'ana': 'Ana',\n  'anabel': 'Ana',\n  'anabella': 'Ana',\n  'anahi': 'Ana',\n  'anahí': 'Ana',\n  'anastasia': 'Ana',\n  'andrea': 'Andy',\n  'andres': 'Andy',\n  'andrés': 'Andy',\n  'angel': 'Ángel',\n  'angela': 'Angie',\n  'angelica': 'Angie',\n  'angélica': 'Angie',\n  'ángel': 'Ángel',\n  'ángela': 'Angie',\n  'angie': 'Angie',\n  'anibal': 'Ani',\n  'aníbal': 'Ani',\n  'anna': 'Anna',\n  'antonia': 'Toña',\n  'antonella': 'Anto',\n  'antonela': 'Anto',\n  'antonio': 'Toño',\n  'aracelis': 'Ara',\n  'araceli': 'Ara',\n  'aracely': 'Ara',\n  'ariadna': 'Ari',\n  'ariana': 'Ari',\n  'ariel': 'Ari',\n  'ariela': 'Ari',\n  'armando': 'Mando',\n  'arnaldo': 'Naldo',\n  'arnoldo': 'Noldo',\n  'arturo': 'Artu',\n  'augusto': 'Augus',\n  'aurora': 'Auro',\n  'axel': 'Axel',\n  'ayelen': 'Aye',\n  \n  // ══════════════ B ══════════════\n  'baldomero': 'Baldo',\n  'baltazar': 'Balta',\n  'barbara': 'Barbi',\n  'bárbara': 'Barbi',\n  'bartolome': 'Barto',\n  'bartolomé': 'Barto',\n  'basilio': 'Basi',\n  'beatriz': 'Bea',\n  'belen': 'Belu',\n  'belén': 'Belu',\n  'bella': 'Bella',\n  'benjamin': 'Benja',\n  'benjamín': 'Benja',\n  'berenice': 'Bere',\n  'bernabe': 'Berna',\n  'bernabé': 'Berna',\n  'bernarda': 'Berni',\n  'bernardita': 'Berni',\n  'bernardo': 'Berni',\n  'berta': 'Berta',\n  'bettina': 'Betty',\n  'bianca': 'Bian',\n  'blanca': 'Blan',\n  'boris': 'Boris',\n  'brayan': 'Bray',\n  'brenda': 'Bren',\n  'brian': 'Brian',\n  'brigida': 'Brigi',\n  'brígida': 'Brigi',\n  'brigitte': 'Brigi',\n  'brisa': 'Bri',\n  'bruno': 'Bruno',\n  \n  // ══════════════ C ══════════════\n  'camila': 'Cami',\n  'camilo': 'Cami',\n  'candela': 'Cande',\n  'candelaria': 'Cande',\n  'caridad': 'Cari',\n  'carina': 'Cari',\n  'carla': 'Carla',\n  'carlos': 'Carlos',\n  'carmela': 'Carme',\n  'carmen': 'Carme',\n  'carmina': 'Carmi',\n  'carol': 'Carol',\n  'carolina': 'Caro',\n  'catalina': 'Cata',\n  'cayetano': 'Caye',\n  'cecilia': 'Ceci',\n  'ceferino': 'Cefe',\n  'celia': 'Celi',\n  'celina': 'Celi',\n  'celso': 'Cel',\n  'cesar': 'César',\n  'césar': 'César',\n  'cintia': 'Cin',\n  'cinthia': 'Cin',\n  'cinthya': 'Cin',\n  'cipriano': 'Cipri',\n  'cirilo': 'Ciri',\n  'ciro': 'Ciro',\n  'clara': 'Clari',\n  'clarisa': 'Clari',\n  'claudia': 'Clau',\n  'claudio': 'Clau',\n  'clemente': 'Clemen',\n  'clementina': 'Clemen',\n  'cleofe': 'Cleo',\n  'concepcion': 'Conchi',\n  'concepción': 'Conchi',\n  'conrado': 'Conra',\n  'constanza': 'Cony',\n  'consuelo': 'Chelo',\n  'corina': 'Cori',\n  'cornelio': 'Corne',\n  'cristian': 'Cris',\n  'cristina': 'Cris',\n  'cristobal': 'Cris',\n  'cristóbal': 'Cris',\n  'cruz': 'Cruz',\n  \n  // ══════════════ D ══════════════\n  'dafne': 'Daf',\n  'dagoberto': 'Dago',\n  'dahiana': 'Dahi',\n  'daiana': 'Dai',\n  'dalia': 'Dali',\n  'dalila': 'Dali',\n  'damaris': 'Dama',\n  'damian': 'Dami',\n  'damián': 'Dami',\n  'dana': 'Dana',\n  'daniel': 'Dani',\n  'daniela': 'Dani',\n  'daniella': 'Dani',\n  'danilo': 'Dani',\n  'dante': 'Dante',\n  'dario': 'Dari',\n  'darío': 'Dari',\n  'darwin': 'Dar',\n  'david': 'David',\n  'debora': 'Debi',\n  'débora': 'Debi',\n  'delfina': 'Delfi',\n  'delia': 'Deli',\n  'demetrio': 'Deme',\n  'denise': 'Deni',\n  'denis': 'Deni',\n  'derek': 'Derek',\n  'desire': 'Desi',\n  'desirée': 'Desi',\n  'deysi': 'Dey',\n  'diana': 'Di',\n  'diego': 'Diego',\n  'digna': 'Digna',\n  'dilan': 'Dilan',\n  'dina': 'Dina',\n  'dionisio': 'Dioni',\n  'dolores': 'Lola',\n  'dominga': 'Domi',\n  'domingo': 'Domi',\n  'dora': 'Dora',\n  'doris': 'Dori',\n  'dorotea': 'Doro',\n  'dulce': 'Dulce',\n  \n  // ══════════════ E ══════════════\n  'edelmira': 'Edel',\n  'edgar': 'Ed',\n  'edgardo': 'Ed',\n  'edison': 'Edi',\n  'edith': 'Edi',\n  'edmundo': 'Ed',\n  'edna': 'Edna',\n  'eduardo': 'Edu',\n  'efrain': 'Efra',\n  'efraín': 'Efra',\n  'elba': 'Elba',\n  'elda': 'Elda',\n  'elena': 'Ele',\n  'eleonora': 'Ele',\n  'eliana': 'Eli',\n  'elias': 'Eli',\n  'elías': 'Eli',\n  'elida': 'Eli',\n  'elisa': 'Eli',\n  'elisabet': 'Eli',\n  'elisabeth': 'Eli',\n  'elizabeth': 'Eli',\n  'eloisa': 'Elo',\n  'eloísa': 'Elo',\n  'eloy': 'Eloy',\n  'elsa': 'Elsa',\n  'elva': 'Elva',\n  'elvira': 'Elvi',\n  'emanuel': 'Ema',\n  'emilia': 'Emi',\n  'emiliano': 'Emi',\n  'emilio': 'Emi',\n  'emily': 'Emi',\n  'emma': 'Emma',\n  'emmanuel': 'Ema',\n  'enrique': 'Quique',\n  'enriqueta': 'Queta',\n  'erasmo': 'Eras',\n  'erendira': 'Ere',\n  'eric': 'Eric',\n  'erica': 'Eri',\n  'erick': 'Eric',\n  'erik': 'Erik',\n  'erika': 'Eri',\n  'ernestina': 'Tina',\n  'ernesto': 'Neto',\n  'esmeralda': 'Esme',\n  'esperanza': 'Espe',\n  'esteban': 'Este',\n  'estefani': 'Stefy',\n  'estefania': 'Stefy',\n  'estefanía': 'Stefy',\n  'estela': 'Teli',\n  'ester': 'Ester',\n  'esther': 'Esther',\n  'estrella': 'Estre',\n  'eugenia': 'Euge',\n  'eugenio': 'Euge',\n  'eulalia': 'Lali',\n  'eunice': 'Euni',\n  'eva': 'Eva',\n  'evangelina': 'Eva',\n  'evelin': 'Eve',\n  'evelyn': 'Eve',\n  'ezequiel': 'Eze',\n  \n  // ══════════════ F ══════════════\n  'fabian': 'Fabi',\n  'fabián': 'Fabi',\n  'fabiana': 'Fabi',\n  'fabio': 'Fabi',\n  'fabiola': 'Fabi',\n  'facundo': 'Facu',\n  'fatima': 'Fati',\n  'fátima': 'Fati',\n  'fausto': 'Faus',\n  'federico': 'Fede',\n  'felicia': 'Feli',\n  'feliciano': 'Feli',\n  'felicitas': 'Feli',\n  'felipe': 'Pipe',\n  'felix': 'Félix',\n  'félix': 'Félix',\n  'fermin': 'Fer',\n  'fermín': 'Fer',\n  'fernanda': 'Fer',\n  'fernando': 'Fer',\n  'fidel': 'Fidel',\n  'fiorella': 'Fio',\n  'fiona': 'Fio',\n  'flavia': 'Flavi',\n  'flavio': 'Flavi',\n  'flor': 'Flor',\n  'flora': 'Flor',\n  'florencia': 'Flor',\n  'florentino': 'Floren',\n  'francisca': 'Fran',\n  'francisco': 'Fran',\n  'franco': 'Fran',\n  'franklin': 'Frank',\n  'frida': 'Frida',\n  \n  // ══════════════ G ══════════════\n  'gabriel': 'Gabo',\n  'gabriela': 'Gaby',\n  'gabriella': 'Gaby',\n  'gaston': 'Gas',\n  'gastón': 'Gas',\n  'genaro': 'Gena',\n  'genesis': 'Gene',\n  'génesis': 'Gene',\n  'genoveva': 'Geno',\n  'georgina': 'Georgi',\n  'geraldine': 'Geral',\n  'gerardo': 'Gera',\n  'german': 'Ger',\n  'germán': 'Ger',\n  'gertrudis': 'Tula',\n  'gilberto': 'Gil',\n  'gilda': 'Gildi',\n  'gina': 'Gina',\n  'gisela': 'Gise',\n  'gisella': 'Gise',\n  'gladis': 'Gladi',\n  'gladys': 'Gladi',\n  'glenda': 'Glen',\n  'gloria': 'Glo',\n  'gonzalo': 'Gonza',\n  'grace': 'Grace',\n  'gracia': 'Grace',\n  'graciela': 'Grace',\n  'gregorio': 'Goyo',\n  'gricelda': 'Grice',\n  'grisel': 'Gri',\n  'griselda': 'Gri',\n  'guadalupe': 'Lupe',\n  'guillermina': 'Guille',\n  'guillermo': 'Guille',\n  'gustavo': 'Gus',\n  \n  // ══════════════ H ══════════════\n  'harold': 'Haro',\n  'hector': 'Héctor',\n  'héctor': 'Héctor',\n  'heidy': 'Heidy',\n  'helen': 'Helen',\n  'helena': 'Hele',\n  'helga': 'Helga',\n  'heriberto': 'Heri',\n  'hermelinda': 'Herme',\n  'hernan': 'Her',\n  'hernán': 'Her',\n  'hilario': 'Hila',\n  'hilda': 'Hilda',\n  'hipolito': 'Hipo',\n  'hipólito': 'Hipo',\n  'horacio': 'Hora',\n  'hugo': 'Hugo',\n  'humberto': 'Beto',\n  \n  // ══════════════ I ══════════════\n  'ian': 'Ian',\n  'ignacio': 'Nacho',\n  'iker': 'Iker',\n  'ileana': 'Ile',\n  'iliana': 'Ili',\n  'ilse': 'Ilse',\n  'ines': 'Inés',\n  'inés': 'Inés',\n  'ingrid': 'Ingrid',\n  'irene': 'Ire',\n  'irma': 'Irma',\n  'isaac': 'Isaac',\n  'isabel': 'Isa',\n  'isabela': 'Isa',\n  'isabella': 'Isa',\n  'isadora': 'Isa',\n  'isidoro': 'Isi',\n  'isidro': 'Isi',\n  'ismael': 'Isma',\n  'israel': 'Isra',\n  'itzel': 'Itzel',\n  'ivan': 'Iván',\n  'iván': 'Iván',\n  'ivana': 'Iva',\n  'ivanna': 'Iva',\n  'ivette': 'Ive',\n  'ivon': 'Ivo',\n  'ivonne': 'Ivo',\n  \n  // ══════════════ J ══════════════\n  'jacinto': 'Jaci',\n  'jacqueline': 'Jackie',\n  'jade': 'Jade',\n  'jaime': 'Jaime',\n  'jairo': 'Jairo',\n  'james': 'James',\n  'janeth': 'Jane',\n  'janice': 'Jani',\n  'jaqueline': 'Jackie',\n  'javier': 'Javi',\n  'jazmin': 'Jaz',\n  'jazmín': 'Jaz',\n  'jean': 'Jean',\n  'jeanette': 'Jean',\n  'jeannette': 'Jean',\n  'jefferson': 'Jeff',\n  'jenifer': 'Jenny',\n  'jennifer': 'Jenny',\n  'jenny': 'Jenny',\n  'jeremias': 'Jere',\n  'jeremías': 'Jere',\n  'jeremy': 'Jere',\n  'jesus': 'Jesús',\n  'jesús': 'Jesús',\n  'jessica': 'Jess',\n  'jhon': 'John',\n  'jhonatan': 'Jona',\n  'jhonathan': 'Jona',\n  'jimena': 'Jime',\n  'joana': 'Jo',\n  'joaquin': 'Joaco',\n  'joaquín': 'Joaco',\n  'jocelyn': 'Joce',\n  'joel': 'Joel',\n  'johana': 'Jo',\n  'johanna': 'Jo',\n  'john': 'John',\n  'jonas': 'Jonas',\n  'jonatan': 'Jona',\n  'jonathan': 'Jona',\n  'jordan': 'Jordan',\n  'jorge': 'Jorge',\n  'jose': 'Pepe',\n  'josefa': 'Pepa',\n  'josefina': 'Jose',\n  'joseluis': 'Joseluis',\n  'joselyn': 'Jose',\n  'joseph': 'Joe',\n  'josue': 'Josué',\n  'josué': 'Josué',\n  'jovana': 'Jova',\n  'juan': 'Juan',\n  'juana': 'Juana',\n  'juancarlos': 'Juanca',\n  'judith': 'Judi',\n  'julia': 'Juli',\n  'julian': 'Juli',\n  'juliana': 'Juli',\n  'julián': 'Juli',\n  'julieta': 'Juli',\n  'julio': 'Juli',\n  'juliocesar': 'Julio',\n  'justina': 'Justi',\n  'justino': 'Justi',\n  \n  // ══════════════ K ══════════════\n  'karem': 'Kare',\n  'karen': 'Kare',\n  'karina': 'Kari',\n  'karla': 'Karla',\n  'kassandra': 'Kass',\n  'katalina': 'Kata',\n  'katherine': 'Kathy',\n  'katherin': 'Kathy',\n  'kathy': 'Kathy',\n  'katia': 'Kati',\n  'keila': 'Kei',\n  'kelly': 'Kelly',\n  'kenia': 'Keni',\n  'kevin': 'Kevin',\n  'kiara': 'Kia',\n  'kimberly': 'Kim',\n  'kristen': 'Kris',\n  'kristina': 'Kris',\n  \n  // ══════════════ L ══════════════\n  'larissa': 'Lari',\n  'laura': 'Lau',\n  'laureano': 'Laure',\n  'lazaro': 'Laza',\n  'lázaro': 'Laza',\n  'leandro': 'Lean',\n  'leidy': 'Lei',\n  'leilani': 'Lei',\n  'lenin': 'Lenin',\n  'leo': 'Leo',\n  'leon': 'Leo',\n  'leonardo': 'Leo',\n  'leonel': 'Leo',\n  'leonor': 'Leo',\n  'leopoldo': 'Leo',\n  'leticia': 'Leti',\n  'lewis': 'Lewis',\n  'leyla': 'Ley',\n  'libia': 'Libi',\n  'lidia': 'Lidi',\n  'lila': 'Lila',\n  'lilia': 'Lili',\n  'liliana': 'Lili',\n  'lina': 'Lina',\n  'linda': 'Lin',\n  'lisandro': 'Lisa',\n  'liset': 'Lise',\n  'liseth': 'Lise',\n  'lizbeth': 'Liz',\n  'lizeth': 'Liz',\n  'lola': 'Lola',\n  'lorena': 'Lore',\n  'lorenzo': 'Loren',\n  'lorna': 'Lor',\n  'lourdes': 'Lulu',\n  'luana': 'Lu',\n  'lucas': 'Lucas',\n  'lucia': 'Lu',\n  'lucía': 'Lu',\n  'luciana': 'Luci',\n  'luciano': 'Lucho',\n  'lucila': 'Luci',\n  'lucio': 'Lucho',\n  'lucrecia': 'Lucre',\n  'ludmila': 'Lud',\n  'luis': 'Luis',\n  'luisa': 'Luisa',\n  'luisalberto': 'Luisalb',\n  'luisangel': 'Luisang',\n  'luiscarlos': 'Luiscar',\n  'luiseduardo': 'Luisedu',\n  'luisenrique': 'Luisenri',\n  'luisfernando': 'Luisfer',\n  'luismiguel': 'Luismi',\n  'luna': 'Luna',\n  'luz': 'Luz',\n  'lydia': 'Lydi',\n  \n  // ══════════════ M ══════════════\n  'macario': 'Maca',\n  'macarena': 'Maca',\n  'madeleine': 'Made',\n  'madeline': 'Made',\n  'magdalena': 'Magda',\n  'magda': 'Magda',\n  'maira': 'Mai',\n  'maite': 'Maite',\n  'malena': 'Male',\n  'manolo': 'Mano',\n  'manuel': 'Manu',\n  'manuela': 'Manu',\n  'mara': 'Mara',\n  'marcela': 'Marce',\n  'marcelino': 'Marce',\n  'marcelo': 'Marce',\n  'marco': 'Marco',\n  'marcos': 'Marco',\n  'marcus': 'Marco',\n  'margarita': 'Marga',\n  'maria': 'Mari',\n  'mariaangela': 'Marian',\n  'mariaelena': 'Marilena',\n  'mariafernanda': 'Mafer',\n  'mariajose': 'Majo',\n  'marian': 'Mari',\n  'mariana': 'Mari',\n  'mariangel': 'Marian',\n  'mariangeles': 'Marian',\n  'marianna': 'Mari',\n  'maribel': 'Mari',\n  'maricarmen': 'Maricar',\n  'maricel': 'Mari',\n  'maricela': 'Mari',\n  'maricruz': 'Maricru',\n  'marie': 'Marie',\n  'mariela': 'Mari',\n  'marilu': 'Marilu',\n  'marilyn': 'Mari',\n  'marina': 'Mari',\n  'mario': 'Mario',\n  'marisa': 'Mari',\n  'marisela': 'Mari',\n  'marisol': 'Sol',\n  'marissa': 'Mari',\n  'maritza': 'Mari',\n  'marlene': 'Marle',\n  'marleny': 'Marle',\n  'marlon': 'Marlon',\n  'marta': 'Marta',\n  'martha': 'Marta',\n  'martin': 'Tini',\n  'martín': 'Tini',\n  'martina': 'Tini',\n  'marvin': 'Marvin',\n  'mateo': 'Mate',\n  'matias': 'Mati',\n  'matías': 'Mati',\n  'matilde': 'Mati',\n  'mauricio': 'Mauri',\n  'mauro': 'Mauro',\n  'max': 'Max',\n  'maximiliano': 'Max',\n  'maximo': 'Max',\n  'máximo': 'Max',\n  'mayte': 'May',\n  'melanie': 'Mel',\n  'melany': 'Mel',\n  'melina': 'Mel',\n  'melissa': 'Mel',\n  'melody': 'Mel',\n  'mercedes': 'Meche',\n  'micaela': 'Mica',\n  'michael': 'Michi',\n  'michelle': 'Michi',\n  'miguel': 'Migue',\n  'miguelangel': 'Migue',\n  'milagros': 'Mili',\n  'milena': 'Mile',\n  'mildred': 'Mil',\n  'minerva': 'Miner',\n  'miriam': 'Miri',\n  'mirna': 'Mir',\n  'mirta': 'Mir',\n  'mirtha': 'Mir',\n  'moises': 'Moi',\n  'moisés': 'Moi',\n  'monica': 'Moni',\n  'mónica': 'Moni',\n  'monserrat': 'Monse',\n  'montserrat': 'Monse',\n  'morena': 'More',\n  \n  // ══════════════ N ══════════════\n  'nadia': 'Nadi',\n  'nadine': 'Nadi',\n  'nahuel': 'Nahu',\n  'nahum': 'Nahu',\n  'nancy': 'Nan',\n  'natalia': 'Naty',\n  'nataly': 'Naty',\n  'natasha': 'Nata',\n  'nathalia': 'Naty',\n  'nathaly': 'Naty',\n  'nazareno': 'Naza',\n  'nelida': 'Neli',\n  'nelly': 'Nelly',\n  'nelson': 'Nel',\n  'nestor': 'Néstor',\n  'néstor': 'Néstor',\n  'nicanor': 'Nica',\n  'nicolas': 'Nico',\n  'nicolás': 'Nico',\n  'nicole': 'Nico',\n  'nicolle': 'Nico',\n  'nidia': 'Nidi',\n  'nilda': 'Nil',\n  'nilsa': 'Nil',\n  'nina': 'Nina',\n  'noe': 'Noé',\n  'noelia': 'Noe',\n  'noemi': 'Noe',\n  'noemí': 'Noe',\n  'nohemi': 'Noe',\n  'nohemí': 'Noe',\n  'nora': 'Nora',\n  'norma': 'Normi',\n  'nuria': 'Nuri',\n  \n  // ══════════════ O ══════════════\n  'octavio': 'Tavo',\n  'odalis': 'Oda',\n  'odalys': 'Oda',\n  'ofelia': 'Ofe',\n  'olga': 'Olga',\n  'olimpia': 'Oli',\n  'oliver': 'Oli',\n  'olivia': 'Oli',\n  'omar': 'Omar',\n  'orlando': 'Orly',\n  'oscar': 'Óscar',\n  'óscar': 'Óscar',\n  'osvaldo': 'Osvi',\n  'oswaldo': 'Osvi',\n  'otilia': 'Oti',\n  'otoniel': 'Oto',\n  \n  // ══════════════ P ══════════════\n  'pablo': 'Pablo',\n  'paloma': 'Palo',\n  'pamela': 'Pame',\n  'paola': 'Pao',\n  'paolo': 'Pao',\n  'patricia': 'Paty',\n  'patricio': 'Pato',\n  'paul': 'Paul',\n  'paula': 'Pau',\n  'paulina': 'Pau',\n  'pedro': 'Pedro',\n  'penelope': 'Pene',\n  'penélope': 'Pene',\n  'perla': 'Perla',\n  'petra': 'Petra',\n  'piedad': 'Pie',\n  'pilar': 'Pili',\n  'pio': 'Pio',\n  'priscila': 'Pris',\n  'priscilla': 'Pris',\n  \n  // ══════════════ Q ══════════════\n  'quetzal': 'Quet',\n  'quetzali': 'Quet',\n  'quintin': 'Quin',\n  'quintín': 'Quin',\n  'quirino': 'Quiri',\n  \n  // ══════════════ R ══════════════\n  'rafael': 'Rafa',\n  'rafaela': 'Rafa',\n  'ramiro': 'Rami',\n  'ramon': 'Moncho',\n  'ramón': 'Moncho',\n  'ramona': 'Monchi',\n  'raquel': 'Raquel',\n  'raul': 'Raúl',\n  'raúl': 'Raúl',\n  'raymundo': 'Ray',\n  'rebeca': 'Rebe',\n  'regina': 'Regi',\n  'reinaldo': 'Reina',\n  'renata': 'Rena',\n  'renato': 'Rena',\n  'rene': 'René',\n  'rené': 'René',\n  'reyna': 'Rey',\n  'reynaldo': 'Rey',\n  'ricardo': 'Ricky',\n  'richard': 'Ricky',\n  'rigoberto': 'Rigo',\n  'rita': 'Rita',\n  'roberto': 'Rober',\n  'rocio': 'Ro',\n  'rocío': 'Ro',\n  'rodolfo': 'Rodol',\n  'rodrigo': 'Rodri',\n  'rogelio': 'Roge',\n  'roger': 'Roger',\n  'rolando': 'Rolan',\n  'roman': 'Roman',\n  'romina': 'Romi',\n  'roque': 'Roque',\n  'rosa': 'Rosa',\n  'rosalia': 'Rosa',\n  'rosalía': 'Rosa',\n  'rosalinda': 'Rosa',\n  'rosana': 'Rosa',\n  'rosario': 'Charo',\n  'rosaura': 'Rosa',\n  'roselia': 'Rose',\n  'rosemary': 'Rose',\n  'rosendo': 'Rose',\n  'rosita': 'Rosi',\n  'rossana': 'Ross',\n  'roxana': 'Roxi',\n  'ruben': 'Rubén',\n  'rubén': 'Rubén',\n  'rufino': 'Rufi',\n  'ruth': 'Ruth',\n  \n  // ══════════════ S ══════════════\n  'sabina': 'Sabi',\n  'sabrina': 'Sabri',\n  'salomon': 'Salo',\n  'salomón': 'Salo',\n  'salvador': 'Salva',\n  'samantha': 'Sam',\n  'samuel': 'Samu',\n  'sandra': 'San',\n  'sandro': 'San',\n  'sandy': 'Sandy',\n  'santiago': 'Santi',\n  'santos': 'Santo',\n  'sara': 'Sara',\n  'sarah': 'Sara',\n  'sarai': 'Sarai',\n  'saul': 'Saúl',\n  'saúl': 'Saúl',\n  'sebastian': 'Seba',\n  'sebastián': 'Seba',\n  'selena': 'Sele',\n  'selene': 'Sele',\n  'sergio': 'Sergi',\n  'shakira': 'Shaki',\n  'sharon': 'Shar',\n  'sheila': 'Shei',\n  'shirley': 'Shir',\n  'silvia': 'Silvi',\n  'silvina': 'Silvi',\n  'simon': 'Simón',\n  'simón': 'Simón',\n  'socorro': 'Coco',\n  'sofia': 'Sofi',\n  'sofía': 'Sofi',\n  'sol': 'Sol',\n  'solange': 'Sola',\n  'soledad': 'Sole',\n  'sonia': 'Soni',\n  'soraida': 'Sora',\n  'soraya': 'Sora',\n  'stefani': 'Stefy',\n  'stefania': 'Stefy',\n  'stefany': 'Stefy',\n  'stella': 'Stella',\n  'stephanie': 'Stefy',\n  'stephany': 'Stefy',\n  'susana': 'Susi',\n  'susanna': 'Susi',\n  \n  // ══════════════ T ══════════════\n  'tadeo': 'Tade',\n  'talia': 'Tali',\n  'talía': 'Tali',\n  'tamara': 'Tami',\n  'tania': 'Tani',\n  'tatiana': 'Tati',\n  'teodoro': 'Teo',\n  'teresa': 'Tere',\n  'thalia': 'Thali',\n  'thalía': 'Thali',\n  'thiago': 'Tiago',\n  'tiago': 'Tiago',\n  'tito': 'Tito',\n  'tomas': 'Tomi',\n  'tomás': 'Tomi',\n  'trinidad': 'Trini',\n  \n  // ══════════════ U ══════════════\n  'ubaldo': 'Ubal',\n  'ulises': 'Uli',\n  'urbano': 'Urba',\n  'uriel': 'Uri',\n  'ursula': 'Ursu',\n  'úrsula': 'Ursu',\n  \n  // ══════════════ V ══════════════\n  'valentin': 'Vale',\n  'valentín': 'Vale',\n  'valentina': 'Vale',\n  'valeria': 'Vale',\n  'valerio': 'Vale',\n  'valery': 'Vale',\n  'vanesa': 'Vane',\n  'vanessa': 'Vane',\n  'vania': 'Vani',\n  'verenice': 'Vere',\n  'veronica': 'Vero',\n  'verónica': 'Vero',\n  'vicente': 'Vicho',\n  'victor': 'Víctor',\n  'víctor': 'Víctor',\n  'victoria': 'Vicky',\n  'vilma': 'Vilma',\n  'violeta': 'Vio',\n  'virginia': 'Virgi',\n  'viridiana': 'Viri',\n  'viviana': 'Vivi',\n  'vladimir': 'Vladi',\n  \n  // ══════════════ W ══════════════\n  'walter': 'Wal',\n  'wanda': 'Wan',\n  'washington': 'Wash',\n  'wendy': 'Wendy',\n  'wilfredo': 'Wil',\n  'william': 'Willy',\n  'willy': 'Willy',\n  'wilson': 'Wil',\n  \n  // ══════════════ X ══════════════\n  'xenia': 'Xeni',\n  'ximena': 'Xime',\n  'xiomara': 'Xio',\n  \n  // ══════════════ Y ══════════════\n  'yadira': 'Yadi',\n  'yahir': 'Yahi',\n  'yajaira': 'Yaja',\n  'yamile': 'Yami',\n  'yamila': 'Yami',\n  'yaneth': 'Yane',\n  'yanina': 'Yani',\n  'yareli': 'Yare',\n  'yaritza': 'Yari',\n  'yasmin': 'Yas',\n  'yasmín': 'Yas',\n  'yazmin': 'Yaz',\n  'yazmín': 'Yaz',\n  'yeimy': 'Yei',\n  'yeimi': 'Yei',\n  'yenny': 'Yen',\n  'yesenia': 'Yese',\n  'yesica': 'Yesi',\n  'yessica': 'Yessi',\n  'yolanda': 'Yoli',\n  'yoselin': 'Yose',\n  'yuliana': 'Yuli',\n  'yulissa': 'Yuli',\n  'yuridia': 'Yuri',\n  'yvette': 'Yve',\n  'yvonne': 'Yvo',\n  \n  // ══════════════ Z ══════════════\n  'zaira': 'Zai',\n  'zara': 'Zara',\n  'zaray': 'Zara',\n  'zenaida': 'Zena',\n  'zenon': 'Zeno',\n  'zoe': 'Zoe',\n  'zoila': 'Zoi',\n  'zulema': 'Zule',\n  'zulma': 'Zul',\n  'zuly': 'Zuly'\n};\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 4. TÍTULOS Y PREFIJOS A REMOVER\n// ═══════════════════════════════════════════════════════════════════════════\nconst titulosRemover = new Set([\n  'dr', 'dr.', 'dra', 'dra.',\n  'ing', 'ing.',\n  'lic', 'lic.',\n  'arq', 'arq.',\n  'abog', 'abog.', 'abogado', 'abogada',\n  'prof', 'prof.',\n  'sr', 'sr.', 'sra', 'sra.', 'srta', 'srta.',\n  'mr', 'mr.', 'mrs', 'mrs.', 'ms', 'ms.', 'miss',\n  'don', 'doña', 'dona',\n  'padre', 'madre', 'hermano', 'hermana', 'fray', 'sor',\n  'doctor', 'doctora',\n  'ingeniero', 'ingeniera',\n  'licenciado', 'licenciada',\n  'arquitecto', 'arquitecta',\n  'profesor', 'profesora',\n  'maestro', 'maestra',\n  'contador', 'contadora',\n  'cpa', 'mba', 'phd', 'ph.d', 'ph.d.',\n  'md', 'm.d', 'm.d.',\n  'esq', 'esq.',\n  'jr', 'jr.', 'sr', 'sr.', 'ii', 'iii', 'iv'\n]);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 5. ARTÍCULOS Y CONECTORES A IGNORAR\n// ═══════════════════════════════════════════════════════════════════════════\nconst articulosConectores = new Set([\n  'el', 'la', 'los', 'las', 'un', 'una', 'unos', 'unas',\n  'de', 'del', 'da', 'do', 'dos', 'das',\n  'y', 'e', 'o', 'u',\n  'the', 'a', 'an',\n  'of', 'and', 'or',\n  'von', 'van', 'der', 'den', 'di', 'du'\n]);\n\n// ═══════════════════════════════════════════════════════════════════════════\n// 6. FUNCIÓN PRINCIPAL: Obtener nombre amigable\n// ═══════════════════════════════════════════════════════════════════════════\nfunction getNombreAmigable(nombreOriginal) {\n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 1: Validación inicial\n  // ─────────────────────────────────────────────────────────────────────────\n  if (!nombreOriginal || typeof nombreOriginal !== 'string') {\n    return FALLBACK_NAME;\n  }\n  \n  let nombre = nombreOriginal.trim();\n  \n  // Si está vacío después de trim\n  if (!nombre) {\n    return FALLBACK_NAME;\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 2: Limpieza de caracteres\n  // ─────────────────────────────────────────────────────────────────────────\n  \n  // Remover emojis\n  nombre = nombre.replace(/[\\u{1F600}-\\u{1F6FF}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F1E0}-\\u{1F1FF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]/gu, '');\n  \n  // Remover caracteres especiales (excepto letras, espacios, apóstrofes, guiones y acentos)\n  nombre = nombre.replace(/[^a-zA-ZáéíóúüñÁÉÍÓÚÜÑàèìòùÀÈÌÒÙâêîôûÂÊÎÔÛäëïöüÄËÏÖÜçÇ'\\-\\s]/g, '');\n  \n  // Normalizar espacios múltiples\n  nombre = nombre.replace(/\\s+/g, ' ').trim();\n  \n  // Si quedó vacío\n  if (!nombre) {\n    return FALLBACK_NAME;\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 3: Detectar si es email y extraer nombre\n  // ─────────────────────────────────────────────────────────────────────────\n  if (nombre.includes('@')) {\n    const parteEmail = nombre.split('@')[0];\n    // Convertir usuario.nombre o usuario_nombre a palabras\n    nombre = parteEmail.replace(/[._]/g, ' ');\n    nombre = nombre.replace(/\\d+/g, ' ').trim(); // Quitar números\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 4: Convertir a minúsculas para procesamiento\n  // ─────────────────────────────────────────────────────────────────────────\n  const nombreLower = nombre.toLowerCase();\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 5: Verificar si es nombre falso/genérico\n  // ─────────────────────────────────────────────────────────────────────────\n  if (nombresFalsos.has(nombreLower.replace(/\\s+/g, ''))) {\n    return FALLBACK_NAME;\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 6: Dividir en partes y procesar\n  // ─────────────────────────────────────────────────────────────────────────\n  let partes = nombre.split(' ').filter(p => p.length > 0);\n  \n  // Remover títulos del inicio\n  while (partes.length > 0 && titulosRemover.has(partes[0].toLowerCase().replace(/\\./g, ''))) {\n    partes.shift();\n  }\n  \n  // Remover títulos del final\n  while (partes.length > 0 && titulosRemover.has(partes[partes.length - 1].toLowerCase().replace(/\\./g, ''))) {\n    partes.pop();\n  }\n  \n  // Si no quedó nada\n  if (partes.length === 0) {\n    return FALLBACK_NAME;\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 7: Filtrar groserías de TODAS las partes\n  // ─────────────────────────────────────────────────────────────────────────\n  partes = partes.filter(parte => {\n    const parteLower = parte.toLowerCase();\n    // Verificar si la parte contiene alguna grosería\n    for (const groseria of groserias) {\n      if (parteLower === groseria || parteLower.includes(groseria)) {\n        return false;\n      }\n    }\n    return true;\n  });\n  \n  // Si después de filtrar groserías no queda nada\n  if (partes.length === 0) {\n    return FALLBACK_NAME;\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 8: Saltar artículos/conectores al inicio\n  // ─────────────────────────────────────────────────────────────────────────\n  let indiceInicio = 0;\n  while (indiceInicio < partes.length - 1 && articulosConectores.has(partes[indiceInicio].toLowerCase())) {\n    indiceInicio++;\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 9: Obtener el primer nombre válido\n  // ─────────────────────────────────────────────────────────────────────────\n  let primerNombre = partes[indiceInicio];\n  \n  // Si el nombre es muy corto (1 char), intentar con el siguiente\n  if (primerNombre.length < MIN_NAME_LENGTH && partes.length > indiceInicio + 1) {\n    primerNombre = partes[indiceInicio + 1];\n  }\n  \n  // Aún muy corto? Usar lo que hay\n  if (primerNombre.length < MIN_NAME_LENGTH) {\n    primerNombre = partes[indiceInicio];\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 10: Buscar apodo amigable\n  // ─────────────────────────────────────────────────────────────────────────\n  const nombreBusqueda = primerNombre.toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); // Quitar acentos para búsqueda\n  \n  // También buscar sin acentos\n  const nombreConAcentos = primerNombre.toLowerCase();\n  \n  let nombreFinal = apodos[nombreConAcentos] || apodos[nombreBusqueda] || null;\n  \n  // Si no hay apodo, usar el primer nombre capitalizado\n  if (!nombreFinal) {\n    nombreFinal = primerNombre.charAt(0).toUpperCase() + primerNombre.slice(1).toLowerCase();\n  }\n  \n  // ─────────────────────────────────────────────────────────────────────────\n  // PASO 11: Validación final\n  // ─────────────────────────────────────────────────────────────────────────\n  \n  // Muy largo? Truncar\n  if (nombreFinal.length > MAX_NAME_LENGTH) {\n    nombreFinal = nombreFinal.substring(0, MAX_NAME_LENGTH);\n  }\n  \n  // Verificar que no sea un nombre falso\n  if (nombresFalsos.has(nombreFinal.toLowerCase())) {\n    return FALLBACK_NAME;\n  }\n  \n  // Verificar una última vez por groserías\n  const finalLower = nombreFinal.toLowerCase();\n  for (const groseria of groserias) {\n    if (finalLower === groseria || finalLower.includes(groseria)) {\n      return FALLBACK_NAME;\n    }\n  }\n  \n  return nombreFinal;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════\n// EJECUTAR Y RETORNAR\n// ═══════════════════════════════════════════════════════════════════════════\nconst nombreParaEmail = getNombreAmigable(nombreOriginal);\n\nreturn [{\n  json: {\n    // Datos para el email\n    Email: preparar.Email,\n    Nombre: nombreParaEmail,\n    NombreOriginal: nombreOriginal,\n    Teléfono: buscar.Teléfono || preparar.Teléfono || 'No registrado',\n    \n    // Enlaces\n    notionLink: preparar.notionLink,\n    diagnosticoLink: preparar.diagnosticoLink,\n    calendlyLink: preparar.calendlyLink,\n    \n    // Metadata\n    processId: preparar.processId\n  }\n}];"
      },
      "id": "73270f27-5b51-402c-abf1-0117fb73d687",
      "name": "Preparar Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        176
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Preparar Datos').item.json.Email }}",
            "Gmail Enviado #2 (Timestamp)": "=TRUE",
            "row_number": 0
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo de Evento",
              "displayName": "Tipo de Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (UTC)",
              "displayName": "Fecha Evento (UTC)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Evento (America/Bogota)",
              "displayName": "Fecha Evento (America/Bogota)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Calendly Link",
              "displayName": "Calendly Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DocuSign Link",
              "displayName": "DocuSign Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "PayPal Link",
              "displayName": "PayPal Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telegram Notificado (Y/N)",
              "displayName": "Telegram Notificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #1 (Timestamp)",
              "displayName": "Gmail Enviado #1 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gmail Enviado #2 (Timestamp)",
              "displayName": "Gmail Enviado #2 (Timestamp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Firma Verificada (Y/N)",
              "displayName": "Firma Verificada (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Pago Verificado (Y/N)",
              "displayName": "Pago Verificado (Y/N)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha Activación",
              "displayName": "Fecha Activación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Asignado (Rep)",
              "displayName": "Asignado (Rep)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Próxima Acción",
              "displayName": "Próxima Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recordatorio (Fecha)",
              "displayName": "Recordatorio (Fecha)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "292a575b-62a6-4c14-adb7-a0f4969ad0f9",
      "name": "Registrar Éxito",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6908159885",
        "text": "=🎉 *CLIENTE ACTIVADO*\n━━━━━━━━━━━━━━━━━━━━━\n\n👤 *{{ $('Preparar Email').item.json.Nombre }}*\n📧 `{{ $('Preparar Email').item.json.Email }}`\n📞 {{ $('Preparar Email').item.json.Teléfono }}\n\n✅ Contrato firmado\n✅ Pago recibido\n✅ Email de bienvenida enviado\n\n💰 *¡DINERO EN CUENTA!*\n\n🆔 `{{ $('Preparar Datos').item.json.processId }}`\n⏰ {{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "b7d45484-5a72-40fc-b845-617139998f94",
      "name": "📱 TG Éxito",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        96
      ],
      "webhookId": "934b10fc-7f6f-4aa4-a7d4-e00322a56006",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6908159885",
        "text": "=🚨🚨 <b>ERROR CRÍTICO</b> 🚨🚨\n━━━━━━━━━━━━━━━━━━━━━\n⚠️ <b>CLIENTE PAGÓ PERO NO RECIBIÓ EMAIL</b>\n━━━━━━━━━━━━━━━━━━━━━\n\n👤 <b>{{ $('Preparar Email').item.json.Nombre.toString().replace(/&/g, '&amp;').replace(/</g, '&lt;') }}</b>\n📧 <code>{{ $('Preparar Email').item.json.Email }}</code>\n📞 {{ $('Preparar Email').item.json.Teléfono }}\n\n━━━━━━━━━━━━━━━━━━━━━\n<b>ENVIAR MANUALMENTE:</b>\n━━━━━━━━━━━━━━━━━━━━━\n📋 <b>Notion:</b>\n<code>{{ $('Preparar Datos').item.json.notionLink }}</code>\n\n📝 <b>Diagnóstico:</b>\n<code>{{ $('Preparar Datos').item.json.diagnosticoLink }}</code>\n\n📅 <b>Calendly:</b>\n<code>{{ $('Preparar Datos').item.json.calendlyLink }}</code>\n\n━━━━━━━━━━━━━━━━━━━━━\n<b>DETALLE DEL ERROR:</b>\n<pre>{{ ($json.error?.message || JSON.stringify($json)).toString().replace(/&/g, '&amp;').replace(/</g, '&lt;') }}</pre>\n\n🆔 <code>{{ $('Preparar Datos').item.json.processId }}</code>\n\n⚡ <b>ACCIÓN MANUAL URGENTE</b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "2f4b4ef8-ebf9-491e-8ca3-d5bbf6f310ea",
      "name": "🚨 TG Error Crítico",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        256
      ],
      "webhookId": "f5153788-5b60-4e23-88a9-ea6141e4906e",
      "credentials": {
        "telegramApi": {
          "id": "9KEzaJ9q4A2hSIWn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597764051,
          "mode": "list",
          "cachedResultName": "Onboarding"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Preparar Datos').item.json.Email }}",
            "Gmail Enviado #2 (Timestamp)": "=ERROR - Enviar manual",
            "Notas": "=Error al enviar email de bienvenida. Requiere acción manual."
          },
          "matchingColumns": [
            "Email"
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "id": "8eace104-7659-4ae5-ab8f-215d79d08872",
      "name": "Registrar Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1184,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Acceso confirmado | Nexus OS Advanced",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta name=\"color-scheme\" content=\"light dark\">\n    <meta name=\"supported-color-schemes\" content=\"light dark\">\n    <title>Nexus OS Advanced - Acceso Confirmado</title>\n    <style>\n        @media (prefers-color-scheme: dark) {\n            .adaptive-text { color: #ffffff !important; }\n            .adaptive-text-secondary { color: #cccccc !important; }\n            .adaptive-text-tertiary { color: #999999 !important; }\n            .adaptive-bg { background-color: rgba(255,255,255,0.05) !important; }\n            .adaptive-bg-strong { background-color: rgba(255,255,255,0.08) !important; }\n            .adaptive-border { border-color: rgba(255,255,255,0.1) !important; }\n        }\n        @media (prefers-color-scheme: light) {\n            .adaptive-text { color: #0a0a0a !important; }\n            .adaptive-text-secondary { color: #2a2a2a !important; }\n            .adaptive-text-tertiary { color: #4a4a4a !important; }\n            .adaptive-bg { background-color: #f8f8f9 !important; }\n            .adaptive-bg-strong { background-color: #f0f0f2 !important; }\n            .adaptive-border { border-color: #e0e0e4 !important; }\n        }\n    </style>\n</head>\n<body style=\"margin:0;padding:0;font-family:'Segoe UI',Arial,sans-serif;\">\n    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:transparent;\">\n        <tr>\n            <td align=\"center\" style=\"padding:40px 20px;\">\n                \n                <!-- CONTENEDOR UNICO -->\n                <table role=\"presentation\" width=\"700\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:transparent;border:1px solid rgba(139,0,0,0.15);border-radius:16px;\">\n                    \n                    <!-- LOGO -->\n                    <tr>\n                        <td align=\"center\" style=\"padding:60px 50px 40px;\">\n                            <img src=\"https://i.imgur.com/eIFLGFn.png\" alt=\"Nexus\" style=\"max-height:90px;max-width:240px;display:block;\">\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER -->\n                    <tr>\n                        <td style=\"padding:0 50px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.25),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- HEADER PRINCIPAL -->\n                    <tr>\n                        <td align=\"center\" style=\"padding:50px 50px 20px;\">\n                            <p style=\"font-size:11px;color:#b33a3a;letter-spacing:4px;margin:0 0 18px;font-weight:300;text-transform:uppercase;\">Bienvenido al Programa</p>\n                            <h1 class=\"adaptive-text\" style=\"font-size:40px;font-weight:300;letter-spacing:4px;margin:0 0 14px;line-height:1.2;\">ACCESO CONFIRMADO</h1>\n                            <p style=\"font-size:14px;color:#888888;letter-spacing:4px;margin:0;font-weight:300;\">Nexus OS Advanced</p>\n                        </td>\n                    </tr>\n                    \n                    <!-- SALUDO -->\n                    <tr>\n                        <td style=\"padding:40px 60px;\">\n                            <p class=\"adaptive-text\" style=\"font-size:21px;line-height:1.7;margin:0 0 22px;font-weight:300;\">\n                                Hola <span style=\"font-weight:500;\">{{ $json.Nombre }}</span>,\n                            </p>\n                            <p class=\"adaptive-text-secondary\" style=\"font-size:17px;line-height:1.8;margin:0 0 20px;font-weight:300;\">\n                                A partir de ahora, tienes acceso completo a <span style=\"font-weight:500;\">Nexus OS Advanced</span>.\n                            </p>\n                            <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;line-height:1.8;margin:0 0 18px;font-weight:300;\">\n                                Los proximos <span style=\"font-weight:500;\">90 dias</span> van a ser diferentes. Vamos a trabajar directamente sobre tu negocio - no con teoria, sino con ejecucion real. Cada semana vas a ver cambios tangibles en como opera tu empresa.\n                            </p>\n                            <p class=\"adaptive-text-tertiary\" style=\"font-size:15px;line-height:1.8;margin:0;font-weight:300;\">\n                                Pero antes de la primera sesion, necesito que hagas dos cosas. Son simples, pero criticas.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER -->\n                    <tr>\n                        <td style=\"padding:0 60px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.2),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- LO QUE INCLUYE -->\n                    <tr>\n                        <td style=\"padding:45px 60px 25px;\">\n                            <p style=\"font-size:11px;color:#b33a3a;letter-spacing:3px;margin:0 0 10px;font-weight:600;text-transform:uppercase;\">Lo Que Incluye Tu Acceso</p>\n                            <h2 class=\"adaptive-text\" style=\"font-size:26px;font-weight:300;letter-spacing:1.5px;margin:0 0 30px;\">Todo esta listo para ti</h2>\n                        </td>\n                    </tr>\n                    \n                    <!-- GRID 2x2 BENEFICIOS -->\n                    <tr>\n                        <td style=\"padding:0 60px 45px;\">\n                            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                <tr>\n                                    <td width=\"48%\" style=\"padding:0 10px 20px 0;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:16px;\">\n                                            <tr>\n                                                <td style=\"padding:26px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"50\" valign=\"top\">\n                                                                <div style=\"width:42px;height:42px;background:rgba(139,0,0,0.1);border-radius:10px;text-align:center;line-height:42px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:600;font-size:13px;\">01</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 8px;line-height:1.3;\">Tu Espacio en Notion</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Todo centralizado. Recursos, frameworks, grabaciones y el plan de los 90 dias.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"4%\"></td>\n                                    <td width=\"48%\" style=\"padding:0 0 20px 10px;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:16px;\">\n                                            <tr>\n                                                <td style=\"padding:26px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"50\" valign=\"top\">\n                                                                <div style=\"width:42px;height:42px;background:rgba(139,0,0,0.1);border-radius:10px;text-align:center;line-height:42px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:600;font-size:13px;\">02</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 8px;line-height:1.3;\">Sesiones 1:1 Conmigo</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Llamadas donde trabajamos directo sobre tu negocio. Sin rodeos.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width=\"48%\" style=\"padding:0 10px 0 0;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:16px;\">\n                                            <tr>\n                                                <td style=\"padding:26px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"50\" valign=\"top\">\n                                                                <div style=\"width:42px;height:42px;background:rgba(139,0,0,0.1);border-radius:10px;text-align:center;line-height:42px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:600;font-size:13px;\">03</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 8px;line-height:1.3;\">Plan de 90 Dias</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Semana por semana. Que hacer, que medir, que ajustar.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"4%\"></td>\n                                    <td width=\"48%\" style=\"padding:0 0 0 10px;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:16px;\">\n                                            <tr>\n                                                <td style=\"padding:26px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"50\" valign=\"top\">\n                                                                <div style=\"width:42px;height:42px;background:rgba(139,0,0,0.1);border-radius:10px;text-align:center;line-height:42px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:600;font-size:13px;\">04</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 8px;line-height:1.3;\">Scripts y Plantillas</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Todo lo que funciona, listo para que lo uses.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER -->\n                    <tr>\n                        <td style=\"padding:0 60px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.2),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- XUS OS SECTION -->\n                    <tr>\n                        <td style=\"padding:45px 60px;\">\n                            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg-strong\" style=\"border:1px solid rgba(139,0,0,0.2);border-radius:24px;\">\n                                <tr>\n                                    <td style=\"padding:50px 45px;\">\n                                        \n                                        <!-- XUS HEADER -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td align=\"center\" style=\"padding-bottom:35px;\">\n                                                    <p style=\"font-size:10px;color:#b33a3a;letter-spacing:4px;margin:0 0 16px;font-weight:500;text-transform:uppercase;\">A partir de la Semana 2</p>\n                                                    <h2 class=\"adaptive-text\" style=\"font-size:34px;font-weight:300;letter-spacing:2px;margin:0 0 12px;line-height:1.2;\">Vas a conocer a <span style=\"font-weight:500;\">Xus</span></h2>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;margin:0;font-weight:300;line-height:1.5;\">Y esto te va a cambiar la forma de operar tu negocio.</p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- QUE ES XUS -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td style=\"padding:20px 0 35px;\">\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:18px;line-height:1.8;margin:0 0 16px;font-weight:300;\">\n                                                        Xus es como tener un <span style=\"font-weight:500;\">gerente de operaciones</span> que trabaja 24/7.\n                                                    </p>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;line-height:1.8;margin:0 0 16px;font-weight:300;\">\n                                                        Pero no uno que tengas que contratar, entrenar, supervisar o pagarle $10,000 al mes.\n                                                    </p>\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:18px;line-height:1.8;margin:0;font-weight:300;\">\n                                                        Xus <span style=\"font-weight:500;\">vigila tu negocio mientras tu no estas</span>. Detecta cuando algo falla. Y actua.\n                                                    </p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- DIVIDER XUS -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td style=\"padding:10px 0 35px;\">\n                                                    <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.15),transparent);\"></div>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- TU UNICO TRABAJO -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:16px;\">\n                                            <tr>\n                                                <td style=\"padding:35px 40px;\" align=\"center\">\n                                                    <p style=\"font-size:10px;color:#b33a3a;letter-spacing:3px;margin:0 0 14px;font-weight:500;text-transform:uppercase;\">Tu Unico Trabajo Con Xus</p>\n                                                    <h3 class=\"adaptive-text\" style=\"font-size:26px;font-weight:300;margin:0 0 22px;line-height:1.3;\">Contarle como va tu dia.</h3>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;line-height:1.7;margin:0 0 18px;font-weight:300;\">\n                                                        Eso es todo. <span style=\"font-weight:500;\">En serio.</span>\n                                                    </p>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:15px;line-height:1.7;margin:0 0 14px;font-weight:300;\">\n                                                        Le mandas un audio por WhatsApp contandole que paso hoy. Las ventas, los problemas, las ideas que tuviste. Lo que sea.\n                                                    </p>\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:17px;line-height:1.7;margin:0;font-weight:300;\">\n                                                        Y Xus <span style=\"font-weight:500;\">se encarga del resto</span>.\n                                                    </p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- LO QUE HACE XUS -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td align=\"center\" style=\"padding:40px 0 25px;\">\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:10px;letter-spacing:3px;margin:0;font-weight:500;text-transform:uppercase;\">Esto es Lo Que Hace Por Ti</p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- GRID 2x2 XUS -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td width=\"48%\" style=\"padding:0 8px 16px 0;vertical-align:top;\">\n                                                    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                                        <tr>\n                                                            <td style=\"padding:24px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 10px;\">Vigila a tu equipo</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Si alguien no esta haciendo su trabajo, Xus lo detecta y lo contacta directamente. Tu no tienes que perseguir a nadie.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                                <td width=\"4%\"></td>\n                                                <td width=\"48%\" style=\"padding:0 0 16px 8px;vertical-align:top;\">\n                                                    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                                        <tr>\n                                                            <td style=\"padding:24px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 10px;\">Crea tu contenido</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Investiga que funciona, genera ideas, escribe guiones para tus reels e historias, y se los manda a tu equipo.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                            <tr>\n                                                <td width=\"48%\" style=\"padding:0 8px 0 0;vertical-align:top;\">\n                                                    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                                        <tr>\n                                                            <td style=\"padding:24px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 10px;\">Detecta problemas antes</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Cruza tus numeros de ventas, ads y operaciones. Si algo se esta yendo mal, te avisa antes de que pierdas dinero.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                                <td width=\"4%\"></td>\n                                                <td width=\"48%\" style=\"padding:0 0 0 8px;vertical-align:top;\">\n                                                    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                                        <tr>\n                                                            <td style=\"padding:24px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:16px;margin:0 0 10px;\">Ejecuta lo que le pidas</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.6;margin:0;font-weight:300;\">Le dices \"agenda una reunion con el equipo manana\" y lo hace. Sin que toques nada.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- DIVIDER XUS -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td style=\"padding:35px 0 30px;\">\n                                                    <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.15),transparent);\"></div>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- COMO FUNCIONA -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td align=\"center\" style=\"padding:0 0 35px;\">\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;line-height:1.8;margin:0 0 14px;font-weight:300;\">\n                                                        Funciona por <span style=\"font-weight:500;\">WhatsApp</span> o <span style=\"font-weight:500;\">Telegram</span>.\n                                                    </p>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;line-height:1.8;margin:0 0 14px;font-weight:300;\">\n                                                        Le mandas un audio de 2 minutos contandole tu dia.\n                                                    </p>\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:18px;line-height:1.8;margin:0;font-weight:300;\">\n                                                        Xus lo procesa y <span style=\"font-weight:500;\">ejecuta las acciones necesarias</span>.\n                                                    </p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- LA COMPARACION -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:rgba(139,0,0,0.05);border:1px solid rgba(139,0,0,0.2);border-radius:14px;\">\n                                            <tr>\n                                                <td style=\"padding:32px 35px;\" align=\"center\">\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:17px;line-height:1.7;margin:0 0 14px;font-weight:300;\">\n                                                        Un gerente de operaciones cuesta entre <span style=\"font-weight:500;\">$8,000 y $15,000 USD al mes</span>.\n                                                    </p>\n                                                    <p class=\"adaptive-text\" style=\"font-size:21px;line-height:1.6;margin:0;font-weight:400;\">\n                                                        Xus trabaja las 24 horas. Sin sueldo. Sin gestion. Sin excusas.\n                                                    </p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                        <!-- CUANDO LO OBTIENEN -->\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:12px;margin-top:28px;\">\n                                            <tr>\n                                                <td style=\"padding:24px;\" align=\"center\">\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:14px;line-height:1.7;margin:0;font-weight:300;\">\n                                                        En la <span style=\"font-weight:500;\">Semana 2</span> vas a recibir acceso a <span style=\"font-weight:500;\">Demo Xus OS</span>. Lo vamos a configurar juntos para tu negocio especifico - tu equipo, tus procesos, tus metricas.\n                                                    </p>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                        \n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER -->\n                    <tr>\n                        <td style=\"padding:0 60px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.2),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- NECESITO QUE HAGAS -->\n                    <tr>\n                        <td style=\"padding:45px 60px 25px;\">\n                            <p style=\"font-size:11px;color:#b33a3a;letter-spacing:3px;margin:0 0 10px;font-weight:600;text-transform:uppercase;\">Antes de Nuestra Primera Sesion</p>\n                            <h2 class=\"adaptive-text\" style=\"font-size:26px;font-weight:300;letter-spacing:1.5px;margin:0 0 18px;\">Necesito que hagas estas dos cosas</h2>\n                            <p class=\"adaptive-text-tertiary\" style=\"font-size:16px;line-height:1.7;margin:0;font-weight:300;\">\n                                La primera sesion va a ser intensa. Para que funcione, necesito conocer tu negocio antes de la llamada.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- PASO 1: DIAGNOSTICO -->\n                    <tr>\n                        <td style=\"padding:20px 60px;\">\n                            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg-strong\" style=\"border:1px solid rgba(139,0,0,0.2);border-radius:22px;\">\n                                <tr>\n                                    <td style=\"padding:42px;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td width=\"80\" valign=\"top\">\n                                                    <div style=\"width:68px;height:68px;background:rgba(139,0,0,0.1);border:1px solid rgba(139,0,0,0.18);border-radius:16px;text-align:center;line-height:68px;\">\n                                                        <span style=\"color:#b33a3a;font-weight:300;font-size:24px;\">01</span>\n                                                    </div>\n                                                </td>\n                                                <td style=\"padding-left:28px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td>\n                                                                <span style=\"display:inline-block;padding:4px 12px;background:rgba(139,0,0,0.15);border-radius:5px;font-size:9px;color:#b33a3a;font-weight:600;letter-spacing:1px;margin-bottom:14px;text-transform:uppercase;\">Obligatorio</span>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                    <h3 class=\"adaptive-text\" style=\"font-weight:500;font-size:24px;margin:0 0 20px;letter-spacing:1px;line-height:1.2;\">Llena el diagnostico de tu negocio</h3>\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:16px;line-height:1.7;margin:0 0 18px;font-weight:300;\">\n                                                        Es un formulario donde me cuentas como esta tu negocio ahora mismo. Tus numeros, tus problemas, lo que has intentado.\n                                                    </p>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:15px;line-height:1.7;margin:0 0 28px;font-weight:300;\">\n                                                        Se honesto. Entre mas real sea la informacion, mejor voy a poder ayudarte.\n                                                    </p>\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td>\n                                                                <a href=\"{{ $json.diagnosticoLink }}\" style=\"display:inline-block;padding:17px 38px;background:linear-gradient(135deg,#8B0000,#6a0000);border-radius:12px;color:#ffffff;text-decoration:none;font-size:15px;font-weight:500;letter-spacing:1px;\">LLENAR DIAGNOSTICO</a>\n                                                            </td>\n                                                            <td style=\"padding-left:20px;\">\n                                                                <span class=\"adaptive-text-tertiary\" style=\"font-size:13px;font-weight:300;\">15-20 min</span>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- PASO 2: NOTION -->\n                    <tr>\n                        <td style=\"padding:18px 60px 45px;\">\n                            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:22px;\">\n                                <tr>\n                                    <td style=\"padding:42px;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                            <tr>\n                                                <td width=\"80\" valign=\"top\">\n                                                    <div class=\"adaptive-bg adaptive-border\" style=\"width:68px;height:68px;border:1px solid;border-radius:16px;text-align:center;line-height:68px;\">\n                                                        <span class=\"adaptive-text-tertiary\" style=\"font-weight:300;font-size:24px;\">02</span>\n                                                    </div>\n                                                </td>\n                                                <td style=\"padding-left:28px;\">\n                                                    <h3 class=\"adaptive-text\" style=\"font-weight:500;font-size:24px;margin:0 0 20px;letter-spacing:1px;line-height:1.2;\">Accede a tu espacio en Notion</h3>\n                                                    <p class=\"adaptive-text-secondary\" style=\"font-size:16px;line-height:1.7;margin:0 0 18px;font-weight:300;\">\n                                                        Aqui esta todo: el plan de 90 dias, los recursos, las grabaciones de las sesiones, y las instrucciones de cada fase.\n                                                    </p>\n                                                    <p class=\"adaptive-text-tertiary\" style=\"font-size:15px;line-height:1.7;margin:0 0 28px;font-weight:300;\">\n                                                        Guardalo en favoritos. Es tu base de operaciones durante los proximos 3 meses.\n                                                    </p>\n                                                    <a href=\"{{ $json.notionLink }}\" style=\"display:inline-block;padding:17px 38px;background:rgba(139,0,0,0.06);border:1px solid rgba(139,0,0,0.15);border-radius:12px;color:#b33a3a;text-decoration:none;font-size:15px;font-weight:500;letter-spacing:1px;\">ENTRAR AL NOTION</a>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER -->\n                    <tr>\n                        <td style=\"padding:0 60px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.2),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- ADVERTENCIA -->\n                    <tr>\n                        <td style=\"padding:40px 60px;\">\n                            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-left:3px solid #8B0000;\">\n                                <tr>\n                                    <td class=\"adaptive-bg\" style=\"padding:30px 35px;border-radius:0 14px 14px 0;\">\n                                        <p style=\"font-size:10px;color:#b33a3a;letter-spacing:3px;margin:0 0 14px;font-weight:600;text-transform:uppercase;\">Importante</p>\n                                        <p class=\"adaptive-text\" style=\"font-size:16px;line-height:1.7;margin:0 0 14px;font-weight:500;\">\n                                            No hagas cambios en tu negocio todavia.\n                                        </p>\n                                        <p class=\"adaptive-text-tertiary\" style=\"font-size:15px;line-height:1.7;margin:0;font-weight:300;\">\n                                            Nada de publicar contenido nuevo, cambiar tu oferta, o contactar prospectos hasta que tengamos la primera sesion. Primero vamos a ver que esta pasando realmente, y despues actuamos.\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- RESUMEN DE PASOS -->\n                    <tr>\n                        <td style=\"padding:20px 60px 45px;\">\n                            <p style=\"font-size:11px;color:#b33a3a;letter-spacing:3px;margin:0 0 22px;font-weight:600;text-transform:uppercase;\">Lo Que Tienes Que Hacer Hoy</p>\n                            <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                                <tr>\n                                    <td width=\"48%\" style=\"padding:0 10px 18px 0;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                            <tr>\n                                                <td style=\"padding:24px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"48\" valign=\"top\">\n                                                                <div style=\"width:40px;height:40px;background:rgba(139,0,0,0.1);border-radius:50%;text-align:center;line-height:40px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:500;font-size:15px;\">1</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:15px;margin:0 0 6px;\">Llena el diagnostico</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:13px;line-height:1.5;margin:0;font-weight:300;\">15-20 minutos. Con datos reales.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"4%\"></td>\n                                    <td width=\"48%\" style=\"padding:0 0 18px 10px;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                            <tr>\n                                                <td style=\"padding:24px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"48\" valign=\"top\">\n                                                                <div style=\"width:40px;height:40px;background:rgba(139,0,0,0.1);border-radius:50%;text-align:center;line-height:40px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:500;font-size:15px;\">2</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:15px;margin:0 0 6px;\">Entra al Notion</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:13px;line-height:1.5;margin:0;font-weight:300;\">Guardalo. Revisa la Fase 1.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                                <tr>\n                                    <td width=\"48%\" style=\"padding:0 10px 0 0;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                            <tr>\n                                                <td style=\"padding:24px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"48\" valign=\"top\">\n                                                                <div style=\"width:40px;height:40px;background:rgba(139,0,0,0.1);border-radius:50%;text-align:center;line-height:40px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:500;font-size:15px;\">3</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:15px;margin:0 0 6px;\">No hagas nada mas</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:13px;line-height:1.5;margin:0;font-weight:300;\">Espera a la primera sesion.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                    <td width=\"4%\"></td>\n                                    <td width=\"48%\" style=\"padding:0 0 0 10px;vertical-align:top;\">\n                                        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" class=\"adaptive-bg adaptive-border\" style=\"border:1px solid;border-radius:14px;\">\n                                            <tr>\n                                                <td style=\"padding:24px;\">\n                                                    <table role=\"presentation\" cellspacing=\"0\" cellpadding=\"0\">\n                                                        <tr>\n                                                            <td width=\"48\" valign=\"top\">\n                                                                <div style=\"width:40px;height:40px;background:rgba(139,0,0,0.1);border-radius:50%;text-align:center;line-height:40px;\">\n                                                                    <span style=\"color:#b33a3a;font-weight:500;font-size:15px;\">4</span>\n                                                                </div>\n                                                            </td>\n                                                            <td style=\"padding-left:16px;\">\n                                                                <p class=\"adaptive-text\" style=\"font-weight:500;font-size:15px;margin:0 0 6px;\">Revisa tu correo</p>\n                                                                <p class=\"adaptive-text-tertiary\" style=\"font-size:13px;line-height:1.5;margin:0;font-weight:300;\">Te confirmo la fecha de la sesion.</p>\n                                                            </td>\n                                                        </tr>\n                                                    </table>\n                                                </td>\n                                            </tr>\n                                        </table>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER -->\n                    <tr>\n                        <td style=\"padding:0 60px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.2),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- CIERRE -->\n                    <tr>\n                        <td align=\"center\" style=\"padding:50px 60px;\">\n                            <p class=\"adaptive-text-tertiary\" style=\"font-size:18px;line-height:1.7;margin:0 0 18px;font-weight:300;\">\n                                Haz el diagnostico. Entra al Notion.\n                            </p>\n                            <p class=\"adaptive-text\" style=\"font-size:30px;letter-spacing:2px;margin:0;font-weight:300;line-height:1.4;\">\n                                Nos vemos en la primera sesion.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <!-- DIVIDER FINAL -->\n                    <tr>\n                        <td style=\"padding:0 60px 30px;\">\n                            <div style=\"height:1px;background:linear-gradient(90deg,transparent,rgba(139,0,0,0.12),transparent);\"></div>\n                        </td>\n                    </tr>\n                    \n                    <!-- FOOTER -->\n                    <tr>\n                        <td align=\"center\" style=\"padding:0 60px 50px;\">\n                            <p class=\"adaptive-text-tertiary\" style=\"font-size:11px;letter-spacing:4px;margin:0 0 10px;font-weight:300;text-transform:uppercase;\">Nexus</p>\n                            <p class=\"adaptive-text-tertiary\" style=\"font-size:11px;margin:0;font-weight:300;\">Nexus OS Advanced</p>\n                        </td>\n                    </tr>\n                    \n                </table>\n                \n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "aa3f0e06-817e-41dc-87df-877ef40b6570",
      "name": "Enviar Email Acceso1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        576,
        176
      ],
      "webhookId": "b015cb9c-c20a-4051-b74c-3c32c7ffe849",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              },
              "id": "444b532a-cc45-4066-971d-f66cf974ded0"
            },
            {
              "id": "309a56b4-d073-4968-8f03-96acfc0454df",
              "leftValue": "={{ $json.labelIds[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8594d9ec-d133-4d70-bb46-ff6fdbd4e044",
      "name": "¿Email Enviado OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        736,
        176
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        80
      ],
      "id": "7114f3b7-f372-4fe8-be1e-1ba6a4a6be4e",
      "name": "Execute Workflow Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "¿Ya Activado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ya Activado?": {
      "main": [
        [
          {
            "node": "📱 TG Duplicado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Activado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Activado": {
      "main": [
        [
          {
            "node": "Preparar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email": {
      "main": [
        [
          {
            "node": "Enviar Email Acceso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Éxito": {
      "main": [
        [
          {
            "node": "📱 TG Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 TG Error Crítico": {
      "main": [
        [
          {
            "node": "Registrar Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Acceso1": {
      "main": [
        [
          {
            "node": "¿Email Enviado OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Email Enviado OK?": {
      "main": [
        [
          {
            "node": "Registrar Éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚨 TG Error Crítico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1fd413c9-851f-4c76-8bf7-e5cf62c4d83f",
  "meta": {
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "6AS8fdSdwVGZpil4kAtVX",
  "tags": []
}