home_snapshot/ubuntu/Workflows-n8n/E.X.T/Xus V1.1 Agendar — Nexus.json
{
  "name": "Xus V1.1 Agendar — Nexus",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "santi21435@gmail.com",
          "mode": "list",
          "cachedResultName": "santi21435@gmail.com"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "91df04da-3025-4d1f-912f-7e173f7065c9",
      "name": "📆 Leer Eventos",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -32,
        240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'success', message: 'Cita agendada', leadId: $json.lead.id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "321940a8-7ccd-452a-a7b0-e838bca509e4",
      "name": "✅ Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Datos inválidos: ' + $json.errors.join(', ') }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1c11caa-401d-4d76-bfe0-c9cf10c1faa1",
      "name": "❌ Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        608
      ]
    },
    {
      "parameters": {
        "path": "agendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "22d49d9d-35ad-426f-b095-3e051ecda6be",
      "name": "🌐 Landing Agendar (GET)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        64
      ],
      "webhookId": "agendar-landing-page"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\">\n  <title>NOVA | Sesión Estratégica</title>\n  <meta name=\"theme-color\" content=\"#000000\">\n  <link rel=\"icon\" type=\"image/png\" href=\"https://i.ibb.co/8DVc28FY/logo.png\">\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap\" rel=\"stylesheet\">\n  <style>\n    *{margin:0;padding:0;box-sizing:border-box}\n    :root{\n      --bg:#000;--bg2:#060606;--bg3:#0c0c0c;--bg4:#141414;--bg5:#1c1c1c;\n      --t1:#fff;--t2:rgba(255,255,255,.7);--t3:rgba(255,255,255,.4);\n      --t4:rgba(255,255,255,.18);--t5:rgba(255,255,255,.07);\n      --glass:rgba(255,255,255,.025);--glass2:rgba(255,255,255,.045);--glass3:rgba(255,255,255,.065);\n      --b1:rgba(255,255,255,.055);--b2:rgba(255,255,255,.09);--b3:rgba(255,255,255,.14);\n      --sans:'Inter',-apple-system,BlinkMacSystemFont,sans-serif;\n      --ease:cubic-bezier(.25,.1,.25,1);--easeOut:cubic-bezier(.16,1,.3,1);--easeIn:cubic-bezier(.5,0,.75,0)\n    }\n    html{font-size:16px;-webkit-tap-highlight-color:transparent}\n    body{font-family:var(--sans);background:var(--bg);color:var(--t1);min-height:100vh;min-height:100dvh;\n      overflow-x:hidden;-webkit-font-smoothing:antialiased;font-weight:300}\n    ::selection{background:rgba(255,255,255,.12);color:#fff}\n    ::-webkit-scrollbar{width:0;display:none}\n\n    /* ══ AMBIENT BACKGROUND ══ */\n    .ambient{position:fixed;inset:0;z-index:0;overflow:hidden}\n    .ambient-gradient{position:absolute;inset:0;opacity:0;transition:opacity 2s ease;\n      background:radial-gradient(ellipse 100% 100% at 50% 100%,rgba(30,25,50,.3) 0%,transparent 60%)}\n    .ambient-gradient.on{opacity:1}\n    .ambient canvas{position:absolute;inset:0}\n    .vignette{position:fixed;inset:0;z-index:1;pointer-events:none;\n      background:radial-gradient(ellipse 70% 70% at 50% 50%,transparent 0%,rgba(0,0,0,.6) 100%)}\n\n    /* ══ INTRO ══ */\n    .intro{position:fixed;inset:0;z-index:100;display:flex;flex-direction:column;\n      align-items:center;justify-content:center;background:#000;\n      opacity:1;transition:opacity 1.2s var(--ease),transform 1.2s var(--easeIn)}\n    .intro.exit{opacity:0;transform:translateY(-60px)}\n    .intro.hidden{display:none}\n    \n    .intro-content{display:flex;flex-direction:column;align-items:center;\n      transform:translateY(30px);opacity:0}\n    .intro-content.show{animation:contentReveal 1.8s var(--easeOut) forwards}\n    @keyframes contentReveal{to{transform:translateY(0);opacity:1}}\n    \n    .intro-logo{width:clamp(65px,16vw,95px);height:auto;margin-bottom:clamp(28px,5vh,45px);\n      opacity:0;transform:scale(.85);filter:blur(10px)}\n    .intro-logo.show{animation:logoReveal 2s var(--easeOut) forwards}\n    @keyframes logoReveal{\n      0%{opacity:0;transform:scale(.85);filter:blur(10px)}\n      100%{opacity:1;transform:scale(1);filter:blur(0) drop-shadow(0 0 50px rgba(255,255,255,.15))}}\n    \n    .intro-text{display:flex;align-items:center;gap:clamp(8px,2.5vw,16px);\n      margin-bottom:clamp(22px,4vh,36px)}\n    .intro-letter{font-size:clamp(44px,13vw,88px);font-weight:100;letter-spacing:.08em;\n      opacity:0;transform:translateY(25px)}\n    .intro-letter.show{animation:letterFade 1.2s var(--easeOut) forwards}\n    @keyframes letterFade{to{opacity:1;transform:translateY(0)}}\n    \n    .intro-line{width:0;height:1px;background:rgba(255,255,255,.25);margin-bottom:clamp(18px,3.5vh,30px)}\n    .intro-line.show{animation:lineGrow 1.4s var(--easeOut) forwards}\n    @keyframes lineGrow{to{width:clamp(100px,30vw,180px)}}\n    \n    .intro-tagline{font-size:clamp(10px,2.8vw,12px);letter-spacing:clamp(.4em,.8vw,.6em);\n      color:var(--t3);text-transform:uppercase;opacity:0;transform:translateY(12px)}\n    .intro-tagline.show{animation:tagFade 1s var(--easeOut) forwards}\n    @keyframes tagFade{to{opacity:1;transform:translateY(0)}}\n    \n    .intro-scroll{position:absolute;bottom:clamp(35px,7vh,70px);display:flex;flex-direction:column;\n      align-items:center;gap:12px;opacity:0;cursor:pointer;-webkit-tap-highlight-color:transparent}\n    .intro-scroll.show{animation:scrollFade 1s var(--easeOut) forwards}\n    @keyframes scrollFade{to{opacity:1}}\n    .intro-scroll:hover .scroll-line{height:50px}\n    .intro-scroll:hover .scroll-text{opacity:1}\n    \n    .scroll-icon{width:24px;height:40px;border:1px solid var(--t4);border-radius:12px;\n      position:relative;display:flex;justify-content:center;padding-top:8px}\n    .scroll-dot{width:3px;height:8px;background:var(--t3);border-radius:3px;\n      animation:scrollPulse 2s var(--ease) infinite}\n    @keyframes scrollPulse{0%,100%{opacity:1;transform:translateY(0)}50%{opacity:.4;transform:translateY(6px)}}\n    \n    .scroll-line{width:1px;height:30px;background:linear-gradient(180deg,var(--t4),transparent);\n      transition:height .4s var(--ease)}\n    .scroll-text{font-size:9px;letter-spacing:.35em;color:var(--t4);text-transform:uppercase;\n      opacity:.6;transition:opacity .3s}\n\n    /* ══ APP ══ */\n    .app{min-height:100vh;min-height:100dvh;display:flex;flex-direction:column;align-items:center;\n      padding:clamp(30px,6vh,60px) clamp(16px,4vw,24px) 120px;opacity:0;pointer-events:none;\n      transform:translateY(40px);transition:all 1s var(--easeOut);position:relative;z-index:10}\n    .app.on{opacity:1;pointer-events:all;transform:translateY(0)}\n\n    /* ══ HEADER ══ */\n    .hd{text-align:center;margin-bottom:clamp(30px,5vh,50px);max-width:520px;width:100%}\n    .hd-brand{display:inline-flex;align-items:center;gap:clamp(10px,2.5vw,14px);\n      margin-bottom:clamp(20px,4vh,40px);padding:10px 22px 10px 14px;\n      background:var(--glass2);border:1px solid var(--b1);border-radius:50px;\n      backdrop-filter:blur(30px);-webkit-backdrop-filter:blur(30px)}\n    .hd-logo{width:clamp(24px,6vw,30px);height:auto}\n    .hd-name{font-size:clamp(10px,2.5vw,11px);letter-spacing:.45em;font-weight:400;color:var(--t2)}\n    .hd h1{font-size:clamp(30px,7.5vw,48px);font-weight:100;letter-spacing:-.01em;\n      line-height:1.15;margin-bottom:clamp(14px,3vh,22px)}\n    .hd p{font-size:clamp(13px,3.5vw,15px);color:var(--t3);font-weight:300;line-height:1.75}\n\n    /* ══ PROGRESS ══ */\n    .pr{width:100%;max-width:520px;margin-bottom:clamp(24px,4vh,40px)}\n    .pr-bar{height:1px;background:var(--b1);overflow:visible;margin-bottom:clamp(12px,2.5vh,18px)}\n    .pr-fill{height:100%;width:0%;transition:width .8s var(--easeOut);\n      background:linear-gradient(90deg,rgba(255,255,255,.5),rgba(255,255,255,.9))}\n    .pr-fill::after{content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);\n      width:6px;height:6px;background:#fff;border-radius:50%;box-shadow:0 0 15px rgba(255,255,255,.5)}\n    .pr-txt{font-size:clamp(9px,2.2vw,10px);letter-spacing:.4em;color:var(--t4);text-align:center}\n\n    /* ══ CARD ══ */\n    .card{width:100%;max-width:520px;position:relative}\n    .card::before{content:'';position:absolute;inset:-1px;border-radius:clamp(24px,5vw,32px);\n      background:linear-gradient(160deg,var(--b2) 0%,transparent 30%,transparent 70%,var(--b1) 100%);\n      -webkit-mask:linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);\n      -webkit-mask-composite:xor;mask-composite:exclude;padding:1px;pointer-events:none}\n    .card-inner{background:linear-gradient(180deg,var(--glass3) 0%,var(--glass) 100%);\n      backdrop-filter:blur(60px) saturate(1.2);-webkit-backdrop-filter:blur(60px) saturate(1.2);\n      border-radius:clamp(24px,5vw,32px);overflow:hidden;border:1px solid var(--b1)}\n    .step{display:none;padding:clamp(28px,6vw,48px);animation:stepIn .6s var(--easeOut)}\n    .step.on{display:block}\n    @keyframes stepIn{from{opacity:0;transform:translateY(20px)}to{opacity:1;transform:translateY(0)}}\n    \n    .sL{font-size:clamp(8px,2vw,9px);letter-spacing:.5em;color:var(--t4);\n      margin-bottom:clamp(18px,4vh,28px);font-weight:500;text-transform:uppercase;\n      display:flex;align-items:center;gap:12px}\n    .sL::before{content:'';width:20px;height:1px;background:var(--t4)}\n    .sT{font-size:clamp(22px,5.5vw,30px);font-weight:200;margin-bottom:10px;line-height:1.3}\n    .sH{font-size:clamp(12px,3.2vw,14px);color:var(--t3);margin-bottom:clamp(24px,5vh,36px);\n      line-height:1.75;font-weight:300}\n\n    /* ══ STEP 1: PLATFORM ══ */\n    .plats{display:grid;grid-template-columns:1fr 1fr;gap:clamp(12px,3vw,16px)}\n    .plat{background:var(--glass);border:1px solid var(--b1);border-radius:clamp(18px,4vw,24px);\n      padding:clamp(24px,5vw,36px) clamp(16px,4vw,24px);text-align:center;cursor:pointer;\n      transition:all .4s var(--easeOut);position:relative;overflow:hidden;-webkit-tap-highlight-color:transparent}\n    .plat::before{content:'';position:absolute;inset:0;opacity:0;transition:opacity .4s;\n      background:radial-gradient(ellipse at 50% 0%,rgba(255,255,255,.06),transparent 70%)}\n    .plat:active,.plat:hover{border-color:var(--b3);transform:translateY(-3px)}\n    .plat:active::before,.plat:hover::before{opacity:1}\n    .plat.sel{border-color:rgba(255,255,255,.18);background:var(--glass2)}\n    .plat.sel::after{content:'';position:absolute;top:0;left:0;right:0;height:1px;\n      background:linear-gradient(90deg,transparent,rgba(255,255,255,.3),transparent)}\n    .plat-ico{width:clamp(48px,12vw,60px);height:clamp(48px,12vw,60px);margin:0 auto clamp(14px,3.5vw,20px);\n      border-radius:clamp(14px,3vw,18px);display:flex;align-items:center;justify-content:center;\n      background:var(--glass2);border:1px solid var(--b1);transition:all .35s;overflow:hidden}\n    .plat.sel .plat-ico{border-color:var(--b2)}\n    .plat-ico img{width:100%;height:100%;object-fit:cover;border-radius:inherit}\n    .plat-n{font-size:clamp(14px,3.8vw,16px);font-weight:400;margin-bottom:5px}\n    .plat-d{font-size:clamp(10px,2.6vw,11px);color:var(--t4)}\n    .plat-check{position:absolute;top:clamp(12px,3vw,16px);right:clamp(12px,3vw,16px);\n      width:clamp(20px,5vw,24px);height:clamp(20px,5vw,24px);border-radius:50%;background:#fff;\n      display:flex;align-items:center;justify-content:center;transform:scale(0);\n      transition:transform .35s var(--easeOut)}\n    .plat.sel .plat-check{transform:scale(1)}\n    .plat-check svg{width:12px;height:12px;stroke:#000;stroke-width:3}\n\n    /* ══ STEP 2: CALENDAR ══ */\n    .cal-hd{display:flex;align-items:center;justify-content:space-between;margin-bottom:clamp(16px,3.5vh,24px)}\n    .cal-mo{font-size:clamp(16px,4.5vw,20px);font-weight:300}\n    .cal-nav{display:flex;gap:8px}\n    .cal-btn{width:clamp(36px,9vw,44px);height:clamp(36px,9vw,44px);border-radius:clamp(12px,3vw,14px);\n      border:1px solid var(--b1);background:var(--glass);color:var(--t3);cursor:pointer;\n      display:flex;align-items:center;justify-content:center;transition:all .3s;-webkit-tap-highlight-color:transparent}\n    .cal-btn:active:not(:disabled),.cal-btn:hover:not(:disabled){border-color:var(--b3);color:var(--t1);background:var(--glass2)}\n    .cal-btn:disabled{opacity:.12;cursor:default}\n    .cal-btn svg{width:14px;height:14px;stroke-width:1.5}\n    .cal-grid{display:grid;grid-template-columns:repeat(7,1fr);gap:clamp(5px,1.2vw,8px);min-height:260px;align-content:start}\n    .cal-dn{font-size:clamp(9px,2.3vw,10px);letter-spacing:.18em;color:var(--t4);text-align:center;\n      padding:clamp(8px,2vh,12px) 0;font-weight:500}\n    .cal-c{aspect-ratio:1;border-radius:clamp(12px,3vw,16px);display:flex;flex-direction:column;\n      align-items:center;justify-content:center;font-size:clamp(13px,3.2vw,15px);font-weight:300;\n      cursor:default;transition:all .25s var(--easeOut);color:var(--t4);border:1px solid transparent;\n      position:relative;gap:4px;-webkit-tap-highlight-color:transparent}\n    .cal-c.av{color:var(--t2);cursor:pointer}\n    .cal-c.av:active,.cal-c.av:hover{background:var(--glass2);color:var(--t1);border-color:var(--b2);transform:scale(1.08)}\n    .cal-c.today{color:var(--t1);font-weight:400}\n    .cal-c.today::after{content:'';position:absolute;bottom:clamp(5px,1.2vw,7px);width:4px;height:4px;\n      border-radius:50%;background:#fff}\n    .cal-c.sel{background:#fff!important;color:#000!important;font-weight:500;\n      box-shadow:0 0 40px rgba(255,255,255,.2);transform:scale(1.08)}\n    .cal-c.sel::after{display:none}\n    .cal-c.dis{opacity:.08;cursor:default}\n    .cal-dot{width:4px;height:4px;border-radius:50%;background:rgba(255,255,255,.4)}\n    .cal-dot.few{background:rgba(255,180,100,.5)}\n    .tz{text-align:center;font-size:clamp(9px,2.3vw,10px);color:var(--t4);margin-top:clamp(12px,2.5vh,18px);letter-spacing:.1em}\n\n    @keyframes shimmer{0%{background-position:-200% 0}100%{background-position:200% 0}}\n    .skel{background:linear-gradient(90deg,var(--bg3) 25%,var(--bg4) 50%,var(--bg3) 75%);\n      background-size:200% 100%;animation:shimmer 1.5s infinite;border-radius:16px}\n    .skel-cell{aspect-ratio:1}\n\n    /* ══ STEP 3: TIME ══ */\n    .time-info{font-size:clamp(14px,3.6vw,16px);color:var(--t2);margin-bottom:clamp(20px,4.5vh,30px);\n      padding:clamp(16px,4vw,22px);background:var(--glass);border-radius:clamp(14px,3.5vw,18px);\n      text-align:center;border:1px solid var(--b1)}\n    .time-info strong{color:var(--t1);font-weight:400}\n    .time-info .slot-count{display:block;font-size:clamp(9px,2.3vw,10px);color:var(--t3);\n      margin-top:8px;letter-spacing:.3em}\n    .ts-sec{margin-bottom:clamp(16px,3.5vh,24px)}\n    .ts-label{font-size:clamp(10px,2.5vw,11px);letter-spacing:.3em;color:var(--t4);\n      margin-bottom:clamp(10px,2.5vh,14px)}\n    .ts-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:clamp(8px,2vw,12px)}\n    @media(max-width:420px){.ts-grid{grid-template-columns:repeat(3,1fr)}}\n    .ts-btn{padding:clamp(13px,3vw,16px) 6px;border-radius:clamp(12px,3vw,14px);border:1px solid var(--b1);\n      background:var(--glass);color:var(--t3);font-size:clamp(13px,3.2vw,14px);font-family:var(--sans);\n      cursor:pointer;transition:all .3s var(--easeOut);text-align:center;opacity:0;\n      animation:slotIn .4s var(--easeOut) forwards;font-weight:300;-webkit-tap-highlight-color:transparent}\n    @keyframes slotIn{from{opacity:0;transform:translateY(10px)}to{opacity:1;transform:none}}\n    .ts-btn:active,.ts-btn:hover{border-color:var(--b3);color:var(--t1);background:var(--glass2);transform:translateY(-2px)}\n    .ts-btn.sel{background:#fff;border-color:transparent;color:#000;font-weight:500;\n      box-shadow:0 0 30px rgba(255,255,255,.15);transform:translateY(-2px)}\n    .ts-empty{font-size:clamp(11px,2.8vw,12px);color:var(--t4);text-align:center;padding:24px}\n\n    /* ══ STEP 4: FORM ══ */\n    .fg{margin-bottom:clamp(18px,4vh,26px)}\n    .fl{display:block;font-size:clamp(9px,2.3vw,10px);font-weight:400;letter-spacing:.3em;\n      color:var(--t4);margin-bottom:clamp(8px,2vh,12px);transition:color .3s;text-transform:uppercase}\n    .fg:focus-within .fl{color:var(--t2)}\n    .fi{width:100%;padding:clamp(15px,3.5vw,18px) clamp(16px,4vw,20px);background:var(--glass);\n      border:1px solid var(--b1);border-radius:clamp(14px,3.5vw,16px);font-size:clamp(15px,3.8vw,16px);\n      font-family:var(--sans);color:var(--t1);transition:all .35s;font-weight:300}\n    .fi::placeholder{color:var(--t4)}\n    .fi:focus{outline:none;border-color:rgba(255,255,255,.2);background:var(--bg2);\n      box-shadow:0 0 0 4px rgba(255,255,255,.03)}\n    .fi.err-field{border-color:rgba(255,100,100,.3)}\n    textarea.fi{min-height:100px;resize:vertical;line-height:1.65}\n    .fi-hint{font-size:clamp(9px,2.3vw,10px);color:var(--t4);margin-top:6px;display:none}\n    .fi-hint.vis{display:block;color:rgba(255,130,130,.9)}\n    .fg-opt{font-size:8px;color:var(--t4);letter-spacing:.2em;margin-left:6px}\n\n    /* ══ NAV ══ */\n    .nav{display:flex;gap:clamp(12px,3vw,16px);margin-top:clamp(28px,6vh,40px);padding-top:clamp(24px,5vh,32px);\n      border-top:1px solid var(--b1)}\n    .btn{flex:1;padding:clamp(16px,4vw,20px) 24px;border:none;border-radius:clamp(14px,3.5vw,16px);\n      font-size:clamp(10px,2.6vw,11px);font-weight:500;letter-spacing:.22em;text-transform:uppercase;\n      cursor:pointer;transition:all .35s var(--easeOut);font-family:var(--sans);-webkit-tap-highlight-color:transparent}\n    .bb{background:var(--glass);color:var(--t3);border:1px solid var(--b1)}\n    .bb:active,.bb:hover{border-color:var(--b3);color:var(--t1);background:var(--glass2)}\n    .bn{background:#fff;color:#000;position:relative;overflow:hidden}\n    .bn::before{content:'';position:absolute;inset:0;\n      background:linear-gradient(90deg,transparent,rgba(255,255,255,.5),transparent);\n      transform:translateX(-100%);transition:transform .6s}\n    .bn:hover:not(:disabled)::before{transform:translateX(100%)}\n    .bn:hover:not(:disabled),.bn:active:not(:disabled){transform:translateY(-2px);box-shadow:0 10px 40px rgba(255,255,255,.12)}\n    .bn:disabled{opacity:.18;cursor:default;transform:none}\n\n    /* ══ STEP 5: SUCCESS ══ */\n    .suc{text-align:center;padding:clamp(24px,5vw,36px) clamp(12px,3vw,18px)}\n    .suc-ic{width:clamp(70px,18vw,90px);height:clamp(70px,18vw,90px);border:1px solid rgba(255,255,255,.2);\n      border-radius:50%;display:flex;align-items:center;justify-content:center;margin:0 auto clamp(24px,5vh,36px);\n      animation:sucPop .6s var(--easeOut)}\n    @keyframes sucPop{from{transform:scale(0);opacity:0}to{transform:scale(1);opacity:1}}\n    .suc-ic svg{width:clamp(28px,7vw,36px);height:clamp(28px,7vw,36px);stroke:#fff;stroke-width:1.5}\n    .suc h2{font-size:clamp(24px,6.5vw,32px);font-weight:200;margin-bottom:clamp(12px,3vh,18px)}\n    .suc p{font-size:clamp(13px,3.5vw,15px);color:var(--t3);line-height:1.8;font-weight:300;margin-bottom:clamp(24px,5vh,32px)}\n    .suc p strong{color:var(--t1);font-weight:400}\n    .suc-box{background:var(--glass);border:1px solid var(--b1);border-radius:clamp(16px,4vw,22px);\n      padding:clamp(18px,4.5vw,26px);text-align:left;margin-bottom:clamp(22px,5vh,30px)}\n    .sr{display:flex;justify-content:space-between;padding:clamp(10px,2.5vh,14px) 0;\n      border-bottom:1px solid var(--b1);font-size:clamp(12px,3.2vw,14px)}\n    .sr:last-child{border:none}\n    .sr span:first-child{color:var(--t4);font-weight:300}\n    .sr span:last-child{color:var(--t1);font-weight:400}\n    .suc-actions{display:flex;gap:clamp(12px,3vw,16px);justify-content:center;flex-wrap:wrap}\n    .suc-link{display:inline-flex;align-items:center;gap:10px;padding:clamp(14px,3.5vw,16px) clamp(22px,5.5vw,30px);\n      border:1px solid var(--b2);border-radius:40px;font-size:clamp(9px,2.3vw,10px);letter-spacing:.22em;\n      color:var(--t2);text-transform:uppercase;text-decoration:none;transition:all .3s;cursor:pointer;\n      background:var(--glass);font-family:var(--sans);-webkit-tap-highlight-color:transparent}\n    .suc-link:active,.suc-link:hover{border-color:var(--b3);color:var(--t1);background:var(--glass2)}\n    .suc-link svg{width:14px;height:14px}\n    .suc-brand{display:inline-flex;align-items:center;gap:12px;margin-top:clamp(22px,5vh,30px);\n      font-size:clamp(9px,2.3vw,10px);letter-spacing:.5em;color:var(--t4)}\n    .suc-brand img{width:20px;height:auto;opacity:.5}\n\n    /* ══ LOADING ══ */\n    .ov{display:none;position:fixed;inset:0;background:rgba(0,0,0,.95);z-index:200;\n      align-items:center;justify-content:center;flex-direction:column;backdrop-filter:blur(20px)}\n    .ov.on{display:flex}\n    .sp{width:48px;height:48px;border:1px solid var(--b1);border-top-color:rgba(255,255,255,.6);\n      border-radius:50%;animation:spin .9s linear infinite}\n    @keyframes spin{to{transform:rotate(360deg)}}\n    .ov-t{margin-top:22px;font-size:10px;color:var(--t4);letter-spacing:.45em}\n\n    .err-msg{background:rgba(255,100,100,.04);border:1px solid rgba(255,100,100,.1);color:rgba(255,150,150,.9);\n      padding:clamp(14px,3.5vw,18px);border-radius:14px;margin-top:18px;font-size:clamp(12px,3.2vw,13px);\n      display:none;font-weight:300;line-height:1.6}\n    .err-msg.vis{display:block}\n\n    .confetti-container{position:fixed;inset:0;pointer-events:none;z-index:300;overflow:hidden}\n    .confetti{position:absolute;opacity:0}\n    @keyframes confettiFall{0%{opacity:1;transform:translateY(-100vh) rotate(0deg)}\n      100%{opacity:0;transform:translateY(100vh) rotate(720deg)}}\n\n    .powered{position:fixed;bottom:clamp(14px,3.5vh,24px);left:50%;transform:translateX(-50%);\n      font-size:9px;letter-spacing:.35em;color:var(--t5);z-index:5}\n\n    @media(max-width:420px){\n      .nav{flex-direction:column}\n      .suc-actions{flex-direction:column;width:100%}\n      .suc-link{justify-content:center;width:100%}\n    }\n  </style>\n</head>\n<body>\n\n<!-- ═══ AMBIENT BACKGROUND ═══ -->\n<div class=\"ambient\">\n  <div class=\"ambient-gradient\" id=\"ambientGradient\"></div>\n  <canvas id=\"ambientCanvas\"></canvas>\n</div>\n<div class=\"vignette\"></div>\n\n<!-- ═══ INTRO ═══ -->\n<div class=\"intro\" id=\"intro\">\n  <div class=\"intro-content\" id=\"introContent\">\n    <img class=\"intro-logo\" id=\"introLogo\" src=\"https://i.ibb.co/8DVc28FY/logo.png\" alt=\"NOVA\">\n    <div class=\"intro-text\">\n      <span class=\"intro-letter\" id=\"L0\">N</span>\n      <span class=\"intro-letter\" id=\"L1\">O</span>\n      <span class=\"intro-letter\" id=\"L2\">V</span>\n      <span class=\"intro-letter\" id=\"L3\">A</span>\n    </div>\n    <div class=\"intro-line\" id=\"introLine\"></div>\n    <div class=\"intro-tagline\" id=\"introTag\">Infraestructura Inteligente</div>\n  </div>\n  \n  <div class=\"intro-scroll\" id=\"introScroll\" onclick=\"exitIntro()\">\n    <div class=\"scroll-icon\"><div class=\"scroll-dot\"></div></div>\n    <div class=\"scroll-line\"></div>\n    <span class=\"scroll-text\">Desliza</span>\n  </div>\n</div>\n\n<!-- ═══ LOADING ═══ -->\n<div class=\"ov\" id=\"ov\">\n  <div class=\"sp\"></div>\n  <p class=\"ov-t\">Procesando</p>\n</div>\n\n<!-- ═══ CONFETTI ═══ -->\n<div class=\"confetti-container\" id=\"confettiBox\"></div>\n\n<!-- ═══ APP ═══ -->\n<div class=\"app\" id=\"app\">\n  <div class=\"hd\">\n    <div class=\"hd-brand\">\n      <img class=\"hd-logo\" src=\"https://i.ibb.co/8DVc28FY/logo.png\" alt=\"NOVA\">\n      <span class=\"hd-name\">NOVA</span>\n    </div>\n    <h1>Agenda tu sesión estratégica</h1>\n    <p>Elige plataforma, fecha y horario disponible.</p>\n  </div>\n\n  <div class=\"pr\">\n    <div class=\"pr-bar\"><div class=\"pr-fill\" id=\"pFill\"></div></div>\n    <p class=\"pr-txt\" id=\"pTxt\">Paso 1 de 4</p>\n  </div>\n\n  <div class=\"card\"><div class=\"card-inner\">\n\n    <!-- STEP 1 -->\n    <div class=\"step on\" data-s=\"1\">\n      <div class=\"sL\">Paso 01</div>\n      <h2 class=\"sT\">¿Dónde conectamos?</h2>\n      <p class=\"sH\">Elige tu plataforma preferida para la videollamada.</p>\n      <div class=\"plats\">\n        <div class=\"plat\" onclick=\"pickPlat('zoom',this)\">\n          <div class=\"plat-check\"><svg viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M5 13l4 4L19 7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg></div>\n          <div class=\"plat-ico\">\n            <img src=\"https://i.ibb.co/bj1z04Bf/zoom.png\" alt=\"Zoom\" onerror=\"this.parentElement.innerHTML='<svg viewBox=\\'0 0 24 24\\' fill=\\'none\\' stroke=\\'rgba(255,255,255,.4)\\' stroke-width=\\'1.5\\'><rect x=\\'2\\' y=\\'5\\' width=\\'13\\' height=\\'14\\' rx=\\'3\\'/><path d=\\'M15 10l5-3v10l-5-3\\'/></svg>'\">\n          </div>\n          <div class=\"plat-n\">Zoom</div>\n          <div class=\"plat-d\">Videollamada HD</div>\n        </div>\n        <div class=\"plat\" onclick=\"pickPlat('meet',this)\">\n          <div class=\"plat-check\"><svg viewBox=\"0 0 24 24\" fill=\"none\"><path d=\"M5 13l4 4L19 7\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/></svg></div>\n          <div class=\"plat-ico\">\n            <img src=\"https://i.ibb.co/xt1wWPhv/meet.png\" alt=\"Meet\" onerror=\"this.parentElement.innerHTML='<svg viewBox=\\'0 0 24 24\\' fill=\\'none\\' stroke=\\'rgba(255,255,255,.4)\\' stroke-width=\\'1.5\\'><rect x=\\'2\\' y=\\'5\\' width=\\'13\\' height=\\'14\\' rx=\\'3\\'/><path d=\\'M15 10l5-3v10l-5-3\\'/></svg>'\">\n          </div>\n          <div class=\"plat-n\">Google Meet</div>\n          <div class=\"plat-d\">Sin instalación</div>\n        </div>\n      </div>\n      <div class=\"nav\"><button class=\"btn bn\" id=\"b1\" disabled onclick=\"goStep(2)\">Continuar</button></div>\n    </div>\n\n    <!-- STEP 2 -->\n    <div class=\"step\" data-s=\"2\">\n      <div class=\"sL\">Paso 02</div>\n      <h2 class=\"sT\">Elige una fecha</h2>\n      <p class=\"sH\">Solo días con disponibilidad confirmada.</p>\n      <div class=\"cal-hd\">\n        <span class=\"cal-mo\" id=\"calMo\"></span>\n        <div class=\"cal-nav\">\n          <button class=\"cal-btn\" id=\"calP\" onclick=\"calNav(-1)\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\"><path d=\"M15 18l-6-6 6-6\"/></svg></button>\n          <button class=\"cal-btn\" id=\"calN\" onclick=\"calNav(1)\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\"><path d=\"M9 6l6 6-6 6\"/></svg></button>\n        </div>\n      </div>\n      <div class=\"cal-grid\" id=\"calG\"></div>\n      <div class=\"tz\" id=\"tzEl\"></div>\n      <div class=\"nav\">\n        <button class=\"btn bb\" onclick=\"goStep(1)\">Atrás</button>\n        <button class=\"btn bn\" id=\"b2\" disabled onclick=\"goStep(3)\">Continuar</button>\n      </div>\n    </div>\n\n    <!-- STEP 3 -->\n    <div class=\"step\" data-s=\"3\">\n      <div class=\"sL\">Paso 03</div>\n      <h2 class=\"sT\">Selecciona horario</h2>\n      <div class=\"time-info\" id=\"tInfo\"></div>\n      <div class=\"ts-sec\"><div class=\"ts-label\">Mañana</div><div class=\"ts-grid\" id=\"tAM\"></div></div>\n      <div class=\"ts-sec\"><div class=\"ts-label\">Tarde</div><div class=\"ts-grid\" id=\"tPM\"></div></div>\n      <div class=\"nav\">\n        <button class=\"btn bb\" onclick=\"goStep(2)\">Atrás</button>\n        <button class=\"btn bn\" id=\"b3\" disabled onclick=\"goStep(4)\">Continuar</button>\n      </div>\n    </div>\n\n    <!-- STEP 4 -->\n    <div class=\"step\" data-s=\"4\">\n      <div class=\"sL\">Último paso</div>\n      <h2 class=\"sT\">Tus datos</h2>\n      <p class=\"sH\">Para preparar una sesión personalizada.</p>\n      <div class=\"fg\">\n        <label class=\"fl\">Nombre completo</label>\n        <input class=\"fi\" id=\"fName\" placeholder=\"Tu nombre\" autocomplete=\"name\">\n        <div class=\"fi-hint\" id=\"hName\"></div>\n      </div>\n      <div class=\"fg\">\n        <label class=\"fl\">Email</label>\n        <input class=\"fi\" type=\"email\" id=\"fEmail\" placeholder=\"tu@email.com\" autocomplete=\"email\">\n        <div class=\"fi-hint\" id=\"hEmail\"></div>\n      </div>\n      <div class=\"fg\">\n        <label class=\"fl\">Teléfono <span class=\"fg-opt\">(Opcional)</span></label>\n        <input class=\"fi\" type=\"tel\" id=\"fPhone\" placeholder=\"+52 55 1234 5678\" autocomplete=\"tel\">\n      </div>\n      <div class=\"fg\">\n        <label class=\"fl\">Tu negocio</label>\n        <input class=\"fi\" id=\"fBiz\" placeholder=\"Agencia, SaaS, consultoría...\">\n        <div class=\"fi-hint\" id=\"hBiz\"></div>\n      </div>\n      <div class=\"fg\">\n        <label class=\"fl\">¿Qué necesitas resolver?</label>\n        <textarea class=\"fi\" id=\"fNeed\" placeholder=\"Describe tu reto principal\"></textarea>\n        <div class=\"fi-hint\" id=\"hNeed\"></div>\n      </div>\n      <div class=\"nav\">\n        <button class=\"btn bb\" onclick=\"goStep(3)\">Atrás</button>\n        <button class=\"btn bn\" id=\"bSub\" onclick=\"doSubmit()\">Confirmar</button>\n      </div>\n      <div class=\"err-msg\" id=\"errMsg\"></div>\n    </div>\n\n    <!-- STEP 5 -->\n    <div class=\"step\" data-s=\"5\">\n      <div class=\"suc\">\n        <div class=\"suc-ic\"><svg fill=\"none\" viewBox=\"0 0 24 24\" stroke-width=\"1.5\" stroke=\"currentColor\"><path stroke-linecap=\"round\" stroke-linejoin=\"round\" d=\"M5 13l4 4L19 7\"/></svg></div>\n        <h2>Sesión Confirmada</h2>\n        <p>Recibirás un email con los detalles.<br><strong>Revisa tu bandeja de entrada.</strong></p>\n        <div class=\"suc-box\" id=\"sucBox\"></div>\n        <div class=\"suc-actions\">\n          <a class=\"suc-link\" id=\"gcalLink\" href=\"#\" target=\"_blank\">\n            <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><rect x=\"3\" y=\"4\" width=\"18\" height=\"18\" rx=\"2\"/><path d=\"M16 2v4M8 2v4M3 10h18\"/></svg>\n            Google Calendar\n          </a>\n          <button class=\"suc-link\" onclick=\"copyDetails()\">\n            <svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><rect x=\"9\" y=\"9\" width=\"13\" height=\"13\" rx=\"2\"/><path d=\"M5 15H4a2 2 0 01-2-2V4a2 2 0 012-2h9a2 2 0 012 2v1\"/></svg>\n            Copiar detalles\n          </button>\n        </div>\n        <span class=\"suc-brand\"><img src=\"https://i.ibb.co/8DVc28FY/logo.png\" alt=\"\">NOVA</span>\n      </div>\n    </div>\n\n  </div></div>\n</div>\n\n<div class=\"powered\">NOVA</div>\n\n<script>\n// ═══════════════════════════════════════════════════════════════\n//  AMBIENT BACKGROUND - SUBTLE PARTICLES\n// ═══════════════════════════════════════════════════════════════\nconst canvas = document.getElementById('ambientCanvas');\nconst ctx = canvas.getContext('2d');\nlet particles = [];\nlet mouseX = -1000, mouseY = -1000;\nlet animationId;\n\nfunction initCanvas() {\n  canvas.width = window.innerWidth;\n  canvas.height = window.innerHeight;\n  particles = [];\n  \n  const count = Math.min(40, Math.floor((canvas.width * canvas.height) / 30000));\n  for (let i = 0; i < count; i++) {\n    particles.push({\n      x: Math.random() * canvas.width,\n      y: Math.random() * canvas.height,\n      vx: (Math.random() - 0.5) * 0.2,\n      vy: (Math.random() - 0.5) * 0.2,\n      size: Math.random() * 1.5 + 0.5,\n      alpha: Math.random() * 0.3 + 0.1\n    });\n  }\n}\n\nfunction drawAmbient() {\n  ctx.clearRect(0, 0, canvas.width, canvas.height);\n  \n  // Draw connections\n  for (let i = 0; i < particles.length; i++) {\n    for (let j = i + 1; j < particles.length; j++) {\n      const dx = particles[i].x - particles[j].x;\n      const dy = particles[i].y - particles[j].y;\n      const dist = Math.sqrt(dx * dx + dy * dy);\n      \n      if (dist < 120) {\n        const alpha = (1 - dist / 120) * 0.06;\n        ctx.beginPath();\n        ctx.moveTo(particles[i].x, particles[i].y);\n        ctx.lineTo(particles[j].x, particles[j].y);\n        ctx.strokeStyle = `rgba(255, 255, 255, ${alpha})`;\n        ctx.lineWidth = 0.5;\n        ctx.stroke();\n      }\n    }\n  }\n  \n  // Update and draw particles\n  particles.forEach(p => {\n    // Mouse repulsion\n    const dx = p.x - mouseX;\n    const dy = p.y - mouseY;\n    const dist = Math.sqrt(dx * dx + dy * dy);\n    if (dist < 150 && dist > 0) {\n      const force = (1 - dist / 150) * 0.015;\n      p.x += dx * force;\n      p.y += dy * force;\n    }\n    \n    p.x += p.vx;\n    p.y += p.vy;\n    \n    if (p.x < 0) p.x = canvas.width;\n    if (p.x > canvas.width) p.x = 0;\n    if (p.y < 0) p.y = canvas.height;\n    if (p.y > canvas.height) p.y = 0;\n    \n    ctx.beginPath();\n    ctx.arc(p.x, p.y, p.size, 0, Math.PI * 2);\n    ctx.fillStyle = `rgba(255, 255, 255, ${p.alpha})`;\n    ctx.fill();\n  });\n  \n  animationId = requestAnimationFrame(drawAmbient);\n}\n\ninitCanvas();\ndrawAmbient();\n\nwindow.addEventListener('resize', initCanvas);\ndocument.addEventListener('mousemove', e => { mouseX = e.clientX; mouseY = e.clientY; });\ndocument.addEventListener('touchmove', e => { mouseX = e.touches[0].clientX; mouseY = e.touches[0].clientY; }, { passive: true });\n\n// ═══════════════════════════════════════════════════════════════\n//  INTRO ANIMATION SEQUENCE\n// ═══════════════════════════════════════════════════════════════\nlet introExited = false;\n\nfunction runIntroSequence() {\n  const content = document.getElementById('introContent');\n  const logo = document.getElementById('introLogo');\n  const letters = [document.getElementById('L0'), document.getElementById('L1'), document.getElementById('L2'), document.getElementById('L3')];\n  const line = document.getElementById('introLine');\n  const tag = document.getElementById('introTag');\n  const scroll = document.getElementById('introScroll');\n  \n  // Sequence timing\n  setTimeout(() => content.classList.add('show'), 300);\n  setTimeout(() => logo.classList.add('show'), 600);\n  \n  letters.forEach((l, i) => {\n    setTimeout(() => l.classList.add('show'), 1400 + i * 150);\n  });\n  \n  setTimeout(() => line.classList.add('show'), 2200);\n  setTimeout(() => tag.classList.add('show'), 2600);\n  setTimeout(() => scroll.classList.add('show'), 3200);\n}\n\nfunction exitIntro() {\n  if (introExited) return;\n  introExited = true;\n  \n  const intro = document.getElementById('intro');\n  const gradient = document.getElementById('ambientGradient');\n  \n  intro.classList.add('exit');\n  gradient.classList.add('on');\n  \n  setTimeout(() => {\n    intro.classList.add('hidden');\n    document.getElementById('app').classList.add('on');\n    startApp();\n  }, 1200);\n  \n  ls.set('nova_final', '1');\n}\n\n// Touch/Wheel to exit\nlet touchStartY = 0;\ndocument.getElementById('intro').addEventListener('touchstart', e => {\n  touchStartY = e.touches[0].clientY;\n}, { passive: true });\n\ndocument.getElementById('intro').addEventListener('touchmove', e => {\n  const diff = touchStartY - e.touches[0].clientY;\n  if (diff > 50) exitIntro();\n}, { passive: true });\n\ndocument.getElementById('intro').addEventListener('wheel', e => {\n  if (e.deltaY > 30) exitIntro();\n}, { passive: true });\n\n// ═══════════════════════════════════════════════════════════════\n//  STORAGE\n// ═══════════════════════════════════════════════════════════════\nconst _mem = {};\nlet _sOk = false, _lOk = false;\ntry { sessionStorage.setItem('_t', '1'); sessionStorage.removeItem('_t'); _sOk = true; } catch(e) {}\ntry { localStorage.setItem('_t', '1'); localStorage.removeItem('_t'); _lOk = true; } catch(e) {}\n\nconst store = {\n  get: k => { try { return _sOk ? sessionStorage.getItem(k) : _mem[k] || null; } catch(e) { return _mem[k] || null; } },\n  set: (k, v) => { try { if (_sOk) sessionStorage.setItem(k, v); } catch(e) {} _mem[k] = v; },\n  del: k => { try { if (_sOk) sessionStorage.removeItem(k); } catch(e) {} delete _mem[k]; }\n};\n\nconst ls = {\n  get: k => { try { return _lOk ? localStorage.getItem(k) : _mem['ls_' + k] || null; } catch(e) { return _mem['ls_' + k] || null; } },\n  set: (k, v) => { try { if (_lOk) localStorage.setItem(k, v); } catch(e) {} _mem['ls_' + k] = v; }\n};\n\n// ═══════════════════════════════════════════════════════════════\n//  CONFIG\n// ═══════════════════════════════════════════════════════════════\nconst _p = window.location.pathname;\nconst _base = _p.substring(0, _p.lastIndexOf('/'));\n\nconst CFG = {\n  api: window.location.origin + _base,\n  endpoints: { availability: '/agendar-mes', book: '/agendar-receiver' },\n  fallbackSlots: {\n    am: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30'],\n    pm: ['13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30']\n  },\n  maxMonthsAhead: 2, slotDuration: 30, submitTimeoutMs: 20000\n};\n\nconst MONTHS = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];\nconst DAYS = ['Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb', 'Dom'];\nconst TODAY = new Date(); TODAY.setHours(0, 0, 0, 0);\nconst USER_TZ = Intl.DateTimeFormat().resolvedOptions().timeZone;\n\nconst S = {\n  platform: null, date: null, dateStr: null, time: null, slots: [],\n  cMonth: TODAY.getMonth(), cYear: TODAY.getFullYear(),\n  monthCache: {}, step: 1, submitted: false\n};\n\n// ═══════════════════════════════════════════════════════════════\n//  INIT\n// ═══════════════════════════════════════════════════════════════\nfunction init() {\n  if (ls.get('nova_final')) {\n    // Skip intro\n    document.getElementById('intro').classList.add('hidden');\n    document.getElementById('ambientGradient').classList.add('on');\n    document.getElementById('app').classList.add('on');\n    startApp();\n  } else {\n    runIntroSequence();\n  }\n}\n\nfunction startApp() {\n  document.getElementById('tzEl').textContent = USER_TZ;\n  loadSession();\n  fetchMonth(S.cYear, S.cMonth);\n}\n\ninit();\n\n// ═══════════════════════════════════════════════════════════════\n//  SESSION\n// ═══════════════════════════════════════════════════════════════\nfunction saveSession() {\n  store.set('nova_s', JSON.stringify({ platform: S.platform, dateStr: S.dateStr, time: S.time, step: S.step }));\n}\n\nfunction loadSession() {\n  try {\n    const raw = store.get('nova_s');\n    if (!raw) return;\n    const d = JSON.parse(raw);\n    if (!d || d.step >= 5) return;\n    \n    if (d.platform) {\n      S.platform = d.platform;\n      document.getElementById('b1').disabled = false;\n      document.querySelectorAll('.plat').forEach((el, i) => {\n        if ((i === 0 && d.platform === 'zoom') || (i === 1 && d.platform === 'meet')) el.classList.add('sel');\n      });\n    }\n    if (d.dateStr) {\n      S.dateStr = d.dateStr;\n      S.date = new Date(d.dateStr + 'T12:00:00');\n      S.cMonth = S.date.getMonth();\n      S.cYear = S.date.getFullYear();\n      document.getElementById('b2').disabled = false;\n    }\n    if (d.time) S.time = d.time;\n    if (d.step > 1) goStep(d.step, true);\n  } catch(e) {}\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  API\n// ═══════════════════════════════════════════════════════════════\nasync function fetchMonth(year, month) {\n  const key = year + '-' + month;\n  if (S.monthCache[key]) { renderCalendar(S.monthCache[key]); return; }\n  \n  renderCalendarSkeleton();\n  \n  try {\n    const url = CFG.api + CFG.endpoints.availability + '?year=' + year + '&month=' + (month + 1) + '&tz=' + encodeURIComponent(USER_TZ);\n    const res = await fetch(url);\n    if (!res.ok) throw new Error();\n    const data = await res.json();\n    S.monthCache[key] = data.availability || {};\n  } catch(e) {\n    S.monthCache[key] = generateFallback(year, month);\n  }\n  \n  renderCalendar(S.monthCache[key]);\n}\n\nfunction generateFallback(year, month) {\n  const result = {};\n  const dim = new Date(year, month + 1, 0).getDate();\n  for (let d = 1; d <= dim; d++) {\n    const dt = new Date(year, month, d);\n    if (dt < TODAY || dt.getDay() === 0) continue;\n    result[fmtDate(year, month + 1, d)] = [...CFG.fallbackSlots.am, ...CFG.fallbackSlots.pm];\n  }\n  return result;\n}\n\nfunction fmtDate(y, m, d) {\n  return y + '-' + String(m).padStart(2, '0') + '-' + String(d).padStart(2, '0');\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  NAVIGATION\n// ═══════════════════════════════════════════════════════════════\nfunction goStep(n, silent) {\n  document.querySelector('.step.on').classList.remove('on');\n  document.querySelector('[data-s=\"' + n + '\"]').classList.add('on');\n  \n  const pct = n >= 5 ? 100 : (n / 4) * 100;\n  document.getElementById('pFill').style.width = pct + '%';\n  document.getElementById('pTxt').textContent = n >= 5 ? 'Completado' : 'Paso ' + n + ' de 4';\n  \n  S.step = n;\n  if (n === 3) renderTimeSlots();\n  if (n === 5) launchConfetti();\n  if (!silent) { saveSession(); window.scrollTo({ top: 0, behavior: 'smooth' }); }\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  PLATFORM\n// ═══════════════════════════════════════════════════════════════\nfunction pickPlat(p, el) {\n  document.querySelectorAll('.plat').forEach(e => e.classList.remove('sel'));\n  el.classList.add('sel');\n  S.platform = p;\n  document.getElementById('b1').disabled = false;\n  saveSession();\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  CALENDAR\n// ═══════════════════════════════════════════════════════════════\nfunction renderCalendarSkeleton() {\n  const g = document.getElementById('calG');\n  document.getElementById('calMo').textContent = MONTHS[S.cMonth] + ' ' + S.cYear;\n  updateCalNav();\n  g.innerHTML = '';\n  \n  DAYS.forEach(d => {\n    const el = document.createElement('div');\n    el.className = 'cal-dn';\n    el.textContent = d;\n    g.appendChild(el);\n  });\n  \n  for (let i = 0; i < 35; i++) {\n    const el = document.createElement('div');\n    el.className = 'skel skel-cell';\n    g.appendChild(el);\n  }\n}\n\nfunction renderCalendar(avail) {\n  const year = S.cYear, month = S.cMonth;\n  const g = document.getElementById('calG');\n  \n  document.getElementById('calMo').textContent = MONTHS[month] + ' ' + year;\n  updateCalNav();\n  g.innerHTML = '';\n  \n  DAYS.forEach(d => {\n    const el = document.createElement('div');\n    el.className = 'cal-dn';\n    el.textContent = d;\n    g.appendChild(el);\n  });\n  \n  let sd = new Date(year, month, 1).getDay() - 1;\n  if (sd < 0) sd = 6;\n  \n  for (let i = 0; i < sd; i++) {\n    g.appendChild(document.createElement('div')).className = 'cal-c';\n  }\n  \n  const dim = new Date(year, month + 1, 0).getDate();\n  \n  for (let d = 1; d <= dim; d++) {\n    const dt = new Date(year, month, d);\n    dt.setHours(0, 0, 0, 0);\n    const ds = fmtDate(year, month + 1, d);\n    const el = document.createElement('div');\n    el.className = 'cal-c';\n    \n    const isPast = dt < TODAY;\n    const isSunday = dt.getDay() === 0;\n    const slots = avail[ds] || [];\n    const hasSlots = slots.length > 0;\n    const isToday = dt.getTime() === TODAY.getTime();\n    const isSel = S.dateStr === ds;\n    \n    const num = document.createElement('span');\n    num.textContent = d;\n    el.appendChild(num);\n    \n    if (isToday) el.classList.add('today');\n    if (isSel) el.classList.add('sel');\n    \n    if (!isPast && !isSunday && hasSlots) {\n      el.classList.add('av');\n      const dot = document.createElement('span');\n      dot.className = 'cal-dot';\n      if (slots.length <= 3) dot.classList.add('few');\n      el.appendChild(dot);\n      \n      ((dt2, ds2, slots2) => {\n        el.onclick = () => {\n          S.date = dt2;\n          S.dateStr = ds2;\n          S.slots = slots2;\n          S.time = null;\n          document.getElementById('b2').disabled = false;\n          document.getElementById('b3').disabled = true;\n          renderCalendar(avail);\n          saveSession();\n        };\n      })(dt, ds, slots);\n    } else {\n      el.classList.add('dis');\n    }\n    \n    g.appendChild(el);\n  }\n}\n\nfunction updateCalNav() {\n  const now = new Date();\n  document.getElementById('calP').disabled = (S.cYear === now.getFullYear() && S.cMonth <= now.getMonth());\n  const mx = new Date(now);\n  mx.setMonth(mx.getMonth() + CFG.maxMonthsAhead);\n  document.getElementById('calN').disabled = (S.cYear > mx.getFullYear() || (S.cYear === mx.getFullYear() && S.cMonth >= mx.getMonth()));\n}\n\nfunction calNav(dir) {\n  S.cMonth += dir;\n  if (S.cMonth > 11) { S.cMonth = 0; S.cYear++; }\n  if (S.cMonth < 0) { S.cMonth = 11; S.cYear--; }\n  fetchMonth(S.cYear, S.cMonth);\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  TIME SLOTS\n// ═══════════════════════════════════════════════════════════════\nfunction renderTimeSlots() {\n  if (!S.date || !S.slots) return;\n  S.time = null;\n  document.getElementById('b3').disabled = true;\n  \n  const opts = { weekday: 'long', day: 'numeric', month: 'long' };\n  const fmt = S.date.toLocaleDateString('es-ES', opts);\n  \n  document.getElementById('tInfo').innerHTML =\n    '<strong>' + fmt.charAt(0).toUpperCase() + fmt.slice(1) + '</strong>' +\n    '<span class=\"slot-count\">' + S.slots.length + ' disponibles</span>';\n  \n  renderSlotGroup('tAM', S.slots.filter(t => parseInt(t) < 13));\n  renderSlotGroup('tPM', S.slots.filter(t => parseInt(t) >= 13));\n}\n\nfunction renderSlotGroup(id, slots) {\n  const container = document.getElementById(id);\n  const label = container.previousElementSibling;\n  \n  if (slots.length === 0) {\n    container.innerHTML = '<div class=\"ts-empty\">Sin horarios</div>';\n    label.style.opacity = '.3';\n    return;\n  }\n  \n  label.style.opacity = '1';\n  container.innerHTML = '';\n  \n  slots.forEach((t, i) => {\n    const btn = document.createElement('button');\n    btn.className = 'ts-btn';\n    btn.textContent = t;\n    btn.type = 'button';\n    btn.style.animationDelay = (i * 40) + 'ms';\n    \n    btn.onclick = () => {\n      document.querySelectorAll('.ts-btn').forEach(b => b.classList.remove('sel'));\n      btn.classList.add('sel');\n      S.time = t;\n      document.getElementById('b3').disabled = false;\n      saveSession();\n    };\n    \n    container.appendChild(btn);\n  });\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  VALIDATION\n// ═══════════════════════════════════════════════════════════════\nfunction validateForm() {\n  let ok = true;\n  const fields = [\n    { id: 'fName', hint: 'hName', msg: 'Ingresa tu nombre', test: v => v.length >= 2 },\n    { id: 'fEmail', hint: 'hEmail', msg: 'Email inválido', test: v => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v) },\n    { id: 'fBiz', hint: 'hBiz', msg: 'Describe tu negocio', test: v => v.length >= 2 },\n    { id: 'fNeed', hint: 'hNeed', msg: 'Describe qué necesitas', test: v => v.length >= 5 }\n  ];\n  \n  fields.forEach(f => {\n    const el = document.getElementById(f.id);\n    const hint = document.getElementById(f.hint);\n    const val = el.value.trim();\n    \n    if (!f.test(val)) {\n      el.classList.add('err-field');\n      hint.textContent = f.msg;\n      hint.classList.add('vis');\n      ok = false;\n    } else {\n      el.classList.remove('err-field');\n      hint.classList.remove('vis');\n    }\n  });\n  \n  return ok;\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  SUBMIT\n// ═══════════════════════════════════════════════════════════════\nlet lastSubmit = 0;\n\nfunction showSuccess(dateFmt, email, phone) {\n  if (S.submitted) return;\n  S.submitted = true;\n  store.del('nova_s');\n  \n  document.getElementById('ov').classList.remove('on');\n  document.getElementById('sucBox').innerHTML =\n    '<div class=\"sr\"><span>Plataforma</span><span>' + (S.platform === 'zoom' ? 'Zoom' : 'Google Meet') + '</span></div>' +\n    '<div class=\"sr\"><span>Fecha</span><span>' + dateFmt + '</span></div>' +\n    '<div class=\"sr\"><span>Hora</span><span>' + S.time + '</span></div>' +\n    '<div class=\"sr\"><span>Email</span><span>' + email + '</span></div>' +\n    (phone ? '<div class=\"sr\"><span>Teléfono</span><span>' + phone + '</span></div>' : '');\n  \n  document.getElementById('gcalLink').href = buildCalLink();\n  goStep(5);\n}\n\nasync function doSubmit() {\n  if (S.submitted) return;\n  if (Date.now() - lastSubmit < 3000) return;\n  if (!validateForm()) return;\n  \n  lastSubmit = Date.now();\n  document.getElementById('errMsg').classList.remove('vis');\n  \n  const btn = document.getElementById('bSub');\n  btn.disabled = true;\n  btn.textContent = 'PROCESANDO...';\n  document.getElementById('ov').classList.add('on');\n  \n  const name = document.getElementById('fName').value.trim();\n  const email = document.getElementById('fEmail').value.trim();\n  const phone = document.getElementById('fPhone').value.trim();\n  const biz = document.getElementById('fBiz').value.trim();\n  const need = document.getElementById('fNeed').value.trim();\n  \n  const dateFmt = S.date.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n  \n  const payload = {\n    leadId: 'nova-' + Date.now(),\n    source: 'landing-nova-final',\n    timestamp: new Date().toISOString(),\n    platform: S.platform,\n    date: S.date.toISOString(),\n    dateFormatted: dateFmt,\n    time: S.time,\n    timezone: USER_TZ,\n    fullName: name,\n    email: email,\n    phone: phone || null,\n    business: biz,\n    need: need\n  };\n  \n  const url = CFG.api + CFG.endpoints.book;\n  const controller = new AbortController();\n  const timeoutId = setTimeout(() => controller.abort(), CFG.submitTimeoutMs);\n  \n  let fetchOk = false, fetchError = null;\n  \n  try {\n    const res = await fetch(url, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify(payload),\n      signal: controller.signal\n    });\n    clearTimeout(timeoutId);\n    fetchOk = res.ok;\n    if (!res.ok) {\n      let errData = {};\n      try { errData = await res.json(); } catch(e) {}\n      fetchError = errData.message || 'Error ' + res.status;\n    }\n  } catch(e) {\n    clearTimeout(timeoutId);\n    if (e.name === 'AbortError') fetchOk = true;\n    else fetchError = 'Sin conexión.';\n  }\n  \n  if (fetchOk) {\n    showSuccess(dateFmt, email, phone);\n  } else {\n    document.getElementById('ov').classList.remove('on');\n    btn.disabled = false;\n    btn.textContent = 'Confirmar';\n    const errEl = document.getElementById('errMsg');\n    errEl.textContent = fetchError;\n    errEl.classList.add('vis');\n  }\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  UTILS\n// ═══════════════════════════════════════════════════════════════\nfunction buildCalLink() {\n  const parts = S.time.split(':');\n  const h = parseInt(parts[0]), m = parseInt(parts[1]);\n  const start = new Date(S.date);\n  start.setHours(h, m, 0, 0);\n  const end = new Date(start);\n  end.setMinutes(end.getMinutes() + CFG.slotDuration);\n  \n  const f = d => d.toISOString().replace(/[-:]/g, '').replace(/\\.\\d{3}/, '');\n  const plat = S.platform === 'zoom' ? 'Zoom' : 'Google Meet';\n  \n  return 'https://calendar.google.com/calendar/render?action=TEMPLATE' +\n    '&text=' + encodeURIComponent('Sesión Estratégica · NOVA') +\n    '&dates=' + f(start) + '/' + f(end) +\n    '&details=' + encodeURIComponent('Sesión vía ' + plat + ' · NOVA') +\n    '&location=' + encodeURIComponent(plat);\n}\n\nfunction copyDetails() {\n  const plat = S.platform === 'zoom' ? 'Zoom' : 'Google Meet';\n  const dateFmt = S.date.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n  const txt = 'Sesión Estratégica · NOVA\\n' + plat + '\\n' + dateFmt + '\\n' + S.time + ' (' + USER_TZ + ')';\n  \n  navigator.clipboard.writeText(txt).then(() => {\n    const b = event.target.closest('.suc-link');\n    const orig = b.innerHTML;\n    b.innerHTML = '<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\"><path d=\"M5 13l4 4L19 7\"/></svg> Copiado';\n    setTimeout(() => b.innerHTML = orig, 2000);\n  }).catch(() => {});\n}\n\nfunction launchConfetti() {\n  const box = document.getElementById('confettiBox');\n  for (let i = 0; i < 35; i++) {\n    const el = document.createElement('div');\n    el.className = 'confetti';\n    el.style.left = Math.random() * 100 + '%';\n    el.style.width = el.style.height = (Math.random() * 5 + 3) + 'px';\n    el.style.background = `rgba(255, 255, 255, ${Math.random() * 0.5 + 0.4})`;\n    el.style.borderRadius = Math.random() > 0.5 ? '50%' : '1px';\n    el.style.animation = `confettiFall ${Math.random() * 2 + 1.5}s ease-out ${Math.random() * 0.5}s forwards`;\n    box.appendChild(el);\n  }\n  setTimeout(() => box.innerHTML = '', 4000);\n}\n</script>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "b5998514-a8b5-44ba-9757-a4b26acb1c95",
      "name": "🎨 Landing HTML1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -32,
        64
      ]
    },
    {
      "parameters": {
        "path": "agendar-mes",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "21be5a8d-525c-493b-a2ae-133edb8487b6",
      "name": "📅 GET Disponibilidad1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        240
      ],
      "webhookId": "agendar-mes-availability"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Cache-Control",
                "value": "public, max-age=300"
              }
            ]
          }
        }
      },
      "id": "e6dbfae9-943f-4236-b24f-5a1aac489f68",
      "name": "📤 Responder JSON1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        416,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "530d2b2c-6327-472b-a462-c60ec44dc0cb",
      "name": "¿Válido?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "isZoom",
              "leftValue": "={{ $json.lead.platform }}",
              "rightValue": "zoom",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e94e63cc-eb96-4f6f-9be3-9df9dcd43d05",
      "name": "¿Plataforma?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        416
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-receiver",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b76a6baf-72d5-4475-a2ca-a1ff7101e3bb",
      "name": "📥 Receiver POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        416
      ],
      "webhookId": "agendar-receiver"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════════════════════════════\n//\n//    ██████╗ ██████╗  █████╗ ██╗███╗   ██╗\n//    ██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║\n//    ██████╔╝██████╔╝███████║██║██╔██╗ ██║\n//    ██╔══██╗██╔══██╗██╔══██║██║██║╚██╗██║\n//    ██████╔╝██║  ██║██║  ██║██║██║ ╚████║\n//    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝\n//\n//    v6.0 MEGA BLINDADO\n//\n//    Cobertura:\n//    ├── Input sanitization (XSS, injection, tipos)\n//    ├── Name extraction (títulos, partículas, apóstrofes, guiones, emojis, unicode)\n//    ├── Email fallback (extrae nombre del email si fullName vacío)\n//    ├── Platform normalization (zoom, Zoom, ZOOM, google meet, gmeet, etc.)\n//    ├── Date/time fortress (timezone, pasado, futuro, formatos rotos)\n//    ├── Phone normalization\n//    ├── Business/Need sanitization\n//    └── Full audit trail\n//\n// ═══════════════════════════════════════════════════════════════════════════════════════\n\n// ───────────────────────────────────────────────────────────────\n// 1. INPUT SEGURO — busca en body, query, y root\n// ───────────────────────────────────────────────────────────────\n\nvar rawInput = $('📥 Receiver POST').first().json;\nvar input = rawInput.body || rawInput.query || rawInput;\n\n// Forzar que todo sea string donde se espera string\nfunction safeStr(val) {\n  if (val === null || val === undefined) return '';\n  if (typeof val === 'number') return String(val);\n  if (typeof val !== 'string') return '';\n  return val;\n}\n\nfunction safeTrim(val) {\n  return safeStr(val).trim();\n}\n\n// ───────────────────────────────────────────────────────────────\n// 2. SANITIZACIÓN — prevenir XSS e inyección\n// ───────────────────────────────────────────────────────────────\n\nfunction sanitize(str) {\n  if (!str) return '';\n  return str\n    .replace(/</g, '')\n    .replace(/>/g, '')\n    .replace(/\"/g, '')\n    .replace(/'/g, '')\n    .replace(/`/g, '')\n    .replace(/\\\\/g, '')\n    .replace(/javascript:/gi, '')\n    .replace(/on\\w+=/gi, '')\n    .trim();\n}\n\n// ───────────────────────────────────────────────────────────────\n// 3. EXTRACTOR DE NOMBRE — MEGA BLINDADO\n// ───────────────────────────────────────────────────────────────\n\nvar TITULOS = [\n  'dr', 'dra', 'doctor', 'doctora',\n  'lic', 'licdo', 'licda', 'licenciado', 'licenciada',\n  'ing', 'ingeniero', 'ingeniera',\n  'arq', 'arquitecto', 'arquitecta',\n  'abog', 'abogado', 'abogada',\n  'prof', 'profesor', 'profesora',\n  'sr', 'sra', 'srta', 'señor', 'señora', 'señorita',\n  'mr', 'mrs', 'ms', 'miss',\n  'coach', 'mtr', 'mtro', 'mtra', 'maestro', 'maestra',\n  'phd', 'md', 'mba', 'cpa', 'ceo', 'cfo', 'cto', 'coo',\n  'ps', 'psi', 'psicologo', 'psicologa',\n  'cp', 'contador', 'contadora',\n  'mons', 'fray', 'sor', 'padre', 'hermano', 'hermana',\n  'gral', 'general', 'cap', 'capitan', 'tte', 'teniente',\n  'cmdte', 'comandante', 'sargento', 'cabo'\n];\n\nvar PARTICULAS = [\n  'de', 'del', 'la', 'las', 'los', 'el',\n  'van', 'von', 'der', 'den', 'het',\n  'di', 'da', 'do', 'dos', 'das',\n  'al', 'bin', 'ibn', 'abu',\n  'mac', 'mc', 'le', 'du', 'des', 'san', 'santa', 'santo'\n];\n\n// Apellidos hispanos comunes (para detectar orden invertido)\nvar APELLIDOS_COMUNES = [\n  'garcia', 'rodriguez', 'martinez', 'lopez', 'gonzalez', 'hernandez',\n  'perez', 'sanchez', 'ramirez', 'torres', 'flores', 'rivera',\n  'gomez', 'diaz', 'reyes', 'morales', 'jimenez', 'ruiz',\n  'alvarez', 'romero', 'mendoza', 'gutierrez', 'ortiz', 'castillo',\n  'vargas', 'moreno', 'castro', 'ramos', 'herrera', 'medina',\n  'aguilar', 'pena', 'vega', 'cruz', 'dominguez', 'leon',\n  'rojas', 'soto', 'navarro', 'mejia', 'silva', 'delgado',\n  'cabrera', 'rios', 'contreras', 'fuentes', 'cardenas', 'guerrero',\n  'campos', 'santos', 'salazar', 'nunez', 'estrada', 'acosta',\n  'figueroa', 'cervantes', 'velasquez', 'valenzuela', 'pacheco', 'espinoza',\n  'sandoval', 'ibarra', 'maldonado', 'gallegos', 'villanueva', 'trejo',\n  'smith', 'johnson', 'williams', 'brown', 'jones', 'davis', 'miller',\n  'wilson', 'moore', 'taylor', 'anderson', 'thomas', 'jackson', 'white'\n];\n\nfunction normalizeForComparison(str) {\n  return str.toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z]/g, '');\n}\n\nfunction extraerPrimerNombre(nombreCompleto) {\n  if (!nombreCompleto || typeof nombreCompleto !== 'string') return null;\n\n  // Paso 1: Limpiar agresivamente\n  var limpio = nombreCompleto\n    .replace(/[\\u{1F000}-\\u{1FFFF}]/gu, '')   // emojis bloque 1\n    .replace(/[\\u{2600}-\\u{27BF}]/gu, '')      // emojis misc\n    .replace(/[\\u{FE00}-\\u{FEFF}]/gu, '')      // variation selectors\n    .replace(/[\\u{200B}-\\u{200D}]/gu, '')      // zero-width chars\n    .replace(/[0-9]/g, '')                      // números\n    .replace(/[@#$%^&*()+=\\[\\]{}<>|~_]/g, '')  // símbolos\n    .replace(/[.,;:!?]/g, '')                   // puntuación\n    .replace(/\\s+/g, ' ')                       // múltiples espacios\n    .trim();\n\n  if (!limpio || limpio.length < 1) return null;\n\n  // Paso 2: Dividir en partes\n  var partes = limpio.split(' ').filter(function(p) { return p.length > 0; });\n  if (!partes.length) return null;\n\n  // Paso 3: Si solo hay una parte, esa es el nombre\n  if (partes.length === 1) {\n    return capitalizar(partes[0]);\n  }\n\n  // Paso 4: Normalizar para comparar\n  var partesNorm = partes.map(function(p) { return normalizeForComparison(p); });\n\n  // Paso 5: Detectar si el primer elemento es apellido (orden invertido)\n  // Ej: \"García López María\" → tomar \"María\"\n  if (partes.length >= 3) {\n    var primeraNorm = partesNorm[0];\n    var segundaNorm = partesNorm[1];\n    var ultimaNorm = partesNorm[partes.length - 1];\n\n    var primeraEsApellido = APELLIDOS_COMUNES.indexOf(primeraNorm) !== -1;\n    var segundaEsApellido = APELLIDOS_COMUNES.indexOf(segundaNorm) !== -1;\n    var ultimaEsApellido = APELLIDOS_COMUNES.indexOf(ultimaNorm) !== -1;\n\n    // Si las dos primeras son apellidos y la última no, tomar la última\n    if (primeraEsApellido && segundaEsApellido && !ultimaEsApellido) {\n      return capitalizar(partes[partes.length - 1]);\n    }\n  }\n\n  // Paso 6: Saltar títulos\n  var idx = 0;\n  while (idx < partes.length - 1 && TITULOS.indexOf(partesNorm[idx]) !== -1) {\n    idx++;\n  }\n\n  // Paso 7: Saltar partículas (solo si hay algo después)\n  while (idx < partes.length - 1 && PARTICULAS.indexOf(partesNorm[idx]) !== -1) {\n    idx++;\n  }\n\n  // Paso 8: Verificar si lo que encontramos es apellido conocido\n  // y hay algo después que no lo es\n  if (idx < partes.length - 1 && APELLIDOS_COMUNES.indexOf(partesNorm[idx]) !== -1) {\n    var nextIdx = idx + 1;\n    // Saltar partículas después del apellido\n    while (nextIdx < partes.length - 1 && PARTICULAS.indexOf(partesNorm[nextIdx]) !== -1) {\n      nextIdx++;\n    }\n    if (APELLIDOS_COMUNES.indexOf(partesNorm[nextIdx]) === -1) {\n      // El siguiente no es apellido, pero esto ya es raro, mantener idx original\n    }\n  }\n\n  // Paso 9: Safety — si nos pasamos de índice\n  if (idx >= partes.length) idx = 0;\n\n  return capitalizar(partes[idx]);\n}\n\nfunction capitalizar(str) {\n  if (!str || str.length === 0) return '';\n\n  str = str.toLowerCase();\n\n  // Manejar apóstrofes: O'connor → O'Connor | D'angelo → D'Angelo\n  if (str.includes(\"'\")) {\n    return str.split(\"'\").map(function(part) {\n      if (part.length === 0) return '';\n      return part.charAt(0).toUpperCase() + part.slice(1);\n    }).join(\"'\");\n  }\n\n  // Manejar guiones: jean-pierre → Jean-Pierre | mary-jane → Mary-Jane\n  if (str.includes('-')) {\n    return str.split('-').map(function(part) {\n      if (part.length === 0) return '';\n      return part.charAt(0).toUpperCase() + part.slice(1);\n    }).join('-');\n  }\n\n  // Normal\n  return str.charAt(0).toUpperCase() + str.slice(1);\n}\n\n// ───────────────────────────────────────────────────────────────\n// 4. EXTRAER NOMBRE DESDE EMAIL (fallback)\n// ───────────────────────────────────────────────────────────────\n\nfunction nombreDesdeEmail(email) {\n  if (!email || typeof email !== 'string') return null;\n\n  var localPart = email.split('@')[0];\n  if (!localPart) return null;\n\n  // Quitar números y caracteres especiales\n  var limpio = localPart\n    .replace(/[0-9]/g, '')\n    .replace(/[._+\\-]/g, ' ')\n    .trim();\n\n  var partes = limpio.split(' ').filter(function(p) { return p.length > 1; });\n  if (!partes.length) return null;\n\n  return capitalizar(partes[0]);\n}\n\n// ───────────────────────────────────────────────────────────────\n// 5. NORMALIZAR PLATAFORMA\n// ───────────────────────────────────────────────────────────────\n\nfunction normalizarPlataforma(platform) {\n  if (!platform || typeof platform !== 'string') return 'meet';\n\n  var p = platform.toLowerCase().trim()\n    .replace(/\\s+/g, '')\n    .replace(/[^a-z]/g, '');\n\n  // Zoom\n  if (p === 'zoom' || p === 'zoommeeting' || p === 'zoomcall') return 'zoom';\n\n  // Meet\n  if (p === 'meet' || p === 'googlemeet' || p === 'gmeet' || p === 'googlemeeting' || p === 'hangouts' || p === 'hangout') return 'meet';\n\n  return 'meet';\n}\n\n// ───────────────────────────────────────────────────────────────\n// 6. NORMALIZAR TELÉFONO\n// ───────────────────────────────────────────────────────────────\n\nfunction normalizarTelefono(phone) {\n  if (!phone) return null;\n  var limpio = safeStr(phone).replace(/[^0-9+\\-() ]/g, '').trim();\n  if (limpio.length < 7) return null;\n  return limpio;\n}\n\n// ───────────────────────────────────────────────────────────────\n// 7. VALIDACIONES\n// ───────────────────────────────────────────────────────────────\n\nvar errors = [];\n\nvar rawName = safeTrim(input.fullName);\nvar rawEmail = safeTrim(input.email);\nvar rawPlatform = safeTrim(input.platform);\nvar rawDate = safeTrim(input.date);\nvar rawTime = safeTrim(input.time);\nvar rawBusiness = safeTrim(input.business);\nvar rawNeed = safeTrim(input.need);\nvar rawPhone = input.phone;\nvar rawTimezone = safeTrim(input.timezone);\nvar rawSource = safeTrim(input.source);\nvar rawLeadId = safeTrim(input.leadId);\nvar rawDateFormatted = safeTrim(input.dateFormatted);\n\n// Nombre\nif (!rawName || rawName.length < 1) {\n  // Intentar extraer del email\n  if (rawEmail) {\n    var emailName = nombreDesdeEmail(rawEmail);\n    if (emailName) {\n      rawName = emailName;\n    } else {\n      errors.push('Nombre invalido');\n    }\n  } else {\n    errors.push('Nombre invalido');\n  }\n}\n\n// Email\nif (!rawEmail || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(rawEmail)) {\n  errors.push('Email invalido');\n}\n\n// Plataforma\nvar platform = normalizarPlataforma(rawPlatform);\n\n// Fecha y hora\nif (!rawDate || !rawTime) {\n  errors.push('Fecha u hora no especificada');\n}\n\n// Validar formato de hora\nif (rawTime && !/^\\d{1,2}:\\d{2}$/.test(rawTime)) {\n  errors.push('Formato de hora invalido');\n}\n\n// Negocio\nif (!rawBusiness || rawBusiness.length < 2) {\n  errors.push('Negocio no especificado');\n}\n\n// Necesidad\nif (!rawNeed || rawNeed.length < 5) {\n  errors.push('Necesidad no especificada');\n}\n\n// ───────────────────────────────────────────────────────────────\n// 8. CONSTRUIR FECHA/HORA — FORTRESS\n// ───────────────────────────────────────────────────────────────\n\nvar timezone = rawTimezone || 'America/Mexico_City';\nvar meetingStart = null;\nvar meetingEnd = null;\n\nif (rawDate && rawTime && rawTime.includes(':')) {\n  try {\n    var dateObj = new Date(rawDate);\n\n    // Validar que la fecha es válida\n    if (isNaN(dateObj.getTime())) {\n      errors.push('Fecha no reconocida');\n    } else {\n      var timeParts = rawTime.split(':');\n      var hours = parseInt(timeParts[0], 10);\n      var minutes = parseInt(timeParts[1], 10);\n\n      // Validar rango de horas\n      if (hours < 0 || hours > 23 || minutes < 0 || minutes > 59) {\n        errors.push('Hora fuera de rango');\n      } else {\n        meetingStart = new Date(dateObj);\n        meetingStart.setHours(hours, minutes, 0, 0);\n\n        meetingEnd = new Date(meetingStart.getTime() + 30 * 60000);\n\n        // No permitir pasado\n        var now = new Date();\n        if (meetingStart.getTime() <= now.getTime()) {\n          errors.push('El horario seleccionado ya paso');\n        }\n\n        // No permitir mas de 3 meses adelante\n        var maxDate = new Date();\n        maxDate.setMonth(maxDate.getMonth() + 3);\n        if (meetingStart.getTime() > maxDate.getTime()) {\n          errors.push('La fecha esta muy lejos en el futuro');\n        }\n\n        // No permitir madrugada (opcional: 00:00 a 06:59)\n        if (hours < 7) {\n          errors.push('No se agendan llamadas antes de las 7:00');\n        }\n\n        // No permitir después de las 22:00\n        if (hours >= 22) {\n          errors.push('No se agendan llamadas despues de las 22:00');\n        }\n      }\n    }\n  } catch (e) {\n    errors.push('Error procesando fecha: ' + e.message);\n  }\n}\n\nvar isValid = errors.length === 0;\n\n// ───────────────────────────────────────────────────────────────\n// 9. FORMATEAR FECHAS\n// ───────────────────────────────────────────────────────────────\n\nfunction formatForZoom(date) {\n  if (!date) return null;\n  return date.toISOString().replace('.000Z', 'Z');\n}\n\nfunction formatForCalendar(date) {\n  if (!date) return null;\n  return date.toISOString();\n}\n\n// ───────────────────────────────────────────────────────────────\n// 10. CONSTRUIR DATOS FINALES\n// ───────────────────────────────────────────────────────────────\n\nvar fullName = sanitize(rawName);\nvar firstName = extraerPrimerNombre(fullName) || nombreDesdeEmail(rawEmail) || 'Estimado';\nvar leadId = sanitize(rawLeadId) || 'nx-' + Date.now();\nvar email = rawEmail.toLowerCase().trim();\nvar phone = normalizarTelefono(rawPhone);\nvar business = sanitize(rawBusiness);\nvar need = sanitize(rawNeed);\nvar source = sanitize(rawSource) || 'landing-nexus';\nvar dateFormatted = sanitize(rawDateFormatted);\n\n// Protocol URL\nvar protocolUrl = 'https://nexusys.duckdns.org/webhook/protocol-start?leadId=' + encodeURIComponent(leadId) + '&email=' + encodeURIComponent(email);\n\n// Calendar body para Meet HTTP request\nvar calendarBody = JSON.stringify({\n  summary: 'Nexus - ' + fullName.substring(0, 50),\n  description: 'Nombre: ' + fullName + '\\nEmail: ' + email + '\\nNegocio: ' + business + '\\nNecesidad: ' + need,\n  start: {\n    dateTime: formatForCalendar(meetingStart),\n    timeZone: timezone\n  },\n  end: {\n    dateTime: formatForCalendar(meetingEnd),\n    timeZone: timezone\n  },\n  attendees: [\n    { email: email }\n  ],\n  conferenceData: {\n    createRequest: {\n      requestId: 'nexus-' + Date.now() + '-' + Math.random().toString(36).substring(2, 8),\n      conferenceSolutionKey: { type: 'hangoutsMeet' }\n    }\n  },\n  reminders: {\n    useDefault: false,\n    overrides: [\n      { method: 'email', minutes: 60 },\n      { method: 'popup', minutes: 15 }\n    ]\n  }\n});\n\n// Telegram\nvar telegramMessage = '*Nueva Cita Agendada*\\n\\n' +\n  'Nombre: ' + fullName + '\\n' +\n  'Email: ' + email + '\\n' +\n  'Negocio: ' + business + '\\n' +\n  'Plataforma: ' + platform + '\\n' +\n  'Fecha: ' + dateFormatted + '\\n' +\n  'Hora: ' + (rawTime || '');\n\n// Sheet\nvar sheet = {\n  Timestamp: new Date().toISOString(),\n  LeadID: leadId,\n  Nombre: fullName,\n  Email: email,\n  Negocio: business,\n  Necesidad: need,\n  Plataforma: platform,\n  Fecha: dateFormatted,\n  Hora: rawTime || '',\n  MeetLink: '',\n  Fuente: source,\n  Estado: 'Agendada'\n};\n\n// ───────────────────────────────────────────────────────────────\n// 11. OUTPUT\n// ───────────────────────────────────────────────────────────────\n\nreturn [{\n  json: {\n    isValid: isValid,\n    errors: errors,\n\n    lead: {\n      id: leadId,\n      fullName: fullName,\n      firstName: firstName,\n      email: email,\n      phone: phone,\n      business: business,\n      need: need,\n      platform: platform,\n      source: source\n    },\n\n    meeting: {\n      start: formatForZoom(meetingStart),\n      end: formatForCalendar(meetingEnd),\n      duration: 30,\n      timezone: timezone,\n      dateFormatted: dateFormatted,\n      time: rawTime || ''\n    },\n\n    protocolUrl: protocolUrl,\n    calendarBody: calendarBody,\n    telegramChatId: '6324940125',\n    telegramMessage: telegramMessage,\n    sheet: sheet,\n\n    _audit: {\n      version: 'v6.0-MEGA-BLINDADO',\n      processedAt: new Date().toISOString(),\n      nameExtraction: {\n        rawInput: rawName,\n        extracted: firstName,\n        method: rawName ? 'fullName' : (rawEmail ? 'email-fallback' : 'default'),\n        fullNameLength: fullName.length\n      },\n      platformNormalized: platform,\n      rawPlatformInput: rawPlatform,\n      inputSource: rawInput.body ? 'body' : (rawInput.query ? 'query' : 'root'),\n      validationErrors: errors.length,\n      hasPhone: !!phone\n    }\n  }\n}];"
      },
      "id": "030ff4ef-39a4-41ac-acda-6ae8c0531e7c",
      "name": "🧠 Brain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        416
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ⚙️ CALCULAR SLOTS - Filtra horarios pasados del día actual\n\nconst webhookData = $('📅 GET Disponibilidad1').first().json;\nconst calendarEvents = $('📆 Leer Eventos').all();\n\n// Parámetros del request\nconst year = parseInt(webhookData.query?.year) || new Date().getFullYear();\nconst month = parseInt(webhookData.query?.month) || new Date().getMonth() + 1;\nconst userTz = webhookData.query?.tz || 'America/Mexico_City';\n\n// Configuración\nconst CONFIG = {\n  startHour: 9,\n  endHour: 18,\n  slotMinutes: 30,\n  blockedDays: [0], // Domingo\n  minAdvanceMinutes: 60 // Mínimo 1 hora de anticipación\n};\n\n// Obtener hora actual en zona horaria del usuario\nfunction getNowInTz(tz) {\n  const now = new Date();\n  const formatter = new Intl.DateTimeFormat('en-CA', {\n    timeZone: tz,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    hour12: false\n  });\n  const parts = formatter.formatToParts(now);\n  const get = (type) => parts.find(p => p.type === type)?.value || '0';\n  return {\n    year: parseInt(get('year')),\n    month: parseInt(get('month')),\n    day: parseInt(get('day')),\n    hour: parseInt(get('hour')),\n    minute: parseInt(get('minute'))\n  };\n}\n\n// Generar slots del día\nfunction generateDaySlots() {\n  const slots = [];\n  for (let h = CONFIG.startHour; h < CONFIG.endHour; h++) {\n    for (let m = 0; m < 60; m += CONFIG.slotMinutes) {\n      slots.push(`${String(h).padStart(2,'0')}:${String(m).padStart(2,'0')}`);\n    }\n  }\n  return slots;\n}\n\n// Verificar si slot está ocupado\nfunction isSlotBusy(dateStr, time, events) {\n  const slotStart = new Date(`${dateStr}T${time}:00`);\n  const slotEnd = new Date(slotStart.getTime() + CONFIG.slotMinutes * 60000);\n  \n  for (const event of events) {\n    const startDT = event.json?.start?.dateTime;\n    const endDT = event.json?.end?.dateTime;\n    if (!startDT || !endDT) continue;\n    \n    const eventStart = new Date(startDT);\n    const eventEnd = new Date(endDT);\n    \n    if (slotStart < eventEnd && slotEnd > eventStart) {\n      return true;\n    }\n  }\n  return false;\n}\n\n// === CALCULAR DISPONIBILIDAD ===\nconst now = getNowInTz(userTz);\nconst availability = {};\nconst daysInMonth = new Date(year, month, 0).getDate();\n\nfor (let day = 1; day <= daysInMonth; day++) {\n  const dateStr = `${year}-${String(month).padStart(2,'0')}-${String(day).padStart(2,'0')}`;\n  const date = new Date(year, month - 1, day);\n  const dayOfWeek = date.getDay();\n  \n  // Saltar domingos\n  if (CONFIG.blockedDays.includes(dayOfWeek)) continue;\n  \n  // Verificar si es hoy o pasado\n  const isToday = (year === now.year && month === now.month && day === now.day);\n  const isPast = (year < now.year) ||\n                 (year === now.year && month < now.month) ||\n                 (year === now.year && month === now.month && day < now.day);\n  \n  if (isPast) continue;\n  \n  // Generar slots\n  let slots = generateDaySlots();\n  \n  // ⭐ FILTRO CLAVE: Si es HOY, quitar slots pasados\n  if (isToday) {\n    const currentMinutes = now.hour * 60 + now.minute + CONFIG.minAdvanceMinutes;\n    slots = slots.filter(time => {\n      const [h, m] = time.split(':').map(Number);\n      return (h * 60 + m) > currentMinutes;\n    });\n  }\n  \n  // Filtrar slots ocupados por eventos del calendario\n  slots = slots.filter(time => !isSlotBusy(dateStr, time, calendarEvents));\n  \n  if (slots.length > 0) {\n    availability[dateStr] = slots;\n  }\n}\n\nreturn [{\n  json: {\n    availability,\n    timezone: userTz,\n    generated: new Date().toISOString(),\n    currentTime: `${now.hour}:${String(now.minute).padStart(2,'0')}`\n  }\n}];"
      },
      "id": "8a773cb1-bbb1-4b34-8dc0-8e7a7f78e3c3",
      "name": "⚙️ Calcular Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.calendarBody }}",
        "options": {}
      },
      "id": "abbe3d85-0020-4ae8-8c83-931d05021918",
      "name": "📅 Crear Meet1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pn6rZ1z8guY6sxPd",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.confirmationEmail.to }}",
        "subject": "={{ $json.confirmationEmail.subject }}",
        "message": "={{ $json.confirmationEmail.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "0ea5a1d0-e602-44f3-9036-0e949a9bcf28",
      "name": "📤 Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1328,
        224
      ],
      "webhookId": "822c092b-5507-4935-bb6e-76f16d6fceeb",
      "credentials": {
        "gmailOAuth2": {
          "id": "RlqMmMGCDH76GAmd",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-eeTGjdsgwBuf3nrmQDHjTMea2hXfIPYgjqoTliAsRA",
          "mode": "list",
          "cachedResultName": "Tracking de Outreach"
        },
        "sheetName": {
          "__rl": true,
          "value": "Llamadas",
          "mode": "list",
          "cachedResultName": "Llamadas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.sheet.Timestamp }}",
            "LeadID": "={{ $json.sheet.LeadID }}",
            "Nombre": "={{ $json.sheet.Nombre }}",
            "Email": "={{ $json.sheet.Email }}",
            "Negocio": "={{ $json.sheet.Negocio }}",
            "Necesidad": "={{ $json.sheet.Necesidad }}",
            "Plataforma": "={{ $json.sheet.Plataforma }}",
            "Fecha": "={{ $json.sheet.Fecha }}",
            "Hora": "={{ $json.sheet.Hora }}",
            "MeetLink": "={{ $json.sheet.MeetLink }}",
            "Fuente": "={{ $json.sheet.Fuente }}",
            "Estado": "={{ $json.sheet.Estado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LeadID",
              "displayName": "LeadID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Negocio",
              "displayName": "Negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Necesidad",
              "displayName": "Necesidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plataforma",
              "displayName": "Plataforma",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MeetLink",
              "displayName": "MeetLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "39025a6d-a76a-4447-b2b3-c84d8fc3291b",
      "name": "📝 Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1328,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bUrghjhcvDMNJf9b",
          "name": "Google Sheets account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst brainData = $('🧠 Brain').first().json;\n\n// ═══════════════════════════════════════════════════════════════\n// CONFIGURATION\n// ═══════════════════════════════════════════════════════════════\n\nconst CONFIG = {\n  brand: {\n    name: 'Nexus',\n    color: '#2563eb',\n    sender: 'Santiago'\n  },\n  protocolBaseUrl: 'https://nexusys.duckdns.org/webhook/protocol-start',\n  nombresFemeninos: new Set([\n    'maria','ana','carmen','laura','patricia','andrea','lucia','sofia','isabel','rosa',\n    'elena','paula','gabriela','daniela','alejandra','victoria','valentina','camila',\n    'mariana','carolina','fernanda','monica','veronica','adriana','diana','claudia',\n    'sandra','silvia','lorena','paola','natalia','marcela','cecilia','susana','martha',\n    'gloria','teresa','julia','beatriz','rocio','cristina','alicia','karla','karen',\n    'jessica','jennifer','michelle','melissa','vanessa','viviana','ximena','jimena',\n    'regina','renata','emma','olivia','isabella','valeria','catalina','samantha'\n  ])\n};\n\n// ═══════════════════════════════════════════════════════════════\n// UTILITIES\n// ═══════════════════════════════════════════════════════════════\n\nfunction random(arr) { \n  return arr && arr.length ? arr[Math.floor(Math.random() * arr.length)] : ''; \n}\n\nfunction escapeHtml(str) {\n  if (!str || typeof str !== 'string') return '';\n  return str.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n}\n\n// ═══════════════════════════════════════════════════════════════\n// LINK EXTRACTOR - BUSCA EN MÚLTIPLES FUENTES\n// ═══════════════════════════════════════════════════════════════\n\nfunction extractLink(response) {\n  if (!response) return '';\n  if (response.error || response.code >= 400) return '';\n  \n  // Zoom\n  if (response.join_url) return response.join_url;\n  \n  // Google Meet - hangoutLink\n  if (response.hangoutLink) return response.hangoutLink;\n  \n  // Google Meet - conferenceData\n  if (response.conferenceData && response.conferenceData.entryPoints) {\n    const video = response.conferenceData.entryPoints.find(function(e) { \n      return e.entryPointType === 'video'; \n    });\n    if (video && video.uri) return video.uri;\n  }\n  \n  return '';\n}\n\nfunction findMeetLink() {\n  // 1. Buscar en inputs directos\n  for (var i = 0; i < allInputs.length; i++) {\n    var link = extractLink(allInputs[i].json);\n    if (link) return link;\n  }\n  \n  // 2. Buscar en nodos específicos\n  var nodesToCheck = ['📆 Crear Evento Meet', '📆 Crear Evento Zoom', '📅 Crear Meet1', '📅 Crear Zoom1'];\n  \n  for (var j = 0; j < nodesToCheck.length; j++) {\n    try {\n      var nodeData = $(nodesToCheck[j]).first();\n      if (nodeData && nodeData.json) {\n        var link = extractLink(nodeData.json);\n        if (link) return link;\n      }\n    } catch (e) {\n      // Nodo no existe, continuar\n    }\n  }\n  \n  return '';\n}\n\nfunction detectLinkType(url) {\n  if (!url) return 'unknown';\n  if (url.includes('zoom.us')) return 'zoom';\n  if (url.includes('meet.google.com')) return 'meet';\n  return 'video';\n}\n\nfunction getLinkLabel(type) {\n  if (type === 'zoom') return 'Zoom';\n  if (type === 'meet') return 'Google Meet';\n  return 'Videollamada';\n}\n\n// ═══════════════════════════════════════════════════════════════\n// GENDER DETECTOR\n// ═══════════════════════════════════════════════════════════════\n\nfunction detectGender(firstName) {\n  if (!firstName) return 'neutral';\n  var name = firstName.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  if (CONFIG.nombresFemeninos.has(name)) return 'femenino';\n  if (name.endsWith('a') && name.length > 3) return 'femenino';\n  return 'neutral';\n}\n\n// ═══════════════════════════════════════════════════════════════\n// COPY ENGINE\n// ═══════════════════════════════════════════════════════════════\n\nfunction getGreeting(firstName) {\n  return random([\n    'Hola ' + firstName,\n    'Hey ' + firstName,\n    firstName\n  ]);\n}\n\nfunction getSubject(firstName, dateFormatted) {\n  return random([\n    'Confirmada: tu llamada del ' + dateFormatted,\n    firstName + ', llamada confirmada',\n    'Llamada agendada - ' + dateFormatted\n  ]);\n}\n\nfunction getIntro() {\n  return random([\n    'Tu llamada quedó confirmada.',\n    'Todo agendado correctamente.',\n    'Llamada registrada.'\n  ]);\n}\n\nfunction getClosingAdvice() {\n  return random([\n    'Ten claros tus objetivos principales antes de la llamada para que aprovechemos cada minuto.',\n    'Prepara tus preguntas clave para que la sesión sea lo más productiva posible.',\n    'Piensa en qué resultado concreto quieres obtener de esta conversación.'\n  ]);\n}\n\nfunction getClosing() {\n  return random([\n    'Nos vemos en la llamada',\n    'Te espero',\n    'Hablamos pronto'\n  ]);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// EMAIL TEMPLATE - ESTILO PROFESIONAL SIN EMOJIS\n// ═══════════════════════════════════════════════════════════════\n\nfunction generateEmail(data) {\n  var B = CONFIG.brand;\n  \n  var detailRows = \n    '<tr>' +\n      '<td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Fecha</td>' +\n      '<td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">' + escapeHtml(data.dateFormatted) + '</td>' +\n    '</tr>' +\n    '<tr>' +\n      '<td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Hora</td>' +\n      '<td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">' + escapeHtml(data.time) + '</td>' +\n    '</tr>' +\n    '<tr>' +\n      '<td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Plataforma</td>' +\n      '<td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">' + escapeHtml(data.platLabel) + '</td>' +\n    '</tr>' +\n    '<tr>' +\n      '<td style=\"padding:10px 0;font-size:14px;color:#666666;width:100px;\">Duracion</td>' +\n      '<td style=\"padding:10px 0;font-size:15px;color:#1a1a1a;font-weight:500;\">' + data.duration + ' minutos</td>' +\n    '</tr>';\n\n  // Botón de llamada\n  var callButtonBlock = '';\n  if (data.meetLink) {\n    callButtonBlock = \n      '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">' +\n        '<tr><td align=\"center\" style=\"padding:24px 0 10px;\">' +\n          '<a href=\"' + data.meetLink + '\" target=\"_blank\" style=\"display:inline-block;background:' + B.color + ';color:#ffffff;padding:14px 32px;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px;\">Unirse a la llamada</a>' +\n        '</td></tr>' +\n      '</table>' +\n      '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">' +\n        '<tr><td align=\"center\" style=\"padding:4px 0 16px;\">' +\n          '<a href=\"' + data.meetLink + '\" style=\"font-size:11px;color:#888888;text-decoration:none;word-break:break-all;\">' + data.meetLink + '</a>' +\n        '</td></tr>' +\n      '</table>';\n  }\n\n  // Botón de protocolo\n  var protocolButtonBlock = '';\n  if (data.protocolUrl) {\n    protocolButtonBlock = \n      '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top:20px;\">' +\n        '<tr><td style=\"padding:16px 20px;background:#fffbeb;border:1px solid #fcd34d;border-radius:8px;\">' +\n          '<p style=\"font-size:14px;color:#92400e;margin:0 0 12px;line-height:1.6;\">Para que la conversacion sea productiva, completa este protocolo antes de la llamada:</p>' +\n          '<a href=\"' + data.protocolUrl + '\" target=\"_blank\" style=\"display:inline-block;background:#f59e0b;color:#ffffff;padding:12px 24px;text-decoration:none;border-radius:6px;font-weight:600;font-size:13px;\">Completar Protocolo</a>' +\n        '</td></tr>' +\n      '</table>';\n  }\n\n  return '<!DOCTYPE html>' +\n'<html>' +\n'<head>' +\n'  <meta charset=\"UTF-8\">' +\n'  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">' +\n'  <meta name=\"color-scheme\" content=\"light dark\">' +\n'  <title>Llamada Confirmada</title>' +\n'  <style>' +\n'    @media (prefers-color-scheme:dark) {' +\n'      body { background-color:#1a1a1a !important }' +\n'      .container { background-color:#2d2d2d !important }' +\n'      .text-dark { color:#ffffff !important }' +\n'      .text-gray { color:#cccccc !important }' +\n'      .text-muted { color:#888888 !important }' +\n'      .box { background:#222222 !important; border-color:#444444 !important }' +\n'      .divider { border-color:#444444 !important }' +\n'    }' +\n'    @media only screen and (max-width:600px) {' +\n'      .container { width:100% !important }' +\n'      .content { padding:24px 20px !important }' +\n'    }' +\n'  </style>' +\n'</head>' +\n'<body style=\"margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;background-color:#f5f5f5;\">' +\n'  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#f5f5f5;\">' +\n'    <tr><td align=\"center\" style=\"padding:40px 20px;\">' +\n'      <table role=\"presentation\" class=\"container\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#ffffff;border-radius:8px;box-shadow:0 1px 3px rgba(0,0,0,0.1);\">' +\n'        <tr><td class=\"content\" style=\"padding:40px 48px;\">' +\n\n'          <p class=\"text-dark\" style=\"font-size:17px;color:#1a1a1a;line-height:1.5;margin:0 0 6px;font-weight:600;\">' + escapeHtml(data.greeting) + ',</p>' +\n'          <p class=\"text-gray\" style=\"font-size:15px;color:#4a4a4a;line-height:1.6;margin:0 0 24px;\">' + escapeHtml(data.intro) + '</p>' +\n\n'          <table role=\"presentation\" class=\"box\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#fafafa;border:1px solid #e5e5e5;border-radius:8px;\">' +\n'            <tr><td style=\"padding:20px 24px;\">' +\n'              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">' +\n               detailRows +\n'              </table>' +\n'            </td></tr>' +\n'          </table>' +\n\n           callButtonBlock +\n           protocolButtonBlock +\n\n'          <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top:24px;\">' +\n'            <tr><td style=\"padding:14px 18px;background:#f0f4ff;border-left:3px solid ' + B.color + ';border-radius:4px;\">' +\n'              <p class=\"text-gray\" style=\"font-size:13px;color:#4a4a4a;line-height:1.6;margin:0;\">' + escapeHtml(data.closingAdvice) + '</p>' +\n'            </td></tr>' +\n'          </table>' +\n\n'          <p class=\"text-gray\" style=\"font-size:15px;color:#4a4a4a;line-height:1.5;margin:28px 0 4px;\">' + escapeHtml(data.closing) + ',</p>' +\n'          <p class=\"text-dark\" style=\"font-size:15px;color:#1a1a1a;margin:0;font-weight:600;\">' + B.sender + '</p>' +\n\n'          <hr class=\"divider\" style=\"border:none;border-top:1px solid #e5e5e5;margin:28px 0 16px;\">' +\n'          <p class=\"text-muted\" style=\"font-size:11px;color:#888888;margin:0;text-align:center;\">' + B.name + '</p>' +\n\n'        </td></tr>' +\n'      </table>' +\n'    </td></tr>' +\n'  </table>' +\n'</body>' +\n'</html>';\n}\n\n// ═══════════════════════════════════════════════════════════════\n// MAIN EXECUTION\n// ═══════════════════════════════════════════════════════════════\n\nvar lead = brainData.lead || {};\nvar meeting = brainData.meeting || {};\nvar firstName = lead.firstName || lead.fullName || 'Estimado';\n\n// Buscar link\nvar meetLink = findMeetLink();\nvar linkType = detectLinkType(meetLink);\n\n// Construir URL de protocolo\nvar protocolUrl = brainData.protocolUrl || (CONFIG.protocolBaseUrl + '?leadId=' + encodeURIComponent(lead.id || '') + '&email=' + encodeURIComponent(lead.email || ''));\n\n// Gender y copy\nvar genero = detectGender(firstName);\nvar greeting = getGreeting(firstName);\nvar subject = getSubject(firstName, meeting.dateFormatted || '');\nvar intro = getIntro();\nvar closingAdvice = getClosingAdvice();\nvar closing = getClosing();\n\n// Generar email\nvar emailHtml = generateEmail({\n  greeting: greeting,\n  intro: intro,\n  dateFormatted: meeting.dateFormatted || '',\n  time: meeting.time || '',\n  platLabel: getLinkLabel(linkType),\n  meetLink: meetLink,\n  protocolUrl: protocolUrl,\n  closingAdvice: closingAdvice,\n  closing: closing,\n  duration: meeting.duration || 30\n});\n\n// Telegram\nvar telegramMessage = brainData.telegramMessage || '';\nif (meetLink) {\n  telegramMessage = telegramMessage + '\\n\\n*Link:* [Unirse](' + meetLink + ')';\n}\n\n// Sheet\nvar sheetData = brainData.sheet || {};\nsheetData.MeetLink = meetLink;\n\n// ═══════════════════════════════════════════════════════════════\n// OUTPUT\n// ═══════════════════════════════════════════════════════════════\n\nreturn [{\n  json: {\n    lead: lead,\n    meeting: meeting,\n    meetLink: meetLink,\n    linkType: linkType,\n    protocolUrl: protocolUrl,\n\n    confirmationEmail: {\n      to: lead.email,\n      subject: subject,\n      html: emailHtml\n    },\n\n    telegramMessage: telegramMessage,\n    telegramChatId: brainData.telegramChatId,\n    sheet: sheetData,\n\n    _debug: {\n      version: 'v5.0-PRO',\n      hasMeetLink: !!meetLink,\n      linkType: linkType,\n      firstName: firstName,\n      inputsChecked: allInputs.length\n    }\n  }\n}];"
      },
      "id": "d31d1b75-02ff-4161-8c65-1001835a72a8",
      "name": "📧 Email Engine1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        416
      ],
      "alwaysOutputData": true,
      "notes": "v4.0 CLEAN: Fixed multi-input link extraction + Protocol-style design"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zoom.us/v2/users/me/meetings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"topic\": \"Nexus · \" + $json.lead.fullName + \" — \" + ($json.lead.business || \"\").substring(0, 40), \"type\": 2, \"start_time\": $json.meeting.start, \"duration\": $json.meeting.duration || 30, \"timezone\": $json.meeting.timezone, \"agenda\": \"Llamada Nexus\\nNombre: \" + $json.lead.fullName + \"\\nEmail: \" + $json.lead.email + \"\\nNegocio: \" + $json.lead.business, \"settings\": { \"join_before_host\": true, \"waiting_room\": false, \"auto_recording\": \"none\", \"meeting_authentication\": false } }) }}",
        "options": {}
      },
      "id": "577516f6-5909-48b5-bb54-adf3bae7961c",
      "name": "📅 Crear Zoom1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zoomOAuth2Api": {
          "id": "wugehOpSvQmA4MFt",
          "name": "Zoom account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nb8XmnK_98oWfFDqosfKP",
          "mode": "list",
          "cachedResultUrl": "/workflow/Nb8XmnK_98oWfFDqosfKP",
          "cachedResultName": "XUS Begin v1.0 - Entrance & Schedules"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1520,
        624
      ],
      "id": "6625ddd6-0749-4940-a01e-202533a45b08",
      "name": "Call 'XUS Begin v1.0 - Entrance & Schedules'"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// 🔔 NOTIFICADOR DE NUEVO LEAD — FORMATO WHATSAPP PARA XUS\n// ═══════════════════════════════════════════════════════════════\n\nconst emailData = $input.first().json;\nconst lead = emailData.lead || {};\nconst meeting = emailData.meeting || {};\n\nconst platformEmoji = lead.platform === 'zoom' ? '📹' : '🎥';\nconst platformName = lead.platform === 'zoom' ? 'Zoom' : 'Google Meet';\n\n// Calcular urgencia\nconst meetingDate = meeting.start ? new Date(meeting.start) : null;\nconst now = new Date();\nconst hoursUntil = meetingDate ? (meetingDate - now) / (1000 * 60 * 60) : 999;\n\nlet urgencyPrefix = '';\nif (hoursUntil <= 2) {\n  urgencyPrefix = '🚨 *URGENTE — Llamada en menos de 2 horas*\\n\\n';\n} else if (hoursUntil <= 24) {\n  urgencyPrefix = '⚡ *Llamada programada para HOY*\\n\\n';\n}\n\nconst textResponse = `${urgencyPrefix}🔔 *NUEVO LEAD AGENDADO*\n\n━━━━━━━━━━━━━━━━━━━━\n\n👤 *Lead:*\n• Nombre: *${lead.fullName || 'N/A'}*\n• Email: ${lead.email || 'N/A'}\n• Tel: ${lead.phone || '_Sin teléfono_'}\n• Negocio: ${lead.business || 'N/A'}\n• Necesita: _${(lead.need || 'Sin especificar').substring(0, 150)}${(lead.need || '').length > 150 ? '...' : ''}_\n\n📅 *Cita:*\n• Fecha: *${meeting.dateFormatted || 'N/A'}*\n• Hora: *${meeting.time || 'N/A'}*\n• ${platformEmoji} ${platformName}\n• Duración: ${meeting.duration || 30} min\n\n${emailData.meetLink ? `🔗 Link: ${emailData.meetLink}` : '⏳ _Generando link..._'}\n\n━━━━━━━━━━━━━━━━━━━━\n_Fuente: ${lead.source || 'Landing Nexus'}_\n_ID: ${lead.id || 'N/A'}_`;\n\nreturn [{\n  json: {\n    textResponse: textResponse,\n    toolResponse: JSON.stringify({\n      type: 'new_lead_notification',\n      leadId: lead.id,\n      leadName: lead.fullName,\n      leadEmail: lead.email,\n      meetingDate: meeting.dateFormatted,\n      meetingTime: meeting.time,\n      platform: lead.platform,\n      meetLink: emailData.meetLink || null\n    })\n  }\n}];"
      },
      "id": "a42a8dc7-81a3-4deb-8b67-f21fc4cf59b9",
      "name": "🔔 Formatear Notificación Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        624
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "📆 Leer Eventos": {
      "main": [
        [
          {
            "node": "⚙️ Calcular Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Landing Agendar (GET)1": {
      "main": [
        [
          {
            "node": "🎨 Landing HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 GET Disponibilidad1": {
      "main": [
        [
          {
            "node": "📆 Leer Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Válido?1": {
      "main": [
        [
          {
            "node": "✅ Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Plataforma?1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Plataforma?1": {
      "main": [
        [
          {
            "node": "📅 Crear Zoom1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📅 Crear Meet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Receiver POST": {
      "main": [
        [
          {
            "node": "🧠 Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Brain": {
      "main": [
        [
          {
            "node": "¿Válido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Calcular Slots": {
      "main": [
        [
          {
            "node": "📤 Responder JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Crear Meet1": {
      "main": [
        [
          {
            "node": "📧 Email Engine1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email Engine1": {
      "main": [
        [
          {
            "node": "📤 Gmail1",
            "type": "main",
            "index": 0
          },
          {
            "node": "📝 Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔔 Formatear Notificación Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📅 Crear Zoom1": {
      "main": [
        [
          {
            "node": "📧 Email Engine1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔔 Formatear Notificación Lead": {
      "main": [
        [
          {
            "node": "Call 'XUS Begin v1.0 - Entrance & Schedules'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f9d63190-3e80-4b5d-a9d3-7781060af32c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b32d3a957d6d483b0468822859d2c9fc6c04125f31ea957fda133798ff72faa"
  },
  "id": "FfhOySwMyLv_e2TaKCcSu",
  "tags": []
}